{% if actions|length %}
    <div class="widget-content">
        {% for action in actions %}
            {% set params = action.definition.frontendOptions|merge({'label': action.definition.label|trans }) %}
            {% set template = params.template|default('OroActionBundle::Action/button.html.twig') %}

            {% include template with {'params': params} %}
        {% endfor %}
    </div>
{% endif %}
