{% import 'OroActionBundle::macros.html.twig' as actionsMacros %}

{% if actions|length %}
    <div class="widget-content">
        <div class="btn-group">
            {% for action in actions %}
                {{ actionsMacros.renderActionButton(action) }}
            {% endfor %}
        </div>
    </div>
{% endif %}
