{% if actions|length %}
    <div class="widget-content">
        {% for action in actions %}
            {% set params = action.definition.frontendOptions|merge({
                'label': action.definition.label|trans,
                'path': path('oro_api_action_execute', {actionName: action.name}|merge(context))
            }) %}
            {% set template = params.template|default('OroActionBundle::Action/button.html.twig') %}

            {% include template with {'params': params} %}
        {% endfor %}
    </div>
{% endif %}
