// Fonts
$font-size: $base-font-size;
$font-size-m: 20px;
$line-height: 1.2;

$offset-y: 15px;
$offset-y-m: 10px;
$offset-x: 15px;
$offset-x-m: 10px;

//Color palette
$color-error: $theme-input-error;
$color-warring: $theme-warning-color;
$color-success: $theme-input-success;
$color-focus: $base-link-color;

// Breakpoint for large desktop
$breakpoint-large: 1366px;
// Breakpoint for iPhone 4s, iPhone 5s, iPhone 6s, iPhone 6s Plus
$breakpoint-mobile: 480px;
// Breakpoint for iPad mini 4, iPad Air 2
$breakpoint-tablet: 1024px;
