/* @theme: admin.oro; */

.product-kit-view {
    &__collapsed-attributes {
        display: flex;
        flex-wrap: wrap;

        .attribute-item {
            width: 25%;

            &__description,
            &__term {
                line-height: 1.2;

                .kit-item-product-link {
                    padding: 4px 0;
                }
            }
        }
    }

    &__info {
        padding-bottom: $product-kit-view-info-inner-offset;
    }

    &__variant {
        transition: $product-kit-view-info-collapse-transition;

        &:not(.show) {
            opacity: 0;
        }
    }

    &__subtitle {
        font-weight: font-weight('semi-bold');
        font-size: 14px;
        letter-spacing: .2px;
        margin-top: 16px;
    }

    .content-variant-item-title {
        cursor: pointer;
    }

    .attribute-item {
        &__term {
            width: $product-kit-view-input-width;
            text-align: right;
        }
    }

    .attribute-wide {
        width: 100%;
        display: flex;

        > .attribute-item {
            width: 100%;
        }
    }
}

@media only screen and (max-width: $product-kit-view-breakpoint) {
    .product-kit-view {
        &__collapsed-attributes {
            .attribute-item {
                width: 50%;
            }
        }
    }
}
