/* @theme: admin.oro; */

.product-container {
    position: relative;

    .input-append,
    .input-prepend {
        display: flex;

        .select2-container {
            width: 100%;
            max-width: 100%;
        }
    }

    .grid-views {
        margin-left: 10px;
        margin-bottom: 20px;
    }
}

.product-primary-unit-controls {
    table {
        td {
            display: block;
        }
    }
}
