{% spaceless %}
    {% set methodConfigs = record.getValue('methodConfigs').toArray() %}

    {% for methodConfig in methodConfigs %}
        {{ get_shipping_method_label(methodConfig.method)|trans }}
        <ul>
        {% for typeConfig in methodConfig.typeConfigs %}
            <li>{{ get_shipping_method_type_label(methodConfig.method, typeConfig.type)|trans }}</li>
        {% endfor %}
        </ul>
    {% endfor %}
{% endspaceless %}
