{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

<div class="widget-content">
    {% block widget_content %}
        <input type="hidden" id="appendProducts">
        <input type="hidden" id="removeProducts">

        {{ dataGrid.renderGrid('product-collection-add-products-grid', parameters, {'enableViews': false, 'enableToggleFilters': false}) }}

        <fieldset class="form-horizontal">
            <div class="widget-actions form-actions" style="display: none;">
                <button class="btn" type="reset">{{ 'Cancel'|trans }}</button>

                <button data-action-name="addProducts" type="button" class="btn disabled" disabled="disabled">{{ 'Add'|trans }}</button>
            </div>
        </fieldset>
    {% endblock %}
</div>
