{% block _footer_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " footer"
    }) %}
    <footer{{ block('block_attributes') }}>
        <div class="container-fluid">
            {{ block_widget(block) }}
        </div>
    </footer>
{% endblock %}

{% block _footer_copyright_widget %}
    {% if block.vars.visible %}
        <div class="row">
            <div class="col-md-12">
                <div class="copy">
                    {{ block_widget(block) }}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
