.shopping-lists {
    position: relative;

    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 13px;

    font-size: $font-size-s;
    text-align: left;

    color: #5b7a59;
    border-radius: 3px;
    background: #d9e8d1;

    &__text {
        margin-bottom: 5px;
        padding-left: 25px;
    }

    &__icon {
        position: absolute;
        top: 7px;
        left: 13px;

        display: block;
        width: 15px;
        height: 19px;

        // background: url(__icon/shopping-lists__icon.png) 0 0 no-repeat;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAATCAYAAABPwleqAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAVlJREFUeNrEk8ErxEEUx3c1J9UPJxe4cBFXlYukKClyxF9AwtHNmYtY/4FUCilAqi1smxI3railkqMLiPr5vO0t0/Nbm7baV5/mTdN33sz7zsTDMIwViuWNpSxDI0yPD00s2PWKWAlRPnE8sb44z9is8znuluKuo+RNMAVVcABpWGH9Ji920ActOpcGpSAJsyqU6BWxL8xVlm5TqYP8FD7hWcWTsA2tMAM7Os9veOU0uVCh08UBCKAfOiEDx55QIsg1jOO8MlyafnTBGjzCoRH+6vZZREPbtVlBMavS/3TqwxWpbONNm7kHm774Gp6g2ghuYVcFSe3Pj1XeR5D79ejuW2KN9dYPZ+YZFVfCoMCGhbRZK36Ae6j960mDHPfl+9hUqGc4gTp5XRw3Yf62FNqHblhlfcS3Sl5Vg9o3FlGxTYUSw2xW44ul6rvmRxFiceNO83Nx5kuAAQDNe2iMFRDafQAAAABJRU5ErkJggg==) 0 0 no-repeat;
    }

    &__count {
        text-decoration: underline;
    }

    &__label {
      margin-right: 5px;
    }

    &__link {
        margin-left: 25px;

        text-decoration: none;

        color: #5b7a59;

        cursor: pointer;

        &:hover {
            color: #5b7a59;
        }
    }
}
