/* @theme: blank; */

.cms-page {
    :first-child {
        margin-top: 0;
    }

    p {
        margin: $cms-page-paragraph-offset;
    }

    blockquote {
        margin: $cms-page-blockquote-offset;

        font-size: $cms-page-blockquote-font-size;
        font-style: $cms-page-blockquote-font-style;

        &:before,
        &:after {
            content: '"';
        }
    }

    ul,
    ol {
        margin: $cms-page-list-offset;
        padding: $cms-page-list-inner-offset;
    }

    ul {
        list-style-type: disc;
    }

    ol {
        list-style-type: decimal;
    }

    img {
        max-width: $cms-page-img-max-width;
        height: auto;
        display: block;
        margin: auto;
    }

    figure {
        display: table;
        margin: $cms-page-figure-offset;
    }

    figcaption {
        display: table-caption;
        caption-side: bottom;
        margin: $cms-page-figcaption-offset;

        font-size: $cms-page-figcaption-font-size;
        text-align: $cms-page-figcaption-text-align;
    }

    a {
        @include link();
    }

    strong,
    b {
        font-weight: bold;
    }

    em,
    i {
        font-style: italic;
    }

    & .cms-page__figure_right,
    & .cms-page__figure_left {
        clear: both;
    }


    & .cms-page__figure_right {
        float: right;
        margin-left: $cms-page-figcaption-offset-left;
    }

    & .cms-page__figure_left {
        float: left;
        margin-right: $cms-page-figcaption-offset-right;
    }

    iframe[src*=maps] {
        width: 100%;
    }
}

@include breakpoint('tablet-small') {
    .cms-page {
        & .cms-page__figure_right,
        & .cms-page__figure_left {
            float: none;
            margin: $cms-page-figure-offset;
        }
    }
}
