/*Matrix Widget*/
.matrix-widget {
  position: relative;

  &.matrix-widget_right {
    
    &.matrix-widget_lg {
      margin-left: calc(#{$gallery-width_md} + #{$gallery-description-gutter_md});

      @media (min-width:1163px) and (max-width:1199px) {
       margin-left: calc(#{$gallery-width_md} + #{$gallery-description-gutter_md} - 1rem);
      }
      
      @media (max-width: 1163px) {
        margin: 0;
        clear: left;

        &:before, &:after {
          content: "";
          display: block;
          height: 0;
          clear: both;
        }
      }
    }

    &.matrix-widget_md {
      margin-left: calc(#{$gallery-width_lg} + #{$gallery-description-gutter_lg});
    }

    &.matrix-widget_sm {
      margin-left: calc(#{$gallery-width_sm} + #{$gallery-description-gutter_sm});
    }
  }

  &.matrix-widget_in-text { 
    margin: 1rem 0; 
    clear: left;

    .matrix-widget__table-block {
      table-layout: auto;
    }

    @media (max-width: 991px) {
      overflow: hidden;
      margin-top: 0;
    }
  }

  &.matrix-widget_in-cart {
    background: $base-sidebar-background-color-light;
    padding: .1rem 1.5rem 0;
    @include radiused(.5rem);

    .table-block__header__item {
      border: 0;

      &:first-child {
        padding-left: 0 !important;
      }

      &:last-child {
        padding-right: 0 !important;

        @media (max-width: 1199px) {
          vertical-align: bottom;
        }
      }

      @media (max-width: 991px) {
        padding: .8rem .6rem .8rem 0 !important;
      }
    }

    .table-block__body__item {
      border: 0 !important;
      padding: 1.5rem .6rem !important;
      border-top: .1rem solid $base-border-color !important;

      @media (max-width: 991px) {
        padding: .8rem .6rem .8rem 0 !important;

        &.text-center {
          text-align: center;
        }
      }

      @media (min-width: 1200px) {
        padding: 1.5rem .6rem 1.5rem 2rem !important;
      }

      &:last-child {
        padding-right: 0 !important;
      }
    }
  }
}

/*Order checkout widget*/
.order-checkout-widget {
  position: relative;

  &.order-checkout-widget_block {
    margin: 1.5rem 0 0;

    .ttip {
      text-align: left;
    }
  }

  &.order-checkout-widget_fixed {
    display: none;

    .dropdown-menu {
      top: auto;
      bottom: 5rem;
    }

    @media (max-width: 991px) {
      position: fixed;
      width: 100%;
      padding: 0 1.5rem 1rem 1.5rem;
      bottom: 0;
      left: 0;
      z-index: 999999;
      background: $base-footer-background-color;
      box-shadow: 0 -.1rem 0 0 $base-border-color;

      .order-checkout-widget__table {
        width: 100%;

        td {
          width: 50%;
          padding: 0.8rem 1.9rem 1rem 1.9rem;

          &:first-child {
            text-align: right;
          }

          &:last-child {
            text-align: left;
          }
        }
      }
    }
  }

  .order-checkout-widget__container-wrapper {
    margin: 0 0 2rem;

    @media (max-width: 991px) {
      margin: 2rem 0;
    }

    &:before, &:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
    }
  }

  .order-checkout-widget__container {
    padding: 1.5rem;
    border-radius: .3rem;
    background: $base-sidebar-background-color-light;
    float: right;

    @media (max-width: 991px) {
      float: none;
    }

    + .order-checkout-widget__container {
      clear: right;
      margin-top: .4rem;
    }

    .order-checkout-widget__table {
      width: 100%;
      margin: 0;

        td {
           padding: 0;
        }
        .order-checkout-widget__total {
          padding-top: .6rem;
        }
    }

    &.order-checkout-widget__container_lg {
      width: 28rem;

      @media (max-width: 991px) {
        width: 100%;
        padding: 1.5rem 3rem;
      }
    } 

    &.order-checkout-widget__container_error {
      background: $theme-error-bg-color;
      color: $theme-error-font-color;
      text-align: left;
    }

    &:before, &:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
    }
  }
}

.matrix-order_mobile__add-btn {
  margin-right: -7.2rem;
}

/*Matrix Order Quote Builder Mobile */
.oq-matrix-builder_mobile {
  padding: 1.5rem 0 0;

  .oq-matrix-builder__item {
    margin: 0 0 2rem;
  }

  .oq-matrix-builder__item__body {
    background: $base-sidebar-background-color-light;
    border-radius: .4rem;
    padding: 1rem 2rem 1.5rem;
  }

  .oq-matrix-builder__container {
    display: flex;
    flex-wrap: wrap;

    + .table {
      max-width: 15rem;
    }
  }

  .oq-matrix-builder__input-wrapper {
    flex-grow: 1;
    flex-basis: calc(33.3333% - 6px);
    margin-bottom: 1.5rem;

    &:nth-child(3n+2) {
      margin: 0 .9rem;

    }
    
    label {
      display: block;
      font-weight: 400;
      margin: 0 0 .5rem;
      text-align: center;
    }

    input[type="text"] {
      @include input();
      text-align: center;
    }
  }
}

.oq-matrix-builder__summary_mobile {
  .table {
    max-width: 17rem;
  } 
}

.oq-matrix-builder-sv_mobile {
  padding: 1rem 0 1.5rem;

  .oq-matrix-builder-sv__head {
    display: flex;
    flex-wrap: nowrap;

    .oq-matrix-builder-sv__col {
      padding: .6rem 0;
      background: $base-sidebar-background-color-light;
    }
  }

  .oq-matrix-builder-sv__body {
    margin: .5rem 0 0;

    .oq-matrix-builder-sv__col {
      &:last-child {
        padding-right: 1rem;
      }
    }
  }

  .oq-matrix-builder-sv__foot {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    padding: 2rem 0;
    border-top: .1rem solid $base-border-color;
    border-bottom: .1rem solid $base-border-color;

    .oq-matrix-builder-sv__col {

      &:first-child {
        padding-left: 0;
        flex-grow: 1;
        flex-basis: calc(62% - 20px);

        + .oq-matrix-builder-sv__col {
          flex-basis: calc(25% - 20px);
          margin: 0 1rem;
        }
      }

      &:nth-child(3) {
        flex-basis: calc(13% + 20px);
      }

      .product__qty-input {
        max-width: 100%;
        min-width: inherit;

        input[type="text"] {
          text-align: center;
        }
      }

      &:last-child {
        text-align: right;
        flex-basis: 100%;

        .btn {
          width: 8rem;
          padding: 1rem 1.2rem;
        }
      }
    }
  }

  .oq-matrix-builder-sv__row {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 0 1rem;
  }

  .oq-matrix-builder-sv__col {
    
    &:first-child {
      padding-left: 1rem;
      flex-grow: 1;
      flex-basis: calc(62% - 25px);
    }

    &:nth-child(2) {
      flex-basis: calc(25% - 25px);
    }

    &:nth-child(3) {
      text-align: center;
      flex-basis: 13%;
    }

    &:last-child {
      flex-basis: 2.5rem;
    }
  }

  .oq-matrix-builder-sv__col__row {
    padding: 0 0 .6rem;

    .button-icon {
      position: relative;
      bottom: .1rem;
    }
  }
}
