/*Messages Widget*/
.messages-widget {
  padding: 0 0 2.5rem;

  &.messages-widget_has-bg {
    background: $base-sidebar-background-color;
  }

  &.messages-widget__list-expanded {
    .messages-widget__arrow {
      transform: rotate(0);
    }
  }

  &.messages-widget__dropdown-mode {
    display: none;
    min-width: 22rem;
    position: absolute;
    background: #fff;
    top: 4.8rem;
    right: 0;
    padding: 3.5rem 1rem 2rem;
    @include radiused(.2rem);
    border: .1rem solid $base-border-color;
    box-shadow: 0 .2rem .4rem 0 rgba(0,0,0,.3);
    z-index: 10;
    text-align: left;

    &.opened {
      display: block;
    }

    .btn_close {
      color: $base-link-color;
      opacity: 1;

      [class^="cf-"] {
        font-size: 2rem;
      }

      + .messages-widget__goto-btn {
        right: 2.7rem;
        top: .8rem;
      }
    }

    &.messages-widget__dropdown-mode_sticked {
      top: 5.3rem;
    }

    .messages-widget__goto-btn {
      display: block;
      padding: 0;
      position: absolute;
      text-decoration: none;
      top: .7rem;
      right: .5rem;
      background: transparent;
      border: 0;
      box-shadow: none;
      color: $base-link-color;

      [class^="cf-"] {
        font-size: 1.8rem;
      }
    }
  }

  &.pin_mode {
    display: none;
    min-width: 22rem;
    background: #fff;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0;
    @include radiused(.2rem);
    border: .1rem solid $base-border-color;
    box-shadow: 0 .2rem .4rem 0 rgba(0,0,0,.3);
    z-index: 10;
    text-align: left;

    .btn_close {
      color: $base-link-color;
      opacity: 1;

      [class^="cf-"] {
        font-size: 2rem;
      }

      + .messages-widget__goto-btn {
        right: 2.7rem;
        top: .8rem;
      }
    }

    .messages-widget__goto-btn {
      display: block;
      padding: 0;
      position: absolute;
      text-decoration: none;
      top: .7rem;
      right: .5rem;
      background: transparent;
      border: 0;
      box-shadow: none;
      color: $base-link-color;

      [class^="cf-"] {
        font-size: 1.8rem;
      }
    }
  }

  .messages-widget__arrow {
    transform: rotate(-90deg);
  }

}

.messages-widget__title-container {
  background: $base-topbar-background-color;
  padding: 1.3rem 1.5rem;
}

.messages-widget__content-container {
  padding: 1.5rem;
}

.messages-widget__header {
  &.messages-widget__header_no-badge {
    margin-bottom: 1rem;
  }
}

.messages-widget__container {
  padding: 0 0 0 1.4rem;
}

.messages-widget__trigger {
  position: relative;
  background: transparent;
  border: 0;
  box-shadow: none;
  padding: 0; 
  font-size: 1.8rem; 
  vertical-align: middle;
}

.messages-widget__badge {
  position: absolute;
  top: -0.3rem;
  left: -0.8rem;
}

.messages-widget__title {
  font-size: 1.3rem;
  color: $base-font-color-light;
}

.messages-widget__content {
  padding: 1rem 0 0 5.8rem;
}

.messages-widget__list {
  @include list-normalize;
  margin: 0 0 2rem;

  li {
    font-size: 1.3rem;
    margin: 0 0 1.5rem;

    > span {
      margin-right: .5rem;
    }

    a {
      white-space: nowrap;

      &:hover {
        text-decoration: none;
        
        .underlined {
          text-decoration: none;
        }
      }
    }
  }
}
