/*Order Widget*/
.order-widget {
  margin: 0 -1.5rem -1.5rem;

  &.order-widget_dropdown-mode {
    display: none;
    min-width: 26rem;
    position: absolute;
    background: #fff;
    top: 4rem;
    right: 1.5rem;
    left: auto;
    float: none;
    @include radiused(.2rem);
    padding: 0;
    border: .1rem solid $base-border-color;
    box-shadow: 0 .2rem .4rem 0 rgba(0,0,0,.3);
    z-index: 10;
    text-align: left;

    &.opened {
      display: block;
    }

    &.order-widget_dropdown-mode_sticked {
      top: 5.3rem;

      .order-widget__item {
        &:first-child {
          border-top: 0;
        }
      }
    }

    .order-widget__container {
      padding: 0;
    }

    .order-widget__legend {
      padding: 1.1rem .9rem;
    }

    .order-widget__item {
      padding: 1.5rem .9rem;
    }

    .btn_close {
      top: 0;

      [class^="cf-"] {
        font-size: 1.9rem;
      }
    }
  }

  &.order-widget_pin-mode {
    display: none;
    min-width: 26rem;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    background: #fff;
    border: .1rem solid $base-border-color;
    box-shadow: 0 .2rem .4rem 0 rgba(0,0,0,.3);
    z-index: 1001;

    .order-widget__order-name {
      padding-right: 3rem;
    }
  }
}

.order-widget__container {
  padding: 0 1.5rem;
}

.order-widget__legend {
  padding: 0 .9rem 1.5rem;
}

.order-widget__item {
  padding: 1.5rem .9rem;
  border-top: .1rem solid $base-border-color;
}

.order-widget__order-name {
  position: relative;
  line-height: 2rem;

  > span {
    display: inline-block;
    vertical-align: middle;
  }

  &.order-widget__order-name_edit-mode {
    margin-bottom: 2rem;
  }

  &:hover {
    .order-widget__edit-mode-btn_inline {
      display: inline-block;
    }
  }
}

//Edit mode
.order-widget__edit-mode-btn {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  padding: 0;
  margin: 0;
  background: transparent;
  color: $theme-edit-mode-btn-color;

  &.order-widget__edit-mode-link {
    color: $base-link-color;
  }

  &.order-widget__edit-mode-btn_inline {
    display: none;
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: .1rem;    
    vertical-align: middle;
    font-size: 0;
    line-height: 0;
  }

  [class^="cf-"] {
    font-size: 1.8rem;
  }
}

.order-widget__table {
  width: 100%;
  border-spacing: 0;
  padding: 0;
  margin: 1rem 0 .5rem;
  font-size: 1.3rem;
}

.order-widget__create-btn {
  display: block;
  text-align: center;
  text-decoration: none;
  color: $base-font-color;
  width: 100%;
  border: 0;
  border-top: .1rem solid $alt-border-color;
  background: $base-topbar-background-color;
  padding: 1rem 0;
  margin: 0;

  &:focus, &:hover {
    text-decoration: none;
    outline: 0;
    color: $base-font-color;
  }

  [class^="cf-"]:before {
    font-size: 1.8rem;
    color: $base-link-color;
  }
}

.order-widget__trigger {
  position: relative;
  color: #fff;
  background: $theme-orange-color;
  border: 0;
  box-shadow: .2rem .1rem .5rem 0 rgba(0,0,0,.5);
  @include radiused(.5rem);
  padding: .9rem 1.4rem .9rem 1.1rem;
  white-space: nowrap;

  i {
    font-size: 1.6rem;
  }
}

.order-widget__badge {
  position: absolute;
  top: -0.6rem;
  left: -0.6rem;
}

//Pin Mode
.order-widget__title-container {
  background: $base-topbar-background-color;
  padding: 1.3rem 1.5rem;
  position: relative;
}

.order-widget__close-btn {
  display: block;
  padding: 0;
  background: transparent;
  box-shadow: none;
  border: 0;
  cursor: pointer;
  position: absolute;
  top: .5rem;
  right: .5rem;
  z-index: 1;
  color: $base-link-color;
  z-index: 1;

  [class^="cf-"] {
    font-size: 2rem;
  }
}

.order-widget__goto-btn {
  display: block;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  right: 2.7rem;
  top: .5rem;
  background: transparent;
  border: 0;
  box-shadow: none;
  color: $base-link-color;
  z-index: 1;

  [class^="cf-"] {
    font-size: 1.8rem;
  }
}

.order-widget__content-container {
  padding-bottom: 1.5rem;
}

.order-widget__products-list {
  @include list-normalize;
}

.order-widget__product-item {
  position: relative;
  padding: 1.5rem 3.5rem 1.5rem 1rem;
  border-bottom: .1rem solid $base-border-color;

  &:before, &:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
  }
}

.order-widget__product-item__image {

  &.order-widget__product-item__image_gallery-view {
    max-width: 5.6rem;
    float: left;
    border: .1rem solid $base-border-color;

    > a {
      display: block;
      width: 5.4rem;
      height: 5.4rem;
    }
  }

  &.order-widget__product-item__image_no-image-view {
    display: none;
  }

  img {
    display: block;
    max-width: 100%;
  }
}

.order-widget__product-item__description {

  &.order-widget__product-item__description_gallery-view {
    padding: 0 0 0 7rem;
  }

  &.order-widget__product-item__description_no-image-view {
    > div {
      display: inline-block;

      &:first-of-type {
        margin-right: 1.5rem;
      }
    }
  }
}

.delete-item-btn {
  display: block;
  border: 0;
  padding: 0;
  background: transparent;
  box-shadow: none;
  cursor: pointer;

  &.delete-item-btn_abs {
    position: absolute;
    top: 1.2rem;
    right: 1rem;
  }
}
