.pin-widget {
  position: absolute;
  z-index: 999;

  &:hover {

    .pin-widget__controls {
      display: block;
    }
  }
}

.pin-widget__controls {
  display: none;
  background: rgba(0,0,0,.6);
  color: #fff;
  position: absolute;
  right: -1.4rem;
  top: -.6rem;
  z-index: 1000;
  font-size: 0;
  padding: 0 .3rem;
  height: 1.8rem;
  @include radiused(.5rem);
}

.pin-widget__controls__drag {
  border: 0;
  box-shadow: none;
  background: transparent;
  transform: rotate(45deg);
  padding: 0;
  margin-right: .2rem;
  cursor: move;

  [class^="cf-"] {
    font-size: 1.2rem;
  }
}

.pin-widget__controls__close {
  border: 0;
  box-shadow: none;
  background: transparent;
  padding: 0;

  [class^="cf-"] {
    font-size: 1.4rem;
  }
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}
