//Products badges
.product-item__badge {

  //Type
  &.product-item__badge_triangle {
    display: block;
    position: absolute;
    width: 7.2rem;
    height: 7.2rem;
    
    //Text element mixin
    @mixin text-element {
      display: block;
      color: #fff;
      text-align: center;
      position: absolute;
      z-index: 2;
    }

    //Triangle element mixin
    @mixin triangle-element-mixin($color) {
      content: "";
      z-index: 1;
      position: absolute;
      top: 0;
      display: block;
      width: 0;
      height: 0;
      border-top: 7.2rem solid $color;
      border-left: 7.2rem solid transparent;
      border-right: 7.2rem solid transparent;
    }

    //Position
    &.product-item__badge_tl {
      top: 0;
      left: 0;

      > span {
        @include text-element;
        top: 0;
        left: .3rem;
        transform: rotate(-45deg);
      } 

      &.product-item__badge_blue {        
        &:before {
          @include triangle-element-mixin($theme-blue-color);
          left: -7.2rem;
        }
      } 

      &.product-item__badge_orange {        
        &:before {
          @include triangle-element-mixin($theme-orange-color);
          left: -7.2rem;
        }
      } 
    }

    &.product-item__badge_tr {
      top: 0;
      right: 0;

      > span {
        @include text-element;
        top: .3rem;
        right: 0;
        transform: rotate(45deg);
      }
      
      &.product-item__badge_blue {        
        &:before {
          @include triangle-element-mixin($theme-blue-color);
          right: -7.2rem;
        }
      }

      &.product-item__badge_orange {        
        &:before {
          @include triangle-element-mixin($theme-orange-color);
          right: -7.2rem;
        }
      }
    }
  }

  &.product-item__badge_polygon {
    display: block;
    position: absolute;
    width: 4.4rem;
    height: 3.6rem;
    text-align: center;

    &:before {
      content: "";
      display: inline-block;
      width: 0;
      height: 100%;
      vertical-align: middle;
    }

    > span {
      position: relative;
      font-weight: 700;
      font-size: 1.5rem;
      z-index: 2;
      display: inline-block;
      vertical-align: middle;
      color: #fff;
    }

    .badge-arm {
      width: 4.4rem;
      height: 3.6rem;
      position: absolute;
      top: 0;
      left: 0; 
      z-index: 1;
      
      &:first-of-type {
        transform: rotate(20deg);
      }

      &:nth-of-type(2) {
        transform: rotate(40deg);
      }

      &:nth-of-type(3) {
        transform: rotate(-40deg);
      }

      &:last-of-type {
        transform: rotate(-20deg);
      }
    }

    &.product-item__badge_tl {
      top: 2rem;
      left: 2rem;
    }

    &.product-item__badge_tr {
      top: 2rem;
      right: 2rem;
    }

    &.product-item__badge_bl {
      bottom: 2rem;
      left: 2rem;
    }

    &.product-item__badge_br {
      bottom: 2rem;
      right: 2rem;
    }

    &.product-item__badge_blue {
      background: $theme-blue-color;

      .badge-arm {
        background: $theme-blue-color;  
      }
    }

    &.product-item__badge_orange {
      background: $theme-orange-color;

      .badge-arm {
        background: $theme-orange-color;  
      }
    }
  }
}
