.oq-pseudo-selectbox-container {
  position: relative;

  &.open {
    .oq-pseudo-selectbox_sales-mode {
      box-shadow: inset .1rem .1rem .3rem 0 rgba(0,0,0,.2);
    }
  }

  &.oq-pseudo-selectbox-container_autocomplete {

     &.open {
      .oq-pseudo-selectbox_sales-mode {
        box-shadow: none;
      }
    }
    
    .oq-pseudo-selectbox__popup {
      margin: 0;
      width: 100%;
      top: 3.6rem;

      .btn_close {
        opacity: 1;
      }

      .oq-autocomplete-widget__list {
        position: static;
      }
    }
  }
}

.oq-pseudo-selectbox__popup__autocomplete-input {
  padding: 1.5rem 3rem 1rem 1rem;
}

.oq-pseudo-selectbox {
  display: block;
  width: 100%;
  position: relative;
  padding: .6rem 1.4rem .5rem;
  box-shadow: none;
  background: $base-background-color;
  border-radius: .5rem;
  border: .1rem solid #e1e1e1;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
  line-height: 2.4rem;
  box-sizing: border-box;
  text-align: left;
  text-decoration: none;
  color: $base-font-color;

  &:hover, &:active, &:focus {
    text-decoration: none;
    color: $base-font-color;
  }

  &.active {

    + .oro-oq__filter__popup {
      display: block;
    }
  }
  
  > span {
    display: block;
    font-size: 1.4rem;
    overflow: hidden;
    margin-right: 3rem;
    text-overflow: ellipsis;
    white-space: nowrap;

    > i {
      margin-right: .3rem;
    }
  }

  > div {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 3rem;
    height: 100%;

    b {
      display: block;
      width: 100%;
      height: 100%;
      position: relative;

      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        height: 0;
        margin: -0.3rem 0 0 -0.5rem;
        border-top: 0.6rem solid #707070;
        border-left: .5rem solid transparent;
        border-right: .5rem solid transparent;
      }
    }
  }
}

.oq-pseudo-selectbox__popup {
  position: absolute;
  top: 4rem;
  left: 0;
  background: $base-background-color;
  border-radius: .3rem;
  box-shadow: 0 .1rem .3rem 0 rgba(0,0,0,.2);

  &.oq-pseudo-selectbox__popup_simple {
    width: 19.5rem;
    margin: 0;
    padding: 0;
    border: 0;
  }
}

.oq-pseudo-selectbox__popup-list {
  @include list-normalize;
  margin: 1rem 0;
}

.oq-pseudo-selectbox__popup-list__item {
  position: relative;
  
  > .oq-pseudo-selectbox__popup-list {
    display: none;
    min-width: 18.5rem;
    border-radius: .3rem;
    box-shadow: 0 .1rem .3rem 0 rgba(0,0,0,.2);
    background: $base-background-color;
    position: absolute;
    right: -17.5rem;
    top: -.5rem;
    margin: 0;
    padding: 1rem 0;
  }

  &:hover, &:active {
    background: $base-sidebar-background-color;
  }

  &:hover {
    > .oq-pseudo-selectbox__popup-list {
      display: block;
    }
  }

  > i {
    position: absolute;
    right: 1rem;
    top: 50%;
    margin-top: -1rem;
    font-size: 2rem;
  }

  a {
    display: block;
    padding: 1rem 3.5rem 1rem 2rem;
    color: $base-font-color;
    text-decoration: none;
  }
}
