.sales-panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 9.7rem;
  background: $base-sales-panel-bottom-background-color;
  box-shadow: 0 .2rem .3rem 0 rgba(0,0,0,.2);
  transform: translate3d(0, -13rem, 0);
  transition: transform .2s linear;
  z-index: 100;
  
  + .sticky-widget {
    top: 1.1rem;
  }

  ~ .sticky-widget__filter,
  ~ .sticky-widget__cart {
    top: 6.5rem;
  }

  @media (max-width: 991px) {
    display: none;
  }
}

.sales-panel__top {
  min-height: 3.4rem;
  background: $base-sales-panel-top-background-color;

  &:before, &:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
  }
}

.sales-panel__top__left {
  float: left;
  width: calc(100% - 100px);
}

.sales-panel__pins-list {
  position: relative;
  @include list-normalize;
  font-size: 0;
  line-height: 2.4rem;
  padding: .5rem 0;

  &:after {
    content: "";
    display: block;
    height: 3.4rem;
    width: 6rem;
    position: absolute;
    right: 0;
    top: 0;
    background: -moz-linear-gradient(to right,  rgba(224,224,224,0) 0%, rgba(224,224,224,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(to right,  rgba(224,224,224,0) 0%,rgba(224,224,224,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(224,224,224,0) 0%,rgba(224,224,224,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e0e0e0', endColorstr='#e0e0e0',GradientType=1 ); /* IE6-9 */
  }
}

.sales-panel__pins-list__item {
  display: inline-block;
  vertical-align: middle;
  margin: 0 .5rem 0 0;
  position: relative;

  .badge {
    position: relative;
    line-height: 2rem;
    padding: 0 3rem 0 1rem;
    max-width: 18rem;
    @include ellipsis;
  }

  a {
    color: #fff;
    text-decoration: none;
  }


  i {
    font-size: 1.3rem;
    position: absolute;
    top: .4rem;
    right: 1rem;
    cursor: pointer;
  }
}

.sales-panel__top__right {
  float: left;
  width: 10rem;
  font-size: 0;
  text-align: right;
  padding: .1rem 0;
}

.sales-panel__pin-btn {
  display: inline-block;
  background: transparent;
  border: 0;
  box-shadow: none;
  padding: 0;
  margin: 0 .5rem 0 0;
  vertical-align: middle;
}

.sales-panel__star-btn {
  display: inline-block;
  background: transparent;
  border: 0;
  box-shadow: none;
  padding: 0;
  margin: 0 .5rem 0 0;
  vertical-align: middle;
}

.sales-panel__history {
  display: inline-block;
  position: relative;
  height: 100%;

  &.open {
    .sales-panel__history__btn {
      box-shadow: inset .1rem .1rem .2rem 0 rgba(0,0,0,.2);
    }

    > .sales-panel__history__popup {
      display: flex;
    }
  }
}

.sales-panel__history__btn {
  width: 3rem;
  text-align: center;
  background: transparent;
  border: 0;
  box-shadow: none;
  padding: 0;
  color: $theme-light-gray-color;
  font-size: 2rem;
  background: #e3e3e3;
  border-right: .1rem solid $table-alt-border-color;
  border-left: .1rem solid $table-alt-border-color;
  height: 3.2rem;
  vertical-align: middle;
}

.sales-panel__history__popup {
  align-content: stretch;
  flex-wrap: nowrap;
  position: absolute;
  top: 3.4rem;
  right: 0;
  left: auto;
  margin: 0;
  padding: 0;
  border: 0;
  z-index: 15;
  font-size: 0;
  border-radius: .3rem;
  box-shadow: 0 .1rem .3rem 0 rgba(0,0,0,.2);
  background: #fff;
  width: 42rem;
  text-align: left;
}

.sales-panel__history__navigation {
  background: $base-sidebar-background-color-light;
  flex-basis: 15rem;
  flex-shrink: 0;
  padding: 1rem 0;
  border-left: .1rem solid #f1f1f1;
}

.sales-panel__history__navigation__list {
  @include list-normalize;
}

.sales-panel__history__navigation__item {
  padding: 0 1.5rem;
  line-height: 3rem;
  max-height: 3rem;
  text-transform: uppercase;
  cursor: pointer;

  span {
    font-size: 1.4rem;
  }

  i {
    font-size: 1.6rem;
    margin: 0 .5rem 0 0;
  }

  &.active {
    background: $base-topbar-background-color;
  }
}

.sales-panel__history__content {
  flex-grow: 1;
  border-left: .1rem solid #e8e8e8;
}

.sales-panel__history__tab {
  display: none;
  font-size: 1.4rem;
  padding: 1.5rem 2.2rem;

  &.active {
    display: block;
  }
}

.sales-panel__history__list {
  @include list-normalize;
  font-size: 1.4rem;

  li {
    margin: 0 0 1.5rem;

    a {
      color: $base-font-color;
    }

    &:last-child {
      margin: 0 0 .5rem;
    }
  }
}

.sales-panel__bottom {
  padding: 1.1rem 0 1.2rem;
  background: $base-sales-panel-bottom-background-color;
}

.sales-panel__bottom__container {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: center;
}

.sales-panel__bottom__item {
  margin: 0 1rem 0 0;
  flex-grow: 1;
  position: relative;

  &.open {
    .sales-panel__feed-btn {
      .badge:not(.sales-panel__feed__badge) {
        background: #404040;
        box-shadow: inset .1rem .1rem .5rem 0 rgba(0,0,0,.7);
      }
    }

    .sales-panel__search-btn {
      background: $theme-light-gray-color;
      position: relative;
      z-index: 2;
      box-shadow: inset .1rem .1rem .5rem 0 rgba(0,0,0,.4);
    }
  }

  &.sales-panel__bottom__item_feed {
    flex-basis: 4rem;
    flex-shrink: 0;
    flex-grow: 0;
  }

  &.sales-panel__bottom__item_search {
    flex-basis: 3.3rem;
    flex-shrink: 0;
    flex-grow: 0;

    &.open {
      &:before {
        content: "";
        display: block;
        width: 4.6rem;
        height: 6.3rem;
        position: absolute;
        top: -1.5rem;
        left: -.7rem;
        z-index: 1;
        background: $base-background-color;
      }
    }
  }

  &.sales-panel__bottom__item_edit {
    flex-basis: 8rem;
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: 0;
  }

  .oq-pseudo-selectbox {
    padding: .7rem 1rem;
    border-radius: .3rem;
    color: #737373;
    max-height: 4rem;
  }
}

.sales-panel__search-btn {
  padding: 0;
  box-shadow: none;
  border: 0;
}

.sales-panel__feed-btn {
  display: block;
  padding: 0;
  box-shadow: none;
  position: relative;
  border: 0;
  background: transparent;
}

.sales-panel__feed__badge {
  position: absolute;
  right: -.5rem;
  top: -.5rem;  
}

.sales-panel__handle {
  position: absolute;
  left: 50%;
  bottom: -.7rem;
  width: 4.8rem;
  height: 1.4rem;
  padding: 0 .9rem;
  margin: 0 0 0 -2.4rem;
  cursor: pointer;

  span {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;    
    background: $base-sales-panel-bottom-background-color;
    box-shadow: 0 .2rem .3rem 0 rgba(0,0,0,.2);

    i {
      font-size: 2rem;
      color: #a1a1a1;
      position: absolute;
      bottom: -.2rem;
      left: 50%;
      margin-left: -1rem;
    }

    &:before {
      content: "";
      display: block;
      width: 0;
      height: 0;
      position: absolute;
      left: -1.4rem;
      top: 0;
      border-style: solid;
      border-width: 0 1.4rem 1.4rem 0;
      border-color: transparent #f7f7f7 transparent transparent;
    }

    &:after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      position: absolute;
      right: -1.4rem;
      top: 0;   
      border-style: solid;
      border-width: 1.4rem 1.4rem 0 0;
      border-color: #f7f7f7 transparent transparent transparent;
    }
  }
}

.sales-panel__newsfeed-dropdown {
  position: absolute;
  top: 4rem;
  left: 0;
  width: 36rem;
  margin: 0;
  border: 0;
  padding: 0;
  background: $base-background-color;
  border-radius: .3rem;
  box-shadow: 0 .1rem .5rem 0 rgba(0,0,0,.3);
}

.sales-panel__newsfeed-dropdown__list {
  @include list-normalize;

  li {
    position: relative;
    padding: 1.5rem 1.5rem 1.5rem 7rem;
    border-bottom: .1rem solid $base-border-color;

    .badge {
      position: absolute;
      left: 2rem;
      top: 50%;
      margin-top: -1.6rem;
    }

    &:last-child {
      border: 0;
      text-align: center;
      padding: 1.5rem 0;

      .btn {
        width: 17rem;
      }
    }
  }
}

.sales-panel__search-dropdown {
  position: absolute;
  top: 4.8rem;
  left: auto;
  right: -.6rem;
  width: 29.5rem;
  margin: 0;
  border: 0;
  padding: 1.5rem 1rem;
  background: $base-background-color;
  border-radius: .3rem;
  box-shadow: 0 .1rem .5rem 0 rgba(0,0,0,.3);

  .search-widget {
    line-height: 4.2rem;
    border-radius: .5rem;

    .search-widget__input {
      padding: 0 4rem 0 1.2rem;
      border-radius: .5rem;
    }

    .search-widget__submit {
      width: 4rem;
      color: $base-font-color;
    }
  }
}

/*START MOBILE SALES PANEL*/
.sales-m-panel__main-menu {
  @include list-normalize;
  margin-top: -1rem;
  vertical-align: top;
  width: 100%;

  li {
    position: relative;
    padding: 1rem 2rem 1.2rem 6rem;
    border-bottom: .1rem solid $base-border-color;
    min-height: 4rem;

    > div {
      line-height: 3.5rem;
    }

    &:last-child {
      border-bottom: 0;
      text-align: center;
      padding: 1rem 0 0;
      margin: 0;

      .btn {
        width: 18.5rem;
      }
    }

    .sales-m-panel__feed {
      padding: 0;
      box-shadow: none;
      position: absolute;
      top: .75rem;
      left: 0;
      border: 0;
      background: transparent;

      .badge {
        display: block;
      }
    }

    .sales-m-panel__main-menu-arrow {
      position: absolute;
      top: 1.75rem;
      right: -.25rem;
    }
  }
}

.sales-m-panel__dropdown-level-2,
.sales-m-panel__dropdown-level-3 {
  display: none;
  position: absolute;
  width: 100%;
  top: 5rem;
  left: 0;
  background: #fff;
  color: $base-font-color;
  font-size: 1.4rem;
  text-align: left;
  z-index: 999998;
  overflow: hidden;
  overflow-y: auto;

  &.active {
    display: block;
    box-shadow: 0 .3rem .5rem 0 rgba(0,0,0,.3);
  }

  .sales-panel__newsfeed-dropdown__list {

    li {
      padding: 1.5rem 0 1.5rem 4.5rem;

      .badge {
        left: 0;
        margin-top: -1.5rem;
      }

      &:first-child {
       border-top: .1rem solid $base-border-color;
      }

      &:last-child {
        padding: 1.5rem 0 0;
      }
    }
  }

  .search-widget {
    display: inline-block;
    width: calc(100% - 43px);
    margin-left: 1rem;
    line-height: 4.2rem;
  }
}

.sales-m-panel__dropdown-level__back-btn {
  background: none;
  border: 0;
  box-shadow: none;
  padding: 0;
  margin: 0 0 1.5rem;

  .badge i {
    line-height: 1.3rem;
  }
}

.sales-m-panel__dropdown-level__back-btn__text {
  margin-left: 1.3rem;
}

.sales-m-panel__account-menu {
  @include list-normalize;

  li {
    position: relative;
    border-top: .1rem solid $base-border-color;
    color: $base-font-color-lighter;

    &:last-child {
      a {
        padding-bottom: 0;  
      }      
    }

    a {
      display: block;
      padding: 1.5rem .5rem;
      color: $base-font-color-lighter;

      &:focus {
        text-decoration: none;
      }
    }

    .sales-m-panel__main-menu-arrow {
      position: absolute;
      top: 1.5rem;
      right: -.25rem;
    }
  }
}

.sales-m-panel__account-submenu {
  @include list-normalize;

  li {
    position: relative;
    border-top: .1rem solid $base-border-color;
    color: $base-font-color-lighter;

    &:last-child {
      a {
        padding-bottom: 0;  
      }      
    }

    a {
      display: block;
      padding: 1.5rem .5rem 1.5rem 4.5rem;
      color: $base-font-color-lighter;

      &.current {
        background-color: $theme-success-bg-color;
      }

      &:focus {
        text-decoration: none;
      }
    }

    .badge {
      position: absolute;
      top: 50%;
      left: 1.5rem;
      margin: -1rem 0 0;
    }
  }
}
/*END MOBILE SALES PANEL*/
