/*Search Widget*/
.search-widget {
  position: relative;
  line-height: 5rem;

  &.search-widget_centered {
    margin: 0 39% 0 33.5%; 

    @media (max-width: 820px) {
      margin: 0 25% 0 40%; 
    }
  }

  &.search-widget_has-options {
    padding: 0 0 0 5.4rem;  
  }

  &.search-widget_in-sticked {
    line-height: 3.5rem;
    margin: 1.5rem;
    width: 27.2rem;
  }

  &.bordered {
    @include bordered(.1rem, solid, $base-border-color);
  }

  &.radiused {
    @include radiused(.3rem);
  }
}

.search-widget__options {
  position: absolute;
  top: 0;
  left: 0;
  width: 5.4rem;
  height: 100%;

  &.open {
    .search-widget__options__btn {
      background: $base-topbar-background-color;
    }  
  }
}

.search-widget__options__btn {
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0;
  border-right: .1rem solid $base-border-color;
  background: transparent;

  .options__btn__text {
    margin-left: .1rem;
  }
}

.search-widget__container {
  position: relative;
  width: 100%;
  height: 100%;
}

.search-widget__input {
  display: block;
  width: 100%;
  border: .1rem solid transparent;
  padding: 0 5rem 0 1.8rem;
  min-height: 4.8rem;

  &:focus {
    border: .1rem solid $base-link-color;
    outline: 0;
    box-shadow: inset 0 .1rem .1rem rgba(0,0,0,.075), 0 0 .8rem rgba(102,175,233,.6);
  }

  &::-webkit-input-placeholder {
    color: $base-font-color-lightest;
  }

  &::-moz-placeholder {
    color: $base-font-color-lightest;
  }

  &:-moz-placeholder {
    color: $base-font-color-lightest;
  }

  &:-ms-input-placeholder {
    color: $base-font-color-lightest;
  }

  &::-ms-clear {
    display: none;
  }

  &.search-widget__input__no-submit {
    padding: 0 1.8rem;
  }
}

.search-widget__submit {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 5rem;
  height: 100%;
  padding: 0;
  border: 0;
  background: transparent;
  color: $base-font-color-lightest;
  font-size: 2.4rem;
}
