div.uploader {
  display: flex;
  align-items: center;

  input {
    width: 100%;
    z-index: 2;
  }

  .filename {
     order: 2;
    z-index: 1;
  }

  .action {
    display: inline-block;
    order: 1;
    font-size: 14px;
    padding: 0 2.6rem;
    margin: 0 1rem 0 0;
    line-height: 4rem;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    border-radius: 4px;
    color: #fff;
    background: #252525;
    cursor: pointer;
    z-index: 1;
  }
}
