/* @theme: default; */

.coupons-list {
    margin: $coupons-list-offset;

    list-style: none;

    &__item {
        &:not(&first-child) {
            margin-top: $coupons-list-item-offset;
        }
    }
}
