/* @theme: default; */

.coupon-container {
    background: $coupon-container-background;
    display: $coupon-container-display;
    gap: $coupon-container-gap;
    border-radius: $coupon-container-border-radius;

    &__form {
        display: grid;
        grid-template-columns: $coupon-container-form-grid-template-column;
        gap: $coupon-container-form-gap;
    }

    &__errors {
        grid-column: 1 / 3;

        &:empty {
            display: none;
        }
    }

    &__content {
        display: grid;
        gap: spacing('base');
        padding-block-end: spacing('base');
        padding-inline: spacing('base');
    }

    .coupon-trigger {
        width: 100%;
        color: $coupon-container-trigger-color;
        padding-inline: spacing('base');
        justify-content: space-between;
        font-size: $base-font-size;

        &:hover {
            background: none;
        }

        &:has(.badge) {
            grid-template-columns: $coupon-container-trigger-grid-template-column;
        }

        .trigger-icon {
            display: inline-flex;

            margin-left: auto;
        }

        &__loading {
            display: inline-flex;

            width: $coupon-container-loading-size;
            height: $coupon-container-loading-size;

            background: transparent url($loader-mask-loader-url) no-repeat center left;
            background-size: $coupon-container-loading-size;
        }
    }

    &:not(.loading) .coupon-trigger__loading {
        display: none;
    }

    &.loading,
    &.coupon-is-applied {
        .coupon-trigger {
            grid-template-columns: $coupon-container-trigger-grid-template-column;
        }

        .badge {
            display: none;
        }
    }

    .loader-mask {
        opacity: 0;
    }

    .coupon-success-icon {
        color: $coupon-container-success-icon-color;
    }

    &:not(.coupon-is-applied) {
        .coupon-success-icon {
            display: none;
        }
    }
}
