{% block _product_item_select_row_widget %}
    {% set attr = layout_attr_defaults(attr, {
        'data-dom-relocation-options': {
            responsive: [
                {
                    viewport: {
                        maxScreenType: 'tablet'
                    },
                    moveTo: '[data-row-id=' ~ datagrid_row.id  ~ '] .product-item__title'
                }
            ]
        }
    }) %}

    {{ parent_block_widget(block) }}
{% endblock %}

{% block _product_datagrid_row_product_select_row_container_widget %}
    <div data-no-image-seelect-row>{# Empty by default #}</div>
{% endblock %}
