{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroEmailBundle::actions.html.twig' as EmailActions %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {% include 'OroB2BRFPAdminBundle:Request:block/infoRequest.html.twig' %}
        </div>
    </div>
</div>
