{% extends 'OroUIBundle:actions:index.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% set pageTitle = 'oro.catalog.category.entity_plural_label'|trans %}

{% block navButtons %}
    {% if resource_granted('orob2b_catalog_category_create') %}
        <div class="btn-group">
            {{ UI.addButton({
                'path': path('orob2b_catalog_category_create', { 'id' : rootCategory.id }),
                'entity_label': 'oro.catalog.category.entity_label'|trans
            }) }}
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    {{ parent() }}

    <div class="left-panel-container">
        <div class="placeholder">
            <div class="scrollable-container">
                <div class="left-panel scrollable-container">
                    <div class="category">
                        {% set treeOptions = {
                            'data' : orob2b_category_list(),
                            'updateAllowed' : resource_granted('orob2b_catalog_category_update'),
                            'onSelectRoute' : 'orob2b_catalog_category_update',
                            'onMoveRoute' : 'orob2b_catalog_category_move'
                        } %}
                        <div
                            data-page-component-module="orocatalog/js/app/components/tree-manage-component"
                            data-page-component-options="{{ treeOptions|json_encode }}"
                        ></div>
                    </div>
                </div>
                <div class="content">
                    {% if resource_granted('orob2b_catalog_category_create') and resource_granted('orob2b_catalog_category_update') %}
                        <div class="text-center">
                            {{ 'oro.catalog.template.select_existing_or_create_new'|trans }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
