@import "../../../oroui/css/less/variables";


@media(max-width: @mediumScreen) {
    .rfpadmin-requestproductitem-collection {
        margin-left: 170px;
        margin-top: 5px;
        clear: both;
    }
}
