{%- if contentBlock.contentStyle|length -%}
    {%- spaceless -%}
        <style type="text/css">{{- contentBlock.contentStyle|render_content -}}</style>
    {%- endspaceless -%}
{%- endif -%}
<div>{{- contentBlock.content|render_content -}}</div>
