{%- if contentBlock.contentStyle|length -%}
    {%- apply spaceless -%}
        <style type="text/css">{{- contentBlock.contentStyle|render_content -}}</style>
    {%- endapply -%}
{%- endif -%}
<div>{{- contentBlock.content|render_content -}}</div>
