/* @theme: admin.oro; */

$create-draft-container-margin-top: 24px !default;
$create-draft-container-padding: 16px 0 !default;
$create-draft-container-border: 1px solid $neutral-grey-3 !default;
$create-draft-container-bg: $neutral-grey-2 !default;
$create-draft-container-inner-padding: 0 8px !default;
$create-draft-container-title-margin-bottom-base: 24px !default;
$create-draft-container-title-padding: 0 24px !default;

$order-line-item-draft-create-cell-height: 172px !default;
