// @theme: blank

@mixin table-base(
    $table-width:         $table-base-width,
    $table-bg:            $table-base-bg,
    $table-text-align:    $table-base-text-align,
    $table-margin-bottom: $table-base-margin-bottom,
    $table-border-style:  $table-base-border-style,
    $table-border-size:   $table-base-border-size,
    $table-border-color:  $table-base-border-color,
    $row-padding:         $table-base-row-padding,
    $row-font-size:       $table-base-row-font-size,
    $row-font-color:      $table-base-row-font-color,
    $row-even-bg:         $table-base-even-row-bg,
    $head-bg:             $table-base-head-bg,
    $head-font-size:      $table-base-head-font-size,
    $head-font-color:     $table-base-head-font-color,
    $head-font-weight:    $table-base-head-font-weight,
    $head-padding:        $table-base-head-padding,
    $tfoot-bg:            $table-base-tfoot-bg,
    $tfoot-font-size:     $table-base-tfoot-font-size,
    $tfoot-font-color:    $table-base-tfoot-font-color,
    $tfoot-font-weight:   $table-base-tfoot-font-weight,
    $tfoot-padding:       $table-base-tfoot-padding
) {
    width: $table-width;
    margin-bottom: $table-margin-bottom;

    text-align: $table-text-align;

    background: $table-bg;
    border: $table-border-size $table-border-style $table-border-color;
    border-spacing: 0;
    border-collapse: collapse;

    > thead {
        background: $head-bg;

        > tr {
            > th {
                padding: $head-padding;

                font-size: $head-font-size;
                font-weight: $head-font-weight;

                color: $head-font-color;
                border-bottom: $table-border-size $table-border-style $table-border-color;
            }
        }
    }

    > tbody {
        > tr {
            &:nth-child(even) {
                background: $row-even-bg;
            }

            > td {
                padding: $row-padding;

                font-size: $row-font-size;

                color: $row-font-color;
                border-bottom: $table-border-size $table-border-style $table-border-color;
            }
        }
    }

    > tfoot {
        background: $tfoot-bg;

        > tr {
            > td {
                padding: $tfoot-padding;

                font-size: $tfoot-font-size;
                font-weight: $tfoot-font-weight;

                color: $tfoot-font-color;
            }
        }
    }
}
