.web-catalog-page-container {
  position: relative;

  .page-tree {
    position: absolute;
    border-top: 1px solid #f2f2f2;
    width: 334px;
    overflow: auto;
  }
}

.page-tree {
  padding-left: 10px;
}

.web-catalog-page-data {
  margin-left: 334px;
  border-left: 1px solid #f2f2f2;

  .oro-multiselect-holder {
    td {
      display: block;
      float: left;
    }

    .entity-create-or-select-container {
      margin-left: 0;
      @media (max-width: @smallScreen) {
        width: auto;
      }
    }
  }
}

.web-catalog-sidebar {
  padding-right: 10px;
}
