<% if (shippingMethods && !_.isEmpty(shippingMethods)) { %>
<%
    let titleClasses = 'grid-shipping-methods-title';
    if (titleClassName) {
        titleClasses += ' ' + titleClassName;
    }
%>
<h5 class="<%- titleClasses %>"><%- _metadata.label %>:</h5>
<select class="grid-shipping-methods" data-role="select-shipping-method" aria-label="<%- _.__('oro.checkout.multishipping.label_for', {label: name}) %>" name="shippingMethodType[<%- lineItemId %>]">
<% _.each(shippingMethods, method => { %>
    <% if (!method.types) { return; } %>
    <% _.each(method.types, type => { %>
        <% if (!type.price) { return; } %>
        <% var selected = currentShippingMethodType === type.identifier && currentShippingMethod === method.identifier %>
        <option
            value="<%- type.identifier %>-<%- method.identifier %>"
            data-shipping-type="<%- type.identifier %>"
            data-shipping-method="<%- method.identifier %>"
            data-shipping-price="<%- type.price.value %>"
            data-shipping-price-currency="<%- type.price.currency %>"
            data-choice="<%- type.identifier %>"
            data-item-id="<%- lineItemId %>"
        >
            <%- type.label %>
        </option>
    <% }); %>
<% }); %>
</select>
<% } %>
