{% import '@OroShoppingList/ShoppingList/Frontend/buttons.html.twig' as buttons %}

{% set buttonOptions = {
    dataUrl: false,
    dataAttributes: {},
    aCss: 'btn--info ',
    iCss: 'fa fa-shopping-cart fa--fw fa--as-line',
    labelInIcon: false
} %}

{% set newOptions = buttonOptions|merge({
    ariaLabel: 'oro.shoppinglist.actions.add_to_new_shopping_list.aria_label'|trans,
    iCss: 'fa fa-plus fa--fw fa--as-line',
    labelInIcon: false
}) %}

{% set buttonsOptions = {
    new: newOptions,
    current: buttonOptions,
    existing: buttonOptions,
    singleButtonACss : 'btn--info',
    shoppingLists: actionData.shoppingLists,
    componentModule: params.buttonOptions.page_component_module|default('oroshoppinglist/js/app/views/product-quick-add-to-shopping-list-view'),
    componentOptions: {
        'quickAddComponentPrefix': 'quick-add'
    }|merge(params.buttonOptions.page_component_options|default({}))
} %}

<div class="widget-content btn-group">
    <div class="mass-action-controls">
        {% import '@OroUI/macros.html.twig' as UI %}
        {{ UI.pinnedDropdownButton({
            'html': buttons.getQuickSearchHtml(quickSearchOptions|default({})) ~ buttons.getButtonsHtml(buttonsOptions),
            'mobileEnabled': true,
            'dataAttributes': {
                'layout': 'deferred-initialize'
            },
            'options': {
                'widgetModule': 'oroproduct/js/content-processor/product-add-to-dropdown-button',
                'widgetName': 'productAddToDropdownButtonProcessor',
                'truncateLength': 25,
                'decoreClass': 'btn--info'
            }
        }) }}
    </div>
</div>
