$notification-inner-offset: 5px 10px !default;
$notification-font-size: 13px !default;
$notification-border-radius: 3px !default;
$notification-icon-offset: 5px !default;
$notification-list-offset: 5px !default;
$notification-vertical-align: middle !default;
