$notification-inner-offset: 5px 10px !default;
$notification-xmd-inner-offset: 20px 15px !default;

$notification-font-size: 13px !default;
$notification-border-radius: 3px !default;
$notification-icon-offset: 5px !default;
$notification-xmd-icon-size: 20px !default;
$notification-list-offset: 5px !default;
$notification-vertical-align: middle !default;
