$notification-flash-offset: 15px 0 0!default;
$notification-flash-inner-offset: 15px !default;
$notification-flash-text-offset: 0 15px !default;
$notification-flash-border: none !default;
$notification-flash-border-radius: 3px !default;
$notification-flash-badge-size: 20px !default;
$notification-flash-badge-radius: 50% !default;
$notification-flash-close-offset: -5px !default;
$notification-flash-close-inner-offset: 5px !default;
$notification-flash-close-background: none !default;
$notification-flash-close-border: none !default;
$notification-flash-close-icon-size: 20px !default;
