$page-footer-inner-offset: 50px 0 $offset-y;
$page-footer-border-style: solid get-color('additional', 'base');
$page-footer-border-width: 1px 0 0 0 !default;

// Mobile

$page-footer-mobile-inner-offset: 40px 5px 0;
