{%- block attribute_group_rest_attribute_group_widget -%}
    {% set content = block_widget(block) %}
    {%- if content|trim|length > 0 -%}
    {% set attr = layout_attr_defaults(attr, {
        'data-page-component-module': 'oroproduct/js/app/components/fullscreen-attribute-group-tab-content-component',
        '~data-page-component-options': {
            id: group,
            viewport: 'mobile-landscape',
        },
        'role': 'tab',
        'id': group
    }) %}
    <div {{ block('block_attributes') }} style="display: none;" class="tab-content">
        {{ content|raw }}
    </div>
    {%- endif -%}
{%- endblock -%}
