/* @theme: default; */

$checkout-order-summary-container-margin: null !default;
$checkout-order-summary-container-padding: 20px 0 30px !default;

$checkout-order-summary-container-background-color: null !default;
$checkout-order-summary-container-border-radius: null !default;

$checkout-order-summary-container-collapse-container-shadow-background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%) !default;

//Tablet
$checkout-order-summary-container-tablet-padding: $offset-x 0 !default;
