/* @theme: default; */

$checkout-order-summary-container-margin: 2px 0 0 !default;
$checkout-order-summary-container-padding: 20px 35px 30px !default;

$checkout-order-summary-container-background-color: get-color('additional', 'light') !default;
$checkout-order-summary-container-border-radius: 5px !default;

$checkout-order-summary-container-collapse-container-shadow-background: linear-gradient(to bottom, rgba(235,235,235,0) 0%, rgba(235,235,235,1) 100%) !default;

//Tablet
$checkout-order-summary-container-tablet-padding: $offset-x !default;
