/* @theme: default; */

$checkout-credentials-divider-color: get-color('text', 'secondary') !default;
$checkout-credentials-divider-margin-bottom: spacing('lg') !default;
$checkout-credentials-all-required-label-padding: 0 !default;
