/* @theme: default; */

$checkout-form-select-container-display: flex !default;
$checkout-form-select-container-flex-direction: row;
$checkout-form-select-container-justify-content: space-between !default;
$checkout-form-select-container-align-items: center !default;

$checkout-form-select-exp-month-width: 60% !default;
$checkout-form-select-exp-year-width: 40% !default;

$checkout-form-submit-min-width: 200px !default;

$checkout-form-payment-label-margin: 0 0 $offset-y-s !default;
$checkout-form-payment-label-font-weight: font-weight('normal') !default;

$checkout-form-payment-container-margin: $offset-y-m 0 $offset-x !default;

$checkout-form-payment-methods-padding: 12px !default;
$checkout-form-payment-methods-background-color: get-color('additional', 'ultra') !default;
$checkout-form-payment-methods-border-radius: 5px !default;

$checkout-form-payment-methods-authorized-card-margin: 0 0 $offset-y-m !default;

$checkout-form-payment-methods-item-float: left !default;
$checkout-form-payment-methods-item-margin: 0 $offset-x-m 0 0 !default;

$checkout-form-payment-methods-form-margin: $offset-y 0 0 !default;
$checkout-form-payment-methods-list-form-margin: 0 0 $offset-y !default;

$checkout-form-asterix-offset: 0 $offset-x-s !default;
$checkout-form-asterix-color: get-color('ui', 'error-dark') !default;

$checkout-form-back-offset: $offset-x 0 0 !default;
$checkout-form-back-bottom-offset: 0 0 $offset-x-m !default;

// Tablet
$checkout-form-submit-tablet-min-width: inherit !default;
$checkout-form-submit-tablet-width: 100% !default;

//Mobile
