/* @theme: default; */

$checkout-credentials-max-width: 980px !default;

// Form
$checkout-credentials-form-offset-inner: 25px !default;
$checkout-credentials-form-bg: get-color('additional', 'base') !default;
$checkout-credentials-form-border-radius: $base-ui-element-border-radius !default;
$checkout-credentials-form-button-set-btn-offset-right: 20px !default;

// Tabs
$checkout-credentials-tabs-offset-inner-left: 25px !default;
$checkout-credentials-tab-item-font-size: $base-font-size--m !default;
$checkout-credentials-tab-link-offset-inner: 0 20px !default;
$checkout-credentials-tab-link-line-height: 43px !default;
$checkout-credentials-tab-item-active-link-color: get-color('additional', 'dark') !default;
$checkout-credentials-tab-item-active-link-bg: $checkout-credentials-form-bg !default;
$checkout-credentials-tab-item-active-link-border-radius: $base-ui-element-border-radius
    $base-ui-element-border-radius 0 0 !default;

// Column
$checkout-credentials-column-width: 50% !default;
$checkout-credentials-column-offset-left: 40px !default;
$checkout-credentials-column-border: 1px solid get-color('additional', 'middle') !default;
$checkout-credentials-column-offset-inner-left: 40px !default;
$checkout-credentials-column-title-offset-inner-left: $checkout-credentials-form-offset-inner !default;

// mobile-big
$checkout-credentials-column-offset-top-mobile-big: 20px !default;

// mobile
$checkout-credentials-form-button-set-btn-offset-mobile: 0 0 $offset-y !default;
$checkout-credentials-form-link-forgot-offset-bottom-mobile: $offset-y !default;
