/* @theme: default; */

$checkout-padding: 30px 35px !default;
$checkout-border-radius: 5px !default;
$checkout-background-color: get-color('additional', 'base') !default;

$checkout-title-badge-position: absolute !default;
$checkout-title-badge-size: 32px !default;
$checkout-title-badge-font-size: 18px !default;

$checkout-title-text-font-size: $base-font-size--m !default;
$checkout-title-text-font-weight: 400 !default;
$checkout-title-text-line-height: 1.65 !default;

$checkout-head-position: relative !default;
$checkout-head-margin: 0 0 $offset-y !default;
$checkout-head-padding: 0 0 0 ($checkout-title-badge-size + 10px) !default;

$checkout-body-margin: 0 (-$offset-x-m) !default;

$checkout-approval-wrapper-margin: 0 $offset-x-m !default;
$checkout-approval-note-margin: $offset-x-s 0 !default;

$checkout-summary-grid-container-shadow-background: linear-gradient(to bottom, rgba(245,245,245,0) 0%, rgba(245,245,245,1) 100%) !default;


// Tablet
$checkout-tablet-padding: $offset-y !default;
$checkout-tablet-border-radius: 0 !default;

$checkout-approval-wrapper-tablet-margin: $offset-y-m !default;

$checkout-submit-tooltip-left: auto !default;
$checkout-submit-tooltip-right: 65px !default;

//Tablet small
$checkout-submit-btn-tablet-small-width: 100% !default;
