/* @theme: default; */

$checkout-navigation-icon-size: 26px !default;
$checkout-navigation-icon-current-background-color: get-color('primary', 'base') !default;
$checkout-navigation-icon-font-size: 14px !default;

$checkout-navigation-border-left: 2px solid get-color('additional', 'light') !default;

$checkout-navigation-complete-color: get-color('additional', 'ultra') !default;
$checkout-navigation-complete-background-color: get-color('secondary', 'light') !default;
