/* @theme: default; */

$multistep-checkout-layout-padding-top: 0 !default;

$multistep-checkout-layout-page-main-content-padding-inline: 0 !default;

$multistep-checkout-layout-page-content-padding-top: 0 !default;
