/* @theme: default; */

$totals-placeholder-before-background: get-color('additional', 'darker', 20%) !default;
$totals-placeholder-after-background: get-color('additional', 'darker', 20%) !default;

$combined-buttons-placeholder-background: get-color('additional', 'darker', 20%) !default;
