/* @theme: default; */

$checkout-view-position: relative !default;
$checkout-view-display: grid !default;
$checkout-view-margin: 0 !default;
$checkout-view-grid-template-columns: minmax(0, 1fr) !default;

$checkout-view-column-gap: spacing('xl') !default;

$checkout-view-column-margin: 0 !default;
$checkout-view-column-offset: 0 $checkout-view-column-gap spacing('base') !default;
$checkout-view-column-min-width: 0 !default;

$checkout-view-column-border: 1px solid get-color('neutral', 'grey2') !default;
$checkout-view-column-background-color: get-color('neutral', 'grey1') !default;

$checkout-view-column-inner-offset: 0 !default;

$checkout-view-title-color: $headline2-color !default;
$checkout-view-title-font-size: $headline2-font-size !default;
$checkout-view-title-line-height: $headline2-line-height !default;
$checkout-view-title-font-weight: $headline2-font-weight !default;

$checkout-view-sticky-column-offset: spacing('sm') $checkout-view-column-gap !default;

$checkout-view-sticky-titles-background: get-color('neutral', 'white-100') !default;
$checkout-view-sticky-titles-z-index: z('fixed') !default;
$checkout-view-sticky-titles-border-bottom: 1px solid get-color('neutral', 'grey1') !default;

$checkout-view-sticky-titles-inner-display: flex !default;
$checkout-view-sticky-titles-inner-max-width: $site-width !default;
$checkout-view-sticky-titles-inner-offset: 0 spacing('sm') !default;
$checkout-view-sticky-titles-inner-margin: 0 auto !default;
$checkout-view-sticky-titles-inner-flex-direction: row !default;
$checkout-view-sticky-titles-inner-justify-content: space-between !default;
$checkout-view-sticky-titles-inner-align-items: center !default;

$checkout-view-sticky-totals-display: flex !default;
$checkout-view-sticky-totals-max-width: $site-width !default;
$checkout-view-sticky-totals-margin: 0 auto !default;
$checkout-view-sticky-totals-justify-content: flex-end !default;

$checkout-view-sticky-totals-summary-inner-offset-top: 20px !default;
$checkout-view-sticky-totals-summary-float: none !default;

$checkout-view-badge-size: 26px !default;
$checkout-view-badge-font-size: $base-font-size !default;
$checkout-view-badge-margin: 0 spacing('xs') 0 0 !default;

$checkout-view-shipping-methods-margin: spacing('base') 0 0 !default;
$checkout-view-shipping-methods-datepicker-box-max-width: none !default;

$checkout-view-checkout-order-summary-totals-sticky-left: auto !default;
$checkout-view-checkout-order-summary-totals-sticky-right: 8px !default;

$checkout-view-payment-methods-image-max-width: 100% !default;

$checkout-view-summary-grid-container-shadow-background: linear-gradient(
    to bottom, rgba(255 255 255 / 0%) 0%, rgba(255 255 255 / 100%) 100%
) !default;

$checkout-view-breakpoint-max-desktop: $site-width !default;

$checkout-view-container-single-page-sidebar-viewportfit: calc(
    100vh - var(--sticky-page-header-element-offset-top, 0) - #{spacing('xl')}
) !default;

// tablet
$checkout-view-column-offset-tablet: 2px $checkout-view-column-gap !default;

// tablet-small
$checkout-view-column-tablet-width: 50% !default;
$checkout-view-column-extended-tablet-width: 100% !default;

// mobile landscape
$checkout-view-column-mobile-width: 100% !default;
