/* @theme: default; */

$checkout-view-position: relative !default;
$checkout-view-display: flex !default;
$checkout-view-margin: 20px 0 0 !default;
$checkout-view-flex-direction: row !default;
$checkout-view-flex-wrap: wrap !default;
$checkout-view-justify-content: space-between !default;
$checkout-view-align-items: flex-start !default;

$checkout-view-column-gap: 28px !default;

$checkout-view-column-width: 25% !default;
$checkout-view-column-extra-width: 50% !default;
$checkout-view-column-first-width: calc(#{$checkout-view-column-width} - #{$checkout-view-column-gap}) !default;
$checkout-view-column-extended-width: calc(
    #{$checkout-view-column-extra-width} + #{$checkout-view-column-gap}
) !default;
$checkout-view-column-margin: 0 0 $offset-y !default;
$checkout-view-column-offset: 0 $checkout-view-column-gap !default;
$checkout-view-column-min-width: 0 !default;

$checkout-view-column-inner-offset: 0 !default;

$checkout-view-title-color: $headline2-color !default;
$checkout-view-title-font-size: $headline2-font-size !default;
$checkout-view-title-line-height: $headline2-line-height !default;
$checkout-view-title-font-weight: $headline2-font-weight !default;

$checkout-view-notification-container-background: get-color('additional', 'ultra') !default;

$checkout-view-sticky-column-offset: $offset-y-m $checkout-view-column-gap !default;

$checkout-view-sticky-titles-background: get-color('additional', 'ultra') !default;
$checkout-view-sticky-titles-border-bottom: 1px solid get-color('additional', 'light') !default;

$checkout-view-sticky-titles-inner-display: flex !default;
$checkout-view-sticky-titles-inner-max-width: $site-width !default;
$checkout-view-sticky-titles-inner-offset: 0 $offset-x-m !default;
$checkout-view-sticky-titles-inner-margin: 0 auto !default;
$checkout-view-sticky-titles-inner-flex-direction: row !default;
$checkout-view-sticky-titles-inner-justify-content: space-between !default;
$checkout-view-sticky-titles-inner-align-items: center !default;

$checkout-view-sticky-totals-display: flex !default;
$checkout-view-sticky-totals-max-width: $site-width !default;
$checkout-view-sticky-totals-margin: 0 auto !default;
$checkout-view-sticky-totals-justify-content: flex-end !default;

$checkout-view-sticky-totals-summary-inner-offset-top: 20px !default;
$checkout-view-sticky-totals-summary-float: none !default;

$checkout-view-badge-size: 26px !default;
$checkout-view-badge-font-size: $base-font-size !default;
$checkout-view-badge-margin: 0 $offset-x-s 0 0 !default;

$checkout-view-column-pseudo-width: 1px !default;
$checkout-view-column-pseudo-background: get-color('additional', 'light') !default;

$checkout-view-shipping-methods-margin: $offset-y 0 0 !default;
$checkout-view-shipping-methods-datepicker-box-max-width: none !default;

$checkout-view-checkout-order-summary-totals-sticky-left: auto !default;
$checkout-view-checkout-order-summary-totals-sticky-right: 8px !default;

$checkout-view-payment-methods-image-max-width: 100% !default;

$checkout-view-summary-grid-container-shadow-background: linear-gradient(
    to bottom, rgba(255 255 255 / 0%) 0%, rgba(255 255 255 / 100%) 100%
) !default;

$checkout-view-breakpoint-max-desktop: $site-width !default;

// tablet-small
$checkout-view-column-tablet-width: 50% !default;
$checkout-view-column-extended-tablet-width: 100% !default;

// mobile landscape
$checkout-view-column-mobile-width: 100% !default;
