// @theme: default;

$sticky-single-page-checkout-titles-max-width: $site-width !default;
$sticky-single-page-checkout-titles-offset: $offset-y-m $offset-x-m !default;
$sticky-single-page-checkout-titles-margin: 0 auto !default;
$sticky-single-page-checkout-titles-display: flex !default;
$sticky-single-page-checkout-titles-flex-direction: row !default;
$sticky-single-page-checkout-titles-justify-content: space-between !default;
$sticky-single-page-checkout-titles-align-items: center !default;
