{% block oro_ups_transport_settings_widget %}
    <div data-page-component-module="oroups/js/app/components/ups-transport-settings-component"
         data-page-component-options="{{ {
             'countrySelector': 'select[name="%s"]'|format(form.upsCountry.vars.full_name),
             'shippingServicesSelector': 'select[name="%s"]'|format(form.applicableShippingServices.vars.full_name),
             'shippingServicesClosestParentSelector': '.control-group',
             'shippingServiceByCountryRoute': 'oro_ups_country_shipping_services'
         }|json_encode }}"
         class="control-group-container"
    >
        {{ form_widget(form) }}
    </div>

    <div class="control-group control-group-button">
        <div class="controls">
            <button type="button"
                    class="btn btn-primary"
                    data-page-component-module="orointegration/js/app/components/integration-connection-checker-component"
                    data-page-component-options="{{ {
                        'formSelector': '[name="oro_integration_channel_form"]',
                        'backendUrl': path('oro_ups_validate_connection', {'channelId': form.vars.value.id|default(0) })
                    }|json_encode }}"
            >
                {{ 'oro.ups.connection_validation.button.text'|trans }}
            </button>
        </div>
    </div>
{% endblock %}

{% block oro_ups_shipping_method_config_options_widget %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}
    {{ UI.tooltip('oro.ups.form.shipping_method_config_options.surcharge.tooltip', {}, 'right') }}
    {{ form_widget(form) }}
{% endblock %}
