{% block oro_ups_transport_settings_widget %}
    <div data-page-component-module="oroups/js/app/components/ups-transport-settings-component">
        {{ form_widget(form) }}
    </div>

    <div class="control-group control-group-text">
        <div class="control-label wrap">
            <label>
                {{ 'oro.ups.connection_validation.button.label'|trans }}
            </label>
        </div>

        <div class="controls">
            <button type="button"
                    class="btn btn-primary"
                    data-page-component-module="oroups/js/app/components/ups-connection-validator-component"
                    data-page-component-options="{{ {
                        'formSelector': '[name="oro_integration_channel_form"]',
                        'backendUrl': path('oro_ups_validate_connection')
                    }|json_encode }}"
            >
                Validate
            </button>
        </div>
    </div>
{% endblock %}
