/* @theme: admin.oro; */

.page-tree {
    padding-left: 10px;
}

.web-catalog-page-container {
    position: relative;

    .page-tree {
        position: absolute;
        border-top: 1px solid $primary-860;
        width: 334px;
        overflow: auto;
    }
}

.content-with-sidebar--content {
    .oro-multiselect-holder {
        td {
            display: block;
            float: left;
        }

        .entity-create-or-select-container {
            margin-left: 0;

            @media (max-width: $small-screen) {
                width: auto;
            }
        }
    }
}
