/* @theme: admin.oro; */

.oro-content-variant-collection {
    .content-variant-item {
        position: relative;
        padding: 10px 40px;
        background: $primary-900;
        border-radius: 4px;

        &:not(:last-of-type) {
            margin-bottom: $content-padding-small;
        }

        .box-type1 {
            background-color: transparent;
        }
    }

    .content-variant-item-default-label {
        display: none;
    }

    .content-variant-item-default {
        .content-variant-item-default-label {
            display: inline-block !important;
        }
    }

    .content-variant-item-title {
        padding-bottom: 10px;
        border-bottom: rgb(230, 230, 230) solid 1px;

        input[type="radio"] {
            margin-top: -2px;
            margin-#{$end}: 7px;
        }

        .content-variant-item-default-label {
            margin-#{$start}: 7px;
        }
    }

    .content-variant-add-btn-container {
        margin-bottom: $content-padding-medium;
    }

    .removeVariantBtn {
        position: absolute;
        top: 4px;
        #{$end}: 4px;
    }

    .scope-collection {
        .oro-item-collection {
            display: block !important;

            .row-oro {
                background: $primary-inverse !important;
            }
        }
    }
}

.scope-elements {
    display: none;
}

.content-node-use-parent {
    .control-group.control-group-checkbox:first-child {
        margin-bottom: 0;
    }

    .scope-elements {
        margin-top: $content-padding-medium;
    }
}
