{% extends 'OroUIBundle:actions:index.html.twig' %}

{% import 'OroUIBundle::macros.html.twig' as UI %}

{% set gridName = 'tax-product-tax-codes-grid' %}
{% set pageTitle = 'oro.tax.producttaxcode.entity_plural_label'|trans %}

{% block navButtons %}
    {% if resource_granted('oro_tax_product_tax_code_create') %}
        <div class="btn-group">
            {{ UI.addButton({
                'path': path('oro_tax_product_tax_code_create'),
                'entity_label': 'oro.tax.producttaxcode.entity_label'|trans
            }) }}
        </div>
    {% endif %}
{% endblock %}
