<div id="product_prices">
    {{ form_row(form.productPriceAttributesPrices, { 'attr': {'class': 'price-attributes-collection'}}) }}
    {% if form.prices is defined %}
        {{ form_row(form.prices) }}
    {% endif %}
</div>
