{% set currencyTemplate %}
    <div class="oro-clearfix">
        <label for="oro_currency_selection_<%- ftid %>-uid-<%- uid %>" class="checkbox-label">
            <input type="checkbox"
                id="oro_currency_selection_<%- ftid %>-uid-<%- uid %>"
                name="oro_currency_selection[]"
                data-ftid="oro_currency_selection_<%- ftid %>"
                value="<%- value %>"
                <%- checked %> >
            <%- text %><em>&nbsp;</em>
        </label>
    </div>
{% endset %}

{% set pageComponentOptions = {} %}
{% if currencies is defined %}
    {% set pageComponentOptions = {
        'currenciesSelector': '#' ~ currencies.vars.id,
        'currencyTemplate': currencyTemplate,
    } %}
{% endif %}

{% if priceList is defined %}
    {% set pageComponentOptions = pageComponentOptions|merge({'priceListSelector': '#' ~ priceList.vars.id}) %}
{% endif %}

{% if showTierPrices is defined %}
    {% form_theme showTierPrices with '@OroPricing/Form/sidebar.html.twig' %}
    {% set pageComponentOptions = pageComponentOptions|merge({'showTierPricesSelector': '#' ~ showTierPrices.vars.id}) %}
{% endif %}

{% if priceList is defined or showTierPrices is defined or currencies is defined %}
<div class="sidebar-items"
    data-page-component-module="oropricing/js/app/components/product-sidebar-component"
    data-page-component-options="{{ pageComponentOptions|json_encode }}">
        {% if priceList is defined %}<div class="default-price-list-choice">{{ form_row(priceList) }}</div>{% endif %}
        {% if showTierPrices is defined %}<div class="show-tier-prices-choice">{{ form_row(showTierPrices) }}</div>{% endif %}
        {% if currencies is defined %}<div class="currencies">{{ form_row(currencies) }}</div>{% endif %}
</div>
{% endif %}
