{% form_theme showTierPrices with 'OroPricingBundle:Form:sidebar.html.twig' %}

{% set currencyTemplate %}
    <div class="oro-clearfix">
        <input type="checkbox"
               id="oro_currency_selection_<%- ftid %>-uid-<%- uid %>"
               name="oro_currency_selection[]"
               data-ftid="oro_currency_selection_<%- ftid %>"
               value="<%- value %>"
               <%- checked %> >
        <label for="oro_currency_selection_<%- ftid %>-uid-<%- uid %>"><%- text %><em>&nbsp;</em></label>
    </div>
{% endset %}

{% set pageComponentOptions = {
    'priceListSelector': '#' ~ priceList.vars.id,
    'currenciesSelector': '#' ~ currencies.vars.id,
    'showTierPricesSelector': '#' ~ showTierPrices.vars.id,
    'currencyTemplate': currencyTemplate,
} %}

<div class="sidebar-items"
    data-page-component-module="oropricing/js/app/components/product-sidebar-component"
    data-page-component-options="{{ pageComponentOptions|json_encode }}">
        <div class="default-price-list-choice">{{ form_row(priceList) }}</div>
        <div class="currencies">{{ form_row(currencies) }}</div>
        <div class="show-tier-prices-choice">{{ form_row(showTierPrices) }}</div>
</div>
