{% block _no_shopping_lists_widget %}
    <div class="cart-list-empty">
        <span class="cart-list-empty__icon" aria-hidden="true"><span class="fa-shopping-cart"></span></span>
        <span>{{ 'oro.frontend.shoppinglist.view.not_have_available'|trans }}</span>
    </div>
{% endblock %}
