{% block _account_user_address_edit_form_actions_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " mt2-md"
    }) %}
    <div{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _account_user_address_edit_form_errors_widget %}
    {% if form.vars.errors|length > 0 %}
        <div{{ block('block_attributes') }}>
            {{ form_errors(form) }}
        </div>
    {% endif %}
{% endblock %}
