/* @theme: blank; */

$grid-line-items-row-offset-y: 2px !default;
$grid-line-items-row-offset-x: $offset-x !default;
$grid-line-items-line-height: 1.15 !default;
$grid-line-items-title-font-size: $base-font-size !default;
$grid-line-items-title-font-w: normal !default;
$grid-line-items-text-font-size: $base-font-size - 2 !default;
$grid-line-items-text-font-s: italic !default;
