/* @theme: blank; */

$responsive-shopping-list-sub-item-offset-tablet: 58px !default;
$responsive-shopping-list-sub-item-offset-mobile: 18px !default;

$responsive-shopping-sub-row-border-mobile: 1px solid get-color('additional', 'light') !default;
$responsive-shopping-grid-row-border-mobile: 2px dashed get-color('additional', 'middle');
$responsive-shopping-header-row-border-mobile: 1px solid get-color('additional', 'light') !default;
