/* @theme: blank; */

$shopping-list-view-options-offset-top: 5px !default;
$shopping-list-view-options-offset-left: 18px !default;

$shopping-list-view-options-editor-offset-top: $offset-y-s !default;
