<% if (_.isMobile()) { %>
    <div class="datagrid-massaction">
        <div class="btn-group full dropup">
            <button class="btn bnt--full btn--info btn--size-s" data-toggle> Add to Cart</button>
            <button class="btn btn--info btn--size-s dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right datagrid-massaction__dropdown-menu datagrid-massaction__dropdown-menu--stretch"
                data-action-panel
                >
            </ul>
        </div>
    </div>
<% } else { %>
    <div class="datagrid-massaction">
        <div class="btn-group">
            <button class="btn btn--default btn--size-s disabled dropdown-toggle"
                    data-toggle="dropdown"
                >
                Choose Action
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu datagrid-massaction__dropdown-menu"
                data-action-panel
                data-options="{&quot;container&quot;: true}">
            </ul>
        </div>
    </div>
<% } %>
