<% let oroui = _.macros('oroui') %>
<button class="btn btn--outlined btn--text sorting-btn" title="Sorting" data-role="fullscreen-sorting">
    <%= oroui.renderIcon({name: 'sorting'}) %>
</button>
<div class="sorting-popup" data-role="fullscreen-sorting-content">
    <% if (itemsList) { %>
    <div class="sorting-popup__title"><%- _.__('oro.product.frontend.datagrid.toolbar_sorting.label') %>:</div>
    <div class="sorting-popup__list">
        <% _.each(itemsList, function(item) { %>
        <div class="sorting-popup__item">
            <label class="checkbox-label sorting-popup__radio">
                <input type="radio" name="<%- item.name %>" data-role="fullscreen-sorting-switcher" value="<%- item.value %>"<% if (item.checked) { %> checked<% } %>>
                <%- item.title %>
            </label>
        </div>
        <% }) %>
    </div>
    <% } %>
</div>
