{% block __oro_line_items_grid__grid_container_head_title_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ "customer-line-items__title"
    }) %}
    <h3{{ block('block_attributes') }}>
        {{- block_widget(block) -}}
    </h3>
{% endblock %}
