{% block _quick_access_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " quick-access-container"
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _quick_access_menu_widget %}
    <ul class="primary-menu">
        {% for child in item.children %}
            <li class="primary-menu__item primary-menu__item--offset-m">
                {% set label = child.extras.custom is defined and child.extras.custom == true ? child.label : child.label|trans %}
                <a class="link" href="{{ child.uri }}">{{ label }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
