<li>
    {{- form.category.vars.label|trans -}}:&nbsp;
    {%- if form.category.vars.data is not null -%}
        {{- form.category.vars.data.defaultTitle|title -}}
    {%- else -%}
        {{- 'N/A'|trans -}}
    {%- endif -%}
</li>
