{% import '@OroCatalog/macros.html.twig' as category %}

<li>
    {{- form.category.vars.label|trans -}}:&nbsp;
    {%- if form.category.vars.data is not null -%}
        {{- category.getFullPath(form.category.vars.data)|title -}}
    {%- else -%}
        {{- 'N/A'|trans -}}
    {%- endif -%}
</li>
