<div class="category">
    {% set treeOptions = {
        'data' : oro_category_list(),
        'defaultCategoryId': defaultCategoryId
    } %}
    <label>{{ 'oro.catalog.category.entity_plural_label'|trans }}</label>
    
    <div data-page-component-module="orocatalog/js/app/components/product-sidebar-component"
         data-page-component-options="{{ treeOptions|json_encode }}"></div>
    <div class="sidebar-item include-sub-categories-choice">{{ form_row(includeSubcategoriesForm) }}</div>
</div>
