{% import 'OroUIBundle::macros.html.twig' as UI %}

{% set treeOptions = {
    'data' : oro_category_list(),
    'defaultCategoryId': defaultCategoryId,
    'view' : 'orocatalog/js/app/views/product-sidebar-view'
} %}

{{ UI.renderJsTree(
    {
        'label': 'oro.catalog.category.entity_plural_label'|trans,
        'treeOptions': treeOptions
    }
) }}

<div class="sidebar-item include-sub-categories-choice">{{ form_row(includeSubcategoriesForm) }}</div>
