/* @theme: default; */

.request-form-editnote {
    padding: $request-form-editnote-padding;
    display: grid;
    grid-template-areas:
        'toggle label'
        'body body';
    grid-template-columns: auto 1fr;
    gap: 0 spacing('sm');

    &__body {
        grid-area: body;
        display: none;
        padding-top: spacing('sm');
    }

    &__label {
        grid-area: label;
    }

    &__toggle {
        grid-area: toggle;
    }

    &__toggle:checked ~ &__body {
        display: block;
    }
}
