{% block _product_grid_row_price_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " product-item__price_mobile product-item__price_mobile_<%= themeOptions.currentRowView %>"
    }) %}
    <div {{ block('block_attributes') }}>
        <% if (!_.isEmpty(model.prices)) { %>
            {{ 'orob2b.pricing.frontend.pricelist.index.your_price'|trans }}
            <div class="product-item__price_block">
                <% _.each(model.prices, function(price, forField) { %>
                    <div><span class="fs16 blue"><%= price.formatted_price %></span> / <%= price.formatted_unit %></div>
                <% }) %>
            </div>
        <% } %>
    </div>
{% endblock %}
