{% block _product_grid_row_price_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " product-item__price_mobile product-item__price_mobile_<%= themeOptions.view %>"
    }) %}
    <div {{ block('block_attributes_raw_class') }}>
        <% if (model.price_column) { %>
            {{ 'orob2b.pricing.frontend.pricelist.index.your_price'|trans }} <span class="fs16 blue"><%= model.price_column %></span> / <%= model.price_unit_column %>
        <% } %>
    </div>
{% endblock %}
