// @theme: blank;

$hero-promo-item-position: relative !default;

$hero-promo-item-info-position: absolute !default;
$hero-promo-item-info-display: inline-block !default;
$hero-promo-item-info-top: 50% !default;
$hero-promo-item-info-right: 5% !default;
$hero-promo-item-info-width: 34% !default;
$hero-promo-item-info-transform: translate(0, -50%) !default;

$hero-promo-item-img-display: block !default;
$hero-promo-item-img-width: 100% !default;

$hero-promo-item-img-width: 100% !default;

