<div class="gjs-sm-sectors gjs-one-bg gjs-two-color">
    <div class="gjs-sm-sector no-select gjs-settings gjs-sm-open">
        <div class="gjs-sm-sector-title">
            <div class="gjs-sm-sector-caret">
                <svg viewBox="0 0 24 24"><path fill="currentColor" d="M7,10L12,15L17,10H7Z"></path></svg>
            </div>
            <div class="gjs-sm-sector-label">
                <%- _.__('oro.cms.wysiwyg.style_manager.settings') %>
            </div>
        </div>
        <div class="gjs-sm-properties" style="display: block;"></div>
    </div>
</div>
