<% var ID = _.uniqueId('dropdown-theme-selector'); %>

<div class="dropdown">
    <button class="dropdown-toggle btn btn--plain" data-toggle="dropdown" id="<%- ID %>" aria-haspopup="true" aria-expanded="false" data-prevent-close-on-menu-click="true">
        <%- currentTheme %>
    </button>

    <ul class="dropdown-menu" data-role="filterable-list" aria-labelledby="<%- ID %>">
        <li class="nav-content">
            <input type="text" name="theme-filter" placeholder="<%- _.__('oro.cms.wysiwyg.theme_selector.placeholder') %>">
        </li>
        <% _.each(options, function(option, key) { %>
            <li class="dropdown-item <% (currentTheme === key ? 'active' : '') %>" data-role="filterable-item" data-key="<%- key %>"><%- option %></li>
        <% }) %>
    </ul>
</div>
