<div class="table-responsive">
    <table>
        <thead>
            <tr>
                <th>
                    <div><%- _.__('oro.cms.wysiwyg.component.table.header_cell_label') %></div>
                </th>
                <th>
                    <div><%- _.__('oro.cms.wysiwyg.component.table.header_cell_label') %></div>
                </th>
                <th>
                    <div><%- _.__('oro.cms.wysiwyg.component.table.header_cell_label') %></div>
                </th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>
                    <div><%- _.__('oro.cms.wysiwyg.component.table.body_cell_label') %></div>
                </td>
                <td>
                    <div><%- _.__('oro.cms.wysiwyg.component.table.body_cell_label') %></div>
                </td>
                <td>
                    <div><%- _.__('oro.cms.wysiwyg.component.table.body_cell_label') %></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div><%- _.__('oro.cms.wysiwyg.component.table.body_cell_label') %></div>
                </td>
                <td>
                    <div><%- _.__('oro.cms.wysiwyg.component.table.body_cell_label') %></div>
                </td>
                <td>
                    <div><%- _.__('oro.cms.wysiwyg.component.table.body_cell_label') %></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
