{% extends '@OroUI/actions/index.html.twig' %}
{% import '@OroUI/macros.html.twig' as UI %}
{% set pageTitle = 'oro.product.brand.menu.entity_plural_label'|trans %}

{% block navButtons %}
    {% import '@OroUI/macros.html.twig' as UI %}

    {% if is_granted('oro_product_brand_create') %}
        <div class="btn-group">
            {{ UI.addButton({
                'path': path('oro_product_brand_create'),
                'entity_label': 'oro.product.brand.entity_label'|trans})
            }}
        </div>
    {% endif %}
    {{ parent() }}
{% endblock navButtons %}
