{% block title_widget -%}
    {% apply spaceless %}
        <title>{{ value }}</title>
    {% endapply %}
{% endblock %}

{% block _cms_page_content_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " cms-page"
    }) %}

    {{ parent_block_widget(block) }}
{% endblock %}
