{% block _cms_page_content_widget %}
    {% set attr = attr|merge({
    class: attr.class|default('') ~ " cms-page"
    }) %}
    <div{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}
