.hero-promo {
    .embedded-list-slider {
        &:before {
            display: none;
        }
    }

    .embedded-list__item {
        width: 100%;

        &:not(:first-child)&:not(.slick-slide) {
            //hide until slick not loaded
            display: none;
        }
    }
}
