/* @theme: default; */

$order-review-options-background: get-color('additional', 'base') !default;
$order-review-options-offset: 0 0 24px !default;
$order-review-options-inner-offset: 28px 32px !default;
