// @theme: default;

.localization-switcher {
    &__toggle {
        padding: $localization-switcher-toggle-offset-inner;
        margin: $localization-switcher-toggle-offset;
        height: $localization-switcher-toggle-height;

        line-height: $localization-switcher-toggle-height;

        border: 0;
        background: none;

        outline: none;
        cursor: pointer;
    }

    &.open {
        .localization-switcher__toggle {
            box-shadow: $localization-switcher-toggle-open-box-shadow;
        }
    }

    .dropdown-menu {
        margin: 0;
    }
}

.fullscreen-mode {
    .localization-switcher {
        &__toggle {
            display: none;
        }

        .dropdown-menu {
            display: block !important;
            position: static;
            min-width: 0;
            width: 100%;
            padding: 0;
            margin: 0;
            border: 0;
            box-shadow: none;
        }
    }
}
