// @theme: default;

.footer-nav {
    width: 60%;

    &__title {
        margin: 0 0 15px;

        font-size: $base-font-size--large;
        line-height: 1;

        white-space: nowrap;
        text-transform: uppercase;
    }

    &__list {
        margin: 0 0 50px;

        @include list-normalize();
    }

    &__item {
        margin: 15px 0 0;
    }

    &__link {
        color: get-color('additional', 'dark');

        &:hover {
            color: get-color('additional', 'dark');
        }
    }

    &__icon {
        display: none;
    }

    &__column {
        float: left;

        width: 33.3333%;
        padding: 0 0 0 13%;
    }
}

@include breakpoint('tablet-small') {
    .footer-nav {
        width: 100%;
    }
}

@include breakpoint('mobile') {
    .footer-nav {
        width: 100%;
        margin-top: -50px;

        &__title {
            margin: 0;
            padding: 20px 10px;
        }

        &__list {
            margin: 0 0 20px;
            padding: 0 25px;
        }

        &__icon {
            display: inline-block;

            margin-right: 5px;

            vertical-align: baseline;
        }

        &__column {
            float: none;

            width: 100%;
            padding: 0;

            border-top: 1px solid get-color('additional', 'light');
        }

        &__column.expanded &__icon {
            transform: rotate(90deg);
        }
    }
}
