.wrapper {
  &.sales-mode {
    padding-top: 11px;

    transition: transform .2s linear;

    @media (max-width: $screen-md) {
      padding-top: 0;

      transform: translate3d(0, 0, 0);
    }
  }
}

//Bootstrap override
.container-fluid,
.main {
  max-width: $site-width;
  margin: 0 auto;
}

.main {
  width: 100%;
  margin: 30px auto 70px;
  padding: 0 15px;

  display: flex;

  &_home {
    max-width: 100%;
  }

  @include clearfix();

  @media (max-width: $screen-sm) {
    margin-bottom: 0;
  }

  &.sticky-nav {
    @media (max-width: $screen-md) {
      padding-top: 5rem;
    }
  }
}

@include breakpoint('tablet-small') {
  .main {
    flex-direction: column;
  }
}

//Links
a {
  color: get-color('ui', 'normal');

  &.red {
    &:hover, &:focus, &:active {
      color: get-color('primary', 'dark');
    }
  }

  &:hover {
    color: get-color('ui', 'normal');
    text-decoration: underline;
  }
}
