.wrapper {
  &.sales-mode {
    padding-top: 11px;

    transition: transform .2s linear;

    @media (max-width: $screen-md) {
      padding-top: 0;

      transform: translate3d(0, 0, 0);
    }
  }
}

//Bootstrap override
.container-fluid {
  max-width: $site-width;
  margin: 0 auto;
}

//Links
a {
  color: get-color('ui', 'normal');

  &.red {
    &:hover, &:focus, &:active {
      color: get-color('primary', 'dark');
    }
  }

  &:hover {
    color: get-color('ui', 'normal');
    text-decoration: underline;
  }
}
