.__form__row {
  margin: 0 0 20px;
}

label.required:after {
  content: "*";

  margin-left: 2px;

  color: get-color('ui', 'error-dark');

}

.form__col {
  margin: 0 0 15px;
  padding: 0 5px;

  @include clearfix();

  &.no-padding {
    padding: 0;
  }
}

// Reset styles for select2 from platform styles
.form-horizontal {
  .oro-select2 {
    width: auto;
    max-width: inherit;
  }
}
