body {
  .ui-datepicker {
    padding: 4px 10px 7px;

    font-family: $base-font !important; //Platform override

    border-radius: 6px;

    .ui-datepicker-buttonpane {
      display: none;
    }

    .ui-datepicker-calendar {
      td {
        vertical-align: middle;

        width: 20px;
        height: 20px;
        padding: 1.5px;

        text-align: center;

        border: none;
      }

      th {
        padding: 4px;

        span {
          vertical-align: middle;

          color: get-color('additional', 'middle');

          font-weight: 400;
        }
      }

      tr:hover {
        background: none;
      }

      .ui-datepicker-today {
        .ui-state-default {
          border-color: white;

          &:hover {
            border-color: white;
          }
        }
      }

      .ui-state-disabled {
        .ui-state-default {
          color: get-color('additional', 'middle');
        }
      }

      a.ui-state-default {
        padding: 5px 6px;

        font-size: $base-font-size;

        background: none;
        color: get-color('additional', 'dark');

        border-radius: 4px;

        &.ui-state-active,
        &:hover {
          border-color: transparent;
          background: get-color('additional', 'middle');
        }

        &.ui-state-active {
          border: 0;

          background: get-color('primary', 'base');
          color: get-color('additional', 'ultra');
          text-shadow: 0 -1px 0 rgba(0,0,0,.25);
        }
      }
    }

    .ui-datepicker-header {
      padding: 5px 0;

      border: none;

      background: none;
    }

    .ui-widget-header {

      .ui-datepicker-next,
      .ui-datepicker-prev {
        &:before {
          vertical-align: middle;

          content: '';

          display: inline-block;
          width: 8px;
          margin-left: 8px;
          margin-top: 3px;
        }

        span {
          background: none;
        }
      }

      .ui-datepicker-next {
        &:before {
          right: 4px;

          border-top: 7px solid transparent;
          border-bottom: 7px solid transparent;
          border-left: 7px solid get-color('additional', 'middle');
        }
      }

      .ui-datepicker-prev {
        &:before {
          margin-left: 0;

          border-top: 7px solid transparent;
          border-bottom: 7px solid transparent;
          border-right: 7px solid get-color('additional', 'middle');
        }
      }

      .ui-datepicker-next-hover,
      .ui-datepicker-prev-hover {
        top: 6px;

        background: get-color('additional', 'base');
        border-color: transparent;

        border-radius: 4px;
      }

      .ui-datepicker-prev-hover {
        right: 4px;
      }
      .ui-datepicker-prev-hover {
        left: 4px;
      }
    }
    .ui-datepicker-title {
      color: get-color('additional', 'dark');

      font-size: $base-font-size + 1;
      font-weight: 100;
    }
  }
}
