
.dropdown-menu-calendar {
    &.dropdown-menu {
        min-width: 270px;
        padding: 0;

        background: get-color('additional', 'ultra');

        @media (max-width: $screen-md) {
            min-width: 260px;
        }

        .nav-tabs-oro {
            > li {
                &.active {
                    color: get-color('additional', 'dark');
                }

                > a {
                    color: get-color('additional', 'dark');
                }
            }
        }

        .tab-content {
            padding: 10px 8px 15px;
        }

        .ui-datevariables-div {
            .fa-info-circle {
                margin-left: 5px;

                vertical-align: middle;
            }
        }

        .ui-datepicker {
            .ui-datepicker-buttonpane {
                margin: 5px 0 0;

                button {
                    &.ui-datepicker-current {
                        display: inline-block;
                        vertical-align: middle;
                        padding: 5px 12px;
                        border: 0;
                        border-radius: 4px;

                        background: get-color('additional', 'darker');
                        color: get-color('additional', 'ultra');
                        font-size: 13px;
                        font-weight: 400;
                        line-height: 1.42857143;
                        text-align: center;
                        white-space: nowrap;
                        text-shadow: none;

                        &:active {
                            color: get-color('additional', 'ultra');
                            box-shadow: inset 0 3px 5px 0 rgba(0,0,0,.35);
                        }
                    }
                }
            }

            .ui-datepicker-header {
                display: flex;
                align-items: center;
                padding: 5px 5px 10px;
                border: 0;

                background: transparent;

                .ui-datepicker-prev {
                    flex-basis: 27px;
                    height: 29px;
                    order: 1;
                    border: 0;

                    font-size: 0;
                    line-height: 29px;
                    text-align: center;

                    cursor: pointer;

                    span {
                        display: block;
                        width: 0;
                        height: 0;
                    }

                    &:hover {
                        border: 0;

                        background: get-color('additional', 'base');
                    }

                    &:before {
                        content: "";
                        display: inline-block;
                        vertical-align: middle;
                        border-top: 7px solid transparent;
                        border-bottom: 7px solid transparent;
                        border-right: 7px solid get-color('additional', 'base');
                    }
                }

                .ui-datepicker-next {
                    flex-basis: 27px;
                    height: 29px;
                    order: 3;
                    border: 0;

                    font-size: 0;
                    line-height: 29px;
                    text-align: center;

                    cursor: pointer;

                    span {
                        display: block;
                        height: 0;
                        width: 0;
                    }

                    &:hover {
                        border: 0;

                        background: get-color('additional', 'base');
                    }

                    &:before {
                        content: "";
                        display: inline-block;
                        vertical-align: middle;
                        border-top: 7px solid transparent;
                        border-bottom: 7px solid transparent;
                        border-left: 7px solid get-color('additional', 'base');
                    }
                }

                .ui-datepicker-title {
                    order: 2;
                    flex-grow: 1;

                    text-align: center;

                    select {
                        display: inline-block;
                        padding: 8px 9px;
                        border: 1px solid get-color('additional', 'light');
                        border-radius: 5px;

                        background: get-color('additional', 'ultra');
                        font-size: $base-font-size;
                        line-height: 1.36;
                    }
                }
            }

            table.ui-datepicker-calendar {
                width: 100%;
                border-collapse: separate;
                border-spacing: 5px;

                thead {
                    th {
                        text-align: center;

                        span {
                            vertical-align: middle;

                            color: get-color('additional', 'ultra');
                            font-weight: 400;
                            text-transform: none;
                        }
                    }
                }

                tbody {
                    tr {
                        td {
                            text-align: center;

                            a.ui-state-default {
                                display: block;
                                border: 0;

                                text-decoration: none;
                                line-height: 29px;

                                &:active, &:focus, :visited {
                                    text-decoration: none;
                                }

                                &.ui-state-active {
                                    background: get-color('primary', 'base');
                                    color: get-color('additional', 'ultra');

                                    &.ui-state-hover {
                                        background:get-color('primary', 'base');
                                        color: get-color('additional', 'ultra');
                                    }
                                }

                                &.ui-state-hover {
                                    background: get-color('additional', 'base');
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
