/* @theme: default; */

$coupon-container-container-offset: $offset-y-s 0 $offset-x !default;
$coupon-container-content-inner-offset: $offset-x-m 0 !default;

$coupon-container-form-offset: $offset-y-s 0 $offset-x !default;

$coupon-container-input-wrap-width: 260px !default;
$coupon-container-input-wrap-inner-offset: 0 $offset-y-m 0 0 !default;

// Mobile

$coupon-container-input-wrap-mobile-width: 230px !default;
