/* @theme: default; */

$coupon-container-width: 280px !default;
$coupon-container-float: right !default;
$coupon-container-clear: $coupon-container-float !default;
$coupon-container-padding: 20px !default;

$coupon-container-content-inner-offset: 12px 0 0 !default;

$coupon-container-input-wrap-width: 240px !default;
$coupon-container-input-wrap-inner-offset: 0 0 $offset-y-m !default;

// Mobile
$coupon-container-mobile-width: 100% !default;
$coupon-container-mobile-float: none !default;

$coupon-container-input-wrap-mobile-width: 230px !default;
