{#{% block _product_grid_row_main_container_widget %}#}
    {#<script id="template-grid-row" type="text/template">#}
        {#<div {{ block('block_attributes') }}>#}
            {#{{ block_widget(block) }}#}
        {#</div>#}
    {#</script>#}
{#{% endblock %}#}
