# Configuration for https://github.com/oroinc/phpstan-rules/
trusted_data:
    variables:
        Oro\Bundle\CatalogBundle\Entity\Repository\CategoryRepository:
            findByTitlesPathQueryBuilder:
                parentAlias: true
                index: true
    safe_methods:
        Oro\Bundle\CatalogBundle\EventListener\ExportDatagridListener:
            applyCategory: true
            applyIncludeNotCategorizedProducts: true
            getCategoryFilterField: true
        Oro\Bundle\CatalogBundle\ImportExport\Datagrid\CategoryFilterInterface:
            getFieldName: true
