<div class="shoppinglist-popover">
    <span class="fa--loader-icon fa--no-offset" aria-hidden="true"></span>
    <picture>
        <% _.each(typeof popover_image_sources !== 'undefined' && popover_image_sources ? popover_image_sources : [], function(source) { %>
            <% if (source.srcset && source.srcset !== src) { %>
                <source srcset="<%- source.srcset %>" type="<%- source.type %>">
            <% } %>
        <% }); %>
        <img src="<%- src %>" alt="<%- title %>" class="shoppinglist-popover--image">
    </picture>
</div>
