<% let clipLength = 30 %>
<% let oroshoppinglist = _.macros('oroshoppinglist') %>
<div class="product-item">
    <div class="grid-line-items">
        <div class="grid-line-items__row grid-line-items__row--offset-y-end"
             data-page-component-init-on="click,focusin">
           <%= oroshoppinglist.renderProductItemImage({
                src: obj.image,
                placeholder: _metadata.image_placeholder,
                productId: productId,
                title: sku,
                alt: name
            }) %>
        </div>
        <div class="grid-line-items__row">
            <% if (!obj.productConfiguration) { %>
                <div class="grid-line-items__row-item grid-line-items__row-item-title-container">
                    <% if (name.length <= clipLength) { %>
                        <%= oroshoppinglist.renderProductItemName({link: link, name: name}) %>
                    <% } else {%>
                    <div class="grid-line-items__clip-title-container">
                        <%= oroshoppinglist.renderProductItemName({clip: true, link: link, name: name}) %>
                    </div>
                    <% } %>
                </div>
                <div class="grid-line-items__row-item grid-line-items__row-item--simple mobile-row show-in-tablet">
                    <span>
                        <%- _.__('oro.frontend.shoppinglist.label') %>&nbsp;<span class="product-item__sku-value"><%- sku %></span>
                    </span>
                    <% if (!isConfigurable) { %>
                        <%= oroshoppinglist.renderInventoryStatus(inventoryStatus) %>
                    <% } %>
                </div>
                <% if (note) { %>
                <div class="grid-line-items__row-item grid-line-items__row-item--simple"
                     data-page-component-init-on="click,mouseover">
                    <%= oroshoppinglist.renderNote({note: note}) %>
                </div>
                <% } %>
            <% } else { %>
                <div class="grid-line-items__row-item mobile-row">
                    <div class="grid-line-items__row-item highlighted-in-tablet"><%- sku %></div>
                    <div class="grid-line-items__row-item show-in-tablet">
                        <%= oroshoppinglist.renderInventoryStatus(inventoryStatus) %>
                    </div>
                </div>
                <div class="grid-line-items__row-item grid-line-items__configuration">
                    <% _.each(productConfiguration, function(field) { %>
                    <div class="grid-line-items__field">
                        <span class="grid-line-items__field-val"><%- field.label %>:</span>
                        <span class="grid-line-items__field-val bold"><%- field.value %></span>
                    </div>
                    <% }) %>
                </div>
                <% if (note) { %>
                <div class="grid-line-items__row-item"
                     data-page-component-init-on="click,mouseover">
                    <%= oroshoppinglist.renderNote({note: note}) %>
                </div>
                <% } %>
            <% } %>
        </div>
    </div>
</div>

<% if (isUpcoming || obj.errors && errors.length) { %>
<div class="notification-container">
    <%= oroshoppinglist.renderUpcoming({isUpcoming: isUpcoming, availabilityDate: obj.availabilityDate}) %>
    <%= oroshoppinglist.renderErrors({errors: errors}) %>
</div>
<% } %>
