<div class="mobile-row">
    <span class="bold show-in-mobile"><%- _metadata.label %>:</span>
    <span>
        <% if (!_.isEmpty(units)) { %>
            <form action="#">
                <input type="number" class="input product__qty-input" name="product_qty" placeholder="<%- _metadata.label %>" value="<%- quantity %>" required/>
            </form>
        <% } else { %>
            <span><%- quantity %><span class="show-in-mobile">&nbsp;<%- unit %></span></span>
        <% } %>
    </span>
</div>
