<% let oroshoppinglist = _.macros('oroshoppinglist') %>
<% if (obj.isConfigurable) { %>
    <div class="mobile-row label-in-mobile-start label-bold-in-mobile line-item-configurable" data-label="<%- _metadata.label %>:">
        <% if (quantity) { %>
            <% var formattedQuantity = oroshoppinglist.quantityHelper.formatQuantity(quantity, precision) %>
            <%- _.__('oro.product.product_unit.' + unit + '.value.full', {count: formattedQuantity}, quantity) %>
        <% } else { %>
            <%- _.__('oro.shoppinglist.lineitem.empty_configurable_product') %>
        <% } %>
    </div>
<% } else if (obj._isKitItemLineItem) { %>
    <div class="line-item-container">
        <% var formattedQuantity = oroshoppinglist.quantityHelper.formatQuantity(quantity, precision) %>
        <%- _.__('oro.product.product_unit.' + unit + '.value.full', {count: formattedQuantity}, quantity) %>
    </div>
<% } else { %>
    <div class="line-item-container">
        <% var _formattedUnit = oroshoppinglist.renderUnit({unit: unitCode, quantity: 1}) %>
        <div tabindex="0" class="input input-qty"><%- oroshoppinglist.quantityHelper.formatQuantity(quantity, precision) %></div>
        <div class="select" tabindex="0" data-focused=".select2-container" title="<%- _formattedUnit.trim() %>"><%- _formattedUnit.trim() %></div>
    </div>
<% } %>
