<% let oroshoppinglist = _.macros('oroshoppinglist') %>
<% if (!obj.isConfigurable) { %>
    <div class="line-item-container">
        <div tabindex="0" class="input input-qty"><%- quantity %></div>
        <div class="select" tabindex="0" data-focused=".select2-container"><%- unitCode %></div>
    </div>
<% } else { %>
    <div class="mobile-row label-in-mobile-start label-bold-in-mobile line-item-configurable">
        <span class="label-in-mobile-end" data-label="&nbsp;<%- unit %>"><%- oroshoppinglist.numberFormatter.formatDecimal(quantity) %> <%- unit %></span>
    </div>
<% } %>
