<% if (subtotal !== null) { %>
    <% if (discount !== null) { %>
    <div class="mobile-row label-in-mobile-start label-bold-in-mobile" data-name="price-value" data-label="<%- _.__('oro.frontend.shoppinglist.initial_subtotal.label') %>:"><s><%- initial_subtotal %></s></div>
    <div class="mobile-row label-in-mobile-start label-bold-in-mobile" data-name="price-value" data-label="<%- _.__('oro.frontend.shoppinglist.discount.label') %>:">-<%- discount %></div>
    <% } %>
<div class="bold mobile-row label-in-mobile-start" data-name="price-value" data-label="<%- _metadata.label %>:"><%- subtotal %></div>
<% } else { %>
<div class="bold mobile-row label-in-mobile-start" data-name="price-not-found"
     data-label="<%- _metadata.label %>:"><%- _.__('oro.pricing.product_prices.price_not_found.short_label') %></div>
<% } %>
