@charset "UTF-8";

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url('../fonts/MaterialIcons-Regular.ttf') format('truetype'),
       url('../fonts/MaterialIcons-Regular.woff2') format('woff2'),
       url('../fonts/MaterialIcons-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/roboto-regular-webfont.eot');
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/roboto/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto/roboto-regular-webfont.ttf') format('truetype'),
    url('../fonts/roboto/roboto-regular-webfont.woff2') format('woff2'),
    url('../fonts/roboto/roboto-regular-webfont.woff') format('woff'),
    url('../fonts/roboto/roboto-regular-webfont.svg#robotoregular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-regular-webfont.eot');
  src: local('Lato Regular'), local('Lato-Regular'), url('../fonts/lato/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/lato/lato-regular-webfont.ttf') format('truetype'),
  url('../fonts/lato/lato-regular-webfont.woff2') format('woff2'),
  url('../fonts/lato/lato-regular-webfont.woff') format('woff'),
  url('../fonts/lato/lato-regular-webfont.svg#latoregular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-bold-webfont.eot');
  src: local('Lato Bold'), local('Lato-Bold'), url('../fonts/lato/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/lato/lato-bold-webfont.ttf') format('truetype'),
  url('../fonts/lato/lato-bold-webfont.woff2') format('woff2'),
  url('../fonts/lato/lato-bold-webfont.woff') format('woff'),
  url('../fonts/lato/lato-bold-webfont.svg#latobold') format('svg');
  font-weight: 700;
  font-style: normal;
}
