label, select, button, input[type="button"], input[type="reset"], input[type="submit"], input[type="radio"], input[type="checkbox"] {
    cursor: pointer;
}

input[type="text"],
input[type="number"] {
    .input();
}

div.input-widget-select{
    padding: 1.1rem .9rem;
    font-size: 1.4rem;
    .bordered(.1rem, solid, @base-border-color);
    .radiused(.5rem);
    position: relative;

    select {
        padding: 1.1rem .9rem;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: 1;
    }

    span {
        &:after {
            content: "\f0dd";
            margin: 3px 2px 0 0;
            display:inline-block;
            font:16px 'FontAwesome';
            position: absolute;
            right: 5px;
        }
    }
}

.__form__row {
    margin: 0 0 2rem;
}
