.star-on-png, .star-off-png {
  font-size: 1.6rem;
  color: @theme-raty-color;
}

@font-face {
  font-family: 'entypo';
  src: url('../fonts/entypo.eot');
  src: url('../fonts/entypo.eot?#iefix') format('embedded-opentype'),
       url('../fonts/entypo.woff') format('woff'),
       url('../fonts/entypo.ttf') format('truetype'),
       url('../fonts/entypo.svg#entypo') format('svg');
  font-weight: normal; font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: entypo;
  font-style: normal;
  display: inline-block;
  width: 1.1em;
  margin-right: .1em;
  text-align: center;
}

.star-on-png, .star-off-png {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'entypo';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

.star-on-png {
  &:before {
    content: "\2605";
  }
}

.star-off-png {
  &:before {
    content: "\2606";
  }
}
