.input-prepend .select2-container,
.input-append .select2-container {
  height: auto;
}

.select2-container.input.input_block {
  display: inline-block;
  width: auto;
  min-width: 270px;
}

.icon-bars:before {
  content: "\f03a";
}
