.input-prepend .select2-container,
.input-append .select2-container {
  height: auto;
}

.select2-container {
  display: inline-block;

  width: auto;

  min-width: 270px;

  padding: 11px 9px;
}

.icon-bars:before {
  content: "\f03a";
}

.select2-container-multi .select2-choices .select2-search-field input {
  margin: 0;
  padding: 0;
}

.select2-container-multi .select2-choices {
  min-height: 18px;
}

.select2-container .select2-choice {
  height: auto;
  line-height: inherit;
}

.select2-container a.select2-choice .select2-chosen {
  padding: 0 3rem 0 0;
  max-width: 23rem;
}

.select2-container .select2-choice .select2-arrow {
  top: 3px;
}

.select2-search input{
  padding: 11px 9px;

  font-size: @font-size;
  line-height: 1;

  border: 1px solid @base-border-color;
  border-radius: 5px;
}

.select2-container .select2-choice .select2-search-choice-close:before{
  top: -1px;
}

.select2-container-multi .select2-choices .select2-search-choice {
  margin: 3px 5px 3px 5px;
}
