input.error, div.input-widget-select.error {
    border: .1rem solid @theme-input-error;
    box-shadow: 0 .1rem .7rem 0 rgba(223,96,96,.6);
}
span.validation-failed {
    display: block;
    padding: 0 1rem;
    line-height: 2.4rem;
    min-height: 2.4rem;
    font-size: 1.3rem;

    .radiused(.3rem);

    background: @theme-error-bg-color;
    color: @theme-error-font-color;

    &:before {
        content: "\e900";
        font-style: normal;
        display: inline-block;
        width: 1.1em;
        margin-right: .1em;
        text-align: center;
    }
}
