@import 'variables';

@font-face {
    font-family: '#{$icomoon-font-family}';
    src:
        url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?nde78s') format('truetype'),
        url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?nde78s') format('woff'),
        url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?nde78s##{$icomoon-font-family}') format('svg');
    font-weight: font-weight('light');
    font-style: normal;
}

[class^='gjs-icon-'],
[class*=' gjs-icon-'] {
    /* use !important to prevent issues with browser extensions that change fonts */
    // stylelint-disable-next-line declaration-no-important
    font-family: '#{$icomoon-font-family}' !important;
    speak: none;
    font-style: normal;
    font-weight: font-weight('light');
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.gjs-icon-flex-al-str {
    &::before {
        content: $gjs-icon-flex-al-str;
    }
}

.gjs-icon-flex-al-center {
    &::before {
        content: $gjs-icon-flex-al-center;
    }
}

.gjs-icon-flex-al-end {
    &::before {
        content: $gjs-icon-flex-al-end;
    }
}

.gjs-icon-flex-al-start {
    &::before {
        content: $gjs-icon-flex-al-start;
    }
}

.gjs-icon-flex-dir-col-rev {
    &::before {
        content: $gjs-icon-flex-dir-col-rev;
    }
}

.gjs-icon-flex-dir-col {
    &::before {
        content: $gjs-icon-flex-dir-col;
    }
}

.gjs-icon-flex-dir-row-rev {
    &::before {
        content: $gjs-icon-flex-dir-row-rev;
    }
}

.gjs-icon-flex-dir-row {
    &::before {
        content: $gjs-icon-flex-dir-row;
    }
}

.gjs-icon-flex-just-end {
    &::before {
        content: $gjs-icon-flex-just-end;
    }
}

.gjs-icon-flex-just-sp-ar {
    &::before {
        content: $gjs-icon-flex-just-sp-ar;
    }
}

.gjs-icon-flex-just-sp-bet {
    &::before {
        content: $gjs-icon-flex-just-sp-bet;
    }
}

.gjs-icon-flex-just-sp-cent {
    &::before {
        content: $gjs-icon-flex-just-sp-cent;
    }
}

.gjs-icon-flex-just-start {
    &::before {
        content: $gjs-icon-flex-just-start;
    }
}
