$icomoon-font-family: 'grapsejs' !default;
$icomoon-font-path: '~bundles/orocms/fonts/grapsejs/fonts' !default;

$gjs-icon-flex-al-str: '\e900';
$gjs-icon-flex-al-center: '\e901';
$gjs-icon-flex-al-end: '\e902';
$gjs-icon-flex-al-start: '\e903';
$gjs-icon-flex-dir-col-rev: '\e904';
$gjs-icon-flex-dir-col: '\e905';
$gjs-icon-flex-dir-row-rev: '\e906';
$gjs-icon-flex-dir-row: '\e907';
$gjs-icon-flex-just-end: '\e908';
$gjs-icon-flex-just-sp-ar: '\e909';
$gjs-icon-flex-just-sp-bet: '\e90a';
$gjs-icon-flex-just-sp-cent: '\e90b';
$gjs-icon-flex-just-start: '\e90c';
