$icomoon-font-family: 'grapesjs' !default;
$icomoon-font-path: '~bundles/orocms/fonts/grapsejs/fonts' !default;

$gjs-icon-f-b37: '\e901';
$gjs-icon-f-b3: '\e902';
$gjs-icon-f-b1: '\e900';
$gjs-icon-f-b2: '\e903';
$gjs-icon-flex-al-str: '\e904';
$gjs-icon-flex-al-center: '\e905';
$gjs-icon-flex-al-end: '\e906';
$gjs-icon-flex-al-start: '\e907';
$gjs-icon-flex-dir-col-rev: '\e908';
$gjs-icon-flex-dir-col: '\e909';
$gjs-icon-flex-dir-row-rev: '\e90a';
$gjs-icon-flex-dir-row: '\e90b';
$gjs-icon-flex-just-end: '\e90c';
$gjs-icon-flex-just-sp-ar: '\e90d';
$gjs-icon-flex-just-sp-bet: '\e90e';
$gjs-icon-flex-just-sp-cent: '\e90f';
$gjs-icon-flex-just-start: '\e910';
