# Configuration for https://github.com/oroinc/phpstan-rules/
trusted_data:
    variables:
        Oro\Bundle\PaymentBundle\Entity\Repository\PaymentStatusRepository:
            findAvailablePaymentStatusesForEntityClass:
                entityClass: true
