/* @theme: custom; */

.checkout-container {
    padding-left: 235px;
}

.checkout {
    overflow: hidden;
}

.checkout-navigation {
    margin: 0;
}

@include breakpoint('tablet') {
    .checkout-container {
        padding-left: 0;
    }
 }
