/* @theme: custom; */

.checkout-container {
    padding-left: $page-sidebar-width;
}

.checkout-sidebar {
    &--inner-invader {
        float: left;
        width: 220px;
    }
}

.checkout {
    overflow: hidden;
}

.checkout-navigation {
    margin: 0;
}

@include breakpoint('tablet') {
    .checkout-container {
        padding-left: 0;
    }
}
