/* @theme: custom; */

.checkout-container {
    float: right;
    width: calc(#{$page-content-width} - #{$page-sidebar-width});
}

.checkout-sidebar {
    &--inner-invader {
        float: left;
        width: 220px;
    }
}

.checkout {
    overflow: hidden;
}

.checkout-navigation {
    margin: 0;
}

.checkout-form__payment-container {
    max-width: 400px;
}

@include breakpoint('tablet') {
    .checkout-container {
        width: $page-sidebar-tablet-s-width;
    }
}
