/* @theme: default; */

.checkout-form {
    display: flex;
    flex-direction: column;
    gap: spacing('base');

    &__billing-address,
    &__shipping-address {
        grid-gap: #{spacing('xs')} #{spacing('base')};
    }

    &__address-form {
        --grid-auto-rows: max-content;
        --grid-gap: #{spacing('xl')} #{spacing('base')};

        grid-gap: #{spacing('xl')} #{spacing('xxxl')};
        max-width: 850px;
        margin-bottom: spacing('lg');

        .ui-dialog & {
            max-width: 100%;
        }
    }

    &__select-container {
        display: $checkout-form-select-container-display;
        flex-direction: $checkout-form-select-container-flex-direction;
        justify-content: $checkout-form-select-container-justify-content;
        align-items: $checkout-form-select-container-align-items;
    }

    &__select {
        &--exp-month {
            flex-basis: $checkout-form-select-exp-month-width;
            margin: 0 spacing('sm') 0 0;
        }

        &--exp-year {
            flex-basis: $checkout-form-select-exp-year-width;
        }
    }

    &__datepicker {
        .datepicker-input {
            max-width: none;
        }
    }

    &__datepicker,
    &__optional-ref-number,
    &__order-notes {
        margin: 0 0 spacing('sm');
    }

    &__payment-label {
        display: block;
        margin: $checkout-form-payment-label-margin;

        font-weight: $checkout-form-payment-label-font-weight;
    }

    &__payment-container {
        margin: $checkout-form-payment-container-margin;
    }

    &__payment-methods {
        padding: $checkout-form-payment-methods-padding;

        background: $checkout-form-payment-methods-background-color;

        border-radius: $checkout-form-payment-methods-border-radius;

        max-width: $checkout-form-payment-methods-max-width;
    }

    &__payment-methods-authorized-card {
        margin: 0 0 spacing('sm');
    }

    &__payment-methods-authorized-card-handle,
    &__payment-methods-different-card-handle {
        display: block;
        margin-bottom: spacing('base');
    }

    &__payment-methods-list {
        @include list-normalize();
        @include clearfix();

        margin: $checkout-form-payment-methods-list-form-margin;
    }

    &__payment-methods-item {
        float: $checkout-form-payment-methods-item-float;
        margin: $checkout-form-payment-methods-item-margin;
    }

    &__payment-methods-form {
        .form-row:not(:last-child) {
            margin-bottom: spacing('base');
        }
    }

    &__asterix {
        margin: $checkout-form-asterix-offset;

        color: $checkout-form-asterix-color;
    }

    &__buttons {
        display: grid;
        grid-auto-flow: column;
        gap: spacing('base') spacing('sm');
    }

    & &__buttons {
        align-self: start;
    }

    &__back {
        &--no-offset {
            margin: 0;
        }

        &--offset-bottom {
            margin: $checkout-form-back-bottom-offset;
        }
    }

    &__radio {
        margin-bottom: spacing('sm');

        &:last-child {
            margin-bottom: 0;

            .checkout-form__payment-container {
                margin-bottom: 0;
            }
        }
    }

    .form-field-cvv,
    .form-field-CVV2 {
        margin-right: spacing('sm');
    }

    .checkout-group-shipping-methods {
        margin-bottom: spacing('base');
    }
}

.summary-widget__summary {
    .checkout-form__buttons {
        grid-auto-columns: 1fr;
    }
}

@include breakpoint('tablet') {
    .checkout-form {
        &__buttons {
            justify-content: space-between;

            &--full {
                display: grid;
                grid-auto-columns: 1fr;
                grid-auto-flow: column;
                gap: spacing('base') spacing('sm');
            }
        }

        &__submit {
            min-width: $checkout-form-submit-tablet-min-width;
            width: $checkout-form-submit-tablet-width;
        }
    }

    .summary-collapse-content:not(.show) {
        .checkout-form {
            &__buttons {
                &--full {
                    grid-auto-columns: minmax(auto, 360px);
                    justify-content: end;
                }
            }
        }
    }
}

@include breakpoint('mobile-big') {
    .checkout-form {
        &__payment-methods {
            max-width: 100%;
        }
    }
}

@include breakpoint('mobile-landscape') {
    .summary-collapse-content:not(.show) {
        .checkout-form {
            &__buttons {
                &--full {
                    grid-auto-flow: column;
                    grid-auto-columns: 1fr;
                    justify-content: initial;
                }
            }
        }
    }
}

@include breakpoint('mobile') {
    .checkout-form {
        &__back {
            text-align: right;
        }
    }
}
