{% block website_search_query_string_widget %}
    <h2 class="website-search-query-string-message">{{ 'oro.website_search.search_results.label'|trans }} "{{ search }}"</h2>
{% endblock %}

{% block website_search_type_buttons_widget %}
    <div class="website-search-type-buttons-container">
        <div>
            {% for key, button in buttons %}
                <a href="{{ path('oro_website_search_results', { 'searchType': key, 'search': search }) }}"
                   class="btn btn--{% if (app.request.get('searchType') == key) %}info{% else %}default{% endif %}">
                    {{ button.label|trans }}
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
