.customer_user_form {
  @extend %customer-form;

  .form-field-roles label {
    display: block;
  }
}

@include breakpoint('mobile'){
  .profile__form__row {
    legend {
      display: block;
      width: 100%;
    }
  }

}

.profile__form__req-text {
  display: inline-block;
  margin-left: 21rem;
  color: #b84926;
}

.profile__form__no-autocomplete-fix {
  height: 0;
  padding: 0;
  visibility: hidden;
  border: none;
}

.customer-profile-edit-page {
  .password {
    overflow: hidden;
  }
}

.oro-customer-user-address__add-link {
  a {
    i {
      margin-right: 0.3rem;
    }
  }
}

.oro-customer-user-role__back-link {
  padding-left: 0;
}

.user-page-title { //Remove after replacing this class by '.page-subtitle' class where it's used
  font-size: 16px;
  line-height: 2;
  font-weight: 400;
  text-transform: uppercase;
}
