.user-page {
  .oro-customer__block {
    margin-top: 15px;
  }

  .oro-customer__controls-list {
    position: relative;
    z-index: 1;
    float: right;
    margin: 0 15px 0 0;
  }
}

//TODO: Find dependent widget
.profile__form__row {
  position: relative;

  legend {
    text-transform: uppercase;
    padding: 2rem 0;
    margin: 0 0 2rem 0;
    border-bottom: 1px solid #e6e6e6;
    font-size: 1.6rem;
  }

  .field {
    margin: 0 0 1.5rem;
  }

  .profile__form__col.col_first{
    padding-right: 2rem;
  }

  .profile__form__col.col_last{
    padding-left: 2rem;
  }
}

.profile__form__fields_container{
  margin: 0 0 2rem 0;
}

.profile__form__col.form__col_x6 {
  width: 50%;
}

@include breakpoint('mobile'){
  .profile__form__row {
    legend {
      display: block;
      width: 100%;
    }

    .profile__form__col.col_first{
      padding-right: 0;
    }

    .profile__form__col.col_last{
      padding-left: 0;
    }
  }

  .profile__form__col.form__col_x6{
    width: 100%;
  }
}

.profile__form__col {
  float: left;
}

.profile__form__req-text {
  position: absolute;
  left: 21rem;
  top: -3.2rem;
  color: #b84926;
}

.profile__form__no-autocomplete-fix {
  height: 0;
  padding: 0;
  visibility: hidden;
  border: none;
}

.customer-profile-edit-page {
  .password {
    overflow: hidden;
  }
}

.oro-customer-user-address__add-link {
  a {
    i {
      margin-right: 0.3rem;
    }
  }
}

.oro-customer-user-role__back-link {
  padding-left: 0;
}

.user-page-title { //Remove after replacing this class by '.page-subtitle' class where it's used
  font-size: 16px;
  line-height: 2;
  font-weight: 400;
  text-transform: uppercase;
}
