{% block _oro_account_user_address_form_title_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " address-form-title"
    }) %}

    <h1{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </h1>
{% endblock %}

{% block _oro_account_user_address_form_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " address-form-outer"
    }) %}

    <div{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}
