/* @theme: default; */

.grid-shipping-methods {
    @include list-normalize();

    width: 260px;

    .select2-chosen {
        width: 100%;
    }
}

@include breakpoint('mobile-landscape') {
    .grid-shipping-methods {
        padding-left: $responsive-shopping-body-cell-offset-x-mobile;
    }
}
