/* @theme: default; */

.responsive-checkout-grid {
    .grid-body-cell-shippingMethods {
        width: $grid-body-cell-shipping-methods-width;
    }

    .group-row-has-children.shipping-methods-row {
        .grid-body-cell-sku:first-child {
            &::after {
                display: block;
                // / Stretching vertical line
                top: -1px;
            }
        }
    }

    .collapsing & {
        .toolbar.sticky {
            position: relative;
            top: 0;
            bottom: 0;
        }
    }

    .collapse & {
        .toolbar {
            &.sticky:not(.in-sticky) {
                z-index: z();
            }

            &:not(.in-sticky):has(.open-filter) {
                z-index: z('dropdown') + 2;
            }
        }
    }
}

@include breakpoint('desktop-small') {
    .responsive-checkout-grid {
        .actions-panel-container,
        .datagrid-tool:has(.page-size .hide) {
            display: none;
        }
    }
}

@include breakpoint('tablet') {
    .responsive-checkout-grid {
        .grid-body {
            .group-row .grid-body-cell {
                // reduce offset between rows
                padding-bottom: $responsive-shopping-extension-row-offset-top-mobile;
            }
        }
    }
}

@include breakpoint('mobile-landscape') {
    .responsive-checkout-grid {
        .grid-header-cell-shippingMethods {
            display: none;
        }

        .grid-body-cell-shippingMethods {
            width: $grid-body-cell-shipping-methods-width-mobile;
        }

        .grid-body {
            .group-row {
                // reduce offset between rows
                padding-bottom: $responsive-shopping-extension-row-offset-top-mobile;

                .grid-body-cell:last-child {
                    // reduce offset between rows
                    padding-bottom: $responsive-shopping-extension-row-offset-top-mobile;
                }
            }
        }
    }
}
