{% extends '@OroUI/actions/index.html.twig' %}
{% import '@OroUI/macros.html.twig' as UI %}
{% set pageTitle = 'oro.catalog.category.entity_plural_label'|trans %}

{% block navButtons %}
    {% import '@OroUI/macros.html.twig' as UI %}

    {% include '@OroImportExport/ImportExport/buttons_from_configuration.html.twig' with {
        'alias': 'oro_category'
    } %}

    {% if is_granted('oro_catalog_category_create') %}
        <div class="btn-group">
            {{ UI.addButton({
                'path': path('oro_catalog_category_create', { 'id' : rootCategory.id }),
                'entity_label': 'oro.catalog.category.entity_label'|trans
            }) }}
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="layout-content">
        {% import '@OroUI/macros.html.twig' as UI %}

        {{ parent() }}

        {% set treeOptions = {
            'view' : 'orocatalog/js/app/views/tree-manage-view',
            'data' : oro_category_list(null, rootCategory),
            'updateAllowed' : is_granted('oro_catalog_category_update'),
            'onSelectRoute' : 'oro_catalog_category_update',
            'onMoveRoute' : 'oro_catalog_category_move'
        } %}

        <div class="scrollable-container sidebar-container">
            {% embed "@OroUI/content_sidebar.html.twig" with {options: {
                fixSidebarHeight: false
            }} %}
                {% block sidebar %}
                    {% import '@OroUI/macros.html.twig' as UI %}
                    {{ UI.renderJsTree(
                        {
                            'label': 'oro.catalog.category.entity_plural_label'|trans,
                            'treeOptions': treeOptions
                        },
                        {
                            'move': {
                              'routeName': 'oro_catalog_category_move_form'
                            }
                        }
                    ) }}
                {% endblock sidebar %}

                {% block content %}
                    {% if is_granted('oro_catalog_category_create') and is_granted('oro_catalog_category_update') %}
                        <div class="category-data">
                            <div class="tree-empty-content scrollable-container">
                                <div class="no-data">
                                    {{ 'oro.catalog.template.select_existing_or_create_new'|trans }}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endblock content %}
            {% endembed %}
        </div>
    </div>
{% endblock content %}
