{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}
{% import 'OroAddressBundle::macros.html.twig' as address %}

{% set locales = website.locales.toArray() %}

{% set localeCodes = [] %}
{% for locale in locales %}
    {% set localeCodes = localeCodes|merge([locale.code]) %}
{% endfor %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ UI.renderProperty('orob2b.website.name.label'|trans, website.name) }}
            {{ UI.renderProperty('orob2b.website.locales.label'|trans, localeCodes|join(', ') ) }}
        </div>
        <div class="responsive-block">
            {{ entityConfig.renderDynamicFields(website) }}
        </div>
    </div>
</div>