{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}
{% import 'OroAddressBundle::macros.html.twig' as address %}

{% set localizations = website.localizations.toArray() %}

{% set codes = [] %}
{% for localization in localizations %}
    {% set codes = codes|merge([localization.languageCode]) %}
{% endfor %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ UI.renderProperty('orob2b.website.name.label'|trans, website.name) }}
            {{ UI.renderProperty('orob2b.website.localizations.label'|trans, codes|join(', ') ) }}
        </div>
        <div class="responsive-block">
            {{ entityConfig.renderDynamicFields(website) }}
        </div>
    </div>
</div>