# Configuration for https://github.com/oroinc/phpstan-rules/
trusted_data:
    variables:
        Oro\Bundle\SEOBundle\EventListener\RestrictSitemapCmsPageByWebCatalogListener:
            getWebCatalogEntityIdsQueryBuilder:
                rootAlias: true
    properties:
        Oro\Bundle\SEOBundle\Sitemap\Provider\UrlItemsProvider:
            getQueryBuilder:
                entityClass: true
    check_methods_safety:
        Oro\Bundle\SEOBundle\Sitemap\Provider\UrlItemsProvider:
            getFieldName: true
        Oro\Bundle\SEOBundle\Sitemap\Provider\ContentVariantUrlItemsProvider:
            getScopes: true
