/* @theme: default; */

.buttons-inline-group {
    i {
        margin-right: $buttons-inline-group-i-offset-right;
    }

    .btn {
        min-width: $buttons-inline-group-btn-max-width;
        min-height: $buttons-inline-group-btn-min-height;

        background: $buttons-inline-group-btn-background;
        color: $buttons-inline-group-btn-color;

        &:focus {
            outline: 0;
        }

        &.btn_bordered {
            border-color: $buttons-inline-group-btn-bordered-border-color;
        }

        &:first-child {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-right: 0;
        }

        &:last-child {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        &:not(:first-child):not(:last-child) {
            border-right: 0;
            border-radius: 0;
        }

        &.current {
            background: $buttons-inline-group-btn-current-background;
            box-shadow: $buttons-inline-group-btn-current-box-shadow;
        }
    }
}
