/* @theme: default; */

#zoom-container {
    position: absolute;
    top: 0;
    left: 100%;
    height: 0;
    width: 0;
    opacity: 0;
    z-index: z('hidden');
}

.zoomContainer {
    z-index: z('base') + 9;
    pointer-events: none;

    .modal-open & {
        display: none;
    }
}

.zoomLens {
    --zoom-container-border-color: #{$zoom-lens-border-color};

    max-height: 100%;
    pointer-events: none;
    background-color: $zoom-window-container-background-color;
    z-index: z();
}

body:has(.image-zoom-lens) {
    .tintContainer .zoomLens {
        > img {
            display: none;
        }
    }
}

.zoomWindowContainer {
    .zoomWindow {
        --zoom-container-border-color: #{get-color('neutral', 'grey2')};

        box-shadow: $zoom-window-container-box-shadow;
        background-color: $zoom-window-container-background-color;
    }
}

@include breakpoint('tablet') {
    #zoom-container {
        display: none;
    }
}
