/* @theme: default; */

.catalog__filter-controls {
    &__item {
        &.sorting {
            flex-grow: 0;
        }

        &.oro-pagination {
            text-align: center;
        }

        &.display-options {
            flex-basis: 170px;
            flex-grow: 0;
            flex-shrink: 0;
            order: 4;

            text-align: right;
        }

        &.page-size {
            .oro-select2,
            .select {
                min-width: 64px;
            }
        }
    }

    &.toolbar-sticky-container {
        max-width: 1400px;
        // stylelint-disable-next-line declaration-no-important
        margin: 0 auto !important;
        // stylelint-disable-next-line declaration-no-important
        padding: spacing('sm') spacing('sm') !important;

        background: $catalog-filter-controls-toolbar-sticky-container-background;
    }
}

.toolbar {
    --group-offset-y: var(--sticky-page-header-group-offset-y);
    --sticky-position-top-offset: var(--sticky-page-header-element-offset-top);

    transition: $sticky-panel-transition;

    &.in-sticky {
        background: $catalog-filter-controls-toolbar-sticky-container-background;
        z-index: $sticky-panel-z-index;
        box-shadow: $sticky-panel-box-shadow;

        padding: 0 spacing('lg') + 4px;
        margin: 0 -#{spacing('lg') + 4px};

        .page-content--has-sidebar & {
            padding-left: $page-sidebar-width + 84px;
            margin-left: -#{$page-sidebar-width + 84px};
        }

        &.scrolled-up {
            transform: translateY(0);
        }

        &.scroll-down {
            transform: translateY(calc(var(--group-offset-y, 0) * -1));
        }
    }
}

@include breakpoint('mobile-big') {
    .toolbar-top {
        .page-size,
        .oro-pagination {
            display: none;
        }
    }
}

@include breakpoint('tablet') {
    .catalog__filter-controls {
        .pagination-container {
            display: none;
        }

        &__item {
            &.sorting {
                flex-basis: auto;
            }

            &.display-options {
                flex-basis: auto;
                order: 2;
            }

            &.page-size {
                order: 2;
            }
        }
    }

    .toolbar {
        &.in-sticky {
            padding: 0 spacing('base');
            margin: 0 -#{spacing('base')};
        }
    }
}

@include breakpoint('mobile-landscape') {
    .catalog__filter-controls {
        &__item {
            flex-grow: inherit;

            &.oro-pagination {
                text-align: left;
            }
        }
    }
}
