/* @theme: default; */

.oro-more-info-toggler {
    &__container {
        display: none;
    }

    &__list {
        @include list-normalize();

        margin: 8px 0 0 19px;

        + a {
            margin-left: 19px;
        }

        li {
            margin: 0 0 3px;

            font-size: $base-font-size - 1;

            a {
                color: $oro-more-info-toggler-list-link-color;

                &:focus,
                &:active,
                &:hover {
                    color: $oro-more-info-toggler-list-link-color-hover;
                    text-decoration: none;
                }
            }
        }
    }

    /* stylelint-disable no-descending-specificity */
    > a,
    &__trigger {
        // stylelint-disable-next-line declaration-no-important
        display: inline-block !important;

        color: $oro-more-info-toggler-link-color;

        cursor: pointer;

        &:focus,
        &:hover,
        &:active,
        &:visited {
            text-decoration: none;
        }

        &.orange {
            color: $oro-more-info-toggler-link-orange-color;
        }
    }
    /* stylelint-enable no-descending-specificity */

    > i,
    &__icon {
        transition: transform .2s linear;

        &.expanded {
            transform: rotate(90deg);
        }
    }

    &.within-fixed-checkout {
        position: relative;
        margin: 10px 0;
    }

    &_indented {
        .oro-more-info-toggler__container {
            padding-left: 2rem;
            margin-bottom: 1.5rem;
        }
    }

    &_b-bordered {
        padding-bottom: 15px;
        border-bottom: $oro-more-info-b-bordered;
    }

    &--list-view {
        display: none;
    }

    &--gallery-view {
        margin-bottom: 10px;
    }

    &--no-image-view {
        display: none;
    }
}
