/* @theme: default; */

.prices-hint-content {
    min-width: 171px;

    .popover-header {
        display: none;
    }

    &::before,
    &::after {
        pointer-events: none;
    }

    .matched-tier-price {
        > td {
            font-weight: font-weight('bold');
        }
    }

    .table {
        border-top: 0;
        margin-bottom: 0;

        font-size: $base-font-size;
        text-align: center;

        thead {
            th {
                background: none;
                padding: 3px 8px;
                text-align: center;
            }
        }

        td {
            width: 50%;
            padding: 3px 8px;
            text-align: center;
        }

        tr:last-child {
            td {
                border-bottom: 0;
            }
        }
    }
}
