/* @theme: default; */

.prices-hint-content {
    min-width: 186px;

    .popover-header {
        display: none;
    }

    &::before,
    &::after {
        pointer-events: none;
    }

    .matched-tier-price {
        > td {
            font-weight: font-weight('bold');
        }
    }

    .table {
        border-top: 0;
        margin-bottom: 0;

        font-size: $base-font-size;
        text-align: center;

        thead {
            th {
                background: none;
                padding: spacing('sm');
                color: $price-hint-content-table-th-color;
                font-weight: $price-hint-content-table-th-font-weight;
                line-height: $price-hint-content-table-th-line-height;
                text-transform: uppercase;
                border-color: transparent;

                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;
                }
            }
        }

        td {
            width: 50%;
            padding: spacing('sm');
            border-color: $price-hint-content-table-border-color;

            &:first-child {
                text-align: left;
                padding-left: 0;
            }

            &:last-child {
                text-align: right;
                padding-right: 0;
            }
        }

        tr:first-child {
            td {
                padding-top: 0;
            }
        }

        tr:last-child {
            td {
                padding-bottom: 0;
                border-bottom: 0;
            }
        }
    }
}

.price-hint-table-title {
    color: $price-hint-content-table-title-color;
    font-size: $price-hint-content-table-title-font-size;
    line-height: $price-hint-content-table-title-line-height;
    font-weight: $price-hint-content-table-title-font-weight;
    font-style: italic;
    margin: 0;
}
