/* @theme: default; */

.prices-hint-content {
    min-width: 171px;

    &::before, &::after {
        pointer-events: none;
    }

    .table {
        margin-bottom: 0;

        text-align: center;

        th {
            border-top: 0;
            border-bottom-width: 1px;

            font-weight: 700;
            text-align: center;
        }

        td {
            width: 50%;
            padding: 4px 8px;
        }
    }

    .matched-tier-price {
        > td {
            font-weight: 700;
        }
    }
}
