/* @theme: default; */

.product-view {
    display: flex;
    flex-direction: column;
    gap: $product-view-gap;
    padding-block-start: $product-view-top-offset;

    &__aside {
        grid-area: aside;
    }

    &__primary {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: $product-view-primary-gap;
        margin-bottom: $product-view-primary-bottom-offset;
        padding: $product-view-primary-padding;

        .page-title {
            flex: 1 0 100%;
        }
    }

    &__headline {
        display: flex;
        flex-wrap: wrap;
        gap: $product-view-headline-gap;

        color: $product-view-headline-color;
        font-size: $product-view-headline-font-size;
        line-height: $base-line-height;

        &-item {
            display: flex;
            flex-wrap: nowrap;

            &::after {
                @include bar-separator();
            }
        }

        &-group {
            display: flex;
            flex-wrap: wrap;

            &:last-child .product-view__headline-item:last-child::after {
                content: none;
            }
        }
    }

    &__main {
        display: grid;
        grid-template-areas: $product-view-main-grid-template-areas;
        grid-template-rows: $product-view-main-grid-template-rows;
        grid-template-columns: $product-view-main-grid-template-columns;
        gap: $product-view-main-gap;
    }

    &__specification {
        max-width: 100%;
    }

    &__content {
        grid-area: content;
        display: flex;

        flex-wrap: wrap;
        flex-direction: column;
    }

    &__details {
        grid-area: details;
    }

    &__general {
        display: flex;
        flex-direction: column;
        gap: spacing('sm');
    }

    &__related-items {
        .embedded-list {
            .product-price {
                max-width: $product-view-related-items-product-price-width;
            }
        }
    }

    &__line-item-form {
        display: flex;
        flex-direction: column;
        gap: $grid-gap;
    }
}

@include breakpoint('tablet-small') {
    .product-view {
        &__main {
            gap: $product-view-main-gap-tablet-small;
        }
    }
}

@include breakpoint('mobile-big') {
    .product-view {
        gap: $product-view-gap-mobile-big;

        &__main {
            grid-template-areas: $product-view-main-grid-template-areas-mobile-big;
        }
    }
}

@include breakpoint('mobile-landscape') {
    .product-view {
        &__main {
            grid-template-areas: $product-view-main-grid-template-areas-mobile;
            grid-template-rows: $product-view-main-grid-template-rows-mobile;
            grid-template-columns: $product-view-main-grid-template-columns-mobile;
        }
    }
}
