/* @theme: default; */

.product-action-area {
    display: $product-action-aria-display;
    gap: $product-action-aria-gap;

    &:empty {
        display: none;
    }

    .product-action {
        min-width: 100%;

        &:empty {
            display: none;
        }
    }

    &.in-sticky {
        display: $product-action-aria-sticky-mode-display;
        z-index: $product-action-aria-sticky-mode-z-index;
        background-color: $product-action-aria-sticky-mode-background-color;

        .product-action {
            display: block;
        }
    }
}
