/* @theme: default; */

.product-view {
    &-attribute {
        &__tab-content {
            display: $product-view-attribute-tab-content-display;
            padding-top: $product-view-attribute-tab-content-padding-top;
        }

        &__group {
            display: flex;
            flex-direction: column;
            border-bottom: $product-view-attribute-group-border-bottom;

            &-title {
                padding-block: $product-view-attribute-group-title-border-bottom;
            }

            &-toggle {
                background: transparent;
                border: none;
                font-size: inherit;
                font-weight: inherit;
                font-family: inherit;
                color: inherit;
                padding: 0;

                display: flex;
                gap: $product-view-attribute-group-toggle-gap;
                align-items: center;

                &:not(.collapsed) {
                    .theme-icon {
                        transform: rotate(180deg);
                    }
                }
            }

            &-content {
                padding-bottom: spacing('base');
                display: flex;
                flex-direction: column;
                gap: $product-view-attribute-group-content-gap;
            }
        }
    }
}
