/* @theme: default; */

.product-view {
    @include clearfix();

    &__aside {
        float: $product-view-aside-state;

        width: $product-view-aside-width;
        margin-bottom: $product-view-aside-offset-bottom;
        padding: $product-view-aside-inner-offset;
    }

    &__primary {
        float: $product-view-primary-state;

        width: $product-view-primary-width;

        .page-title {
            margin: 0 0 5px;

            font-size: $base-font-size--xl;
        }
    }

    &__main {
        float: $product-view-main-state;

        width: $product-view-main-width;
        margin-bottom: $product-view-main-offset-bottom;
    }

    &__content {
        display: flex;

        flex-wrap: wrap;
        justify-content: space-between;

        padding: $product-view-content-inner-offset;

        border-top: $product-view-content-border;
    }

    &__variant-field {
        margin-bottom: $product-view-variant-field-margin-bottom;
    }

    &__specification {
        width: $product-view-specification-width;
        padding: $product-view-specification-inner-offset;
    }

    &__description {
        width: $product-view-description-width;
        padding: $product-view-description-inner-offset;

        word-wrap: break-word;

        &:first-child {
            width: $product-view-description-first-child-width;
            padding: $product-view-description-first-child-inner-offset;
        }
    }

    &__additional {
        float: $product-view-additional-state;
        width: $product-view-additional-width;
    }

    &__related-items {
        float: $product-view-related-items-state;
        width: $product-view-related-items-width;

        .embedded-list {
            &__slider {
                margin: $product-view-related-list-offset;
            }

            .product-price {
                max-width: $product-view-related-items-product-price-width;
            }
        }
    }
}

@include breakpoint('desktop') {
    .product-view__specification {
        &--colored {
            position: $product-view-specification-colored-position;

            width: $product-view-specification-colored-width;
            padding: $product-view-specification-colored-inner-offset;

            background: $product-view-specification-colored-background;
            border-radius: $product-view-specification-colored-border-radius;
        }
    }

    .product-view__description {
        &--short {
            width: $product-view-description-short-width;
        }
    }
}

@include breakpoint('tablet') {
    .product-view {
        &__aside {
            width: $product-view-aside-tablet-width;
            padding: $product-view-aside-tablet-inner-offset;
        }

        &__primary {
            float: $product-view-primary-tablet-state;
            margin-top: $product-view-primary-margin-top-tablet;
            width: $product-view-primary-tablet-width;

            text-align: $product-view-primary-text-align-tablet;

            .page-title {
                font-size: $product-view-primary-page-title-font-size-tablet;
                line-height: $product-view-primary-page-title-line-height-tablet;
            }

            .sku {
                font-size: $base-font-size - 1;
            }
        }

        &__primary-wrapper {
            display: $product-view-primary-wrapper-display-tablet;
            flex-direction: $product-view-primary-wrapper-flex-direction-tablet;

            margin-top: $product-view-primary-wrapper-margin-top-tablet;
        }

        &__main {
            width: $product-view-main-tablet-width;
        }

        &__content {
            flex-direction: column;
        }

        &__specification {
            width: $product-view-tablet-specification-width;
            padding: 0;
        }

        &__description {
            width: $product-view-description-tablet-width;
            padding: $product-view-description-tablet-inner-offset;

            &--short {
                width: $product-view-description-short-width-tablet;
            }
        }

        .line-item-form {
            padding-top: $product-view-line-item-form-padding-top-tablet;

            border-top: $product-view-line-item-form-border-top-tablet;
        }

        .shopping-lists {
            &__content {
                min-height: $product-view-shopping-lists-content-min-height-tablet;
            }
        }
    }
}

@include breakpoint('mobile-landscape') {
    .product-view {
        &__primary-wrapper {
            margin-top: $product-view-primary-wrapper-margin-top-mobile-landscape;
        }
    }
}
