/* @theme: default; */

.product-view-line-item {
    display: flex;
    flex-wrap: wrap;
    gap: spacing('base') spacing('lg');
    justify-content: space-between;

    margin-top: spacing('xl');

    &__quantity,
    &__button {
        flex-shrink: 0;
    }

    &__button {
        flex-grow: 1;
    }

    &__quantity {
        width: $product-view-line-item-quantity-width;

        .input {
            text-align: center;
        }
    }
}

@include breakpoint('tablet-small') {
    .product-view-line-item {
        &__quantity {
            width: 100%;
        }
    }
}

@include breakpoint('mobile-landscape') {
    .product-view-line-item {
        display: flex;
        flex-direction: column;

        justify-content: space-between;

        gap: spacing('md');
        margin-top: spacing('lg');
        margin-bottom: 0;

        &__quantity {
            width: $product-view-line-item-quantity-width-mobile;
        }
    }
}
