.product-view {
    &__attributes {
        margin-bottom: $offset-y;

        border: 1px solid $product-view-attributes-tabs-border-color;

        border-radius: $product-view-attributes-tabs-border-radius;

        &:empty {
            display: none;
        }

        @include nav-tabs(
            $nav-tabs-background: $product-view-attributes-tabs-bg,
            $nav-tabs-border-color: $product-view-attributes-tabs-border-color,

            $nav-tabs-item-flex: 1 0 auto,

            $nav-tabs-link-inner-offset: $product-view-attributes-tab-link-offset-inner,
            $nav-tabs-link-color: $product-view-attributes-tab-link-color,
            $nav-tabs-link-border: 0,

            $nav-tabs-link-hover-background: none,
        ) {
            .nav-tabs {
                border-top-left-radius: $product-view-attributes-tabs-border-radius;
                border-top-right-radius: $product-view-attributes-tabs-border-radius;
            }

            .nav-item {
                & + .nav-item {
                    border-left: 1px solid $product-view-attributes-tabs-border-color;
                }
                
                &:first-child {
                    .nav-link {
                        border-top-left-radius: $product-view-attributes-tabs-border-radius;
                    }
                }
                
                &:last-child {
                    .nav-link {
                        border-top-right-radius: $product-view-attributes-tabs-border-radius;
                    }
                }
            }

            .nav-link {
                text-transform: uppercase;

                border-radius: 0;
            }
        };

        .tab-content {
            padding: $product-view-attributes-tab-content-offset-inner;

            label {
                font-weight: bold;
            }

            p {
                margin-bottom: $product-view-attributes-tab-content-attribute-offset-bottom;
            }
        }
    }
}
