/* @theme: default; */

.product-view-quantity {
    display: $product-view-quantity-display;
    flex-wrap: $product-view-quantity-flex-wrap;

    margin-bottom: $product-view-quantity-margin-bottom;

    &__unit {
        width: $product-view-quantity-unit-width;
        margin-right: $product-view-quantity-unit-margin-right;

        display: $product-view-quantity-unit-display;

        &--half {
            width: $product-view-quantity-unit-half-width;
        }
    }

    &__unit-label {
        font-size: $product-view-quantity-unit-label-font-size;
        text-align: $product-view-quantity-unit-label-text-align;
        flex-grow: $product-view-quantity-unit-label-flex-grow;
        align-self: $product-view-quantity-unit-label-align-self;
    }

    &__value {
        width: $product-view-quantity-value-width;

        &--half {
            width: $product-view-quantity-value-half-width;
        }

        .input {
            text-align: $product-view-quantity-value-input-text-align;
        }
    }

    .fields-row-error {
        width: $product-view-quantity-error-width;
    }
}

@include breakpoint('tablet') {
    .product-view-quantity {
        &__unit {
            width: $product-view-quantity-tablet-unit-width;
        }

        &__value {
            width: $product-view-quantity-tablet-value-width;
        }
    }
}
