/* @theme: default; */

.product-sticker {
    @extend %label-placeholder;

    min-height: $product-sticker-min-height;
    display: $product-sticker-display;
    align-items: $product-sticker-align-items;
    padding: $product-sticker-padding;
    z-index: $product-sticker-z-index;
    position: $product-sticker-position;

    &--start-start {
        inset-block-start: $product-sticker-start-start-block-start;
        inset-inline-start: $product-sticker-start-start-inline-start;
        border-end-end-radius: $product-sticker-border-radius;
    }

    &--start-end {
        inset-block-start: $product-sticker-start-end-block-start;
        inset-inline-end: $product-sticker-start-end-inline-end;
        border-end-start-radius: $product-sticker-border-radius;
    }

    &--end-end {
        inset-block-end: $product-sticker-end-end-block-end;
        inset-inline-end: $product-sticker-end-end-inline-end;
        border-start-start-radius: $product-sticker-border-radius;
    }

    &--end-start {
        inset-block-end: $product-sticker-end-start-block-end;
        inset-inline-start: $product-sticker-end-start-inline-start;
        border-start-end-radius: $product-sticker-border-radius;
    }

    &--new_arrival {
        background: $product-sticker-new-arrival-background;
        color: $product-sticker-new-arrival-color;
    }

    &--sale {
        background: $product-sticker-sale-background;
        color: $product-sticker-sale-color;
    }
}
