/* @theme: default; */

.product-popup__header {
    height: $product-popup-header-height;

    display: $product-popup-header-display;
    align-items: $product-popup-header-align-items;

    &-img {
        margin: $product-popup-header-img-offset;
    }

    &-title {
        width: 100%;
    }

    &-sku {
        @extend %caption-2;

        color: $product-popup-header-sku;
    }

    &-attributes {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        column-gap: spacing('sm');
    }
}

.fullscreen-popup {
    .product-popup__header {
        padding: $fullscreen-product-popup-header-offset;
    }
}
