.product-view {
    &__attributes {
        border: 1px solid $product-view-attributes-tabs-border-color;
        margin-bottom: $offset-y;

        border-radius: $product-view-attributes-tabs-border-radius;

        &:empty {
            display: none;
        }

        .nav-tabs {
            display: flex;

            background: $product-view-attributes-tabs-bg;
            border-bottom-color: $product-view-attributes-tabs-border-color;

            border-top-left-radius: $product-view-attributes-tabs-border-radius;
            border-top-right-radius: $product-view-attributes-tabs-border-radius;
        }

        .nav-item {
            text-align: center;

            flex-grow: 1;

            & + .nav-item {
                margin-left: 0;

                border-left: 1px solid $product-view-attributes-tabs-border-color;
            }

            &:first-child {
                .nav-link {
                    border-top-left-radius: $product-view-attributes-tabs-border-radius;
                }
            }

            &:last-child {
                .nav-link {
                    border-top-right-radius: $product-view-attributes-tabs-border-radius;
                }
            }
        }

        .nav-link {
            padding: $product-view-attributes-tab-link-offset-inner;

            color: $product-view-attributes-tab-link-color;
            border: 0;
            border-radius: 0;

            text-transform: uppercase;

            @include hover-focus {
                background: none;
            }
        }

        .tab-content {
            padding: $product-view-attributes-tab-content-offset-inner;

            label {
                font-weight: bold;
            }

            p {
                margin-bottom: $product-view-attributes-tab-content-attribute-offset-bottom;
            }
        }
    }
}

@include breakpoint('mobile-landscape') {
    .product-view {
        &__attributes {
            margin-bottom: -25px;

            border: 0;

            .nav-tabs {
                flex-direction: column;

                margin: 0 -10px;
            }

            .nav-link {
                background: none !important; //Need set empty bg for all state: active, :hover, etc.

                @include fa-icon($fa-var-angle-right, after);

                &:after {
                    position: absolute;
                    right: 20px;

                    visibility: visible;
                }
            }

            .nav-item {
                position: relative;

                border-top: 1px solid $product-view-attributes-tabs-border-color;

                text-align: left;

                & + .nav-item {
                    border-left: 0;
                }
            }

            .tab-content {
                display: none !important; //Need always hide tab-content for mobile
            }
        }
    }
}
