/* @theme: default; */

.product-item {
    &.gallery-view {
        min-height: 100%;
    }

    &.gallery-view,
    &--gallery-view {
        border: $product-item-gallery-view-border;
        border-radius: $product-item-gallery-view-border-radius;

        position: relative;

        display: flex;
        flex-direction: column;

        &:hover {
            box-shadow: $product-item-gallery-view-box-shadow;
        }
    }

    &--no-image-view {
        padding-block: spacing('sm') spacing('lg');
        border-bottom: $product-item-no-image-view-border;

        &:last-child {
            border-bottom: 0;
        }
    }

    &__wrapper {
        &--no-image-view {
            display: flex;
            flex-direction: column;
        }
    }

    &__sku-value {
        font-size: $product-item-sku-value-font-size;
        line-height: $product-item-sku-value-line-height;
        font-weight: $product-item-sku-value-font-weight;
        color: $product-item-sku-value-color;
        word-break: $product-item-sku-value-word-break;
    }

    &__base {
        &--gallery-view {
            display: flex;
            flex-direction: column;
            min-height: 100%;
        }
    }

    &__box {
        display: flex;
        flex-direction: column;
        min-height: 100%;
        position: relative;
    }

    &__content {
        max-width: 100%;

        &--no-image-view {
            display: grid;
        }

        &--gallery-view {
            display: grid;
            grid-template-columns: minmax(0, 1fr);
            grid-template-rows: auto 1fr;
            min-height: 100%;

            .product-item-shopping-lists {
                height: 44px;
                display: flex;
                align-items: center;
                padding-top: spacing('xs');
                position: absolute;
                inset-block-start: spacing('sm');
                inset-inline-end: spacing('base');
            }
        }
    }

    &__image-holder {
        position: relative;

        &--aspect-ratio {
            aspect-ratio: 1 / 1;
        }

        &--gallery-view {
            // product_medium image's height + border
            height: 261px;
            display: block;
            border-bottom: $product-item-image-holder-gallery-view-border-bottom;
        }

        &--no-image-view {
            width: 72px;
            height: auto;
            display: grid;
            border: $product-item-no-image-view-border;
            border-radius: $product-item-no-image-view-border-radius;
            margin-inline-start: 60px;

            .product-sticker {
                width: calc(100% + 2px);
                border-radius: $product-item-no-image-view-sticker-border-radius;
                justify-content: center;
                position: static;
                margin-inline-start: -1px;
                margin-bottom: -1px;
                grid-row: 2 / 3;
                grid-column: 1 / 2;
            }

            .view-product-gallery {
                width: auto;
                height: auto;
                padding: 0;
                border-radius: 0;
                position: static;
                grid-row: 1 / 2;
                grid-column: 1 / 2;

                &:hover {
                    opacity: .9;
                }
            }
        }

        &--tiny {
            position: relative;
            min-width: $product-item-image-holder-tiny-width;
            width: $product-item-image-holder-tiny-width;
            min-height: $product-item-image-holder-tiny-height;
            height: $product-item-image-holder-tiny-height;

            border: $product-item-image-holder-tiny-border;
            border-radius: $product-item-image-holder-tiny-border-radius;
            overflow: $product-item-image-holder-tiny-overflow;
        }

        &--tiny-small {
            position: relative;
            min-width: $product-item-image-holder-tiny-small-width;
            width: $product-item-image-holder-tiny-small-width;
            min-height: $product-item-image-holder-tiny-small-height;
            height: $product-item-image-holder-tiny-small-height;

            border: $product-item-image-holder-tiny-small-border;
            border-radius: $product-item-image-holder-tiny-small-border-radius;
            overflow: $product-item-image-holder-tiny-small-overflow;
        }
    }

    &__preview {
        height: 100%;
        display: block;

        &--no-image-view {
            aspect-ratio: 1 / 1;
            grid-row: 1 / 2;
            grid-column: 1 / 2;
        }
    }

    &__preview-picture {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        overflow: hidden;
        border-radius: $border-radius;

        &--no-image {
            background-color: $product-item-no-image-bc-color;
        }

        &--tiny {
            border-radius: 50%;
        }
    }

    &__preview-image {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: $product-item-preview-image-border-radius;
        position: absolute;
        object-fit: contain;
    }

    &__primary-content {
        &--no-image-view {
            display: none;
        }

        &--full-width {
            grid-area: primary;
            display: block;
        }
    }

    &__primary-half {
        &--no-image-view {
            width: 100%;
            padding: 0 40px 0 0;
        }
    }

    &__primary-content &__primary-half--no-image-view {
        padding: 0;
    }

    &__secondary-half {
        &--last-gallery-view {
            margin-top: auto;
        }
    }

    &__secondary-content {
        &--no-image-view {
            grid-area: secondary;

            .product-item-shopping-lists {
                margin-bottom: spacing('base');
            }
        }

        &--gallery-view {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
        }
    }

    &__container {
        &--gallery-view {
            height: 100%;
            padding: spacing('base');
            display: flex;
            flex-direction: column;
        }
    }

    &__title {
        font-size: $product-item-title-font-size;
        font-family: $product-item-title-font-family;
        font-weight: $product-item-title-font-weight;
        line-height: $product-item-title-line-height;
        text-transform: $product-item-title-text-transform;
        color: $product-item-title-color;
        margin-block: $product-item-title-margin-block;

        a {
            color: $product-item-title-link-color;

            &:hover {
                color: $product-item-title-link-color-hover;
            }
        }

        &--gallery-view {
            .view-product {
                // two rows
                max-height: calc(1em * #{$product-item-title-line-height} * 2);
                overflow: hidden;
            }
        }

        &--no-image-view {
            margin-bottom: spacing('sm');
            grid-area: title;
        }
    }

    &__specification {
        &--no-image-view {
            grid-area: specification;
        }
    }

    &__price-range {
        &--gallery-view {
            font-size: $base-font-size--large;
            line-height: 1.3;
        }
    }

    &__qty {
        form {
            display: grid;
            gap: spacing('base');
        }

        &-input {
            text-align: center;
        }
    }

    &__select-row {
        padding-right: spacing('xs');

        &--gallery-view {
            padding: 0;
            position: absolute;
            inset-block-start: spacing('sm');
            inset-inline-start: spacing('sm');

            .checkbox-label {
                padding: spacing('md');
            }
        }
    }

    &__number {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: spacing('xs');
        font-size: $product-item-number-font-size;
    }
}

@include breakpoint('desktop-small') {
    .product-item {
        &__content {
            &--no-image-view {
                grid-template-columns: 136px 1fr;
                gap: 0 40px;
                align-items: start;
            }
        }

        &__container {
            &--no-image-view {
                display: grid;
                grid-template-columns: 15fr 37fr;
                grid-template-rows: auto 1fr;
                grid-template-areas:
                    'title secondary'
                    'specification secondary';
                gap: 0 40px;
            }

            &--no-image-view#{&}--has-matrixform {
                grid-template-areas:
                    'title'
                    'specification'
                    'primary';
                grid-template-columns: minmax(0, 1fr);
            }
        }

        &__secondary-content {
            &--no-image-view {
                padding-inline-start: 48px;
                border-inline-start: 1px solid get-color('neutral', 'grey2');
                display: grid;
                gap: 0 48px;
                grid-template-columns: 1fr 1fr;
            }
        }

        &__select-row {
            &--no-image-view {
                position: absolute;
                inset-block-start: 0;
                inset-inline-start: -60px;
            }
        }
    }
}

@include breakpoint('desktop') {
    .product-item {
        &__container {
            &--no-image-view {
                display: grid;
                grid-template-columns: 3fr 5fr;
                grid-template-rows: auto 1fr;
                grid-template-areas:
                    'title secondary'
                    'specification secondary';
                gap: 0 48px;
            }
        }

        &__secondary-content {
            &--no-image-view {
                padding-inline-start: 48px;
                border-inline-start: 1px solid get-color('neutral', 'grey2');
                display: grid;
                gap: 0 48px;
                grid-template-columns: 1fr 2fr;
            }
        }

        &__qty {
            &--no-image-view {
                form {
                    display: grid;
                    gap: 0 48px;
                    grid-template-columns: 1fr 1fr;
                    align-items: start;
                }
            }
        }
    }
}

@include breakpoint('tablet') {
    .product-item {
        &__select-row {
            &--gallery-view {
                padding-top: initial;
            }

            &--no-image-view {
                position: absolute;
                inset-block-start: 0;
                inset-inline-start: -44px;
            }
        }

        &__image-holder {
            &--no-image-view {
                margin-inline-start: 44px;

                .view-product-gallery {
                    align-self: end;
                    justify-self: end;
                    border-radius: 100% 0 0;
                    position: relative;
                }
            }
        }

        &__content {
            &--no-image-view {
                grid-template-columns: 116px 1fr;
                gap: 0 spacing('base');
                align-items: start;
            }
        }

        &__container {
            &--no-image-view {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto 1fr;
                grid-template-areas:
                    'title secondary'
                    'specification secondary';
                gap: 0 24px;
            }

            &--no-image-view#{&}--has-matrixform {
                grid-template-columns: minmax(0, 1fr);
                grid-template-rows: auto;
                grid-template-areas:
                    'title'
                    'specification'
                    'primary';
            }
        }
    }
}

@include breakpoint('tablet-small') {
    .product-item {
        &__primary-half {
            &--no-image-view {
                padding: 0 15px 0 0;
            }
        }
    }
}

@include breakpoint('mobile-landscape') {
    .product-item {
        &__image-holder {
            &--tiny-small {
                min-width: $product-item-image-holder-tiny-small-mobile-landscape-width;
                width: $product-item-image-holder-tiny-small-mobile-landscape-width;
                min-height: $product-item-image-holder-tiny-small-mobile-landscape-height;
                height: $product-item-image-holder-tiny-small-mobile-landscape-height;
            }

            &--no-image-view {
                grid-area: image;
            }
        }

        &__primary-half {
            &--no-image-view {
                padding-right: 0;
            }
        }

        &__content {
            &--no-image-view {
                grid-template-areas:
                    'image title'
                    'image specification'
                    'secondary secondary';
                grid-template-columns: 132px 1fr;
                grid-template-rows: auto 1fr auto;
                gap: 0 spacing('base');
            }
        }

        &__container {
            &--no-image-view {
                grid-area: image-start / image-start / secondary-end / secondary-end;
                display: grid;
                grid-template-columns: subgrid;
                grid-template-rows: subgrid;
                grid-template-areas: none;
                gap: initial;
            }
        }

        &__qty {
            &--no-image-view {
                margin-top: spacing('base');
            }
        }

        &__title {
            &--no-image-view {
                padding: 0;
                margin-bottom: spacing('xs');

                width: 100%;
            }
        }
    }
}
