/* @theme: default; */

.product-action-area {
    display: flex;
    gap: spacing('sm');

    &:empty {
        display: none;
    }

    .product-action {
        min-width: 100%;

        &:empty {
            display: none;
        }
    }

    &.in-sticky {
        display: block;
        z-index: $datagrid-massaction-sticky-mode-z-index;

        .product-action {
            display: block;
            background-color: $datagrid-massaction-sticky-mode-background-color;
        }
    }
}
