// @theme: default;

.product-sticker {
    &--icon {
        position: absolute;
        z-index: z('base');

        &-new_arrival {
            width: 30%;
            height: 30%;

            background: $product-sticker-icon-new-arrival-background;
            background-size: $product-sticker-icon-new-arrival-background-size;
        }
    }
}

@include breakpoint('tablet-small') {
    .product-sticker {
        &--top-right {
            top: $product-sticker-icon-top-right-tablet-small-pos-top;
            right: $product-sticker-icon-top-right-tablet-small-pos-right;
        }
    }
}

@include breakpoint('mobile-landscape') {
    .product-sticker {
        &--top-right {
            top: $product-sticker-icon-top-right-mobile-landscape-pos-top;
            right: $product-sticker-icon-top-right-mobile-landscape-pos-right;
        }
    }
}
