/* @theme: default; */

@use 'sass:map';

.product-list {
    &--gallery-view {
        display: $product-list-gallery-view-display;
        gap: $product-list-gallery-view-gap;
        grid-template-columns: $product-list-gallery-view-grid-template-columns;

        // Each special grid breakpoint
        @each $point in $product-list-gallery-view-grid-count-map {
            @media (min-width: map.get($point, 'min-width')) {
                --product-list-count: #{map.get($point, 'count')};
            }
        }

        @at-root {
            .page-content--has-sidebar & {
                // Each special grid breakpoint
                @each $point in $product-list-narrow-gallery-view-grid-count-map {
                    @media (min-width: map.get($point, 'min-width')) {
                        --product-list-count: #{map.get($point, 'count')};
                    }
                }
            }
        }
    }

    &--list-view {
        display: $product-list-list-view-display;
        gap: $product-list-list-view-gap;
    }

    &--no-image-view {
        display: $product-list-no-image-view-display;
        gap: $product-list-no-image-view-gap;
    }
}
