/* @theme: default; */

.product-view {
    &__attribute-box {
        padding: $product-view-attributes-box-inner-offset;
        margin-right: $product-view-attributes-box-offset-right;

        @include mosaic-grid-break-inside();

        &-wrapper {
            @include mosaic-grid($mosaic-grid-column-count: 2);
        }

        &-wrapper & {
            padding-left: $product-view-attributes-box-inner-offset-start;
        }

        &-related-items {
            columns: $product-view-attributes-box-related-items-columns;
            display: $product-view-attributes-box-related-items-display;
            grid-template-columns: $product-view-attributes-box-related-items-grid-template-columns;
            gap: $product-view-attributes-box-related-items-gap;

            > .embedded-products {
                margin: $product-view-attributes-box-embedded-products-offset;

                .tab-content__wrapper {
                    width: $product-view-attributes-box-tab-content-width;
                }
            }
        }

        &-title {
            margin-bottom: $product-view-attributes-box-title-offset-bottom;

            font-size: $base-font-size--m - 2;
            text-transform: $product-view-attributes-box-title-text-transform;
        }
    }
}

@include breakpoint('tablet-small') {
    .product-view {
        &__attribute-box {
            &-wrapper {
                @include mosaic-grid($mosaic-grid-column-count: 1);
            }

            &-related-items {
                display: $product-view-attributes-box-tablet-related-items-display;
            }
        }
    }
}
