/* @theme: default; */

.product-view-brand {
    display: inline-flex;
    gap: $product-view-brand-title-gap;
    font-size: $product-view-brand-title-font-size;

    &:before {
        content: '|';
    }
}
