/* @theme: default; */

@include nav-tabs(
    $nav-tabs: $product-view-attributes-tabs,
    $nav-tabs-item: $product-view-attributes-tabs-item,
    $nav-tabs-link: $product-view-attributes-tabs-link,
    $nav-tabs-background: $product-view-attributes-tabs-bg,
    $nav-tabs-border-color: $product-view-attributes-tabs-border-color,

    $nav-tabs-link-inner-offset: $product-view-attributes-tab-link-offset-inner,
    $nav-tabs-link-color: $product-view-attributes-tab-link-color,
    $nav-tabs-link-border-width: 0,

    $nav-tabs-link-hover-background: none,
    $nav-tabs-link-hover-color: inherit,
    $nav-tabs-link-hover-text-decoration: none
) {
    #{$product-view-attributes-tabs} {
        gap: $product-view-attributes-tabs-gap;
        border-radius: $product-view-attributes-tabs-border-radius;
        overflow-x: $product-view-attributes-tabs-overflow-x;
    }

    #{$product-view-attributes-tabs-item} {
        padding: $product-view-attributes-tabs-item-padding;
        position: $product-view-attributes-tabs-item-position;

        &:not(:last-child)::after {
            content: $product-view-attributes-tabs-item-after-content;
            background: $product-view-attributes-tabs-item-after-background;
            width: $product-view-attributes-tabs-item-after-width;
            height: $product-view-attributes-tabs-item-after-height;
            position: $product-view-attributes-tabs-item-after-position;
            inset-block: $product-view-attributes-tabs-item-after-inset-block;
            inset-inline: $product-view-attributes-tabs-item-after-inset-inline;
            transform: $product-view-attributes-tabs-item-after-transform;
        }
    }

    #{$product-view-attributes-tabs-link} {
        font-weight: $product-view-attributes-tab-link-font-weight;
        position: $product-view-attributes-tab-link-position;
        text-decoration: $product-view-attributes-tab-link-text-decoration;
        text-transform: $product-view-attributes-tab-link-text-transform;
        white-space: $product-view-attributes-tab-link-white-space;

        &.active {
            &::after {
                content: $product-view-attributes-tab-link-active-after-content;
                background: $product-view-attributes-tab-link-active-after-background;
                height: $product-view-attributes-tab-link-active-after-height;
                border-radius: $product-view-attributes-tab-link-active-after-border-radius;
                position: $product-view-attributes-tab-link-active-after-position;
                inset: $product-view-attributes-tab-link-active-after-inset;
            }
        }
    }
}
