// @theme: default;

.product-item {
    &--category-title {
        width: 100%;
        margin: 10px 0;
        border-bottom: 1px solid #eceeef;
        padding: 10px 0;
        text-align: center;
    }

    &--gallery-view {
        position: relative;

        display: inline-block;
        vertical-align: top;

        width: calc(20% - (#{$product-item-gallery-view-offset-x} * 2));

        margin: 0 $product-item-gallery-view-offset-x;
        padding: 0 0 $product-item-gallery-view-offset-bottom;

        font-size: $base-font-size;
    }

    &--list-view {
        padding: 30px 0;
        border-bottom: 1px solid get-color('additional', 'light');

        @include clearfix();

        &:last-child {
            border-bottom: 0;
            margin-bottom: 0;
        }
    }

    &--no-image-view {
        display: table;
        width: 100%;
        padding: 0 0 15px;
        margin: 0 0 15px;
        border-bottom: 1px solid get-color('additional', 'light');

        &:last-child {
            border-bottom: 0;
            margin-bottom: 0;
        }
    }

    &--in-cart {
        @include clearfix();
    }

    &__image-holder {
        @include element-state('hover') {
            .product-item__quick-view-btn {
                visibility: visible;

                span {
                    visibility: visible;

                    opacity: 1;
                }
            }
        }

        &--aspect-ratio {
            @include aspect-ratio();
        }

        &--gallery-view {
            display: block;
            overflow: hidden;
            margin: 0 0 10px;
            max-height: 249px;
            border: 1px solid get-color('additional', 'light');   
        }

        &--list-view {
            float: left;
            display: block;
            width: 23%;
            overflow: hidden;
            border: 1px solid get-color('additional', 'light');
        }

        &--no-image-view {
            display: none;
        }

        &--in-cart {
            float: left;
            width: 84px;
            height: 84px;

            a {
                display: block;
                width: 84px;
                height: 84px;
                overflow: hidden;
                border: 1px solid get-color('additional', 'light');
                border-radius: 5px;
            }

            img {
                display: block;
                max-width: 100%;
            }
        }
    }

    &__preview {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    &__preview-picture {
        display: block;
        width: 100%;
        height: 100%;

        /* For IE/EDGE object-fit polyfill */
        background-size: contain;
        background-position: 50%;
        background-repeat: no-repeat;
    }

    &__preview-image {
        display: block;
        width: 100%;
        height: 100%;

        object-fit: contain;
    }

    &__primary-content {
        &--list-view {
            float: left;
            width: 52%;
            padding: 0 30px;
        }

        &--gallery-view {
            margin-bottom: 10px;
        }

        &--no-image-view {
            float: left;
            width: 25%;

            .product-item--compact & {
                width: 50%;
            }
        }
    }

    &__primary-half {

        &--no-image-view {
            width: 100%;
            padding: 0 40px 0 0;
        }
    }

    &__secondary-content {
        &--list-view {
            float: left;
            width: 25%;

            .product-item--compact & {
                padding-top: 40px;
            }
        }

        &--no-image-view {
            width: 50%;
            float: left;

            .product-item__secondary-half--no-image-view {
                width: 35%;

                &:last-child {
                    width: 65%;
                }

                .product-item--compact & {
                    float: right;
                    width: auto;
                }
            }

            .product-item--compact & {
                width: 25%;
            }
        }
    }

    &__secondary-half {
        &--list-view {
            .product-item--compact & {
                float: right;
            }
        }

        &--no-image-view {
            float: left;
            width: 50%;
            padding: 0 25px 0 0;

            &:last-child {
                padding-right: 0;
            }
        }
    }

    &__title {
        a {
            color: get-color('additional', 'dark');
        }

        &--gallery-view {
            font-size: $product-item-title-gallery-view-font-size;
            line-height: $product-item-title-gallery-view-line-height;

            margin: 0 0 5px;



            .view-product {
                max-height: ($product-item-title-gallery-view-font-size * $product-item-title-gallery-view-line-height) * 2; // two rows

                overflow: hidden;
            }

            small {
                font-size: $base-font-size;
                line-height: 1;
            }
        }

        &--list-view {
            float: left;
            width: 77%;
            margin-bottom: 20px;
            padding-left: 30px;

            font-size: $base-font-size--m - 1;
            line-height: 1.3;
        }

        &--no-image-view {
            float: left;
            width: 25%;
            padding: 0 25px 0 0;

            font-size: 16px;
            line-height: 1.3;
        }

        &_pin {
            font-size: $base-font-size;
            line-height: 1.3;
        }

        &--in-cart {
            font-size: $base-font-size--large;
            line-height: 1.2;

            a {
                color: get-color('additional', 'dark');
                text-decoration: underline;

                &:focus, &:hover, &:active {
                    color: get-color('additional', 'dark');
                    text-decoration: none;
                }
            }
        }

        .view-product {
            [class^="fa-"] {
                font-size: $font-icon-button-s;
                padding: 0 6px;
            }
        }
    }

    &__quick-view-btn {
        position: absolute;
        top: 50%;
        left: 50%;

        width: 110px;
        height: 30px;
        margin: -15px 0 0 -55px;

        text-align: center;

        visibility: hidden;
        cursor: pointer;

        span {
            display: block;
            vertical-align: middle;

            opacity: 0;
            visibility: hidden;

            transition: opacity .2s linear;

            &:hover {
                background: get-color('additional', 'darker');
            }
        }
    }

    &__mspr {
        &--gallery-view {
            display: none;
        }
    }

    &__price-range {
        &--gallery-view {
            font-size: $base-font-size--large;
            line-height: 1.3;
        }
    }

    &__qty {

        &--gallery-view,
        &--list-view,
        &--no-image-view {
            font-size: 0;

            input[type="text"] {
                height: 40px;

                text-align: center;
            }

            .validation-failed {
                position: absolute;
                z-index: 1;
            }
        }

        &--list-view {
            .product-item__qty__current-grid {
                margin-top: 1rem;
            }
        }

        &--gallery-view,
        &--list-view,
        &--no-image-view {
            @include clearfix();

            .product-item__qty__current-grid {
                @include clearfix();
            }
        }

        &--no-image-view {
            .btn {
                margin-top: 0;
            }

            input[type="text"] {
                margin-top: 0;
                margin-bottom: 15px;
            }
        }

        &_quick-view {
            max-width: 205px;

            font-size: 0;

            .btn {
                width: calc(100% - 60px);
                margin-top: 15px;
            }
        }
    }

    &__desctiption {
        position: relative;

        &--in-cart {
            padding: 0 0 0 104px;
        }
    }

    &__status {
        &--in-cart {
            display: none;
        }
    }
}

@include breakpoint('tablet-small') {
    .product-item {
        &--list-view {
            padding: 20px 0;
        }

        &__primary-content {
            &--list-view {
                width: calc(77% - 240px);
            }
        }

        &__primary-half {
            &--no-image-view {
                padding: 0 15px 0 0;
            }
        }

        &__secondary-content {
            &--list-view {
                width: 240px;
            }
        }

        &__secondary-half {
            &--no-image-view {
                .btn_details {
                    margin: 0;
                    padding: 0;
                }
            }
        }

        &__quick-view-btn {
            display: none !important;
        }

        &__status {
            &--in-cart {
                display: block;
            }
        }
    }
}

@include breakpoint('mobile-landscape') {
    .product-item {
        &__image-holder {
            &--list-view {
                width: 110px;

                .product-sticker--icon-new_arrival {
                    width: 40%;
                }
            }
        }

        &__primary-content {
            &--list-view {
                float: none;
                width: 100%;
                padding: 0;
            }

            &--no-image-view {
                float: none;
                width: 100%;

                .product-item--compact & {
                    width: 100%;
                }
            }
        }

        &__primary-half {
            &--list-view {
                padding-left: 125px;
            }

            &--no-image-view {
                padding-right: 0;
            }
        }

        &__secondary-content {
            &--list-view {
                float: none;
                width: 100%;

                .product-item--compact & {
                    padding-top: 0;
                }
            }

            &--no-image-view {
                float: none;
                width: 100%;
                padding: 0;

                .product-item__secondary-half--no-image-view {
                    &:last-child {
                        width: 100%;
                        padding-left: 0;
                    }
                }
            }
        }

        &__secondary-half {
            &--list-view {
                max-width: 100%;
                padding-left: 125px;
            }

            &--no-image-view {
                float: none;
                width: 100%;
                padding-left: 50%;
                padding-top: 10px;


                &:first-child {
                    width: 100%;

                    padding: 0;
                }
            }
        }

        &__title {
            &--list-view {
                float: none;
                width: 100%;
                margin-bottom: 10px;
                padding-left: 125px;
            }

            &--no-image-view {
                padding: 0;
                margin-bottom: $offset-x-s;

                width: 100%;
            }
        }

        &__mspr {
            &--list-view,
            &--no-image-view {
                display: none;
            }
        }

        &__qty {
            &--no-image-view {
                .product-item__qty__current-grid {
                    float: none !important; //Will fix after creating blank theme for catalog list
                    width: 100% !important;//Will fix after creating blank theme for catalog list

                    + .add-product-from-view-component {
                        float: none !important;//Will fix after creating blank theme for catalog list
                        width: 100% !important;//Will fix after creating blank theme for catalog list
                        margin: 0 !important;//Will fix after creating blank theme for catalog list;
                    }
                }
            }
        }
    }
}


@include breakpoint('strict-tablet') {
    .product-item {
        &--gallery-view {
            width: calc(25% - (#{$product-item-gallery-view-offset-x} * 2));
        }
    }
}

@include breakpoint('strict-tablet-small') {
    .product-item {
        &--gallery-view {
            width: calc(33.3333% - (#{$product-item-gallery-view-offset-x-tablet-small} * 2));
            margin: 0 $product-item-gallery-view-offset-x-tablet-small;
        }
    }
}

@include breakpoint('strict-mobile-landscape') {
    .product-item {
        &--gallery-view {
            width: calc(50% - (#{$product-item-gallery-view-offset-x-mobile-landscape} * 2));
            margin: 0 $product-item-gallery-view-offset-x-mobile-landscape;
        }
    }
}

@include breakpoint('strict-mobile') {
    .product-item {
        &--gallery-view {
            width: 100%;
            margin: 0;
        }
    }
}
