.product-container {
  .content-with-sidebar {
    &--header {
      flex-shrink: 0;
    }

    &--sidebar {
      display: flex;
      flex-direction: column;
    }

    &--sidebar-content {
      overflow: auto;
      flex-grow: 1;

      .control-group-checkbox {
        label {
          float: left;
        }

        input {
          margin: 0 10px !important;
        }
      }
    } 
  }
}
