.featured-category {
    display: inline-block;

    vertical-align: top;

    color: get-color('additional', 'darker');

    &__image {
        display: block;
        max-width: 100%;
        max-height: 260px;

        border: 1px solid get-color('additional', 'light');
    }

    &__desc {
        overflow: hidden;

        text-align: center;
    }

    &__name {
        padding-top: 8px;

        font-size: $base-font-size--m;
        font-weight: normal;
        line-height: normal;
    }

    &__qty {
        margin-bottom: -2px;
        padding-top: 2px;

        font-size: $base-font-size--s;
        line-height: normal;
    }

    &:hover {
        text-decoration: none;

        color: get-color('additional', 'darker');

        .featured-category__name {
            text-decoration: underline;
        }
    }
}

@include breakpoint('mobile') {
    .featured-category {
        margin-top: 10px;

        &__name {
            font-size: $base-font-size--m;
        }
    }
}
