{% block _order_review_payment_methods_apruve_widget -%}
    {% if options.payment_method is defined %}
        {% set options = {
            paymentMethod: options.payment_method,
            apruvejsUri: options.apruvejs_uri,
            orderIdParamName: options.param_order_id
        } %}
        <div class="hidden"
             data-page-component-module="oroapruve/js/app/components/payment-method-component"
             data-page-component-options="{{ options|json_encode }}">
        </div>
    {% endif %}
{%- endblock %}
