{% block _order_review_payment_methods_apruve_widget -%}
    {{ dump() }}
    {% if options.payment_method is defined %}
        {# Preload apruvejs lib so it can be used in payment-method-component #}
        <script type="text/javascript">
            require(["{{ options.apruvejs_uri }}"]);
        </script>
        <div class="hidden"
             data-page-component-module="oroapruve/js/app/components/payment-method-component"
             data-page-component-options="{{ {paymentMethod: options.payment_method, apruvejsUri: options.apruvejs_uri }|json_encode }}">
        </div>
    {% endif %}
{%- endblock %}
