{% block  __datagrid_toolbar__datagrid_toolbar_leftside_container_widget %}
    <div class="datagrid-toolbar__start" data-section="left-side">
        <% if (toolbarPosition === 'top') { %>
            <div class="actions-panel" data-grid-extra-actions-panel></div>
        <% } %>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block __datagrid_toolbar__datagrid_toolbar_pagination_info_widget %}
    <% if (toolbarPosition === 'bottom') { %>
        <div data-grid-pagination-info class="datagrid-toolbar-pagination-info"></div>
    <% } %>
{% endblock %}
