.shopping-list-create {
    position: absolute;
    top: 0;
    right: 0;

    width: 37px;
    height: 100%;
    padding-top: 16px;

    text-align: center;

    .cf-add_circle {
        font-size: 20px;

        color: #707070;
    }
}
