.shopping-list-create {
    position: absolute;
    top: 0;
    right: 0;

    width: 37px;
    height: 100%;
    padding-top: 16px;

    text-align: center;

    border-radius: 0 3px 0 0;
    box-shadow: -2px 0 1px -1px $base-dark-semi-transparent;
    border-bottom: 1px solid $base-font-color-lightest;
    background: #ededed;

    .cf-add_circle {
        font-size: 20px;

        color: #707070;
    }
}
