{% block _checkout_button_continue_widget -%}
    <fieldset class="checkout__form__row">
        <fieldset class="checkout__form__row">
            <div class="create-account__form__req-text"><sup>*</sup>
                {{ 'orob2b.checkout.workflow.b2b_flow_checkout.form.required.label'|trans }}
            </div>
        </fieldset>
        <div class="create-account__form__col form__col_x12">
            {{ block_widget(block) }}
        </div>
    </fieldset>
{% endblock %}

{% block _checkout_button_back_widget -%}
    <div class="checkout__form__back">
        {{ block_widget(block) }}
    </div>
{%- endblock %}
