{% block _checkout_form_fields_widget %}
    <fieldset class="checkout__form__row">
        <div class="checkout__form__col form__col_x6">
            <span class="checkout__form__label">Select a Payment Method<sup class="red">*</sup></span>
            <div class="checkout__form__radio">
                <label class="radio_custom radio_custom_blue" data-radio="">
                    <input type="radio" name="paymentMethod">
                    <i class="material-icons radio_checked fs18 mmr5-md">radio_button_checked</i>
                    <i class="material-icons radio_not-checked fs18 mmr5-md">radio_button_unchecked</i>
                    <span class="checkbox_custom__text fs13">Payment Account</span>
                </label>

                <div class="checkout__form__payment-container">
                    <div class="checkout__form__select">
                        <select data-chosen-selectbox="" class="input input_md" name="billingAddress"
                                id="billingAddress">
                            <option value="0">Wells Fargo ************1234</option>
                            <option value="0">Wells Fargo ************5678</option>
                            <option value="0">Wells Fargo ************3455</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="checkout__form__radio">
                <label class="radio_custom radio_custom_blue checked" data-radio="">
                    <input type="radio" name="paymentMethod" checked="checked">
                    <i class="material-icons radio_checked fs18 mmr5-md">radio_button_checked</i>
                    <i class="material-icons radio_not-checked fs18 mmr5-md">radio_button_unchecked</i>
                    <span class="checkbox_custom__text fs13">Credit Card</span>
                </label>

                <div class="checkout__form__payment-container">
                    <div class="checkout__form__payment-methods">
                        <ul class="checkout__form__payment-methods__list">
                            <li><a href="#"><i class="credit-card-icon credit-card-icon_mc"></i></a></li>
                            <li><a href="#"><i class="credit-card-icon credit-card-icon_visa"></i></a></li>
                            <li><a href="#"><i class="credit-card-icon credit-card-icon_ae"></i></a></li>
                            <li><a href="#"><i class="credit-card-icon credit-card-icon_discover"></i></a></li>
                        </ul>

                        <div class="checkout__form__payment-methods__form">
                            <div class="checkout__form__row">
                                <div class="checkout__form__col form__col_x12">
                                    <label for="cardName" class="checkout__form__payment-label">Name on Card<sup
                                                class="red">*</sup></label>
                                    <input type="text" name="cardName" id="cardName"
                                           class="input input_md input_block checkout__form__input "
                                           placeholder="Enter name on your card">
                                </div>
                            </div>
                            <div class="checkout__form__row">
                                <div class="checkout__form__col form__col_x12">
                                    <label for="cardNumber" class="checkout__form__payment-label">Credit Card
                                        Number<sup class="red">*</sup></label>
                                    <input type="text" name="cardNumber" id="cardNumber"
                                           class="input input_md input_block checkout__form__input "
                                           placeholder="Enter your credit card number">
                                </div>
                            </div>
                            <div class="checkout__form__row">
                                <div class="checkout__form__col form__col_x12">
                                    <label class="checkout__form__payment-label">Expiration Date<sup
                                                class="red">*</sup></label>
                                    <div class="checkout__form__select checkout__form__select_exp-month">
                                        <select data-chosen-selectbox="" class="input input_md"
                                                name="expirationMonth" id="expirationMonth">
                                            <option value="0">Month</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                    </div>
                                    <div class="checkout__form__select checkout__form__select_exp-day">
                                        <select data-chosen-selectbox="" class="input input_md"
                                                name="expirationDay" id="expirationDay">
                                            <option value="0">Day</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="checkout__form__row">
                                <div class="checkout__form__col form__col_x12">
                                    <label for="ccv" class="checkout__form__payment-label">Credit Card
                                        Verification Number<sup class="red">*</sup></label>
                                    <input type="text" name="ccv" id="ccv"
                                           class="input input_md checkout__form__input checkout__form__input_ccv"
                                           placeholder="">
                                    <a href="#" class="what-this-link">What's this?</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
{% endblock %}
