{% block _checkout_form_fields_widget %}
    <div class="hidden">
        <fieldset class="checkout__form__row">
            {{ form_widget(form.payment_method) }}
        </fieldset>

    {% if form.payment_save_for_future is defined %}
        <div data-page-component-module="orob2bcheckout/js/app/components/payment-save-for-future-component">
            {{ form_widget(form.payment_save_for_future) }}
        </div>
    {% endif %}

    {% if form.payment_validate is defined %}
        {{ form_widget(form.payment_validate) }}
    {% endif %}
    </div>
{% endblock %}
