{% block _checkout_form_fields_widget -%}
    {% if workflowItem.data.get('disallow_shipping_address_edit') %}
        <fieldset class="checkout__form__row">
            <div class="checkout__form__col form__col_x6">
                {{ checkout.shippingAddress|oro_format_address(null, '<br/>') }}
            </div>
        </fieldset>
    {% else %}
        {% import 'OroB2BCheckoutBundle:layouts/default/orob2b_checkout_frontend_checkout/templates:address.html.twig' as address %}
        {% set hasCustomAddress = false %}
        {% if form.shipping_address.id.vars.value %}
            {% set hasCustomAddress = not form.shipping_address.vars.value.accountUserAddress and not form.shipping_address.vars.value.accountAddress %}
        {% endif %}

        <div data-page-component-module="oroui/js/app/components/view-component"
             data-page-component-options="{{ {
                 view: 'orob2bcheckout/js/app/views/address-view',
                 selectors: {
                     address: '#' ~ form.shipping_address.accountAddress.vars.id,
                     region: '#' ~ form.shipping_address.region.vars.id,
                     fieldsContainer: '#checkout-address-fields-container',
                     shipToBillingCheckbox: '#' ~ form.ship_to_billing_address.vars.id,
                 }
             }|json_encode }}">

            <fieldset class="checkout__form__row">
                {{ form_row(form.shipping_address.accountAddress) }}
            </fieldset>

            {{ address.address_form(form.shipping_address, form.save_shipping_address, hasCustomAddress) }}

            {% if workflowItem.data.get('billing_address_has_shipping') %}
            <fieldset class="checkout__form__row">
                {{ form_row(form.ship_to_billing_address) }}
            </fieldset>
            {% endif %}
        </div>
    {% endif %}
{%- endblock %}
