{% block _checkout_form_fields_widget %}
    <div class="hidden">
        <fieldset class="checkout__form__row">
            {{ form_widget(form.shipping_method) }}
            {{ form_widget(form.shipping_method_type) }}
            {{ form_widget(form.shipping_rule_config) }}
        </fieldset>
    </div>
{% endblock %}