{% block _checkout_form_fields_widget %}
    <fieldset class="checkout__form__row">
        <div class="checkout__form__col form__col_x6">
            <span class="checkout__form__label">Select a Shipping Method<sup class="red">*</sup></span>
            <div class="checkout__form__radio">
                <label class="radio_custom radio_custom_blue checked" data-radio="">
                    <input type="radio" name="shippingMethod" checked="checked">
                    <i class="material-icons radio_checked fs18 mmr5-md">radio_button_checked</i>
                    <i class="material-icons radio_not-checked fs18 mmr5-md">radio_button_unchecked</i>
                    <span class="checkbox_custom__text fs13">USPS Ground - $19.75</span>
                </label>
            </div>
            <div class="checkout__form__radio">
                <label class="radio_custom radio_custom_blue" data-radio="">
                    <input type="radio" name="shippingMethod">
                    <i class="material-icons radio_checked fs18 mmr5-md">radio_button_checked</i>
                    <i class="material-icons radio_not-checked fs18 mmr5-md">radio_button_unchecked</i>
                    <span class="checkbox_custom__text fs13">USPS Express - $45.87</span>
                </label>
            </div>
        </div>
    </fieldset>
{% endblock %}
