{% block _checkout_form_fields_widget %}
    <fieldset class="checkout__form__row">
        <div class="checkout__form__col form__col_x6">
            {% set workflowItem = checkout.workflowItem %}
            {% if workflowItem.data.get('disallow_shipping_method_edit') %}
                <div class="checkout__form__radio">
                    <label class="radio_custom radio_custom_blue checked" data-radio="">
                        <input type="radio" name="paymentMethod">
                        <i class="cf-radio_button_checked radio_checked fs18 mmr5-md"></i>
                        <i class="cf-radio_button_unchecked radio_not-checked fs18 mmr5-md"></i>
                        <span class="checkbox_custom__text fs13">
                            {{ 'orob2b.checkout.quoted_shipping_amount.label'|trans}}:
                            {{ checkout.shippingCost|oro_format_price }}
                        </span>
                    </label>
                </div>
            {% else %}
                <span class="checkout__form__label">Select a Shipping Method<sup class="red">*</sup></span>
                <div class="checkout__form__radio">
                    <label class="radio_custom radio_custom_blue checked" data-radio="" tabindex="0">
                        <input type="radio" name="paymentMethod">
                        <i class="cf-radio_button_checked radio_checked fs18 mmr5-md"></i>
                        <i class="cf-radio_button_unchecked radio_not-checked fs18 mmr5-md"></i>
                        <span class="checkbox_custom__text fs13">{{ 'orob2b.checkout.preferred_shipping_method.label'|trans}}</span>
                    </label>
                </div>
            {% endif %}
        </div>
    </fieldset>
{% endblock %}
