<% let oroui = _.macros('oroui') %>
<% let oroshoppinglist = _.macros('oroshoppinglist') %>

<div class="inline-editor__inner">
    <div class="inline-editor__fields">
        <input
            name="quantity"
            type="number"
            inputmode="text"
            value="<%- data.quantity %>"
            data-precision="<%- data.precision %>"
            class="input input-qty"
            aria-label="<%- _.__('oro.frontend.shoppinglist.inline_editing.quantity.aria_label') %>"
            autocomplete="off"
            data-floating-error
            data-boundaries-element="[role='dialog']"
        >
        <select name="unitCode" class="select input" aria-label="<%- _.__('oro.frontend.shoppinglist.inline_editing.unit.aria_label') %>" required>
            <% _.each(data.units, function(data, value) { %>
                <option value="<%- value %>"<% if (data.selected) { %> selected<% } %><% if (data.disabled) { %> disabled<% } %>>
                    <%- oroshoppinglist.renderUnit({unit: value, quantity: 1}) %>
                </option>
            <% }) %>
        </select>
    </div>
    <div class="inline-editor__actions">
        <button class="btn btn--icon inline-editor__action-item" type="submit"
                title="<%- _.__('oro.form.inlineEditing.action.save') %>">
            <%= oroui.renderIcon({
                name: 'check'
            }) %>
        </button>
        <button class="btn btn--icon btn--destructive inline-editor__action-item" data-action="cancel"
                title="<%- _.__('oro.form.inlineEditing.action.cancel') %>">
            <%= oroui.renderIcon({
                name: 'close'
            }) %>
        </button>
    </div>
</div>
