<% let oroui = _.macros('oroui') %>
<% let oroshoppinglist = _.macros('oroshoppinglist') %>
<% let oroproduct = _.macros('oroproduct') %>
<div class="inline-editor__inner">
    <div class="inline-editor__fields">
        <% if (obj.useInputStepper) { %>
            <div data-increment-input>
                <input
                        name="quantity"
                        type="number"
                        inputmode="decimal"
                        value="<%- data.quantity %>"
                        data-precision="<%- data.precision %>"
                        class="input"
                        aria-label="<%- _.__('oro.frontend.shoppinglist.inline_editing.quantity.aria_label') %>"
                        autocomplete="off"
                        data-floating-error
                        data-boundaries-element="[role='dialog']"
                >
            </div>
        <% } else { %>
            <input
                name="quantity"
                type="number"
                inputmode="decimal"
                value="<%- data.quantity %>"
                data-precision="<%- data.precision %>"
                class="input input-qty"
                aria-label="<%- _.__('oro.frontend.shoppinglist.inline_editing.quantity.aria_label') %>"
                autocomplete="off"
                data-floating-error
                data-boundaries-element="[role='dialog']"
            >
        <% } %>
        <%= oroproduct.renderGroupedUnits({
            name: 'unitCode',
            units: data.units,
            unit: data.unit,
            gridThemeOptions: obj.gridThemeOptions,
            selectMode: {
                'class': 'input',
                'ariaLabel': 'oro.frontend.shoppinglist.inline_editing.unit.aria_label'
            }
        }) %>
    </div>
    <div class="inline-editor__actions">
        <button class="btn inline-editor__action-item" type="submit"
                title="<%- _.__('oro.form.inlineEditing.action.save') %>">
            <%= oroui.renderIcon({
                name: 'check'
            }) %>
        </button>
        <button class="btn btn--neutral inline-editor__action-item" data-action="cancel"
                title="<%- _.__('oro.form.inlineEditing.action.cancel') %>">
            <%= oroui.renderIcon({
                name: 'close'
            }) %>
        </button>
    </div>
</div>
