{% set lineItems = record.getValue('lineItems') %}

{% if (lineItems|first).parentProduct is not empty %}
    <div>&nbsp;</div>
{% endif %}

{% for lineItem in lineItems %}
    <div class="shopping-list-line-items__status">{{ lineItem.product.InventoryStatus }}</div>
{% endfor %}
