{% import 'OroUIBundle::macros.html.twig' as UI %}

{% set lineItems = record.getValue('lineItems') %}
{% set matchedPrices = record.getValue('matchedPrices') %}
{% set allPrices = record.getValue('allPrices') %}

{% if (lineItems|first).parentProduct is not empty %}
    <div>&nbsp;</div>
{% endif %}

{% for lineItem in lineItems %}
    {% set productMatchedPrice = matchedPrices[lineItem.product.id][lineItem.unit.code] is not empty ? matchedPrices[lineItem.product.id][lineItem.unit.code] : null %}
    {% set productAllPrices = allPrices[lineItem.product.id]|default({}) is not empty ? allPrices[lineItem.product.id] : null %}

    <div class="line-item-price" {{ UI.renderPageComponentAttributes({
        module: 'oroui/js/app/components/view-component',
        options: {
            view: 'oropricing/js/app/views/list-item-product-prices-view',
            showValuePrice: false,
            showListedPrice: false,
            doUpdateQtyForUnit: false,
            modelAttr: {
                prices: productAllPrices,
            }
        }
    }) }}>
        <div data-name="prices-hint">
            {% if productMatchedPrice is not null %}
                <div data-name="price-value">
                    {{ productMatchedPrice.value|oro_format_currency({'currency': productMatchedPrice.currency}) }}
                </div>
            {% else %}
                <div data-name="price-not-found">{{ 'oro.pricing.frontend.product_prices.price_not_found'|trans }}</div>
            {% endif %}
        </div>
    </div>
{% endfor %}
