{% set lineItems = record.getValue('lineItems') %}

{% set totalQuantity = 0.0 %}
{% for lineItem in lineItems %}
    {% set totalQuantity = totalQuantity + lineItem.quantity %}
{% endfor %}

{% set unit = (lineItems|first).unit.code|oro_format_product_unit_label(false, false) %}

<div>
    <span>{{ totalQuantity }}</span> <span>{{ unit }}</span>
</div>

{% if (lineItems|first).parentProduct is not empty %}
    {% for lineItem in lineItems %}
        <div>
            <span>{{ lineItem.quantity }}</span> <span>{{ unit }}</span>
        </div>
    {% endfor %}
{% endif %}
