{% set lineItems = record.getValue('lineItems') %}
{% set matchedPrices = record.getValue('matchedPrices') %}

{% set total = 0.0 %}

{% for lineItem in lineItems %}
    {% set productMatchedPrice = matchedPrices[lineItem.product.id][lineItem.unit.code] is not empty ? matchedPrices[lineItem.product.id][lineItem.unit.code] : null %}

    {% if total is not null and productMatchedPrice is not null %}
        {% set total = total + productMatchedPrice.value * lineItem.quantity %}
    {% else %}
        {% set total = null %}
    {% endif %}
{% endfor %}

{% if total is not null %}
    <div class="bold" data-name="price-value">
        {{ total|oro_format_currency({'currency': oro_currency()}) }}
    </div>
{% elseif (lineItems|first).parentProduct is empty %}
    <div class="bold" data-name="price-not-found">{{ 'oro.pricing.frontend.product_prices.price_not_found'|trans }}</div>
{% else %}
    <div class="bold" data-name="price-not-found">&nbsp</div>
{% endif %}

{% if (lineItems|first).parentProduct is not empty %}
    {% for lineItem in lineItems %}
        {% set productMatchedPrice = matchedPrices[lineItem.product.id][lineItem.unit.code] is not empty ? matchedPrices[lineItem.product.id][lineItem.unit.code] : null %}

        {% if productMatchedPrice is not null %}
            <div class="bold" data-name="price-value">
                {{ (productMatchedPrice.value * lineItem.quantity)|oro_format_currency({'currency': productMatchedPrice.currency}) }}
            </div>
        {% else %}
            <div class="bold" data-name="price-not-found">{{ 'oro.pricing.frontend.product_prices.price_not_found'|trans }}</div>
        {% endif %}
    {% endfor %}
{% endif %}
