{% import 'OroB2BShoppingListBundle:ShoppingList/Frontend:buttons.html.twig' as buttons %}

{% set commonOptions = {
    dataUrl: 'orob2b_shopping_list_add_products_massaction',
    dataUrlOptions: {
            gridName: 'frontend-products-grid',
            actionName: 'addproducts',
    },
    dataAttributes: {}
} %}
{% set options = {
    new: commonOptions,
    current: commonOptions,
    existing: commonOptions,
    shoppingLists: shoppingLists,
    currentShoppingList: currentShoppingList
} %}
<div class="mass-action-controls"
     data-page-component-module="orob2bshoppinglist/js/app/components/add-products-button"
     data-page-component-options="{{ {'redirect': path('orob2b_shopping_list_frontend_index')} | json_encode }}"
        >
    {{ buttons.createAddToShoppingListButton(options) }}
</div>