$charset: "UTF-8";

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/roboto-regular-webfont.eot');
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/roboto/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto/roboto-regular-webfont.ttf') format('truetype'),
        url('../fonts/roboto/roboto-regular-webfont.woff2') format('woff2'),
        url('../fonts/roboto/roboto-regular-webfont.woff') format('woff'),
        url('../fonts/roboto/roboto-regular-webfont.svg#robotoregular') format('svg');
  font-weight: 400;
  font-style: normal;
}
