<div class="{{ class_prefix }}__form__payment-methods"
     data-page-component-module="orob2bpayment/js/app/components/payment-term-component"
     data-page-component-options="{{ {paymentMethod: paymentMethod}|json_encode }}">
    {{ options.value|default('') }}
</div>
