/* @theme: default; */

.quick-order-copy-paste {
    grid-area: $quick-order-copy-paste-grid-area;

    &__title {
        margin: $quick-order-copy-paste-title-margin;
        font-size: $quick-order-copy-paste-textarea-font-size;
        font-weight: $quick-order-copy-paste-textarea-font-weight;
        text-transform: $quick-order-copy-paste-textarea-text-transform;
    }

    &__textarea {
        height: $quick-order-copy-paste-textarea-height;
    }
}
