{% extends '@OroUI/actions/index.html.twig' %}
{% import '@OroUI/macros.html.twig' as UI %}

{% set pageTitle = 'oro.cms.contentwidget.entity_plural_label'|trans %}
{% set gridName = 'cms-content-widget-grid' %}

{% block navButtons %}
    {% import '@OroUI/macros.html.twig' as UI %}

    {% if is_granted('oro_cms_content_widget_create') %}
        <div class="btn-group">
            {{ UI.addButton({
                'path': path('oro_cms_content_widget_create'),
                'entity_label': 'oro.cms.contentwidget.entity_label'|trans
            }) }}
        </div>
    {% endif %}
{% endblock %}
