/* @theme: default; */

.rfp-request__success {
    margin: 30px 0 70px;

    text-align: center;

    &__title {
        margin: 0 0 25px;

        font-size: 24px;
    }

    &__order {
        margin: 0 0 25px;
    }

    &__print {
        margin: 0 0 35px;
    }

    &__btn {
        min-width: 120px;
    }
}

@include breakpoint('mobile-big') {
    .rfp-request__success {
        margin: 10px 0 40px;
        
        &__btn {
            min-width: inherit;
            width: 100%;
        }
    }
}
