<script type="text/html" id="totals-template">
    {% block totals_entity_edit_page_template %}
        <div class="control-group">
            <label class="control-label"><%= item.label %></label>
            <div class="controls">
                <label class="control-label"><%= item.formattedAmount %></label>
            </div>
        </div>
    {% endblock %}
</script>

<script type="text/html" id="totals-template-no-data">
    <div class="no-data">
        <span>{{ 'oro.pricing.subtotals.no_data.label'|trans|raw }}</span>
    </div>
</script>
