/* @theme: admin.oro; */

.oro-payment-rule-collection {
    &.oro-item-collection {
        .row-oro {
            max-width: $form-container-control-group-max-width;
            position: relative;
            padding: 24px 34px 24px 0;
            margin-bottom: $content-padding-small;
            background: $primary-900;
            border-radius: 4px;
        }

        .add-list-item {
            margin-left: 183px;
        }

        .removeRow {
            position: absolute;
            width: 28px;
            top: 4px;
            right: 4px;
            text-decoration: none;

            &::after {
                color: $additional-ultra-light;
            }
        }

        input.method-options-surcharge {
            width: 110px;
        }

        .small-row {
            .control-group-choice {
                float: left;
            }
        }

        .selector.input-widget-select {
            margin-left: 0;
        }
    }
}
