/* @theme: admin.oro; */

.cms-content {
    padding-bottom: $content-padding-medium;
    margin-bottom: -$content-padding-medium;

    overflow-y: auto;

    &--no-scroll {
        overflow: visible;
    }

    audio,
    canvas,
    img,
    video {
        max-width: 100%;
        height: auto;
    }

    figure,
    figcaption {
        display: block;

        text-align: center;
    }

    ul,
    ol {
        padding-left: 20px;
    }
}
