/* @theme: admin.oro; */

/* stylelint-disable selector-class-pattern */

.#{$app-prefix} {
    &editor-cont {
        transition: height .5s;

        .ui-dialog & {
            padding: 0;
        }
    }

    &frame {
        width: calc(100% - 16px);
        height: calc(100% - 16px);
        top: 8px;
        left: 8px;
        right: 8px;
        bottom: auto;
        box-sizing: content-box;
        transition: width 1s, height 1s;

        &-wrapper {
            transition: width 1s, height 1s;
        }
    }

    &cv-canvas {
        background-color: $canvas-bg-color;
        padding: 8px;
        width: calc(77% - 14px);

        .gjs-highlighter,
        .gjs-highlighter-sel {
            margin-left: -2px;
            margin-top: -2px;
            outline-offset: 0;
        }

        ##{$app-prefix}tools,
        .#{$app-prefix}tools {
            z-index: 2;

            /* rtl:begin:ignore */
            left: 0;
            right: auto;

            /* rtl:end:ignore */
        }
    }

    &clm-tags {
        ##{$app-prefix}clm-up {
            margin-top: 0;
        }

        ##{$app-prefix}clm-states {
            height: 30px;
        }
    }

    &pn-commands {
        box-shadow: none;
        padding: 0;
    }

    &pn-panel {
        padding: 0;

        &.#{$pn-prefix}options {
            padding-right: 7px;
            display: flex;
            align-items: center;
        }

        .nav-content {
            padding: 2px 16px 10px;

            input {
                height: 32px;
            }
        }
    }

    &select-control {
        margin-right: 5px;

        .dropdown-menu {
            &[x-out-of-boundaries] {
                display: block;
            }
        }
    }

    &pn-views-container {
        $offset: 40px;

        height: calc(100% - #{$offset});
        margin-top: $offset;

        box-shadow: none;
    }

    &pn-commands,
    &pn-options,
    &pn-devices-c {
        .#{$pn-prefix}btn,
        .btn {
            background-color: $button-bg-color;
            border-radius: 30px;
            margin-right: 7px;

            &.#{$pn-prefix}active,
            &[aria-expanded="true"] {
                background-color: $additional-extra-light;
                box-shadow: $button-bg-shadow;
            }
        }
    }

    &pn-settings {
        position: relative;
        padding: 0;
        display: none;
        min-width: 250px;

        .#{$pn-prefix}views-container & {
            display: block;
        }

        .#{$pn-prefix}buttons {
            display: grid;
            grid-template-columns: 1fr 32px;
            grid-gap: 8px;
            text-align: left;
        }

        .tooltip-icon {
            margin-right: 8px;
        }
    }

    &sm-properties {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        font-size: $base-font-size--sm;
    }

    &sm-label {
        font-size: $base-font-size;
        color: $primary-200;

        &.#{$app-prefix}color-warn {
            color: $primary-200;
        }

        &.#{$app-prefix}four-color {
            color: $warning-darken;
        }
    }

    &sm-composite,
    &sm-stack {
        > .#{$app-prefix}sm-label {
            font-weight: font-weight('bold');
        }
    }

    &sm-sector {
        ##{$app-prefix}sm-caret {
            font-size: $base-font-size--m;
        }

        .#{$app-prefix}sm-title {
            .fa {
                min-width: 18px;
            }
        }
    }

    &sm-sectors,
    &sm-sector,
    &block-category {
        margin-bottom: 12px;
        border-bottom: none;

        svg {
            vertical-align: inherit;
        }

        &.#{$app-prefix}sm-open,
        &.#{$app-prefix}open {
            border-bottom: none;
        }

        .#{$app-prefix}sm-sector-title,
        .#{$app-prefix}sm-title,
        .#{$app-prefix}title {
            border-bottom: none;
            font-weight: font-weight('bold');
            padding: 6px 14px 5px;
            letter-spacing: normal;
            font-size: $base-font-size;
            color: $primary-100;
            background-color: $primary-860;
            border-radius: 4px;
        }

        .#{$app-prefix}sm-sector-caret {
            width: 22px;
            height: 22px;
            min-width: 22px;
            margin-left: -8px;
            margin-right: -8px;
        }

        .#{$sm-prefix}field.#{$sm-prefix}composite {
            border: none;
            background: $primary-900;
            border-radius: 4px;
        }

        .#{$sm-prefix}btn {
            background-color: $secondary;
            color: $primary-inverse;

            text-shadow: none;
        }

        .#{$sm-prefix}property {
            .#{$sm-prefix}layer {
                ##{$sm-prefix}close-layer {
                    line-height: 0;
                    top: 10px;
                }
            }
        }
    }

    &wide-blocks {
        .#{$app-prefix}block {
            width: 100%;
        }
    }

    &toolbar-item {
        background-color: $secondary;
    }

    &toolbar {
        margin-top: -2px;
        white-space: nowrap;

        /* rtl:begin:ignore */
        left: 0;
        right: auto;

        /* rtl:end:ignore */
    }

    &com-badge,
    &com-badge-red,
    &badge {
        /* rtl:ignore */
        margin-left: -2px;
        white-space: nowrap;
    }

    &am-assets-cont {
        background: none;
    }

    &mdl-dialog {
        border-radius: 4px;
        box-shadow: $grapejs-shadow;
        animation: none;

        .#{$app-prefix}btn-prim {
            // Positions that button should be above CodeMirror container
            position: relative;
            display: inline-flex;
            padding: 0 16px;
            font-size: .875rem;
            line-height: 32px;
            border-radius: 16px;
            margin-top: 10px;
        }
    }

    &sm-header {
        padding: 0;

        @extend %base-no-data;
    }

    &mdl-header {
        background: $primary-200;
        padding: 10px 18px;
        border-radius: 4px 4px 0 0;
    }

    &mdl-title {
        color: $primary-inverse;
        font-size: $base-font-size--l;
        font-weight: font-weight('bold');
    }

    &mdl-content {
        border-radius: 0 0 4px 4px;
    }

    &mdl-container {
        background-color: rgba($primary-inverse, .5);
    }

    &rte-toolbar {
        margin-left: -2px;
        border: none;
        box-shadow: $grapejs-shadow;
    }

    &rte-actionbar {
        flex-direction: row;
        padding: 8px;

        .actionbar-group {
            display: flex;

            &:not(:last-child) {
                margin-right: 16px;
            }
        }

        .#{$rte-prefix}action {
            order: 1;
            border-right: none;
            padding: 0;
            margin-right: 8px;
            min-width: 25px;
            width: auto;
            height: 32px;

            &:last-child {
                margin-right: 0;
            }

            svg {
                fill: $primary-100;
            }

            &:hover,
            &.#{$rte-prefix}active {
                color: $primary-inverse;

                svg {
                    fill: $primary-inverse;
                }
            }

            select {
                padding-right: 15px;
                min-width: 95px;
            }

            .select2-container {
                width: 120px;
                max-width: 120px;
            }

            .#{$rte-prefix}select2 {
                text-align: left;
            }

            &.#{$rte-prefix}disabled {
                color: $primary-700;
                cursor: default;

                &:hover {
                    background: none;
                    color: $primary-700;
                }
            }
        }

        .unlink {
            @include fa-icon($fa-var-chain-broken);
        }
    }

    &am-highlight {
        color: $primary-inverse;

        .#{$app-prefix}am-close {
            top: -10px;
        }
    }

    // Place some actions above some elements that overlap them, like CodeMirror container
    &action {
        position: relative;
    }

    &resizer-h-cl {
        margin: auto -8px;
    }
}

.table-edition-toolbar {
    /* rtl:begin:ignore */
    left: 50%;
    transform: translate(-50%, 0);

    /* rtl:end:ignore */
    margin-bottom: 5px;
}

.sp-container {
    /* rtl:begin:ignore */
    left: 0;
    right: auto;

    /* rtl:end:ignore */
}

.#{$rte-prefix}select2 {
    &-dropdown {
        // Override inline styles
        // stylelint-disable-next-line declaration-no-important
        width: 200px !important;
    }

    &-option {
        &--h1,
        &--h2,
        &--h3,
        &--h4,
        &--h5,
        &--h6 {
            font-weight: $headings-font-weight;
            line-height: $headings-line-height;
        }

        &--h1 {
            @include font-size($h1-font-size);
        }

        &--h2 {
            @include font-size($h2-font-size);
        }

        &--h3 {
            @include font-size($h3-font-size);
        }

        &--h4 {
            @include font-size($h4-font-size);
        }

        &--h5 {
            @include font-size($h5-font-size);
        }

        &--h6 {
            @include font-size($h6-font-size);
        }
    }
}

.#{$app-prefix}select option,
.#{$app-prefix}field-select option,
.#{$clm-prefix}select option,
.#{$sm-prefix}select option,
.#{$app-prefix}fields option,
.#{$sm-prefix}unit option {
    background-color: $primaryColor;
    color: $fontColor;
}

.#{$app-prefix}dashed {
    *[data-highlightable] {
        padding: 10px;

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}

// Additional styles for fullscreen mode
.page-content-editor {
    margin: -$grapesjs-content-editor-offset;

    .widget-content &,
    &.editor-unavailable {
        margin: 0;
    }

    .validation-failed {
        margin-left: $grapesjs-content-editor-offset;
        margin-right: $grapesjs-content-editor-offset;
    }
}

.settings-panel {
    padding: 10px;

    &:not(.show) {
        display: none;
    }

    &__body {
        padding: 12px;
    }

    &__tooltip-trigger {
        position: absolute;
        inset: 0;
    }
}

.content-variant-item-content__body {
    &.editor-unavailable {
        .alert {
            margin-top: 8px;
        }
    }
}

.ui-dialog {
    &--import-template {
        .CodeMirror {
            width: 820px;
            max-height: 350px;

            &-lines {
                font-size: 12px;
            }
        }

        .ui-dialog-content {
            padding: 18px;
            overflow: hidden;
        }

        .action-wrapper {
            display: inline-block;
        }

        .btn:disabled {
            pointer-events: none;
        }

        .validation-failed {
            margin: 18px 0 0;
            white-space: pre-line;
            max-height: 152px;
            overflow-y: auto;
            line-height: 1.1;
        }

        &.ui-dialog-maximized {
            .CodeMirror {
                width: 100%;
                height: 100%;
                max-height: 100%;
            }
        }
    }
}

.grapesjs {
    // Custom scrollbars for Chrome
    &.#{$app-prefix}editor-cont ::-webkit-scrollbar-track {
        background: $grapesjs-scrollbar-track-background;
    }

    &.#{$app-prefix}editor-cont ::-webkit-scrollbar-thumb {
        background-color: $grapesjs-scrollbar-thumb-background;
    }

    &.#{$app-prefix}editor-cont .CodeMirror ::-webkit-scrollbar-track {
        background: $codemirror-scrollbar-track-background;
    }

    &.#{$app-prefix}editor-cont .CodeMirror ::-webkit-scrollbar-thumb {
        background: $codemirror-scrollbar-thumb-background;
    }

    div.CodeMirror {
        &-measure {
            + div {
                // stylelint-disable-next-line declaration-no-important
                z-index: 3 !important;
            }
        }

        &-selected {
            // stylelint-disable-next-line declaration-no-important
            background-color: $codemirror-selected-background !important;
        }
    }

    &.fullscreen-mode {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: $grapesjs-content-editor-fullscreen-z-index;
        // stylelint-disable-next-line declaration-no-important
        padding: $grapesjs-content-editor-fullscreen-offset !important;
        // stylelint-disable-next-line declaration-no-important
        width: auto !important;
        // stylelint-disable-next-line declaration-no-important
        height: auto !important;
    }

    &-loading-mask-fullscreen {
        z-index: $grapesjs-content-editor-fullscreen-z-index + 1;
    }
}

.editor-lock-overlay {
    position: absolute;
    display: block;
    background-color: rgba($primary-inverse, .7);
    z-index: 1000;

    .close {
        display: none;
    }
}
