/* @theme: admin.oro; */

.oro-image-slide-collection {
    .oro-item-collection {
        .oro-multiselect-holder {
            position: relative;
            padding: 24px;
            background: $primary-900;

            .selector {
                max-width: $selector-max-width;
                width: $selector-width;
            }

            .image-slide-text {
                position: absolute;
                top: 24px;
                #{$end}: 54px;
            }

            .removeRow {
                position: absolute;
                top: 4px;
                #{$end}: 4px;
                text-decoration: none;
            }
        }
    }
}

.validation-error {
    .image-slide-collection {
        .select2-container {
            border-color: $primary-750;
        }

        .error {
            .select2-container {
                border-color: $input-error-border-color;
            }
        }
    }
}
