@name = welcome_email
@entityName = OroB2B\Bundle\UserAdminBundle\Entity\User
@subject = Welcome: {{ entity.username }}
@isSystem = 1
@isEditable = 1

<h1>Welcome {{ entity.username }}</h1>
<div>
    <p>Your password is <b>{{ password }}</b></p>
    <p>Please follow this link to login: <a href="{{ application_url('fos_user_security_login', {'application': 'frontend'}) }}">Profile Login</a></p>
</div>
