{% block _registration_form_label_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' page-title'
    }) %}

    <h2{{ block('block_attributes') }}>{{ block_widget(block) }}</h2>
{% endblock %}

{% block _registration_form_description_widget %}
    <div class="form-row">
        <p{{ block('block_attributes') }}>{{ block_widget(block) }}</p>
    </div>
{% endblock %}
