.order-orderlineitem-collection-table {
    margin-left: 90px;
}

.order-orderlineitem-collection-table label {
    text-transform: none !important;
}

.order-orderlineitem-collection-table-view {
    margin-left: inherit;
}

.order-orderlineitem-collection-table-view > tbody > tr > td {
    vertical-align: top;
}

.order-orderlineitem-collection-table > tbody > tr > td,
.order-orderlineitem-collection-table th {
    border: 1px solid #e5e5e5;
    padding: 10px;
    vertical-align: top;
}

.order-orderlineitem-collection .btn.add-list-item {
    margin-left: 90px;
    margin-top: 7px;
}

.order-orderlineitem-collection .row-oro.oro-multiselect-holder {
    margin-bottom: 0;
}

.order-orderlineitem-collection .btn.removeRow {
    position: absolute;
    width: 28px;
    top: 11px;
    left: 388px;
}

.order-orderlineitem-widget.control-group {
    max-width: none;
}

.order-orderlineitem-widget.control-group .controls {
    float: left;
    margin-left: 10px;
}

.order-orderlineitem-widget .selector {
    margin-left: 0;
}

.order-orderlineitem-widget .btn.removeRow {
    position: absolute;
    width: 28px;
    right: -5px;
    left: auto;
}

.order-orderlineitem-collection .btn.removeRow {
    position: absolute;
    width: 28px;
    right: 0;
    top: 11px;
    left: auto;
}

.order-orderlineitem-collection {
    float: left;
    width: 100%;
}

.order-orderlineitem-collection .btn.add-list-item {
    margin-top: 1px;
}

.order-orderlineitem-collection > div > div > div {
    padding-right: 14px;
}

.order-orderlineitem-widget {
    margin-right: 15px;
}

.order-orderlineitem-widget td {
    width: 150px;
    vertical-align: top;
    padding-bottom: 4px;
}

.order-orderlineitem-widget-quantity {
    padding-top: 5px;
}

.order-orderlineitem-widget-more {
    padding-top: 10px;
}

.order-orderlineitem-widget-pricetype > div {
    margin-bottom: -10px;
}

.order-orderlineitem-widget-productunit {
    padding-top: 5px;
}

.order-orderlineitem-widget-price {
    padding-top: 5px;
}

.order-orderlineitem-widget td span.validation-failed {
    padding-top: 2px;
}

.order-orderlineitem-widget input[type="number"],
.order-orderlineitem-widget input[type="text"] {
    width: 120px !important;
}

.order-orderlineitem-widget select {
    width: 120px !important;
    height: 20px;
    margin: 0;
}

.order-orderlineitem-product {
    padding: 0;
    vertical-align: top;
}

.order-orderlineitem-product-select button {
    float: none;
}

.order-orderlineitems-info.control-group {
    max-width: none;
}

.order-orderlineitems-info {
    padding: 5px 0 0 10px;
}

.order-orderlineitems-info > table {
    margin-bottom: 10px;
    width: 100%;
}

.order-orderlineitems-info > table th,
.order-orderlineitems-info > table td {
    padding: 10px;
    border: 1px solid #e5e5e5;
}

.order-orderlineitem-collection .oro-item-collection > div {
    border: 1px solid #e6e6e6 !important;
    background: #f8f8f8 !important;
    border-radius: 4px !important;
    padding-top: 5px;
    padding-left: 5px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.order-orderlineitem-collection .oro-item-collection > div > table {
    margin-top: 7px;
    margin-bottom: 7px;
}

.order-orderlineitem-widget-last-line td {
    width: 280px;
}

.order-orderlineitem-widget-last-line label {
    width: auto !important;
}

.order-orderlineitem-widget-last-line input,
.order-orderlineitem-widget-last-line select {
    max-width: 180px !important;
}

.order-orderlineitem-widget .validate-group {
    min-width: 145px;
}

.order-orderlineitem-table-column-1 {
    vertical-align: top;
    min-width: 330px;
    width: 330px;
}

.order-orderlineitem-table-column-2 {
    vertical-align: top;
    min-width: 260px;
    width: 260px;
}

.order-orderlineitem-table-column-3 {
    min-width: 800px;
    width: 800px;
}

.order-orderlineitem-collection .oro-item-collection>div {
    margin-top: -1px !important;
}

.order-orderlineitem-widget input[type="checkbox"],
.order-orderlineitem-widget input[type="radio"] {
    margin-top: 0 !important;
}

.order-orderlineitem-collection .btn.add-list-item {
  margin-left: 676px;
  position: absolute;
}

.order-orderlineitem-widget .control-group {
    margin: 0;
}

.order-orderlineitem-notes .control-group {
    max-width: none;
    margin-top: 15px;
}

.order-orderlineitem-notes .control-group textarea {
    width: 98%;
}

.order-orderlineitem-remove-notes-btn {
    float: right;
}

.order-orderlineitem-notes-seller {
    display: none;
}

.order-orderlineitem-notes-seller-active .order-orderlineitem-notes-seller {
    display: block;
}

.order-orderlineitem-notes-seller-active .order-orderlineitem-add-notes-btn {
    visibility: hidden;
    margin-top: 1px;
}

.order-orderlineitemrequest-collection label {
    width: 115px !important;
}

.order-orderlineitemrequest-collection .controls {
    margin-left: 125px !important;
}

.order-order-accountuser-select .entity-select-btn {
    display: none;
}

.order-order-accountuser-select .select2-container {
    width: 257px !important;
}
