<script type="text/template" data-role="template">
    <div class="request-form-product__inner">
        <div class="request-form-product__item request-form-product__item--link">
            <span class="request-form-product__count">1</span>
            <a class="request-form-link link" href="#"><%= product['defaultName.string'] %></a>
        </div>
        <div class="request-form-product__item request-form-product__item--quantity">
        <% _.each(lines, function(line){ %>
            <span class="request-form-quantity">
                <span class="request-form-quantity__label">{{ 'oro.rfp.frontend.request.lineitem.qty'|trans|e('html')|raw }}</span>
                <span class="request-form-quantity__total"><%= line.quantity %></span>
                <span class="request-form-quantity__units"><%= line.unit %></span>
            </span><br/>
        <% }) %>
        </div>
        <div class="request-form-product__item request-form-product__item--amount">
        <% _.each(lines, function(line){ %>
            <dl class="request-form-amount">
                <dt class="request-form-amount__piece">
                    <span class="request-form-amount__label">{{ 'oro.rfp.requestproductitem.price.label'|trans|e('html')|raw }}</span>
                    <span class="request-form-amount__total"><%= formatter.formatCurrency(line.price) %></span>
                </dt>
            </dl>
        <% }) %>
        </div>
        <div class="request-form-product__item request-form-product__item--target">
        <% _.each(lines, function(line){ %>
            <dl class="request-form-amount">
                <dt class="request-form-amount__piece">
                    <span class="request-form-amount__label">{{ 'oro.pricing.frontend.pricelist.index.listed_price'|trans|e('html')|raw }}</span>
                    <span class="request-form-amount__total">
                    <% if (line.found_price) { %>
                        <%= formatter.formatCurrency(line.found_price.price) %>
                    <% } else { %>
                        <%= _.__("N/A") %>
                    <% } %>
                    </span>
                </dt>
            </dl>
        <% }) %>
        </div>
        <% if (!_.isEmpty(_.trim(comment)) ){ %>
        <div class="request-form-product__item request-form-product__item--comment">
            <p class="request-form-note">Note: <%= comment %></p>
        </div>
        <% } %>
    </div>
</script>
