/* @theme: default; */

.request-form-lineitem-unit {
    display: table-cell;
    padding-bottom: 8px;

    &:not(:first-child) {
        padding-left: 5px;
    }

    &__input {
        position: relative;
        right: -1px;

        max-width: 83px;

        text-align: right;

        border-radius: $btn-border-radius 0 0 $btn-border-radius;

        &:hover,
        &:focus,
        &.focus-visible {
            z-index: z('base');
        }
    }

    &__label {
        padding-left: 3px;
        padding-right: 4px;
    }

    &--size {
        &-s {
            width: 50px;
        }

        &-m {
            width: 90px;
        }

        &-l {
            width: 120px;
            max-width: 120px;
        }
    }

    &--remove {
        display: table-cell;
        padding-bottom: 8px;
        text-align: right;

        &:not(:first-child) {
            padding-left: 5px;
        }
    }

    &--prices {
        margin-left: 8px;

        white-space: nowrap;
    }

    &--select {
        .select2-container-disabled {
            background: none;
            border-color: transparent;

            .select2-choice {
                background: none;
                padding-left: 3px;
                padding-right: 0;
            }

            .select2-chosen {
                margin-right: 0;
                padding-right: 0;
            }

            .select2-arrow {
                display: none;
            }
        }
    }
}

@include breakpoint('mobile-landscape') {
    .request-form-lineitem-unit {
        &__label {
            display: none;
        }

        &__input {
            width: calc(100% - 27px);
        }
    }
}
