{% if entity_class is empty %}
    {% set entity_class = oro_class_name(entity, true) %}
{% endif %}
<li>
    <a class="no-hash"
       href="{{ path('orob2b_frontend_dataaudit_history', {entity:entity_class, id:id}) }}"
       id="view-activity-btn"
       title="{{ 'orob2b_frontend.dataaudit.history.title'|trans({'%item%': title}) }}">
        {{ 'orob2b_frontend.dataaudit.history'|trans }}
    </a>
</li>
