{% block _multiple_shipping_methods_widget %}
    {% for key, lineItems in groupedLineItems %}
        <h3 class="heading-bottom-offset">{{ groupedLineItemsTitles[key] }}</h3>
            {% do block|merge_context({
                'acceptableIds': lineItems,
                'grid_full_name': 'frontend-checkout-line-items-grid'~':'~loop.index,
            }) %}
            {% for child in block %}
                {{ block_widget(child) }}
            {% endfor %}
    {% endfor %}
{% endblock %}

{% block _checkout_order_summary_line_items_datagrid_widget %}
    {# Add acceptable_ids parameters to the grid_parameters to filter datagrids #}
    {% set grid_parameters = grid_parameters|merge({
        'acceptable_ids': acceptableIds
    }) %}

    {{ parent_block_widget() }}
{% endblock %}
