.request-form-product {
    position: relative;

    &__item {
        &--actions {
            text-align: center;

            font-size: $base-font-size--large;

            color: get-color('additional', 'middle');
        }
    }
}

@include breakpoint('desktop') {
    .request-form-product {
        &__inner {
            display: flex;

            > [data-role=content] {
                width: 100%;
            }
        }

        &__count {
            display: none;
        }

        &__item {
            padding: 12px 0;

            border-top: 1px solid get-color('additional', 'light');

            &--link {
                flex: 1 1 auto;
                padding-right: 12px;
            }

            &--quantity,
            &--amount {
                width: 160px;

                flex: 0 0 auto;
            }

            &--target {
                width: 190px;

                flex: 0 0 auto;
            }

            &--comment {
                width: 100%;
                border: none;
            }

            &--actions {
                position: absolute;
                top: 0;
                right: 0;

                width: 60px;
                white-space: nowrap;
            }
        }
    }
};

@include breakpoint('tablet') {
    .request-form-product {
        position: relative;

        &__count {
            position: absolute;
            left: 0;
            display: inline;

            color: get-color('additional', 'middle');
        }

        &__item {
            padding: 5px 0 5px 20px;

                &--link {
                    padding-right: 60px;
                }

                &--actions {
                    position: absolute;
                    top: 5px;
                    right: 0;
            }
        }
    }
};
