<div class="four-columns-team">
    <div class="grid">
        <div class="grid-col-12">
            <h2>Why Work With Us?</h2>
        </div>
        <div class="grid-col-3 grid-col-mobile-big-6 grid-col-mobile-12 bordered">
            <div class="picture-wrapper">
                <picture class="stretch">
                    <source media="(max-width: 640px)" srcset="/img/no_image-200--v-offsets.svg" type="image/svg+xml">
                    <img src="/img/no_image-200--v-offsets.svg" class="full-cover cover-img bordered-img-on-top" alt="No Image">
                </picture>
            </div>
            <div class="grid grid-columns-1 grid-row-gap-16 offset-inner">
                <div class="grid grid-columns-1 grid-row-gap-4">
                    <h3 class="no-offset">Jacob Baldwin</h3>
                    <p class="extra-text">Position at Company Name</p>
                </div>
                <p class="extra-text-dark">"HDMI, or high definition multimedia interface, is a type of audio and video interface that is used for the transmission of uncompressed digital streams".</p>
            </div>
        </div>
        <div class="grid-col-3 grid-col-mobile-big-6 grid-col-mobile-12 bordered">
            <div class="picture-wrapper">
                <picture class="stretch">
                    <source media="(max-width: 640px)" srcset="/img/no_image-200--v-offsets.svg" type="image/svg+xml">
                    <img src="/img/no_image-200--v-offsets.svg" class="full-cover cover-img bordered-img-on-top" alt="No Image">
                </picture>
            </div>
            <div class="grid grid-columns-1 grid-row-gap-16 offset-inner">
                <div class="grid grid-columns-1 grid-row-gap-4">
                    <h3 class="no-offset">Jacob Baldwin</h3>
                    <p class="extra-text">Position at Company Name</p>
                </div>
                <p class="extra-text-dark">"HDMI, or high definition multimedia interface, is a type of audio and video interface that is used for the transmission of uncompressed digital streams".</p>
            </div>
        </div>
        <div class="grid-col-3 grid-col-mobile-big-6 grid-col-mobile-12 bordered">
            <div class="picture-wrapper">
                <picture class="stretch">
                    <source media="(max-width: 640px)" srcset="/img/no_image-200--v-offsets.svg" type="image/svg+xml">
                    <img src="/img/no_image-200--v-offsets.svg" class="full-cover cover-img bordered-img-on-top" alt="No Image">
                </picture>
            </div>
            <div class="grid grid-columns-1 grid-row-gap-16 offset-inner">
                <div class="grid grid-columns-1 grid-row-gap-4">
                    <h3 class="no-offset">Jacob Baldwin</h3>
                    <p class="extra-text">Position at Company Name</p>
                </div>
                <p class="extra-text-dark">"HDMI, or high definition multimedia interface, is a type of audio and video interface that is used for the transmission of uncompressed digital streams".</p>
            </div>
        </div>
        <div class="grid-col-3 grid-col-mobile-big-6 grid-col-mobile-12 bordered">
            <div class="picture-wrapper">
                <picture class="stretch">
                    <source media="(max-width: 640px)" srcset="/img/no_image-200--v-offsets.svg" type="image/svg+xml">
                    <img src="/img/no_image-200--v-offsets.svg" class="full-cover cover-img bordered-img-on-top" alt="No Image">
                </picture>
            </div>
            <div class="grid grid-columns-1 grid-row-gap-16 offset-inner">
                <div class="grid grid-columns-1 grid-row-gap-4">
                    <h3 class="no-offset">Jacob Baldwin</h3>
                    <p class="extra-text">Position at Company Name</p>
                </div>
                <p class="extra-text-dark">"HDMI, or high definition multimedia interface, is a type of audio and video interface that is used for the transmission of uncompressed digital streams".</p>
            </div>
        </div>
    </div>
</div>
