<div class="seven-columns-large-images-team">
    <div class="grid">
        <div class="grid-col-12 grid grid-columns-1 grid-row-gap-8">
            <h2>Our Team</h2>
            <p>A Pocket PC is a handheld computer, which features many of the same capabilities as a modern PC. These handy little devices allow individuals to retrieve and store e-mail messages, create a contact file, coordinate appointments, surf the internet, exchange text messages and more</p>
        </div>
        <div class="grid-col-12 grid grid-team grid-place-content-start-center">
            <div class="grid-col bordered">
                <div class="picture__wrapper">
                    <picture>
                        <source media="(max-width: 640px)" srcset="/img/no_image-200--v-offsets.svg" type="image/svg+xml">
                        <img class="full-cover cover-img bordered-img-on-top" src="/img/no_image-200--v-offsets.svg" alt="No Image">
                    </picture>
                </div>
                <div class="grid grid-columns-1 grid-row-gap-4 offset-inner">
                    <h3 class="no-offset">Marie Hayes</h3>
                    <p class="extra-text">Position</p>
                </div>
            </div>
            <div class="grid-col bordered">
                <div class="picture__wrapper">
                    <picture>
                        <source media="(max-width: 640px)" srcset="/img/no_image-200--v-offsets.svg" type="image/svg+xml">
                        <img class="full-cover cover-img bordered-img-on-top" src="/img/no_image-200--v-offsets.svg" alt="No Image">
                    </picture>
                </div>
                <div class="grid grid-columns-1 grid-row-gap-4 offset-inner">
                    <h3 class="no-offset">Jerome Lopez</h3>
                    <p class="extra-text">Position</p>
                </div>
            </div>
            <div class="grid-col bordered">
                <div class="picture__wrapper">
                    <picture>
                        <source media="(max-width: 640px)" srcset="/img/no_image-200--offsets.svg" type="image/svg+xml">
                        <img class="full-cover cover-img bordered-img-on-top" src="/img/no_image-200--v-offsets.svg" alt="No Image">
                    </picture>
                </div>
                <div class="grid grid-columns-1 grid-row-gap-4 offset-inner">
                    <h3 class="no-offset">Ronnie Burgess</h3>
                    <p class="extra-text">Position</p>
                </div>
            </div>
            <div class="grid-col bordered">
                <div class="picture__wrapper">
                    <picture>
                        <source media="(max-width: 640px)" srcset="/img/no_image-200--offsets.svg" type="image/svg+xml">
                        <img class="full-cover cover-img bordered-img-on-top" src="/img/no_image-200--v-offsets.svg" alt="No Image">
                    </picture>
                </div>
                <div class="grid grid-columns-1 grid-row-gap-4 offset-inner">
                    <h3 class="no-offset">Shane Knight</h3>
                    <p class="extra-text">Position</p>
                </div>
            </div>
            <div class="grid-col bordered">
                <div class="picture__wrapper">
                    <picture>
                        <source media="(max-width: 640px)" srcset="/img/no_image-200--offsets.svg" type="image/svg+xml">
                        <img class="full-cover cover-img bordered-img-on-top" src="/img/no_image-200--v-offsets.svg" alt="No Image">
                    </picture>
                </div>
                <div class="grid grid-columns-1 grid-row-gap-4 offset-inner">
                    <h3 class="no-offset">Anthony Horton</h3>
                    <p class="extra-text">Position</p>
                </div>
            </div>
            <div class="grid-col bordered">
                <div class="picture__wrapper">
                    <picture>
                        <source media="(max-width: 640px)" srcset="/img/no_image-200--offsets.svg" type="image/svg+xml">
                        <img class="full-cover cover-img bordered-img-on-top" src="/img/no_image-200--v-offsets.svg" alt="No Image">
                    </picture>
                </div>
                <div class="grid grid-columns-1 grid-row-gap-4 offset-inner">
                    <h3 class="no-offset">Austin Clarke</h3>
                    <p class="extra-text">Position</p>
                </div>
            </div>
            <div class="grid-col bordered">
                <div class="picture__wrapper">
                    <picture>
                        <source media="(max-width: 640px)" srcset="/img/no_image-200--offsets.svg" type="image/svg+xml">
                        <img class="full-cover cover-img bordered-img-on-top" src="/img/no_image-200--v-offsets.svg" alt="No Image">
                    </picture>
                </div>
                <div class="grid grid-columns-1 grid-row-gap-4 offset-inner">
                    <h3 class="no-offset">Leroy White</h3>
                    <p class="extra-text">Position</p>
                </div>
            </div>
        </div>
    </div>
</div>
