<div class="two-columns-image-and-text-team">
    <div class="grid">
        <div class="grid-col-12 grid grid-columns-1 grid-row-gap-8">
            <h2>Our Leadership Team</h2>
            <p>HDMI, or high definition multimedia interface, is a type of audio and video interface that is used for the transmission of uncompressed digital streams. Essentially, HDMI can be considered an alternative method to transmitting data streams, rather than making use of conventional methods such as coaxial cabling, VGA, or component video equipment</p>
        </div>
        <div class="grid-col-12 grid grid-images-team">
            <div class="grid-col-6 grid-col-tablet-12 grid grid-double-column">
                <div class="grid-col grid-col-picture">
                    <div class="picture__wrapper">
                        <picture>
                            <source media="(max-width: 640px)" srcset="/img/no_image-200--offsets.svg" type="image/svg+xml">
                            <img class="full-cover cover-img rounded grid-img" src="/img/no_image-200--offsets.svg" alt="No Image">
                        </picture>
                    </div>
                </div>

                <div class="grid-col grid grid-columns-1 grid-row-gap-4 grid-col-author">
                    <h3 class="no-offset">Employee Name</h3>
                    <p class="extra-text">Position</p>
                </div>
                <div class="grid-col grid-col-text">
                    <p class="extra-text-dark">Audio player software is used to play back sound recordings in one of the many formats available for computers today. It can also play back music CDs. There is audio player software that is native to the computer’s operating system (Windows, Macintosh, and Linux) and there are web-based audio players. </p>
                </div>
            </div>
            <div class="grid-col-6 grid-col-tablet-12 grid grid-double-column">
                <div class="grid-col grid-col-picture">
                    <div class="picture__wrapper">
                        <picture>
                            <source media="(max-width: 640px)" srcset="/img/no_image-200--offsets.svg" type="image/svg+xml">
                            <img class="full-cover cover-img rounded grid-img" src="/img/no_image-200--offsets.svg" alt="No Image">
                        </picture>
                    </div>
                </div>

                <div class="grid-col grid grid-columns-1 grid-row-gap-4 grid-col-author">
                    <h3 class="no-offset">Employee Name</h3>
                    <p class="extra-text">Position</p>
                </div>
                <div class="grid-col grid-col-text">
                    <p class="extra-text-dark">Audio player software is used to play back sound recordings in one of the many formats available for computers today. It can also play back music CDs. There is audio player software that is native to the computer’s operating system (Windows, Macintosh, and Linux) and there are web-based audio players. </p>
                </div>
            </div>
        </div>
    </div>
</div>
