/*Filter Widget*/
.filter-widget {
  margin: 0 0 1.5rem;
  position: relative;
}

.filter-widget__container {
  margin: 0 0 1rem;

  &.filter-widget__container_abs-clear {
    padding: 0 12rem 0 0;
    margin: 0 0 0 -.5rem;
  }
}

.filter-widget__item {
  margin: 0 0 1rem 1rem;
  cursor: pointer;
}

.filter-widget__clear-link {
  &:focus {
    outline: 0;
  }

  span {
    text-decoration: underline;
  }

  [class^="cf-"] {
    font-size: 1.6rem;
  }

  &.btn_mode {
    text-decoration: none;

    span {
      text-decoration: none;
    }

    &:hover, &:focus, &:active {
      text-decoration: none;
    }
  }

  &.abs {
    position: absolute;

    &.abs_right_top {
      top: .5rem;
      right: .5rem;
    }

    &.abs_left_top {
      top: .5rem;
      left: .5rem;
    }
  }
}
