.notification-flash {
  margin-bottom: -2rem;
  &:empty {
    display: none;
    margin-bottom: 0;
  }

  .notification.notification_lg  {
    padding-left: 48px;
    padding-right: 48px;
    margin-left: 15px;
    margin-right: 15px;
    width: auto;
    line-height: 2rem;
  }

  .badge {
    position: absolute;
    top: 15px;
    left: 15px;
  }

  .cf-clear {
    cursor: pointer;
    position: absolute;
    top: 14px;
    right: 8px;
    font-size: 24px;
  }
}
.notification {
  &.notification_success {
    background: @theme-notice-bg-color;
    color: @theme-notice-bfontcolor;
  }

  &.notification_notice {
    background: @theme-notice-bg-color;
    color: @theme-notice-font-color;
  }

  &.notification_alert {
    background: @theme-alert-bg-color;
    color: @theme-alert-font-color;
  }

  &.notification_warning {
    background: @theme-alert-bg-color;
    color: @theme-alert-font-color;
  }

  &.notification_error {
    background: @theme-error-bg-color;
    color: @theme-error-font-color;
  }

  &.notification_info {
    background: @theme-notice-bg-color;
    color: @theme-notice-font-color;
  }

  &.notification_xsm {
    padding: 0 1rem;
    line-height: 2.4rem;
    min-height: 2.4rem;
    font-size: 1.3rem;

    .badge {
      margin-bottom: .3rem;
    }
  }

  &.notification_sm {
    padding: .5rem 1rem;
    min-height: 3rem;

    [class^="cf-"] {
      font-size: 2rem;
      vertical-align: middle;
    }
  } 

  &.notification_md {
    padding: .7rem 1rem;
    min-height: 3.4rem;

    [class^="cf-"] {
      font-size: 2rem;
      vertical-align: middle;
    }
  }

  &.notification_xmd {
    padding: 2rem 1.5rem;
    min-height: 4rem;

    [class^="cf-"] {
      font-size: 2rem;
      vertical-align: middle;
    }

    @media (max-width: 991px) {
      margin: -1rem -1.5rem 1rem;
    }
  }

  &.notification_lg {
    position: relative;
    width: 100%;
    z-index: 101;
    min-height: 5rem;
    line-height: 3rem;
  }

  &.notification-radiused {
    .radiused(.3rem);
  }

  &.notification_in-order {

    @media (max-width: 991px) {
      margin: -1rem -1.5rem 1rem;
    }
  }

  > ul {
    .list-normalize;
  }
}

.notification__relative-container {
  position: relative;
  padding: 0 2rem;
}

.notification__sign {
  vertical-align: middle;

  &.notification__sign_abs {
    position: absolute;
    top: 50%;
    left: 0;

    &.notification__sign_error {
      margin-top: -1.6rem;
    }

    &.notification__sign_notice {
      margin-top: -1.6rem;
    }

    &.notification__sign_alert {
      margin-top: -1.3rem;
    }
  }
}

.notification__additional-content {
  padding-left: 3rem;  
  color: @base-font-color;
}


/*Messages*/
.input-errors-list {
  .list-normalize;

  li {
    margin: .5rem 0 0;
  }
}

.error-message {
  font-size: 1.3rem;
  line-height: 1.3rem;
  color: @theme-input-error;

  ul {
    .list-normalize;

    li {
      margin-bottom: .5rem;
    }
  }
}
