/*Product description widget*/
.product__description-container {

  &:before, &:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
  }

  @media (max-width: 991px) {
    margin: 1.5rem 0 0;
  }

  &.product__description-container_lg {
    width: calc(~'100% - @{gallery-width_lg} - @{gallery-description-gutter_lg}');
    margin-left: @gallery-description-gutter_lg;

    @media (max-width:991px) {
       margin-left: 0; 
       width: 100%;
    }
  }

  &.product__description-container_md {
    width: calc(~'100% - @{gallery-width_md} - @{gallery-description-gutter_md}');
    margin-left: @gallery-description-gutter_md;

    @media (min-width:992px) and (max-width:1199px) {
       margin-left: @gallery-description-gutter_md - 1rem;
    }

    @media (max-width:991px) {
       margin-left: 0; 
       width: 100%;
    }
  }

  &.product__description-container_m-sm {
    width: calc(~'100% - @{gallery-width_m-sm} - @{gallery-description-gutter_sm}');
    margin-left: @gallery-description-gutter_sm;

    @media (max-width:991px) {
       margin-left: 0; 
       width: 100%;
    }
  }

  &.product__description-container_sm {
    width: calc(~'100% - @{gallery-width_sm} - @{gallery-description-gutter_sm}');
    margin-left: @gallery-description-gutter_sm;

    @media (max-width:991px) {
       margin-left: 0; 
       width: 100%;
    }
  }

  &.product__description-container_l_floated {
    float: left;
    position: relative;
    z-index: 2;
  }

  &.product__description-container_r_floated {
    float: right;
  }
}

.product__specification-container {
  width: @product-specification-container-width;

  @media (min-width:992px) and (max-width:1199px) {
    width: @product-specification-container-width - .5rem;
  }

  @media (max-width:767px) {
    width: 100%;
  }

  &.product__specification-container_l_floated {
    float: left;
    position: relative;
    z-index: 2;

    @media (max-width:767px) {
      float: none;
    }
  }

  .line_item_form_product_view {
    .line_item_form_fields__form__row {
      padding-bottom: 1.3rem;
      label {
        padding-bottom: 0.4rem;
      }
    }

    .pinned-dropdown {
      width: 100%;
      .btn-block,
      .btn-group {
        width: 100%;
        max-width: inherit;
      }
    }
  }
}

.product__title-container {
  margin: 0 0 2rem;

  &.product__title-container_no-image {
    margin: 0;
    float: left;
    width: @gallery-width_sm;

    @media (max-width: 991px) {
      float: none;
      width: 100%;
    }
  }
}

.product-title,
.cart-title {
  &.product-title_mobile {
    display: none;
  
    @media (max-width: 991px) {
      display: block;
      margin: 0 0 1rem;
    }
  }

  &.cart-title_mobile {
    display: none;

    @media (max-width: 991px) {
      display: block;
      margin: 0 0 2rem;
    }
  }
}

.product__matrix {
  background: @base-sidebar-background-color-light;
  margin: 0 0 2rem;
  padding: 1rem 0;
  text-align: center;
  font-size: 1.3rem;
  max-width: 20.5rem;
  .bordered(.1rem, solid, @base-border-color);  
  .radiused(.5rem);
  .ellipsis();
}

.product__matrix__link {
  .ellipsis();

  &:hover {
    text-decoration: none;

    span {
      text-decoration: underline;  
    }
  }

  &:visited, &:focus {
    text-decoration: none;
    outline: 0;
  }

  i {
    vertical-align: middle;
    text-decoration: none;
  }

  .cf-list {
    font-size: 1.6rem;
    margin: 0;
  }

  span {
    vertical-align: middle;  
  }
}

.product__colors {
  margin: 0 0 2rem;
  
  label {
    display: block;
    margin: 0 0 .8rem;
  }

  @media (max-width: 991px) {
    .ellipsis();
  }
}

.product__colors__more-info {
  margin-left: 4rem;
  font-size: 1.3rem;

  [class^="cf-"] {
    font-size: 18px;
    vertical-align: top;
  }

  &.fs14 {
    font-size: 1.4rem;
  }
}

.product__colors__item {
  .radiused(.3rem);
  cursor: pointer;
  margin: 0 .2rem 0 0;

  input {
    display: none;
  }

  &.color-item_red {
    background: @product-color-red;
  }

  &.color-item_blue {
    background: @product-color-blue;
  }

  &.color-item_purple {
    background: @product-color-purple;
  }

  &.color-item_green {
    background: @product-color-green;
  }

  &.color-item_light-green {
    background: @product-color-green-light;
  }

  &.color-item_gray {
    background: @products-color-gray;
  }
}

.product__colors__item__text {
  margin-left: 1rem;

  &.wsnr {
    .ellipsis;
  }
}

.product__qty-input_more-info__popup {
  display: none;
  position: absolute;
  bottom: -2rem;
  left: 50%;
  margin-left: -7.5rem;
  z-index: 5;
  background: #fff;
  width: 15rem;
  box-sizing: border-box;
  .radiused(.5rem);
  padding: 1.5rem 1.5rem 2rem;
  box-shadow: .1rem .1rem 1rem 0 rgba(0,0,0,.3);

  table {
    width: 100%;
    margin: 0 0 4.5rem;

    > thead > tr > td {
      border-bottom: .1rem solid @base-border-color;
    }

    > thead > tr > td,
    > tbody > tr > td {
      padding: .5rem;
      text-align: center;
    }
  }
}

.form-field-quantity {
  input[type="text"].input_block,
  input[type="number"].input_block {
    width: 7rem !important;
  }
}
.product__qty-input {
  margin: 0 0 2rem;
  max-width: 6rem;
  min-width: 6rem;

  &.product__qty-input_inline {
    display: inline-block;
  }

  &.product__qty-input_more-info {
    position: relative;

    &:hover {
      .product__qty-input__count-option {
        z-index: 6;
        border: .1rem solid @base-active-border-color;
      
        .count-minus,
        .count-plus {
          display: block;
        }

        input[type="number"] {
          .radiused(0);
        }
      }

      .product__qty-input_more-info__popup {
        display: block;
      }
    }

    .product__qty-input__count-option {
      border: .1rem solid transparent;
      position: relative; 

      input[type="number"] {
        vertical-align: middle;
        -moz-appearance: textfield;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          margin: 0; 
        }
      }

      .count-minus,
      .count-plus {
        display: none;
        position: absolute;
        top: -.1rem;
        width: 2.1rem;
        height: 3.9rem;
        padding: 0;
        box-shadow: none;
        border: 0;
        text-align: center;
        background: @base-sidebar-background-color-light;
        border: .1rem solid @base-active-border-color;
      }

      .count-minus {
        left: -2.1rem;
        border-right: 0;
        border-top-left-radius: .5rem;
        border-bottom-left-radius: .5rem;
      }

      .count-plus {
        right: -2.1rem;
        border-left: 0;
        border-top-right-radius: .5rem;
        border-bottom-right-radius: .5rem;
      }
    }
  }

  label {
    display: block;
    margin: 0 0 .8rem;

    &.wsnr {
      white-space: nowrap;
    }
  }

  input[type="text"],
  input[type="number"] {
    .input();

    &::-webkit-input-placeholder {
      color: @base-font-color-lightest;
    }

    &::-moz-placeholder {
      color: @base-font-color-lightest;
    }

    &:-moz-placeholder {
      color: @base-font-color-lightest;
    }

    &:-ms-input-placeholder {
      color: @base-font-color-lightest;
    }

    &:focus {
      border-color: @base-link-color;
      outline: 0;
      box-shadow: inset 0 .1rem .1rem rgba(0,0,0,.075), 0 0 .8rem rgba(102,175,233,.6);
    }
  }
}

.product__specification {
  margin: 0 0 2rem;
  max-width: 20.5rem;

  @media (max-width: 360px) {
    max-width: 100%;
  }
 
  &.product__specification_gallery-view {
    display: none;
  }

  &.product__specification_list-view {

    @media (max-width: 767px) {
      margin: 0;

      &.product__specification_delivery {
        display: none;
      }
    }
  }

  &.product__specification_no-image-view {
    margin-bottom: 1rem !important;

    @media (max-width: 767px) {
      margin: 0 !important;
    }
    
    &.product__specification_delivery {
      display: none;
    }
  }

  &.product__specification_no-image-view2 {
    float: left;
    width: 34%;
    max-width: 100%;
    padding-right: 3rem;
    margin: 0;
    
    &.product__specification_delivery {
      display: none
    }

    @media (max-width: 767px) {
      float: none;
      width: 100%;
      max-width: 20.5rem;
      padding: 0;
      margin: 0;
    }
  }
}

.product__qnty {
  background: @base-sidebar-background-color-light;
  margin: 0 0 2rem;  
  .bordered(.1rem, solid, @base-border-color);
  .radiused(.5rem);
  max-width: 20.5rem;

  .table {
    margin-bottom: .5rem;

    &.table_has-padding {
      > thead > tr > th,
      > tbody > tr > td {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }
    }

    > thead > tr > th {
      font-weight: 400;
      border-bottom-width: .1rem;
      padding: .9rem 0;
    }

    > tbody > tr > td {
      border: 0;
      padding: .4rem 0;
    }
  }
}

.product__description-content {
  width: calc(~'100% - @{product-specification-container-width}');

  @media (max-width: 767px) {
    width: 100%;
    margin-top: 2rem !important;
  }

  &.product__description-content_l_floated {
    float: left;
    margin: 0 0 1rem;
    position: relative;
    z-index: 2;

    @media (max-width: 767px) {
      float: none;
      z-index: 1;
    }
  }
}

.product__description {  

  &.product__description_gallery-view {
    display: none;
  }

  &.product__description_list-view {

    @media (max-width: 767px) {
      height: 4rem;
      overflow: hidden;
    }
  }

  &.product__description_no-image-view {
    display: none;
  }

  &.product__description_no-image-view2 {
    float: left;
    width: 66%;

    @media (max-width: 767px) {
      display: none;
    }
  }

  p {
    margin: 0 0 1.5rem;
  }
}

.product__features-list {
  margin: 1.5rem 0 2rem 1.5rem;
  padding: 0;
}

.product__docs {
  .list-normalize;
  margin: 0 0 2rem;

  li {
    margin: 0 0 .5rem;
  }
}

/*Product More Info Popup*/
.product-mi-widget-modal {
  padding-top: .1rem;
}

.product-mi-widget-popup {
  position: absolute;
  padding: 2rem;
  top: .5rem;
  left: 0;
  width: 70rem;
  background: #fff;
  .radiused(.5rem);
  z-index: 1;
  box-shadow: .1rem .1rem 1rem 0 rgba(0,0,0,.3);
}

.product-mi-widget {
  margin: 1.5rem 0 0;
}

.product-mi__sizes__title,
.product-mi__colors__title {
  font-size: 1.4rem;
}

.product-mi__sizes__badges,
.product-mi__colors__badges {
  margin: 1rem 0;
  font-size: 0;

  span {
    margin-right: .5rem;
  }
}

.product-mi__qty {
  margin: 1rem 0;
  padding: 1rem 0 0;
  border-top: .1rem solid @base-border-color;

  .table {
    > tbody > tr > td {
      border-top: 0;
      padding: .2rem .6rem;

      &:first-child {
        padding-left: 0;
      }
    }
  }
}

.done-btn {
  width: 8rem;
}
/*/Product More Info Popup*/
