/*Product Review Widget*/
.product-review-widget {

  &.product-review-widget__bmargin {
    margin-bottom: 2rem;
  }

  &.product-review-widget__inline {
  	display: inline-block;
  }
}

.product-review__count {
  font-size: 1.2rem;
  margin: 0 .5rem 0 .2rem;
}

.product-review__add-link {
  font-size: 1.3rem;
}
