{% extends 'OroB2BRFPBundle::base.html.twig' %}

{% block content %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="form">
        {{ form(form) }}
    </div>
{% endblock content %}