{% extends 'OroUIBundle:actions:view.html.twig' %}

{% oro_title_set({params : {"%title%": entity.email }}) %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity': entity,
        'indexPath': path('orob2b_rfp_request_index'),
        'indexLabel': 'orob2b.rfp.request.entity_plural_label'|trans,
        'entityTitle': entity.email|default('N/A'|trans)
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    {% set requestInfo %}
        {{ oro_widget_render({
            'widgetType': 'block',
            'url': path('orob2b_rfp_request_info', {id: entity.id}),
            'alias': 'request-info-widget'
        }) }}
    {% endset %}

    {% set requestContent %}
        <div class="row-fluid form-horizontal">
            <div class="responsive-block">
                {{ entity.body }}
            </div>
        </div>
    {% endset %}

    {% set dataBlocks = [
        {
            'title': 'orob2b.rfp.sections.general'|trans,
            'class': 'active',
            'subblocks': [{'data' : [requestInfo]}]
        },
        {
            'title': 'orob2b.rfp.sections.body'|trans,
            'class': 'active',
            'subblocks': [{'data' : [requestContent]}]
        }
    ] %}

    {% set id = 'pageView' %}
    {% set data = {'dataBlocks': dataBlocks} %}

    {{ parent() }}
{% endblock content_data %}
