/* @theme: admin.oro; */

/* stylelint-disable scss/dollar-variable-pattern */

@import '../../../fonts/grapsejs/variables';

$app-prefix: 'gjs-';
$sm-prefix: $app-prefix + 'sm-';
$clm-prefix: $app-prefix + 'clm-';

$loading-mask-prefix: $app-prefix;

// Palette variables
$primaryColor: $primary-inverse;
$secondaryColor: $primary-100;
$tertiaryColor: $primary-830;
$quaternaryColor: $primary-400;

$colorWarn: $secondary;
$fontColor: $primary-400;
$fontPath: '~grapesjs/src/styles/fonts';
$mainLhlColor: $primary-400;
$colorBlue: $secondary;

$mainLhColor: $secondary;

$button-bg-color: $primary-830;
$button-bg-shadow: inset 0 2px 3px 2px rgba(0 0 0 / 21%);

$canvas-bg-color: $primary-inverse;
$canvas-box-shadow: 0 0 0 2px $primary-750 inset;
$canvas-border: 2px solid $primary-750;
$canvas-pattern: linear-gradient(45deg, $primary-900 25%, transparent 25%),
    linear-gradient(-45deg, $primary-900 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, $primary-900 75%),
    linear-gradient(-45deg, transparent 75%, $primary-900 75%) !default;
$canvas-pattern-size: 20px 20px !default;
$canvas-pattern-position: 0 0, 0 10px, 10px -10px, -10px 0 !default;

$leftWidth: 23%;

$mainFont: $font-family-sans-serif;
$fontSizeS: $base-font-size;

$paddElClm: 3px 5px;

$colorYell: $extra;

$grapesjs-content-editor-offset: 24px !default;
$grapesjs-content-editor-fullscreen-offset: 8px !default;
$grapesjs-content-editor-fullscreen-z-index: $loading-mask-z-index !default;

$grapesjs-scrollbar-track-background: rgba($primary, .1) !default;
$grapesjs-scrollbar-thumb-background: rgba($primary, .4) !default;

$grapejs-shadow: 1px 1px 9px 3px rgba(0 0 0 / 8%) !default;
$grapejs-radio-shadow: inset 0 2px 3px 2px rgba(0 0 0 / 21%) !default;

$codemirror-scrollbar-track-background: rgba($primary-inverse, .1) !default;
$codemirror-scrollbar-thumb-background: rgba($primary-inverse, .4) !default;
$codemirror-selected-background: rgba($primary-inverse, .5) !default;
