{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ UI.renderProperty('orob2b.pricing.pricelist.name.label'|trans, entity.name) }}

            {% if entity.currencies %}
                {% set currencies = [] %}
                {% for currency in entity.currencies %}
                    {% set currencies = currencies|merge([currency|oro_localized_currency_name]) %}
                {% endfor %}
                {{ UI.renderHtmlProperty('orob2b.pricing.pricelist.currencies.label'|trans, UI.renderList(currencies)) }}
            {% endif %}
        </div>
    </div>
</div>
