{% block _header_row_account_widget %}
    <div class="header-row__container hidden-on-desktop">
        <a href="{{ path(route_name) }}" class="header-row__trigger">
            <span class="badge badge_md badge_circle badge_dark"><i class="icon-user"></i></span>
        </a>
    </div>
{% endblock %}
