<div class="order-checkout-widget__container order-checkout-widget__container_lg">
    <div class="totals-container">
        {% block totals_frontend_entity_view_page_template %}
            <table class="order-checkout-widget__table pull-right" >
                <tbody>
                {% if totals and totals.subtotals is defined %}
                    {% for subtotal in totals.subtotals %}
                        {% if subtotal.visible  %}
                        <tr>
                            <td>{{ subtotal.label }}</td>
                            <td>{{ subtotal.amount|oro_format_currency({
                                    'currency' : subtotal.currency
                                }) }}
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                {% if totals and totals.total is defined %}
                    <tr>
                        <td class="order-checkout-widget__total">
                            <span class="text-uppercase">{{ totals.total.label }}</span>
                        </td>
                        <td class="order-checkout-widget__total">
                            <span class="blue">
                                {{ totals.total.amount|oro_format_currency({
                                    'currency' : totals.total.currency
                                }) }}
                            </span>
                        </td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        {% endblock %}
    </div>
</div>
