<script type="text/template" class="frontend-totals-template" id="frontend-totals-template">
    {% block totals_forntend_entity_edit_page_template %}
        <table class="order-checkout-widget__table pull-right" >
            <tbody>
            <% if (totals && 'subtotals' in totals) { %>
                <% _.each(totals.subtotals, function(subtotal) { %>
                    <% if (subtotal.visible) { %>
                        <tr>
                            <td><%= subtotal.label %></td>
                            <td><%= subtotal.formattedAmount %></td>
                        </tr>
                    <% } %>
                <% }); %>
            <% } %>

            <% if (totals && 'total' in totals) { %>
                <tr>
                    <td class="order-checkout-widget__total">
                        <span class="text-uppercase"><%= totals.total.label %></span>
                    </td>
                    <td class="order-checkout-widget__total">
                        <span class="blue"><%= totals.total.formattedAmount %></span>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    {% endblock %}
</script>

<div class="order-checkout-widget__container order-checkout-widget__container_lg"
    data-page-component-module="orob2bpricing/js/app/components/totals-component"
    data-page-component-options="{{ options|json_encode }}">
    <div class="totals-container"></div>
</div>
