.product-price-collection input[type="text"].quantity,
.product-price-collection input[type="text"].price-value,
.product-price-collection .entity-create-or-select-container {
    margin-left: 4px;
    width: 280px;
}

.product-price-collection .select2-container {
    float: left;
}

.product-price-collection .entity-select-btn {
    float: right;
}

.product-price-collection .oro-multiselect-holder {
    padding-left: 10px;
}

.product-price-collection .entity-create-or-select-container {
    margin-left: 4px;
    width: 293px;
}

.product-container .product-index-content.product-sidebar-maximized {
    margin-left: 335px;
}

.product-container .product-index-content.product-sidebar-minimized {
    margin-left: 45px;
}

.product-container .product-sidebar {
    position: absolute;
    padding-left: 20px;
}

.product-container .product-sidebar .control-maximize,
.product-container .product-sidebar .control-minimize
{
    cursor: pointer;
}

.product-container .show-tier-prices-choice label {
    float: left;
}

.product-container .show-tier-prices-choice label {
    float: left;
}

.product-container .show-tier-prices-choice input {
    margin: 0 10px !important;
}

.product-sidebar .sidebar-content {
    width: 293px;
}

.product-sidebar .sidebar-controls,
.product-sidebar .sidebar-controls i {
    float: right;
}

.product-container .grid-container .product-price-unit-with-margin {
    margin-top: 5px !important;
}

.product-price-filter .value-field-frame {
    margin-right: 0px !important;
}

.product-price-filter .value-field-frame input[type=text]  {
    width: 100px !important;
    border-right-width: 1px !important;
}

.product-price-filter .product-price-unit-filter {
    margin-bottom: 0px;
}

.product-price-filter .product-price-unit-filter,
.product-price-filter .choice-filter{
    display: inline-block;
    width: auto;
}
