.product-price-collection input[type="text"].quantity,
.product-price-collection input[type="text"].price-value,
.product-price-collection .entity-create-or-select-container {
    margin-left: 4px;
    width: 280px;
}

.product-price-collection .select2-container {
    float: left;
}

.product-price-collection .entity-select-btn {
    float: right;
}

.product-price-collection .oro-multiselect-holder {
    padding-left: 10px;
}

.product-price-collection .entity-create-or-select-container {
    margin-left: 4px;
    width: 293px;
}

.product-container .product-index-content {
    margin-left: 335px;
}

.product-container .product-sidebar {
    position: absolute;
    padding-left: 20px;
}

.product-container .tier-price-choice label {
    float: left;
}

.product-container .tier-price-choice label {
    float: left;
}

.product-container .tier-price-choice input {
    margin: 0 10px !important;
}
