// @theme: default

.shopping-lists-modify {
    margin: 0 -16px 0 -10px;
    padding: 0;

    white-space: nowrap;

    &__text,
    &__select,
    &__badges {
        display: inline-block;

        vertical-align: middle;
    }

    &__badges {
        position: absolute;
        top: 50%;
        right: 10px;

        transform: translateY(-50%);
    }

    &__text {
        margin-right: 4px;
    }

    &__input {
        width: 50px;
        padding: 7px 9px;
    }

    &__select {
        min-width: 66px;
    }

    &__edit,
    &__remove {
        margin-left: 4px;
    }

    &__edit {
        display: inline-block;
        vertical-align: middle;
    }

    &__button {
        display: inline-block;
        padding: 0;

        border: 0;
        background: transparent;
        color: get-color('additiolal', 'ultra');

        @include badge($badge-size: 26px, $badge-f-size: 14px, $badge-radius: 3px);

        &.reset {
            background-color: get-color('additional', 'dark');
        }

        &[disabled] {
            opacity: .5;
        }
    }

    &--hidden {
        display: none;
    }
}
