// @theme: blank;

.breadcrumbs {
    margin-top: 10px;

    font-size: 12px;

    color: get-color('additional', 'dark');;

    &__item,
    &__link,
    a,
    a:hover {
        color: get-color('additional', 'dark');;
    }
}
