/* @theme: default; */

$grid-line-item-link-line-height: 1.539 !default;
$grid-line-items-row-offset-x: spacing('base') !default;
$grid-line-items-line-height: $grid-line-item-link-line-height !default;
$grid-line-items-word-break: break-word !default;
$grid-line-items-title-font-size: $base-font-size--s !default;
$grid-line-items-title-font-w: font-weight('semi-bold') !default;

$grid-line-items-link-color: get-color('text', 'primary') !default;
$grid-line-items-link-color-hover: get-var-color('text', 'link-hover') !default;
$grid-line-item-link-align-items: center !default;
// Accessibility: minimum sufficient size to activate a link
$grid-line-item-link-min-height: 24px !default;

$grid-line-item-link-font-size: $base-font-size--s !default;

$grid-line-items-errors-color: get-color('destructive', 'dark') !default;
$grid-line-items-warnings-color: get-color('warning', 'dark') !default;

$grid-line-separator-height: 14px !default;
$grid-line-separator-offset: 0 8px !default;
$grid-line-separator-background: get-color('neutral', 'grey2') !default;

$grid-line-field-label-color: get-var-color('text', 'secondary') !default;
$grid-line-field-label-offset: spacing('xs') !default;

// Tablet
$grid-line-items-container-gap-tablet: 0 spacing('sm') !default;
$grid-line-items-configuration-gap-tablet: spacing('xs') 0 !default;

// Mobile
$grid-line-items-row-offset-x-mobile: spacing('sm') !default;
