/* @theme: default; */

$responsive-shopping-view-body-cell-border-mobile: 1px solid get-color('additional', 'light') !default;
$responsive-shopping-view-body-cell-last-offset-mobile: 14px !default;
$responsive-shopping-view-body-cell-item-offset-mobile: 16px !default;
