/* @theme: default; */
$responsive-shopping-list-layout-background: get-color('neutral', 'grey1') !default;
$responsive-shopping-cell-desktop-offset: 27.5px !default;
$responsive-shopping-action-cell-desktop-offset: spacing('sm') !default;
$responsive-shopping-sub-cell-desktop-offset: 27.5px !default;
// Manually calculated a half of cells' height
$responsive-shopping-cell-half-height: 22px !default;

$responsive-shopping-list-notification-container-offset: 0 !default;
$responsive-shopping-list-extension-row-top-offset: 0 !default;
$responsive-shopping-list-extension-row-bottom-offset: spacing('base') !default;
$responsive-shopping-sub-row-border-width: 12px !default;
$responsive-shopping-sub-row-border-offset: $responsive-shopping-sub-row-border-width
    solid get-color('neutral', 'white-100') !default;
$responsive-shopping-row-color-hover: rgba(get-color('primary', 'light'), .5) !default;

$responsive-shopping-sub-row-cell-inner-offset: 16px !default;
$responsive-shopping-sub-row-cell-desktop-inner-offset: $datagrid-body-cell-offset * .5 !default;

$responsive-shopping-grid-body-cell-sku-width: 114px !default;
$responsive-shopping-grid-body-cell-inventory-width: 150px !default;
$responsive-shopping-grid-body-cell-inventory-level-max-width: 200px !default;
$responsive-shopping-grid-body-cell-item-width: 604px !default;
$responsive-shopping-grid-quantity-unit-color: get-var-color('text', 'secondary') !default;

$responsive-shopping-grid-price-offset: 24px !default;

$responsive-shopping-page-sidebar: 280px !default;

// Desktop
$responsive-shopping-cell-line-size-desktop: $responsive-shopping-cell-desktop-offset
    + ($base-font-size / 2) - 1 !default;

$responsive-shopping-expand-btn-in-select-row-margin-left: spacing('xmd') !default;
$responsive-shopping-expand-btn-in-select-row-margin-top: -6px !default;

// Tablet
$responsive-shopping-body-cell-offset-y-tablet: 27.5px !default;
$responsive-shopping-subrow-body-cell-offset-y-tablet: 24px !default;

// Mobile
$responsive-shopping-body-cell-offset-y-mobile: 0 !default;
$responsive-shopping-body-cell-offset-x-mobile: spacing('base') !default;
$responsive-shopping-grid-row-offset-mobile: spacing('lg') !default;
$responsive-shopping-grid-row-offset-bottom-mobile: 20px !default;
$responsive-shopping-sub-row-offset-top-mobile: spacing('lg') !default;
$responsive-shopping-sub-row-offset-bottom-mobile: spacing('lg') !default;
$responsive-shopping-sub-row-border-mobile-color: get-color('neutral', 'grey3') !default;
$responsive-shopping-sub-row-border-mobile: 1px solid $responsive-shopping-sub-row-border-mobile-color !default;
$responsive-shopping-grid-row-border-mobile: 1px solid $responsive-shopping-sub-row-border-mobile-color;
$responsive-shopping-header-row-border-mobile: 1px solid $responsive-shopping-sub-row-border-mobile-color !default;
$responsive-shopping-grid-label-in-mobile-color: $grid-line-field-label-color !default;
$responsive-shopping-extension-row-error-offset-mobile: 0 !default;
$responsive-shopping-extension-row-offset-top-mobile: $responsive-shopping-body-cell-offset-y-mobile !default;
$responsive-shopping-extension-row-offset-bottom-mobile: 0 !default;
$responsive-shopping-extension-sub-row-offset-top-mobile: 0 !default;

$responsive-shopping-body-cell-offset-mobile: $responsive-shopping-body-cell-offset-y-mobile
    $responsive-shopping-body-cell-offset-x-mobile !default;

$responsive-shopping-grid-line-items-offset: 16px !default;
