/* @theme: default; */

$responsive-shopping-list-grid-dialog-mode-border: 1px solid get-color('neutral', 'grey2') !default;
$responsive-shopping-list-grid-dialog-mode-row-selected-bg-color: get-color('primary', 'light') !default;
$responsive-shopping-list-grid-dialog-mode-toolbar-separator-border: 1px solid get-color('neutral', 'grey2') !default;

$responsive-shopping-list-grid-dialog-mode-cell-color: get-color('text', 'secondary') !default;
