/* @theme: default; */

$responsive-shopping-view-body-cell-border-mobile: 1px solid get-color('neutral', 'grey1') !default;
$responsive-shopping-view-body-cell-last-offset-mobile: spacing('base') !default;
$responsive-shopping-view-body-cell-item-offset-mobile: spacing('base') !default;

$responsive-shopping-grid-has-grouped-body-cell-sku-width: 146px !default;
$responsive-shopping-view-has-grouped-body-cell-sku-left-inner-offset: spacing('xxxl') !default;
