<div class="oro-discount-collection grid-container oro-collection-table">
    {% include 'OroOrderBundle:Discount:order_discount_collection.html.twig' with {collection: entity.discounts, editable: false} %}
</div>
