<div class="oro-discount-collection grid-container oro-collection-table">
    {% include '@OroOrder/Discount/order_discount_collection.html.twig' with {collection: entity.discounts, editable: false} %}
</div>
