@import "oroui/css/less/variables";

.form-horizontal {
  .control-group {
    .shipping-origin-address {
      margin: 0 !important;
    }

    .control-label.wrap {
      width: 100%;
      float: left;
      text-align: left;
    }
  }
}

