.shopping-lists-popup {
    width: 100%;

    font-family: 'Lato', 'Helvetica', Arial, sans-serif;

    &__item {
        border-bottom: 1px solid #ebebeb;
    }

    &__list,
    &__quantity {
        padding: 17px 16px;
    }

    &__list {
        width: 54%;
    }

    &__quantity {
        width: 46%;
    }

    &__headline {
        background: #f7f7f7;
    }

    &__headline &__item {
        border: 0;
    }

    &__headline &__list,
    &__headline &__quantity {
        padding: 7px 16px;

        font-weight: normal;
    }

    &__units {
        display: block;
        margin-top: 8px;
    }

    &__units:first-child {
        display: block;
        margin-top: 0;
    }

    &__separate {
        margin: 0 3px;
    }

    &__cancel {
        padding: 15px 0;
        text-align: right;
    }
}
