<td colspan="6">
    <table class="additional-srcset-collection-list table sub-table">
        <thead>
            <tr>
                <th colspan="4"><%- _.__('oro.cms.wysiwyg.dialog.picture_settings.hi_res_assets') %></th>
            </tr>
        </thead>
        <tbody data-role="list"></tbody>
        <tfoot>
            <tr>
                <td colspan="4" class="srcset-controls" data-role="srcset-controls">
                    <button class="btn btn-primary btn-icon btn-icon-sm" data-role="add-srcset" data-toggle="tooltip" data-title="<%- _.__('oro.cms.wysiwyg.dialog.picture_settings.add_hi_res_assets_hint') %>"><span class="fa fa-plus"></span></button>
                </td>
            </tr>
        </tfoot>
    </table>
</td>

