// @theme: default;

.address-list {
    margin-left: 35px;

    &__item {
        padding-right: 50px;
    }

    &__primary {
        margin: 5px 0 0;

        font-size: $base-font-size--s - 1;
    }

    &__adress {
        line-height: 1.6;
    }

    &__type {
        margin-top: 4px;

        font-size: $base-font-size--s;

        color: lighten(get-color('additional', 'dark'), 20%);
    }

    &__actions {
        font-size: 0;

        white-space: nowrap;
    }

    &__button {
        font-size: $base-font-size;

        cursor: pointer;

        color: get-color('additional', 'middle');
        // reset default styles
        border: 0;
        border-radius: 0;
        background: transparent;

        &.item-map-button {
            border-right: none;
        }

        // override icon right margin
        [class^='cf-'],
        [class*=' cf-'],
        [class^='fa-'],
        [class*=' fa-'] {
            margin-right: 0;
        }

        &:not(:last-child) {
            border-right: 1px solid get-color('additional', 'middle');
        }

        &:hover {
            text-decoration: inherit;

            color: get-color('ui', 'normal');
        }
    }
}

@include breakpoint('tablet-small') {
    .address-list {
        margin-left: 0;
    }
}
