{% block shopping_list_selector_widget %}
    {% if shoppingLists %}
        <div class="orders-sidebar mt3-md">
            <!-- START ORDERS SORTING -->
            {#<div class="orders-sidebar__sorting">#}
                {#<span class="va-m_md">{{ 'orob2b.frontend.shoppinglist.selector.sort_by.label'|trans }}</span>#}
                {#<div class="product__select ml1-md va-m_md">#}
                    {#<select class="input input_sm input_block">#}
                        {#<option value="updated">{{ 'orob2b.frontend.shoppinglist.selector.last_updated.label'|trans }}</option>#}
                    {#</select>#}
                {#</div>#}
            {#</div>#}
            <!-- END ORDERS SORTING -->
        </div>
    {% endif %}
{% endblock %}
