/* @theme: default; */

$promo-slider-min-height: 100px !default;
$promo-slider-margin: 0 !default;
$promo-slider-content-gap: spacing('lg') !default;
$promo-slider-content-width: 55% !default;
$promo-slider-content-width-center: 38% !default;
$promo-slider-content-side-position: var(--promo-slider-info-side-position, #{spacing('huge')}) !default;
$promo-slider-info-text-font-size: 20px !default;
$promo-slider-info-text-line-height: 1.4 !default;

$promo-slider-info-header-font-size: 60px !default;
$promo-slider-info-header-line-height: 1.2 !default;

$promo-slider-text-gap: spacing('md') !default;

$promo-slider-border-radius: 12px !default;

$promo-slider-dots-list-height: 44px !default;

$promo-slider-skeleton-width: 280px !default;
$promo-slider-skeleton-height: 6px !default;

$promo-slider-dots-padding: 0 spacing('base') !default;
$promo-slider-arrow-height: 28px !default;

$promo-slider-arrow-background: get-color('neutral', 'grey1') !default;
$promo-slider-arrow-hover-background: get-color('neutral', 'grey3') !default;
$promo-slider-arrow-border-radius: 100px !default;

// Tablet
$promo-slider-content-side-position-tablet: spacing('xxxl') !default;
$promo-slider-header-font-size-tablet: 48px !default;

// Mobile

$promo-slider-content-gap-mobile: spacing('md') !default;

$promo-slider-info-width-mobile: 100% !default;
$promo-slider-info-text-line-height-mobile: $base-line-height !default;
$promo-slider-info-text-font-size-mobile: $root-font-size !default;

$promo-slider-info-heading-font-size-mobile: 32px !default;
$promo-slider-info-heading-line-height-mobile: 1.25 !default;

$promo-slider-info-offset-mobile: spacing('sm') !default;
$promo-slider-text-gap-mobile: spacing('sm') !default;

$promo-slider-navigation-holder-offset-mobile: spacing('sm') !default;
