.page-content-editor {
  .mce-tinymce {
    width: 100%;
  }
}

.sub-item {
  padding-left: 15px;
}

.without-markers {
  list-style: none;
  margin: auto;
}

.frontend-page-container {
  padding: 0 20px;
}
