@name = account_user_reset_password
@entityName = Oro\Bundle\CustomerBundle\Entity\AccountUser
@subject = Reset Account User Password
@isSystem = 1
@isEditable = 1

<h1>Hello, {{ entity.username }}!</h1>

<p>To reset your password - please visit
    <a href="{{
        website_path('oro_customer_frontend_account_user_password_reset', { token: entity.confirmationToken, username: entity.username }, entity.website)
    }}">{{ website_path('oro_customer_frontend_account_user_password_reset', { token: entity.confirmationToken, username: entity.username }, entity.website)}}</a>
</p>
