// list heading
.address-list-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 1.6rem;
    text-transform: uppercase;

    &__icon {
        margin-right: 0.5rem;
    }

    &__text {

    }
}

.line-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.map-visual-frame{
    float: left;
    width: 45%;
}

// list of addresses - START
.map-address-list {
    float: left;
    width: 54%;
    padding-left: 0;
    margin-right: 0.5rem;

    .map-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: space-between;
        padding: 1.3rem 1rem 1.3rem 1.5rem;
        border-bottom: 1px solid #dddddd;

        &:first-of-type {
            border-top: 1px solid #dddddd;
        }

        &--active {
            background-color: #f5f5f5;
        }

        // address
        &__address {
            width: 65%;
        }

        // address label
        &__label {
            width: 22%;
            text-align: center;
            text-transform: capitalize;
        }

        // action buttons
        &__actions {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            justify-content: flex-end;
            width: 13%;
            padding: 0;

            // This adds a | delimiter to buttons.
            :not(:first-child) {
                border-left: 1px solid #cccccc;
            }
        }

        .cf-trash, .cf-pencil {
            width: 50%;
            height: 2rem;
            line-height: 2rem;
            margin: 0;
            color: #cccccc;
            text-align: center;
            font-size: 1.6rem;

            &:hover {
                text-decoration: inherit;
                // @todo: insert it as $base-link-color
                color: #4597ca;
            }
        }
    }
}

// list of addresses - END