.address-list .map-address-list {
    float: left;
    width: 54%;
    padding-left: 0;
    margin-right: 5px;
}

.address-list {
    @include clearfix();

    &:not(:first-child) {
        margin-bottom: 50px;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        padding: 13px 10px 13px 15px;

        border-bottom: 1px solid $theme-gray-color;

        &:first-of-type {
            border-top: 1px solid $theme-gray-color;
        }

        &--active {
            background-color: $base-footer-background-color;
        }
    }

    &__button {
        width: 50%;
        height: 2rem;

        line-height: 20px;
        text-align: center;

        // reset default styles
        border: 0;
        border-radius: 0;
        background: transparent;
        color: $theme-gray-color-regular;

        &:hover {
            text-decoration: inherit;
            color: $base-link-color;
        }
    }

    &__address {
        width: 52%;

        + .address-list__type {
           width: 37%;
        }
    }

    &__label {
        width: 22%;

        font-size: 13px;
        text-align: center;
        text-transform: capitalize;
    }

    &__type {
        width: 15%;
        padding: 4px 0 0 5px;

        font-size: 10px;
        line-height: 1.2;
        text-align: right;

        color: $theme-light-gray-color;
    }

    &__actions {
        display: flex;
        justify-content: flex-end;
        width: 13%;

        // This adds a | delimiter to buttons.
        :not(:first-child) {
            border-left: 1px solid $theme-gray-color-regular;
        }
    }
}
