{% block _account_sidebar_widget %}
    <div class="account-sidebar">
        <h3 class="account-navigation-title">{{ 'orob2b.account.frontend.menu.account_user_profile.label'|trans }}</h3>
        <ul class="account-navigation-list">
            {% set requestUrl = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
            {% set found = false %}

            {% for child in block if child.vars.visible %}
                {% set currentUrl = path(child.vars.route_name, child.vars.route_parameters) %}

                <li {% if currentUrl in requestUrl and not found %}class="current"{% endif %}>{{ block_widget(child) }}</li>

                {% if currentUrl in requestUrl and not found %}
                    {% set found = true %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}
