{% block _account_sidebar_widget %}
    <div class="account-sidebar">
        <h3 class="account-navigation-title">My Account</h3>
        <ul class="account-navigation-list">
            <li><a href="#">Account Dashboard</a></li>
            <li><a href="#">Messages</a></li>
            <li><a href="#">Account Information</a></li>
            <li><a href="#">Shipping Locations</a></li>
            <li><a href="#">My Orders</a></li>
            <li class="current"><a href="#">Quotes</a></li>
            <li><a href="#">Payment Information</a></li>
        </ul>
    </div>
{% endblock %}
