{% block _account_sidebar_widget %}
    <div class="account-menu">
        <h3 class="account-menu__title">{{ 'orob2b.account.frontend.menu.account_user_profile.label'|trans }}</h3>
        <ul class="account-menu__list">
            {% set requestUrl = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
            {% set found = false %}

            {% for child in block if child.vars.visible %}
                {% set currentUrl = path(child.vars.route_name, child.vars.route_parameters) %}

                <li class="account-menu__item {% if currentUrl in requestUrl and not found %}account-menu__item--current{% endif %}">{{ block_widget(child) }}</li>

                {% if currentUrl in requestUrl and not found %}
                    {% set found = true %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}
