{% block _top_nav_left_logged_user_widget %}
    <li>
        {% for child in block %}
            {{ block_widget(child) }}{% if not loop.last %} {% endif %}
        {% endfor %}
    </li>
{% endblock %}

{% block _top_nav_left_sign_out_widget %}
    <li>
        {{ block_widget(block) }}
    </li>
{% endblock %}

{% block _top_nav_left_my_account_widget %}
    <li>
        {{ block_widget(block) }}
    </li>
{% endblock %}
