// a wrapper for the map of addresses
.address-list {
    .map-visual-frame {
        float: left;
        width: 45%;
        height: 420px;

        @include breakpoint('mobile-landscape') {
            width: 100%;
            margin-top: 15px;
        }
    }
    .map-visual {
        height: 420px;
    }
    .no-data {
        margin: 0;
    }
}
