// @theme: default

.primary-menu-container {
    margin: $primary-menu-container-offset;
    padding: $primary-menu-container-inner-offset;

    background: $primary-menu-container-background;
    border-radius: $primary-menu-container-border-radius;
}
