@name = checkout_customer_user_reset_password
@entityName = Oro\Bundle\CustomerBundle\Entity\CustomerUser
@subject = Reset Account User Password
@isSystem = 1
@isEditable = 1

<h1>Hello, {{ entity.username }}!</h1>

<p>To reset your password - please visit
    <a href="{{
        website_path('oro_customer_frontend_customer_user_password_reset', { token: entity.confirmationToken, input_action: redirectParams }, entity.website)
    }}">this link</a>
</p>
