{% block content_block_widget %}
    {% if contentBlock.contentStyle|length -%}
        {%- spaceless -%}
            <style type="text/css">{{ contentBlock.contentStyle|raw }}</style>
        {%- endspaceless -%}
    {%- endif %}
    <div{{ block('block_attributes') }}>
        {%- if not hideTitle|default(false) -%}
            <h3>{{ contentBlock.titles|localized_value }}</h3>
        {%- endif -%}
        {{ contentBlock.content|render_content }}
    </div>
{% endblock %}
