{% block __oro_customer_user_role_grid__button_container_create_customer_user_role_widget %}
    {% set attr = attr|merge({class: attr.class|default('') ~ "text-right"}) %}
    {% set actionButtonClass = 'btn btn--size-s' %}
    <div{{ block('block_attributes') }}>
        {{ block('combined_buttons_widget') }}
    </div>
{% endblock %}
