{% block _sidebar_main_menu_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " sidebar__menu"
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _sidebar_quick_access_menu_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " sidebar__quick-access"
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}
