.ie {
  .search-widget {
    height: 5rem;
  }

  .search-widget__input {
    height: 100%;
  }

  .product-gallery {

    &.product-gallery_vertical {
    
      .product-gallery__carousel__list__item {
        width: 6.8rem !important;
        height: 6.8rem !important;

        @media (max-width: 991px) {
          width: 5rem !important;
          height: 5rem !important;
        }
      }
    }
  }

  .sales-panel {
    + .sticky-widget {
      top: 1rem;
    }

    ~ .sticky-widget__filter,
    ~ .sticky-widget__cart {
      top: 6.4rem;
    }
  }

  .product__qty-input { 
    
    &.product__qty-input_more-info {
      
      .product__qty-input__count-option {

        input[type="number"] {
          display: inline-block;
          vertical-align: middle;
          height: 3.5rem;
        }

        .count-minus,
        .count-plus {
          line-height: 3.7rem;
          height: 3.7rem;

          > i {
            position: relative;
          }
        }
      } 
    }
  }

  .form-input {
    input[type="text"] {
      &.input_sm {
        line-height: 1.4rem;
      }
    }
  }

  .oro-pagination {
    .oro-pagination__pager__prev, 
    .oro-pagination__pager__next {
      height: 3.2rem;

      > i {
        position: relative;
      }
    }

    .oro-pagination__pager__input{
      padding: .7rem 0 .6rem;
      line-height: inherit;
      height: 3.2rem;
      min-height: 3.2rem;
    }
  }

  .input_xs {
    &.oro-oq__filter__search__input {
      padding: .6rem .9rem .8rem;
    }
  }

  //Disabling buttons press effect in IE
  .search-widget__submit,
  .sidebar__trigger,
  .search-widget__options__btn,
  .messages-widget__trigger,
  .account-widget__trigger,
  .oro-grid-table__item_control,
  .btn_close,
  .oro-oq__sorting-settings,
  .oro-custom-selectbox__trigger,
  .oro-grid-table__item_ship-by-date,
  .button-icon,
  .oro-grid-table__group__control,
  .sticky-widget__button,
  .catalog-view-option,
  .delete-item-btn,
  .order-widget__edit-mode-btn,
  button.close,
  .delete-note-btn,
  .delete-row-btn {

    > i {
      position: relative;
    }
  }

  .search-widget__options__btn,
  .cart-widget__order-btn,
  .messages-widget__trigger,
  .account-widget__trigger,
  .oro-custom-selectbox__trigger,
  .sticky-widget__button,
  .sales-panel__feed-btn,
  .sales-panel__pin-btn,
  .sales-panel__star-btn,
  .oro-mp-widget__trigger {

    > span {
      position: relative;
    }

    > .messages-widget__badge,
    > .sales-panel__feed__badge {
      position: absolute;
      z-index: 1;
    }
  }

  .oro-oq__filter__popup {
    width: 65.5rem;

    &.oro-oq__filter__popup_date,
    &.oro-oq__filter__popup_total {
      width: 34rem;
    }

    &.oro-oq__filter__popup_status {
      width: 27rem;
    }
  }

  .cart-list_empty {
    min-height: 0;
  }

  .cart__group-title_rename-mode {
    input[type='text'] {
      &.input_xs {
        &.input_group-rename {
          line-height: 1.6rem;
        }
      }
    }
  }

  .table-block__header__item {
    .product__qty-input {
      max-width: 100%;
    }
  }

  .oq-autocomplete-widget__list {
    top: 5.4rem;
  }
}
