//Helpers
.borderless {
  td, th {
    border: 0 !important;
  }
}

.paddingless {
  td, th {
    padding: 0 !important;
  }
}

.t_paddingless {
  td, th {
    padding-top: 0 !important;
  }
}

.b_paddingless {
  td, th {
    padding-bottom: 0 !important;
  }
}

.b_paddingless_md {
  td, th {
    @media (min-width: 992px) {
      padding-bottom: 0 !important;
    }
  }
}

.width-auto {
  max-width: none !important;
  width: auto !important;
}

.b-padding10 {
  td, th {
    padding-bottom: 1rem !important;
  }
}

//Clears
.cl_l {
  clear: left !important;
}

.cl_r {
  clear: right !important;
}

.wsnr {
  white-space: nowrap;
}

//Widths
.w70 {
  width: 7rem !important;
}

.w80 {
  width: 8rem !important;
}

.w90 {
  width: 9rem !important;
}

.w100 {
  width: 10rem !important;
}

.w120 {
  width: 12rem !important;
}

.w130 {
  width: 13rem !important;
}

.w140 {
  width: 14rem !important;
}

.w170 {
  width: 17rem !important;
}

.w200 {
  width: 20rem !important;
}

.w300 {
  width: 30rem !important;
}

.w350 {
  width: 35rem !important;
}

.w350-md {
  @media (min-width: 992px) {
    width: 35rem !important;
  }
}

.w50_p {
  width: 50% !important;
}

.w30_p {
  width: 30% !important;
}

//Margins
.mt3 {
  margin-top: 3rem !important;
}

@mixin generate-margin-top-helpers($i, $param, $size) {
  @if ($i >= 0) {
    @include generate-margin-top-helpers(($i - 1), $param, $size);

    .m#{$param}#{$i}-#{$size} {
      margin-top: $i + 'rem' !important;
    }
  }
}

@mixin generate-margin-bottom-helpers($i, $param, $size) {
  @if ($i >= 0) {
    @include generate-margin-bottom-helpers(($i - 1), $param, $size);

    .m#{$param}#{$i}-#{$size} {
      margin-bottom: $i + 'rem' !important;
    }
  }
}

@mixin generate-margin-right-helpers($i, $param, $size) {
  @if ($i >= 0) {
    @include generate-margin-right-helpers(($i - 1), $param, $size);

    .m#{$param}#{$i}-#{$size} {
      margin-right: $i + 'rem' !important;
    }
  }
}

@mixin generate-margin-left-helpers($i, $param, $size) {
  @if ($i >= 0) {
    @include generate-margin-left-helpers(($i - 1), $param, $size);

    .m#{$param}#{$i}-#{$size} {
      margin-left: $i + 'rem' !important;
    }
  }
}

@media (max-width: 991px) {
  @include generate-margin-top-helpers(12, t, sm);
  @include generate-margin-bottom-helpers(12, b, sm);
  @include generate-margin-right-helpers(12, r, sm);
  @include generate-margin-left-helpers(12, l, sm);
}

@media (min-width: 992px) {
  @include generate-margin-top-helpers(12, t, md);
  @include generate-margin-bottom-helpers(12, b, md);
  @include generate-margin-right-helpers(12, r, md);
  @include generate-margin-left-helpers(12, l, md);
}

//Micro Margins
@mixin generate-micro-margin-top-helpers($i, $n, $param, $size) {
  @if ($i >= 0.1) {
    @include generate-micro-margin-top-helpers(($i - 0.1), ($n - 1), $param, $size);

    .mm#{$param}#{$n}-#{$size} {
      margin-top: $i + 'rem' !important;
    }
  }
}

@mixin generate-micro-margin-bottom-helpers($i, $n, $param, $size) {
  @if ($i >= 0.1) {
    @include generate-micro-margin-bottom-helpers(($i - 0.1), ($n - 1), $param, $size);

    .mm#{$param}#{$n}-#{$size} {
      margin-bottom: $i + 'rem' !important;
    }
  }
}

@mixin generate-micro-margin-right-helpers($i, $n, $param, $size) {
  @if ($i >= 0.1) {
    @include generate-micro-margin-right-helpers(($i - 0.1), ($n - 1), $param, $size);

    .mm#{$param}#{$n}-#{$size} {
      margin-right: $i + 'rem' !important;
    }
  }
}

@mixin generate-micro-margin-left-helpers($i, $n, $param, $size) {
  @if ($i >= 0.1) {
    @include generate-micro-margin-left-helpers(($i - 0.1), ($n - 1), $param, $size);

    .mm#{$param}#{$n}-#{$size} {
      margin-left: $i + 'rem' !important;
    }
  }
}

@media (max-width: 991px) {
  @include generate-micro-margin-top-helpers(.9, 9, t, sm);
  @include generate-micro-margin-bottom-helpers(.9, 9, b, sm);
  @include generate-micro-margin-right-helpers(.9, 9, r, sm);
  @include generate-micro-margin-left-helpers(.9, 9, l, sm);
}

@media (min-width: 992px) {
  @include generate-micro-margin-top-helpers(.9, 9, t, md);
  @include generate-micro-margin-bottom-helpers(.9, 9, b, md);
  @include generate-micro-margin-right-helpers(.9, 9, r, md);
  @include generate-micro-margin-left-helpers(.9, 9, l, md);
}

//Negative Micro Margins
@mixin generate-negative-micro-margin-top-helpers($i, $n, $param, $size) {
  @if ($i >= 0.1) {
    @include generate-negative-micro-margin-top-helpers(($i - 0.1), ($n - 1), $param, $size);

    .nmm#{$param}#{$n}-#{$size} {
      margin-top: -$i + 'rem' !important;
    }
  }
}

@mixin generate-negative-micro-margin-bottom-helpers($i, $n, $param, $size) {
  @if ($i >= 0.1) {
    @include generate-negative-micro-margin-bottom-helpers(($i - 0.1), ($n - 1), $param, $size);

    .nmm#{$param}#{$n}-#{$size} {
      margin-bottom: -$i + 'rem' !important;
      color: red;
    }
  }
}

@mixin generate-negative-micro-margin-right-helpers($i, $n, $param, $size) {
  @if ($i >= 0.1) {
    @include generate-negative-micro-margin-right-helpers(($i - 0.1), ($n - 1), $param, $size);

    .nmm#{$param}#{$n}-#{$size} {
      margin-right: -$i + 'rem' !important;
    }
  }
}

@mixin generate-negative-micro-margin-left-helpers($i, $n, $param, $size) {
  @if ($i >= 0.1) {
    @include generate-negative-micro-margin-left-helpers(($i - 0.1), ($n - 1), $param, $size);

    .nmm#{$param}#{$n}-#{$size} {
      margin-left: -$i + 'rem'  !important;
    }
  }
}

@media (max-width: 991px) {
  @include generate-negative-micro-margin-top-helpers(.9, 9, t, sm);
  @include generate-negative-micro-margin-bottom-helpers(.9, 9, b, sm);
  @include generate-negative-micro-margin-right-helpers(.9, 9, r, sm);
  @include generate-negative-micro-margin-left-helpers(.9, 9, l, sm);
}

@media (min-width: 992px) {
  @include generate-negative-micro-margin-top-helpers(.9, 9, t, md);
  @include generate-negative-micro-margin-bottom-helpers(.9, 9, b, md);
  @include generate-negative-micro-margin-right-helpers(.9, 9, r, md);
  @include generate-negative-micro-margin-left-helpers(.9, 9, l, md);
}

//Font sizes
@mixin generate-font-size-helpers($i) {
  @if ($i >= 0) {
    @include generate-font-size-helpers($i - 1);

    .fs#{$i} {
      font-size: $i / 10 + 'rem' !important;
    }
  }
}

@include generate-font-size-helpers(32);

.fs16-sm {
  @media (min-width: 992px) {
    font-size: 1.6rem !important;
  }
}

.fs18-md {

  @media (min-width: 992px) {
    font-size: 1.8rem !important;
  }
}

//Colors
.red {
  color: $theme-red-color;
}

a.red {
  &:hover, &:focus, &:active {
    color: $theme-red-color;
  }
}

.orange {
  color: $theme-orange-color;
}

.base-color {
  color: $base-font-color !important;
}

.gray {
  color: $theme-bucket-color;
}

.blue {
  color: $base-link-color;
}

.green2 {
  color: $product_color-green2;
}

.green3 {
  color: $theme-green-color;
}

.price-up-color {
  color: $theme-orange-color-light;
}

.price-old-color {
  color: #919191;
}

.price-out-of-stock-color {
  color: #f17b7b;
}

//Notifications colors
.warning {
  color: $theme-warning-color;
}

//Alignments
.va-t_sm {

  @media (max-width: 991px) {
    vertical-align: top !important;
  }
}

.va-t_md {

  @media (min-width: 992px) {
    vertical-align: top !important;
  }
}

.va-m_md {
  vertical-align: middle !important;
}

//Elements displayings
.inline {
  display: inline-block;
}

.dbmw100p {
  display: block !important;
  max-width: 100% !important;
}

//Text transforms
.text-normal {
  text-transform: none !important;
}

//Text decorations
.underlined {
  text-decoration: underline;
}

//Other
.buttons-flex-container {
  display: flex;

  &.buttons-flex-container_in-cart {
    border-bottom: .1rem solid $base-border-color;
    border-top: .1rem solid $base-border-color;
    padding: 2rem 0;
  }

  &.buttons-flex-container_equal-btns {
    .btn {
      flex-basis: 50%;
    }
  }

  .btn {
    flex-grow: 1;

    &:first-child {
      margin-right: 1rem;
    }
  }
}
