//Theme fonts & font-sizes
$lato-font: 'Lato', 'Helvetica', Arial, sans-serif;
$roboto-font: 'Roboto', 'Helvetica', Arial, sans-serif;
$default-font-size: 10px;
$default-font-size-large: 24px;
$base-font-size: 14px;
$base-line-height: 19px;
$base-font-icon: 'custom-font-icon';

//Theme base colors
$base-font-color: #464646;
$base-font-color-light: #525252;
$base-font-color-lighter: #707070;
$base-font-color-lightest: #d7d7d7;
$base-dark-color: #000;
$base-dark-semi-transparent: rgba(0,0,0,.3);
$base-white-color: #fff;
$base-white-semi-transparent: rgba(255,255,255,.3);

//Theme links color 
$base-link-color: #4597ca;

//Theme specific colors
$theme-orange-color: #cc5c28;
$theme-orange-color-light: #f2994b;
$theme-red-color: #f17b7b;
$theme-yellow-color: #fcb91d;
$theme-red-color: #b84926;
$theme-red2-color: #ab1a25;
$theme-blue-color: #348fc6;
$theme-blue2-color: #1980ec;
$theme-gray-color: #dbdbdb;
$theme-green-color: #598527;
$theme-green2-color: #9db699;
$theme-light-gray-color: #b7b7b7;
$theme-slight-light-gray-color: #d1d1d1;
$theme-lighter-gray-color: #ebebeb;
$theme-slight-lightest-gray-color: #f0f0f0;
$theme-lightest-gray-color: #f5f5f5;
$theme-slight-middle-gray-color: #acacac;
$theme-middle-gray-color: #626365;
$theme-dark-gray-color: #252525;
$theme-edit-mode-btn-color: #9e9e9e;

//Theme background colors
$base-background-color: $base-white-color;
$base-topbar-background-color: $theme-lighter-gray-color;
$base-sidebar-background-color: $theme-slight-lightest-gray-color;
$base-sidebar-background-color-light: $theme-lightest-gray-color;
$base-footer-background-color: $theme-lightest-gray-color;
$base-tab-background-color: #dedede;
$base-cart-group-head-color: $theme-lighter-gray-color;

/*Sales panel colors*/
$base-sales-panel-top-background-color: #e0e0e0;
$base-sales-panel-bottom-background-color: $theme-lightest-gray-color;

//Theme borders colors
$base-border-color: $theme-lighter-gray-color;
$base-active-border-color: #a2d4f3;
$alt-border-color: #e1e1e1;
$table-alt-border-color: $theme-slight-light-gray-color;
$base-checkbox-border-color: $theme-slight-light-gray-color;
$base-checked-item-in-cart-group: #eff6fb;

//Input errors
$theme-input-error: #7a0026;
$theme-input-success: #7ea6a4;

//Theme products colors
$product-color-red: #7a0026;
$product-color-blue: #005b7f;
$product-color-purple: #32004b;
$product-color-green: #005826;
$product_color-green2: #8f9e56;
$product-color-green-light: #00a651;
$products-color-gray: #959595;

$theme-bucket-color: #ccc;
$theme-datepicker-head-color: #ccc;

//Notifications colors
$theme-success-bg-color: #d9e8d2;
$theme-alert-bg-color: #fad6b7;
$theme-error-bg-color: #f9caca;
$theme-notice-bg-color: #d8e4e4;
$theme-info-bg-color: #c2ddee;

$theme-success-font-color: #598253;
$theme-alert-font-color: #785e22;
$theme-error-font-color: #7a0026;
$theme-notice-font-color: #678684;
$theme-info-font-color: #348fc6;

$theme-checkout-complete: #7ea6a4;

//Miss date warning 
$theme-warning-color: #f7941d;

//Paths
$images: "../images";

//Base container's sizes
$base-sidebar-width: 25.5rem;
$base-sidebar-width-collapsed: 8.7rem; 

//Filter Sidebar
$filter-sidebar-width: 22.5rem;

//Product page variables
$gallery-width_lg: 46rem;
$gallery-width_md: 38rem;
$gallery-width_sm: 24.9rem;
$gallery-width_m-sm: 29rem;

$gallery-description-gutter_lg: 2.5rem;
$gallery-description-gutter_md: 3.5rem;
$gallery-description-gutter_sm: 2.5rem;

$product-specification-container-width: 24rem;

$screen-sm: 767px;
$screen-md: 991px;
