* {
  &:focus {
    outline: none;
  }
}

html {
  width: 100%;
  height: 100%;
  font-size: $default-font-size;
  font-family: $lato-font;
  -ms-overflow-style: scrollbar;
}

body {
  width: 100%;
  font-family: $lato-font;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  vertical-align: baseline;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $base-font-color;
  background: $base-background-color;

  @media (max-width: 991px) {
    &.sales-mode {
      overflow-x: hidden; 
    }
  }

  &.loading {
    height: 100%;

    .loader-mask {
      position: fixed;
    }
  }
}

.wrapper {
  
  &.sales-mode {
    padding-top: 1.1rem;
    transition: transform .2s linear;

    @media (max-width: 991px) {
      transform: translate3d(0, 0, 0);
      padding-top: 0;
    }

    /*&.expanded {
      transform: translate3d(0, 8.6rem, 0);

      @media (max-width: 991px) {
        transform: translate3d(0, 0, 0);
        padding-top: 0;
      }
    }*/
  }
}

//Bootstrap override
.container-fluid, .main {
  max-width: 140rem;
  margin: 0 auto;
}

.main {
  margin: 0 auto 7rem;

  @media (max-width: 767px) {
    margin-bottom: 0;
  }

  &.main_home {
    max-width: 100%;
  }

  &:before, &:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
  }
}

//Links
a {
  color: $base-link-color;

  &:hover {
    color: $base-link-color;
    text-decoration: underline;
  }
}

.main {

  &.sticky-nav {
    @media (max-width: 991px) {
      padding-top: 5rem;
    }
  } 
}
