.chosen-container {
  box-sizing: border-box;
  background: $base-background-color;
  @include radiused(.5rem);
  
  &.chosen-container-single {

    .chosen-single {
      color: $base-font-color;
      padding: 1.1rem 1.4rem 0.9rem;
      box-shadow: none;
      background: transparent;
      height: auto;
      border: 0.1rem solid $base-border-color;
      line-height: 2.1rem;

      span {
        color: $base-font-color;
      }

      abbr {
        top: 11px;
        background: none;
        text-align: center;

        &:before {
          content: "";
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          margin: -.6rem 0 0;
          width: .1rem;
          height: 1.3rem;
          transform: rotate(45deg);
          background: $base-link-color;
        }

        &:after {
          content: "";
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-left: -.6rem;
          height: .1rem;
          width: 1.3rem;
          transform: rotate(45deg);
          background: $base-link-color;
        }
      }

      div {
        width: 3rem;

        b {
          background: none !important;
          position: relative;
          transition: transform .2s linear;

          &:before {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            height: 0;
            margin: -.3rem 0 0 -.5rem;
            border-top: .6rem solid $base-font-color-lighter;
            border-left: .5rem solid transparent;
            border-right: .5rem solid transparent;
          }
        }
      }
    }
  }

  &.chosen-container-active {

    .chosen-single {
      outline: 0;
      border: 0.1rem solid #ebebeb;
      box-shadow: 0 1px 5px rgba(0,0,0,.15);
    }
  }

  &.chosen-with-drop {
    .chosen-single {
      div {

        b {
          transform: rotate(180deg);
        }
      }
    }

    .chosen-drop {
      border: 0.1rem solid $base-border-color;
      border-top: 0;
      width: auto;
      min-width: 100%;
      box-shadow: 0 3px 5px rgba(0,0,0,.15);
    }
  }

  .chosen-results {
    color: $base-font-color;
    margin: 0;
    padding: 0;

    li {
      line-height: 2.4rem;
      padding: .5rem 1.4rem;
      //text-transform: uppercase;

      &.highlighted {
        background: $theme-blue-color;
      }

      &.group-option {
        padding-left: 25px;
      }
    }
  }
}

.product__select_quick-view {
  .chosen-single {
    span {
      text-transform: none !important;
    }
  }

  .chosen-results {

    li {
      text-transform: none !important;
    }
  }
}

/*Order Filter*/
.action-selectbox_custom {

  &.disabled {

    .chosen-container {
      &.chosen-container-single {
        .chosen-single {
          border: .1rem solid $base-border-color;

          span {
            color: $base-font-color-lightest;
          }

          div {
            b {
              &:before {
               border-top-color: #bbb;
             }
            }
          }
        }
      }
    }
  }

  .chosen-container {
    background: rgb(255,255,255);
    background: -moz-linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(230,230,230,1) 100%);
    background: -webkit-gradient(linear, to bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(230,230,230,1))); 
    background: -webkit-linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(230,230,230,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(230,230,230,1) 100%); 
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(230,230,230,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(230,230,230,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e6e6',GradientType=0 );
    
    &.chosen-container-single {
      .chosen-single {
        border: .1rem solid #d6d6d6;
        padding: .3rem 1.4rem;

        span {
          text-transform: none;
        }

        div {
          b {
            transform: rotate(0);
          }
        }
      }
    }

    &.chosen-with-drop {
      .chosen-single {
        div {
          b {
            transform: rotate(180deg);
          }
        }
      }
    }

    .chosen-results {
      li {
        text-transform: none;

        &.highlighted {
          background: $theme-blue-color;
        }
      }
    }
  }
}

.action-selectbox_custom_in-pager {
  .chosen-container {
    background: $base-white-color;
    
    &.chosen-container-single {
      .chosen-single {
        padding: .5rem .6rem .5rem 1rem;

        span {
          margin-right: 16px;
          font-weight: 700;
        }

        div {
          width: 2.5rem;
        }
      }
    }

    .chosen-results li {
      padding: .5rem 1rem;
      text-align: left !important;
      white-space: nowrap;
    }
  }
}

.oro-oq__filter__select-container,
.oro-oq__filter__item_sort-select {

  .chosen-container {
    &.chosen-container-single {
      .chosen-single {
        border: .1rem solid $alt-border-color;

        span {
          text-transform: none;
        }
      }
    }

    .chosen-results {
      li {
        text-transform: none;
        @include ellipsis;
      }
    }
  }
}
