.ui-widget-overlay {
  background: #000;
  opacity: .5;
}

.ui-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 0.4rem;

  &.ui-widget-content {
    border: 0;
    color: $base-font-color;
  }

  .ui-dialog-titlebar {
    padding: 4rem 4rem 1.5rem;
    border: 0;
    background: transparent;
    color: $base-font-color;
    font-weight: 400;

    &.ui-draggable-handle {
      cursor: move;
    }
  }

  .ui-dialog-titlebar-close {
    background: none;
    border: 0;
    color: $base-dark-color;
    opacity: .2;

    &:hover {
      opacity: .5;
    }

    .ui-icon-closethick {
      text-indent: 0;

      &:before {
        content: "\e5cd";
        font-family: 'custom-font-icon';
        font-weight: normal;
        font-style: normal;
        font-size: 2.1rem;
        display: inline-block;
        vertical-align: middle;
        width: 1em;
        height: 1em;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-feature-settings: 'liga';
        -moz-font-feature-settings: 'liga';
        font-feature-settings: 'liga';
      }
    }

    .ui-button-text {
      font-size: 0;
      text-indent: -999rem;
    }
  }

  .ui-dialog-titlebar-buttonpane {
    position: absolute;
    top: 5px;
    right: 0;
  }

  .ui-dialog-title {
    font-size: 2.2rem;
  }

  .ui-widget-content {
    border: 0;
    color: $base-font-color;
    padding: 0 4rem;

    form {
      .__form__row {
        margin-bottom: 1.5rem;
      }
      .__form__label {
        display: block;
        font-weight: 400;
        margin: 0 0 .5rem;
      }
    }
  }

  .ui-dialog-buttonpane {
    padding: 2rem 4rem 4rem;
    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;

    .pull-right .action-wrapper {
      margin-left: 1rem;
    }
    .pull-left .action-wrapper {
      margin-right: 1rem;
    }
  }
}
