label, select, button, input[type="button"], input[type="reset"], input[type="submit"], input[type="radio"], input[type="checkbox"] {
    cursor: pointer;
}

input[type="text"],
input[type="number"],
textarea {
    &.input_block {
        width: 100%;
    }
}

.__form__row {
    margin: 0 0 2rem;
}

label.required:after {
    content: "*";
    color: $theme-red-color;
    margin-left: .2rem;
}

label {
    display: block;
    font-weight: 400;
    margin: 0 0 .5rem;
}

.form__col {
    padding: 0 .5rem;
    margin: 0 0 1.5rem;
}

.input,
input.hasDatepicker {
    @include input();
    line-height: 1.9rem;
}
