/*Product Gallery Widget*/
.product-gallery-widget {

  &.product-gallery-widget_horizontal {
    width: $gallery-width_lg;

    @media (max-width: 991px) {
      width: 100%;
      max-width: $gallery-width_md;
      margin: 0 auto;
    }
  }

  &.product-gallery-widget_vertical {
    width: $gallery-width_md;

    @media (max-width: 991px) {
      width: 100%;
      max-width: $gallery-width_md;
      margin: 0 auto;
    }
  }

  &.product-gallery-container_vertical_m-sm {
    width: $gallery-width_sm;

    @media (max-width: 991px) {
      width: 100%;
      max-width: $gallery-width_m-sm;
      margin: 0 auto;
    }
  }

  &.product-gallery-container_vertical_sm {
    width: $gallery-width_sm;

    @media (max-width: 991px) {
      width: 100%;
      max-width: $gallery-width_sm;
      margin: 0 auto;
    }
  }

  &.product-gallery-widget_l_floated {
    float: left;
    margin-bottom: 2rem;
    position: relative;
    z-index: 2;

    @media (max-width: 991px) {
      margin-bottom: 0;
      float: none;
    }
  }

  &.product-gallery-widget_r_floated {
    float: right;

    @media (max-width: 991px) {
      float: none;
    }
  }
}

.product-gallery {
  width: 100%;

  &.product-gallery_horizontal {

    &:before, &:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
    }

    .product-gallery__image-holder {
      float: left;

      @media (max-width: 991px) {
        float: none;
      }
    }

    .product-gallery__carousel-holder {
      width: 5.6rem;
      height: 38rem;
      float: left;
      margin: 0 0 0 1.5rem;

      @media (max-width: 991px) {
        width: 100%;
        height: auto;
        float: none;
        max-width: $gallery-width_md;
        margin: 1rem 0 0 0;
      }
    }

    .product-gallery__carousel {
      width: 5.6rem;
      height: 100%; 
      padding: 2.6rem 0 3.4rem;

      @media (max-width: 991px) {
        width: 100%;
        max-width: $gallery-width_md;
        margin: 0 auto;
      }
    }

    .product-gallery__carousel__list {
      width: 5.6rem;
      height: 100%;
      overflow: hidden;

      @media (max-width: 991px) {
        width: 100%;
        margin: 0 auto;
        max-height: 5.6rem;
        text-align: center;
        font-size: 0;
      }
    }

    .product-gallery__carousel__list__item {
      width: 5.6rem !important;
      height: 5.6rem !important;
      margin: .8rem 0;

      @media (max-width: 991px) {
        width: 5.6rem !important;
        height: 5.6rem !important;
        margin: 0 .4rem;
        display: inline-block;
        float: none;
      }
    }

    .product-gallery__carousel__btn {
      width: 5.6rem;
      height: 2rem;
      line-height: 2rem;
      left: 0;

      @media (max-width: 991px) {
        display: none !important;
      }

      [class^="cf-"] {
        line-height: 2rem;
        height: 2rem;
      }
    }

    .product-gallery__carousel__btn_prev {
      bottom: 0;
    }

    .product-gallery__carousel__btn_next {
      top: 0;
    }
  }

  &.product-gallery_vertical {

    .product-gallery__image-holder {
      margin: 0 auto;
    }

    .product-gallery__carousel-holder {
      width: $gallery-width_md;
      text-align: center;
      margin: 2rem auto 0;

      @media (max-width: 991px) {
        width: 100%;
        max-width: $gallery-width_md;
        margin-top: 1rem;
      }
    }

    .product-gallery__carousel {
      width: 32rem;
      margin: 0 auto;

      @media (max-width: 991px) {
        width: 100%;
      }
    }

    .product-gallery__carousel__list {
      @mixin list-normalize();
      max-height: 5.6rem;
      display: inline-block;
      overflow: hidden;

      @media (max-width: 991px) {
        display: block;
        margin: 0 auto;
        max-height: 5.6rem;
        text-align: center;
        font-size: 0;
      }
    }

    .product-gallery__carousel__list__item {
      display: block;
      float: left;
      box-sizing: border-box;
      width: 5.6rem !important;
      height: 5.6rem !important;
      margin: 0 .4rem;

      @media (max-width: 991px) {
        width: 5.6rem !important;
        height: 5.6rem !important;
        margin: 0 .4rem;
        display: inline-block;
        float: none;
      }
    }

    .product-gallery__carousel__btn {
      top: 0;
      width: 2rem;
      height: 5.6rem;
      line-height: 5.6rem;

      @media (max-width: 991px) {
        display: none !important;
      }
    }

    .product-gallery__carousel__btn_prev {
      left: 0;
    }

    .product-gallery__carousel__btn_next {
      right: 0;
    }
  }

  &.product-gallery_vertical_sm {

    .product-gallery__image-holder {
      margin: 0 auto;
    }

    .product-gallery__carousel-holder {
      width: $gallery-width_sm;
      text-align: center;
      margin: 1rem auto 0;

      @media (max-width: 991px) {
        width: 100%;
        max-width: $gallery-width_sm;
        margin-top: 1rem;
      }
    }

    .product-gallery__carousel {
      width: 19.5rem;
      margin: 0 auto;

      @media (max-width: 991px) {
        width: 100%;
      }
    }

    .product-gallery__carousel__list {
      @mixin list-normalize();
      max-height: 5.6rem;
      display: inline-block;
      overflow: hidden;

      @media (max-width: 991px) {
        display: block;
        margin: 0 auto;
        max-height: 5.6rem;
        text-align: center;
        font-size: 0;
      }
    }

    .product-gallery__carousel__list__item {
      float: left;
      width: 5.6rem !important;
      height: 5.6rem !important;
      margin: 0 .4rem;

      @media (max-width: 991px) {
        width: 5.6rem !important;
        height: 5.6rem !important;
        margin: 0 .4rem;
        display: inline-block;
        float: none;
      }
    }

    .product-gallery__carousel__btn {
      top: 0;
      width: 2rem;
      height: 5.5rem;
      line-height: 5.5rem;

      @media (max-width: 991px) {
        display: none !important;
      }
    }

    .product-gallery__carousel__btn_prev {
      left: 0;
    }

    .product-gallery__carousel__btn_next {
      right: 0;
    }
  }
}

.product-gallery__image-holder {
  max-width: $gallery-width_md;
  max-height: $gallery-width_md;

  &.product-image-holder_md {
    width: $gallery-width_sm;
  }

  .product-gallery__image-holder__container {
    display: block;
    max-width: $gallery-width_md;
    max-height: $gallery-width_md;
    border: .1rem solid $base-border-color;

    &:focus, &:visited {
      outline: 0;
    }

    img {
      max-width: 100%;
      max-height: 100%;
      display: block;
      margin: 0 auto;
    }
  }
}

.product-gallery__carousel-holder {
  position: relative;

  &.product-carousel-holder_md {
    width: $gallery-width_sm;
    margin: 1rem 0 0;
  }
}

.product-gallery__carousel {

  &.product-carousel_md {
    width: $gallery-width_sm;
  }
}

.product-gallery__carousel__list {

  &.product-carousel__list_md {
    display: block;
    margin: 0 -.5rem;
  }
}

.product-gallery__carousel__list__item {
  display: block;
  box-sizing: border-box;
  border: .1rem solid $base-border-color;

  &.product-carousel__list__item_md {
    width: 6rem !important;
    height: 6rem !important;

    @media (max-width: 991px) {
      width: 5rem !important;
      height: 5rem !important;
    }
  }

  a {
    display: block;
    width: 100%;
    box-sizing: border-box;

    img {
      display: block;
      max-width: 100%;
    }
  }

  &.selected {
    border: .1rem solid $theme-blue-color;  
  }
}

.product-gallery__carousel__btn {
  position: absolute;
  text-align: center;
  padding: 0;
  background: $base-sidebar-background-color;
  color: $base-font-color;

  @media (max-width: 991px) {
    display: none !important;
  }
}
