.star-on-png, .star-off-png {
  font-size: 1.6rem;
  color: $theme-raty-color;
}

.star-on-png, .star-off-png {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

.star-on-png {
  &:before {
    content: "\2605";
  }
}

.star-off-png {
  &:before {
    content: "\2606";
  }
}
