.ttip__wrap {
  position: relative;
  display: inline-block;
  *display: inline;
  *zoom: 1; 
}

.ttip {
  position: absolute;
  z-index: 99;
  bottom: 100%;
  left: 50%;
  white-space: nowrap;
  margin-bottom: 3rem;
  visibility: hidden;
  opacity: 0;
  filter: alpha(opacity=0);

  &.ttip_info {
    width: 32rem;
    white-space: normal;

    .ttip__content {
      padding: 1.5rem;

      h3 {
        font-size: 1.5rem;
        margin: 0 0 1rem;
      }

      p {
        margin: 0;
      }
    }
  } 
}

.ttip_visible {
  bottom: 0;
  visibility: visible;
  opacity: 1;
  text-align: center;
  left: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px;
  white-space: normal;
  margin-bottom: 4rem;

  &:before {
    content: "";
    display: inline-block;
    height: 21.2rem;
    width: 0;
    vertical-align: middle;
  }

  .ttip__content {
    font-size: 1.4rem;
    vertical-align: middle;
    display: inline-block;
    @include radiused(1rem);
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8rem 0;
    box-shadow: 0 .3rem 1rem 0 rgba(0,0,0,.4);

    &:after {
      bottom: -.8rem;
      left: 50%;
      margin-left: -.8rem;
      border-top: .8rem solid rgba(255,255,255,1);
      border-left: .8rem solid transparent;
      border-right: .8rem solid transparent;
    }
  }
}

.ttip__content {
  display: block;
  position: relative;
  background: rgba(255,255,255,1);
  left: -50%;
  padding: .3rem .8rem;
  font-size: 1.4rem;
  color: $base-font-color;
  @include radiused(.3rem);
  box-shadow: 0 .2rem .6rem 0 rgba(0,0,0,.2);

  &.ttip__content_dark {
    background: rgba(0,0,0,1);
    font-size: 1.2rem;
    line-height: 2.3rem;
    padding: .6rem 1.5rem;
    color: #fff;
  
    &:after {
      bottom: -.6rem;
      margin-left: -.6rem;
      border-top: .6rem solid rgba(0,0,0,1);
      border-left: .5rem solid transparent;
      border-right: .5rem solid transparent; 
    }
  }

  &:after {
    content: "";
    position: absolute;
    bottom: -.8rem;
    left: 50%;
    margin-left: -.8rem;
    border-top: .8rem solid rgba(255,255,255,1);
    border-left: .7rem solid transparent;
    border-right: .7rem solid transparent; 
  }
}

.ttip__toggle {
  cursor: pointer; 

  &:hover {

    + .ttip {
      visibility: visible;
      margin-bottom: .7rem;
      opacity: 1;
      filter: alpha(opacity=100);
      transition: all .5s; 
    }
  }
}

.ttip {
  table {
    width: 14.5rem;  

    thead {
      tr {
        td {
          border-bottom: .1rem solid $base-border-color !important;
        }
      }
    }

    td {
      padding: .5rem 0 !important;
      text-align: center;
    }
  }
}
