body {
  .ui-datepicker {
    padding: 10px 15px 10px;

    .ui-datepicker-buttonpane {
      display: none;
    }

    .ui-datepicker-calendar {
      td {
        width: 20px;
        height: 20px;
        padding: 2px;
        border: none;
        text-align: center;
        vertical-align: middle;
      }

      th span {
        vertical-align: middle;

        color: $theme-datepicker-head-color;
        font-weight: 400;
      }

      tr:hover {
        background: none;
      }

      .ui-datepicker-today {
        .ui-state-default {
          border-color: white;

          &:hover {
            border-color: white;
          }
        }
      }

      a.ui-state-default {
        padding: 5px 6px;
        border-radius: 4px;

        background: none;
        color: $base-font-color;
        font-size: $base-font-size;

        &.ui-state-active,
        &:hover {
          border: none;
          background: $theme-lightest-gray-color;
        }

        &.ui-state-active {
          border: 0;

          background: $theme-orange-color;
          color: $base-white-color;
          text-shadow: 0 -1px 0 rgba(0,0,0,.25);
        }
      }
    }

    .ui-datepicker-header {
      padding: 5px 0;
      border: none;

      background: none;
    }

    .ui-widget-header {

      .ui-datepicker-next,
      .ui-datepicker-prev {
        &:before {
          content: '';
          display: inline-block;
          vertical-align: middle;
          width: 8px;
          margin-left: 8px;
          margin-top: 3px;
        }

        span {
          background: none;
        }
      }

      .ui-datepicker-next {
        &:before {
          right: 4px;

          border-top: 7px solid transparent;
          border-bottom: 7px solid transparent;
          border-left: 7px solid $theme-bucket-color;
        }
      }

      .ui-datepicker-prev {
        &:before {
          left: 4px;

          border-top: 7px solid transparent;
          border-bottom: 7px solid transparent;
          border-right: 7px solid $theme-bucket-color;
        }
      }

      .ui-datepicker-next-hover,
      .ui-datepicker-prev-hover {
        top: 6px;

        background: $theme-lightest-gray-color;
        border-color: transparent;
      }

      .ui-datepicker-prev-hover {
        right: 4px;
      }
      .ui-datepicker-prev-hover {
        left: 4px;
      }
    }
    .ui-datepicker-title {
      color: $base-font-color;
      font-size: $base-font-size;
      font-weight: 100;
    }
  }
}
