body {
  .ui-datepicker {
    padding: 1rem 1.5rem 1rem;

    .ui-datepicker-buttonpane {
      display: none;
    }

    .ui-datepicker-calendar {
      td {
        width: 20px;
        height: 20px;

        padding: 2px;

        text-align: center;

        border: none;
      }

      th span {
        font-weight: 400;

        color: $theme-datepicker-head-color;

        vertical-align: middle;
      }

      tr:hover {
        background: none;
      }

      .ui-datepicker-today {
        .ui-state-default {
          border-color: white;

          &:hover {
            border-color: white;
          }
        }
      }

      a.ui-state-default {
        padding: 5px 6px;

        font-size: $base-font-size;

        color: $base-font-color;
        background: none;
        border-radius: 4px;

        &.ui-state-active,
        &:hover {
          border: none;
          background: $base-sidebar-background-color-light;
        }

        &.ui-state-active {
          background: #cc5c28;
          border: 0;
          color: #fff;
          text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
        }
      }
    }

    .ui-datepicker-header {
      background: none;
      border: none;

      padding: 5px 0;
    }

    .ui-widget-header {

      .ui-datepicker-next,
      .ui-datepicker-prev {
        &:before {
          content: '';

          display: inline-block;
          vertical-align: middle;

          width: 8px;
          margin-left: 8px;
          margin-top: 3px;
        }

        span {
          background: none;
        }
      }

      .ui-datepicker-next {
        &:before {
          right: 4px;

          border-top: .7rem solid transparent;
          border-bottom: .7rem solid transparent;
          border-left: .7rem solid $theme-bucket-color;
        }
      }

      .ui-datepicker-prev {
        &:before {
          left: 4px;

          border-top: .7rem solid transparent;
          border-bottom: .7rem solid transparent;
          border-right: .7rem solid $theme-bucket-color;
        }
      }

      .ui-datepicker-next-hover,
      .ui-datepicker-prev-hover {
        top: 6px;

        background: $base-sidebar-background-color-light;
        border-color: transparent;
      }

      .ui-datepicker-prev-hover {
        right: 4px;
      }
      .ui-datepicker-prev-hover {
        left: 4px;
      }
    }
    .ui-datepicker-title {
      color: $base-font-color;

      font-size: $base-font-size;
      font-weight: 100;
    }
  }
}
