.hero-promo-item {
    position: relative;

    font-family: $base-font;
    font-size: 0;

    a:hover {
        text-decoration: none;
    }

    &__info {
        position: absolute;
        top: 50%;
        right: 5%;

        display: inline-block;
        width: 34%;

        font-size: $base-font-size;

        transform: translate(0, -50%);
    }

    &__img {
        display: block;
        width: 100%;
    }

    &__cover {
        &:before {
            display: inline-block;
            width: 0;
            height: 100%;

            vertical-align: middle;

            content: '';
        }
    }

    &__desc {
        display: inline-block;
        width: 100%;

        vertical-align: middle;

        white-space: normal;
    }

    &__pretitle {
        overflow-y: hidden;

        display: block;
        margin: 0 0 6px;

        font-size: 56px;
        line-height: 1.1;
        text-transform: uppercase;

        text-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
        color: get-color('additional', 'ultra');
    }

    &__title {
        overflow-y: hidden;

        margin: 0 0 10px;
        max-height: 194px;

        font-size: 18px;
        font-weight: normal;
        line-height: 1.4;

        color: get-color('additional', 'ultra');
    }

    &__view-btn {
        padding: 5px 15px;

        text-transform: uppercase;
    }

    &--description-left &__info {
        right: auto;
        left: 5%;

        text-align: left;
    }

    &--description-center &__info {
        right: auto;
        left: 50%;

        width: 40%;
        margin-left: -20%;

        text-align: center;
    }

    &--text-color-dark &__title,
    &--text-color-dark &__pretitle {
        color: get-color('additional', 'dark');
    }
}


@include breakpoint('tablet') {
    .hero-promo-item {
        margin-top: 0;

        &__pretitle {
            font-size: 35px;
            line-height: 1.2;
        }

        &__title {
            font-size: $base-font-size;
            line-height: 1.3;
        }
    }
}

@include breakpoint('mobile-landscape') {
    .hero-promo-item {
        & &__info {
            right: auto;
            left: 50%;

            width: 90%;
            margin-left: -45%;

            text-align: center;
        }

        &__title {
            display: none;
        }
    }
}

@include breakpoint('mobile') {
    .hero-promo-item {
        margin-top: 0;

        &__info {
            transform: translate(0, -63%);
        }

        &__pretitle {
            margin-bottom: 15px;

            line-height: 1;
            font-size: 30px;
        }
    }
}
