.hero-promo-item {
    display: flex;
    margin-top: 26px;

    font-size: 0;

    &__picture,
    &__info {
        display: inline-block;

        font-size: $base-font-size;

        border: 1px solid $base-border-color;
    }

    &__picture {
        width: 63.46%;
    }

    &__info {
        position: relative;

        width: 36.54%;
    }

    &__img {
        display: block;
        max-width: 100%;
    }

    &__cover {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        text-align: center;
        white-space: nowrap;

        background: rgba(87,47,46, .5);

        &:before {
            display: inline-block;
            width: 0;
            height: 100%;

            vertical-align: middle;
            content: '';
        }
    }

    &__desc {
        display: inline-block;
        width: 100%;

        vertical-align: middle;
        white-space: normal;
    }

    &__pretitle {
        display: block;
        margin: 0 0 6px;

        font: italic 700 22px serif;
        text-align: center;

        color: $base-white-color;
    }

    &__title {
        margin: 0 0 10px;

        font-size: 48px;
        line-height: 64px;
        text-align: center;

        color: $base-white-color;
    }

    &__view-btn {
        text-transform: uppercase;
        text-align: center;
    }
}

@include breakpoint('mobile') {
    .hero-promo-item {
        margin-top: 0;

        &__pretitle {
            font-size: 10px;
        }

        &__title {
            font-size: $base-font-size;
            line-height: 18px;
        }

        &__view-btn.btn.theme-btn {
            padding: 0 6px;

            font-size: 10px;
            line-height: 26px;
        }
    }
}
