{% block _product_grid_row_qty_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " product-item__qty product-item__qty_<%= themeOptions.view %>"
    }) %}
    <div {{ block('block_attributes_raw_class') }}>
        <input type="text" value="1" class="input input_inline"/>
        <div class="btn btn-dark btn_has-dropdown btn_has-dropdown_md">
            <a href="#" class="direct-link">Add To List</a>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="true"><i class="material-icons">arrow_drop_down</i></a>
            <ul class="dropdown-menu">
                <li><a href="#">Option 1</a></li>
                <li><a href="#">Option 2</a></li>
                <li><a href="#">Option 3</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
