{% block _add_to_shopping_list_form_button_widget %}
    {% import 'OroB2BShoppingListBundle:ShoppingList/Frontend:buttons.html.twig' as buttons %}
    {% set buttonOptions = {
        dataUrl: 'orob2b_shopping_list_frontend_add_product',
        dataAttributes: {}
    } %}
    {% set removeOptions = buttonOptions|merge({
        dataUrl: 'orob2b_shopping_list_frontend_remove_product',
        actionLabel: 'orob2b.shoppinglist.actions.remove_from_shopping_list'|trans
    }) %}
    {% set options = {
        new: buttonOptions,
        current: buttonOptions,
        existing: buttonOptions,
        shoppingLists: shoppingLists,
        remove: removeOptions,
        componentOptions: {
            defaultClass: 'btn-dark',
            addedClass: 'btn-green'
        },
        singleButtonACss: 'btn-block btn-dark btn_lg'
    } %}
    {{ buttons.getButtonsHtml(options) }}
{% endblock %}

{% block _product_shopping_lists_widget %}
    {% set popup %}
        {% spaceless %}
            <div>
                <% if (!_.isEmpty(popupData.shoppingLists)) { %>
                <div data-name="shopping-lists-multiple-edit-container">
                    <table class="shopping-lists-popup">
                        <thead class="shopping-lists-popup__headline">
                        <tr class="shopping-lists-popup__item">
                            <th class="shopping-lists-popup__list">{{ 'orob2b.shoppinglist.entity_label'|trans }}</th>
                            <th class="shopping-lists-popup__quantity">{{ 'orob2b.frontend.shoppinglist.view.qty.label'|trans }}</th>
                        </tr>
                        </thead>
                        <tfoot class="shopping-lists-popup__footer">
                        <tr class="shopping-lists-popup__actions">
                            <td class="shopping-lists-popup__gap"></td>
                            <td class="shopping-lists-popup__cancel">
                                <button class="btn theme-btn btn-orange"
                                        type="submit"
                                        data-name="shopping-lists-close">Close</button>
                            </td>
                        </tr>
                        </tfoot>
                        <tbody class="shopping-lists-popup__content">
                        <% _.each(popupData.shoppingLists, function(list) { %>
                        <tr class="shopping-lists-popup__item">
                            <td class="shopping-lists-popup__list">
                                <a class="shopping-lists-popup__link" href="#"><%= list.shopping_list_label %></a>
                            </td>
                            <td class="shopping-lists-popup__quantity">
                                <% var ListLineItems = list.line_items; %>
                                <% if (!_.isEmpty(ListLineItems)) { %>
                                    <% _.each(ListLineItems, function(lineItem, i) { %>
                                    <div class="shopping-lists-units">
                                        <span class="shopping-lists-units__number"><%= lineItem.quantity %></span>
                                        <span class="shopping-lists-units__separate">/</span>
                                        <span class="shopping-lists-units___measurement"><%= lineItem.unit %></span>
                                        <% if (i === 0) { %>
                                        <div class="shopping-lists-units__actions">
                                            <ul class="actions-menu-row">
                                                <li class="actions-menu-row__item actions-menu-row__item--edit">
                                                    <button class="actions-menu-row__button"
                                                            type="button" title="Edit"
                                                            data-name="shopping-list-edit">
                                                        <i class="actions-menu-row__icon cf-pencil"></i>
                                                    </button>
                                                </li>
                                                <li class="actions-menu-row__item actions-menu-row__item--separate">|</li>
                                                <li class="actions-menu-row__item actions-menu-row__item--remove">
                                                    <button class="actions-menu-row__button" type="button"
                                                            title="Remove"
                                                            data-name="shopping-list-delete">
                                                        <i class="actions-menu-row__icon cf-trash"></i>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                        <% } %>

                                        <ul class="shopping-lists-modify hidden">
                                            <li class="shopping-lists-modify__text">
                                                <input class="shopping-lists-modify__input input input_xs" type="text" value="14" name="number">
                                            </li>
                                            <li class="shopping-lists-modify__select">
                                                <select class="oro-select2 oro-select2--size-s" name="units">
                                                    <option value="Units">Units</option>
                                                    <option value="Boxes" selected>Boxes</option>
                                                    <option value="Pallet">Pallet</option>
                                                </select>
                                            </li>
                                            <% if (i === 0) { %>
                                            <li class="shopping-lists-modify__badges">
                                                <span class="shopping-lists-modify__edit">
                                                    <button class="shopping-lists-modify__button badge badge_sm badge_orange badge_circled-corners"
                                                            type="button"
                                                            title="Done"
                                                            data-name="shopping-list-accept">
                                                        <i class="shopping-lists-modify__icon cf-check"></i>
                                                    </button>
                                                </span>
                                                <span class="shopping-lists-modify__edit">
                                                    <button class="shopping-lists-modify__button badge badge_sm badge_l-dark badge_circled-corners"
                                                            type="button"
                                                            title="Done"
                                                            data-name="shopping-list-decline">
                                                        <i class="shopping-lists-modify__icon cf-clear"></i>
                                                    </button>
                                                </span>
                                            </li>
                                            <% } %>
                                        </ul>
                                    </div>
                                    <% }); %>
                                <% } %>
                            </td>
                        </tr>
                        <% }); %>
                        </tbody>
                    </table>
                </div>
                <% } %>
            </div>
        {% endspaceless %}
    {% endset %}

    {% set shopping_billet %}
        {% spaceless %}
            <% if (!_.isEmpty(billet.shoppingLists)) { %>
            <div class="shopping-lists-billet">
                <i class="shopping-lists-billet__icon"></i>
                <% if (billet.shoppingList && billet.shoppingList.is_current) { %>
                    <% _.each(billet.currentLineItemsLabels, function(label) { %>
                        <div class="shopping-lists-billet__text">
                            <span class="shopping-lists-billet__label"><%= label.name %></span>
                            <i class="cf-pencil shopping-lists-billet__edit-icon"></i>
                        </div>
                    <% }); %>
                <% } else { %>
                    <div class="shopping-lists-billet__text">
                        <i class="shopping-lists-billet__icon"></i>
                        In Shopping Lists (<span class="shopping-lists-billet__count"><%= billet.shoppingLists.length %></span>)
                    </div>
                <% } %>
                <a class="shopping-lists-billet__link" data-name="shopping-lists-link">Add item to multiple lists</a>
            </div>
            <% } %>
        {% endspaceless %}
    {% endset %}

    {% set attr = {
        "data-page-component-module": "oroui/js/app/components/view-component",
        "data-page-component-options": {
            view: 'orob2bshoppinglist/js/app/views/base-shopping-lists-link-view',
            billetTemplate: shopping_billet,
            popupTemplate: popup
        }|json_encode}
    %}
    <div {{ block('block_attributes') }}>
        <div data-name="shopping-lists-billet"></div>
    </div>
{% endblock %}


