/* @theme: default; */

$consent-list-display: grid !default;
$consent-list-padding-block: spacing('xs') !default;
$consent-list-gap: spacing('sm') !default;
$consent-list-offset: 0 0 (spacing('sm') * 3) !default;

$consent-list-item-position: flex !default;
$consent-list-item-gap: spacing('sm') !default;
$consent-list-item-word-break: break-word !default;

$consent-list-status-enabled-color: get-color('success', 'dark') !default;
$consent-list-status-disabled-color: get-color('destructive', 'base') !default;
