{% set result = form.vars.result|default({}) %}
<div data-page-component-module="orotax/js/app/components/order-line-item-taxes-component"
     data-page-component-options="{{ {result: result|default({})}|json_encode }}">
    <div data-table-container></div>
</div>
