<script type="text/html" id="template-datagrid-toolbar">
    <div class="oro-oq__filter__item"></div>
    <div class="oro-oq__filter__item">
        <div class="oro-pagination">
            <span>Page:</span>
            <div class="oro-pagination__pager">
                <button class="oro-pagination__pager__prev disabled">
                    <i class="icon-left-open"></i>
                </button>
                <input type="text" class="oro-pagination__pager__input" value="1" />
                <button class="oro-pagination__pager__next">
                    <i class="icon-right-open"></i>
                </button>
            </div>
            <span class="hidden-sm hidden-xs">Of 3 | Total of 69 Records</span>
        </div>
    </div>
    <div class="oro-oq__filter__item">
        <span class="hidden-sm hidden-xs fs14 va-m_md mmr9-md">View Per Page:</span>
        <div class="action-selectbox_custom action-selectbox_custom_in-pager">
            <select name="action" class="input input_xs action-select" data-chosen-selectbox>
                <option value="0">10</option>
                <option value="1">25</option>
                <option value="2">50</option>
            </select>
        </div>
        <span class="hidden-lg hidden-md fs14 va-m_md ml1-sm">Per Page</span>
    </div>
</script>
