<script type="text/html" id="template-datagrid-toolbar">
    <div class="oro-oq__filter__item"></div>
    <div class="oro-oq__filter__item">
        <div class="oro-pagination" data-grid-pagination></div>
    </div>
    <div class="oro-oq__filter__item">
        <div data-grid-pagesize></div>
    </div>
</script>
