/* @theme: default; */

.request-form-editline__product .input-append {
    display: flex;

    .select2-choice {
        // stylelint-disable-next-line declaration-no-important
        max-width: none !important;
    }

    .entity-select-btn {
        flex: 0 0 auto;

        margin-left: 5px;
    }

    .select2-container {
        flex: 1 0 auto;
        width: 0;

        border-radius: $input-border-radius;
    }
}
