.orders-list {
    overflow-y: hidden;
    overflow-x: auto;
    width: 100%;
    width: calc(100% - 37px);
    margin-bottom: 0;

    font-size: 0;
    white-space: nowrap;

    box-shadow: inset 0 -1px 0 0 $base-font-color-lightest;
    border-radius: 3px 0 0;
    border-left: 1px solid $base-font-color-lightest;
    background: $theme-lightest-gray-color;

    &__item {
        display: inline-block;
        width: 20%;

        font-size: 14px;
        vertical-align: top;

        border-bottom: 0;
        background: $theme-lightest-gray-color;

        &:first-child {
            border-top: 0;
        }

        &:first-child .orders-list__link {
            margin-left: 0;

            border-radius: 3px 0 0;
            border-left: 0;
        }
    }

    &__link {
        margin-left: -1px;
        padding: 16px 15px 12px;

        text-align: center;
        white-space: nowrap;
        overflow: hidden;

        border: 1px solid $theme-lighter-gray-color;
        border-bottom: 1px solid $base-font-color-lightest;

        &--current,
        &:hover {
            margin-bottom: -1px;

            border: 1px solid $base-font-color-lightest;
            border-bottom: 1px solid $base-white-color;
            background: $base-white-color;
        }
    }

    &__item-indicator,
    &__content {
        display: inline-block;;

        vertical-align: baseline;;
    }

    &__item-indicator {
        position: static;

        min-width: 26px;
    }

    &__content {
        max-width: calc(100% - 36px);
        margin-left: 10px;
    }

    &__title {
        display: inline-block;
        max-width: 100%;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: text-bottom;
    }

    &__desc {
        display: none;
    }
}
