@font-size: @base-font-size;
@font-size-m: 20px;
@line-height: 1.2;

@offset-y: 15px;
@offset-y-m: 10px;
@offset-x: 15px;
@offset-x-m: 10px;

//Color palette
@color-error: @theme-input-error;
@color-warring: @theme-warning-color;
@color-success: @theme-input-success;
@color-focus: @base-link-color;

// Fonts
@font-icon: 'custom-font-icon';
