<% let clipLength = 30 %>
<% let oroshoppinglist = _.macros('oroshoppinglist') %>
<% productId = typeof productId !== 'undefined' ? productId : null %>
<% variantId = typeof variantId !== 'undefined' ? variantId : null %>

<div class="product-item grid-line-items">
    <div class="grid-line-items__row">
        <% let inventoryStatusLabel = function (inventoryStatus) { %>
            <% return _metadata.inventory_statuses[inventoryStatus] ? _metadata.inventory_statuses[inventoryStatus] : inventoryStatus %>
        <% } %>

        <% let productUrl = function (productId, variantId) { %>
            <% return oroshoppinglist.routing.generate('oro_product_frontend_product_view', variantId ? {id: productId, variantProductId: variantId} : {id: productId} ) %>
        <% } %>

        <% if (obj._isVariant) { %>
            <div class="grid-line-items__row-item mobile-column show-on-tablet">
                <span class="highlighted-in-mobile break-all"><%- sku %></span>
                <%= oroshoppinglist.renderInventoryStatus({name: inventoryStatus, label: inventoryStatusLabel(inventoryStatus), isLowInventory: isLowInventory}) %>
            </div>
            <div class="grid-line-items__configuration">
                <% _.each(productConfiguration, function(field) { %>
                    <div class="grid-line-items__field">
                        <span class="grid-line-items__field-label show-on-tablet-small"><%- field.label %>:</span>
                        <span class="grid-line-items__field-val"><%- field.value %></span>
                    </div>
                <% }) %>
            </div>
            <% if (notes) { %>
                <%= oroshoppinglist.renderNotes({notes: notes}) %>
            <% } %>
        <% } else { %>
            <% if (obj._isKitItemLineItem) { %>
                <div class="grid-line-items__row-item height-as-image-tablet">
                    <div class="bold"><%- obj.kitItemLabel %>:</div>
                    <% if (name && name.length <= clipLength) { %>
                        <%= oroshoppinglist.renderProductItemName({...obj, link: productId ? productUrl(productId, variantId) : null, popover_image_src: obj.image}) %>
                    <% } else { %>
                        <div class="grid-line-items__clip-container">
                            <%= oroshoppinglist.renderProductItemName({...obj, clip: true, link: productId ? productUrl(productId, variantId) : null, popover_image_src: obj.image}) %>
                        </div>
                    <% } %>
                </div>
            <% } else { %>
                <div class="grid-line-items__row-item height-as-image-tablet">
                    <% if (name && name.length <= clipLength) { %>
                        <%= oroshoppinglist.renderProductItemName({...obj, link: productId ? productUrl(productId, variantId) : null, popover_image_src: obj.image}) %>
                    <% } else { %>
                        <div class="grid-line-items__clip-container">
                            <%= oroshoppinglist.renderProductItemName({...obj, clip: true, link: productId ? productUrl(productId, variantId) : null, popover_image_src: obj.image}) %>
                        </div>
                    <% } %>
                </div>
            <% } %>
            <% if (obj.subTitle) { %>
                <div class="grid-line-items__sub-title mobile-row">
                    <%= obj.subTitle %>
                </div>
            <% } %>
            <% if (obj.sku || obj.inventoryStatus) { %>
            <div class="grid-line-items__row-entry show-on-tablet mobile-row">
                <% if (obj.sku) { %>
                    <span class="highlighted-in-mobile break-all"><%- sku %></span>
                <% } %>
                <% if (obj.inventoryStatus && !obj.isConfigurable) { %>
                    <%= oroshoppinglist.renderInventoryStatus({name: inventoryStatus, label: inventoryStatusLabel(inventoryStatus), isLowInventory: isLowInventory}) %>
                <% } %>
            </div>
            <% } %>
            <% if (obj.productConfiguration) { %>
                <div class="grid-line-items__configuration">
                    <% _.each(productConfiguration, function(field) { %>
                        <div class="grid-line-items__field">
                            <span class="grid-line-items__field-label show-on-tablet-small"><%- field.label %>:</span>
                            <span class="grid-line-items__field-val"><%- field.value %></span>
                        </div>
                    <% }) %>
                </div>
            <% } %>
            <% if (obj.notes) { %>
                <%= oroshoppinglist.renderNotes({notes: notes}) %>
            <% } %>
        <% } %>
    </div>
</div>

<% if (obj.filteredOutData) { %>
    <%= oroshoppinglist.renderMoreVariantsButton(filteredOutData) %>
<% } %>
