<% if (!obj._isKitItemLineItem) { %>
    <% if (typeof subtotal !== 'undefined' && subtotal !== null) { %>
        <% if (typeof discount !== 'undefined' && discount !== null) { %>
        <div class="mobile-row label-on-mobile-start" data-name="price-value" data-label="<%- _.__('oro.frontend.shoppinglist.initial_subtotal.label') %>:"><s><%- initialSubtotal %></s></div>
        <div class="mobile-row label-on-mobile-start" data-name="price-value" data-label="<%- _.__('oro.frontend.shoppinglist.discount.label') %>:">-<%- discount %></div>
        <% } %>
<div class="mobile-row label-on-mobile-start" data-name="price-value" data-label="<%- _metadata.label %>:"><span class="bold"><%- subtotal %></span></div>
    <% } else { %>
    <div class="mobile-row"
         data-name="price-not-found"
        <% if (obj._blankContent) { %>
             data-blank-content="<%- _blankContent %>"
        <% } %>
        ><span class="label-on-mobile-start" data-label="<%- _metadata.label %>:"></span>
    </div>
    <% } %>
<% } %>
