// @theme: blank

$cms-page-h1-font-size: 1.38rem !default;
$cms-page-h1-line-height: normal !default;
$cms-page-h1-offset: 3rem 0 1rem !default;

$cms-page-h2-font-size: 1.25rem !default;
$cms-page-h2-line-height: normal !default;
$cms-page-h2-offset: 3rem 0 1rem !default;

$cms-page-h3-font-size: 1rem !default;
$cms-page-h3-line-height: normal !default;
$cms-page-h3-offset: 3rem 0 1rem !default;

$cms-page-paragraph-offset: 1rem 0 !default;

$cms-page-blockquote-offset: 1rem 0 1rem 30px !default;
$cms-page-blockquote-font-size: $base-font-size !default;
$cms-page-blockquote-font-style: italic !default;

$cms-page-list-offset: 1rem 0 1rem 45px !default;
$cms-page-list-inner-offset: 0 !default;

$cms-page-img-max-width: 100% !default;

$cms-page-figure-offset: 5px auto 1rem !default;
$cms-page-figcaption-font-size: 0.81rem !default;
$cms-page-figcaption-text-align: center !default;
$cms-page-figcaption-offset: 10px 0 0 !default;
$cms-page-figcaption-offset-left: 20px !default;
$cms-page-figcaption-offset-right: 20px !default;
