/* @theme: admin.oro; */

.picture-type-settings {
    --table-tbody-tr-border-color: #{$primary-700};

    padding: 20px;

    .media-container {
        display: flex;
    }

    .breakpoint-selector {
        margin-right: 8px;
    }

    thead {
        th {
            vertical-align: baseline;
        }

        .btn-link {
            color: inherit;
            font-size: $font-size-base - 2px;
        }
    }

    .user-value-control {
        width: 100%;

        input {
            width: 100%;
            min-width: 400px;
        }
    }

    .dropdown-menu {
        .dropdown-item {
            cursor: pointer;
        }
    }

    .preview {
        width: 50px;
        height: 50px;
        cursor: pointer;
        position: relative;
        display: flex;

        .fa-edit {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            color: $primary-inverse;
            background: rgba($primary-inverse, .3);
            display: flex;
            font-size: 24px;
            justify-content: center;
            align-items: center;
            opacity: 0;
            visibility: hidden;
            transition: opacity 250ms;
            pointer-events: none;
        }

        &:hover,
        &:focus {
            .fa-edit {
                opacity: 1;
                visibility: visible;
            }
        }

        &:not(:has(.thumbnail)) {
            background-color: $primary-830;

            .fa-edit {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    .preview-container {
        display: flex;
        align-items: center;
        gap: $content-padding-medium;
    }

    .thumbnail {
        width: 100%;
        height: auto;
    }

    .grid {
        margin-bottom: 16px;
    }

    .wide {
        width: 100%;
    }

    .additional-srcset-collection {
        position: relative;

        --table-tbody-tr-border-color: #{$primary-860};

        > td {
            padding: 0;
            border-top: none;
            border-color: $primary-700;
        }

        .srcset-controls {
            text-align: center;
            border: none;

            background: transparent;

            transition: opacity 230ms ease-in-out, visibility 230ms ease-in-out;
        }

        .density-selector {
            min-width: 55px;

            &--input-group {
                display: flex;
                align-items: center;
                gap: 4px;

                font-weight: font-weight('bold');
            }

            .input--density {
                width: 50px;
            }
        }

        .empty-cell {
            min-width: 50px;
            border: none;
        }
    }

    .sortable-wrapper {
        tr > td {
            background: $primary-inverse;
        }
    }

    .picture-source-item:has(+ .additional-srcset-collection) {
        > td {
            border: none;
        }
    }

    .additional-srcset-collection:has([data-role='list']:empty) > td {
        padding: 0;
        height: auto;
        border: none;
    }

    .additional-srcset-collection-list {
        margin-top: 2px;

        &:has(tbody:empty) thead {
            display: none;
        }
    }

    .actions-group {
        justify-content: end;
        width: 100%;
    }
}
