//@theme: default;

.checkout-sidebar {
    margin-top: $offset-x-m;

    &--inner-invader {
        float: left;
        width: 220px;
    }
}

@include breakpoint('tablet') {
    .checkout-sidebar {
        display: none;
    }
}
