<%
function highlightWords(inputString, value) {
    if (!!inputString && _.isString(inputString)) {
        const highlightPattern = '<u class="search-autocomplete__highlight">$&</u>';
        const inputWords = _.escape(inputString).split(' ');
        const reg = new RegExp(inputWords.join('|'), 'gi');
        return _.escape(value).replace(reg, highlightPattern);
    } else {
        return _.escape(value);
    }
}
%>

<div class="search-autocomplete">
    <div class="search-autocomplete__content dropdown-menu">
        <% if (total_count > 0) { %>
            <ul class="search-autocomplete__list" id="<%- comboboxId %>" role="listbox">
                <%_.each(categories, function(category) { %>
                <li class="search-autocomplete__item" role="option">
                    <a href="<%- category.url %>" class="search-autocomplete-category" title="<%- _.__('oro.product.search.search_in_category.tooltip', { text: inputString, category: category.tree[category.tree.length - 1] }, category.count) %>">
                        <div class="search-autocomplete-category__image">
                            <span class="fa-search fa--no-offset"></span>
                        </div>
                        <div class="search-autocomplete-category__info">
                            <div class="search-autocomplete-category__head">
                                <%= inputString %>
                            </div>
                            <div class="search-autocomplete-category__body">
                                <% let lastCategory = category.tree.pop(); %>
                                <%_.each(category.tree, function(categoryLeaf) { %>
                                    <span><%= categoryLeaf %> > </span>
                                <% }) %>
                                <span class="last-category"><%= lastCategory %></span>
                            </div>
                        </div>
                    </a>
                </li>
                <% }) %>
                <%_.each(products, function(product) { %>
                <li class="search-autocomplete__item" role="option">
                    <a href="<%- product.url %>" class="search-autocomplete-product" title="<%- product.name %>">
                        <div class="search-autocomplete-product__image">
                            <picture>
                                <% if (product.imageWebp && product.imageWebp !== product.image) { %>
                                <source srcset="<%- product.imageWebp %>" type="image/webp">
                                <% } %>
                                <img src="<%- product.image %>" alt="<%- product.name %>">
                            </picture>
                        </div>
                        <div class="search-autocomplete-product__info">
                            <div class="search-autocomplete-product__head">
                                <div class="search-autocomplete-product__title"><%= highlightWords(inputString, product.name) %></div>
                                <% if (product.formatted_price) { %>
                                    <div class="search-autocomplete-product__price"><%- product.formatted_price %></div>
                                <% } %>
                            </div>
                            <div class="search-autocomplete-product__body">
                                <div class="search-autocomplete-product__sku"><%= highlightWords(inputString, product.sku) %></div>
                                <div class="search-autocomplete-product__status <%- product.inventory_status %>"><%- product.inventory_status_label %></div>
                            </div>
                        </div>
                    </a>
                </li>
                <% }) %>
                <li class="search-autocomplete__item" role="option">
                    <button class="btn btn--link btn--no-offset search-autocomplete__submit"
                            type="submit"
                    ><%- _.__('oro.product.autocomplete.popup.button.all.label', { productCount: total_count }, total_count) %> <span class="fa-angle-right" aria-hidden="true"></span>
                    </button>
                </li>
            </ul>
        <% } else { %>
            <div class="search-autocomplete__no-found"><%- _.__('oro.product.autocomplete.no_found') %></div>
        <% } %>
    </div>
</div>
