<% let oroui = _.macros('oroui') %>
<%
const highlightWords = function(inputString, value) {
    if (!!inputString && _.isString(inputString)) {
        const highlightPattern = '<u class="search-autocomplete__highlight">$&</u>',
            inputWords = _.escape(inputString.trim()).split(' '),
            reg = new RegExp(inputWords.join('|'), 'gi'),
            fullText = decodeHTMLEntities(value.replace(reg, highlightPattern)),
            <!-- Split text to highlight or not highlight-->
            partsFullTextReg = /(<u[^>]*\bclass=["']search-autocomplete__highlight["'][^>]*>.*?<\/u>)/gi;

        return fullText.split(partsFullTextReg);
    } else {
        return value.split();
    }
}
%>
<%
    <!-- Align syntax, symbol and html entity to symbol (& and &amp; to &)-->
    const decodeHTMLEntities = function(text) {
        var textArea = document.createElement('textarea');
        textArea.innerHTML = text;

        return textArea.value;
    }
%>
<%
    const getValueFromTag = function(text) {
        const parser = new DOMParser(),
            element = parser.parseFromString(text, 'text/html'),
            ulElement = element.querySelector('u');

        return ulElement.textContent.trim();
    }
%>
<%
const inventoryStatusToLabelClass = function(inventoryStatus) {
    switch(inventoryStatus) {
        case 'out_of_stock': return 'status-label--destructive'; break;
        case 'in_stock': return 'status-label--success'; break;
        default: return '';
    }
}
%>

<div class="search-autocomplete" data-search-autocomplete>
    <div class="search-autocomplete__content dropdown-menu">
        <% if (total_count > 0) { %>
            <ul class="search-autocomplete__list" id="<%- comboboxId %>" role="listbox">
                <% if (typeof suggests !== 'undefined') { %>
                    <%_.each(suggests, function(suggest) { %>
                    <li class="search-autocomplete__item search-autocomplete-suggest__item" role="option">
                        <a href="<%- suggest.url %>" class="search-autocomplete-category">
                            <div class="search-autocomplete-category__image">
                                <%= oroui.renderIcon({
                                    name: 'search',
                                    extraClass: 'theme-icon--lg'
                                }) %>
                            </div>
                            <div class="search-autocomplete-product__info">
                                <div class="search-autocomplete-product__suggest">
                                    <% _.each(highlightWords(inputString, suggest.phrase), function (part) { %><% if (part.startsWith('<u class="search-autocomplete__highlight">')) { %><u class="search-autocomplete__highlight"><%- getValueFromTag(part) %></u><%} else {%><%- part %><%}%><% }); %>
                                </div>
                            </div>
                        </a>
                    </li>
                    <% }) %>
                <% } %>
                <%_.each(categories, function(category) { %>
                <li class="search-autocomplete__item" role="option">
                    <a href="<%- category.url %>" class="search-autocomplete-category" title="<%- _.__('oro.product.search.search_in_category.tooltip', { text: inputString, category: category.tree[category.tree.length - 1] }, category.count) %>">
                        <div class="search-autocomplete-category__image">
                            <%= oroui.renderIcon({
                                name: 'search',
                                extraClass: 'theme-icon--lg'
                            }) %>
                        </div>
                        <div class="search-autocomplete-category__info">
                            <div class="search-autocomplete-category__head">
                                <%= inputString %>
                            </div>
                            <div class="search-autocomplete-category__body">
                                <% let lastCategory = category.tree.pop(); %>
                                <%_.each(category.tree, function(categoryLeaf) { %>
                                    <span><%= categoryLeaf %> > </span>
                                <% }) %>
                                <span class="last-category"><%= lastCategory %></span>
                            </div>
                        </div>
                    </a>
                </li>
                <% }) %>
                <%_.each(products, function(product) { %>
                <li class="search-autocomplete__item" role="option">
                    <a href="<%- product.url %>" class="search-autocomplete-product" title="<%- product.name %>">
                        <div class="search-autocomplete-product__image">
                            <picture class="search-autocomplete-product__picture">
                                <% if (product.imageWebp && product.imageWebp !== product.image) { %>
                                <source srcset="<%- product.imageWebp %>" type="image/webp">
                                <% } %>
                                <img src="<%- product.image %>" class="search-autocomplete-product__img" alt="<%- product.name %>">
                            </picture>
                        </div>
                        <div class="search-autocomplete-product__info">
                            <div class="search-autocomplete-product__head">
                                <p class="search-autocomplete-product__title">
                                    <!-- Use such code style cause in other way it's create a lot of white space in p tag -->
                                    <% _.each(highlightWords(inputString, product.name), function (part) { %><% if (part.startsWith('<u class="search-autocomplete__highlight">')) { %><u class="search-autocomplete__highlight"><%- getValueFromTag(part) %></u><%} else {%><%- part %><%}%><% }); %></p>
                                <% if (product.formatted_price) { %>
                                    <div class="search-autocomplete-product__price"><%- product.formatted_price %></div>
                                <% } %>
                            </div>
                            <div class="search-autocomplete-product__body">
                                <div class="search-autocomplete-product__sku">
                                    <% _.each(highlightWords(inputString, product.sku), function (part) { %><% if (part.startsWith('<u class="search-autocomplete__highlight">')) { %><u class="search-autocomplete__highlight"><%- getValueFromTag(part) %></u><%} else {%><%- part %><%}%><% }); %>
                                </div>
                                <div class="search-autocomplete-product__status status-label <%- inventoryStatusToLabelClass(product.inventory_status) %>"><%- decodeHTMLEntities(product.inventory_status_label) %></div>
                            </div>
                        </div>
                    </a>
                </li>
                <% }) %>
                <li class="search-autocomplete__item" role="option">
                    <button class="btn btn--flat search-autocomplete__submit" type="submit">
                        <%- _.__('oro.product.autocomplete.popup.button.all.label', { productCount: total_count }, total_count) %>
                        <%= oroui.renderIcon({ name: 'chevron-right', extraClass: 'theme-icon--small' }) %>
                    </button>
                </li>
            </ul>
        <% } else { %>
            <div class="search-autocomplete__no-found"><%- _.__('oro.product.autocomplete.no_found') %></div>
        <% } %>
    </div>
</div>
