<%
let oroui = _.macros('oroui');
let oroshoppinglist = _.macros('oroshoppinglist');
let oroproduct = _.macros('oroproduct');
const radioGroupName = obj.radioGroupName ?? _.uniqueId('name-');
const prepareAttrs = (attrsList) => {
    let attrs = '';
    for (const [key, value] of Object.entries(attrsList)) {
        attrs += ` data-${key}=${value}`;
    }
    return attrs;
};
const radioAttrs = prepareAttrs(obj.radioAttrs || {});
const labelAttrs = prepareAttrs(obj.labelAttrs || {});
const markSelectedLabel = obj.markSelectedLabel ?? false;
const markStart = '<span aria-hidden="true" data-mark>(</span>';
const markEnd = '<span aria-hidden="true" data-mark>)</span>';
%>

<div class="toggle-container-wrapper">
    <% if (obj.title) { %>
    <p class="toggle-container-title">
        <% if (obj.icon) { %><%= oroui.renderIcon({name: icon}) %><% } %>
        <%- _.__(title) %>
    </p>
    <% } %>
    <div class="toggle-container"<% if(markSelectedLabel) {%> data-dynamic-mark="<%-JSON.stringify({start: markStart, end: markEnd}) %>"<% } %>>
        <% _.each(units, (unitLabel, unitValue) => { %>
        <%  const id = _.uniqueId('id-');
            const isChecked = obj.selectedValue === unitValue;
            if (_.isObject(unitLabel)) {
                unitLabel = oroshoppinglist.renderUnit({unit: unitValue, quantity: 1});
            }
            unitLabel = _.escape(_.__(unitLabel).trim());
            if (isChecked && markSelectedLabel) {
                unitLabel = `${markStart}${unitLabel}${markEnd}`;
            }
        %>
        <input id="<%- id %>"
               name="<%- radioGroupName %>"
               type="radio"
               value="<%- unitValue %>"
               class="toggle-input"
           <% if (isChecked) {%> checked<% } %>
           <%- oroproduct.UNIT_SELECT_NAME %>="<%- oroproduct.UNIT_SELECT_TYPE.TOGGLE %>"
           <%- radioAttrs %>
        >
        <label for="<%- id %>" <%- labelAttrs %>><%= unitLabel %></label>
        <% }); %>
    </div>
</div>

