.add-product-widget fieldset .hidden {
    display: none;
}
.shopping-list-dialog > .ui-dialog-content {
    padding: 10px 10px 10px;
}

.form-inline .controls {
    margin-left: 50px;
}

.form-horizontal .control-group label.control-label {
    float: left;
    width: 45px;
    padding-top: 7px;
    color: #777;
    font-weight: normal;
    font-size: 13px;
    text-align: right;
}

.form-horizontal .control-group .controls {
    margin-left: 60px;
}
.add-products-btn-holder {
    margin-left: 20px;
}