{% block _product_widget %}
    <!-- START Product -->
    {% set attr = attr|merge({
    class: attr.class|default('') ~ " product clearfix not-implemented"
    }) %}
    <h1 class="product-title product-title_mobile">Medical Scrubs</h1>
    <div {{ block('block_attributes') }}>
        <!-- START Product Gallery -->
        <div class="product-gallery-widget product-gallery-widget_vertical product-gallery-widget_l_floated">
            <div class="product-gallery product-gallery_vertical">
                <div class="product-gallery__image-holder">
                    <div class="product-gallery__image-holder__carousel" data-product-gallery>
                        <a href="#"><img src="http://placehold.it/378x378" alt="Product image 1-1"/></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Product Gallery -->

        <!-- START Product Description -->
        <div class="product__description-container product__description-container_md product__description-container_l_floated">
            <div class="product__title-container">
                <h1 class="product-title">Medical Scrubs</h1>
                <div class="product-review-widget product-review-widget__bmargin">
                    <span class="product-review__rating" data-rating></span>
                    <span class="product-review__count">(2)</span>
                    <a href="#" class="product-review__add-link">Add Your Review</a>
                </div>
            </div>
            <div class="product__specification-container product__specification-container_l_floated">
                <div class="product__specification">
                    <table class="table borderless paddingless">
                        <tr>
                            <td>Item #:</td>
                            <td><span class="red">13656</span></td>
                        </tr>
                        <tr>
                            <td>MFG Model #:</td>
                            <td><span class="red">1ABC13656</span></td>
                        </tr>
                    </table>
                </div>
                <div class="product__qnty">
                    <table class="table">
                        <thead>
                        <tr>
                            <th style="width: 40%" class="text-center text-uppercase">qty</th>
                            <th style="width: 60%" class="text-center">Unit Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="text-center">1</td>
                            <td class="text-center">$15.98</td>
                        </tr>
                        <tr>
                            <td class="text-center">5</td>
                            <td class="text-center">$15.49</td>
                        </tr>
                        <tr>
                            <td class="text-center">10</td>
                            <td class="text-center">$14.38</td>
                        </tr>
                        <tr>
                            <td class="text-center">20</td>
                            <td class="text-center">$13.58</td>
                        </tr>
                        <tr>
                            <td class="text-center">50</td>
                            <td class="text-center">$12.78</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="product__matrix">
                    <a href="#" class="product__matrix__link">
                        <i class="icon-list"></i>
                        <span>Order With Matrix Grid</span>
                        <i class="icon-right-open-mini"></i>
                    </a>
                </div>
                <div class="product__colors">
                    <label>Select Colors</label>
                      <span class="badge badge_sm product__colors__item color-item_red">
                        <input type="checkbox" name="product_red"/>
                      </span>
                      <span class="badge badge_sm product__colors__item color-item_blue">
                        <input type="checkbox" name="product_blue"/>
                      </span>
                      <span class="badge badge_sm product__colors__item color-item_purple">
                        <input type="checkbox" name="product_purple"/>
                      </span>
                      <span class="badge badge_sm product__colors__item color-item_green">
                        <input type="checkbox" name="product_green"/>
                      </span>
                      <span class="badge badge_sm product__colors__item color-item_light-green">
                        <input type="checkbox" name="product_green"/>
                      </span>
                      <span class="badge badge_sm product__colors__item color-item_gray">
                        <input type="checkbox" name="product_gray"/>
                      </span>
                </div>
                <div class="product__qty-input">
                    <label for="product_qty" class="wsnr">Enter a QTY</label>
                    <input type="text" value="" name="product_qty" id="product_qty" placeholder="QTY #"
                           class="input input_inline"/>
                </div>

                <div class="btn btn-block btn_orange btn_has-dropdown btn_has-dropdown_lg">
                    <a href="#" class="direct-link">Add To List</a>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="true"><i class="material-icons">arrow_drop_down</i></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Option 1</a></li>
                        <li><a href="#">Option 2</a></li>
                        <li><a href="#">Option 3</a></li>
                    </ul>
                </div>

            </div>
            <div class="product__description-content product__description-content_l_floated">
                <div class="product__description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus in tristique neque.
                        Suspendisse tortor dui, commodo vel nunc sed, viverra posuere erat. Vivamus rutrum non dolor sit
                        amet mattis. Proin malesuada pellentesque metus ac volutpat. Etiam sit amet leo id tortor
                        porttitor tempor. Aliquam hendrerit consectetur nisl quis porta. </p>
                    <p>Vivamus elit risus, auctor ut mauris vitae, commodo imperdiet est. Sed euismod magna id lectus
                        sollicitudin semper.</p>

                    <ul class="product__features-list">
                        <li>Nam in imperdiet est, ac iaculis turpis.</li>
                    </ul>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">Phasellus in tristique
                            neque. Suspendisse tortor dui, commodo vel nunc sed, viverra posuere erat.</a> Vivamus
                        rutrum non dolor sit amet mattis.</p>

                    <ul class="product__docs">
                        <li>
                            <a href="#">
                                <i class="material-icons">description</i>
                                Item Manual
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="material-icons">description</i>
                                Item Warranty Information
                            </a>
                        </li>
                    </ul>
                    <p>
                        <a href="#">
                            <i class="icon-share"></i>
                            Share This product
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <!-- END Product Description -->
    </div>
    <!-- END Product -->
{% endblock %}

{% block _product_tabs_widget %}
    {% set attr = attr|merge({
    class: attr.class|default('') ~ " product__tabs-container not-implemented"
    }) %}
    <div {{ block('block_attributes') }}>
        <!-- START Product Tabs -->
        <div class="product__tabs">
            <div class="product__tab active" data-tab>
                <div class="product__tab__header text-uppercase" data-tab-trigger><i
                            class="icon-play hidden-lg hidden-md"></i>Specifications
                </div>
                <div class="product__tab__content">
                    <p>Your best scrub value: essential, traditional pieces made of a high-quality 65% polyester/35%
                        cotton blend and double-stitch construction to last wear after wear. This premium scrub set
                        features a V-neck scrub top with one roomy patch pocket at the chest and drawstring scrub pants
                        with a roomy back pocket.</p>

                    <ul class="product__features-list">
                        <li>Unisex scrub set</li>
                        <li>65% polyester / 35% cotton poplin</li>
                        <li>V-neck scrub top</li>
                        <li>Patch pocket at left chest</li>
                        <li>Scrub top 28" long</li>
                        <li>Drawstring scrub pant</li>
                        <li>Back pants pocket</li>
                        <li>Pants inseam: 30"</li>
                    </ul>
                </div>
            </div>
            <div class="product__tab" data-tab>
                <div class="product__tab__header text-uppercase" data-tab-trigger><i
                            class="icon-play hidden-lg hidden-md"></i>Size Chart
                </div>
                <div class="product__tab__content">
                    <p>Your best scrub value: essential, traditional pieces made of a high-quality 65% polyester/35%
                        cotton blend and double-stitch construction to last wear after wear. This premium scrub set
                        features a V-neck scrub top with one roomy patch pocket at the chest and drawstring scrub pants
                        with a roomy back pocket.</p>
                </div>
            </div>
            <div class="product__tab" data-tab>
                <div class="product__tab__header text-uppercase" data-tab-trigger><i
                            class="icon-play hidden-lg hidden-md"></i>Reviews (2)
                </div>
                <div class="product__tab__content">
                    <div class="product__review">
                        <h2 class="product__tab__content__title">Reviews <span>(2)</span></h2>
                        <ul class="reviews-list">
                            <li class="reviews-list__item">
                                <h3 class="reviews-list__item__title">Lorem ipsum dolor sit amet</h3>
                                <p>Consectetur adipiscing elit. Suspendisse ultricies vel ligula sit amet malesuada.
                                    Aliquam vitae leo enim. In id tortor hendrerit, cursus augue sed, malesuada quam.
                                    Curabitur ac sodales dui. Cum sociis natoque penatibus et magnis dis parturient
                                    montes, nascetur ridiculus mus.</p>
                                <div class="reviews-list__item__rating">
                              <span class="review-rating__item">
                                <span class="review-rating__item__text">Price</span>
                                <span data-rated></span>
                              </span>
                              <span class="review-rating__item">
                                <span class="review-rating__item__text">Value</span>
                                <span data-rated></span>
                              </span>
                              <span class="review-rating__item">
                                <span class="review-rating__item__text">Quality</span>
                                <span data-rated></span>
                              </span>
                                </div>
                                <div class="reviews-list__item__date blue">Review by Adam Johnson 7/28/2015</div>
                            </li>
                            <li class="reviews-list__item">
                                <h3 class="reviews-list__item__title">Lorem ipsum dolor sit amet</h3>
                                <p>Consectetur adipiscing elit. Suspendisse ultricies vel ligula sit amet malesuada.
                                    Aliquam vitae leo enim. In id tortor hendrerit, cursus augue sed, malesuada quam.
                                    Curabitur ac sodales dui. Cum sociis natoque penatibus et magnis dis parturient
                                    montes, nascetur ridiculus mus.</p>
                                <div class="reviews-list__item__rating">
                              <span class="review-rating__item">
                                <span class="review-rating__item__text">Price</span>
                                <span data-rated></span>
                              </span>
                              <span class="review-rating__item">
                                <span class="review-rating__item__text">Value</span>
                                <span data-rated></span>
                              </span>
                              <span class="review-rating__item">
                                <span class="review-rating__item__text">Quality</span>
                                <span data-rated></span>
                              </span>
                                </div>
                                <div class="reviews-list__item__date blue">Review by Adam Johnson 7/28/2015</div>
                            </li>
                        </ul>
                        <a href="#" class="btn btn-default theme-btn btn-dark"> Write a Review</a>
                    </div>
                </div>
            </div>
            <div class="product__tab" data-tab>
                <div class="product__tab__header text-uppercase" data-tab-trigger><i
                            class="icon-play hidden-lg hidden-md"></i>Notes (2)
                </div>
                <div class="product__tab__content">
                    <div class="product__review">
                        <h2 class="product__tab__content__title">Notes <span>(2)</span></h2>
                        <ul class="reviews-list">
                            <li class="reviews-list__item">
                                <h3 class="reviews-list__item__title">
                                    John Smith <span class="blue">7/29/2105</span>
                                    <button class="delete-note-btn delete-note-btn_abs"><i class="icon-trash"></i>
                                    </button>
                                </h3>
                                <p>Consectetur adipiscing elit. Suspendisse ultricies vel ligula sit amet malesuada.
                                    Aliquam vitae leo enim. In id tortor hendrerit, cursus augue sed, malesuada quam.
                                    Curabitur ac sodales dui. Cum sociis natoque penatibus et magnis dis parturient
                                    montes, nascetur ridiculus mus.</p>
                            </li>
                            <li class="reviews-list__item">
                                <h3 class="reviews-list__item__title">
                                    John Smith <span class="blue">7/29/2105</span>
                                    <button class="delete-note-btn delete-note-btn_abs"><i class="icon-trash"></i>
                                    </button>
                                </h3>
                                <p>Consectetur adipiscing elit. Suspendisse ultricies vel ligula sit amet malesuada.
                                    Aliquam vitae leo enim. In id tortor hendrerit, cursus augue sed, malesuada quam.
                                    Curabitur ac sodales dui. Cum sociis natoque penatibus et magnis dis parturient
                                    montes, nascetur ridiculus mus.</p>
                            </li>
                        </ul>
                        <a href="#" class="btn btn-default theme-btn btn-dark">Add a Note</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Product Tabs -->
    </div>
{% endblock %}