{% block _category_sidebar_widget %}
    <div class="categories-widget">
        <div class="container-fluid">
            <ul class="navigation-widget__list">
                <li>
                    <a href="#" class="text-uppercase nested-list__trigger nested-list__trigger--expanded">
                  <span class="badge badge_sm badge_circled-corners badge_orange categories-widget__badge">
                    <i class="cf-local_mall"></i>
                  </span>
                        <i class="cf-arrow_drop_down cf--grey messages-widget__arrow hidden-when-collapsed"></i>
                        <span class="hidden-when-collapsed">{{ 'orob2b.catalog.frontend.category.master_category.label'|trans }}</span>
                    </a>
                    <ul class="navigation-widget__list_nested nested-list_expanded hidden-when-collapsed">
                        {% for category in categories %}
                            <li>
                                <a href="{{ path('orob2b_product_frontend_product_index', {'categoryId': category.id, 'includeSubcategories': true}) }}">{{ category.defaultTitle }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="hidden-when-collapsed not-implemented">
                    <a href="#" class="text-uppercase">
                  <span class="badge badge_sm badge_circled-corners badge_orange badge-hidden">
                    <i>&nbsp;</i>
                  </span>
                        <i class="cf-arrow_drop_down cf--grey cf--hidden messages-widget__arrow "></i>
                        <span>Filter Products</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
