{% block __customer_user_shopping_list_rename_form__rename_form_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' shopping-list-rename-form form-row'
    }) %}

    <div{{ block('block_attributes') }}>
        <input type="text" name="label" value="{{ shoppingList.label }}" class="input input--full"/>
    </div>
{% endblock %}
