@mixin header-row-dropdown {
    position: absolute;
    top: 100%;
    z-index: z('dropdown');

    min-width: 260px;
    padding: 0;

    text-align: left;

    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3);
    border: 1px solid $base-border-color;
    border-radius: 2px;
    background: #fff;
}

.header-row {
    position: relative;

    display: flex;
    justify-content: space-between;

    border: 1px solid $theme-lighter-gray-color;
    border-width: 1px 0;

    &__container {
        flex-basis: 210px;

        position: relative;

        &--unstack {
            flex-grow: 4;
        }
    }

    &__trigger {
        background-color: $theme-lightest-gray-color;
        border-right: 1px solid $base-white-color;

        padding: 7px 20px;

        &.active,
        &:hover {
            & + .header-row__toggle,
            .header-row__toggle {
                display: block;
            }
        }
    }

    &__dropdown {
        right: 0;

        @include header-row-dropdown;
    }
}

@include breakpoint('desktop') {
    %hidden-on-desktop {
        &.hidden-on-desktop {
            display: none;
        }
    }

    .header-row {
        &__container {
            @extend %hidden-on-desktop;
        }

        &__trigger {
            @extend %hidden-on-desktop;
        }

        &__toggle {
            @extend %hidden-on-desktop;
        }
    }
}

@include breakpoint('tablet') {
    .header-row {
        &__container {
            position: static;

            flex-grow: 1;
            flex-basis: auto;

            &--unstack {
                flex-grow: 1;
            }
        }

        &__trigger {
            text-align: center;

            &.active,
            &:hover {
                background-color: $base-white-color;
                box-shadow: inset 0 0.2rem 0.3rem rgba(0, 0, 0, 0.2);
            }
        }

        &__toggle {
            display: none;
        }

        &__dropdown  {
            left: 2px;
            right: 2px;
        }

        &__dropdown-mobile {
            left: 2px;
            right: 2px;

            @include header-row-dropdown;
        }
    }
}
