.navigation-widget {
  margin: .3rem 0 0;
  background: $theme-slight-lightest-gray-color;

  &__list {
    @include list-normalize();

    padding: 28px 0 11px 14px;

    > li {
      position: relative;

      margin: 0 0 17px;

      font-size: 13px;

      > a {
        display: inline-block;
        overflow: hidden;
        vertical-align: middle;

        color: $base-font-color-light;
        font-weight: 700;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:hover {
          text-decoration: none;

          > span {
            &:last-child {
              text-decoration: underline;
            }
          }
        }

        &:visited, &:focus {
          text-decoration: none;
        }

        > span {
          vertical-align: middle;
        }
      }
    }
  }

  &--right {
    text-align: right;
  }

  &--inline {
    padding: 18px 0 0;

    @include clearfix();

    > li {
      display: inline-block;
      margin: 0 0 0 10px;

      @media (max-width: $screen-md) {
        margin: 0 0 0 5px;
      }

      > a {
        font-weight: 400;
      }
    }

    .navigation-widget__badge {
      margin: 0 5px 0 0;

      i {
        font-size: 11px;
      }
    }
  }

  &__badge {
    margin: 0 15px 0 0;

    i {
      font-size: 16px;
    }
  }
}



// *** Sticked navigation has not implemented yet!!!
.navigation-widget__list_sticked {
  padding: 13px 5px 0 0;

  font-size: 0;

  @include clearfix();

  > li {
    display: inline-block;

    .navigation-widget__badge {
      margin-right: 20px;
    }
  }
}

// *** Static links list has not implemented yet!!!
.static-links__list {
  > li {
    &:not(.hidden-when-collapsed) {
      display: none;
    }
  }
}

// *** Dropdown has not implemented yet!!!
.navigation-widget__list__dropdown {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;

  display: block;
  min-width: 345px;
  border: 1px solid $base-border-color;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);

  background: $base-footer-background-color;

  &__title {
    padding: 20px 0;

    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }

  &__controls {
    margin: 10px 0 5px;

    &.tb-gap {
      margin: 20px 0 5px;
    }

    &.flex-container {
      display: flex;

      .btn {
        width: 50%;

        &:first-child {
          margin-right: 10px;
        }
      }
    }
  }

  .btn_close {
    color: $base-link-color;

    opacity: 1;
  }
}

// *** Nested list has not implemented yet!!!
.navigation-widget__list_nested {
  @include list-normalize();

  padding: 20px 0 0 35px;

  > li {
    margin: 0 0 20px;

    > a {
      color: $base-font-color-light;
      font-weight: 400;
      text-transform: uppercase;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
