{# main menu: items #}
{% block _main_menu_container_new_widget %}
    {% set attr = layout_attr_merge(attr, {'~class': " account-sidebar"}) %}
    <div {{ block('block_attributes') }}>
        <ul class="top-nav__list">
            {{ block_widget(block, {attr: attr}) }}
        </ul>
    </div>
{% endblock %}

{# main menu: product categories #}
{% block _main_menu_container_categories_widget %}
    {% set attr = layout_attr_merge(attr, {'~class': " account-sidebar"}) %}
    <div {{ block('block_attributes') }}>
        <ul class="top-nav__list">
            {{ block_widget(block, {attr: attr}) }}
        </ul>
    </div>
{% endblock %}

