/* @theme: default; */

$inventory-in-stock-color: get-var-color('success', 'dark') !default;
$inventory-out-of-stock-color: get-var-color('warning', 'dark') !default;
$inventory-discontinued-color: get-var-color('destructive', 'dark') !default;
