.tax-address-row .option .input-widget-select {
    margin: 0 !important;
    width: 294px !important;
}

.tax-address-row .region input {
    width: 280px !important;
    margin-bottom: 2px !important;
}

.tax-address-row {
    padding: 3px !important;
    width: 300px;
    margin-bottom: 3px !important;
}

.tax-address-row .removeRow {
    float: right !important;
    margin: 0 !important;
}

.tax-address {
    margin: 0 !important;
}

.tax-address-row .tax-address {
    margin: 2px 0 !important;
}

.tax-address-row .row-oro {
    margin: 0 !important;
}
