.tax-base-exclusion {
    margin: 2px 0;
}

.tax-base-exclusion-option select {
    margin: 0 !important;
}

.tax-base-exclusion-option .selector {
    margin: 0 !important;
    width: 294px !important;
}

.tax-base-exclusion-row {
    padding: 3px !important;
    width: 300px;
}

.tax-base-exclusion-remove-row {
    float: right !important;
    margin: 0 !important;
}

.controls.tax-address {
    margin-left: 0 !important;
}
