// Base styles
$main-menu-link-inner-offset: 14px 0;
$main-menu-link-line-height: 1.5;
$main-menu-link-color: get-color('ui', 'normal');
$main-menu-link-color-hover: get-color('ui', 'focus');
$main-menu-sublist-title-offset: $offset-x-s;
$main-menu-sublist-item-inner-offset: $offset-x;
$main-menu-subcategory-item-inner-offset: $offset-y-s $offset-x-s;

// Descktop styles
$main-menu-sublist-d-border: 1px solid get-color('additional', 'light');
$main-menu-sublist-d-inneroffset: 20px 25px;
$main-menu-sublist-container-d-z-index: z('base') + 10;
$main-menu-sublist-container-d-bg-color:  get-color('additional', 'ultra');

// Tablet styles
$main-menu-t-inner-offset: 10px 15px;
$main-menu-link-t-inner-offset: 5px 0;
