{% import 'OroUIBundle::macros.html.twig' as UI %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ UI.renderProperty('orob2b.rfp.admin.requeststatus.label.label'|trans, entity.label) }}
            {{ UI.renderProperty('orob2b.rfp.admin.requeststatus.name.label'|trans, entity.name) }}
            {{ UI.renderProperty('orob2b.rfp.admin.requeststatus.sort_order.label'|trans, entity.sortOrder ? entity.sortOrder : 'N/A') }}
            {{ UI.renderProperty('orob2b.rfp.admin.requeststatus.deleted.label'|trans, entity.deleted ? 'Yes' : 'No') }}
        </div>
    </div>
</div>
