.check-email {
  &__title {
    margin: 0 0 15px;
    padding: 0 10px;

    font-size: 22px;
    line-height: 1.2;
    font-weight: 400;
  }

  &__block {
    padding: 40px 15%;
    border-radius: 3px;

    background: get-color('additional', 'base');

    @media (max-width: $screen-md) {
      padding: 10px;
    }
  }

  &--full {
    width: 430px;
    margin: 0 auto;

    @media (max-width: $screen-md) {
      width: 100%;
      margin-bottom: 80px;
    }
  }

  &--pos-absolute-vert-centered {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    @media (max-width: $screen-md) {
      left: 0;

      padding: 0 15px;

      transform: translate(0, -50%);
    }
  }
}
