.account-menu {
    width: 225px;
    margin: 35px 0 0 15px;
    padding: 25px 30px;

    border-radius: 3px;
    background: $theme-lightest-gray-color;

    &__section {
        margin-top: 18px;
    }

    &__section:first-child {
        margin-top: 0;
    }

    &__title {
        margin-bottom: 9px;

        font-size: 15px;
        font-weight: 400;

        text-transform: uppercase;
    }

    &__list {
        @include list-normalize();
    }

    &__item {
        position: relative;

        margin: 5px 0 0;
        padding: 0 0 0 18px;

        &--current {
            &:before {
                top: 5px;
                left: 0;

                width: 7px;
                height: 7px;

                border-radius: 50%;
                background: $theme-orange-color;

                @include after();
            }

            .account-menu__link {
                font-weight: 700;
            }
        }
    }

    &__link {
        display: block;

        color: $base-font-color;
    }

    &__badge {
        i {
            vertical-align: middle;
        }
    }
}
