{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ UI.renderProperty('orob2b.frontend.order.id.label'|trans, entity.id) }}
            {{ UI.renderProperty('orob2b.frontend.order.identifier.label'|trans, entity.identifier) }}
            {% if account_granted_view_account_user(entity) %}
                {{ UI.renderHtmlProperty('orob2b.frontend.order.account_user.label'|trans, entity.accountUser) }}
            {% endif %}
        </div>
        <div class="responsive-block">
            {{ entityConfig.renderDynamicFields(entity) }}
        </div>
    </div>
</div>
