{% block _oro_rfp_request_form_title_widget %}
	{% set attr = layout_attr_defaults(attr, {
		'~class': " title title--uppercase"
	}) %}

	<h1{{ block('block_attributes') }}>
		{{ block_widget(block) }}
	</h1>
{% endblock %}

{% block _rfp_form_lineitems_container_widget %}

	<div data-page-component-module="oroui/js/app/components/view-component"
		 data-page-component-options="{{ {
			 view: 'ororfp/js/app/views/line-items-view',
			 tierPrices: tierPrices|default({}),
			 tierPricesRoute: 'oro_pricing_price_by_account',
			 currency: "USD"
		 }|json_encode }}"
		 data-layout="separate"
	>
		{{ block_widget(block) }}
	</div>
{% endblock %}
