.request-form {
    padding: 28px 24px;
    
    background: get-color('additional', 'base');

    &:not(:last-child) {
        margin-bottom: 60px;
    }
}

.request-form {
    &__title {
        margin: 0 0 20px;
        padding-bottom: 14px;

        font-size: 20px;

        text-transform: uppercase;

        border-bottom: 1px solid get-color('additional', 'light');
    }

    &__row {
        @extend %grid__row;

        margin: 14px 0 20px 0;
        padding-bottom: 20px;

        border-bottom: 1px solid get-color('additional', 'light');
    }
}
