// @theme: blank

.info-list {
  padding-top: 12px;
  margin: 0 0 50px 17px;

  border-top: 1px solid get-color('additional', 'light');

    &__item {
        display: flex;

        padding: 5px 0 6px 0;
    }

  .control-label {
    min-width: 115px;
    margin-right: 30px;
  }
}

@include breakpoint('mobile') {
    .info-list {
        &__name {
            min-width: 0;
        }
    }
}
