// @theme: blank

.info-list {
    margin: 0 0 30px 17px;
    padding-top: 10px;

    border-top: 1px solid get-color('additional', 'light');

    &__item {
        display: flex;

        padding: 5px 0;
    }

    &__name {
        min-width: 140px;
        margin-right: 10px;
    }
}

@include breakpoint('mobile') {
    .info-list {
        &__name {
            min-width: 0;
        }
    }
}
