/* @theme: default; */

.checkout__container--single-page {
    .order-checkout-widget__container {
        padding: 0;
    }

    .checkout {
        &__sidebar {
            display: grid;
            grid-template-rows: minmax(0, 1fr) auto;

            > :empty {
                display: none;
            }
        }

        &__content-main {
            gap: spacing('base');
        }

        &__footer {
            position: relative;
            border-top: $checkout-view-column-border;
            border-left: $checkout-view-column-border;
            background-color: $checkout-view-column-background-color;
            padding: spacing('lg');
        }

        &__footer-col {
            display: grid;
            gap: spacing('base');
        }

        .order-checkout-widget {
            &__container {
                padding: 0;
            }
        }

        &__footer-collapse {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: spacing('base') spacing('huge');
            align-items: start;

            .summary-widget__inner {
                margin-left: initial;
            }

            .summary-widget__summary {
                padding-inline-end: initial;
                padding-inline-start: spacing('xs');
                padding-bottom: initial;
            }

            .coupon-trigger {
                padding-inline-start: spacing('xs');
                padding-inline-end: initial;
            }

            &:not(.show) {
                display: grid;
                align-items: center;

                .summary-widget__summary {
                    padding: 0;
                }

                .coupon-container,
                .checkout__footer-col {
                    display: none;
                }

                .order-checkout-widget__total-row {
                    height: 44px;
                    display: inline-flex;
                    gap: spacing('sm');
                    align-items: center;
                }

                .order-checkout-widget__table {
                    tr:not(.order-checkout-widget__total-row) {
                        display: none;
                    }
                }
            }

            &.show {
                .order-checkout-widget {
                    &__wrapper {
                        grid-column-start: 2;
                    }
                }
            }

            &.collapsing {
                transition: none;
            }
        }

        &__footer-toggle {
            --btn-background: #{get-color('neutral', 'white-100')};
            --btn-color: #{get-color('text', 'primary')};

            position: absolute;
            top: -#{spacing('base')};
            left: spacing('base');

            box-shadow: $toggler-switcher-box-shadow;

            &:not(.collapsed) {
                transform: rotate(180deg);
            }
        }
    }

    .page-title-wrapper {
        margin: 0;
    }

    .oro-datagrid {
        margin: 0;
    }
}

.single-page-checkout-view {
    position: $checkout-view-position;
    display: $checkout-view-display;
    margin: $checkout-view-margin;
    grid-template-columns: $checkout-view-grid-template-columns;

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 44px;

        &-icon {
            transition: transform 230ms ease-in-out;
        }

        &:not(.collapsed) &-icon {
            transform: rotate(180deg);
        }
    }

    &__columns {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    &__column {
        margin: $checkout-view-column-margin;
        padding: $checkout-view-column-offset;
        min-width: $checkout-view-column-min-width;

        display: flex;
        flex-direction: column;
        gap: spacing('base');
        overflow: auto;

        &:last-of-type {
            padding-right: spacing('xs');
            margin-right: -#{spacing('xs')};
        }

        &:not(:first-of-type) {
            border-left: $checkout-view-column-border;
        }

        &-inner {
            position: relative;
            padding: $checkout-view-column-inner-offset;

            .required-label {
                margin-top: spacing('base');
            }
        }

        &--first {
            padding-left: spacing('xs');
            margin-left: -#{spacing('xs')};
        }

        &-header {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }

    &__shipping-methods,
    &__payment-methods,
    &__shipping_date {
        margin: $checkout-view-shipping-methods-margin;
    }

    &__sticky-titles {
        border-bottom: $checkout-view-sticky-titles-border-bottom;
        background: $checkout-view-sticky-titles-background;

        &-inner {
            max-width: $checkout-view-sticky-titles-inner-max-width;
            margin: $checkout-view-sticky-titles-inner-margin;
            padding: $checkout-view-sticky-titles-inner-offset;

            display: $checkout-view-sticky-titles-inner-display;

            flex-direction: $checkout-view-sticky-titles-inner-flex-direction;
            justify-content: $checkout-view-sticky-titles-inner-justify-content;
            align-items: $checkout-view-sticky-titles-inner-align-items;
        }
    }

    &__sticky-totals {
        display: $checkout-view-sticky-totals-display;
        max-width: $checkout-view-sticky-totals-max-width;
        margin: $checkout-view-sticky-totals-margin;

        justify-content: $checkout-view-sticky-totals-justify-content;

        .checkout-order-summary__totals {
            padding-top: $checkout-view-sticky-totals-summary-inner-offset-top;
            float: $checkout-view-sticky-totals-summary-float;
        }
    }

    &__address-form-grid {
        --grid-gap: #{spacing('xs')};
    }

    .checkout-form__img {
        max-width: $checkout-view-payment-methods-image-max-width;
    }

    .checkout-order-summary__edit-link {
        margin-bottom: spacing('base');
    }

    .datepicker-input {
        max-width: $checkout-view-shipping-methods-datepicker-box-max-width;
    }

    .datagrid-toolbar {
        .datagrid-toolbar__start,
        .datagrid-toolbar__end {
            flex-basis: auto;
        }
    }
}

.order-review-options__notes {
    max-height: 300px;
}

@include breakpoint('desktop-small') {
    .single-page-checkout-view {
        gap: spacing('sm') spacing('xl');
        grid-template-columns: minmax(0, 1fr) 752px;
        grid-template-rows: auto 1fr;

        &__columns {
            padding: 0 0 0 spacing('xl');

            border-left: $checkout-view-column-border;
        }
    }

    .checkout__container--single-page {
        .checkout {
            &__content-head {
                grid-row: 1 / 2;
            }

            &__content-main {
                grid-row: 2 / 3;
            }

            &__sidebar {
                grid-row: 1 / 3;
                min-height: max(570px, $checkout-view-container-single-page-sidebar-viewportfit);
                max-height: $checkout-view-container-single-page-sidebar-viewportfit;
            }

            &__footer {
                margin-inline-end: -28px;
            }
        }
    }
}

.alert.notification-flash--single-page-checkout {
    position: fixed;
    top: spacing('base');
    left: spacing('base');
    right: spacing('base');

    z-index: z('popup') + 101;

    max-width: calc(#{$page-area-container-max-width} - #{spacing('base')});

    margin: auto;
}

@include breakpoint('tablet') {
    .checkout__container--single-page {
        gap: spacing('base');

        .checkout {
            &__sidebar {
                grid-row: 2 / 3;
            }

            &__footer {
                padding: 0;
                margin-inline: -#{spacing('base')};

                position: sticky;
                bottom: 0;
                z-index: z('base') + 4;

                max-height: calc(calc(100vh - var(--sticky-page-header-element-offset-top, 0)) - #{spacing('lg')});

                overflow-y: auto;
                border-top: none;
                border-left: none;
                background-color: transparent;
            }

            &__footer-toggle {
                top: spacing('base');
                position: sticky;
            }

            &__footer-collapse {
                padding: spacing('base');
                border-top: $checkout-view-column-border;
                border-left: $checkout-view-column-border;
                background-color: $checkout-view-column-background-color;
            }
        }
    }

    .single-page-checkout-view {
        &__columns {
            margin-top: spacing('base');
            border-bottom: $checkout-view-column-border;
        }

        &__column {
            padding: $checkout-view-column-offset-tablet;
            gap: spacing('xs');

            &--first {
                padding-left: spacing('xs');
            }
        }

        &__column-inner {
            padding-bottom: spacing('base');
        }
    }
}

@include breakpoint('mobile-big') {
    .single-page-checkout-view {
        &__columns {
            margin-top: spacing('sm');
            grid-template-columns: 1fr;
            border-bottom: none;
        }

        &__column {
            padding: spacing('sm') spacing('xs');
            margin: 0 -#{spacing('xs')};
            border-bottom: $checkout-view-column-border;

            &:not(:first-of-type) {
                border-left: none;
            }
        }

        .checkout-order-summary__edit-link {
            margin-bottom: spacing('xs');
        }

        .summary-widget__summary {
            padding: 0;
        }
    }

    .checkout__container--single-page {
        .checkout {
            &__content-main {
                margin-top: spacing('sm');
            }

            &__footer {
                z-index: z('fixed') + 2;
            }

            &__footer-collapse {
                grid-template-columns: 1fr;
                gap: spacing('sm');

                &:not(.show) {
                    .order-checkout-widget__total-row {
                        display: flex;
                        justify-content: space-between;
                    }
                }

                &.show {
                    gap: spacing('base');

                    .order-checkout-widget {
                        &__wrapper {
                            grid-column-start: auto;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: $checkout-view-breakpoint-max-desktop) {
    .checkout-order-summary-totals-sticky {
        &.in-sticky {
            // stylelint-disable-next-line declaration-no-important
            left: $checkout-view-checkout-order-summary-totals-sticky-left !important;
            right: $checkout-view-checkout-order-summary-totals-sticky-right;
        }
    }
}
