/* @theme: default; */

.single-page-checkout-view {
    position: $checkout-view-position;

    display: $checkout-view-display;
    margin: $checkout-view-margin;

    flex-direction: $checkout-view-flex-direction;
    flex-wrap: $checkout-view-flex-wrap;
    justify-content: $checkout-view-justify-content;
    align-items: $checkout-view-align-items;

    &__column {
        width: $checkout-view-column-width;
        margin: $checkout-view-column-margin;
        padding: $checkout-view-column-offset;
        min-width: $checkout-view-column-min-width;

        &-inner {
            padding: $checkout-view-column-inner-offset;
        }

        &--first {
            width: $checkout-view-column-first-width;
            padding-left: 0;

            &::after {
                left: $checkout-view-column-first-width;

                content: '';
            }
        }

        &--extended {
            width: $checkout-view-column-extended-width;
            padding-right: 0;
            margin-bottom: 0;

            &::after {
                right: $checkout-view-column-extended-width;

                content: '';
            }
        }

        &::after {
            position: absolute;
            top: 0;
            bottom: 0;

            width: $checkout-view-column-pseudo-width;

            background: $checkout-view-column-pseudo-background;
        }

        &-header {
            position: relative;
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;

            &.has-offset:not(.in-sticky) {
                margin: $checkout-head-margin;
            }
        }
    }

    &__title {
        display: block;

        color: $checkout-view-title-color;

        font-size: $checkout-view-title-font-size;
        line-height: $checkout-view-title-line-height;
        font-weight: $checkout-view-title-font-weight;

        &.in-sticky {
            margin: 0;
        }
    }

    &__title-text {
        vertical-align: middle;
    }

    &__badge {
        @include badge($checkout-view-badge-size, $checkout-view-badge-font-size);

        margin: $checkout-view-badge-margin;
    }

    &__shipping-methods,
    &__payment-methods,
    &__shipping_date {
        margin: $checkout-view-shipping-methods-margin;
    }

    &__sticky-titles {
        border-bottom: $checkout-view-sticky-titles-border-bottom;
        background: $checkout-view-sticky-titles-background;

        &-inner {
            max-width: $checkout-view-sticky-titles-inner-max-width;
            margin: $checkout-view-sticky-titles-inner-margin;
            padding: $checkout-view-sticky-titles-inner-offset;

            display: $checkout-view-sticky-titles-inner-display;

            flex-direction: $checkout-view-sticky-titles-inner-flex-direction;
            justify-content: $checkout-view-sticky-titles-inner-justify-content;
            align-items: $checkout-view-sticky-titles-inner-align-items;
        }
    }

    &__sticky-totals {
        display: $checkout-view-sticky-totals-display;
        max-width: $checkout-view-sticky-totals-max-width;
        margin: $checkout-view-sticky-totals-margin;

        justify-content: $checkout-view-sticky-totals-justify-content;

        .checkout-order-summary__totals {
            padding-top: $checkout-view-sticky-totals-summary-inner-offset-top;
            float: $checkout-view-sticky-totals-summary-float;
        }
    }

    &__sticky-column {
        width: $checkout-view-column-width;
        padding: $checkout-view-sticky-column-offset;

        &:empty {
            padding: 0;
        }

        &:first-child {
            width: $checkout-view-column-first-width;
            padding-left: 0;
        }

        &:last-child {
            width: $checkout-view-column-extended-width;
            padding-left: $checkout-view-column-gap;
            padding-right: 0;
        }
    }

    &__notification-container {
        &:not(:empty) {
            background: $checkout-view-notification-container-background;
        }

        .notification-flash-container {
            margin: 0 auto;
            padding: $offset-y-m;
        }
    }

    .checkout {
        padding: $checkout-padding-narrow;
    }

    .checkout-form__payment-methods {
        max-width: 300px;
        padding: 0 0 0 ($offset-x-m + 2);
        margin: 0 0 0 $offset-x;
    }

    .checkout-form__img {
        max-width: $checkout-view-payment-methods-image-max-width;
    }

    .checkout-order-summary__edit-link {
        align-self: flex-end;
    }

    .datepicker-input {
        max-width: $checkout-view-shipping-methods-datepicker-box-max-width;
    }

    .datagrid-toolbar {
        .datagrid-toolbar__start,
        .datagrid-toolbar__end {
            flex-basis: auto;
        }
    }
}

@include breakpoint('single-page-checkout-overflow') {
    .single-page-checkout-view {
        &__column {
            position: relative;
            width: $checkout-view-column-tablet-width;
            padding: 0 0 0 $checkout-view-column-gap;

            &::after {
                left: -1px;

                content: '';
            }

            &--first {
                padding: 0 $checkout-view-column-gap 0 0;

                &::after {
                    left: auto;
                    right: 0;
                }
            }

            &--extended {
                width: $checkout-view-column-extended-tablet-width;
                padding: 0;

                &::after {
                    content: none;
                }
            }
        }
    }
}

@include breakpoint('mobile-landscape') {
    .single-page-checkout-view {
        &__column {
            width: $checkout-view-column-mobile-width;
            padding: 0;

            &::after {
                content: none;
            }

            &--first {
                &::after {
                    content: none;
                }
            }
        }
    }
}

@media (max-width: $checkout-view-breakpoint-max-desktop) {
    .checkout-order-summary-totals-sticky {
        &.in-sticky {
            // stylelint-disable-next-line declaration-no-important
            left: $checkout-view-checkout-order-summary-totals-sticky-left !important;
            right: $checkout-view-checkout-order-summary-totals-sticky-right;
        }
    }
}
