/* @theme: default; */

.quick-order-import {
    grid-area: import;

    &__title {
        display: flex;
        align-items: center;
        gap: spacing('sm');
        margin: $quick-order-import-title-margin;
        font-size: $quick-order-import-title-font-size;
        line-height: $quick-order-import-title-line-height;
        font-weight: font-weight('semi-bold');
    }

    &__container {
        position: relative;
        padding: $quick-order-import-container-padding;
        text-align: center;
        border: $quick-order-import-container-border;
        border-radius: $quick-order-import-container-border-radius;
        background: $quick-order-import-container-background;
    }

    &__form {
        padding-bottom: spacing('md');
    }

    &__btn {
        width: $quick-order-import-button-width;
        max-width: 100%;
    }

    &__description {
        margin: $quick-order-import-description-margin;

        strong {
            font-weight: font-weight('semi-bold');
        }
    }

    .filename {
        display: none;
    }
}

.quick_add_import_help {
    ol {
        padding-bottom: 40px;
    }
}
