{% block _featured_products_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        'data-page-component-module': 'oroui/js/app/components/view-component',
        '~data-page-component-options': {
            view: 'orofrontend/default/js/app/views/footer-align-view',
            elements: {
                items: '.embedded-list__item',
                footer: '.product-item__qty'
            }
        },
        '~class': ' featured-products'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _featured_products_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~data-page-component-options': {
            autoplaySpeed: 5000,
        }
    }) %}

    {{ block_widget(block, {
        attr: attr
    }) }}
{% endblock %}

{% block _featured_product_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' featured-product'
    }) %}

    {{ block_widget(block, {
        attr: attr
    }) }}
{% endblock %}
