<div
    data-page-component-module="orob2bpricing/js/app/components/totals-component"
    data-page-component-options="{{ options|json_encode }}">
    <div class="totals-container"></div>

    <script type="text/html" class="totals-template">
        {% block subtotals_template %}
            <% if ('subtotals' in totals) { %>
                <% _.each(totals.subtotals, function(subtotal) { %>
                    <% if (subtotal.visible) { %>
                    <div class="control-group">
                        <label class="control-label"><%= subtotal.label %></label>
                        <div class="controls">
                            <label class="control-label"><%= subtotal.formattedAmount %></label>
                        </div>
                    </div>
                    <% } %>
                <% }); %>
            <% } %>

            <% if ('total' in totals) { %>
                <div class="control-group">
                    <label class="control-label"><%= totals.total.label %></label>
                    <div class="controls">
                        <label class="control-label"><%= totals.total.formattedAmount %></label>
                    </div>
                </div>
            <% } %>
        {% endblock %}
    </script>
</div>
