.three-columns-call-to-action {
    --grid-gap: 24px;

    .picture__wrapper {
        height: 200px;
    }

    .grid-item {
        display: flex;
        flex-direction: column;
    }

    .grid-item__text {
        flex-grow: 1;
    }

    .grid-item__bottom {
        align-self: end;
    }
}
