/* @theme: custom; */

@include breakpoint('tablet') {
    .search-widget {
        margin: $search-container-tablet-margin;
        padding: $search-container-tablet-padding;

        border-bottom: $search-container-tablet-border;

        &__submit {
            top: $search-widget-input-submit-tablet-top;
            right: $search-widget-input-submit-tablet-right;
        }
    }
}
