/* @theme: custom; */

@include breakpoint('tablet') {
    .search-widget {
        margin: 0;
        padding: $offset-y;

        border-bottom: $search-container-tablet-border;

        &__submit {
            right: $offset-x;
        }
    }
}
