// @theme: default;

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
}
