.body {
    &.loading {
        height: 100%;

        .loader-mask {
            position: fixed;
        }
    }
}

@include breakpoint('tablet') {
    .body {
        &.sales-mode {
            overflow-x: hidden;
        }
    }
}

