// @theme: default;

@import './reset';

.body {
    &.loading {
        height: 100%;

        .loader-mask {
            position: fixed;
        }
    }
}

@include breakpoint('tablet') {
    .body {
        &.sales-mode {
            overflow-x: hidden;
        }
    }
}

a {
    text-decoration: none;

    @include link();

    &:hover {
        text-decoration: underline;
    }
}

