/* @theme: default; */

$buttons-inline-group-i-offset-right: 0 !default;

$buttons-inline-group-btn-max-width: 30px !default;
$buttons-inline-group-btn-min-height: 27px !default;
$buttons-inline-group-btn-background: get-color('additional', 'ultra') !default;
$buttons-inline-group-btn-color: get-color('additional', 'middle') !default;

$buttons-inline-group-btn-bordered-border-color: get-color('additional', 'middle') !default;

$buttons-inline-group-btn-current-background: get-color('additional', 'base') !default;
$buttons-inline-group-btn-current-box-shadow: inset 0 2px 5px 0 rgba(0 0 0 / 20%) !default;
