// @theme: default

$embedded-product-side-offset: $offset-x-m !default;
$embedded-product-offset: 25px $embedded-product-side-offset 0 $embedded-product-side-offset !default;

// mobile-landscape
$embedded-product-mobile-landscape-side-offset: $offset-x-s !default;
$embedded-product-mobile-landscape-offset: $offset-y-m $embedded-product-mobile-landscape-side-offset 0 $embedded-product-mobile-landscape-side-offset !default;

// mobile
$embedded-product-title-font-size: $base-font-size !default;
