// @theme: default

$embedded-products-width: 30px;
$embedded-products-edge: 84px;
$embedded-products-gap-width: 27px;
$embedded-products-count: 4;
$embedded-products-height: 249px;

// desktop
$embedded-products-item-width-desktop: 25%;

// tablet-small
$embedded-products-item-width-tablet-small: 33%;

// mobile-landscape
$embedded-products-item-width-mobile-landscape: 50%;

// mobile
$embedded-products-item-width-mobile: 100%;
