// @theme: default

$embedded-product-offset: 25px 0 0 !default;

// mobile-landscape
$embedded-product-mobile-landscape-side-offset: $offset-x-s 0 0 !default;
$embedded-product-mobile-landscape-offset: $offset-y-m 0 0 !default;

// mobile
$embedded-product-title-font-size: $base-font-size !default;
