/* @theme: default; */

$embedded-products-item-count: 5 !default;

// Tablet big
$embedded-products-item-count-tablet-big: 4 !default;

// Tablet
$embedded-products-item-count-tablet: 3 !default;

// Mobile big
$embedded-products-item-width-count-mobile-big: 2 !default;
$embedded-products-item-offset-mobile-big: 90px !default;

// mobile-landscape
$embedded-products-item-count-mobile-landscape: 1 !default;
$embedded-products-item-offset-mobile-landscape: 160px !default;

// Mobile
$embedded-products-item-count-mobile: 26px !default;
