/* @theme: default; */

$oro-more-info-toggler-list-link-color: get-color('additional', 'dark') !default;
$oro-more-info-toggler-list-link-color-hover: get-color('additional', 'dark') !default;

$oro-more-info-toggler-link-color: get-color('ui', 'normal') !default;
$oro-more-info-toggler-link-orange-color: get-color('primary', 'base') !default;

$oro-more-info-b-bordered: 1px solid get-color('additional', 'light') !default;
