/* @theme: default; */

$price-hint-content-table-th-color: get-color('text', 'secondary') !default;
$price-hint-content-table-th-font-weight: font-weight('semi-bold') !default;
$price-hint-content-table-th-line-height: 20px !default;
$price-hint-content-table-border-color: get-color('neutral', 'grey3') !default;
$price-hint-content-table-title-color: get-color('text', 'secondary') !default;
$price-hint-content-table-title-font-size: 14px !default;
$price-hint-content-table-title-line-height: 20px !default;
$price-hint-content-table-title-font-weight: font-weight('light');
