/* @theme: default; */

$product-view-attribute-font-weight: font-weight('bold') !default;

$product-view-attribute-tab-content-display: none !default;
$product-view-attribute-tab-content-padding-top: spacing('lg') !default;

$product-view-attribute-group-border-bottom: 1px solid get-color('neutral', 'grey2') !default;

$product-view-attribute-group-title-border-bottom: spacing('base') !default;
$product-view-attribute-group-toggle-gap: spacing('sm') !default;

$product-view-attribute-group-content-gap: spacing('md') !default;
$product-view-attribute-content-gap: spacing('sm') !default;

// Attributes containers
$product-view-attributes-containers-border-color: get-color('neutral', 'grey1') !default;
$product-view-attributes-container-border-radius: 4px !default;

// Attributes panel
$product-view-attribute-panel-offset-top: spacing('sm') !default;

// Attributes containers for mobile landscape
$product-view-attributes-container-border-radius-mobile-l: 0 !default;

// Attributes tabs
$product-view-attributes-tabs: '.product-attributes-tabs' !default;
$product-view-attributes-tabs-item: '.product-attributes-tabs__item' !default;
$product-view-attributes-tabs-link: '.product-attributes-tabs__link' !default;
$product-view-attributes-tab-link-offset-inner: spacing('md') 0 !default;
$product-view-attributes-tabs-bg: get-color('neutral', 'grey1') !default;
$product-view-attributes-tab-link-color: get-color('text', 'primary') !default;
$product-view-attributes-tabs-border-color: $product-view-attributes-containers-border-color !default;
$product-view-attributes-tabs-border-radius: $product-view-attributes-container-border-radius !default;
$product-view-attributes-tabs-gap: 1px !default;
$product-view-attributes-tabs-overflow-x: auto !default;

$product-view-attributes-tab-link-font-weight: font-weight('semi-bold') !default;
$product-view-attributes-tab-link-position: relative !default;
$product-view-attributes-tab-link-text-decoration: none !default;
$product-view-attributes-tab-link-text-transform: uppercase !default;
$product-view-attributes-tab-link-white-space: nowrap !default;

$product-view-attributes-tab-link-active-after-content: '' !default;
$product-view-attributes-tab-link-active-after-background: get-color('primary', 'main') !default;
$product-view-attributes-tab-link-active-after-height: 3px !default;
$product-view-attributes-tab-link-active-after-border-radius: 4px 4px 0 0 !default;
$product-view-attributes-tab-link-active-after-position: absolute !default;
$product-view-attributes-tab-link-active-after-inset: auto 0 0 !default;

$product-view-attributes-tabs-item-padding: 0 spacing('lg') !default;
$product-view-attributes-tabs-item-position: relative !default;

$product-view-attributes-tabs-item-after-content: '' !default;
$product-view-attributes-tabs-item-after-background: get-color('neutral', 'grey3') !default;
$product-view-attributes-tabs-item-after-width: 1px !default;
$product-view-attributes-tabs-item-after-height: 20px !default;
$product-view-attributes-tabs-item-after-position: absolute !default;
$product-view-attributes-tabs-item-after-inset-block: 50% auto !default;
$product-view-attributes-tabs-item-after-inset-inline: auto -1px !default;
$product-view-attributes-tabs-item-after-transform: translateY(-50%) !default;

// Attributes tab content
$product-view-attributes-tab-content-gap: spacing('base') !default;
$product-view-attributes-tab-content-offset-inner: spacing('lg') 0 0 !default;
$product-view-attributes-tab-content-attribute-weight: font-weight('bold') !default;

// Image sizes
$desktop-product-view-attribute-image-size: 80px !default;
$mobile-big-product-view-attribute-image-size: 100px !default;
$mobile-product-view-attribute-image-size: 95px !default;

// Image attribute
$product-view-attribute-image-border: 1px solid get-color('neutral', 'grey1') !default;

// Images attribute
$product-view-attribute-images-item-space: 8px !default;

// Files attribute
$product-view-attribute-files-gradient-height: 48px !default;
$mobile-product-view-attribute-files-gradient-height: 60px !default;
$product-view-attribute-files-gradient-background: linear-gradient(
    to bottom, rgba($body-bg-color, 0), $body-bg-color
) !default;
$mobile-product-view-attribute-files-item-inner-padding: 4px 16px !default;
$mobile-product-view-attribute-files-item-outer-padding: 18px !default;
