/* @theme: default; */

$product-item-gallery-view-offset-x: $offset-x-m !default;
$product-item-gallery-view-width: calc(20% - (#{$product-item-gallery-view-offset-x} * 2)) !default;
$product-item-gallery-view-offset-bottom: 30px !default;
$product-item-gallery-view-border: 1px solid get-color('additional', 'light') !default;
$product-item-qty-height: 115px !default;

$product-item-list-view-border: 1px solid get-color('additional', 'light') !default;

$product-item-no-image-view-border: 1px solid get-color('additional', 'light') !default;

$product-item-title-link-color: get-color('additional', 'dark') !default;
$product-item-title-link-color-hover: get-color('additional', 'dark') !default;

$product-item-title-gallery-view-font-size: 15px !default;
$product-item-title-gallery-view-line-height: 1.35 !default;

$product-item-image-holder-list-view-max-width: 316px !default;

$product-item-image-holder-tiny-width: 40px !default;
$product-item-image-holder-tiny-height: $product-item-image-holder-tiny-width !default;
$product-item-image-holder-tiny-border: 1px solid get-color('additional', 'light') !default;
$product-item-sku-value-color: get-color('primary', 'dark') !default;
$product-item-sku-value-word-break: break-all !default;

$product-item-view-product-color: null !default;

$product-item-select-row-gallery-view-height: var(--product-item-select-row-gallery-view-height, 26px) !default;

// strict-tablet
$product-item-gallery-view-width-strict-tablet: calc(25% - (#{$product-item-gallery-view-offset-x} * 2)) !default;

// tablet
$product-item-select-row-gallery-view-height-tablet: auto !default;

// tablet-small
$product-item-gallery-view-offset-x-tablet-small: 12px !default;
$product-item-primary-content-remainder-width-width-tablet-small: 77% !default;
$product-item-secondary-content-list-view-width-tablet-small: 240px !default;
$product-item-primary-content-list-view-width-tablet-small: calc(
    $product-item-primary-content-remainder-width-width-tablet-small -
    $product-item-secondary-content-list-view-width-tablet-small
) !default;

//strict-tablet-small
$product-item-gallery-view-width-strict-tablet-small: calc(
    33.3333% - (#{$product-item-gallery-view-offset-x-tablet-small} * 2)
) !default;

// mobile-landscape
$product-item-gallery-view-offset-x-mobile-landscape: $offset-x-s !default;

// strict-mobile-landscape
$product-item-gallery-view-width-strict-mobile-landscape: calc(
    50% - (#{$product-item-gallery-view-offset-x-mobile-landscape} * 2)
) !default;
