/* @theme: default; */

$product-sticker-min-height: 28px !default;
$product-sticker-display: inline-flex !default;
$product-sticker-align-items: center !default;
$product-sticker-padding: spacing('xs') spacing('md') !default;
$product-sticker-z-index: z('base') + 1 !default;
$product-sticker-position: absolute !default;

$product-sticker-start-start-block-start: 0 !default;
$product-sticker-start-start-inline-start: 0 !default;

$product-sticker-start-end-block-start: 0 !default;
$product-sticker-start-end-inline-end: 0 !default;

$product-sticker-end-end-block-end: 0 !default;
$product-sticker-end-end-inline-end: 0 !default;

$product-sticker-end-start-block-end: 0 !default;
$product-sticker-end-start-inline-start: 0 !default;

$product-sticker-border-radius: 4px !default;

$product-sticker-new-arrival-background: get-var-color('secondary', 'c1') !default;
$product-sticker-new-arrival-color: get-var-color('text', 'primary') !default;

$product-sticker-sale-background: get-var-color('secondary', 'sale') !default;
$product-sticker-sale-color: get-var-color('text', 'inverse') !default;
