/* @theme: default; */

$product-view-desc-offset: 0 0 spacing('base') 0 !default;
$product-view-desc-list-offset: 0 0 spacing('base') !default;
$product-view-desc-list--item-offset: spacing('xs') * .5 !default;
