/* @theme: default; */

$product-view-attribute-font-weight: font-weight('bold') !default;

// Attributes containers
$product-view-attributes-containers-border-color: get-color('additional', 'light') !default;
$product-view-attributes-container-border-radius: 5px !default;

// Attributes panel
$product-view-attribute-panel-offset-top: $offset-y-m !default;

// Attributes containers for mobile landscape
$product-view-attributes-container-border-radius-mobile-l: 0 !default;

// Attributes tabs
$product-view-attributes-tabs: '.product-attributes-tabs' !default;
$product-view-attributes-tabs-item: '.product-attributes-tabs__item' !default;
$product-view-attributes-tabs-link: '.product-attributes-tabs__link' !default;
$product-view-attributes-tab-link-offset-inner: $offset-y !default;
$product-view-attributes-tabs-bg: get-color('additional', 'base') !default;
$product-view-attributes-tab-link-color: get-color('additional', 'dark') !default;
$product-view-attributes-tab-link-active-bg: get-color('additional', 'ultra') !default;
$product-view-attributes-tabs-border-color: $product-view-attributes-containers-border-color !default;
$product-view-attributes-tabs-border-radius: $product-view-attributes-container-border-radius !default;
// Attributes tabs for mobile landscape
$product-view-attributes-tabs-flex-direction-mobile-l: column !default;
$product-view-attributes-tabs-border-radius-mobile-l: 0 !default;
$product-view-attributes-tabs-link-text-align-mobile-l: left !default;
$product-view-attributes-tabs-link-after-position-mobile-l: absolute !default;
$product-view-attributes-tabs-link-after-right-mobile-l: 15px !default;
$product-view-attributes-tabs-link-after-margin-top-mobile-l: -2px !default;
$product-view-attributes-tabs-link-after-font-size-mobile-l: $base-font-size--large !default;

// Attributes tab content
$product-view-attributes-tab-content-gap: $offset-y !default;
$product-view-attributes-tab-content-offset-inner: 40px !default;
$product-view-attributes-tab-content-attribute-weight: font-weight('bold') !default;

// Attributes tab content for mobile landscape
$product-view-attributes-tab-content-display-mobile-l: none !default;

// Image sizes
$desktop-product-view-attribute-image-size: 80px !default;
$mobile-big-product-view-attribute-image-size: 100px !default;
$mobile-product-view-attribute-image-size: 95px !default;

// Image attribute
$product-view-attribute-image-border: 1px solid get-color('additional', 'light') !default;

// Images attribute
$product-view-attribute-images-item-space: 8px !default;

// Files attribute
$product-view-attribute-files-gradient-height: 48px !default;
$mobile-product-view-attribute-files-gradient-height: 60px !default;
$product-view-attribute-files-gradient-background: linear-gradient(
    to bottom, rgba($body-bg-color, 0), $body-bg-color
) !default;
$product-view-attribute-files-icon-color: get-color('ui', 'normal');
$mobile-product-view-attribute-files-item-inner-padding: 4px 16px !default;
$mobile-product-view-attribute-files-item-outer-padding: 18px !default;
