/* @theme: default; */

// In Grid
$product-action-in-grid-offset: $offset-x-s !default;

// In Sticky Panel

$product-action-in-sticky-width: 100% !default;
$product-action-in-sticky-offset: $offset-x-m !default;

// Mobile
$product-action-toggle-icon-mobile: null !default;
