/* @theme: default; */

$product-view-benefits-gap: spacing('xl') !default;
$product-view-benefits-margin-block-end: spacing('md') !default;
$product-view-benefits-description-top: spacing('xl') - $product-view-benefits-margin-block-end !default;

$product-view-benefits-items-gap: spacing('sm') !default;
$product-view-benefits-items-color: get-color('success', 'dark') !default;
