/* @theme: default; */

// In Sticky Panel

$product-action-in-sticky-max-width: 600px !default;
$product-action-in-sticky-margin: 0 auto !default;

// Mobile
$product-action-toggle-icon-mobile: null !default;
