// @theme: default;

$product-item-gallery-view-offset-x: 15px !default;
$product-item-gallery-view-offset-bottom: 30px !default;
$product-item-qty-height: 115px !default;

$product-item-title-gallery-view-font-size: 15px !default;
$product-item-title-gallery-view-line-height: 1.35 !default;
