/* @theme: default; */

$quick-order-copy-paste-float: right !default;

$quick-order-copy-paste-clear: right !default;

$quick-order-copy-paste-width: calc(33.3333% - 40px) !default;

$quick-order-copy-paste-textarea-height: 200px !default;

$quick-order-copy-paste-title-margin: 0 0 10px !default;
$quick-order-copy-paste-description-margin: 0 0 15px !default;
$quick-order-copy-paste-buttons-margin: 15px 0 0 !default;
