/* @theme: default; */

$quick-order-padding: 30px 30px 40px !default;
$quick-order-mobile-padding: 10px !default;

$quick-order-border-radius: 5px !default;

$quick-order-background: get-color('additional', 'base') !default;
