/* @theme: default; */

$quick-order-padding: 30px 30px 40px !default;
$quick-order-border-radius: 5px !default;
$quick-order-background: get-color('additional', 'base') !default;
$quick-order-display: grid !default;
$quick-order-grid-template-areas:
    'add import'
    'add copy-paste' !default;
$quick-order-grid-template-columns: 2fr 1fr !default;
$quick-order-grid-template-rows: auto 1fr !default;
$quick-order-gap: 30px 60px !default;

// Tablet Small
$quick-order-tablet-small-grid-template-areas:
    'add'
    'import'
    'copy-paste' !default;
$quick-order-tablet-small-grid-template-columns: none !default;
$quick-order-tablet-small-grid-template-rows: none !default;

// Mobile Landscape
$quick-order-mobile-landscape-padding: 10px !default;
