/* @theme: default; */

$toggle-sidebar-btn-desktop-offset-start: -($page-content-with-sidebar-inner-offset-start + 1px) !default;
$toggle-sidebar-btn-desktop-offset-inner: 6px !default;
$toggle-sidebar-btn-desktop-border-radius: 0 $btn-border-radius-s $btn-border-radius-s 0 !default;
