/* @theme: default; */

$visible-items-counter-line-height: 1.5 !default;
$visible-items-counter-color: get-color('text', 'secondary') !default;
$visible-items-counter-color-primary: get-color('text', 'primary') !default;
