/* @theme: custom; */

.main-menu-column {
    &--splited &__inner-left,
    &--splited &__inner-right {
        margin-bottom: $main-menu-column-splited-inner-left-offset-bottom;
        list-style: none;
    }

    &__inner {
        margin-bottom: $main-menu-column-inner-offset-bottom;
        list-style: none;
    }
}

@include breakpoint('desktop') {
    .main-menu-column {
        margin: $main-menu-column-offset;
        padding: $main-menu-column-offset-inner;

        border-top: $main-menu-column-border-top;
    }
}
