/* @theme: custom; */

.sidebar__menu {
    max-height: none;
    margin-top: 3px;
    padding-block: $offset-y;
    padding-inline: 30px $offset-x;

    border: 0;
    background-color: $sidebar-menu-background;

    &:first-child {
        margin-top: 0;
    }

    .main-menu {
        flex-direction: column;
    }
}

@include breakpoint('desktop') {
    .main-menu {
        .sidebar__menu & {
            &__link {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &__inner--fullheight {
                background: none;
            }
        }
    }
}

@include breakpoint('tablet') {
    .sidebar__menu {
        display: none;
    }
}
