/* @theme: custom; */

.sidebar__menu {
    max-height: none;
    margin-top: 3px;
    padding: 30px 15px 30px 30px;

    border: 0;
    background-color: $sidebar-menu-background;

    &:first-child {
        margin-top: 0;
    }

    .main-menu {
        max-height: inherit;

        display: block;
    }

    .main-menu__item {
        min-height: initial;

        &:last-child {
            margin-bottom: 0;
        }

        &--floated-dropdown,
        &--centered-dropdown {
            position: static;
        }
    }

    .main-menu__link {
        min-height: initial;
        padding: 8px 0 7px;

        font-size: $base-font-size--s;
        line-height: 1.46;

        text-align: left;

        color: $sidebar-menu-link-color;

        &:hover {
            text-decoration: underline;
        }

        &--is-trigger {
            &:hover {
                text-decoration: none;
            }
        }
    }

    .main-menu__sublist-container {
        width: 100%;

        position: static;

        background: none;
        box-shadow: none;
    }

    &--collapsible {
        background-color: $sidebar-menu-collapsible-background-color;

        border: 0;

        .main-menu {
            margin: 0 -15px 0 -30px;
            padding: 5px 0 0;

            .main-menu__item.expanded {
                .fa-angle-down {
                    left: 15px;
                }

                .main-menu__sublist-container {
                    display: block;
                }
            }

            .main-menu__link {
                padding: 8px 0 7px 30px;
            }
        }
    }
}

@include breakpoint('desktop') {
    .main-menu {
        &__item {
            display: flex;
            flex-wrap: wrap;
        }
    }
}

@include only-desktop {
    .main-menu {
        &__item {
            &:hover {
                .main-menu__sublist-container {
                    display: none;
                }
            }

            &.show {
                .main-menu__sublist-container {
                    display: block;

                    border-width: 0;
                }
            }
        }
    }
}

@include breakpoint('tablet') {
    .sidebar__menu {
        display: none;
    }

    .main-menu {
        border-bottom: $main-menu-tablet-border;
    }
}
