{% block __orob2b_order_grid__datagrid_toolbar_button_container_create_order_widget %}
    {% set attr = attr|merge({class: attr.class|default('') ~ "text-right"}) %}
    <div{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}