{% block _create_order_button_widget %}
    {% set attr = attr|merge({class: attr.class|default('') ~ "text-right"}) %}
    <div{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _orders_title_widget %}
    <h1 class="page-title{% if top_margin %} mt5-md{% endif %}">{{ block_widget(block) }}</h1>
{% endblock %}
