$authorization-form-bg: get-color('additional', 'base') !default;
$authorization-form-offset-inner: 55px 45px !default;
$authorization-form-offset-outer: 0 auto;
$authorization-form-width: 400px !default;
