$single-form-page-bg: get-color('additional', 'base') !default;
$single-form-page-offset-inner: 55px 45px !default;
$single-form-page-offset-outer: 0 auto;
$single-form-page-width: 400px !default;

%single-form-page {
    max-width: $single-form-page-width;
    margin: $single-form-page-offset-outer;
    padding: $single-form-page-offset-inner;

    background: $single-form-page-bg;
}
