.two-columns-text-and-images-team {
    --grid-gap: 24px;

    .grid-double-column {
        --grid-gap: 16px;
        --grid-template-columns: 180px 1fr;
        --grid-auto-rows: auto 1fr;
    }

    img {
        max-height: 180px;
    }

    .grid-columns-1 {
        --grid-column-count: 1;
    }

    .grid-images-team {
        --grid-gap: 48px 64px;
    }

    .grid-col-picture {
        display: inline-grid;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .grid-col-author {
        grid-auto-rows: max-content;
        grid-column-start: 2;
        grid-column-end: 12;
        grid-row-start: 1;
        grid-row-end: 1;
    }

    .grid-col-text {
        display: inline-grid;
        grid-column-start: 2;
        grid-column-end: 12;
        grid-row-start: 2;
        grid-row-end: 2;
    }
}

@media screen and (max-width: 992px) {
    .two-columns-text-and-images-team {
        .grid-images-team {
            --grid-gap: 48px 0;
        }
    }
}

@media screen and (max-width: 430px) {
    .two-columns-text-and-images-team {
        .grid-double-column {
            --grid-template-columns: 80px 1fr;
        }

        .grid-col-picture {
            grid-row-end: 2;
        }

        .grid-col-text {
            grid-column-start: 1;
        }
    }
}
