# Configuration for https://github.com/oroinc/phpstan-rules/
trusted_data:
    variables:
        Oro\Bundle\CheckoutBundle\Provider\MultiShipping\SubOrderOwnerProvider:
            getUserQueryBuilder:
                associationName: true
        Oro\Bundle\CheckoutBundle\Api\DeletedCheckoutQueryModifier:
            applyCheckoutRestriction:
                rootAlias: true
            ensureEntityJoined:
                joinAlias: true
                join: true
            getEntityJoin:
                joinObjects: true
                joinGroupAlias: true
        Oro\Bundle\CheckoutBundle\Api\CheckoutLineItemQueryModifier:
            applyCheckoutLineItemRestriction:
                rootAlias: true
            applyCheckoutProductKitItemLineItemRestriction:
                rootAlias: true
        Oro\Bundle\CheckoutBundle\Api\CheckoutAddressQueryModifier:
            applyCheckoutAddressRootRestriction:
                checkoutAlias: true
            ensureEntityJoined:
                joinAlias: true
                join: true
            getEntityJoin:
                joinObjects: true
                joinGroupAlias: true
        Oro\Bundle\CheckoutBundle\Api\GuestCheckoutQueryModifier:
            applyCustomerUserRestriction:
                customerUserAlias: true
            ensureEntityJoined:
                joinAlias: true
                join: true
            getEntityJoin:
                joinObjects: true
                joinGroupAlias: true
        Oro\Bundle\CheckoutBundle\Api\GuestCheckoutVisitorQueryModifier:
            getCheckoutSourceRestrictions:
                checkoutSourceAlias: true
                visitorParamName: true
            ensureEntityJoined:
                joinAlias: true
                join: true
            getEntityJoin:
                joinObjects: true
                joinGroupAlias: true
    safe_methods:
        Oro\Bundle\CheckoutBundle\Api\GuestCheckoutVisitorQueryModifier:
            getCheckoutSourceRestrictions: true
            updateJoinCondition: true
        Oro\Bundle\CheckoutBundle\Api\CheckoutAddressQueryModifier:
            updateJoinCondition: true
        Oro\Bundle\CheckoutBundle\Api\DeletedCheckoutQueryModifier:
            updateJoinCondition: true
        Oro\Bundle\CheckoutBundle\Api\GuestCheckoutQueryModifier:
            updateJoinCondition: true
        Oro\Bundle\CheckoutBundle\Entity\Repository\CheckoutRepository:
            getWorkflowItemJoinCondition: true
