// Fonts
$roboto-font: 'Roboto', 'Helvetica', Arial, sans-serif;
//Theme base colors
$base-white-color: #fff;

//Theme links color 
$base-link-color: #4597ca;

//Theme specific colors
$theme-blue-color: #348fc6;
$theme-lighter-gray-color: #ebebeb;

//Theme background colors
$base-background-color: $base-white-color;
$base-topbar-background-color: $theme-lighter-gray-color;

//Input errors
$theme-input-error: #7a0026;
$theme-input-success: #7ea6a4;

//Miss date warning 
$theme-warning-color: #f7941d;

//Color palette
$color-error: $theme-input-error;
$color-warring: $theme-warning-color;
$color-success: $theme-input-success;
$color-focus: $base-link-color;
