/* @theme: default; */

.checkout {
    &__container {
        display: grid;

        &--steps-page {
            margin-top: spacing('lg');
            gap: spacing('lg');
            grid-template-columns: 1fr 280px;
        }
    }

    &__content {
        flex-grow: 1;
    }

    &__content-main {
        display: flex;
        flex-direction: column;
        gap: spacing('lg');
        flex-grow: 1;
    }

    &__content-main-top {
        display: grid;
        grid-template-columns: 280px 1fr;
        gap: spacing('lg');
    }

    &__steps {
        padding: spacing('base');
        border-radius: $border-radius;

        background-color: $checkout-steps-background-color;
    }

    &--no-background {
        background: none;
        padding: 0;
    }

    &__container--steps-page &__body {
        display: flex;
        flex-direction: column;
        gap: spacing('base');
    }

    &-form {
        &-errors {
            margin: spacing('sm') 0;
        }
    }

    &__approval-note {
        margin: $checkout-approval-note-margin;
    }

    &__footer {
        &-col {
            display: grid;
            gap: spacing('base');

            &:empty {
                display: none;
            }

            .checkout-form__buttons {
                justify-self: start;
            }
        }
    }

    &__botton-container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: spacing('xl');
    }

    &__submit-button-container {
        display: grid;
        gap: spacing('sm');
    }

    .required-label {
        margin: 0;
    }
}

.responsive-checkout-layout {
    .page-title-wrapper {
        display: flex;
        align-items: center;

        .checkout__require-label {
            margin-inline-start: auto;
        }
    }
}

@include breakpoint('desktop-small') {
    .checkout {
        &__sidebar {
            position: sticky;
            top: calc(var(--sticky-page-header-element-offset-top, 0) + #{spacing('xl')});
            height: max-content;
        }
    }
}

@include breakpoint('tablet') {
    .checkout {
        &__container {
            &--steps-page {
                grid-template-columns: 1fr;
            }
        }

        &--no-background {
            background: none;
            padding: 0;
        }

        &__submit-btn {
            > .tooltip.tooltip-top .tooltip-inner::before,
            > .tooltip.tooltip-bottom .tooltip-inner::before {
                left: $checkout-submit-tooltip-left;
                right: $checkout-submit-tooltip-right;
            }
        }

        &__container--steps-page &__sidebar {
            position: sticky;
            bottom: 0;

            margin: 0 -#{spacing('base')};
            border-top: $checkout-tablet-sidebar-border-top;

            // For sticky panel on mobile devices
            z-index: z('fixed');
        }

        &__footer {
            flex-direction: column;

            &-col {
                &:first-child {
                    margin-bottom: spacing('base');
                    flex-grow: 0;
                    padding-right: 0;
                }

                &:last-child {
                    padding-left: 0;
                    margin: 0;
                }
            }
        }

        &__submit-button-container:not(.final-step) {
            display: none;
        }
    }
}

@include breakpoint('tablet-small') {
    .checkout {
        &__submit-btn {
            width: $checkout-submit-btn-tablet-small-width;
        }
    }
}

@include breakpoint('mobile-big') {
    .checkout {
        display: grid;
        gap: spacing('md');

        &__container--steps-page {
            position: relative;

            .checkout__require-label {
                position: absolute;
                top: -#{spacing('huge')};
                right: 0;

                text-align: right;
            }
        }

        &__content-main-top {
            grid-template-columns: 1fr;
            gap: spacing('md');
        }

        &__steps {
            padding: spacing('xs') 0 spacing('sm');
            background-color: transparent;
        }
    }
}
