<div class="widget-actions">
    <button class="btn btn--destructive-outlined delete-action" data-action-name="delete">
        <%- _.__('oro.frontend.shoppinglist.dialog.configurable_product.delete.label') %>
    </button>
    <button class="btn btn--outlined" type="reset">
        <%- _.__('oro.frontend.shoppinglist.dialog.configurable_product.cancel.label') %>
    </button>
    <button class="btn" type="submit">
        <%- _.__('oro.frontend.shoppinglist.dialog.configurable_product.accept.label') %>
    </button>
</div>
