{% extends 'form_div_layout.html.twig' %}

{% block form_widget_simple %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " input input_block input_md"
    }) %}
    {{ parent() }}
{% endblock %}

{%- block form_row -%}
    <fieldset class="create-account__form__row">
        <div class="create-account__form__col form__col_x12">
            {{- form_label(form) -}}
            {{- form_errors(form) -}}
            {{- form_widget(form) -}}
        </div>
    </fieldset>
{%- endblock form_row -%}