/* @theme: default; */

.order-review-options {
    margin: $offset-y-m $offset-x 0;

    .toggle-block__content {
        margin: $offset-y-s 0 $offset-x-m;
    }

    .grid__column {
        padding: 0;
        margin-bottom: $offset-y-s;
    }
}
