{% block _paypal_payments_pro_express_checkout_order_review_widget %}
    {{ block('_payflow_express_checkout_order_review_widget') }}
{% endblock %}

{% block _payflow_express_checkout_order_review_widget %}
    {% if currentPaymentMethod is defined %}
        <div class="hidden"
             data-page-component-module="oropaypal/js/app/components/payflow-express-checkout-component"
             data-page-component-options="{{ {paymentMethod: currentPaymentMethod}|json_encode }}">
        </div>
    {% endif %}
{% endblock %}
