/* @theme: default; */

$product-price-hint-display: flex !default;
$product-price-hint-align-items: start !default;

$product-price-hint-prices-display: grid !default;
$product-price-hint-prices-gap: spacing('xs') !default;
