/* @theme: default; */

$product-prices-border-radius: 5px !default;
$product-prices-background: get-color('additional', 'base') !default;
$product-prices-border: 1px solid get-color('additional', 'light') !default;
$product-prices-offset: 0 0 $offset-y !default;

$product-prices-table-width: 100% !default;

$product-prices-head-inner-offset: $offset-y-m !default;
$product-prices-head-text-align: center !default;
$product-prices-head-border-bottom: 1px solid get-color('additional', 'light') !default;
$product-prices-head-font-size: 12px !default;
$product-prices-head-font-weight: font-weight('normal') !default;

$product-prices-cell-inner-offset: $offset-y-s !default;
$product-prices-cell-text-align: center !default;
