/* @theme: default; */

$product-price-hint-btn-text-decoration: none !default;
$product-price-hint-btn-min-height: 24px !default;
$product-price-hint-btn-color: get-color('primary', 'main') !default;
$product-price-hint-btn-margin: spacing('md') 10px !default;
