/* @theme: default; */

$product-price-hint-display: flex !default;
$product-price-hint-align-items: baseline !default;

$product-price-hint-prices-inner-offset-top: $offset-y-s !default;
$product-price-hint-prices-inner-offset-right: $offset-x-s !default;
