/* @theme: default; */

$product-prices-table-th-text-transform: uppercase !default;
$product-prices-table-th-color: get-var-color('text', 'secondary') !default;
$product-prices-table-th-letter-spacing: .2px !default;
$product-prices-table-th-padding-bottom: spacing('md') !default;
$product-prices-table-th-font-weight: font-weight('semi-bold') !default;
$product-prices-table-th-line-height: 1.43 !default;

$product-prices-table-td-color: get-var-color('text', 'primary') !default;
$product-prices-table-td-font-size: $base-font-size--s !default;
$product-prices-table-td-padding: 6px 0 6px 90px !default;
$product-prices-table-border-bottom: 1px solid get-var-color('neutral', 'grey2') !default;
$product-prices-table-min-width: 178px !default;
$product-prices-table-first-min-width: 44px !default;

$product-prices-table-stick-cell-bc-color: get-var-color('neutral', 'white-100') !default;
