/* @theme: default; */

$quick-order-add-input-offset: 29px !default;
$quick-order-add-title-font-size: 16px !default;
$quick-order-add-title-line-height: 22px !default;
$quick-order-add-subtotal-offset: 44px + spacing('base') !default;
