.featured-categories-item {
    display: inline-block;
    margin-top: 50px;

    color: $base-dark-color;

    &:hover {
        text-decoration: none;

        color: $base-dark-color;

        .featured-categories-item__name {
            text-decoration: underline;
        }
    }

    &__image {
        display: block;
        max-width: 100%;

        border: 1px solid $theme-lighter-gray-color;
    }

    &__desc {
        overflow: hidden;

        padding-top: 8px;

        text-align: center;
    }

    &__name {
        font-size: 18px;
        font-weight: normal;
        line-height: normal;
    }

    &__count {
        line-height: normal;;
    }

    @include breakpoint($phone-width) {
        margin-top: 20px;

        &__name {
            font-size: 14px;
        }

        &__count {
            font-size: 10px;
        }
    }
}
