.ui-dialog {
  z-index: z('popup');

  .ui-dialog-content {
    overflow: auto;
    height: calc(100% - 177px) !important;
  }

  &.ui-dialog-no-scroll {
    .ui-dialog-content {
      overflow: visible;
    }
  }
}

.modal-backdrop {
  z-index: z('popup');
}
.oro-modal-normal {
  z-index: z('popup') + 1;
}
