.notification-flash {
  padding: 15px 15px 10px;

  &:empty {
    display: none;
  }

  @media (max-width: $screen-md) {
    padding: 10px 0 5px;
  }

  .notification.notification_lg  {
    width: auto;
    max-width: $site-width - 30px;

    padding-left: 48px;
    padding-right: 48px;

    line-height: 20px;

    &:not(:first-child) {
      margin-top: 10px;
    }
  }

  .badge {
    position: absolute;
    top: 15px;
    left: 15px;
  }

  .cf-clear {
    position: absolute;
    top: 14px;
    right: 8px;

    font-size: 24px;

    cursor: pointer;
  }

  &--medium {
    .notification.notification_lg {

    }
  }
}

.notification {
  &_success {
    background: get-color('ui', 'success');
    color: get-color('ui', 'success-dark');
  }

  &_notice {
    background: get-color('ui', 'success');
    color: get-color('ui', 'success-dark');
  }

  &_alert {
    background: get-color('ui', 'warring');
    color: get-color('ui', 'warring-dark');
  }

  &_warning {
    background: get-color('ui', 'warring');
    color: get-color('ui', 'warring-dark');
  }

  &_error {
    background: get-color('ui', 'error');
    color: get-color('ui', 'error-dark');
  }

  &_info {
    background: get-color('ui', 'success');
    color: get-color('ui', 'success-dark');
  }

  &_xsm {
    min-height: 24px;
    padding: 0 10px;

    font-size: 13px;
    line-height: 1.85;

    .badge {
      margin-bottom: 3px;
    }
  }

  &_sm {
    min-height: 30px;
    padding: 5px 10px;

    [class^="cf-"] {
      vertical-align: middle;

      font-size: 20px;
    }
  } 

  &_md {
    min-height: 34px;
    padding: 7px 10px;

    [class^="cf-"] {
      vertical-align: middle;

      font-size: 20px;
    }
  }

  &_xmd {
    padding: 20px 15px;
    min-height: 40px;

    [class^="cf-"] {
      vertical-align: middle;

      font-size: 20px;
    }

    @media (max-width: $screen-md) {
      margin: -10px -15px 10px;
    }
  }

  &_lg {
    position: relative;
    z-index: 101;

    width: 100%;
    min-height: 50px;
    line-height: 30px;
  }

  &-radiused {
    border-radius: 3px;
  }

  &_in-order {
    @media (max-width: $screen-md) {
      margin: -10px -15px 10px;
    }
  }

  > ul {
    @include list-normalize();
  }

  &__relative-container {
    position: relative;

    padding: 0 20px;
  }

  &__sign {
    vertical-align: middle;

    &.notification__sign_abs {
      position: absolute;
      top: 50%;
      left: 0;

      &.notification__sign_error {
        margin-top: -16px;
      }

      &.notification__sign_notice {
        margin-top: -16px;
      }

      &.notification__sign_alert {
        margin-top: -13px;
      }
    }
  }

  &__additional-content {
    padding-left: 30px;

    color: get-color('additional', 'dark');
  }
}


/*Messages*/
.input-errors-list {
  @include list-normalize;

  li {
    margin: 5px 0 0;
  }
}

.error-message {
  color: get-color('ui', 'error-dark');
  font-size: 13px;
  line-height: 1;

  ul {
    @include list-normalize();

    li {
      margin-bottom: 5px;
    }
  }
}
