/*Messages*/
.input-errors-list {
  @include list-normalize;

  li {
    margin: 5px 0 0;
  }
}

.error-message {
  color: get-color('ui', 'error-dark');
  font-size: 13px;
  line-height: 1;

  ul {
    @include list-normalize();

    li {
      margin-bottom: 5px;
    }
  }
}
