.oro-pagination {
  white-space: nowrap;

  &__label,
  &__total {
    display: inline-block;
    vertical-align: middle;

    font-size: $base-font-size;
  }

  &__label {
    margin-right: 5px;
  }

  &__total {
    margin-left: 5px;
  }

  &__pager {
    display: inline-block;
    vertical-align: middle;

    font-size: 0;
    text-align: center;
  }

  &__input {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    padding: 0;
    border-radius: 0;
    border: 0;
    border-top: 1px solid get-color('additional', 'light');
    border-bottom: 1px solid get-color('additional', 'light');

    font-size: $base-font-size;
    line-height: 2;
    text-align: center;

    appearance: none;
  }

  &__prev,
  &__next {
    display: inline-block;
    width: 23px;
    vertical-align: middle;
    text-align: center;
    padding: 0;
    border: 1px solid get-color('additional', 'light');

    background: get-color('additional', 'base');
    color: get-color('additional', 'dark');
    font-size: 16px;
    line-height: 1.8;
    text-decoration: none;

    cursor: pointer;

    &.disabled {
      color: get-color('additional', 'middle');

      cursor: default;
    }

    i {
      margin-right: 0;
    }
  }

  &__prev {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  &__next {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

@include breakpoint('tablet-small') {
  .oro-pagination {
    &__total {
      display: none;
    }
  }
}

@include breakpoint('mobile') {
  .oro-pagination {
    &__label {
      display: none;
    }
  }
}
