// @theme: default;

.search-widget {
    position: relative;

    &-wrap {
        margin: 0 39% 0 33.5%;
    }

    &__input {
        height: 50px;
        padding: 0 50px 0 18px;
    }

    &__submit {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;

        width: 50px;
        padding: 0;

        font-size: 19px;

        background: transparent;
        border: 0;
        color: get-color('additional', 'middle');
    }
}

@include breakpoint('tablet') {
    .search-widget {
        margin: $offset-y $offset-x;

        &-wrap {
            margin: 0 25% 0 40%;
        }

        &__input {
            height: 45px;
        }
    }
}
