{% block __oro_customer_menu__container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' primary-menu-container'
    }) %}
    <div class="collapse-view"
         data-page-component-module="oroui/js/app/components/viewport-component"
         data-page-component-options="{{ {
             screenType: 'tablet',
             component: 'oroui/js/app/components/jquery-widget-component',
             widgetModule: 'oroui/js/widget/collapse-widget',
             storageKey: id
         }|json_encode() }}"
    >
        <div {{ block('block_attributes') }}>
            <h3 class="primary-menu-title" data-collapse-trigger>
                {{ 'oro.customer.frontend.menu.account_user_profile.label'|trans }}
                <i class="fa-plus"></i>
                <i class="fa-minus"></i>
            </h3>
            <div data-collapse-container>
                {{ block_widget(block) }}
            </div>
        </div>
    </div>
{% endblock %}
