<div class="table-responsive">
    <table>
        <thead>
            <tr>
                <th>
                    <div>Header Cell</div>
                </th>
                <th>
                    <div>Header Cell</div>
                </th>
                <th>
                    <div>Header Cell</div>
                </th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>
                    <div>Body cell</div>
                </td>
                <td>
                    <div>Body cell</div>
                </td>
                <td>
                    <div>Body cell</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>Body cell</div>
                </td>
                <td>
                    <div>Body cell</div>
                </td>
                <td>
                    <div>Body cell</div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
