{% block _matrix_order_actions_widget %}
    <button type="reset" data-role="close" class="btn btn--action btn--size-s">{{ 'Close'|trans }}</button>
    <button type="submit" data-role="action" class="btn btn--info btn--size-s">{{ 'Update'|trans }}</button>
{% endblock %}
