.product-price-filter {
  display: inline-block;
  vertical-align: top;

  line-height: 37px;

  @media (max-width: 991px) {
    display: block;
  }
  .product-price-unit-filter-separator {
    margin: 0 1rem;
  }
}
