/* @theme: custom; */

.sidebar__menu {
    .collapse-view {
        &__trigger-icon-wrap {
            margin-right: 5px;
            margin-left: 5px;
            line-height: 1;
        }

        &__text {
            vertical-align: middle;

            font-weight: font-weight('bold');
        }
    }
}
