/* @theme: custom; */

.sidebar__menu {
  .collapse-view {
    &__trigger {
      margin-right: 5px;
      margin-left: 5px;
      line-height: 1;
    }

    &__text {
      vertical-align: middle;

      font-weight: 700;
    }
  }
}

@include breakpoint('tablet') {
    .main-menu-outer {
        display: none;
    }
}
