{% extends '@OroAction/Operation/form.html.twig' %}

{% block widget_content_inner %}
    <div class="alert alert-info" role="alert">
        {{ 'oro.payment.payment_transaction.refund.message'|trans({'%amount%': context.amountWithCurrency}) }}
    </div>
    {{ parent() }}
{% endblock %}

{% block form_inner %}
    <div class="form-vertical">
        {{ parent() }}
    </div>
{% endblock %}
