{% block _product_view_microdata_container_widget %}
    {% if productPrices is defined and productPrices is not empty%}
        {% set attr = layout_attr_defaults(attr, {
            'itemscope': '',
            'itemtype': 'http://schema.org/Product'
        }) %}
    {% endif %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}
