{% block _product_view_microdata_container_widget %}
    {% if productPrices is defined and productPrices is not empty%}
        {% set attr = layout_attr_defaults(attr, {
            'itemscope': '',
            'itemtype': 'http://schema.org/Product'
        }) %}
    {% endif %}
    {% set schemaOrgDescriptionContent %}
        {% if
            schemaOrgDescriptionEnabled and
            schemaOrgDescription is defined and
            schemaOrgDescription is not empty
        %}
            <meta itemprop="description" content="{{ schemaOrgDescription }}" />
        {% endif %}
    {% endset %}
    <div {{ block('block_attributes') }}>
        {% if schemaOrgDescriptionContent is defined %}
            {{ schemaOrgDescriptionContent }}
        {% endif %}
        {{ block_widget(block) }}
    </div>
{% endblock %}
