.sale-quoteproduct-collection-table {
    margin-left: 90px;
}

.sale-quoteproduct-collection-table label {
    text-transform: none !important;
}

.sale-quoteproduct-collection-table-view {
    margin-left: inherit;
}

.sale-quoteproduct-collection-table-view > tbody > tr > td {
    vertical-align: top;
}

.sale-quoteproduct-collection-table > tbody > tr > td,
.sale-quoteproduct-collection-table th {
    border: 1px solid #e5e5e5;
    padding: 10px;
    vertical-align: top;
}

.sale-quoteproduct-collection .btn.add-list-item {
    margin-left: 90px;
    margin-top: 7px;
}

.sale-quoteproduct-collection .row-oro.oro-multiselect-holder {
    margin-bottom: 0;
}

.sale-quoteproduct-collection .btn.removeRow {
    position: absolute;
    width: 28px;
    top: 11px;
    left: 388px;
}

.sale-quoteproduct-widget.control-group {
    max-width: none;
}

.sale-quoteproduct-widget.control-group .controls {
    float: left;
    margin-left: 10px;
}

.sale-quoteproduct-widget .selector {
    margin-left: 0;
}

.sale-quoteproduct-widget .btn.removeRow {
    position: absolute;
    width: 28px;
    right: -5px;
    left: auto;
}

.sale-quoteproductitem-collection .btn.removeRow {
    position: absolute;
    width: 28px;
    right: 0;
    top: 11px;
    left: auto;
}

.sale-quoteproductitem-collection {
    float: left;
    width: 100%;
}

.sale-quoteproductoffer-collection .btn.add-list-item {
    margin-top: 1px;
}

.sale-quoteproductoffer-collection > div > div > div {
    padding-right: 14px;
}

.sale-quoteproductitem-widget {
    margin-right: 15px;
}

.sale-quoteproductitem-widget-quantity,
.sale-quoteproductitem-widget-more,
.sale-quoteproductitem-widget-productunit,
.sale-quoteproductitem-widget-price {
    width: 150px;
    vertical-align: top;
    padding-bottom: 4px;
}

.sale-quoteproductitem-widget-quantity {
    padding-top: 5px;
}

.sale-quoteproductitem-widget-more {
    padding-top: 10px;
}

.sale-quoteproductitem-widget-pricetype {
    display: none;
}
.sale-quoteproductitem-widget-pricetype > div {
    margin-bottom: -10px;
}

.sale-quoteproductitem-widget-productunit {
    padding-top: 5px;
}

.sale-quoteproductitem-widget-price {
    padding-top: 5px;
    width: auto !important;
}

.sale-quoteproductitem-widget-price table {
    position: relative;
}

.sale-quoteproductitem-widget-price .selector {
    margin: 0;
}

.sale-quoteproductitem-widget-price .product-tier-prices i {
    margin-right: 0;
}

.sale-quoteproductitem-widget-price input[type="text"] {
    text-align: right;
    padding-left: 17px;
}

.sale-quoteproductitem-widget td span.validation-failed {
    padding-top: 2px;
}

.sale-quoteproductitem-widget td .control-group div.control-label {
    width: 120px;
}

.sale-quoteproductitem-widget input[type="number"],
.sale-quoteproductitem-widget input[type="text"] {
    width: 120px !important;
}

.sale-quoteproductitem-widget select {
    width: 120px !important;
    height: 20px;
    margin: 0;
}

.sale-quoteproduct-product {
    padding: 0;
    vertical-align: top;
}

.sale-quoteproduct-product-select button {
    float: none;
}

.sale-quoteproducts-info.control-group {
    max-width: none;
}

.sale-quoteproductitems-info {
    padding: 5px 0 0 10px;
}

.sale-quoteproductitems-info > table {
    margin-bottom: 10px;
    width: 100%;
}

.sale-quoteproductitems-info > table th,
.sale-quoteproductitems-info > table td {
    padding: 10px;
    border: 1px solid #e5e5e5;
}

.sale-quoteproductitem-collection .oro-item-collection > div {
    border: 1px solid #e6e6e6 !important;
    background: #f8f8f8 !important;
    border-radius: 4px !important;
    padding-top: 5px;
    padding-left: 5px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.sale-quoteproductitem-collection .oro-item-collection > div > table {
    margin-top: 7px;
    margin-bottom: 7px;
}

.sale-quoteproductitem-widget-last-line td {
    width: 280px;
}

.sale-quoteproductitem-widget-last-line label {
    width: auto !important;
}

.sale-quoteproductitem-widget-last-line input,
.sale-quoteproductitem-widget-last-line select {
    max-width: 180px !important;
}

.sale-quoteproductitem-widget .validate-group {
    min-width: 145px;
}

.sale-quoteproduct-table-column-1 {
    vertical-align: top;
    min-width: 330px;
    width: 330px;
}

.sale-quoteproduct-table-column-2 {
    vertical-align: top;
    min-width: 260px;
    width: 260px;
}

.sale-quoteproduct-table-column-3 {
    min-width: 870px;
    width: 870px;
}

.sale-quoteproduct-collection .oro-item-collection>div {
    margin-top: -1px !important;
}

.sale-quoteproductitem-widget input[type="checkbox"],
.sale-quoteproductitem-widget input[type="radio"] {
    margin-top: 0 !important;
}

.sale-quoteproductitem-collection .btn.add-list-item {
  margin-left: 741px;
  position: absolute;
}

.sale-quoteproductitem-widget .control-group {
    margin: 0;
}

.sale-quoteproduct-product-replacement-select {
    margin-top: 10px;
    display: none;
}

.sale-quoteproduct-product-replacement-select .controls{
    margin-left: 0 !important;
}

.sale-quoteproduct-product-replacement-select label{
    width: auto !important;
}

.sale-quoteproduct-product-replacement-select .entity-select-btn {
    float: none;
}

.sale-quoteproduct-notes .control-group {
    max-width: none;
    margin-top: 15px;
}

.sale-quoteproduct-notes .control-group textarea {
    width: 98%;
}

.sale-quoteproduct-remove-notes-btn {
    float: right;
}

.sale-quoteproduct-notes-seller {
    display: none;
}

.sale-quoteproduct-notes-seller-active .sale-quoteproduct-notes-seller {
    display: block;
}

.sale-quoteproduct-notes-seller-active .sale-quoteproduct-add-notes-btn {
    visibility: hidden;
    margin-top: 1px;
}

.sale-quoteproductrequest-collection label {
    width: 115px !important;
}

.sale-quoteproductrequest-collection .controls {
    margin-left: 125px !important;
}

.sale-quote-form .account-accountuser-select .entity-select-btn {
    display: none;
}

.sale-quote-form .account-accountuser-select .select2-container {
    width: 257px !important;
}
