<div class="one-column-banner-call-to-action">
    <figure>
        <picture>
            <source srcset="/img/banner_360.jpg.webp" media="(max-width: 430px)" type="image/webp">
            <source srcset="/img/banner_768.jpg.webp" media="(max-width: 768px)" type="image/webp">
            <source srcset="/img/banner_1280.jpg.webp" media="(max-width: 1280px)" type="image/webp">
            <source srcset="/img/banner_1920.jpg.webp" media="(min-width: 1281px)" type="image/webp">

            <source srcset="/img/banner_360.jpg" media="(max-width: 430px)" type="image/jpeg">
            <source srcset="/img/banner_768.jpg" media="(max-width: 768px)" type="image/jpeg">
            <source srcset="/img/banner_1280.jpg" media="(max-width: 1280px)" type="image/jpeg">
            <source srcset="/img/banner_1920.jpg" media="(min-width: 1281px)" type="image/jpeg">
            <img src="/img/banner_1920.jpg" alt="Image">
        </picture>
        <figcaption>
            <div class="grid grid-columns-1 grid-row-gap-8">
                <h1>B2B eCommerce Features</h1>
                <h5>Reduce the complexity of your custom projects with the features of our out-of-the-box B2B eCommerce solutions</h5>
                <div class="grid grid-responsive-content grid-place-self-end-center">
                    <div class="grid-col-mobile-12">
                        <a href="#" class="btn btn--full">View All Features</a>
                    </div>
                </div>
            </div>
        </figcaption>
    </figure>
</div>
