<div class="three-columns-call-to-action">
    <div class="grid">
        <div class="grid-col-12">
            <h6 class="grid-sub-title">Looking for game-changing industry insights?</h6>
            <h2>Explore these resources for manufacturer eCommerce</h2>
        </div>
        <div class="grid-col-4 grid-col-mobile-big-6 grid-col-mobile-12 bordered grid-item">
            <div class="picture-wrapper">
                <picture class="stretch">
                    <source media="(max-width: 640px)" srcset="/img/no_image-200--v-offsets.svg" type="image/svg+xml">
                    <img src="/img/no_image-200--v-offsets.svg" class="full-cover cover-img bordered-img-on-top" alt="No Image">
                </picture>
            </div>
            <div class="grid grid-columns-1 grid-row-gap-16 offset-inner grid-item__text">
                <div class="grid-col grid grid-columns-1 grid-row-gap-8">
                    <h3>Building a Winning B2B eCommerce Team</h3>
                    <p class="extra-text-dark">Build a great B2B eCommerce team to build a great eCommerce business. Follow these recommendations to build a successful team.</p>
                </div>
                <div class="grid-col grid-item__bottom grid grid-max-content">
                    <a href="#" class="btn grid-col-mobile-12">Download The Copy</a>
                </div>
            </div>
        </div>
        <div class="grid-col-4 grid-col-mobile-big-6 grid-col-mobile-12 bordered grid-item">
            <div class="picture-wrapper">
                <picture class="stretch">
                    <source media="(max-width: 640px)" srcset="/img/no_image-200--v-offsets.svg" type="image/svg+xml">
                    <img src="/img/no_image-200--v-offsets.svg" class="full-cover cover-img bordered-img-on-top" alt="No Image">
                </picture>
            </div>
            <div class="grid grid-columns-1 grid-row-gap-16 offset-inner grid-item__text">
                <div class="grid-col grid grid-columns-1 grid-row-gap-8">
                    <h3>Get Started on B2B eCommerce with Our Sample RFP Template</h3>
                    <p class="extra-text-dark">This customizable RFP template helps you simplify the process of evaluating B2B eCommerce solutions.</p>
                </div>
                <div class="grid-col grid-item__bottom grid grid-max-content">
                    <a href="#" class="btn grid-col-mobile-12">Download The Copy</a>
                </div>
            </div>
        </div>
        <div class="grid-col-4 grid-col-mobile-big-6 grid-col-mobile-12 bordered grid-item">
            <div class="picture-wrapper">
                <picture class="stretch">
                    <source media="(max-width: 640px)" srcset="/img/no_image-200--v-offsets.svg" type="image/svg+xml">
                    <img src="/img/no_image-200--v-offsets.svg" class="full-cover cover-img bordered-img-on-top" alt="No Image">
                </picture>
            </div>
            <div class="grid grid-columns-1 grid-row-gap-16 offset-inner grid-item__text">
                <div class="grid-col grid grid-columns-1 grid-row-gap-8">
                    <h3>Overcome Uncertainty With A Future-Proof B2B Platform</h3>
                    <p class="extra-text-dark">An overview of how B2B organizations can make the right technology and organizational moves to succeed in the future.</p>
                </div>
                <div class="grid-col grid-item__bottom grid grid-max-content">
                    <a href="#" class="btn grid-col-mobile-12">Download The Copy</a>
                </div>
            </div>
        </div>
    </div>
</div>
