{% import 'OroUIBundle::macros.html.twig' as ui %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ ui.renderProperty('orob2b.payment.paymentterm.label.label'|trans, entity.label) }}
        </div>
    </div>
</div>
