.top-selling-items {
    position: relative;

    margin-top: 52px;

    & .embedded-list {
        margin: 0 42px;
    }
}

@include breakpoint('mobile') {
    .top-selling-items {
        margin-top: 20px;

        & .embedded-list {
            margin: 0;
        }
    }
}
