{% block _payment_methods_apruve_widget %}
    <div class="{{ class_prefix }}__form__payment-methods">
        <div>{{ 'oro.apruve.payment_method.option.description'|trans|nl2br }}</div>
    </div>
{% endblock %}
