.order-line-item-offers {
  td {
    &.order-line-item-offers-radio {
      min-width: 20px;
    }

    &.order-line-item-offers-quantity,
    &.order-line-item-offers-price {
      min-width: 120px;
      text-align: center;
    }
  }

  input[type="radio"] {
    vertical-align: top !important;
  }

  label {
    margin-bottom: 0;
  }
}
