.request-form-input {
	.select2-container {
		&.input {
			&_block {
				width: 100%;
			}

			&--size {
				&-m {
					padding: 4px 9px !important;
				}
			}
		}

		&-multi {
			.select2-choices {
				min-height: 0;

				.select2-search-field {
					input {
						margin: 3px 0;
						padding: 3px 0;
					}
				}

				.select2-search-choice {
					line-height: 12px;
				}
			}
		}
	}
}