<h1 class="<%= additionalClass %> nmmt4-md" >
    <span><%= value %></span>
    <button class="button-icon fs18 gray" data-role="start-editing">
        <% if (tooltip) { %>
        <span class="ttip__wrap">
            <i class="cf-pencil ttip__toggle"></i>
                <span class="ttip">
                <span class="ttip__content ttip__content_dark"><%= tooltip %></span>
            </span>
        </span>
        <% } else { %>
        <i class="cf-pencil ttip__toggle"></i>
        <% } %>
    </button>
</h1>
