.fallback-container td {
    vertical-align: top;
    line-height: 28px;
}

.fallback-container input[type="radio"],
.fallback-container input[type="checkbox"] {
    margin-top: 0px;
}
.fallback-container div.selector {
    width: auto !important;
    float: left;
}

.fallback-container select {
    width: auto !important;
}

.mce-tinymce.disabled button {
    cursor: default;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    opacity: .4;
    filter: alpha(opacity=40);
    zoom: 1
}

.fallback-item-value,
.fallback-item-label{
    white-space: nowrap;
}
