.fallback-container td {
    vertical-align: top;
    line-height: 28px;
}

.fallback-container input[type="radio"],
.fallback-container input[type="checkbox"] {
    margin-top: 0px;
}
.fallback-container div.selector {
    width: auto !important;
    float: left;
}

.mce-tinymce.disabled button {
    opacity: .4;
}

.mce-tinymce.disabled .disabled-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #eeeeee;
    opacity: .4;
}

.fallback-item-value,
.fallback-item-label{
    white-space: nowrap;
}

.fallback-default-field {
    float: left;
}

.fallback-status {
    font-size: 20px;
    float: left;
}

.fallback-status i {
    cursor: pointer;
}
