.request-form-lines {
    width: 100%;
    
    td {
        padding-bottom: 8px;

        &:not(:first-child) {
            padding-left: 5px;
        }
    }

    .rfp-lineitem-requested-label {
        min-width: 100px;
        text-align: right;

        &:not(:first-child) {
            padding-left: 15px;
        }
    }
}

@include breakpoint('tablet') {
    .request-form-lines {
        .rfp-lineitem-requested-label {
            display: none;
        }
    }
}
