{% block _search_title_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' category-title'
    }) %}

    {% if category_title is defined and category_title is not empty %}
        <h1 {{ block('block_attributes') }}>{{ 'oro.product.search.search_in_category.title'|trans({'%count%': text|length, '%text%': text, '%category%': category_title})|e }}</h1>
    {% else %}
        <h1 {{ block('block_attributes') }}>{{ 'oro.product.search.search_title.title'|trans({'%count%': text|length, '%text%': text})|e }}</h1>
    {% endif %}
{% endblock %}
