{% block _product_datagrid_row__product_low_inventory_label_widget %}
    {% if (product.low_inventory) %}
        <p class="grid__row product-low-inventory">{{ "oro.inventory.low_inventory.label"|trans }}</p>
    {% endif %}
{% endblock %}
