.categories-widget {
  margin: 3px 0 0;

  background: $theme-lightest-gray-color;

  &__badge {
    i {
      font-size: 16px;
    }
  }
}

.nested-list__trigger {
  .messages-widget__arrow {
    transform: rotate(-90deg);
  }

  &--expanded {
    .messages-widget__arrow {
      transform: rotate(0deg);
    }
  }
}
