/* @theme: admin.oro; */

.oro-promotions-collection.grid-container {
    td:first-child {
        white-space: nowrap;
        font-weight: font-weight('bold');
        font-size: 11px;
    }

    th.discount,
    td.discount {
        width: 80px;
        text-align: right;
    }

    tr.disabled td {
        color: $primary-860;
    }
}

.added-coupons-container {
    table {
        .fa-remove {
            cursor: pointer;
        }
    }
}

.select-coupon-container {
    display: flex;

    .btn.btn-primary {
        margin-left: $content-padding-small;
    }
}

input.dashesSequence-coupon-preview {
    width: 90px;
}

label.dashes-sequence-suffix-label {
    position: absolute;
    margin: 7px auto auto 117px;
}

.widget-content .added-coupons-container {
    margin-bottom: 10px;
}

.mobile-version {
    .select-coupon-container {
        display: block;

        .btn.btn-primary {
            margin-left: 0;
            margin-top: $content-padding-small;
        }
    }
}
