{% block _hero_promo_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
    '~class': ' hero-promo'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _hero_promo_widget %}
    {{ contentBlock.content|oro_html_tag_trim(['script','style', 'link']) }}
{% endblock %}
