{% set result = form.vars.result|default({}) %}
{% if result.row is defined and result.row.includingTax is defined %}
    <div data-page-component-module="orob2btax/js/app/components/order-line-item-item-component"
         data-page-component-options="{{ {type: 'row', value: 'includingTax'}|json_encode }}">
        <span data-value-container>
            {{ result.row.includingTax|oro_format_currency({currency: result.row.currency}) }}
        </span>
        <script type="text/html" id="tax-item-row-includingTax">
            <span><%= value %></span>
        </script>
    </div>
{% endif %}
