<% let oroui = _.macros('oroui') %>
<div class="filter-box <%- renderMode %>">
    <div class="filter-container">
        <div class="filter-container-header sticky sticky--top">
            <div class="filter-container-title">
                <p><%- _.__('oro.product.sidebar_filters.title') %></p>
            </div>

            <div class="filter-container-manager">
                <div class="filter-actions" data-role="filter-actions"></div>
            </div>

            <div class="filter-container-additional">
                <button type="button"
                        class="btn btn--icon btn--plain filter-container-close-btn"
                        data-role="close-sidebar"
                        aria-label="<%- _.__('oro_frontend.filter_manager.close_sidebar.aria_label') %>"
                >
                    <%= oroui.renderIcon({
                        name: 'close'
                    }) %>
                </button>
            </div>
        </div>
        <div class="filter-items-container" data-filters-items>
            <div class="filter-items"></div>
        </div>
    </div>
</div>
