/* @theme: custom; */

.filters-box-collapse {
    background: $filters-box-collapse-background;

    &__header {
        padding: $filters-box-collapse-header-inner-offset;
    }

    &__trigger {
        position: relative;

        text-transform: $filters-box-collapse-text-transform;
        text-align: $filters-box-collapse-text-align;
    }

    &__icon {
        position: absolute;
        top: $filters-box-collapse-icon-top;
        right: $filters-box-collapse-icon-right;
        transform: translateY(-$filters-box-collapse-icon-top);
    }
}
