{% import 'OroUIBundle::macros.html.twig' as UI %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {% set value %}
                {% if product.isVisible is same as(true) %}
                    {{ 'orob2b.product.visibility.visible.label'|trans }}
                {% elseif product.isVisible is same as(false) %}
                    {{ 'orob2b.product.visibility.not_visible.label'|trans }}
                {% else %}
                    {{ 'orob2b.product.visibility.as_defined_in_system_config.label'|trans }}
                {% endif %}
            {% endset %}
            {{ UI.renderProperty('orob2b.product.is_visible.label'|trans, value) }}
        </div>
    </div>
</div>
