.category-container {
    position: relative;
}
.category-container .category-tree {
    position: absolute;
    border-top: 1px solid #f2f2f2;
    width: 334px;
    overflow: auto;
}
.category {
    padding-left: 10px
}
.category-data {
    margin-left: 334px;
    border-left: 1px solid #f2f2f2;
}
