<div class="four-columns-text-features">
    <div class="grid">
        <div class="grid-col-12">
            <h2>Product Features</h2>
        </div>
        <div class="grid-col-12 grid grid-items">
            <div class="grid-col-3 grid-col-tablet-small-6 grid-col-mobile-landscape-12 grid grid-columns-1 grid-row-gap-16 border-row-mobile">
                <div class="grid grid-columns-1 grid-row-gap-4">
                    <h4>Feature One</h4>
                    <p class="extra-text-dark">Every new computer that’s brought home from the store has an operating system installed onto it. But what most new computer users don’t realize.</p>
                </div>
                <a href="#">Learn More ></a>
            </div>
            <div class="grid-col-3 grid-col-tablet-small-6 grid-col-mobile-landscape-12 grid grid-columns-1 grid-row-gap-16 border-row-mobile">
                <div class="grid grid-columns-1 grid-row-gap-4">
                    <h4>Feature Two</h4>
                    <p class="extra-text-dark">Earlier computers didn’t have an operating system and if you have experience with the computers of the early eighties.</p>
                </div>
                <a href="#">Learn More ></a>
            </div>
            <div class="grid-col-3 grid-col-tablet-small-6 grid-col-mobile-landscape-12 grid grid-columns-1 grid-row-gap-16 border-row-mobile">
                <div class="grid grid-columns-1 grid-row-gap-4">
                    <h4>Feature Three</h4>
                    <p class="extra-text-dark">Although liquid crystals are not really liquid, their molecules behave more like a liquid than they do like a solid, which earns them their name.</p>
                </div>
                <a href="#">Learn More ></a>
            </div>
            <div class="grid-col-3 grid-col-tablet-small-6 grid-col-mobile-landscape-12 grid grid-columns-1 grid-row-gap-16">
                <div class="grid grid-columns-1 grid-row-gap-4">
                    <h4>Feature Four</h4>
                    <p class="extra-text-dark">In an LCD screen, electric currents work at a microscopic level to control the amount of light that passes through the liquid crystal molecules.</p>
                </div>
                <a href="#">Learn More ></a>
            </div>
        </div>
    </div>
</div>
