<div class="two-columns-text-features">
    <div class="grid extra-block-bg">
        <div class="grid-col-6 grid-col-mobile-big-12 grid grid-columns-1 grid-article border-columns grid-col-inner-offset-right grid-col-inner-offset-bottom-mobile">
            <div class="grid-col grid grid-columns-1 grid-row-gap-4">
                <h3>Architectural Floodlighting</h3>
                <p>Browse our selection of architectural floodlighting solutions engineered to illuminate residential yards, gardens, draw attention to architectural facades of public areas.
                    You can change the brightness, color, warmth, and orientation of the lights to create special lighting effects, highlight large areas, or use them for security purposes. Models include 400/500/600-watt bulb work lights and 12-volt rechargeable searchlight sets.</p>
            </div>
            <div class="grid-col">
                <a href="#">Explore Architectural Floodlighting {{ widget_icon("chevron-right"}) }}</a>
            </div>
        </div>
        <div class="grid-col-6 grid-col-mobile-big-12 grid grid-columns-1 grid-article grid-col-inner-offset-left grid-col-inner-offset-top-mobile">
            <div class="grid-col grid grid-columns-1 grid-row-gap-4">
                <h3>Medical Apparel</h3>
                <p>Complete the look of your medical team with our high-quality medical apparel. We have everything that your staff might need for each shift, from fashion scrub tops, caps, sets, and lab coats to slip-on clogs and nursing shoes. Our medical apparel is designed in various colors, styles, and fabrics, projecting a professional image</p>
            </div>
            <div class="grid-col">
                <a href="#">Explore Architectural Floodlighting {{ widget_icon("chevron-right"}) }}</a>
            </div>
        </div>
    </div>
</div>
