<div class="two-and-one-columns-button-feature">
    <div class="grid">
        <div class="grid-col-12 grid grid-columns-1 grid-row-gap-8">
            <h2>Features</h2>
            <p>HDMI, or high definition multimedia interface, is a type of audio and video interface that is used for the transmission of uncompressed digital streams. Essentially, HDMI can be considered an alternative method to transmitting data streams, rather than making use of conventional methods such as coaxial cabling, VGA, or component video equipment.</p>
        </div>
        <div class="grid-col-12 grid grid-columns-2 grid-two-columns">
            <div class="grid-col grid-col-tablet-12 grid-col-mobile-landscape-12 grid">
                <div class="grid-col-6 grid-col-mobile-landscape-12 grid grid-columns-1 grid-row-gap-24 extra-block-bg">
                    <div class="grid grid-columns-1 grid-row-gap-4">
                        <h4>Feature One</h4>
                        <p class="extra-text-dark">Every new computer that’s brought home from the store has an operating system installed onto it. But what most new computer users don’t realize.</p>
                    </div>
                    <a href="#">Learn More <span class="fa-angle-right fa--link-r"></span></a>
                </div>
                <div class="grid-col-6 grid-col-mobile-landscape-12 grid grid-columns-1 grid-row-gap-24 extra-block-bg">
                    <div class="grid grid-columns-1 grid-row-gap-4">
                        <h4>Feature Two</h4>
                        <p class="extra-text-dark">So you’re trying to surf a site like myspace, hotmail or yahoo mail from work or school and its blocked by your school, work or government.</p>
                    </div>
                    <a href="#">Learn More <span class="fa-angle-right fa--link-r"></span></a>
                </div>
            </div>
            <div class="grid-col grid-col-tablet-12 grid-col-mobile-landscape-12 grid grid-columns-1 grid-row-gap-24">
                <div class="grid grid-columns-1 grid-row-gap-4">
                    <h4>Compatible Inkjet Cartridge Which One Will You Choose</h4>
                    <p class="extra-text-dark">“The moment you think of buying a Web Hosting Plan, you know one thing – So many choices, which one to choose? Whether you would want to choose Shared Linux Packages or a Unix Package or do you want to go for a shared windows package or packages reseller for hosting?.</p>
                </div>
                <div class="grid grid-max-content">
                    <a href="#" class="btn grid-col-mobile-12">View All Features</a>
                </div>
            </div>
        </div>
    </div>
</div>
