.main-menu-outer {
    position: relative;
}

.main-menu {
    display: flex;
    flex-grow: 1;

    margin: 0;
    padding: 0;

    list-style: none;

    vertical-align: middle;

    border-bottom: 0;

    &__item {
        flex-grow: 1;
    }

    &__link {
        display: block;

        padding: 14px 0;

        line-height: 1.5;
        text-align: center;
        text-transform: uppercase;

        color: get-color('additional', 'dark');

        &:hover,
        &:focus {
            text-decoration: none;

            color: get-color('additional', 'dark');
        }
    }
}

@include breakpoint('desktop') {
    .main-menu-outer {
        display: flex;
    }

    .main-menu {
        display: flex !important;
    }
}

@include breakpoint('tablet') {
    .main-menu {
        display: block;

        max-height: none;
        padding: 7px 15px 0 15px;

        font-weight: bold;

        &__sublist_subnested {
            display: none;
        }

        &__categories {
            display: none;
            padding-top: 0;
        }

        &__item {
            position: relative;

            min-height: inherit;
        }

        &__link {
            font-size: 14px;
            font-weight: bold;

            padding: 8px 0 7px;

            text-align: left;

            &--active {
                position: relative;
                padding-left: 15px;

                .cf-down-open-mini {
                    position: absolute;
                    left: 0;
                    top: 50%;

                    margin: 0;
                    margin-top: -7px;

                    transform: rotate(90deg);
                }
            }
        }
    }
}
