{% block _quick_add_import_help_widget %}
    <div class="alert alert-info import-notice">
        <strong>Important</strong>:
        Only correct data will be processed. Incorrect data will be ignored
    </div>

    <h5>Follow the steps below to import multiple products using an CSV, XLSX or ODS file.</h5>


    <ol>
        <li>Click here to download
            <a target="_blank" href="{{ asset('bundles/oroproduct/data-templates/quick-add/quick-order.csv') }}">the CSV template</a>,
            <a target="_blank" href="{{ asset('bundles/oroproduct/data-templates/quick-add/quick-order.xlsx') }}">the XLSX template</a>, or
            <a target="_blank" href="{{ asset('bundles/oroproduct/data-templates/quick-add/quick-order.ods') }}">the ODS template</a>
        </li>
        <li>Enter item numbers in Column A and quantities needed in Column B. Please do not include any prefixes, dashes, or other punctuation in the item numbers.</li>
        <li>Save the file on your computer. CSV format (.csv) is recommended and click Upload.</li>
    </ol>

{% endblock %}
