{% extends 'OroUIBundle:actions:index.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}

{% set pageTitle = 'oro.promotion.coupon.entity_plural_label'|trans %}

{% block navButtons %}

    {% include 'OroImportExportBundle:ImportExport:buttons_from_configuration.html.twig' with {
        'alias': 'oro_coupon'
    } %}

    {% if resource_granted('oro_promotion_coupon_create') %}
        <div class="btn-group pull-right">
            {{ UI.addButton({
                'path': path('oro_promotion_coupon_create'),
                'entity_label': 'oro.promotion.coupon.entity_label'|trans
            }) }}
        </div>
    {% endif %}
{% endblock %}

