<span id="pagestate-routes" data-pagestate-post-route = "oro_api_frontend_post_pagestate"
      data-pagestate-put-route ="oro_api_frontend_put_pagestate"
      data-pagestate-checkid-route ="oro_api_frontend_get_pagestate_checkid"
></span>
