{% import 'OroUIBundle::macros.html.twig' as UI %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ UI.renderProperty('oro.cms.page.titles.singular_label'|trans, entity.defaultTitle) }}
            {{ UI.renderProperty('oro.cms.page.slug_prototypes.label'|trans, entity.defaultSlugPrototype) }}
        </div>
    </div>
</div>
