/* @theme: default; */

// Selector's weight is increased to make product kit styles more important then styles for page templates
.product-kit-view.product-view {
    .product-view__content {
        display: flex;
        gap: 32px;
    }

    .product-view__kit-container,
    .product-view__description {
        width: 100%;
    }
}
