/* @theme: default; */

.product-kit-line-items {
    display: flex;
    flex-direction: column;
    row-gap: spacing('base');

    &:empty {
        display: none;
    }

    &__item-name {
        padding-right: spacing('xs');
    }

    &__item-quantity {
        padding-right: spacing('xs');
        color: $product-kit-line-items-quantity-color;
    }

    &__item-price {
        font-weight: bold;
    }
}
