/* @theme: default; */

.product-kit-line-items {
    display: flex;
    flex-direction: column;
    row-gap: spacing('xs');

    &__item-name {
        padding-right: spacing('sm');
    }

    &__item-quantity {
        color: $product-kit-line-items-quantity-color;
    }
}
