/* @theme: blank; */

.responsive-shopping-list-grid {
    .grid-row {
        background-color: rgba(255, 255, 255, 0);
        transition: background-color 300ms ease-in-out;

        &.highlight {
            background-color: get-color('ui', 'warning');
        }

        &.loading {
            .grid-cell:last-child {
                @extend .loading-bar-lines;

                &:after {
                    left: -9999px;
                }
            }
        }

        &.success {
            background-color: get-color('ui', 'success');
        }

        &.error {
            background-color: get-color('ui', 'error');
        }
    }
}

@include breakpoint('mobile') {
    .grid-row {
        &--loading {
            position: relative;
            .grid-cell:last-child {
                position: static !important;

                &:after {
                    left: 0;
                }
            }
        }
    }
}

