/* @theme: blank; */

@include keyframe('green-pulse') {
    0% {
        background: rgba($shopping-list-grid-effect-success, 0);
        box-shadow: inset 0 0 0 0 $shopping-list-grid-effect-success;
    }

    45% {
        transform: scale(1.005);
    }

    50% {
        transform: scale(1);
        background: rgba($shopping-list-grid-effect-success, 0.8);
        box-shadow: inset 0 0 0 0 $shopping-list-grid-effect-success;
    }
    50% {
        transform: scale(1);
        background: rgba($shopping-list-grid-effect-success, 1);
        box-shadow: 0 0 0 0 $shopping-list-grid-effect-success;
    }

    100% {
        transform: scale(1);
        background: rgba($shopping-list-grid-effect-success, 1);
        box-shadow: 0 0 0 30px rgba(#fff, 0);
    }
}

@include keyframe('red-pulse') {
    0% {
        background: rgba($shopping-list-grid-effect-error, 0);
        box-shadow: inset 0 0 0 0 $shopping-list-grid-effect-error;
    }

    45% {
        transform: scale(1.005);
    }

    50% {
        transform: scale(1);
        background: rgba($shopping-list-grid-effect-error, 0.8);
        box-shadow: inset 0 0 0 0 $shopping-list-grid-effect-error;
    }
    50% {
        transform: scale(1);
        background: rgba($shopping-list-grid-effect-error, 1);
        box-shadow: 0 0 0 0 $shopping-list-grid-effect-error;
    }

    100% {
        transform: scale(1);
        background: rgba($shopping-list-grid-effect-error, 1);
        box-shadow: 0 0 0 30px rgba(#fff, 0);
    }
}

@keyframes loading-overlay {
    0% {
        box-shadow: inset 0 0 0 0 $shopping-list-grid-effect-success;
    }
    100% {
        box-shadow: inset 80em 0 0 0 $shopping-list-grid-effect-success;
    }
}

.responsive-shopping-list-grid {
    .grid-row {
        background-color: rgba(255, 255, 255, 0);
        transition: $shopping-list-grid-effect-transition;

        &.highlight-error,
        &.highlight {
            position: relative;
            z-index: 20;

            &:not(.notification-row) {
                border-bottom: none;

                > .grid-body-cell {
                    border-bottom: none;
                }
            }

            + .notification-row {
                .notification-container {
                    z-index: 21;
                    position: relative;
                }
            }
        }

        &.loading {
            overflow: hidden;

            .grid-cell {
                @include loading-blur-overlay;
            }
        }

        &.success {
            animation: green-pulse 1s cubic-bezier(.92,1.07,.93,.42);
            background-color: $shopping-list-grid-effect-success;
        }

        &.error {
            animation: red-pulse 1s cubic-bezier(.92,1.07,.93,.42);
            background-color: $shopping-list-grid-effect-error;
        }
    }
}

@include breakpoint('mobile-landscape') {
    .responsive-shopping-list-grid {
        .grid-row {
            &.loading {
                @include loading-blur-overlay;

                .grid-cell {
                    position: static;

                    &:before {
                        content: none;
                    }
                }
            }
        }
    }
}

