/* @theme: admin.oro; */

.create-draft-container {
    margin-top: $create-draft-container-margin-top;
    padding: $create-draft-container-padding;

    border: $create-draft-container-border;
    background-color: $create-draft-container-bg;

    --row-form-background-color: #{$create-draft-container-bg};
    --row-form-background-color-hover: #{$create-draft-container-bg};

    .grid-main-container {
        padding: $create-draft-container-inner-padding;
        background-color: transparent;
    }

    &__title {
        margin-bottom: $create-draft-container-title-margin-bottom-base - $oro-datagrid-body-cell-inner-top;
        padding: $create-draft-container-title-padding;

        font-weight: font-weight('semi-bold');
    }

    .grid-body-cell-update-form {
        padding-bottom: 0;

        border-bottom-width: 0;
    }
}

.order-line-item-draft-create-cell {
    height: $order-line-item-draft-create-cell-height;
}
