/* @theme: default; */

$category-title-font-size: 24px !default;
$category-title-line-height: 1.8 !default;
$category-title-text-align: center !default;

$category-title-divide-content-width: 100% !default;
$category-title-divide-content-offset: spacing('base') 0 !default;
$category-title-divide-content-inner-offset: spacing('sm') 0 !default;
$category-title-divide-content-border-bottom: 1px solid get-color('neutral', 'grey2') !default;
