/* @theme: default; */

$category-picture-offset-bottom: $offset-y - 1px !default;
$category-picture-border: 1px solid get-color('additional', 'light') !default;
$category-picture-image-width: 100% !default;
