/* @theme: default; */

$category-picture-offset-bottom: spacing('base') - 1px !default;
$category-picture-border: 1px solid get-color('neutral', 'grey1') !default;
$category-picture-image-width: 100% !default;
