// @theme: default;

$featured-categories-offset: 35px 0 5px 0 !default;
$featured-categories-offset-tablet-small: 25px 0 5px 0 !default;

$featured-categories-embedded-list-item-width: calc(25% - #{$offset-x / 2}) !default;
$featured-categories-embedded-list-item-offset: 15px 0 10px !default;
$featured-categories-embedded-list-item-text-align: center !default;

// tablet-small
$featured-categories-embedded-list-item-width-tablet-small: calc(33.33% - #{$offset-x / 2}) !default;
$featured-categories-embedded-list-item-offset-bottom-tablet-small: 25px !default;

// mobile-landscape
$featured-categories-embedded-list-item-width-mobile-landscape: calc(50% - #{$offset-x / 2}) !default;
$featured-categories-embedded-list-item-offset-bottom-mobile-landscape: 20px !default;

// mobile
$featured-categories-embedded-list-item-width-mobile: 100% !default;
$featured-categories-embedded-list-item-offset-bottom-mobile: 15px !default;
