/* @theme: default; */

$promo-slider-title-font-size: 56px;
$promo-slider-title-text-transform: uppercase;
$promo-slider-description-font-size: 18px;
$promo-slider-description-view-btn-text-transform: uppercase;

// Tablet
$promo-slider-title-font-size-tablet: 30px;
