$grid-gutter-width: 30px;
$embedded-edge: 84px;
$slick-gap-width: 27px;
$slick-slide-count: 4;
$image-holder-max-height: 249px;

.featured-products {
    & .embedded-list__container--slider {
        & .slick-arrow {
            top: calc(((100vw - #{$grid-gutter-width + $embedded-edge}) / #{$slick-slide-count} - #{$slick-gap-width}) / 2);

            margin-top: 24px;

            transform: translate(0, -50%);

            @media screen and (min-width: ($image-holder-max-height + $slick-gap-width) * $slick-slide-count + $embedded-edge + $grid-gutter-width) {
                top: $image-holder-max-height / 2;
            }
        }
    }

    & .embedded-list__item {
        width: 25%;
    }
}

@include breakpoint('desktop') {
    .featured-products {
        & .embedded-list {
            margin: 0 42px;
        }

        & .embedded-list__label {
            margin-left: -42px;
            margin-right: -42px;
        }
    }
}

@include breakpoint('mobile') {
    .featured-products {
        & .embedded-list__container--slider {
            margin: 0 0 0 -16px;
        }

        & .embedded-list__container--slider::before {
            left: 0;

            width: 16px;
        }

        & .embedded-list__item {
            width: 50%;
        }
    }
}
