{% block _checkout_form_fields_widget %}
    {{ form_errors(form.shipping_method) }}
    <div class="hidden">
        <fieldset class="checkout__form__row">
            {{ form_widget(form.shipping_method) }}
            {{ form_widget(form.shipping_method_type) }}
        </fieldset>
    </div>
{% endblock %}
