/* @theme: custom; */

$search-container-inner-offset: null;

// Tablet
$search-container-tablet-margin: 0 !default;
$search-container-tablet-padding: $offset-y !default;
$search-container-tablet-border: 1px solid get-color('additional', 'light') !default;

$search-widget-input-submit-tablet-top: $search-container-tablet-padding !default;
$search-widget-input-submit-tablet-right: $offset-x !default;
