$check-email-page-bg: get-color('additional', 'base') !default;
$check-email-page-offset-inner: 55px 45px !default;
$check-email-page-offset-inner-relative: 55px 5% !default;
$check-email-page-offset-outer: 0 auto;
$check-email-page-width: 400px !default;

$check-email-page-width-tablet-small: 100% !default;
$check-email-page-offset-inner-tablet-small: 35px 20px !default;
