<div class="control-group">
    <label class="control-label">{{ 'orob2b.payment.methods.label'|trans }}</label>
    <div class="controls">
        <div class="control-label">
            {% if data is not empty %}
                {{ ('orob2b.payment.admin.' ~ data.paymentMethod ~ '.label')|trans }}
            {% else %}
                {{ 'oro.ui.empty'|trans }}
            {% endif %}
        </div>
    </div>
</div>
