<div class="control-group">
    <label class="control-label">{{ 'orob2b.payment.status.label'|trans }}</label>
    <div class="controls">
        <div class="control-label">
            {{ data ? 'orob2b.payment.status.%s'|format(data)|trans : 'oro.ui.empty'|trans }}
        </div>
    </div>
</div>
