{% block _payment_term_order_review_widget -%}
    {% if options.payment_method is defined %}
        <div class="hidden"
             data-page-component-module="orob2bpayment/js/app/components/payment-method-component"
             data-page-component-options="{{ {paymentMethod: options.payment_method}|json_encode }}">
        </div>
    {% endif %}
{%- endblock %}
