<div class="inline-view-editor__input-wrap">
    <input type="<%= inputType %>"
           value="<%= value %>"
           name="value"
           class="input input--size-x-s input--full"
           placeholder="<%= placeholder %>"
           autocomplete="off"
    />
</div>

<div class="inline-view-editor__btn-wrap">
    <button type="submit" class="btn btn--size-s"><%= _.__('oro_frontend.form.inlineEditing.action.save') %></button>
    <button class="btn btn--link btn--size-s" data-action="cancel"><%= _.__('oro_frontend.form.inlineEditing.action.cancel') %></button>
</div>

