.header-row-helper {
    &:checked + .header-row__container .header-row__trigger {
        z-index: auto;

        background: $base-white-color;
        box-shadow: inset 0 4px 4px -2px rgba(0, 0, 0, .2);
    }

    &:checked + .header-row__container .header-row__toggle {
        visibility: inherit;

        transition: opacity .2s;

        opacity: 1;
    }

    &:checked + .header-row-overlay {
        display: none;
    }
}
