{% block oro_payment_term_select_row %}
    <div class="control-group" 
         data-page-component-module="oroui/js/app/components/view-component"
         data-page-component-options="{{ {
             view: 'oropaymentterm/js/app/views/payment-term-view',
             selectionTemplate: include('@OroPaymentTerm/PaymentTerm/Autocomplete/selection.html.twig')
         }|json_encode }}"
         data-layout="separate">
        {{ form_row(form) }}
    </div>
{% endblock %}
