.footer-nav {
  &__title {
    margin: 0 0 15px;

    font-size: 16px;
    line-height: 1;
    text-transform: uppercase;
    white-space: nowrap;
  }

  &__list {
    @include list-normalize();

    margin: 0 0 50px;

    li {
      margin: 15px 0 0;
    }

    a {
      color: get-color('additional', 'dark');
    }

    @media (max-width: $screen-sm) {
      margin: 0 0 40px;
    }
  }
}

.footer-columns {
  float: left;

  @media (max-width: $screen-sm) {
    float: none;
  }

  &--one-third {
    width: 33.3333%;
    padding: 0 0 0 13%;

    @media (max-width: $screen-sm) {
      width: 100%;
      padding: 0;
    }
  }
}
