@mixin header-row-dropdown {
    position: absolute;
    z-index: z('dropdown');
    top: 100%;

    min-width: 260px;
    padding: 0;

    text-align: left;

    border: 1px solid get-color(additional, 'light');
    border-radius: 2px;
    background: get-color('additional', 'ultra');
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3);
}

.header-row {
    display: flex;

    max-width: $site-width;
    margin: 0 auto;

    justify-content: space-between;

    &__container {
        flex-basis: 210px;

        &--unstack {
            flex-grow: 4;
        }
    }

    &__trigger {
        border-right: 1px solid get-color('additional', 'ultra');

        &.active,
        &:hover {
            & + .header-row__toggle,
            .header-row__toggle {
                display: block;
            }
        }
    }

    &__dropdown {
        right: 0;

        @include header-row-dropdown;
    }
}

@include breakpoint('tablet') {
    .header-row {
        &__container {
            position: static;

            flex-grow: 1;
            flex-basis: auto;

            &--unstack {
                flex-grow: 1;
            }
        }

        &__toggle {
            display: block;

            position: absolute;
            z-index: 9;
            right: 0;
            left: 0;

            visibility: hidden;

            transition: opacity .2s, visibility .2s;

            opacity: 0;
        }

        &__dropdown {
            right: 0;
            left: 0;
        }

        &__dropdown-mobile {
            right: 0;
            left: 0;

            @include header-row-dropdown;
        }

        &__dropdown-mobile--scroll {
            top: 0 !important;
            bottom: 0;
            overflow-y: scroll;
        }
    }
}
