.main-menu {
  position: relative;

  border-bottom: 1px solid $theme-lighter-gray-color;

  .container-fluid {
    position: relative;
  }

  &__list {
    @include list-normalize();

    display: flex;

    @include clearfix();

    &--nested {
      display: block;

      font-size: 0;
    }
  }

  &__item {
    display: block;
    flex-grow: 1;

    &[data-dropdown-trigger] {
      &:hover {
        .main-menu__sublist-container {
          display: block;
        }

        .order-widget--dropdown-mode {
          display: block;
        }

        .messages-widget__dropdown-mode {
          display: block;
        }
      }
    }

    .messages-widget {
      &__trigger {
        margin-top: 9px;
      }

      &__title {
        margin-left: 5px;
      }
    }

    &--ancestor {
      &:hover {
        .main-menu__link {
          background: $theme-lightest-gray-color;
        }
      }
    }

    &--nested {
      position: relative;

      display: inline-block;
      vertical-align: middle;
      padding-left: 22px;
      padding-right: 24px;

      background: $theme-lightest-gray-color;
      font-size: $base-font-size;

      + .main-menu__item--nested {
        border-left: 1px solid $base-white-color;
      }

      .order-widget--dropdown-mode {
        top: 48px;

        display: none;

        .order-widget__item{
          &:first-child {
            border-top: 0;
          }
        }
      }
    }
  }

  &__link {
    display: block;
    padding: 14px 0;

    color: $base-font-color-lighter;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: center;

    > i {
      margin: 0;
    }

    &:hover, &:focus {
      color: $base-font-color-lighter;
      text-decoration: none;
    }
  }

  &__sublist-container {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: z('base') + 10;

    display: none;

    border-top: 1px solid transparent;
  }

  &__sublist {
    @include list-normalize();

    display: flex;
    padding: 15px 40px 3px 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);

    background: $base-white-color;

    @include clearfix();

    &__item {
      position: relative;

      flex-grow: 1;
      margin: 10px 0 0;
      padding: 0 0 0 40px;

      &_has-sales-block {
        flex-grow: 0;
      }

      &_has-2columns {
        flex-grow: 2;
      }

      &:last-child {
        &:after {
          display: none;
        }
      }

      &:after {
        @include after();

        top: 40px;
        right: 0;

        height: calc(100% - 38px);
        width: 1px;

        background: $base-border-color;
      }
    }

    &__sublist-item {
      margin: 10px 0 0;

      a {
        color: $base-font-color;

        &:hover {
          color: $base-font-color;
        }
      }

      ul {
        @include list-normalize();
        padding: 0 0 0 15px;

        li {
          margin: 10px 0 0;
        }

        a {
          color: $base-font-color-lighter;

          &:hover {
            color: $base-font-color-lighter;
          }
        }
      }
    }

    &__title {
      color: $theme-orange-color;
      text-transform: uppercase;
    }

    &--nested {
      @include list-normalize();

      margin: 15px 0 0;

      &.top-nav__sublist--has-sibling {
        float: left;
        width: 50%;
        margin: 5px 0 0;
      }
    }
  }
}

@include breakpoint('desktop') {
  .main-menu {
    max-height: 49px;

    &__item {
      min-height: 49px;

      &--ancestor {
        .main-menu__link {
          text-indent: 4px;
        }
      }
    }

    &__link {
      min-height: 49px;
    }
  }
}

@include breakpoint('tablet') {
  .main-menu {
    &__item {
      .messages-widget {
        &__title {
          font-size: 13px;
        }
      }

      &--nested {
        padding-left: 13px;
        padding-right: 15px;
      }
    }

    &__link {
      font-size: 13px;
      line-height: 1.7;
    }

    &__sublist {
      padding: 15px 30px 30px 0;

      &__item {
        padding: 0 0 0 25px;
      }
    }
  }
}

@include breakpoint('tablet-small') {
  .main-menu {
    &__item {
      .messages-widget {
        &__title {
          display: none;
        }
      }

      .cart-widget__content {
        margin: 9px -5px 0 0;
      }

      &--nested {
        padding-left: 10px;
        padding-right: 10px;
      }
    }

    &__sublist {
      &__item {
        &_has-sales-block {
          order: 1;
        }
      }
    }
  }
}
