/* Topbar component */
.topbar {
    background: $top-bar-background;

    &__dropdown {
        position: absolute;
        top: 26px;
        right: 0;
        z-index: 80;

        display: none;

        background: get-color('additional', 'ultra');
        box-shadow: 0 4px 5px 0 rgba(0,0,0,.4);
        border-radius: 2px;

        &:before, &:after {
            content: "";
            display: block;
            height: 0;

            clear: both;
        }

        &__list {
            @include list-normalize();

            min-width: 130px;
            padding: 10px 15px;

            text-align: left;

            &.topbar__dropdown__list_lang {
                min-width: 80px;
            }

            li {
                margin: 0 0 7px;

                font-size: $base-font-size;

                &:last-child {
                    margin: 0;
                }
            }

            a {
                font-size: $base-font-size;
                color: get-color('additional', 'dark');
            }
        }
    }
}

.topbar-navigation {
    &--has-sibling {
        margin-right: 10px;
    }

    &__link {
        color: $top-bar-link-color;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

@include breakpoint('desktop') {
    .topbar-navigation {
        &__item {
            &.last {
                font-size: $base-font-size;

                &:hover {
                    text-decoration: none;

                    cursor: default;
                }

                span {
                    font-size: $base-font-size;

                    &:hover {
                        text-decoration: underline;

                        cursor: pointer;
                    }
                }
            }
        }
    }
}

@include breakpoint('tablet') {
    .topbar {
        display: none;
    }
    .topbar-navigation {
        padding: 0 0 20px 15px;

        &__item {
            display: block;
            margin-right: 20px;
            padding: 5px 0;
            text-transform: uppercase;
        }
    }
}
