/* @theme: custom; */

.shopping-list-dropdown {
    position: relative;

    display: table-cell;
    min-width: 37px;

    vertical-align: middle;
    text-align: center;

    border-radius: 0 3px 0 0;
    background: $shopping-list-dropdown-background;
    box-shadow: $shopping-list-dropdown-box-shadow;

    &__handle {
        width: 40px;
        padding-top: 16px;
        padding-bottom: 12px;

        cursor: pointer;
    }

    &__icon {
        margin: 0;

        font-size: 20px;

        color: $shopping-list-dropdown-icon-color;

        vertical-align: baseline;
    }

    &__nav {
        top: 100%;
        right: -10px;
        left: auto;
        z-index: 9;

        margin: -5px 0 0;

        box-shadow: $shopping-list-dropdown-nav-box-shadow;
        border-radius: 2px;
        border: $shopping-list-dropdown-nav-border;
        background: $shopping-list-dropdown-nav-background;

        visibility: hidden;
        opacity: 0;
        transition: opacity .2s, visibility .2s;
    }

    &__overlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 8;

        opacity: 0;
        cursor: default;
    }

    &.show {
        border-left-color: $shopping-list-dropdown-show-border;
        box-shadow: $shopping-list-dropdown-show-box-shadow;

        .shopping-list-dropdown__nav {
            opacity: 1;
            visibility: visible;
        }
    }
}
