<% let oroui = _.macros('oroui') %>
<% let oroshoppinglist = _.macros('oroshoppinglist') %>
<% let oroproduct = _.macros('oroproduct') %>

<% if (obj.useInputStepper) { %>
    <div class="form-quantity-row">
        <div tabindex="0"
            class="input"
        ><%- oroshoppinglist.quantityHelper.formatQuantity(quantity, precision) %></div>
        <button type="button"
            class="btn btn--simple input-quantity-btn input-quantity-btn--minus"
            data-type="decrement"
            aria-label="<%- _.__('oro_frontend.input_widget.step_input.decrease') %>"
            data-focused=".input-quantity-btn--minus"
            tabindex="0"
        ><%= oroui.renderIcon({name: 'minus', extraClass: 'none-pointer-events'}) %></button>
        <button type="button"
            class="btn btn--simple input-quantity-btn input-quantity-btn--plus"
            data-type="increment"
            aria-label="<%- _.__('oro_frontend.input_widget.step_input.increase') %>"
            data-focused=".input-quantity-btn--plus"
            tabindex="0"
        ><%= oroui.renderIcon({name: 'plus', extraClass: 'none-pointer-events'}) %></button>
    </div>
<% } else { %>
    <div tabindex="0" class="input input-qty"><%- oroshoppinglist.quantityHelper.formatQuantity(quantity, precision) %></div>
<% } %>
<%= oroproduct.renderGroupedUnits({
    name: _.uniqueId('unitCode'),
    units: units,
    unit: unitCode,
    gridThemeOptions: obj.gridThemeOptions,
    singleMode: {
        displayInput: false
    },
    toggleMode: {
        radioAttrs: {
            role: 'radio-view-mode'
        },
        labelAttrs: {
            role: 'label-view-mode'
        }
    },
    selectMode: {
        displaySelect: false
    }
}) %>
