<h3 class="grid-line-items__title<%- obj.clip ? ' grid-line-items__clip-placeholder' : '' %>">
    <% if (link) { %>
    <a<% if (obj.clip) { %> class="<%- 'grid-line-items__title-content grid-line-items__ellipsis' %>"<% } %>
        href="<%- link %>"
        title="<%- name %>"
        <% if (obj.popover_image_src) { %>
        data-page-component-init-on="mouseover"
        data-page-component-view="oroshoppinglist/js/app/views/shoppinglist-image-popover-view"
        data-page-component-options="<%- JSON.stringify({
            src: obj.popover_image_src,
            popover_image_sources: obj.popover_image_sources,
            title: name
        }) %>"
        <% } %>><%- name %></a>
    <% } else { %>
    <p<% if (obj.clip) { %> class="<%- 'grid-line-items__title-content grid-line-items__ellipsis' %>"<% } %>><%- name %></p>
    <% } %>
</h3>
