<h3 class="grid-line-items__title">
    <% if (obj._isKitItemLineItem && obj.errors && obj.errors.length && !obj.sku) { %>
        <span class="grid-line-items__errors"><%- obj.errors.join(' ') %></span>
    <% } else { %>
        <% if (link && (obj.isVisible === void 0 || obj.isVisible)) { %>
        <a class="grid-line-items__title-content no-decoration"
            href="<%- link %>"
            title="<%- name %>"
            <% if (obj.popover_image_src) { %>
            data-page-component-init-on="mouseover"
            data-page-component-view="oroshoppinglist/js/app/views/shoppinglist-image-popover-view"
            data-page-component-options="<%- JSON.stringify({
                src: obj.popover_image_src,
                popover_image_sources: obj.popover_image_sources,
                title: name
            }) %>"
            <% } %>><%- name %></a>
        <% } else { %>
        <span class="grid-line-items__title-content"><%- name %></span>
        <% } %>
    <% } %>
</h3>
