// @theme: blank;

//TODO: Should move all properties of the component to config with variables
.matrix-order-widget {
    max-width: 100%;
    margin: 0;

    &__grid {
        width: 100%;
        margin-bottom: 15px;

        font-family: $font-family-base;

        border-bottom: 1px solid get-color('additional', 'light');
    }

    &__grid-head {
        border-top: 1px solid get-color('additional', 'light');
        border-bottom: 1px solid get-color('additional', 'light');
        background: get-color('additional', 'base');

        text-align: center;
    }

    &__grid-body {
        display: block;

        max-height: 310px;

        overflow: auto;

        .form-row {
            width: 75px;
            margin: 0 auto;
        }
    }

    &__head-body-wrapper {
        padding-bottom: 20px;

        border-bottom: 1px solid get-color('additional', 'light');

        line-height: 60px;
        white-space: nowrap;
    }

    &__grid--multi-rows {
        .matrix-order-widget {
            &__grid-head,
            &__grid-body,
            &__grid-footer {
                &-wrapper {
                    margin-left: 100px;
                }
            }
        }
    }

    &__grid-head,
    &__grid-footer {
        &-wrapper {
            overflow: hidden;

            white-space: nowrap;
            text-align: left;
        }

        &-label {
            float: left;

            width: 100px;

            text-align: center;
        }
    }

    &__grid-footer {
        background: get-color('additional', 'base');

        &-label {
            height: 41px;

            line-height: 41px;
            text-transform: uppercase;
        }

        &-total {
            padding: 10px 0;

            color: get-color('additional', 'middle');

            &.valid {
                color: get-color('additional', 'dark');
            }
        }
    }

    &__form__row {
        height: 49px;
        margin: 10px 0;

        white-space: nowrap;

        &:not(:last-child) {
            border-bottom: 1px solid get-color('additional', 'light');
        }
    }

    &__form__col {
        display: inline-block;
        margin: 0;

        width: 90px;
        border: none;

        line-height: 1.5;
        text-align: center;
        vertical-align: middle;

        &-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;

            margin: 9px 0;

            white-space: normal;
            word-break: break-all;
        }

        .form-field-quantity {
            font-family: $font-family-base;
            text-align: center;
        }
    }

    &__summary-wrapper {
        padding-right: 26px;
    }

    &__grid-side {
        float: left;

        width: 100px;
        max-height: 310px;

        overflow: hidden;
    }

    &__grid-side & {
        &__form__row {
            height: 49px;

            text-align: center;
            line-height: 39px;
        }
    }

    &__summary {
        display: flex;
        justify-content: flex-end;

        min-width: $matrix-order-widget-summary-min-width;
        margin-left: auto;

        font-family: $font-family-base;
        text-align: right;
    }

    &__summary-label {
        display: inline-flex;
        min-width: $matrix-order-widget-summary-label-min-width;
        padding: $matrix-order-widget-summary-label-offset-inner;
    }

    &__total-quantity,
    &__total-price {
        display: flex;
        justify-content: space-between;
    }

    &__total-quantity {
        margin-bottom: $offset-y-s;
    }

    &__total-quantity-vlaue {
        float: right;
    }

    &__total-price {
        margin: $matrix-order-widget-total-price-offset-inner;

        font-size: $matrix-order-widget-total-price-font-size;
    }

    .pinned-dropdown {
        max-width: $matrix-order-widget-pinned-dropdown-max-width;
    }

    &--dialog {
        .ui-dialog-titlebar {
            padding: 0;
        }

        .ui-dialog-title {
            display: none;
        }

        .ui-dialog-titlebar-close {
            font-size: 0;
        }

        .ui-widget-content {
            padding: $matrix-order-widget-dialog-content-offset-inner;
        }
    }

    &--dialog-fullscreen {
        position: static;

        .ui-dialog-titlebar,
        .ui-dialog-buttonpane {
            display: none;
        }

        .ui-widget-content {
            padding: 0;
        }
    }

    &__item {
        position: relative;
        overflow: hidden;

        &:not(:first-child) {
            border-top: 1px solid get-color('additional', 'light');;
        }

        &.expanded {
            .fa-minus {
                display: block;
            }

            .fa-plus {
                display: none;
            }
        }

        .fa-minus,
        .fa-plus {
            position: absolute;

            right: 12px;
            top: 20px;
        }

        .fa-minus {
            display: none;
        }

        &-label {
            min-width: 45%;
            margin: 0 10px;
            word-wrap: break-word;
            line-height: 1.4rem;
            align-self: center;
        }

        &-value {
            min-width: 45%;

            input {
                text-align: center;
            }
        }

        &-seperator {
            margin: 0 10px;
        }

        &-info {
            display: inline-flex;
            flex-direction: column;
            justify-content: space-between;

            width: 100%;
            padding: 10px 15px;

            &-wrapper {
                display: inline-flex;
            }
        }

        &-content {
            display: inline-flex;
            align-items: center;
            flex-basis: 12%;

            box-sizing: border-box;
            padding: 10px 30px 10px 5px;
        }

        &-content-wrapper {
            display: inline-flex;
            flex-wrap: wrap;
            overflow: hidden;

            box-sizing: border-box;
            padding: 10px;
            width: 100%;
        }
    }
}

@include breakpoint('desktop') {
    .matrix-order-widget {
        &--dialog {
            width: $matrix-order-widget-width !important;
        }
    }
}

@include breakpoint('strict-tablet') {
    .matrix-order-widget {
        &__item {
            &-content {
                flex-basis: 20%;
                padding: 10px 45px 10px 15px;
            }
        }
    }
}

@include breakpoint('tablet-small') {
    .matrix-order-widget {
        &__item {
            &-content {
                flex-basis: 25%;
            }
        }
    }
}

@include breakpoint('mobile-landscape') {
    .matrix-order-widget {
        &__item {
            &-content {
                flex-basis: 33%;
            }
        }
    }
}

@include breakpoint('mobile') {
    .matrix-order-widget {
        &__item {
            &-content {
                flex-basis: 50%;
            }
        }
    }
}

