/* @theme: blank; */

.product-item__qty {
    &__current-grid {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    .add-product-from-view-component {
        font-size: $font-size-base;

        @include clearfix();
    }

    .product-item-shopping-lists {
        padding: 0 0 $offset-y;
    }

    .add-to-shopping-list-button {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .product-add-to-shopping-list-container {
        display: block;
    }

    .line_item_form_fields {
        width: calc(50% - 5px);
    }
}
