/* @theme: blank; */

.product-item__qty {
    &__current-grid {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    .add-product-from-view-component {
        font-size: $font-size-base;

        @include clearfix();
    }

    .product-item-shopping-lists {
        padding: 0 0 $offset-y;
    }

    .add-to-shopping-list-button {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .btn-main {
        .fa {
            display: none;
        }
    }

    .product-add-to-shopping-list-container {
        display: block;
    }

    .line_item_form_fields {
        width: calc(50% - 5px);
    }
}

.dropdown-menu {
    .dropdown-search {
        position: relative;

        .quick-search-icon {
            display: none;
        }

        .quick-search-icon {
            position: absolute;
            right: 24px;
            top: 50%;
            transform: translateY(-50%);
        }

        .clear-search-button {
            right: 19px;

            &:disabled {
                display: none;

                + .quick-search-icon {
                    display: inline-block;
                }
            }
        }

        .input {
            padding-right: 30px;
        }

        .no-matches {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            text-align: center;
            padding: $offset-y-m $offset-x;
        }
    }

    .item-container {
        max-height: 300px;
        overflow-y: auto;

        .dropdown-item {
            position: relative;
            padding-left: 36px;

            .fa {
                position: absolute;
                left: $dropdown-item-padding-x;
            }
        }
    }

    .items-group {
        &:not(:first-of-type) {
            margin-top: $offset-y-m;

            &:before {
                content: '';
                display: block;
                margin: 0 $offset-x $offset-y-m;
                border-top: 1px solid get-color('additional', 'light');
            }
        }

        &.hide {
            + .items-group {
                &:before {
                    display: none;
                }
            }
        }
    }
}
