/* @theme: default; */

.responsive-shopping-list-grid {
    .editable {
        position: relative;
    }

    .edit-mode {
        &.editable {
            width: $edit-mode-cell-width;
            min-width: $edit-mode-cell-width;
            background: $edit-mode-cell-background-color;
        }
    }

    .view-mode {
        &.editable {
            width: $view-mode-cell-width;
            min-width: $view-mode-cell-width;
            background: $view-mode-cell-background-color;
        }
    }
}

.inline-editor {
    &__inner,
    &__fields {
        display: flex;
        align-items: center;
        width: 100%;
    }

    &__fields {
        width: 100%;
    }

    &__actions {
        display: flex;
        margin-left: 8px;
    }

    &__action-item {
        &:not(:first-child) {
            margin-left: 4px;
        }
    }
}

.inline-editor-wrapper {
    position: relative;

    .validation-failed {
        @extend %base-floating-validation-message;
    }

    .inline-editor-edit-action {
        position: absolute;
        top: 0;
        right: 0;
    }

    .line-item-actions {
        min-width: 63px;
        padding-left: 8px;
    }
}

.line-item-container,
.shoppinglist-line-item-frontend-type-editor {
    .input {
        position: relative;
        width: 80px;
        min-width: 80px;

        text-align: right;

        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        overflow: hidden;

        &:hover,
        &:focus,
        &.error {
            z-index: z('base') + 1;
        }

        .highlight-error & {
            box-shadow: $input-box-shadow-error-state;
            border-color: $input-border-color-error-state;

            z-index: z('base') + 1;
        }

        // Mask to hide text overflow
        &::after {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            width: $input-padding-y;

            background-color: $input-background-color;

            content: '';
        }
    }

    .select2-container,
    .select {
        position: relative;

        width: 70px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        margin-left: -1px;
        text-align: left;

        @include ellipsis();

        &:hover,
        &:focus,
        &.error {
            z-index: z('base');
        }

        &.select2-container-active {
            z-index: z('base') + 2;
        }
    }
}

.line-item-container {
    display: flex;
    align-items: center;

    &.edited {
        padding-right: 0;
    }

    .edit-mode & {
        display: none;
    }
}

@include breakpoint('mobile-landscape') {
    .responsive-shopping-list-grid .grid-body {
        .edit-mode,
        .view-mode {
            &.editable {
                width: auto;
                min-width: auto;
                padding-top: $edit-mode-cell-top-offset-mobile;
                padding-bottom: $edit-mode-cell-bottom-offset-mobile;

                background: $edit-mode-cell-background-color;
            }
        }
    }
}

@include breakpoint('mobile') {
    .responsive-shopping-list-grid .grid-body {
        .edit-mode,
        .view-mode {
            &.editable {
                width: 100%;
            }
        }
    }

    .line-item-container,
    .shoppinglist-line-item-frontend-type-editor {
        .select2-container,
        .select {
            flex-grow: 1;
        }

        .select {
            margin-right: 64px;
        }
    }
}
