/* @theme: default; */

.grid-inline-editing-quantity {
    .editable {
        position: relative;
    }

    .edit-mode {
        &.editable {
            width: $edit-mode-cell-width;
            min-width: $edit-mode-cell-width;
            background: $edit-mode-cell-background-color;

            // Quantity inputs with stepper buttons
            &:has(.form-quantity-row) {
                width: $edit-mode-cell-stepper-width;
                min-width: $edit-mode-cell-stepper-width;
            }
        }
    }

    .view-mode {
        &.editable {
            width: $edit-mode-cell-width;
            min-width: $edit-mode-cell-width;
            background: $edit-mode-cell-background-color;

            // Quantity inputs with stepper buttons
            &:has(.form-quantity-row) {
                width: $edit-mode-cell-stepper-width;
                min-width: $edit-mode-cell-stepper-width;
            }
        }
    }
}

.inline-editor {
    &__inner {
        width: 100%;
    }

    &__inner,
    &__fields {
        display: flex;
        align-items: center;
    }

    &__fields {
        gap: spacing('sm');
    }

    &__actions {
        display: flex;
        margin-left: 8px;
    }

    &__action-item {
        &:not(:first-child) {
            margin-left: 4px;
        }
    }
}

.inline-editor-wrapper {
    position: relative;

    .validation-failed {
        @extend %base-floating-validation-message;
    }

    .inline-editor-edit-action {
        position: absolute;
        top: 0;
        right: 0;
    }

    .line-item-actions {
        min-width: 63px;
        padding-left: 8px;
    }
}

.line-item-container,
.shoppinglist-line-item-frontend-type-editor {
    .input {
        position: relative;
        width: $edit-mode-cell-stepper-input-width;
        min-width: $edit-mode-cell-stepper-input-width;
        max-width: $edit-mode-cell-stepper-input-width;

        text-align: center;

        overflow: hidden;

        .highlight-error & {
            border-color: $input-border-color-error-state;
        }

        // Mask to hide text overflow
        &::after {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            width: $input-padding-y;

            background-color: $input-background-color;

            content: '';
        }
    }

    .input-qty {
        text-align: right;

        width: $edit-mode-cell-qty-input-width;
        min-width: $edit-mode-cell-qty-input-width;
    }

    .select2-container,
    .select {
        position: relative;

        width: $toggler-min-width;

        text-align: left;

        @include ellipsis();

        display: flex;

        &:hover,
        &:focus,
        &.error {
            z-index: z('base');
        }

        .select2-choice {
            width: 100%;
        }

        &.select2-container-active {
            z-index: z('base') + 2;
        }
    }
}

.line-item-container {
    display: flex;
    align-items: center;
    gap: spacing('sm');

    &.edited {
        padding-right: 0;
    }

    .edit-mode & {
        display: none;
    }
}

@include breakpoint('tablet') {
    .grid-inline-editing-quantity .view-mode.editable {
        width: initial;
        min-width: initial;

        &:has(.form-quantity-row) {
            width: initial;
            min-width: initial;
        }
    }
}

@include breakpoint('mobile-landscape') {
    .responsive-shopping-list-grid {
        .edit-mode,
        .view-mode {
            &.editable {
                background: $edit-mode-cell-background-color;
            }
        }
    }
}

@include breakpoint('mobile-big') {
    .responsive-shopping-list-grid {
        .input-quantity-btn {
            display: none;
        }

        .line-item-container {
            flex-grow: 1;
        }

        .line-item-container,
        .shoppinglist-line-item-frontend-type-editor {
            .select2-container,
            .select {
                flex-grow: 1;
            }

            .select {
                margin-right: 64px;
            }
        }

        .edit-mode,
        .view-mode {
            .input {
                flex-grow: 1;
                padding-left: $input-padding-x;
                padding-right: $input-padding-x;

                text-align: right;
            }

            &.editable {
                width: 100%;
                min-width: 100%;

                &:has(.form-quantity-row) {
                    width: 100%;
                    min-width: 100%;
                }
            }
        }

        // Quantity inputs with stepper buttons
        .form-quantity-row {
            flex-grow: 1;

            max-width: $edit-mode-cell-stepper-input-width;

            .input {
                width: 100%;
                min-width: 100%;
            }
        }
    }
}
