.shopping-lists-units {
    position: relative;

    display: block;
    margin-top: 8px;

    &:first-child {
        display: block;
        margin-top: 0;

        .shopping-lists-units__actions,
        .shopping-lists-modify__badges {
            visibility: visible;
            opacity: 1;
        }
    }

    &__number {
        display: inline-block;
        min-width: 10px;
    }

    &__separate {
        margin: 0 3px;
    }

    &__actions {
        visibility: hidden;
        opacity: 0;

        transition: visibility 0 linear .3s, opacity .3s linear;
    }

    &:hover &__actions {
        transition-delay: 0;
    }
}
