.shopping-lists-units {
    position: relative;

    display: block;
    margin-top: 8px;

    &:first-child {
        display: block;
        margin-top: 0;
    }

    &__number {
        display: inline-block;
        min-width: 10px;
    }

    &__separate {
        margin: 0 3px;
    }

    &__actions {
        visibility: hidden;
        opacity: 0;

        -webkit-transition: visibility 0 linear .3s, opacity .3s linear;
           -moz-transition: visibility 0 linear .3s, opacity .3s linear;
            -ms-transition: visibility 0 linear .3s, opacity .3s linear;
                transition: visibility 0 linear .3s, opacity .3s linear;
    }

    &:hover &__actions,
    &:first-child &__actions {
        visibility: visible;
        opacity: 1;
    }

    &:hover &__actions {
        -webkit-transition-delay: 0;
           -moz-transition-delay: 0;
            -ms-transition-delay: 0;
                transition-delay: 0;
    }
}
