/* @theme: default; */
// @productTheme: list-theme;

@include breakpoint('desktop') {
    .list-theme.product-view {
        .line-item-form {
            form {
                flex-wrap: $list-theme-product-view-line-item-form-wrap-desktop;

                > div:not(:last-of-type) {
                    flex: $list-theme-product-view-line-item-form-div-flex-desktop-custom;
                    order: 1;
                }

                > div:last-of-type {
                    order: 0;
                    margin-left: 0;
                }
            }
        }
    }
}
