{% extends '@OroUI/actions/index.html.twig' %}
{% import '@OroUI/macros.html.twig' as UI %}
{% set gridName = 'products-grid' %}
{% set pageTitle = 'oro.product.entity_plural_label'|trans %}

{% block navButtons %}
    {% import '@OroUI/macros.html.twig' as UI %}

    {% include '@OroImportExport/ImportExport/buttons_from_configuration.html.twig' with {
        'alias': 'oro_product_index',
        'options': { 'writer_skip_clear': true }
    } %}

    {% if is_granted('oro_product_create') %}
        <div class="btn-group pull-right">
            {{ UI.addButton({
                'path': path('oro_product_create'),
                'entity_label': 'oro.product.entity_label'|trans
            }) }}
        </div>
    {% endif %}
{% endblock %}

{% block content_datagrid %}
    {% set componentOptions = {
        sidebarAlias: 'products-sidebar',
        widgetAlias: 'products-grid-widget',
        widgetRouteParameters: widgetRouteParameters
    } %}

    <div class="layout-content product-container" data-role="grid-sidebar-component-container">
        <div class="scrollable-container sidebar-container">
            {% embed "@OroUI/content_sidebar.html.twig" %}
                {% block sidebar %}
                    <div data-page-component-module="orodatagrid/js/app/components/grid-sidebar-component"
                         data-page-component-options="{{ componentOptions|json_encode }}"
                    >
                        {% include '@OroProduct/Product/Sidebar/sidebar.html.twig' %}
                    </div>
                {% endblock sidebar %}

                {% block content %}
                    <div class="category-data">
                        {{ oro_widget_render({
                            'widgetType': 'block',
                            'url': path('oro_datagrid_widget', widgetRouteParameters|merge({route: 'oro_product_index'})),
                            'alias': 'products-grid-widget'
                        }) }}
                    </div>
                {% endblock content %}
            {% endembed %}
        </div>
    </div>
{% endblock content_datagrid %}
