{% import '@OroProduct/Product/RelatedItems/macros.html.twig' as relatedItemsUI %}

<div class="related-items-widget">
    {{ relatedItemsUI.renderRelatedItemButton(
        path('oro_product_possible_products_for_related_products', {'id': entity.id}),
        'oro.product.widgets.select_related_products.label'|trans,
        'oro.product.widgets.select_related_products.title'|trans({'{{ sku }}': entity.sku, '{{ name }}': entity.name}),
        relatedProductsLimit,
        '#productAppendRelated',
        '#productRemoveRelated',
        gridName
    ) }}
</div>
