.featured-product {
    margin: 24px 3px 0 24px;
}

@include breakpoint('mobile') {
    .featured-product {
        margin: 16px 1px 0 16px;

        // Override default product view in mobile
        & .product-item__title_gallery-view {
            font-size: 14px;
        }

        & .product-item__listed-price.product-item__listed-price_gallery-view,
        & .product-item__price.product-item__price_gallery-view,
        & .product-item__price span,
        & .line_item_form_fields__form__col .select2-chosen {
            font-size: 12px;
        }

        & .btn.btn_has-dropdown.btn_has-dropdown_lg {
            min-width: 0;
            min-height: 42px;
        }

        & .btn.btn_has-dropdown.btn_has-dropdown_lg > a.direct-link,
        & .btn.btn_has-dropdown.btn_has-dropdown_lg > span.direct-link {
            overflow: hidden;

            width: calc(100% - 22px);
            height: 42px;
            padding: 0 4px;

            font-size: 12px !important;
            line-height: 42px;

            text-overflow: ellipsis;
        }

        & .btn.btn_has-dropdown.btn_has-dropdown_lg > a.dropdown-toggle,
        & .btn.btn_has-dropdown.btn_has-dropdown_lg > span.dropdown-toggle {
            width: 20px;

            line-height: 42px;
        }
    }
}
