{% block product_sticker_widget %}
    {% if
        stickers is defined and
        stickers|length
    %}
        {% set label_class = 'sticker' %}
        {% if mode == 'badge' %}
            {% set label_class = 'product-sticker' %}
        {% elseif mode == 'text' %}
            {% set label_class = 'status-label' %}
        {% endif %}

        {% set attr = layout_attr_defaults(attr, {
            '~class': " #{label_class}"
        }) %}

        {% set def_attr = attr %}

        {% for sticker in stickers %}
            {% set attr = def_attr %}

            {% set attr = layout_attr_defaults(attr, {
                '~class': " #{label_class}--#{sticker.type}"
            }) %}

            {% if mode == 'badge' %}
                {% set attr = layout_attr_defaults(attr, {
                    '~class': " #{label_class}--#{position}",
                    'aria-label': ("oro.product.sticker.#{sticker.type}")|trans
                }) %}
            {% endif %}

            <div {{ block('block_attributes') }}>
                {{- ("oro.product.sticker.#{sticker.type}")|trans -}}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
