.shopping-lists-modify {
    position: absolute;
    right: 0;
    top: -4px;

    margin: 0;
    padding: 0;

    white-space: nowrap;

    background: $base-white-color;

    &__text,
    &__select,
    &__badges {
        display: inline-block;

        vertical-align: middle;
    }

    &__text {
        margin-right: 4px;
    }

    &__input {
        width: 50px;
    }

    &__select {
        margin-right: 45px;
    }

    &__edit,
    &__remove {
        margin-left: 4px;
    }

    &__button {
        display: inline-block;
        padding: 0;

        border: 0;
        background: transparent;
    }

    &--hidden {
        display: none;
    }
}
