{% block _shopping_list_view_container_widget %}
    {% set attr = attr|merge({class: attr.class|default('') ~ "shopping-list-wrapper"}) %}

    <div{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _shopping_list_view_tabs_widget %}
    {% set attr = attr|merge({class: attr.class|default('') ~ "shopping-list-tabs"}) %}

    <div{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _shopping_list_view_tabs_all_widget %}
    <input class="shopping-list-helper" type="checkbox" id="shopping-list-all" hidden="hidden">
    <div class="shopping-list-all">
        <label class="shopping-list-all__handle" for="shopping-list-all">
            <i class="shopping-list-all__icon cf-add_circle"></i>
        </label>
        <span class="shopping-list-all__dropdown">
            <ul class="shopping-list-links">
                <li class="shopping-list-links__item shopping-list-links__item--current">
                    <a class="shopping-list-links__link" href="#">
                        <i class="shopping-list-links__icon cf-check"></i>
                        <span class="shopping-list-links__text">Order #1</span>
                    </a>
                </li>
                <li class="shopping-list-links__item">
                    <a class="shopping-list-links__link" href="#">
                        <i class="shopping-list-links__icon cf-check"></i>
                        <span class="shopping-list-links__text">Order #2</span>
                    </a>
                </li>
                <li class="shopping-list-links__item">
                    <a class="shopping-list-links__link" href="#">
                        <i class="shopping-list-links__icon cf-check"></i>
                        <span class="shopping-list-links__text">Order #3</span>
                    </a>
                </li>
                <li class="shopping-list-links__item">
                    <a class="shopping-list-links__link" href="#">
                        <i class="shopping-list-links__icon cf-check"></i>
                        <span class="shopping-list-links__text">Order #4</span>
                    </a>
                </li>
                <li class="shopping-list-links__item">
                    <a class="shopping-list-links__link" href="#">
                        <i class="shopping-list-links__icon cf-check"></i>
                        <span class="shopping-list-links__text">Order #5</span>
                    </a>
                </li>
                <li class="shopping-list-links__item">
                    <a class="shopping-list-links__link" href="#">
                        <i class="shopping-list-links__icon cf-check"></i>
                        <span class="shopping-list-links__text">Order #6</span>
                    </a>
                </li>
            </ul>
        </span>
    </div>
{% endblock %}
