/* @theme: default; */

$product-view-media-container-position: relative !default;

$product-view-media-container-shopping-lists-top: spacing('base') !default;
$product-view-media-container-shopping-lists-right: spacing('lg') !default;
