/* @theme: default; */

$product-view-media-gallery-border: inset 0 0 0 1px get-color('neutral', 'grey2') !default;
$product-view-media-gallery-border-radius: $base-ui-element-border-radius !default;
$product-view-media-gallery-max-height: 520px !default;
$product-view-media-gallery-image-max-height: $product-view-media-gallery-max-height !default;
$product-view-media-gallery-z-index: z('base') !default;

$product-view-media-gallery-tab-content-max-width: 520px !default;
$product-view-media-gallery-container-tab-content-max-width: $product-view-media-gallery-tab-content-max-width !default;
$product-view-media-gallery-container-position: relative !default;

$product-view-media-gallery-nav-arrow-width: 44px !default;
$product-view-media-gallery-nav-arrow-height: 44px !default;
$product-view-media-gallery-nav-offset-top: 20px !default;
$product-view-media-gallery-nav-offset: 24px 0 0 !default;
$product-view-media-gallery-nav-arrow-width: 0 !default;
$product-view-media-gallery-nav-item-offset-h: spacing('xs') !default;
$product-view-media-gallery-nav-item-offset-inner: 2px $product-view-media-gallery-nav-item-offset-h !default;
$product-view-media-gallery-nav-arrow-border: 0 !default;
$product-view-media-gallery-nav-arrow-bg: get-color('neutral', 'grey1') !default;
$product-view-media-gallery-nav-arrow-bg-hover: get-color('primary', 'light') !default;
$product-view-media-gallery-nav-arrow-bg-focus: get-color('neutral', 'grey1') !default;
$product-view-media-gallery-nav-arrow-side-position: 0 !default;
$product-view-media-gallery-nav-arrow-border-radius: 100% !default;

$product-view-media-gallery-slick-slide-item-box-shadow: 0 0 0 1px get-var-color('neutral', 'grey2') !default;
$product-view-media-gallery-slick-slide-current-item-box-shadow: 0 0 0 2px get-var-color('primary', 'main') !default;

$product-view-media-gallery-nav-loading-url: get-color('neutral', 'white-100')
    url('#{$global-loader-url}') no-repeat center center !default;

$product-view-media-gallery-nav-tab-content-max-width: $product-view-media-gallery-tab-content-max-width -
    $product-view-media-gallery-nav-arrow-width * 2 !default;

$product-view-media-gallery-arrow-wrapper-bg: get-color('neutral', 'white-100') !default;
$product-view-media-gallery-arrow-wrapper-box-shadow: -10px 0 20px 16px get-color('neutral', 'white-100'),
                                                       10px 0 20px 16px get-color('neutral', 'white-100') !default;

$product-view-media-gallery-image-width: 100% !default;
$product-view-media-gallery-image-height: auto !default;
$product-view-media-gallery-image-border-radius: 100% !default;
$product-view-media-gallery-image-width-tablet: $product-view-media-gallery-image-width !default;
$product-view-media-gallery-image-height-tablet: $product-view-media-gallery-image-height !default;
$product-view-media-gallery-image-aspect-ratio: #{'1 / 1'} !default;

$product-view-sticker-wrapper-width: 100% !default;
$product-view-sticker-wrapper-height: $product-view-media-gallery-max-height !default;
$product-view-sticker-wrapper-position: absolute !default;
$product-view-sticker-wrapper-pointer-events: none !default;

// Vertical Mode
$vertical-product-view-media-wrapper-display: grid !default;
$vertical-product-view-media-wrapper-grid-template-columns: 64px calc(100% - 64px - #{spacing('base')}) !default;
$vertical-product-view-media-wrapper-gap: spacing('base') !default;

$vertical-product-view-media-gallery-max-height: 480px !default;

$vertical-product-view-media-gallery-container-grid-row: #{'1 / 2'} !default;
$vertical-product-view-media-gallery-container-grid-column: #{'2 / 3'} !default;

$vertical-product-view-media-gallery-image-item-height: 480px !default;

$vertical-product-view-media-gallery-nav-grid-row: #{'1 / 2'} !default;
$vertical-product-view-media-gallery-nav-grid-column: #{'1 / 2'} !default;
$vertical-product-view-media-gallery-nav-height: 480px !default;
$vertical-product-view-media-gallery-nav-margin-top: 0 !default;

$vertical-product-view-media-gallery-nav-item-padding: 0 !default;
$vertical-product-view-media-gallery-nav-item-margin: spacing('sm') 0 !default;
$vertical-product-view-media-gallery-nav-item-border-width: 0 !default;

$vertical-product-view-media-gallery-nav-image-width: 60px !default;
$vertical-product-view-media-gallery-nav-image-height: 60px !default;

$vertical-product-view-media-gallery-nav-slick-btn-wrapper-inset-inline: 0 !default;
$vertical-product-view-media-gallery-nav-slick-btn-wrapper-justify-content: center !default;
$vertical-product-view-media-gallery-nav-slick-btn-wrapper-box-shadow: none !default;

$vertical-product-view-media-gallery-nav-slick-btn-before-content: '' !default;
$vertical-product-view-media-gallery-nav-slick-btn-before-width: 100% !default;
$vertical-product-view-media-gallery-nav-slick-btn-before-height: 20px !default;
$vertical-product-view-media-gallery-nav-slick-btn-before-position: absolute !default;

$vertical-product-view-media-gallery-nav-slick-arrow-prev-inset-block: 0 auto !default;

$vertical-product-view-media-gallery-nav-slick-arrow-prev-after-background:
    linear-gradient(
        0deg, rgba(255, 255, 255, 0) 0%,
        get-color('neutral', 'white-100') 100%
    ) !default;
$vertical-product-view-media-gallery-nav-slick-arrow-prev-after-top: 100% !default;

$vertical-product-view-media-gallery-nav-slick-arrow-next-inset-block: auto 0 !default;

$vertical-product-view-media-gallery-nav-slick-arrow-next-before-background:
    linear-gradient(
        0deg, get-color('neutral', 'white-100') 0%,
        rgba(255, 255, 255, 0) 100%
    ) !default;
$vertical-product-view-media-gallery-nav-slick-arrow-next-before-bottom: 100% !default;

$vertical-product-view-media-gallery-nav-slick-arrow-btn-transform: rotate(90deg) !default;

$vertical-product-view-sticker-wrapper-width: auto !default;
$vertical-product-view-sticker-wrapper-height: auto !default;
$vertical-product-view-sticker-wrapper-position: relative !default;
$vertical-product-view-sticker-wrapper-grid-row: #{'1 / 2'} !default;
$vertical-product-view-sticker-wrapper-grid-column: #{'2 / 3'} !default;

// Tablet
$product-view-media-gallery-container-tablet-grid-row: #{'1 / 2'} !default;
$product-view-media-gallery-container-tablet-grid-column: #{'1 / 2'} !default;
$product-view-media-gallery-nav-tablet-min-height: 48px !default;

$product-view-sticker-wrapper-tablet-width: 100% !default;
$product-view-sticker-wrapper-tablet-position: relative !default;
$product-view-sticker-wrapper-tablet-grid-row: #{'1 / 2'} !default;
$product-view-sticker-wrapper-tablet-grid-column: #{'1 / 2'} !default;
$product-view-sticker-wrapper-tablet-pointer-events: none !default;
