/* @theme: default; */

$product-view-media-gallery-border-width: 1px !default;
$product-view-media-gallery-border: $product-view-media-gallery-border-width
    solid get-color('additional-old', 'light') !default;
$product-view-media-gallery-max-height: 380px !default;
$product-view-media-gallery-image-max-height: $product-view-media-gallery-max-height -
    ($product-view-media-gallery-border-width * 2) !default;
$product-view-media-gallery-z-index: z('base') !default;

$product-view-media-gallery-tab-content-max-width: 380px !default;
$product-view-media-gallery-container-tab-content-max-width: $product-view-media-gallery-tab-content-max-width !default;
$product-view-media-gallery-container-position: relative !default;

$product-view-media-gallery-nav-arrow-width: 44px !default;
$product-view-media-gallery-nav-arrow-height: 44px !default;
$product-view-media-gallery-nav-offset-top: 20px !default;
$product-view-media-gallery-nav-offset: 24px 0 0 !default;
$product-view-media-gallery-nav-arrow-width: 0 !default;
$product-view-media-gallery-nav-item-offset-h: spacing('xs') !default;
$product-view-media-gallery-nav-item-offset-inner: 0 $product-view-media-gallery-nav-item-offset-h !default;
$product-view-media-gallery-nav-arrow-border: 0 !default;
$product-view-media-gallery-nav-arrow-bg: get-color('neutral', 'grey1') !default;
$product-view-media-gallery-nav-arrow-bg-hover: get-color('neutral', 'grey3') !default;
$product-view-media-gallery-nav-arrow-bg-focus: get-color('neutral', 'grey3') !default;
$product-view-media-gallery-nav-arrow-side-position: 0 !default;
$product-view-media-gallery-nav-arrow-border-radius: 100% !default;

$product-view-media-gallery-slick-slide-item-border: 1px solid get-var-color('neutral', 'grey2') !default;
$product-view-media-gallery-slick-slide-current-item-border: 2px solid get-var-color('primary', 'main') !default;

$product-view-media-gallery-nav-loading-url: get-color('additional-old', 'ultra')
    url('#{$global-url}/orofrontend/default/images/loader.gif') no-repeat center center !default;

$product-view-media-gallery-nav-tab-content-max-width: $product-view-media-gallery-tab-content-max-width -
    $product-view-media-gallery-nav-arrow-width * 2 !default;

$product-view-media-gallery-arrow-wrapper-bg: get-color('neutral', 'white-100') !default;
$product-view-media-gallery-arrow-wrapper-box-shadow: -10px 0 20px 16px get-color('neutral', 'white-100'),
                                                       10px 0 20px 16px get-color('neutral', 'white-100') !default;

$product-view-media-gallery-image-width: 80px !default;
$product-view-media-gallery-image-height: 80px !default;
$product-view-media-gallery-image-border-radius: 100% !default;
$product-view-media-gallery-image-width-tablet: 56px !default;
$product-view-media-gallery-image-height-tablet: 56px !default;
