/* @theme: default; */

$product-view-media-slider-border-width: 1px !default;
$product-view-media-slider-border: $product-view-media-slider-border-width
    solid get-color('additional', 'light') !default;
$product-view-media-slider-max-height: 380px !default;
$product-view-media-slider-image-max-height: $product-view-media-slider-max-height
    - ($product-view-media-slider-border-width * 2) !default;

$product-view-media-slider-arrow-width: 40px !default;
$product-view-media-slider-arrow-height: 40px !default;
$product-view-media-slider-arrow-icon-size: 30px !default;
$product-view-media-slider-arrow-icon-color: get-color('additional', 'middle') !default;
$product-view-media-slider-arrow-icon-hover-color: get-color('additional', 'dark') !default;
$product-view-media-slider-arrow-side-position: 0 !default;
$product-view-media-slider-arrow-icon-prev: var(--fa-var-angle-left) !default;
$product-view-media-slider-arrow-icon-next: var(--fa-var-angle-right) !default;
