// @theme: blank

.info-list-status {
    margin-right: 3px;
    
    color: get-color('secondary', 'lighten');

    &--disabled {
        color: get-color('additional', 'middle');
    }

    .fa {
        margin: -3px 0 0 1px;
    }
}
