// @theme: blank

.info-list-status {
    display: inline-block;

    margin-right: 3px;
    
    color: get-color('secondary', 'lighten');

    &--disabled {
        color: get-color('additional', 'middle');
    }

    &:last-child:before {
        content: '/';
        display: inline-block;
        color: get-color('additional', 'middle');
    }

    .fa {
        margin: -3px 0 0 1px;
    }
}
