<% var maxFractionDigits = localeSettings.getNumberFormats('currency')['max_fraction_digits'] %>

<% if (price === null) { %>
    <div class="product-price__not_found"><%- _.__('oro.pricing.product_prices.price_not_found') %></div>
<% } else { %>
    <% if (false !== showValuePrice) { %>
        <div class="product-price__your" data-name="price">
            <span class="product-price__value" data-name="price-value" itemscope="itemscope" itemtype="http://schema.org/Offer" itemprop="offers">
                <span itemprop="priceCurrency" class="hidden" aria-hidden="true"><%- price.currency %></span>
                <span itemprop="price" class="hidden" aria-hidden="true"><%- numeral(price.price).format('0.00') %></span>
                <%- price.formatted_price.trim() %>
            </span>
        </div>
    <% } %>

    <% const unitPrice = listedPrice[unit] %>
    <% if (listedPrice && price.price !== unitPrice.price) { %>
        <div class="product-price__listed">
            <div class="product-price__listed-box" title="<%- _.__('oro.pricing.product_prices.applicable_from', { amount: unitPrice.quantity }) %>">
                <span class="product-price__listed-value"><%- unitPrice.formatted_price %></span>
            </div>
        </div>
    <% } %>
<% } %>
