<%
    const headerTitle = typeof title !== 'undefined' && title !== null && title !== ''
        ? title
        : (clickable ? _.__('oro.pricing.click_to_select') : null);
    const showTableHead = clickable ||
        (typeof alwaysShowHead !== 'undefined' && alwaysShowHead === true);
%>
<div class="prices-tier">
    <% if (headerTitle) { %>
    <h3 class="prices-tier-title"><%- headerTitle %></h3>
    <% } %>
    <table class="table">
        <% if (showTableHead) { %>
        <thead>
            <tr>
                <th class="text-uppercase"><%- _.__('oro.pricing.qty') %></th>
                <th><%- _.__('oro.pricing.unit_price') %></th>
            </tr>
        </thead>
        <% } %>
        <tbody>
        <% _.each(prices, function(unitPrices, unit) { %>
        <tr>
            <td colspan="2">
                <b><%- _.__('oro.product.product_unit.' + unit + '.label.full') %></b>
            </td>
        </tr>
        <% _.each(unitPrices, function(price) { %>
        <tr class="<% if (!_.isEmpty(matchedPrice) && unit === matchedPrice.unit && parseFloat(price.price) === parseFloat(matchedPrice.price)) { %>matched-tier-price<% } %>">
            <td><%- price.quantity %></td>
            <td>
                <% if (clickable) { %>
                <a href="#" data-price="<%- parseFloat(price.price) %>"
                   data-unit="<%- unit %>"
                   role="button"
                   data-emulate-btn-press=""
                <% if (ariaControlsId) { %>
                aria-controls="<%- ariaControlsId %>"
                <% } %>
                > <%- formatter.formatCurrency(price.price, price.currency) %></a>
                <% } else { %>
                    <%- formatter.formatCurrency(price.price, price.currency) %>
                <% } %>
            </td>
        </tr>
        <% }) %>
        <% }) %>
        </tbody>
    </table>
</div>
