<div class="product-price-overridden" style="display: none;">
    <i class="fa-info-circle"
       data-toggle="popover"
       data-placement="bottom"
       data-close="false"
       data-class="product-price-hint"
       data-content="<%= [
            '<div class=\'hint-title\'>',
            _.__('oro.pricing.product_prices.price_is_overridden'),
            '</div>',
            '<a class=\'btn\' href=\'javascript: void(0);\'>',
            '<span class=\'fa-refresh\'></span>',
            _.__('oro.pricing.product_prices.reset_price'),
            '</a>'
       ].join('') %>">
    </i>
</div>
