<div class="prices-tier">
    <% if (clickable) { %>
    <h3 class="prices-tier-title"><%= _.__('oro.pricing.click_to_select') %></h3>
    <% } %>
    <table class="table">
        <% if (clickable) { %>
        <thead>
            <tr>
                <th class="text-uppercase"><%= _.__('oro.pricing.qty') %></th>
                <th><%= _.__('oro.pricing.unit_price') %></th>
            </tr>
        </thead>
        <% } %>
        <tbody>
        <% _.each(prices, function(unitPrices, unit) { %>
        <tr>
            <td colspan="2">
                <b><%= _.__('oro.product.product_unit.' + unit + '.label.full') %></b>
            </td>
        </tr>
        <% _.each(unitPrices, function(price) { %>
        <tr class="<% if (!_.isEmpty(matchedPrice) && unit === matchedPrice.unit && parseFloat(price.price) === parseFloat(matchedPrice.price)) { %>matched-tier-price<% } %>">
            <td><%= price.quantity %></td>
            <td>
                <% if (clickable) { %>
                <a href="javascript: void(0);"
                   data-price="<%= parseFloat(price.price) %>"
                   data-unit="<%= unit %>"
                ><%= formatter.formatCurrency(price.price, price.currency) %></a>
                <% } else { %>
                <%= formatter.formatCurrency(price.price, price.currency) %>
                <% } %>
            </td>
        </tr>
        <% }) %>
        <% }) %>
        </tbody>
    </table>
</div>
