{% if data|length > 0  %}
    {% set params = {
        data: data,
        options: options,
        config: config,
        ratio: isMobileVersion() ? '0.8' : '0.35',
        date: (options.settings.quarterDate is defined) ? options.settings.quarterDate|oro_format_date({timeZone: oro_timezone()}) : ''
    } %}
    <div data-page-component-module="orochart/default/js/app/components/purchase-volume-chart-component"
         data-page-component-options="{{ params|json_encode }}"></div>
{% else %}
    <div class="no-data show">
        {{ "oro.chart.no_data"|trans }}
    </div>
{% endif %}
