/* @theme: default; */

.product-view-media-wrapper {
    position: $product-view-media-container-position;
    z-index: z('base');

    .product-item-shopping-lists {
        position: absolute;
        top: $product-view-media-container-shopping-lists-top;
        right: $product-view-media-container-shopping-lists-right;
        z-index: z();
    }
}
