/* @theme: default; */

.product-view-media-container {
    float: $product-view-media-container-float;
    margin-bottom: $product-view-media-container-margin-bottom;
}

.product-view-media-wrapper {
    position: $product-view-media-container-position;
    z-index: z('base');

    width: $product-view-media-container-width;

    @include clearfix();
}

@include breakpoint('tablet') {
    .product-view-media-container {
        float: $product-view-media-container-tablet-float;
    }

    .product-view-media-wrapper {
        width: $product-view-media-container-tablet-width;
        max-width: $product-view-media-container-tablet-max-width;
        margin: $product-view-media-container-tablet-offset;
    }
}
