/* @theme: default; */

.product-view-media-gallery-container {
    position: $product-view-media-gallery-container-position;

    .tab-content__wrapper & {
        max-width: $product-view-media-gallery-container-tab-content-max-width;
    }
}

.product-view-media-gallery {
    position: relative;
    z-index: $product-view-media-gallery-z-index;

    max-height: $product-view-media-gallery-max-height;
    margin: 0;

    &--no-image {
        background-color: $product-item-no-image-bc-color;
    }

    .tab-content__wrapper & {
        max-width: $product-view-media-gallery-tab-content-max-width;
    }

    &__picture,
    &__image {
        max-width: 100%;
        max-height: $product-view-media-gallery-image-max-height;

        &::before {
            content: '';

            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: z('base');

            box-shadow: $product-view-media-gallery-border;
            border-radius: $product-view-media-gallery-border-radius;

            pointer-events: none;
        }
    }

    &__image {
        &[data-lazy] {
            display: none;
        }
    }

    &__image-item {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        height: $product-view-media-gallery-max-height;
    }

    &.slick-initialized {
        overflow: hidden;

        .product-view-media-gallery__image-item {
            //Should for reset slick display value
            display: flex;
        }
    }

    &__nav {
        position: relative;
        margin: $product-view-media-gallery-nav-offset;

        opacity: 0;
        transition: opacity .4s;
        visibility: hidden;
        overflow: hidden;

        > * {
            transition: opacity .4s;
        }

        &.loading {
            opacity: 1;
            visibility: visible;
            background: $product-view-media-gallery-nav-loading-url;
            transition: opacity .4s;

            > * {
                display: none;
            }

            &::before {
                content: '';
                display: block;
            }

            @for $i from 1 to 9 {
                &.slides-to-show-#{$i}:before {
                    margin-top: calc(100% / #{$i} - #{$product-view-media-gallery-nav-item-offset-h * 2});
                }
            }
        }

        &.slick-initialized {
            margin: $product-view-media-gallery-nav-offset;

            opacity: 1;
            visibility: visible;

            .tab-content__wrapper & {
                max-width: $product-view-media-gallery-nav-tab-content-max-width;
            }
        }

        &__item {
            display: block;
            float: left;
            padding: $product-view-media-gallery-nav-item-offset-inner;

            &.slick-current img {
                box-shadow: $product-view-media-gallery-slick-slide-current-item-box-shadow;
            }
        }

        &__image {
            width: $product-view-media-gallery-image-width;
            height: $product-view-media-gallery-image-height;
            box-shadow: $product-view-media-gallery-slick-slide-item-box-shadow;
            border-radius: $product-view-media-gallery-image-border-radius;
            overflow: hidden;
            display: block;
            margin: auto;
        }

        .slick-btn-wrapper {
            position: absolute;
            z-index: z('base');
            top: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            background-color: $product-view-media-gallery-arrow-wrapper-bg;
            box-shadow: $product-view-media-gallery-arrow-wrapper-box-shadow;
        }

        .slick-arrow-prev {
            left: 0;
        }

        .slick-arrow-next {
            right: 0;
        }

        @include slick-arrow(
            $slick-arrow-class: '.slick-arrow-btn',
            $slick-arrow-transform: null,
            $slick-arrow-position: static,
            $slick-arrow-width: $product-view-media-gallery-nav-arrow-width,
            $slick-arrow-height: $product-view-media-gallery-nav-arrow-height,
            $slick-arrow-background: $product-view-media-gallery-nav-arrow-bg,
            $slick-arrow-hover-background: $product-view-media-gallery-nav-arrow-bg-hover,
            $slick-arrow-focus-background: $product-view-media-gallery-nav-arrow-bg-focus,
            $slick-arrow-border: $product-view-media-gallery-nav-arrow-border,
            $slick-arrow-next-right: $product-view-media-gallery-nav-arrow-side-position,
            $slick-arrow-prev-left: $product-view-media-gallery-nav-arrow-side-position,
            $slick-arrow-disabled-opacity: 0,
            $slick-arrow-inner-offset: 12px,
            $slick-arrow-border-radius: $product-view-media-gallery-nav-arrow-border-radius,
        );
    }
}

@include breakpoint('desktop') {
    .product-view-media-wrapper {
        &.vertical-mode {
            &:has(.product-view-media-gallery__nav) {
                display: $vertical-product-view-media-wrapper-display;
                // Don't use 1fr! This leads to a slick slider bug
                grid-template-columns: $vertical-product-view-media-wrapper-grid-template-columns;
                gap: $vertical-product-view-media-wrapper-gap;

                .product-view-media-gallery {
                    max-height: $vertical-product-view-media-gallery-max-height;
                }

                .product-view-media-gallery-container {
                    grid-row: $vertical-product-view-media-gallery-container-grid-row;
                    grid-column: $vertical-product-view-media-gallery-container-grid-column;
                }

                .product-view-media-gallery__image-item {
                    height: $vertical-product-view-media-gallery-image-item-height;
                }

                .product-view-media-gallery__nav {
                    grid-row: $vertical-product-view-media-gallery-nav-grid-row;
                    grid-column: $vertical-product-view-media-gallery-nav-grid-column;

                    &.slick-initialized {
                        height: $vertical-product-view-media-gallery-nav-height;
                        margin-top: $vertical-product-view-media-gallery-nav-margin-top;
                    }

                    &__item {
                        padding: $vertical-product-view-media-gallery-nav-item-padding;

                        &.slick-slide {
                            margin: $vertical-product-view-media-gallery-nav-item-margin;
                            border-width: $vertical-product-view-media-gallery-nav-item-border-width;
                        }
                    }

                    &__image {
                        width: $vertical-product-view-media-gallery-nav-image-width;
                        height: $vertical-product-view-media-gallery-nav-image-height;
                        margin: 2px;
                    }

                    .slick-btn-wrapper {
                        inset-inline: $vertical-product-view-media-gallery-nav-slick-btn-wrapper-inset-inline;
                        justify-content: $vertical-product-view-media-gallery-nav-slick-btn-wrapper-justify-content;
                        box-shadow: $vertical-product-view-media-gallery-nav-slick-btn-wrapper-box-shadow;

                        &::before,
                        &::after {
                            content: $vertical-product-view-media-gallery-nav-slick-btn-before-content;
                            width: $vertical-product-view-media-gallery-nav-slick-btn-before-width;
                            height: $vertical-product-view-media-gallery-nav-slick-btn-before-height;
                            position: $vertical-product-view-media-gallery-nav-slick-btn-before-position;
                            pointer-events: none;
                        }
                    }

                    .slick-arrow-prev {
                        inset-block: $vertical-product-view-media-gallery-nav-slick-arrow-prev-inset-block;

                        &::after {
                            background: $vertical-product-view-media-gallery-nav-slick-arrow-prev-after-background;
                            top: $vertical-product-view-media-gallery-nav-slick-arrow-prev-after-top;
                        }
                    }

                    .slick-arrow-next {
                        inset-block: $vertical-product-view-media-gallery-nav-slick-arrow-next-inset-block;

                        &::before {
                            background: $vertical-product-view-media-gallery-nav-slick-arrow-next-before-background;
                            bottom: $vertical-product-view-media-gallery-nav-slick-arrow-next-before-bottom;
                        }
                    }

                    .slick-arrow-btn {
                        transform: $vertical-product-view-media-gallery-nav-slick-arrow-btn-transform;
                    }
                }
            }
        }
    }
}

@include breakpoint('tablet') {
    .product-view-media-gallery {
        &__image-item,
        &__image {
            height: auto;
        }

        &__nav {
            // show part of slide in addition to slidesToShow
            .slick-list {
                padding-right: 40px;
            }

            &__image {
                width: $product-view-media-gallery-image-width-tablet;
                height: $product-view-media-gallery-image-height-tablet;
            }
        }

        .slick-track {
            display: flex;
        }
    }
}
