/* @theme: admin.oro; */

$product-container-header-flex-shrink: 0 !default;

$product-container-sidebar-content-overflow: auto !default;
$product-container-sidebar-content-flex-grow: 1 !default;

$product-container-control-group-checkbox-label-float: left !default;
