@mediumScreen: 1340px;

@import "../../../oroui/css/less/variables";

@media(max-width: @mediumScreen) {
    .sale-quoteproductitem-collection {
        margin-left: 170px;
        margin-top: 5px;
        clear: both;
    }
}
