// @theme: default

.cart-table {
    margin-top: 10px;
}

@include breakpoint('mobile-landscape') {
    .cart-table {
        thead {
            display: none;
        }

        table,
        tbody,
        tr,
        td:first-child {
            display: block;
        }

        td {
            &:not(:first-child) {
                padding-top: 0;
                white-space: nowrap;
            }
        }

        &__form {
            margin-left: -12px;
        }
    }
}
