// @theme: default

.cart-table {
    margin-top: 10px;
}

@include breakpoint('tablet-small') {
    .cart-table {
        .status-cell {
            display: none;
        }

        .line-item-price {
            width: auto;
        }
    }
}

@include breakpoint('mobile-landscape') {
    .cart-table {
        thead {
            display: none;
        }

        table,
        tbody,
        tr,
        td:first-child {
            display: block;
        }

        td {
            &:not(:first-child) {
                padding-top: 0;
            }

            &.line-item-price {
                padding: 0 0 $offset-y;
            }
        }

        &__form {
            margin-left: -12px;
        }
    }
}
