// @theme: default;

/* Matrix Grid Order Widget */
.matrix-order-widget {
  &__grid {
    margin-bottom: 15px;

    font-family: $font-family-base;

    border-bottom: 1px solid get-color('additional', 'light');
    width: auto;
  }

  &__grid-head {
    padding: 5px;

    border-top: 1px solid get-color('additional', 'light');
    border-bottom: 1px solid get-color('additional', 'light');
    background: get-color('additional', 'base');

    line-height: 3.5;
    text-align: center;
  }

  &__head-body-wrapper {
      padding-bottom: 20px;

      border-bottom: 1px solid get-color('additional', 'light');

      line-height: 60px;
      white-space: nowrap;
  }

  &__form__row {
    margin-top: 20px;

    height: 39px;
  }

  &__form__col {
    padding: 0 13px;
    margin: 0;

    border: none;
    line-height: 1.5;

    vertical-align: middle;

    .form-field-quantity {
      font-family: $font-family-base;
      text-align: center;
    }
  }

  &__form__col-wrapper {
    display: flex;

    margin: 10px 0;

    align-items: center;
    justify-content: center;
  }

  &__grid-side {
    .matrix-order-widget__form__row {
      height: 39px;
      line-height: 39px;
    }
  }

  &__grid-body {
    padding-bottom: 20px;
  }

  &__grid-body,
  &__grid-footer {
    td {
      padding: 6px 26px 6px 0;

      border-top: 1px solid get-color('additional', 'light');

      text-align: center;
      min-width: 150px;

      &:first-child {
        padding-left: 11px;
        padding-right: 20px;
        text-align: left;
      }

      .input{
        min-width: 30px;

        padding-left: 5px;
        padding-right: 5px;

        text-align: center;
      }
    }

    .form-row {
      width: 100px;
      margin: 0 auto;
    }
  }

  &__grid-footer {
    &-label {
      height: 41px;

      line-height: 41px;
    }
  }

  &__summary-wrapper {
    padding-right: 26px;
  }

  &__grid-footer {
    background: get-color('additional', 'base');

    td {
      text-transform: uppercase;
    }

    &-total {
      padding: 10px 0;

      color: get-color('additional', 'middle');

      &.valid {
        color: get-color('additional', 'dark');
      }
    }
  }
}

//Enable styled scroll only for desktop version
@include only-desktop {
  .matrix-order-widget {
    &__grid-body {
      @include styled-scrollbar();
    }
  }
}

@include breakpoint('tablet-small') {
  .matrix-order-widget {
    &--dialog {
      padding-bottom: $offset-y-m;

      .ui-widget-content {
        padding: 40px 15px 5px 15px;
      }
    }

    &__form__col {
      .form-field-quantity {
        padding: 11px;
        text-align: center;
      }
    }
  }
}

@include breakpoint('mobile-landscape') {
  .matrix-order-widget {
    &__form__col {
      padding-right: 5px;

      .form-field-quantity {
        padding: 9px;
      }
    }

    &__grid-body,
    &__grid-footer {
      padding-right: 5px;

      &:first-child {
        padding-left: 5px;
        padding-right: 5px;
      }
    }

    &__summary-wrapper {
      padding-right: 5px;
    }
  }
}
