/* @theme: default; */

.product-kit-items {
    margin-bottom: spacing('base');

    &__label {
        width: auto;
        display: flex;
        align-items: center;
        // rest base styles for `.label`
        margin-bottom: 0;
    }
}

.product-kit-line-item-widget {
    display: flex;
    flex-direction: column;
}
