/* @theme: default; */

.product-item-quantity {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    gap: spacing('sm');

    &--justify-end {
        justify-content: flex-end;
    }

    &__input {
        position: relative;
        width: $product-item-quantity-input-width;
        min-width: $product-item-quantity-input-width;

        text-align: right;

        overflow: hidden;

        &:hover,
        &:focus,
        &.error {
            z-index: z('base') + 1;
        }

        // Mask to hide text overflow
        &::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            width: $input-padding-y;

            background-color: $input-background-color;
        }
    }

    .select2-container,
    .select {
        position: relative;

        min-width: $product-item-quantity-select-width;
        text-align: left;

        @include ellipsis();

        &:hover,
        &:focus,
        &.error {
            z-index: z('base');
        }

        &.select2-container-active {
            z-index: z('base') + 2;
        }
    }

    .fields-row-error {
        &:empty {
            display: none;
        }
    }
}

@include breakpoint('mobile-landscape') {
    .product-item-quantity {
        &__input {
            width: $product-item-quantity-input-width-mobile-landscape;
            min-width: $product-item-quantity-input-width-mobile-landscape;
        }
    }
}
