/* @theme: default; */

.product-kit-items-table {
    margin-bottom: 18px;

    .show-on-mobile {
        display: none;
    }

    width: 100%;

    &__th {
        background-color: $product-kit-items-table-head-background-color;
        font-weight: $product-kit-items-table-head-font-weight;
        text-align: $product-kit-items-table-head-text-align;
        color: $product-kit-items-table-head-color;
        padding: $product-kit-items-table-head-padding;

        &--qty {
            text-align: $product-kit-items-table-head-qty-text-align;
        }
    }

    &__cell {
        padding-left: spacing('sm');
        padding-right: spacing('sm');

        &.label-cell:first-child {
            padding-left: spacing('md');
            padding-right: spacing('base');
        }

        &.quantity-cell:last-child {
            padding-left: spacing('base');
            padding-right: 0;
        }
    }

    &__row {
        &-product {
            .product-kit-items-table__cell {
                padding-bottom: spacing('xs');
            }

            &:first-child {
                .product-kit-items-table__cell {
                    padding-top: spacing('xl');
                }
            }

            &:last-child {
                .product-kit-items-table__cell {
                    padding-bottom: spacing('xl');
                }
            }
        }

        &-entry:not(:first-child) {
            .product-kit-items-table__cell {
                padding-top: spacing('base');
                padding-bottom: spacing('base');
            }
        }

        &.product-last-in-group {
            border-bottom: $product-kit-items-table-border;

            .product-kit-items-table__cell {
                padding-bottom: spacing('xl');
            }
        }

        &.product-last-in-group + & {
            .product-kit-items-table__cell {
                padding-top: spacing('xl');
            }
        }
    }

    .sku-cell {
        width: 80px;
        min-width: 80px;

        label {
            min-height: 44px;
            display: flex;
            align-items: center;
        }
    }

    .price-cell {
        text-align: right;
    }

    .radio-cell {
        width: 38px;
        min-width: 38px;
        text-align: center;
    }

    .item-cell {
        .grid-line-items {
            padding-block: 6px 4px;
        }
    }

    .label-cell,
    .quantity-cell {
        vertical-align: top;
    }
}

.fullscreen-popup {
    .product-kit-items-table {
        margin-top: spacing('base');
    }
}

@include breakpoint('tablet') {
    .product-kit-items-table {
        .height-as-image-tablet {
            min-height: $product-item-image-holder-tiny-height;
        }
    }
}

@include breakpoint('mobile-landscape') {
    .product-kit-items-table {
        margin-bottom: 24px;

        .show-on-mobile {
            display: block;
        }

        .shift-mobile-row {
            margin-left: -($product-item-image-holder-tiny-width + $grid-line-items-row-offset-x - 4px);
        }

        .mobile-row {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .highlighted-in-mobile {
            color: $product-item-sku-value-color;
        }

        .sku-cell,
        .price-cell {
            display: none;
        }

        .sku-cell.no-product-cell {
            display: table-cell;
        }

        .quantity-cell {
            margin-left: auto;
        }

        .item-cell {
            padding-right: 0;
            width: 100%;

            &:last-child {
                padding-right: 0;
            }
        }

        .radio-cell {
            box-sizing: content-box;
            padding-left: 8px;
        }
    }

    .product-kit-items-table__head {
        display: none;
    }

    .product-kit-items-table,
    .product-kit-items-table__body {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }

    .product-kit-items-table__row {
        display: flex;
        flex-direction: row;
        width: 100%;

        &-entry {
            align-items: center;
        }

        &-product {
            .product-kit-items-table__cell {
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }

        &.product-last-in-group {
            border-bottom: $product-kit-items-mobile-table-border;
        }
    }
}
