/* @theme: default; */

.product-item__qty {
    &__current-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
        gap: spacing('md');
        align-items: center;
    }

    .add-product-from-view-component {
        @include clearfix();
    }

    .product-add-to-shopping-list-container {
        display: block;
    }

    &--no-image-view {
        .add-product-from-view-component:has(.inventory-level-root) {
            display: grid;
            row-gap: spacing('md');
        }
    }
}

@include breakpoint('desktop') {
    .product-item__qty {
        &--no-image-view {
            .add-product-from-view-component {
                margin-top: 0;
                grid-column: 2 / 3;
            }
        }
    }
}
