.product-item__qty {
  //Override current grid
  &.product-item__qty_no-image-view {
    .product-item__qty__current-grid {
      float: left;
      width: calc(50% - 5px);

      + .add-product-from-view-component {
        float: left;
        width: calc(50% - 5px);
        margin-left: 10px;

        .btn-group,
        .btn_has-dropdown {
          margin-top: 0;
          min-height: inherit;
          height: 43px;
          min-width: inherit;

          a {
            line-height: 42px;
          }

          .direct-link {
            @include direct-link();

            line-height: 42px;
            height: 100%;
          }
        }
      }
    }

    .line_item_form_fields__form__row {
      width: 60%;

      + .line_item_form_fields__form__row {
        width: calc(40% - 10px);
        margin-right: 10px;
        max-width: 50px;
      }
    }
  }

  .line_item_form_fields__form__row {
    float: right;
    width: calc(50% - 5px);

    + .line_item_form_fields__form__row {
      margin-right: 10px;
    }

    label {
      display: none;
    }
  }

  .add-product-from-view-component {
    .pull-right {
      float: none !important;

      .btn-group,
      .btn_has-dropdown {
        width: 100%;

        a {
          font-size: $base-font-size !important;
        }
      }
    }
  }

  .form__col {
    padding-left: 0;
    padding-right: 0;
  }
}
