// @theme: default

.product-item__qty {
  //Override current grid
  &.product-item__qty_no-image-view {
    .product-item__qty__current-grid {
      float: left;
      width: calc(50% - 5px);
    }

    .add-product-from-view-component {
      float: right;
      width: calc(50% - 5px);
      margin-left: 10px;
    }
  }

  &__current-grid>div {
    display: flex;

    justify-content: space-between;

    .form-row.line_item_form_fields {
      width: calc(50% - 5px);

      label {
        display: none;
      }

      .unit-label {
        @extend .label;

        line-height: 40px;
      }
    }
  }

  .add-product-from-view-component {
    font-size: $font-size-base;

    @include clearfix();
  }

  .form__col {
    padding-left: 0;
    padding-right: 0;

    .select2-choice {
      height: 38px;
    }

    .select2-chosen {
      position: absolute;
      width: calc(100% - 16px);
    }
  }
  
  .add-to-shopping-list-button {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@include breakpoint('tablet') {
  .product-item__qty_no-image-view input[type="text"] {
    margin-bottom: 0;
  }

  .product-item__qty.product-item__qty_no-image-view {
    .product-item__qty__current-grid {
      width: 100%;

      >div {
        display: block;
      }
    }

    .form-row.line_item_form_fields {
      width: 100%;
    }

    .add-product-from-view-component {
      width: 100%;

      margin-left: 0;
    }

    .shopping-lists {
      width: 100%;
    }
  }
}
