/* @theme: default; */

.responsive-product-kit-shopping-lists-grid {
    .show-on-tablet {
        display: none;
    }

    .oro-datagrid {
        margin: 0;
    }

    .grid-main-container {
        border-width: 0;
        margin: 0;
    }

    .grid-body-cell {
        vertical-align: top;
        border-bottom-color: $responsive-product-kit-shopping-lists-border-color;

        &-shoppingListLabel {
            padding-left: spacing('md');

            a {
                font-weight: $responsive-product-kit-shopping-lists-label-font-weight;
                color: $responsive-product-kit-shopping-lists-label-color;
                text-decoration: $responsive-product-kit-shopping-lists-label-text-decoration;
            }
        }

        &-kitConfiguration {
            font-size: 13px;
        }

        &-quantity {
            min-width: 414px;
        }

        &.action-cell {
            padding-right: 0;
        }
    }

    .notification-row {
        .grid-cell {
            padding-top: 0;

            &:first-child {
                padding: 0;
            }
        }
    }

    .action-cell {
        // Using a default padding as in every cell
        padding-right: $datagrid-body-cell-offset;
    }
}

@include breakpoint('tablet-small') {
    .responsive-product-kit-shopping-lists-grid {
        .grid-header,
        .grid-body,
        .grid-footer {
            display: grid;
            grid-template-areas: $responsive-product-kit-shopping-lists-tablet-small-grid-template-areas;
            grid-template-columns: $responsive-product-kit-shopping-lists-tablet-small-grid-template-columns;
            gap: $responsive-product-kit-shopping-lists-tablet-small-gap;
        }

        .grid-row,
        .grid-header-row {
            display: grid;
            grid-template-columns: subgrid;
            grid-column: label / actions;

            grid-template-areas: $responsive-product-kit-shopping-lists-tablet-small-grid-template-areas;
        }

        .grid-header-row {
            background-color: $table-thead-background-color;
        }

        .grid-row {
            padding-bottom: $responsive-product-kit-shopping-lists-grid-row-offset-mobile;
            border-bottom: $responsive-product-kit-shopping-lists-grid-border-offset-mobile;
        }

        .grid-header-cell,
        .grid-body-cell {
            padding-left: 0;
            padding-right: 0;

            &-shoppingListLabel {
                grid-area: label;
            }

            &-kitConfiguration {
                grid-area: configuration;
            }

            &-quantity {
                grid-area: qty;
            }

            &.action-column {
                grid-area: actions;
                width: auto;
                padding: $table-th-inner-offset 0;
            }
        }

        .grid-body-cell {
            border: none;
            padding-bottom: 0;
        }

        .grid-header-cell-quantity {
            display: none;
        }
    }
}

@include breakpoint('mobile-landscape') {
    .responsive-product-kit-shopping-lists-grid {
        .grid-body {
            grid-template-areas: $responsive-product-kit-shopping-lists-mobile-landscape-grid-template-areas;
            grid-template-columns: $responsive-product-kit-shopping-lists-mobile-landscape-grid-template-columns;
            gap: $responsive-product-kit-shopping-lists-mobile-landscape-gap;
        }

        .grid-header,
        .grid-footer {
            display: none;
        }

        .grid-body-cell {
            padding: 0;
        }

        .grid-row {
            grid-template-areas: $responsive-product-kit-shopping-lists-mobile-landscape-grid-template-areas;

            &:not(:first-child) {
                padding-top: $responsive-product-kit-shopping-lists-grid-row-offset-mobile;
            }
        }

        .grid-body-cell-quantity {
            padding-top: spacing('base');
        }

        .grid-body-cell-shoppingListLabel {
            display: flex;
            align-items: center;
            flex-direction: row;
            flex: 1 0 0;
        }

        .notification-row {
            padding-top: 0;
        }

        &.grid-inline-editing-quantity {
            .view-mode.editable,
            .edit-mode.editable {
                width: 100%;

                &:has(.form-quantity-row) {
                    width: 100%;
                    min-width: 0;
                }
            }

            .edit-mode {
                .input {
                    width: 100%;
                    min-width: 0;
                }
            }

            .line-item-container {
                .form-quantity-row {
                    flex: 1 0 auto;
                    max-width: 150px;
                }

                .input {
                    width: 100%;
                }
            }
        }
    }
}
