/* @theme: default; */

.shopping-list {
    &__header {
        display: grid;
        grid-template-columns: minmax(0, auto) repeat(auto-fit, minmax(0, max-content));
        grid-gap: spacing('md') spacing('xl');
        min-height: 44px;

        .page-title {
            gap: spacing('sm');
        }
    }

    &__title-wrapper {
        display: flex;
        align-items: center;
    }
}

.shopping-lists {
    .btn {
        --btn-outlined-background: #{$shopping-lists-btn-background-color};
        --btn-outlined-focus-background: #{$shopping-lists-btn-focus-background-color};
        --btn-outlined-active-background: #{$shopping-lists-btn-active-background-color};

        &:focus:hover {
            --btn-outlined-focus-background: #{$shopping-lists-btn-focus-hover-background-color};
        }
    }

    &__text {
        background-color: $shopping-lists-text-background-color;
        min-height: $shopping-lists-text-min-height;
        font-size: $shopping-lists-text-font-size;
        line-height: $shopping-lists-text-line-height;
        font-weight: $shopping-lists-text-font-weight;
        color: $shopping-lists-text-color;
        border: $shopping-lists-text-border;
        padding: $shopping-lists-text-padding;
        display: $shopping-lists-text-display;
        grid-auto-flow: $shopping-lists-text-grid-auto-flow;
        gap: $shopping-lists-text-gap;
        align-items: $shopping-lists-text-align-items;
        justify-content: $shopping-lists-text-justify-content;
        border-radius: $shopping-lists-text-border-radius;
    }
}

@include breakpoint('mobile-big') {
    .shopping-list {
        &__header {
            display: grid;
            grid-template-columns: minmax(0, 1fr) max-content;
            grid-auto-rows: auto;
            grid-gap: 0 spacing('md');
        }
    }
}
