/* @theme: default; */

.shopping-lists {
    .btn {
        --btn-outlined-background: #{$shopping-lists-btn-background-color};
    }

    &__text {
        background-color: $shopping-lists-text-background-color;
        min-height: $shopping-lists-text-min-height;
        font-size: $shopping-lists-text-font-size;
        line-height: $shopping-lists-text-line-height;
        font-weight: $shopping-lists-text-font-weight;
        color: $shopping-lists-text-color;
        border: $shopping-lists-text-border;
        padding: $shopping-lists-text-padding;
        display: $shopping-lists-text-display;
        grid-auto-flow: $shopping-lists-text-grid-auto-flow;
        gap: $shopping-lists-text-gap;
        align-items: $shopping-lists-text-align-items;
        justify-content: $shopping-lists-text-justify-content;
        border-radius: $shopping-lists-text-border-radius;
    }
}
