/* @theme: default; */

.shoppinglist-popover {
    border: $shoppinglist-popover-border;
    position: $shoppinglist-popover-position;

    &--image {
        width: $shoppinglist-popover-image-width;
        height: $shoppinglist-popover-image-height;
        display: $shoppinglist-popover-image-display;
        position: $shoppinglist-popover-image-position;
    }
}
