/* @theme: default; */

.shopping-list-dropdown {
    min-width: 280px;

    &__item {
        display: flex;

        @include safe-area-offset(padding, $shopping-list-dropdown-item-inner-offset);

        border-bottom: $shopping-list-dropdown-item-border;

        gap: spacing('sm');

        &--limit {
            display: block;
            padding: 0;
        }
    }

    &__radio {
        width: $shopping-list-dropdown-radio-width;
    }

    &__link {
        display: block;
        width: calc(100% - #{$shopping-list-dropdown-radio-width});
    }

    &__link,
    &__link:hover {
        text-decoration: none;

        color: $shopping-list-dropdown-link-color;
    }

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: spacing('xs');
    }

    &__name {
        display: inline-block;
        vertical-align: middle;
        padding-right: spacing('sm');
        font-weight: font-weight('semi-bold');
    }

    &__name,
    &__details {
        word-break: break-all;
    }

    &__item--default &__name {
        color: $shopping-list-dropdown-name-default-color;
    }

    &__name-inner {
        display: block;
        max-width: 140px;

        overflow: hidden;

        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__details {
        text-align: right;
        padding-left: spacing('xs');
    }

    &__details-count {
        display: inline-block;
    }

    &__details-subtotal {
        display: inline-block;
    }

    &__products {
        display: block;

        color: $shopping-list-dropdown-products-color;

        font-size: $base-font-size - 1px;

        &__item {
            display: block;

            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    &__info {
        color: $link-color;
        text-decoration: underline;

        &:hover {
            color: $link-hover-color;
        }
    }

    &__link:hover &__info {
        text-decoration: none;
    }

    &__ellipsis {
        display: inline-block;
        width: 100%;

        font-size: $base-font-size--large + 2px;

        line-height: .4;
        vertical-align: top;
    }

    &__empty-list {
        text-align: center;
        padding: 34px 12px;
    }

    &__footer {
        border-top: $shopping-list-dropdown-footer-border;
        display: grid;
        grid-template-areas: $shopping-list-widget-footer-template-areas;
        grid-template-columns: $shopping-list-widget-footer-template-columns;
        grid-gap: $shopping-list-widget-footer-grid-gap;

        padding: spacing('base') 0;

        &--stack {
            --shopping-list-widget-footer-template-areas: #{$shopping-list-widget-footer-template-areas-stack};
            --shopping-list-widget-footer-template-columns: #{$shopping-list-widget-footer-template-columns-stack};
        }

        &--columns {
            --shopping-list-widget-footer-template-areas: #{$shopping-list-widget-footer-template-areas-columns};
            --shopping-list-widget-footer-template-columns: #{$shopping-list-widget-footer-template-columns-columns};
        }

        &--no-items {
            --shopping-list-widget-footer-template-areas: #{$shopping-list-widget-footer-template-areas-no-items};
            --shopping-list-widget-footer-template-columns: #{$shopping-list-widget-footer-template-columns-no-items};
        }
    }

    &__total {
        display: flex;
        align-items: center;

        grid-area: total;
    }

    &__footer--stack &__total,
    &__footer--columns &__total {
        justify-content: end;
    }

    &__product-list {
        max-height: 425px;
        overflow-y: auto;
    }

    &__product-item {
        height: 85px;
        padding: spacing('base') 0;
        display: flex;

        &:not(:first-child) {
            border-top: $shopping-list-dropdown-product-item-border-top;
        }
    }

    &__product-img {
        width: 44px;
        height: 44px;
        border: $shopping-list-dropdown-product-img-border-top;
        border-radius: 50%;

        img {
            width: 42px;
            height: 42px;
            display: block;
            border-radius: 50%;
        }
    }

    &__product-base {
        width: calc(100% - 44px);
        padding-left: spacing('md');
        font-size: $base-font-size - 1px;
    }

    &__product-title {
        grid-area: title;

        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        font-weight: font-weight('semi-bold');
        color: $shopping-list-dropdown-item-title-color;

        &:hover {
            color: $shopping-list-dropdown-item-title-hover-color;
        }
    }

    &__product-qty {
        grid-area: qty;

        margin-top: spacing('md');
    }

    &__product-total {
        grid-area: total;

        margin-top: spacing('md');

        display: flex;
        justify-content: space-between;
        align-items: start;
    }

    &__product-sku {
        grid-area: sku;
    }

    &__product-sku-value {
        color: $shopping-list-product-sku-value-color;
    }
}

@include breakpoint('tablet') {
    .shopping-list-dropdown {
        &__item {
            &--limit {
                height: 100%;
                display: flex;
                flex-direction: column;
            }
        }

        &__product-list {
            max-height: none;
        }
    }
}
