/* @theme: default; */

.shopping-lists-modify {
    &__text,
    &__select {
        display: inline-block;
    }

    &__badges {
        float: right;
    }

    &__text {
        margin-right: spacing('xs');
    }

    &__input {
        width: $shopping-lists-modify-input-width;
        text-align: $shopping-lists-modify-input-text-align;
    }

    &__select {
        min-width: $shopping-lists-modify-select-min-width;
    }

    &__edit {
        display: inline-block;
        vertical-align: middle;

        &:not(:first-child) {
            margin-left: spacing('xs');
        }
    }

    &__icon {
        margin-right: 0;
    }

    &--hidden {
        display: none;
    }
}

@include breakpoint('mobile') {
    .shopping-lists-modify {
        padding-top: $shopping-lists-modify-offset-inner-top;
        display: flex;
        column-gap: 8px;

        &__input {
            width: $shopping-lists-modify-input-width-mobile;
        }

        &__select {
            min-width: $shopping-lists-modify-select-min-width-mobile;
            width: $shopping-lists-modify-select-width-mobile;
            margin-right: auto;
        }

        &__text {
            margin-inline-end: $shopping-lists-modify-text-margin-end;
        }

        &__badges {
            flex-shrink: 0;
        }
    }
}
