/* @theme: default; */

.shopping-lists-popup {
    width: $shopping-lists-popup-width;

    &__content {
        display: $shopping-lists-popup-content-display;
        overflow-y: $shopping-lists-popup-content-overflow-y;

        max-height: $shopping-lists-popup-content-max-height;

        .shopping-lists-modify {
            display: flex;
            width: 100%;
            justify-content: flex-end;
        }
    }

    &__item {
        border-top: $shopping-lists-popup-item-border-top;

        display: $shopping-lists-popup-item-display;
        align-items: $shopping-lists-popup-item-align-items;

        grid-template-columns: $shopping-lists-popup-list-width $shopping-lists-popup-quantity-width;
    }

    &__list {
        padding: $shopping-lists-popup-list-inner-offset;
    }

    &__quantity {
        padding-block: $shopping-lists-popup-quantity-inner-block-offset;
        padding-inline: $shopping-lists-popup-quantity-inner-inline-offset;
    }

    &__headline {
        background: $shopping-lists-popup-headline-background;
        text-align: $shopping-lists-popup-headline-text-align;
        color: $shopping-lists-popup-headline-color;
        letter-spacing: $shopping-lists-popup-headline-letter-spacing;
        text-transform: $shopping-lists-popup-headline-text-transform;
        font-size: $base-font-size--xs;

        th {
            font-weight: font-weight('semi-bold');
        }
    }

    .error-row-item {
        padding: $shopping-lists-popup-error-row-item;
    }

    &__headline &__item {
        border: $shopping-lists-popup-headline-item-text-border;
    }

    &__headline &__list,
    &__headline &__quantity {
        padding: $shopping-lists-popup-headline-list-text-inner-offset;
    }

    &__content &__item {
        grid-template-columns: $shopping-lists-content-popup-list-width $shopping-lists-content-popup-quantity-width;
        &:first-child {
            border-top: 0;
        }
    }

    &__footer &__list {
        padding: $shopping-lists-popup-footer-list-inner-offset;
    }
}

@include breakpoint('mobile-landscape') {
    .shopping-lists-popup {
        &__quantity {
            padding: $shopping-lists-popup-quantity-inner-offset-mobile;
        }

        &__item {
            grid-template-columns: $shopping-lists-grid-template-columns-mobile;
        }

        &__list {
            padding: $shopping-lists-popup-list-inner-offset-mobile;
        }

        &__headline &__quantity {
            display: $shopping-lists-popup-headline-quantyty-display-mobile;
        }

        &__footer & {
            &__list {
                padding: $shopping-lists-popup-footer-list-inner-offset-mobile;
            }

            &__quantity {
                padding: $shopping-lists-popup-footer-quantity-inner-offset-mobile;
            }

            &__item {
                padding-top: $shopping-lists-popup-footer-item-inner-offset-top-mobile;
            }
        }

        &__footer {
            .shopping-lists-modify__select {
                width: $shopping-lists-modify-select-footer-width-mobile;
            }
        }

        &__content & {
            &__item {
                display: $shopping-lists-popup-content-items-display-mobile;
            }
        }

        &__content {
            .shopping-lists-popup__quantity,
            .shopping-lists-units,
            .error-row,
            form {
                display: $shopping-lists-popup-content-items-display-mobile;
            }
        }
    }
}
