// @theme: default

.shopping-list-widget {
  &:hover > .header-row__toggle {
    display: block !important;
  }

  @include breakpoint('desktop') {
    position: relative;

    &__container {
      max-height: 450px;
      padding: 0;
      overflow-y: auto;
    }
  }

  .header-row {

    &__container-wrapper {
      position: relative;
    }

    &__wrapper {
      position: absolute;
      z-index: z('dropdown') + 1;
      right: 2px;
      padding: 0;
      width: 382px;
      min-width: 260px;
      border-radius: 4px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3);
      border: 1px solid get-color('additional', 'light');
      background: get-color('additional', 'ultra');

      @include breakpoint('tablet') {
        width: 100%;

        overflow-y: scroll;
      }
    }
  }

  &__create-btn {
    display: block;
    width: 100%;
    padding: 10px 0;
    margin: 0;
    border: 0;
    border-top: .1rem solid get-color('additional', 'light');

    background: get-color('additional', 'light');
    color: get-color('additional', 'dark');
    text-align: center;
    text-decoration: none;

    &:hover, &:focus {
      outline: 0;

      text-decoration: none;
      color: get-color('additional', 'dark');
    }

    [class^="fa-"] {
      margin-right: 5px;

      &:before {
        font-size: 18px;
        color: get-color('ui', 'normal');
      }
    }
  }
}

.cart-widget {
  float: left;
  width: 100%;
  min-height: 62px;

  &__content {
    position: relative;

    margin: 9px 5px 0 0;
    vertical-align: middle;

    text-align: right;

    @media (max-width: 820px) {
      margin: 14px 5px 0 0;
    }
  }

  &__clipboard {
    margin: 0 5px 0 0;

    @media (max-width: $screen-md) {
      margin: 0;
    }
  }

  &__list-trigger {
    cursor: pointer;
  }

  &__text {

    @media (max-width: $screen-md) {
      display: none;
    }
  }

  &__order-btn {
    padding: 0;
    border: 0;
    box-shadow: none;

    background: transparent;
  }

  &__icon {
    margin-right: 3px;

    @include badge(33px);

    @include breakpoint('tablet') {
      margin: 0;
    }
  }
}

.order-builder-clear-btn {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  [class^="cf-"] {
    font-size: 18px;
  }

  @include breakpoint('mobile-landscape') {
    position: static;
  }

  @media (max-width: 360px) {
    position: static;

    + div {
      .order-checkout-widget__table {
        float: none !important;
        margin-top: 5px;

        td {
          &:first-child {
            padding-left: 0;
          }
        }
      }
    }
  }
}

.line-item-price {
  width: 200px;
}

// *** All code below has not implemented yet!!!
.main-menu__item {
  .cart-widget__list-trigger {
    text-indent: 4px;
  }
}

.delete-item-btn {
  display: block;
  border: 0;
  padding: 0;
  background: transparent;
  box-shadow: none;
  cursor: pointer;

  &.delete-item-btn_abs {
    position: absolute;
    top: 1.2rem;
    right: 1rem;
  }
}
