/* @theme: default; */

.shopping-lists-units {
    padding: $shopping-lists-units-inner-offset;

    @include clearfix();

    &__number {
        width: $shopping-lists-units-number-width;
        text-align: $shopping-lists-units-number-text-align;
    }

    &__static {
        display: $shopping-lists-units-static-display;
        align-items: $shopping-lists-units-static-align-items;
    }

    &__separate {
        margin: 0 3px;
    }

    &__actions {
        margin-left: $shopping-lists-units-actions-outer-offset-left;
    }

    &:hover &__actions {
        transition-delay: .1s;
    }
}

@include breakpoint('mobile-landscape') {
    .shopping-lists-units {
        &__number {
            width: initial;
        }
    }
}

@include breakpoint('mobile') {
    .shopping-lists-units {
        padding: $shopping-lists-units-inner-offset-mobile;

        &__static {
            padding-right: 0;
        }

        &__number {
            width: auto;
        }
    }
}
