/* @theme: default; */

.shopping-list-widget {
    .header-row {
        &__container-wrapper {
            position: relative;
        }

        &__wrapper {
            position: absolute;
            z-index: z('dropdown') + 10;
            right: 0;
            padding-top: spacing('xs');

            width: 382px;
            min-width: 260px;

            background-color: transparent;
        }

        &__dropdown {
            border-radius: $shopping-list-widget-wrapper-border-radius;
            box-shadow: $shopping-list-widget-wrapper-box-shadow;
            background: $shopping-list-widget-wrapper-background;
        }

        &__dropdown-footer {
            padding: 0 spacing('base') spacing('base');

            &:only-child {
                padding-top: spacing('base');
            }
        }
    }

    &__container {
        overflow-y: auto;

        @include safe-area-offset(padding, spacing('base'));

        padding-top: 0;
        padding-bottom: 0;
    }

    &__create-btn {
        display: block;
        width: 100%;
        padding: 10px 0;
        margin: 0;

        text-align: center;
        text-decoration: none;

        font-size: $base-font-size;
        line-height: $base-line-height;

        color: $shopping-list-widget-wrapper-create-btn-color;

        border: 0;
        border-top: $shopping-list-widget-wrapper-create-btn-border-top;
        background: $shopping-list-widget-wrapper-create-btn-background;

        cursor: pointer;

        @include hover-focus() {
            outline: 0;
        }

        @include hover {
            text-decoration: underline;
        }

        [class^='fa-'] {
            margin-right: 5px;

            vertical-align: middle;

            &::before {
                font-size: 18px;

                color: $shopping-list-widget-wrapper-create-btn-icon-color;
            }
        }
    }

    &--disabled {
        pointer-events: none;
    }
}

.order-builder-clear-btn {
    float: left;
}

.delete-item-btn {
    display: block;
    border: 0;
    padding: 0;

    background: transparent;
    box-shadow: none;
    cursor: pointer;

    &.delete-item-btn_abs {
        position: absolute;
        top: 1.2rem;
        right: 1rem;
    }
}

@include breakpoint('desktop-small') {
    .shopping-list-widget {
        position: relative;

        > .header-row__toggle {
            display: none;
        }

        &.show > .header-row__toggle {
            display: block;
        }

        &__container {
            max-height: 450px;

            &--limit {
                max-height: none;
                overflow-y: visible;
            }
        }
    }
}

@include breakpoint('tablet') {
    .shopping-list-widget {
        .header-row {
            &__wrapper {
                width: 100%;
                max-height: calc(var(--shopping-list-visible-viewport-height, 100vh) - var(--shopping-list-widget-top));
                overflow: hidden;

                display: flex;
                flex-direction: column;
            }

            &__container {
                &.show-by-hover {
                    .header-row__toggle {
                        display: flex;
                    }
                }
            }

            &__dropdown {
                display: flex;
                flex-direction: column;

                min-height: 100%;
            }

            &__dropdown-footer {
                padding-top: spacing('base');

                background: $shopping-list-widget-wrapper-background;
            }
        }
    }
}

@include breakpoint('mobile-landscape') {
    .order-builder-clear-btn {
        position: static;
        text-align: left;
    }
}
