/* @theme: default; */

.shopping-list-widget {
    .header-row {
        &__container-wrapper {
            position: relative;
        }

        &__wrapper {
            position: absolute;
            z-index: z('dropdown') + 10;
            right: 2px;

            padding: 0;
            width: 382px;
            min-width: 260px;

            border-radius: 4px;
            box-shadow: $shopping-list-widget-wrapper-box-shadow;
            border: $shopping-list-widget-wrapper-border;
            background: $shopping-list-widget-wrapper-background;
        }
    }

    &__create-btn {
        display: block;
        width: 100%;
        padding: 10px 0;
        margin: 0;

        text-align: center;
        text-decoration: none;

        font-size: $base-font-size;
        line-height: $base-line-height;

        color: $shopping-list-widget-wrapper-create-btn-color;

        border: 0;
        border-top: $shopping-list-widget-wrapper-create-btn-border-top;
        background: $shopping-list-widget-wrapper-create-btn-background;

        cursor: pointer;

        @include hover-focus() {
            outline: 0;
        }

        @include hover {
            text-decoration: underline;
        }

        [class^='fa-'] {
            margin-right: 5px;

            vertical-align: middle;

            &::before {
                font-size: 18px;

                color: $shopping-list-widget-wrapper-create-btn-icon-color;
            }
        }
    }

    &--disabled {
        pointer-events: none;
    }
}

.cart-widget {
    &__content {
        display: flex;
        gap: 3px;
        position: relative;
        vertical-align: middle;
        text-align: right;
    }

    &__clipboard {
        margin: 0 5px 0 0;
    }

    &__list-trigger {
        cursor: pointer;
    }

    &__order-btn {
        padding: 0;
        border: 0;

        background: transparent;
        box-shadow: none;
    }

    &__icon {
        @include badge(33px);
    }
}

.order-builder-clear-btn {
    float: left;

    [class^='fa-'] {
        &::before {
            font-size: $base-font-icon-button;
        }
    }
}

.cart-widget-counter {
    text-indent: 4px;
}

.delete-item-btn {
    display: block;
    border: 0;
    padding: 0;

    background: transparent;
    box-shadow: none;
    cursor: pointer;

    &.delete-item-btn_abs {
        position: absolute;
        top: 1.2rem;
        right: 1rem;
    }
}

@include breakpoint('desktop') {
    .shopping-list-widget {
        position: relative;

        > .header-row__toggle {
            display: none;
        }

        &.show > .header-row__toggle {
            display: block;
        }

        &__container {
            max-height: 450px;
            padding: 0;
            overflow-y: auto;

            &--limit {
                max-height: none;
                overflow-y: visible;
            }
        }
    }

    .cart-widget {
        padding: 8px 24px;

        &__content {
            align-items: center;
        }
    }
}

@include breakpoint('tablet') {
    .shopping-list-widget {
        .header-row {
            &__wrapper {
                width: 100%;

                overflow-y: scroll;
            }
        }
    }

    .cart-widget {
        &__content {
            justify-content: center;
        }

        &__icon {
            margin: 0;
        }
    }
}

@include breakpoint('tablet-small') {
    .cart-widget {
        &__content {
            margin: 14px 5px 0 0;
        }

        &__clipboard {
            margin: 0;
        }

        &__text {
            display: none;
        }
    }
}

@include breakpoint('mobile-landscape') {
    .order-builder-clear-btn {
        position: static;
        text-align: left;
    }
}
