/* @theme: default; */

.shopping-lists-modify {
    display: $shopping-lists-modify-display;
    align-items: $shopping-lists-modify-align-items;
    justify-content: $shopping-lists-modify-justify-content;

    gap: $shopping-lists-modify-gap;

    &__text,
    &__select {
        display: $shopping-lists-modify-text-select-display;
    }

    &__badges {
        float: $shopping-lists-modify-badges-float;
        display: $shopping-lists-modify-badges-display;
        gap: $shopping-lists-modify-badges-gap;
    }

    &__text {
        margin-right: $shopping-lists-modify-text-margin-right;
    }

    &__input {
        width: $shopping-lists-modify-input-width;
        text-align: $shopping-lists-modify-input-text-align;
    }

    &__select {
        min-width: $shopping-lists-modify-select-min-width;
    }

    &__icon {
        margin-right: $shopping-lists-modify-icon-margin-right;
    }
}

@include breakpoint('mobile') {
    .shopping-lists-modify {
        padding-top: $shopping-lists-modify-offset-inner-top;
        display: $shopping-lists-modify-display-mobile;
        column-gap: $shopping-lists-modify-column-gap-mobile;

        &__input {
            width: $shopping-lists-modify-input-width-mobile;
        }

        &__select {
            min-width: $shopping-lists-modify-select-min-width-mobile;
            width: $shopping-lists-modify-select-width-mobile;
            margin-right: $shopping-lists-modify-select-margin-right-mobile;
        }

        &__text {
            margin-inline-end: $shopping-lists-modify-text-margin-end;
        }

        &__badges {
            flex-shrink: $shopping-lists-modify-badges-flex-shrink-mobile;
        }
    }
}
