/* @theme: default; */

.shopping-list {
  margin: 10px 0 18px;

  @include list-normalize();

  &__item {
    border-bottom: 1px solid get-color('additional', 'middle');
    border-left: 6px solid transparent;

    &--current,
    &:hover {
      border-left: 6px solid get-color('additional', 'light');
      background: get-color('additional', 'base');

      .line-clamp-polyfill {
        &:after {
          background: linear-gradient(to right, rgba(245, 245, 245, 0.3), rgb(245, 245, 245) 50%);
        }
      }
    }

    &:first-child {
      border-top: 1px solid get-color('additional', 'light');
    }
  }

  &__link {
    position: relative;

    display: block;
    padding: 15px 10px 15px 40px;

    color: get-color('additional', 'dark');
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      color: get-color('additional', 'dark');
      text-decoration: none;
    }
  }

  &__title {
    overflow: hidden;

    font-size: $base-font-size;
    line-height: 1.3;

    .line-clamp-polyfill {
      max-height: 40px;
    }
  }

  &__desc {
    font-size: 13px;
  }

  &__item-indicator {
    $icon-size: 26px !default;

    position: absolute;
    top: 50%;
    left: 6px;

    margin-top: -$icon-size / 2;

    @include badge($badge-size: $icon-size, $badge-f-size: 14px, $badge-radius: 3px);
  }

  &__text {
    display: inline-block;
    max-width: 100%;
  }
}
