.three-columns-text-testimonials {
    --grid-gap: 40px 24px;
}

.three-columns-text-testimonials .grid-team-member {
    --grid-gap: 12px;
    --grid-column-count: 2;
    --grid-template-columns: 44px 1fr;
}

.three-columns-text-testimonials .grid-item {
    height: 100%;
    --grid-gap: 16px 0;
    --grid-auto-rows: auto 1fr;
}

/* stylelint-disable scale-unlimited/declaration-strict-value */
.three-columns-text-testimonials .grid-item__bottom {
    background: #f0f3f5;
}
/* stylelint-enable scale-unlimited/declaration-strict-value */
