// @theme: blank

.header-row {
    position: relative;

    margin-top: $offset-y;

    border: 1px solid get-color('additional', 'light');
    border-width: 1px 0;

    &__trigger {
        width: 100%;

        display: block;

        margin: 0;
        padding: 7px 20px;

        background-color: get-color('additional', 'base');
        border: 0;
        box-sizing: border-box;
    }

    &__toggle {
        background-color: get-color('additionl', 'ultra');
    }

    &.open {
        .header-row__trigger {
            background: get-color('additional', 'ultra');

            z-index: auto;
        }

        .header-row__toggle {
            display: block;
        }
    }
}

@include only-desktop {
    .header-row {
        &__trigger {
            &.active,
            &:hover {
                & + .header-row__toggle,
                .header-row__toggle {
                    display: block;
                }
            }
        }
    }
}

@include breakpoint('desktop') {
    %hidden-on-desktop {
        &.hidden-on-desktop {
            display: none !important;
        }
    }

    .header-row {
        &__trigger {
            @extend %hidden-on-desktop;

            padding: 0;
        }

        &__toggle {
            @extend %hidden-on-desktop;
        }
    }
}

@include breakpoint('tablet') {
    .header-row {
        &__trigger {
            position: relative;
            z-index: z('dropdown') + 1;

            text-align: center;
        }

        &__toggle {
            display: none;
        }
    }
}
