// @theme: blank

.header-row-helper {
    &:checked {
        ~ .header-row__trigger {
            z-index: auto;
        }

        ~ .header-row-overlay {
            display: none;
        }

        ~ .header-row__toggle {
            display: block;
        }
    }
}

@include breakpoint('tablet') {
    .header-row-helper {
        &:checked ~ .header-row__trigger {
            background: get-color('additional', 'ultra');
        }
    }
}
