.add-product-widget {
  fieldset {
    .hidden {
      display: none;
    }
  }
}

.shopping-list-dialog {
  > .ui-dialog-content {
    padding: 10px 10px 30px;
  }
}

.form-inline {
  .add-product-table {
    .control-label {
      width: 50px;
    }

    .control-group {
      .controls {
        margin-left: 60px;
      }
    }
  }
}

.add-products-btn-holder {
  margin-left: 15px;
}

.shopping-list-line-items {
  .grid-body-cell-notes{
    width: 450px;
  }
}
