{% block matrix_order_form_summary_widget %}
    <div class="matrix-order-form-summary">
        {{ 'oro.frontend.shoppinglist.matrix_grid_order.total_qty'|trans }}: <span class="matrix-order-form-summary-total-quantity">{{ totalQuantity }}</span>
        {{ 'oro.frontend.shoppinglist.matrix_grid_order.total'|trans }}: <span class="matrix-order-form-summary-total-price">{{ totalPrice }}</span>
    </div>
{% endblock %}
