{% block _checkout_form_fields_widget -%}
    <div class="notification--xmd notification--alert">
        <span class="notification__text">{{ transitionData.transition.message|raw }}</span>
    </div>

    <fieldset class="checkout__form__row">
        <div class="checkout__form__col form__col_x6 mmb5-md mmb5-sm">
            {{ form_row(form.request_approval_notes, {'attr': {'class': 'input input--full input--size-m', 'placeholder': 'oro.checkout.order_review.note_placeholder'|trans}}) }}
        </div>
    </fieldset>

    {{ form_row(form.state_token) }}

    {{ block_widget(block) }}
{%- endblock %}
