{% block _checkout_form_fields_widget -%}
    <div class="checkout__approval-wrapper">
        <div class="notification notification--alert" role="alert">
            {% set frontendMessage = transitionData.transition.frontendOptions.message %}
            <span class="notification__text">{{ frontendMessage.content|trans(frontendMessage.message_parameters|default({}), 'workflows')|raw }}</span>
        </div>

        <div class="grid__row grid__row--offset-none">
            {{ form_row(form.request_approval_notes, {'attr': {
                'class': 'input input--full input--size-m',
                'placeholder': 'oro.checkout.order_review.note_placeholder'|trans,
                'aria-label': 'oro.checkout.order_review.note_aria_label'|trans
            }}) }}
        </div>

        {{ form_row(form.state_token) }}

        {{ block_widget(block) }}
    </div>
{%- endblock %}
