/* @theme: default; */

$matrix-order-widget-width: 100% !default;

$matrix-order-widget-pinned-dropdown-width: auto !default;

$matrix-order-widget-fields-row-error-background: get-color('neutral', 'white-100') !default;
$matrix-order-widget-fields-row-error-max-width: 100% !default;
$matrix-order-widget-fields-row-error-offset-inner: spacing('sm') 0 !default;
$matrix-order-widget-fields-row-error-display: inline-block !default;
$matrix-order-widget-fields-row-error-position: relative !default;
$matrix-order-widget-fields-row-error-z-index: z('base') !default;

$matrix-order-widget-actions-container-offset: spacing('sm') 0;
$matrix-order-widget-actions-container-inner-offset: 0 spacing('sm');
