/* @theme: default; */

$product-item-quantity-input-width: 90px !default;
$product-item-quantity-select-width: 120px !default;

// Mobile Landscape

$product-item-quantity-input-width-mobile-landscape: 120px !default;
