/* @theme: default; */

$responsive-product-kit-shopping-lists-grid-border-color: get-color('neutral', 'grey1') !default;
$responsive-product-kit-shopping-lists-grid-header-cell-color: get-color('text', 'secondary') !default;
$responsive-product-kit-shopping-lists-grid-row-offset-mobile: $responsive-shopping-grid-row-offset-mobile !default;
$responsive-product-kit-shopping-lists-grid-border-offset-mobile: $responsive-shopping-grid-row-border-mobile !default;

$responsive-product-kit-shopping-lists-grid-cell-offset-mobile: $responsive-shopping-body-cell-offset-y-mobile !default;

$responsive-product-kit-shopping-lists-action-cell-width-mobile: (
    $responsive-shopping-list-edit-action-cell-width-mobile
) !default;

$responsive-product-kit-shopping-lists-label-font-weight: font-weight('semi-bold') !default;
$responsive-product-kit-shopping-lists-label-color: get-color('text', 'primary') !default;
$responsive-product-kit-shopping-lists-label-text-decoration: none !default;
