/* @theme: default; */

@use 'sass:color';

$shopping-list-dropdown-radio-width: 20px !default;
$shopping-list-dropdown-item-inner-offset: 10px 9px !default;
$shopping-list-dropdown-item-border: 1px solid get-color('additional', 'light') !default;

$shopping-list-dropdown-info-color: get-color('ui', 'normal') !default;

$shopping-list-dropdown-link-color: get-color('additional', 'darker') !default;

$shopping-list-dropdown-products-color: color.adjust(get-color('additional', 'middle'), $lightness: -20%);

$shopping-list-dropdown-item-title-hover-color: null !default;
$shopping-list-product-sku-value-color: get-color('primary', 'dark') !default;

$shopping-list-dropdown-footer-border: 1px solid get-color('additional', 'light');

$shopping-list-dropdown-product-item-border-top: 1px solid get-color('additional', 'light') !default;

$shopping-list-dropdown-product-img-border-top: $shopping-list-dropdown-product-item-border-top !default;
