/* @theme: default; */

$shopping-list-widget-wrapper-box-shadow: 0 2px 4px 0 rgba(0 0 0 / 30%) !default;
$shopping-list-widget-wrapper-border: 1px solid get-color('additional', 'light') !default;
$shopping-list-widget-wrapper-background: get-color('additional', 'ultra') !default;

$shopping-list-widget-wrapper-create-btn-color: get-color('ui', 'normal') !default;
$shopping-list-widget-wrapper-create-btn-border-top: .1rem solid get-color('additional', 'light') !default;
$shopping-list-widget-wrapper-create-btn-background: get-color('additional', 'light') !default;

$shopping-list-widget-wrapper-create-btn-icon-color: get-color('ui', 'normal') !default;
