/* @theme: default; */

$shopping-lists-btn-background-color: get-var-color('neutral', 'white-100') !default;
$shopping-lists-btn-focus-hover-background-color: get-var-color('primary', 'light') !default;

$shopping-lists-text-background-color: get-color('neutral', 'white-100') !default;
$shopping-lists-text-min-height: 32px !default;
$shopping-lists-text-font-size: 12px !default;
$shopping-lists-text-line-height: 1.3333 !default;
$shopping-lists-text-font-weight: font-weight('semi-bold') !default;
$shopping-lists-text-color: get-color('primary', 'main') !default;
$shopping-lists-text-border: 2px solid get-color('primary', 'main') !default;
$shopping-lists-text-padding: spacing('xs') spacing('md') !default;
$shopping-lists-text-display: inline-grid !default;
$shopping-lists-text-grid-auto-flow: column !default;
$shopping-lists-text-gap: 4px !default;
$shopping-lists-text-align-items: center !default;
$shopping-lists-text-justify-content: center !default;
$shopping-lists-text-border-radius: 4px !default;

$shopping-lists-notes-offset: spacing('sm') 0 !default;
$shopping-lists-notes-max-width: 1204px !default;
$shopping-lists-notes-gap: spacing('sm') !default;
$shopping-lists-notes-font-size: $base-font-size--s !default;
$shopping-lists-notes-font-s: italic !default;
$shopping-lists-notes-line-height: $base-line-height !default;
$shopping-lists-notes-expanded-height: 200px !default;

$shopping-lists-notes-title-font-w: font-weight('bold') !default;
$shopping-lists-notes-title-offset: spacing('sm') !default;

$shopping-lists-cart-offset: spacing('sm') !default;
