// @theme: default

$shopping-lists-content-position: relative !default;
$shopping-lists-content-display: inline-flex !default;
$shopping-lists-content-justify-content: center !default;
$shopping-lists-content-align-items: center !default;
$shopping-lists-content-inner-offset: 4px 13px !default;
$shopping-lists-content-width: 100% !default;
$shopping-lists-content-height: auto !default;
$shopping-lists-content-min-height: 30px !default;
$shopping-lists-content-font-size: $base-font-size--s !default;
$shopping-lists-content-color: #5b7a59 !default;
$shopping-lists-content-background: #d9e8d1 !default;
$shopping-lists-content-border-radius: 3px !default;

$shopping-lists-text-display: flex !default;
$shopping-lists-text-offset: 0 8px !default;
$shopping-lists-text-text-align: center !default;
$shopping-lists-text-justify-content: center !default;
$shopping-lists-text-word-break: break-all !default;

$shopping-lists-icons-opacity: .65 !default;
$shopping-lists-cart-font-size: $base-font-size--large + 1 !default;
$shopping-lists-cart-icon: $fa-var-cart-arrow-down !default;

$shopping-lists-edit-font-size: $base-font-size--xs !default;
$shopping-lists-edit-icon: $fa-var-pencil !default;
$shopping-lists-edit-position: absolute !default;
$shopping-lists-edit-right: 10px !default;

$shopping-lists-text-label-margin-right: 5px !default;

$shopping-lists-text-area-trigger-display: block !default;
$shopping-lists-text-area-trigger-position: absolute !default;
$shopping-lists-text-area-trigger-width: 100% !default;
$shopping-lists-text-area-trigger-height: 100% !default;
$shopping-lists-text-area-trigger-left: 0 !default;
$shopping-lists-text-area-trigger-top: 0 !default;
$shopping-lists-text-area-trigger-cursor: pointer !default;
