/* @theme: default; */

$shopping-list-widget-wrapper-box-shadow: 0 3px 12px 0 rgba(91, 126, 131, .14), 0 0 4px 0 rgba(5, 59, 66, .08) !default;
$shopping-list-widget-wrapper-background: get-color('neutral', 'white-100') !default;
$shopping-list-widget-wrapper-border-radius: $border-radius !default;

$shopping-list-widget-wrapper-create-btn-color: get-color('secondary', 'c3') !default;
$shopping-list-widget-wrapper-create-btn-border-top: .1rem solid get-color('neutral', 'grey1') !default;
$shopping-list-widget-wrapper-create-btn-background: get-color('neutral', 'grey1') !default;
