/* @theme: default; */

$shoppinglist-popover-border: 1px solid get-color('neutral', 'grey1') !default;
$shoppinglist-popover-position: relative !default;

$shoppinglist-popover-image-width: 100px !default;
$shoppinglist-popover-image-height: 100px !default;
$shoppinglist-popover-image-display: block !default;
$shoppinglist-popover-image-position: relative !default;
