/* @theme: default; */
$shopping-lists-popup-width: 100% !default;

$shopping-lists-popup-content-display: block !default;
$shopping-lists-popup-content-overflow-y: auto !default;
$shopping-lists-popup-content-max-height: 420px !default;

$shopping-lists-popup-item-display: grid !default;
$shopping-lists-popup-item-align-items: center !default;
$shopping-lists-popup-item-border-top: 1px solid get-color('neutral', 'grey2') !default;

$shopping-lists-popup-list-width: 40% !default;
$shopping-lists-popup-list-inner-offset: 12px 16px !default;

$shopping-lists-popup-quantity-width: 60% !default;
$shopping-lists-popup-quantity-inner-block-offset: 8px !default;
$shopping-lists-popup-quantity-inner-inline-offset: 12px 0 !default;
$shopping-lists-popup-quantity-inner-offset-mobile: 0 0 10px 16px !default;

$shopping-lists-popup-headline-background: get-color('neutral', 'grey1') !default;
$shopping-lists-popup-headline-color: get-color('text', 'secondary') !default;
$shopping-lists-popup-headline-text-align: left !default;
$shopping-lists-popup-headline-letter-spacing: .5px;
$shopping-lists-popup-headline-text-transform: uppercase;
$shopping-lists-popup-error-row-item: 0 0 spacing('sm') spacing('base');

$shopping-lists-popup-headline-item-text-border: 0 !default;

$shopping-lists-popup-headline-list-text-inner-offset: 14px 16px !default;

$shopping-lists-content-popup-list-width: 31% !default;
$shopping-lists-content-popup-quantity-width: 69% !default;

$shopping-lists-popup-footer-list-inner-offset: 12px 6px 12px 4px !default;

$shopping-lists-popup-footer-list-inner-offset-mobile: 4px 0 !default;

$shopping-lists-popup-footer-item-inner-offset-top-mobile: 12px;

$shopping-lists-popup-footer-quantity-inner-offset: 4px 0 4px 11px !default;
$shopping-lists-popup-footer-quantity-inner-offset-mobile: 0 !default;

$shopping-lists-modify-select-footer-width-mobile: 140px !default;
$shopping-lists-popup-list-inner-offset-mobile: 16px 16px 0 16px !default;
$shopping-lists-grid-template-columns-mobile: auto !default;

$shopping-lists-popup-content-items-display-mobile: block !default;
$shopping-lists-popup-headline-quantyty-display-mobile: none !default;
