/* @theme: default; */

$shopping-lists-modify-select-min-width: 136px !default;

$shopping-lists-modify-input-width: 70px !default;
$shopping-lists-modify-input-text-align: right !default;

// Mobile
$shopping-lists-modify-offset-inner-top: 4px;
$shopping-lists-modify-select-min-width-mobile: unset !default;
$shopping-lists-modify-select-width-mobile: 124px !default;

$shopping-lists-modify-input-width-mobile: 80px !default;
$shopping-lists-modify-text-margin-end: 0 !default;
