/* @theme: default; */

$shoppinglist-popover-border: 1px solid get-color('additional', 'light') !default;
$shoppinglist-popover-position: relative !default;

$shoppinglist-popover-image-width: 100px !default;
$shoppinglist-popover-image-height: 100px !default;
$shoppinglist-popover-image-display: block !default;
$shoppinglist-popover-image-position: relative !default;

$shoppinglist-popover-loader-font-size: 40px !default;
$shoppinglist-popover-loader-line-height: 100px !default;
$shoppinglist-popover-loader-display: block !default;
$shoppinglist-popover-loader-text-align: center !default;
$shoppinglist-popover-loader-position: absolute !default;
$shoppinglist-popover-loader-top: 0 !default;
$shoppinglist-popover-loader-left: 0 !default;
$shoppinglist-popover-loader-right: 0 !default;
$shoppinglist-popover-loader-bottom: 0 !default;
