/* @theme: blank; */

$shopping-list-grid-effect-transition: background-color 1s 1s !default;
$shopping-list-grid-effect-highlight: get-color('ui', 'warning') !default;
$shopping-list-grid-effect-success: get-color('ui', 'success') !default;
$shopping-list-grid-effect-error: get-color('ui', 'error') !default;
