/* @theme: admin.oro; */

.fixed-product-shipping-cost,
.shipping-cost-attribute-view {
    margin-top: 25px;
}

.shipping-cost-attribute-view {
    max-width: 800px;

    &__title {
        font-weight: font-weight('semi-bold');
        letter-spacing: .2px;
        margin-bottom: $content-padding-xmd;
    }
}

.fixed-product-shipping-cost {
    .control-group {
        display: block;

        .control-label.wrap label {
            display: block;
            font-weight: font-weight('semi-bold');
            letter-spacing: .2px;
            margin-bottom: $content-padding-xmd;
            text-align: left;
        }

        .controls {
            margin-left: 0;
        }
    }
}
