.subtotals-container {
  .control-label {
    cursor: default;
  }

  .controls {
    .control-label {
      font-weight: 700 !important;
    }
  }
}

.form-horizontal .totals-container .control-group .controls label.control-label,
.totals-container .form-horizontal .control-group .controls .control-label {
  width: 120px;
  text-align: right;
}

.order-order-accountuser-select {
  .entity-select-btn {
    display: none;
  }
}

.order-line-items {
  table.grid {
    overflow: auto;
  }

  .add-list-item {
    margin-top: 10px;
  }
}

.order-line-item-sku {
  width: 134px;

  input {
    width: 120px !important;
  }
}

.order-line-item-ship_by {
  width: 155px;

  input{
    width: 120px !important;
  }
}

.order-line-item-type {
  width: 290px;

  input[type="text"]{
    width: 279px !important;
  }
}

.order-line-item-quantity {
  input[type="text"] {
    text-align: right;
    margin-right: 3px;
    width: 76px !important;
    float: left;
  }

  select {
    width: 80px !important;
  }

  .input-widget-select {
    float: left;
  }

  .fields-row {
    width: 210px;
  }
}

.order-line-item-price {
  input[type="text"] {
    text-align: right;
    padding-left: 17px;
    width: 80px !important;
    float: left;
  }

  select {
    width: 80px !important;
  }

  .input-widget-select {
    float: left;
  }

  .fields-row {
    position: relative;
    width: 150px;
  }
}

.order-line-item-comment {
  div[data-page-component-module] {
    display: none;
  }

  .notes-widget {
    width: 245px;
  }
}

.order-line-item-price-value {
  float: left;
  margin-right: 10px;
  line-height: 31px;
}

.order-line-item-type-product {
  line-height: 31px;
}

.order-line-item-remove {
  padding-top: 7px !important;
  text-align: right !important;
}

.notes-widget {
  width: 280px;
  word-wrap: break-word;
}

.notes-widget-preview,
.notes-widget-edit {
  margin-bottom: 10px;
}

.notes-widget-preview {
    word-wrap: break-word;
    white-space: normal;
}

.notes-widget-edit {
    textarea {
        max-width: 100%;
    }
}

td.order-discount-item-remove {
  text-align: right;
}

.order-discount-items {
  table.grid {
    overflow: auto;
  }

  .add-list-item {
    margin-top: 10px;
  }
}

.order-discount-items {
  .discounts-sum-error {
    .validation-failed {
      margin-top: 10px;
    }
  }
}

.oro-discount-collection {
  .table {
    width: auto;
  }
  td.discount-item-value-calculated {
    padding-top: 12px;
  }
}

.discount-item-value-type {
  select {
    width: 80px;
  }
}

.order-line-items {
  .grid-body-cell-comment {
    width: 450px;
    max-width: 450px;

    word-wrap: break-word;
  }
}
