{% block __orob2b_account_user_grid__datagrid_toolbar_button_container_create_account_user_widget %}
    {% set attr = attr|merge({class: attr.class|default('') ~ "text-right"}) %}
    <div{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}