{% block _category_breadcrumbs_widget %}
    {% for parentCategory in parentCategories %}
        <a class="breadcrumbs__link" href="{{ path('oro_product_frontend_product_index', {'categoryId': parentCategory.id, 'includeSubcategories': app.request.get('includeSubcategories') }) }}">
            {{ parentCategory.titles|localized_value }}
        </a> /
    {% endfor %}
    {{ currentCategory.titles|localized_value }}
{% endblock %}
