/* @theme: admin.oro; */

.system-configuration-container {
    .control-group {
        &.shipping-origin-address {
            .controls {
                &.control-subgroup {
                    width: 535px;
                }

                .control-label.wrap {
                    width: 230px;
                    text-align: right;
                }
            }
        }
    }
}

table.shipping-options-result-grid {
    width: auto;
}

.shipping-options-result-grid {
    .other-scroll-container & {
        border: 1px solid $general-border-color;

        thead {
            position: inherit !important;
            display: table-header-group !important;
        }

        tr {
            display: table-row !important;
        }

        td {
            border: 0;
            padding: 5px;

            &:first-child {
                height: auto;
            }
        }
    }
}

.oro-shipping-rule-collection.oro-item-collection {
    & > div {
        position: relative;
        padding: 15px 15px 0 0;
        margin: 0 60% 20px 0;
        border: 1px solid #e6e6e6;
        background: #f8f8f8;
        border-radius: 4px;
        min-width: 500px;
    }

    div[data-validation-optional-group=""] {
        .oro-multiselect-holder {
            padding-right: 50px !important;
        }
    }

    .add-list-item {
        margin-left: 183px;
    }

    .removeRow {
        position: absolute;
        width: 28px;
        top: 4px;
        right: 4px;
        text-decoration: none;

        &:after {
            color: #bbb;
        }
    }

    input.method-options-surcharge {
        width: 110px;
    }

    .small-row {
        .control-group-choice {
            float: left;
        }
    }

    .selector.input-widget-select {
        margin-left: 0;
    }
}

.oro-shipping-rule-add-method-line {
    display: flex;

    &:not(:last-of-type) {
        margin-bottom: $content-padding-medium;
    }

    .add-method,
    .add-all-methods {
        margin-#{$start}: $content-padding-small;
    }
}

.oro-shipping-rule-add-method-select {
    display: inline-block;
}
