.seven-columns-large-images-team {
    --grid-gap: 24px;

    .grid-team {
        --grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }

    .picture__wrapper {
        height: 200px;
    }
}
