# Configuration for https://github.com/oroinc/phpstan-rules/
trusted_data:
    variables:
        Oro\Bundle\PricingBundle\ORM\MultiInsertShardQueryExecutor:
            executeNative:
                sourceSql: true
        Oro\Bundle\PricingBundle\Entity\Repository\CombinedPriceListActivationRuleRepository:
            deleteUnlinkedRules:
                alias: true
                entityName: true
        Oro\Bundle\PricingBundle\Entity\Repository\CombinedProductPriceRepository:
            getMinMaxProductIds:
                priceToProductRelationClass: true
            insertByProductsRangeForBaseProductPriceToTempTable:
                priceToProductRelationClass: true
            executeDuplicatePricesQuery:
                sql: true
        Oro\Bundle\PricingBundle\Model\FrontendProductListModifier:
            applyPriceListLimitations:
                rootAlias: true
                limitationQb: true
        Oro\Bundle\PricingBundle\Entity\Repository\CombinedPriceListRepository:
            getUnusedCombinedPriceListsQueryBuilder:
                entityName: true
                alias: true
            hasOtherRelations:
                alias: true
                class: true
        Oro\Bundle\PricingBundle\Expression\PriceListQueryConverterExtension:
            joinPriceListPrices:
                priceListTableAlias: true
        Oro\Bundle\PricingBundle\Sharding\ShardManager:
            getShardsAttributes:
                targetFieldName: true
            create:
                query: true
        Oro\Bundle\PricingBundle\Compiler\ProductAssignmentRuleCompiler:
            restrictByManualPrices:
                rootAlias: true
                subQb: true
        Oro\Bundle\PricingBundle\Compiler\PriceListRuleCompiler:
            restrictByManualPrices:
                rootAlias: true
            restrictByAssignedProducts:
                rootAlias: true
            restrictBySupportedUnits:
                rootAlias: true
        Oro\Bundle\PricingBundle\Entity\Repository\ProductPriceRepository:
            save:
                column: true
                placeholder: true
            deleteGeneratedPrices:
                sql: true
            deleteInvalidPricesByProducts:
                sql: true
        Oro\Bundle\PricingBundle\Entity\Repository\BaseProductPriceRepository:
            deleteByProductUnit:
                sql: true
            deleteByPriceList:
                sql: true
        Oro\Bundle\PricingBundle\Filter\ProductPriceFilter:
            addEqExpr:
                fieldName: true
                parameterName: true
        Oro\Bundle\PricingBundle\Expression\QueryExpressionConverter\AssignedProductsConverter:
            convert:
                limitationDql: true
        Oro\Bundle\PricingBundle\Cache\RuleCache:
            restoreQueryBuilder:
                part: true
                elements: true
        Oro\Bundle\PricingBundle\Model\PricingStorageSwitchHandler:
            deleteNonFirstPriceListAssociations:
                table: true
                associationColumn: true
    properties:
        Oro\Bundle\PricingBundle\Filter\ProductPriceFilter:
            qbPrepare:
                productPriceClass: true
        Oro\Bundle\PricingBundle\Compiler\PriceListRuleCompiler:
            restrictByManualPrices:
                qbSelectPart: true
    safe_methods:
        Oro\Bundle\PricingBundle\ORM\MySqlTempTableManipulator:
            getTempTableNameForEntity: true
        Oro\Bundle\PricingBundle\ORM\PostgreSqlTempTableManipulator:
            getTempTableNameForEntity: true
        Oro\Bundle\PricingBundle\ORM\AbstractTempTableManipulator:
            getTempTableNameForEntity: true
        Oro\Bundle\PricingBundle\Expression\PriceListQueryConverterExtension:
            generateTableAlias: true
        Oro\Bundle\PricingBundle\Sharding\ShardManager:
            getEnabledShardName: true
            getEntityBaseTable: true
            getBaseTableName: true
        Oro\Bundle\PricingBundle\Datagrid\PriceAttributeProductPriceDatagridExtension:
            getJoinAlias: true
        Oro\Bundle\PricingBundle\Datagrid\ProductPriceDatagridExtension:
            getJoinAlias: true
        Oro\Bundle\PricingBundle\Compiler\PriceListRuleCompiler:
            getRootAlias: true
            getValueByExpression: true

    check_methods_safety:
        Oro\Bundle\PricingBundle\Model\FrontendProductListModifier:
            getParameterName: true

    check_methods:
        Oro\Bundle\PricingBundle\ORM\MultiInsertShardQueryExecutor:
            executeNative: [0, 2]
