{% extends 'OroUIBundle:actions:update.html.twig' %}

{% set web_catalog = entity.webCatalog %}
{% set formAction = entity.id ? path('oro_web_catalog_update_tree_node', { 'id': entity.id }) : path('oro_web_catalog_update_tree', { 'id': web_catalog.id })  %}

{% oro_title_set({params : {'%webCatalogName%': web_catalog.name} }) %}

{% block ownerLink %}
    {% if isDesktopVersion() and web_catalog is not null %}
        {% set ownerLink = UI.entityOwnerLink(web_catalog) %}
        <li>{{ ownerLink }}{% placeholder additional_owner_info with {entity: web_catalog} %}</li>
    {% endif %}
{% endblock ownerLink %}

{% block pageHeader %}
    {% if web_catalog.id %}
        {% set breadcrumbs = {
            'entity':      web_catalog,
            'indexPath':   path('oro_web_catalog_index'),
            'indexLabel': 'oro.webcatalog.entity_plural_label'|trans,
            'additional': [
                {
                    'indexPath': path('oro_web_catalog_view', {'id': web_catalog.id}),
                    'indexLabel': web_catalog.name
                }
            ],
            'entityTitle': 'oro.webcatalog.controller.webcatalog.content_tree.label'|trans
        } %}
        {{ parent() }}
    {% endif %}
{% endblock pageHeader %}

{% block content_data %}
    {% set id = 'web-catalog-tree-edit' %}

    {% set dataBlocks = [
        {
            'title': 'oro.webcatalog.sections.general'|trans,
            'class': 'active',
            'subblocks': [{
                'title': '',
                'data': [
                    form_row(form.parentNode),
                    form_row(form.titles),
                    form_row(form.slugs)
                ]
            }]
        }
    ] %}

    {% set data = {
        'formErrors': form_errors(form),
        'dataBlocks': dataBlocks
    }%}

    {% set data = {
        'dataBlocks': dataBlocks
    }%}

    <div class="web-catalog-page-container tree-component-container">
        <div class="page page-tree tree-component">
            {% set treeOptions = {
                'key' : 'web-catalog',
                'data' : oro_web_catalog_tree(web_catalog),
                'updateAllowed' : resource_granted('oro_web_catalog_update'),
                'onRootSelectRoute': 'oro_web_catalog_update_tree',
                'onSelectRoute' : 'oro_web_catalog_update_tree_node',
                'onMoveRoute' : 'oro_web_catalog_move',
                'reloadWidget': 'page-info-widget'
            } %}
            <div
                data-page-component-module="orowebcatalog/js/app/components/web-catalog-tree-component"
                data-page-component-options="{{ treeOptions|json_encode }}"
            >
            </div>
        </div>
    </div>
    <div class="web-catalog-page-data">
        {{ parent() }}
    </div>
{% endblock content_data %}
