{% block __line_item_buttons__line_item_buttons_widget %}
    {% import '@OroUI/macros.html.twig' as UI %}
    {% set attr = layout_attr_defaults(attr, {
        'html': block_widget(block),
        'mobileEnabled': true,
        '~dataAttributes': {
            'layout': 'deferred-initialize'
        },
        '~options': {
            'widgetModule': 'oroproduct/js/content-processor/product-add-to-dropdown-button',
            'widgetName': 'productAddToDropdownButtonProcessor',
            'truncateLength': 25,
            'groupContainer': '<div class="btn-group btn-group--flex"></div>',
            'decoreClass': ' btn--info'
        }
    }) %}
    {% if block.children is not empty %}
        {{ UI.pinnedDropdownButton(attr) }}
    {% endif %}
{% endblock %}
