/* @theme: default; */

.cms-typography {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: $cms-typography-heading-offset;

        &:last-child {
            margin-bottom: 0;
        }
    }

    small {
        font-size: $cms-typography-small-font-size;
        line-height: $cms-typography-small-line-height;
    }

    hr {
        border: none;
        border-top: $cms-typography-border-top;
        margin: $cms-typography-hr-offset;
    }

    address {
        font-style: $cms-typography-address-font-style;
    }

    p,
    address {
        margin: $cms-typography-paragraph-offset;

        &:last-child {
            margin-bottom: 0;
        }
    }

    ul {
        li {
            &::marker {
                font-size: $cms-typography-ul-marker-font-size;
            }
        }
    }

    ul,
    ol {
        padding-inline-start: $ul-padding-inline-start;
        margin-bottom: $cms-typography-ul-margin-bottom;

        ul,
        ol {
            margin-bottom: $cms-typography-ul-2-level-margin-bottom;
            padding-inline-start: $cms-typography-ul-2-level-padding-inline-start;
        }
    }

    dt {
        font-weight: $cms-typography-dt-font-weight;
        margin-bottom: $cms-typography-dt-margin-bottom;
    }

    dd {
        margin-left: $cms-typography-dd-margin-left;
        margin-bottom: $cms-typography-dd-margin-bottom;
        color: $cms-typography-dd-color;
    }

    dl {
        margin-bottom: $cms-typography-dl-margin-bottom;

        dd:last-child {
            margin-bottom: $cms-typography-dd-last-child-margin-bottom;
        }

        dd + dt {
            margin-top: $cms-typography-dt-margin-top;
        }
    }

    img {
        height: auto;
        display: block;
        max-width: $cms-typography-img-max-width;
        margin: $cms-typography-img-offset;

        &.full-cover {
            @extend %full-cover;
        }
    }

    .rounded {
        border-radius: $cms-typography-img-border-radius;

        img {
            border-radius: $cms-typography-img-border-radius;
        }

        &--circle {
            border-radius: $cms-typography-img-rounded-circle-border-radius;

            img {
                border-radius: $cms-typography-img-rounded-circle-border-radius;
            }
        }
    }

    .bordered {
        border: $cms-typography-block-border;
        border-radius: $cms-typography-block-border-radius;

        img {
            border-radius: $cms-typography-block-img-border-radius;
            border-bottom: $cms-typography-block-border;
        }
    }

    figure {
        display: $cms-typography-figure-display;
        margin: $cms-typography-figure-offset;

        picture {
            grid-column: $cms-typography-figure-picture-grid-column;
            grid-row: $cms-typography-figure-picture-grid-row;
        }

        img {
            width: $cms-typography-figure-img-width;
            height: $cms-typography-figure-img-height;
            object-fit: $cms-typography-figure-img-object-fit;
        }
    }

    figcaption {
        grid-column: $cms-typography-figcaption-grid-column;
        grid-row: $cms-typography-figcaption-grid-row;
        display: $cms-typography-figcaption-display;
        flex-direction: $cms-typography-figcaption-flex-direction;
        max-width: $cms-typography-figcaption-max-width;
        align-items: $cms-typography-figcaption-align-items;
        margin: $cms-typography-figcaption-offset;
        padding: $cms-typography-figcaption-padding;
        text-align: $cms-typography-figcaption-text-align;
        font-weight: $cms-typography-figcaption-font-weight;
        color: $cms-typography-figcaption-color;
    }

    strong,
    b {
        font-weight: font-weight('semi-bold');
    }

    em,
    i {
        font-style: italic;
    }

    code,
    samp {
        display: block;
        border-top: $cms-typography-code-border;
        border-bottom: $cms-typography-code-border;
        padding: $cms-typography-code-inner-offset;
        text-align: $cms-typography-code-text-align;
        font-family: $cms-typography-code-font-family;
    }

    sub,
    sup {
        font-size: $cms-typography-sub-sup-font-size;
        letter-spacing: $cms-typography-sub-sup-letter-spacing;
        text-transform: $cms-typography-sub-sup-text-transform;
        line-height: $cms-typography-sub-sup-line-height;
    }

    sub {
        vertical-align: $cms-typography-sub-vertical-align;
    }

    sup {
        vertical-align: $cms-typography-sup-vertical-align;
    }

    time {
        color: $cms-typography-time-color;
    }

    blockquote {
        position: relative;
        margin: $cms-typography-blockquote-offset;
        background-color: $cms-typography-blockquote-background-color;
        padding: $cms-typography-blockquote-inner-offset;

        &:before,
        &:after {
            display: inline-block;
            position: absolute;
            content: '';
            height: $cms-typography-blockquote-icon-height;
            width: $cms-typography-blockquote-icon-width;
            mask: $cms-typography-blockquote-icon-mask;
            mask-size: $cms-typography-blockquote-icon-mask-size;
            background-color: $cms-typography-blockquote-icon-color;
        }

        &:before {
            top: 0;
            margin-top: $cms-typography-blockquote-icon-offset;
            left: $cms-typography-blockquote-icon-gap;
        }

        &:after {
            bottom: 0;
            margin-bottom: $cms-typography-blockquote-icon-offset;
            right: $cms-typography-blockquote-icon-gap;
            transform: rotate(180deg);
        }
    }

    .blockquote-base {
        position: relative;
        margin: $cms-typography-blockquote-base-offset;
        background-color: $cms-typography-blockquote-background-color;
        padding: $cms-typography-blockquote-base-inner-offset;
        font-style: $cms-typography-blockquote-base-font-style;
        font-weight: $cms-typography-blockquote-base-font-weight;

        &:before,
        &:after {
            display: inline-block;
            position: absolute;
            content: '';
            height: $cms-typography-blockquote-base-icon-height;
            width: $cms-typography-blockquote-base-icon-width;
            mask: $cms-typography-blockquote-icon-mask;
            mask-size: $cms-typography-blockquote-icon-mask-size;
            background-color: $cms-typography-blockquote-icon-color;
        }

        &:before {
            top: 0;
            margin-top: $cms-typography-blockquote-base-icon-offset;
            left: $cms-typography-blockquote-base-icon-gap;
        }

        &:after {
            bottom: 0;
            margin-bottom: $cms-typography-blockquote-base-icon-offset;
            right: $cms-typography-blockquote-base-icon-gap;
            transform: rotate(180deg);
        }
    }

    .iframe-map {
        width: $cms-typography-iframe-map-width;
        min-height: $cms-typography-iframe-map-min-height;
    }

    .dropdown-menu,
    .dropdown-menu ul,
    .dropdown-menu ol {
        list-style: none;
        padding: $dropdown-padding-y 0;
        margin: $dropdown-spacer 0 0;
    }

    .video-container {
        width: 100%;
    }

    .list-style {
        &-none {
            list-style-type: none;
        }

        &-disc {
            list-style-type: disc;
        }

        &-circle {
            list-style-type: circle;
        }

        &-square {
            list-style-type: square;
        }

        &-decimal {
            list-style-type: decimal;
        }

        &-lower-alpha {
            list-style-type: lower-alpha;
        }

        &-upper-alpha {
            list-style-type: upper-alpha;
        }

        &-lower-roman {
            list-style-type: lower-roman;
        }

        &-upper-roman {
            list-style-type: upper-roman;
        }

        &-greek {
            list-style-type: lower-greek;
        }

        &-dash {
            list-style-type: $cms-typography-ul-list-style-dash;
        }
    }

    .nav-tabs {
        margin: $cms-typography-nav-tabs-offset;
        padding: $cms-typography-nav-tabs-inner-offset;
    }

    .tabbed-content {
        margin-bottom: $cms-typography-tabbed-content-bottom-offset;
    }

    .offset {
        &-inner {
            padding: $cms-typography-inner-padding;
        }

        &-bottom {
            margin-bottom: $cms-typography-offset-bottom;
        }
    }

    .extra-text {
        color: $cms-typography-extra-text-color;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
    }

    .extra-text-dark {
        color: $cms-typography-extra-dark-text-color;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
    }

    .extra-block-bg {
        padding: 24px;
        background-color: $cms-typography-extra-block-bg-color;
    }

    .picture__wrapper {
        img {
            background-color: $cms-typography-img-background-color;
        }
    }

    .product-item {
        &__title {
            margin-block: $product-item-title-margin-block;
        }
    }

    .product-upcoming-label {
        margin: 0;
    }

    .accent-text {
        display: $cms-typography-accent-text-display;
        max-width: $cms-typography-accent-text-max-width;
        margin: $cms-typography-accent-text-offset;
        padding: $cms-typography-accent-text-inner-offset;
        font-size: $cms-typography-accent-text-font-size;
        font-weight: $cms-typography-accent-text-font-weight;
        font-family: $cms-typography-accent-text-font-family;
        line-height: $cms-typography-accent-text-line-height;
        text-align: $cms-typography-accent-text-text-align;
    }
}

@include breakpoint('mobile-big') {
    .cms-typography {
        blockquote {
            padding: $cms-typography-blockquote-inner-offset-mobile-big;

            &:before,
            &:after {
                height: $cms-typography-blockquote-icon-height-mobile-big;
                width: $cms-typography-blockquote-icon-width-mobile-big;
            }

            &:before {
                left: $cms-typography-blockquote-icon-gap-mobile-big;
            }

            &:after {
                right: $cms-typography-blockquote-icon-gap-mobile-big;
            }
        }
    }
}

@include breakpoint('mobile-big') {
    .cms-typography {
        blockquote {
            padding: $cms-typography-blockquote-inner-offset-mobile;
            margin: $cms-typography-blockquote-offset-mobile;

            &:before,
            &:after {
                height: $cms-typography-blockquote-icon-height-mobile;
                width: $cms-typography-blockquote-icon-width-mobile;
            }

            &:before {
                margin-top: $cms-typography-blockquote-icon-offset-mobile;
            }

            &:after {
                margin-bottom: $cms-typography-blockquote-icon-offset-mobile;
            }

            .h2-italic {
                font-size: $base-font-size;
                line-height: $base-line-height;
            }

            h5 {
                margin-bottom: 0;
            }
        }
    }
}
