/* @theme: default; */

.cms-page {
    :first-child {
        margin-top: 0;
    }

    .cms-panel-end {
        display: $cms-panel-end-display;
        justify-content: $cms-panel-end-justify-content;
        margin-top: $cms-panel-end-margin-top;
    }
}

@include breakpoint('mobile') {
    .cms-page {
        .cms-panel-end {
            flex-direction: $cms-panel-end-flex-direction-mobile;
        }
    }
}
