/* @theme: default; */

@use 'sass:math';
@use 'sass:map';

.promo-slider {
    overflow: hidden;
    white-space: nowrap;
    min-height: $promo-slider-min-height;
    margin: $promo-slider-margin;

    &__item {
        position: relative;

        display: inline-block;
        // fix a jumping wile page is loading
        vertical-align: bottom;
        width: 100%;

        white-space: normal;

        @for $i from 1 through 6 {
            &--fraction-#{$i} {
                width: math.div(100%, $i);
            }
        }
    }

    &__info {
        position: absolute;
        cursor: pointer;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        font-size: $promo-slider-info-text-font-size;
        line-height: $promo-slider-info-text-line-height;

        h2,
        p {
            margin: 0;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: $promo-slider-content-gap;
        width: $promo-slider-content-width;

        &--center {
            margin-right: auto;
            margin-left: auto;

            justify-content: center;
            align-items: center;
            text-align: center;
        }

        &--left {
            margin-right: $promo-slider-content-side-position;
            margin-left: $promo-slider-content-side-position;

            justify-content: center;
        }

        &--right {
            margin-right: $promo-slider-content-side-position;
            margin-left: auto;

            justify-content: center;
        }

        &--top_left {
            margin-right: $promo-slider-content-side-position;
            margin-left: $promo-slider-content-side-position;

            justify-content: center;
        }

        &--top_center {
            margin-right: auto;
            margin-left: auto;

            justify-content: center;
            align-items: center;
            text-align: center;
        }

        &--top_right {
            margin-right: $promo-slider-content-side-position;
            margin-left: auto;

            justify-content: center;
        }

        &--bottom_left {
            margin-right: $promo-slider-content-side-position;
            margin-left: $promo-slider-content-side-position;

            justify-content: center;
        }

        &--bottom_center {
            margin-right: auto;
            margin-left: auto;

            justify-content: center;
            align-items: center;
            text-align: center;
        }

        &--bottom_right {
            margin-right: $promo-slider-content-side-position;
            margin-left: auto;

            justify-content: center;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: $promo-slider-text-gap;
    }

    &__header {
        font-size: $promo-slider-info-header-font-size;
        line-height: $promo-slider-info-header-line-height;
    }

    &__img {
        border-radius: $promo-slider-border-radius;
    }

    .slick-list {
        border-radius: $promo-slider-border-radius;
    }

    &__navigation-holder {
        display: flex;
        align-items: center;
        justify-content: center;
        height: $promo-slider-dots-list-height;

        &:empty::before {
            content: '';
            display: inline-flex;
            width: $promo-slider-skeleton-width;
            height: $promo-slider-skeleton-height;

            @include skeleton((
                skeleton-rect(
                    $color: $skeleton-color,
                    $width: $promo-slider-skeleton-width,
                    $height: $promo-slider-skeleton-height,
                    $x: 0,
                    $y: 0,
                    $radius: $border-radius-xs
                )
            ));
        }

        .slick-prev {
            order: -1;
        }

        .slick-next {
            order: 1;
        }

        @include slick-dots(
            $slick-dots-width: auto,
            $slick-dots-padding: $promo-slider-dots-padding
        );
        @include slick-arrow(
            $slick-arrow-position: static,
            $slick-arrow-transform: translate(0, 0),
            $slick-arrow-height: $promo-slider-arrow-height,
            $slick-arrow-background: $promo-slider-arrow-background,
            $slick-arrow-hover-background: $promo-slider-arrow-hover-background,
            $slick-arrow-border-radius: $promo-slider-arrow-border-radius
        );
    }

    &.slick-initialized {
        overflow: visible;

        &.embedded-arrows {
            .slick-slide {
                min-height: $promo-slider-min-height;

                > [data-role='slide-item-link'] {
                    display: block;
                    width: 100%;
                }
            }
        }
    }

    &.proportional {
        .promo-slider__img {
            margin: 0 auto;
        }
    }

    &.crop-images {
        .promo-slider__picture {
            display: flex;
            align-items: center;
            justify-content: center;

            overflow: hidden;

            border-radius: $promo-slider-border-radius;
        }

        .promo-slider__img {
            max-width: initial;
        }
    }
}

@include breakpoint('tablet') {
    .promo-slider {
        &__content {
            --promo-slider-info-side-position: #{$promo-slider-content-side-position-tablet};
        }

        &__header {
            font-size: $promo-slider-header-font-size-tablet;
        }
    }
}

@include breakpoint('mobile-big') {
    .promo-slider {
        &__content {
            gap: $promo-slider-content-gap-mobile-big;
        }
    }
}

@include breakpoint('mobile') {
    .promo-slider {
        &__info {
            position: static;
            width: $promo-slider-info-width-mobile;

            margin-top: $promo-slider-info-offset-mobile;
            font-size: $promo-slider-info-text-font-size-mobile;
            line-height: $promo-slider-info-text-line-height-mobile;
            text-align: start;
        }

        &__header {
            font-size: $promo-slider-info-heading-font-size-mobile;
            line-height: $promo-slider-info-heading-line-height-mobile;
        }

        &__text {
            gap: $promo-slider-text-gap-mobile;
        }

        &__content {
            margin-left: initial;
            margin-right: initial;
            width: initial;
            text-align: initial;
        }

        &__navigation-holder {
            margin-top: $promo-slider-navigation-holder-offset-mobile;
        }

        .btn {
            min-height: var(--btn-min-height);
            padding: var(--btn-padding, #{$input-btn-padding-y-sm});
        }
    }
}
