/* @theme: default; */

$edit-mode-cell-background-color: transparent !default;
$edit-mode-cell-width: 334px !default;
$edit-mode-cell-stepper-width: 414px !default;
$edit-mode-cell-stepper-single-unit-width: 270px !default;
$edit-mode-cell-stepper-single-unit-visible-width: 310px !default;

$edit-mode-cell-stepper-input-width: 150px !default;
$edit-mode-cell-qty-input-width: 86px !default;
