{% block _product_kit_line_item_add_to_shopping_list_dropdown_widget %}
    {% import '@OroShoppingList/ShoppingList/Frontend/buttons.html.twig' as buttons %}
    {% set buttonOptions = {
        dataUrl: 'oro_shopping_list_frontend_product_kit_line_item_create',
        dataAttributes: {},
        aCss: '',
        form: form.vars.id
    } %}

    {% set newOptions = buttonOptions|merge({
        ariaLabel: 'oro.shoppinglist.actions.add_to_new_shopping_list.aria_label'|trans,
        icon: 'plus'
    }) %}

    {% set removeOptions = buttonOptions|merge({
        dataUrl: 'oro_shopping_list_frontend_product_kit_line_item_create',
        actionLabel: 'oro.shoppinglist.actions.remove_from_shopping_list_short'|trans
    }) %}

    {% set buttonsOptions = {
        new: newOptions,
        current: buttonOptions,
        existing: buttonOptions,
        remove: removeOptions,
        singleButtonACss : '',
        shoppingLists: shoppingLists,
        shoppingListRemoveEnabled: shoppingListRemoveEnabled,
        shoppingListUpdateEnabled: shoppingListUpdateEnabled,
        componentModule: params.buttonOptions.page_component_module|default('oroshoppinglist/js/app/views/product-kit-add-to-shopping-list-view'),
        componentOptions: {}|merge(params.buttonOptions.page_component_options|default({}))
    } %}

    {% import '@OroUI/macros.html.twig' as UI %}
    <div class="product-kit-add-to-shopping-list" data-role="shopping-list-root">
        {{ UI.pinnedDropdownButton({
            'html': buttons.getQuickSearchHtml(quickSearchOptions|default({})) ~ buttons.getButtonsHtml(buttonsOptions),
            'formId': form.vars.id,
            'rootClassName': 'pinned-dropdown',
            'mobileEnabled': true,
            'dataAttributes': {
                'layout': 'deferred-initialize'
            },
            'options': {
                'widgetModule': 'oroproduct/js/content-processor/product-add-to-dropdown-button',
                'widgetName': 'productAddToDropdownButtonProcessor',
                'truncateLength': 25,
                'decoreClass': '',
                'groupContainer': '<div class="btn-group btn-group--flex"></div>'
            }
        }) }}
    </div>
{% endblock %}

{% block _product_kit_line_item_widget_product_total_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-totals-main '
    }) %}

    {{ parent_block_widget(block) }}
{% endblock %}

{% block __product_kit_line_item_form__form_start_widget %}
    {% set form_route_name = 'oro_shopping_list_frontend_product_kit_line_item_create' %}
    {% set form_route_parameters = form_route_parameters|merge({
        productId: product.id,
        shoppingListId: shoppingList is not empty ? shoppingList.id : null
    }) %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': class_prefix ~ '__form fields-row',
        'novalidate': 'novalidate',
        'data-page-component-view': 'oroshoppinglist/js/app/views/product-kit-form-view',
        'data-page-component-options': {
            subtotalUrl: path('oro_shopping_list_frontend_product_kit_line_item_create', {productId: product.id, getSubtotal: true})
        }|json_encode,
        'data-extra-form-selector': '#' ~ extraFormId
    }) %}
    {{ parent_block_widget(block) }}
    {{ form_widget(form._token) }}
{% endblock %}
