.custom-radio {
    display: inline-block;

    width: 13px;
    height: 13px;
    margin: 0;

    line-height: 13px;

    &__control {
        display: none;
    }

    &__text {
        display: block;
    }

    &__control + &__text::before {
        font-size: 20px;

        display: block;

        width: 13px;
        height: 13px;

        line-height: 10px;
        content: '';
        text-align: center;

        border: 1px solid #cdcdcd;
        border-radius: 50%;
        background: #fff;
    }

    &__control:checked + &__text::before {
        background: #3991c7;

        box-shadow: inset 0 0 0 2px #ebebeb;
    }
}
