<div id="column-information-notice" class="alert alert-info">
    <strong>{{ 'oro.order.promotions.nav_button.important'|trans }}</strong>:
    {{ 'oro.order.promotions.nav_button.information_notice'|trans }}
</div>
