// @theme: default

.customer-menu-title {
    position: relative;

    margin: $customer-menu-title-offset;

    font-size: $customer-menu-title-size;
    font-weight: $customer-menu-title-font-weight;
    text-transform: $customer-menu-title-text-transform;
}
