{% block orob2b_catalog_category_tree_row %}
    {{ block('form_row') }}
{% endblock %}

{% block orob2b_catalog_category_tree_widget %}
    <div class="category b2b-tree category-tree-form-type">
        {% set treeOptions = {
            'key' : 'b2b-category',
            'data' : orob2b_category_list(),
            'nodeId' : form.vars.value,
            'fieldSelector': '#' ~ form.vars.id
        } %}
        <div
            data-page-component-module="orob2bcatalog/js/app/components/tree-form-type-component"
            data-page-component-options="{{ treeOptions|json_encode }}"
        ></div>
    </div>

    {{ form_widget(form) }}
    {{ form_errors(form) }}
{% endblock %}
