/* @theme: default; */

.consent-list {
    display: $consent-list-display;
    padding-block: $consent-list-padding-block;
    gap: $consent-list-gap;

    &:not(:last-child) {
        margin: $consent-list-offset;
    }

    &__item {
        display: $consent-list-item-position;
        gap: $consent-list-item-gap;
        word-break: $consent-list-item-word-break;
    }

    &__status {
        &--enabled {
            color: $consent-list-status-enabled-color;
        }

        &--disabled {
            color: $consent-list-status-disabled-color;
        }

        .theme-icon {
            display: block;
        }
    }
}
