// @theme: blank

$pricing-table-width: 100% !default;
$pricing-table-offset: 0 0 $offset-y !default;
$pricing-table-border: 1px solid get-color('additional', 'light') !default;

$pricing-table-head-inner-offset: $offset-y-m !default;
$pricing-table-head-text-align: center !default;
$pricing-table-head-border-bottom: 1px solid get-color('additional', 'light') !default;

$pricing-table-cell-inner-offset: $offset-y-s !default;
$pricing-table-cell-text-align: center !default;
