// @theme: blank

$product-price-display: inline-block !default;
$product-price-overflow: hidden;

$product-price-main-margin-top: 5px !default;

$product-price-hint-margin-bottom: -10px !default;
$product-price-hint-padding-bottom: 20px !default;
