/* @theme: blank; */

$product-price-display: inline-block !default;
$product-price-overflow: hidden;

$product-price-main-offset-top: 3px !default;
$product-price-main-offset-bottom: 10px !default;

$product-price-simple-label-display: none !default;
$product-price-simple-label-display: none !default;

$product-price-unit-short-display: none;

// Tablet
$product-price-unit-short-display-tablet: inline !default;
$product-price-unit-full-display-tablet: none !default;

$product-price-simple-display-tablet: block !default;
