/* @theme: default; */

$product-price-filter-offset: null !default;
$product-price-filter-inner-offset: 0 0 0 $offset-y-m !default;
$product-price-filter-separator-offset: null !default;

$product-price-filter-unit-offset: 0 0 11px !default;
