// @theme: blank

//Totals group variables
$product-totals-display: flex !default;
$product-totals-justify-content: flex-end !default;
$product-totals-min-width: 140px !default;
$product-totals-offset-left: auto !default;
$product-totals-font-family: $font-family-base !default;
$product-totals-text-align: right !default;

$product-totals-wrapper-offset-inner-right: 26px !default;

$product-totals-total-items-display: flex !default;
$product-totals-total-items-justify-content: space-between !default;
$product-totals-total-price-offset-inner: 7px 0 $offset-y !default;
$product-totals-total-price-font-size: 18px !default;
$product-totals-total-quantity-offset-bottom: $offset-y-s !default;

$product-totals-total-separator-offset: 0 10px !default;

$product-totals-label-display: inline-flex !default;
$product-totals-label-min-width: 110px !default;
$product-totals-label-offset-inner: 0 $offset-x-s 0 0 !default;

//Totals inline modifier group variables
$product-totals-inline-display: inline-flex !default;
$product-totals-inline-align-items: flex-end !default;
$product-totals-inline-justify-content: flex-end !default;
$product-totals-inline-width: 100% !default;
$product-totals-inline-offset-bottom: 25px !default;
$product-totals-inline--btn-offset-inner: 3px 15px 2px 15px !default;

$product-totals-inline-wrapper-display: inline-flex !default;
$product-totals-inline-wrapper-background: get-color('additional', 'base') !default;
$product-totals-inline-wrapper-offset-inner: 11px 14px 10px 14px !default;
$product-totals-inline-wrapper-border-radius: 6px !default;
$product-totals-inline-wrapper-offset-right: 10px !default;

$product-totals-label-inline-min-width: 50px !default;

//Mobile landscape variables
$product-totals-inline-mobile-landscape-flex-direction: column !default;

$product-totals-wrapper-inline-mobile-landscape-justify-content: center !default;
$product-totals-wrapper-inline-mobile-landscape-width: 100% !default;
$product-totals-wrapper-inline-mobile-landscape-offset: 8px 0 !default;

