// @theme: default

$customer-menu-container-background: get-color('additional', 'base') !default;
$customer-menu-container-offset: 35px 0 0 !default;
$customer-menu-container-inner-offset: 25px 30px !default;
$customer-menu-container-border-radius: 3px !default;
