// @theme: default

$customer-menu-title-size: 15px !default;
$customer-menu-title-offset: 0 0 9px !default;
$customer-menu-title-font-weight: normal !default;
$customer-menu-title-text-transform: uppercase !default;
