// @theme: default

$primary-menu-container-background: get-color('additional', 'base') !default;
$primary-menu-container-offset: 0 !default;
$primary-menu-container-inner-offset: 25px 30px !default;
$primary-menu-container-inner-offset-tablet: 0 10px !default;
$primary-menu-container-border-radius: 3px !default;
