// @theme: default

$primary-menu-title-size: 15px !default;
$primary-menu-title-offset: 0 0 9px !default;
$primary-menu-title-offset-tablet-small: 0 !default;
$primary-menu-title-inner-offset-tablet-small: 15px 0 !default;
$primary-menu-title-font-weight: normal !default;
$primary-menu-title-text-transform: uppercase !default;
