/* @theme: admin.oro; */

.product-price-collection {
    .row {
        .responsive-cell:not(:only-child) {
            display: flex;
            align-items: center;
        }
    }

    .small-row {
        > div {
            display: flex;
        }
    }

    .grouped-fields {
        width: 100%;
        display: inline-block;
    }

    .group-field {
        display: flex;
    }

    .group-label {
        padding-#{$end}: $content-padding;

        label {
            padding-top: 6px;
        }
    }

    .col-widget {
        width: 100px;
        margin-#{$end}: $product-price-collection-col-widget-offset;
    }

    input[type="text"].quantity,
    input[type="text"].price-value,
    .entity-create-or-select-container {
        width: 80px;
    }

    .price-currency {
        margin-#{$start}: $product-price-collection-price-currency-offset;
        width: 100px;
    }

    @include selector-width(137px);

    .entity-create-or-select-container {
        margin-#{$start}: $product-price-collection-create-or-select-offset;
        width: 294px;
    }

    .oro-item-collection {
        .row-oro {
            position: relative;
            padding: $product-price-collection-row-offset;
            margin-bottom: $content-padding-small;
            background: $primary-900;
            border-radius: 4px;
        }

        .removeRow {
            position: absolute;
            top: 4px;
            #{$end}: $product-price-collection-remove-row-end;
            text-decoration: none;
        }
    }

    .form-horizontal {
        max-width: none;
    }
}

.validation-error {
    .product-price-collection {
        .select2-container {
            border-color: $primary-750;
        }

        .error {
            .select2-container {
                border-color: $danger;
            }
        }
    }
}

.product-container {
    .sidebar-items {
        .currencies {
            .oro-clearfix {
                margin-bottom: 3px;
            }
        }
    }

    .include-sub-categories-choice {
        margin-bottom: 4px;
    }

    .grid-container {
        .product-price-unit-with-margin {
            margin-top: 5px !important;
        }

        .string-cell {
            tbody {
                td {
                    padding: 0 !important;
                    height: 10px !important;
                    border: 0 !important;
                }
            }
        }
    }
}

.pricing-price-list {
    .add-list-item {
        margin-top: $content-padding-small;
    }

    td {
        span {
            &.validation-failed {
                white-space: nowrap;
                width: 50px;
            }
        }
    }

    .entity-select-btn {
        display: inline-block;
        float: none;
    }

    input {
        &.priority {
            width: 50px !important;
        }
    }

    .controls {
        margin-#{$start}: $pricing-price-list-controls-offset !important;
    }
}

.price-list-grid-form {
    min-width: 463px;

    table {
        td {
            vertical-align: middle;
        }
    }
}

.price-list-collection-as-widget {
    padding: 0 10px 10px;
}

@media screen and (min-width: 1470px) {
    #product_prices {
        .control-group {
            max-width: none;
        }
    }

    .group-label {
        label {
            vertical-align: middle;
        }
    }

    .responsive-cell:not(:only-child) {
        .product-price-collection {
            .row {
                display: block;
            }

            .col-widget {
                width: auto;
                margin-#{$end}: $product-price-collection-large-col-widget-offset;
            }

            .group-label {
                padding-#{$end}: 0;

                > label {
                    margin-right: $content-padding;
                    text-align: right;
                    min-width: 65px;
                }
            }

            .grouped-fields {
                margin-#{$start}: 0;
            }

            .entity-create-or-select-container {
                margin-#{$start}: 0;
            }

            .small-row {
                &:not(:last-child) {
                    margin-bottom: $content-padding-medium;
                }
            }

            @include selector-width(205px);
        }
    }
}

.allow-merge-block {
    margin-top: 5px;

    .merge-allowed-checkbox {
        margin-bottom: 5px;
    }

    .merge-allowed-label {
        margin-#{$start}: $allow-merge-block-label-offset;
    }
}
