/* @theme: admin.oro; */

.product-price-collection {
    .oro-item-collection {
        .row-oro {
            position: relative;
            padding: 24px 34px;
            margin-bottom: $content-padding-small;
            background: $primary-900;
            border-radius: 4px;
        }

        .removeRow {
            position: absolute;
            top: 4px;
            right: 4px;
            text-decoration: none;
        }
    }

    .form-horizontal {
        max-width: none;
    }
}

.validation-error {
    .product-price-collection {
        .select2-container {
            border-color: $primary-750;
        }

        .error {
            .select2-container {
                border-color: $input-error-border-color;
            }
        }
    }
}

.pricing-price-list {
    .add-list-item {
        margin-top: $content-padding-small;
    }

    td {
        vertical-align: top;

        span {
            &.validation-failed {
                white-space: nowrap;
                width: 50px;
            }
        }
    }

    .entity-select-btn {
        display: inline-block;
        float: none;
    }

    input {
        &.priority {
            // stylelint-disable-next-line declaration-no-important
            width: 50px !important;
        }
    }

    .controls {
        // stylelint-disable-next-line declaration-no-important
        margin-left: $pricing-price-list-controls-offset !important;
    }

    &__option-cell {
        white-space: nowrap;
    }
}

.price-list-grid-form {
    table {
        min-width: 463px;

        th {
            .price-list-grid-form__options-label {
                padding-left: $content-padding-small;
            }
        }

        td {
            vertical-align: middle;
        }
    }

    &__option-cell {
        width: 1px;

        white-space: nowrap;
    }
}

.price-list-collection-as-widget {
    padding: 0 10px 10px;
}

@media screen and (min-width: 1470px) {
    #product_prices {
        .control-group {
            max-width: none;
        }
    }

    .group-label {
        label {
            vertical-align: middle;
        }
    }
}

.product-container {
    .sidebar-items {
        .currencies {
            .oro-clearfix {
                margin-bottom: 3px;
            }
        }
    }

    .include-sub-categories-choice {
        margin-bottom: 4px;
    }

    .grid-container {
        .product-price-unit-with-margin {
            // stylelint-disable-next-line declaration-no-important
            margin-top: 5px !important;
        }

        .string-cell {
            tbody {
                // stylelint-disable-next-line selector-max-compound-selectors
                td {
                    // stylelint-disable-next-line declaration-no-important
                    padding: 0 !important;
                    // stylelint-disable-next-line declaration-no-important
                    height: 10px !important;
                    // stylelint-disable-next-line declaration-no-important
                    border: 0 !important;
                }
            }
        }
    }
}

.allow-merge-block {
    display: inline-block;
    vertical-align: middle;
    margin-right: $allow-merge-block-label-offset;

    &__inner {
        display: block;
    }

    .merge-allowed-label {
        margin-left: $allow-merge-block-label-offset;
    }
}
