/* @theme: admin.oro; */

$product-price-collection-col-widget-offset: 22px !default;

$product-price-collection-create-or-select-offset: 4px !default;

$product-price-collection-price-currency-offset: 5px !default;

$product-price-collection-multiselect-holder-offset: 50px !default;

$product-price-collection-row-offset: side-values(25px 34px 25px 34px) !default;
$product-price-collection-row-border-color: $primary-800 !default;
$product-price-collection-row-background: $primary-900 !default;

$product-price-collection-remove-row-end: 4px !default;

$product-price-collection-validation-optional-offset: 20px !default;
$product-price-collection-validation-multiselect-holder-offset: 50px !default;

$pricing-price-list-controls-offset: 10px !default;

$product-price-collection-large-col-widget-offset: $content-padding-small !default;
$product-price-collection-large-grouped-fields-offset: 42px !default;

$allow-merge-block-label-offset: 7px !default;

$product-price-collection-large-group-label-width: 100px !default;
$product-price-collection-large-grouped-fields-width: $field-width + $product-price-collection-large-group-label-width !default;
