{% extends '@OroUI/actions/index.html.twig' %}
{% import '@OroUI/macros.html.twig' as UI %}
{% set gridName = 'website-search-terms' %}
{% set pageTitle = 'oro.websitesearchterm.searchterm.entity_plural_label'|trans %}

{% block navButtons %}
    {% import '@OroUI/macros.html.twig' as UI %}

    {% if is_granted('oro_website_search_term_acl_create') %}
        <div class="btn-group">
            {{ UI.addButton({
                'path': path('oro_website_search_term_create'),
                'entity_label': 'oro.websitesearchterm.searchterm.entity_label'|trans
            }) }}
        </div>
    {% endif %}
{% endblock %}
