{% import '@OroUI/macros.html.twig' as UI %}

{{ UI.renderHtmlProperty(
    'oro.websitesearchterm.searchterm.redirect_system_page.label'|trans,
    '<a href="' ~ path(entity.redirectSystemPage) ~ '">' ~ systemPageTitle|escape ~ '</a>'
) }}
