{% block product_prices_widget %}
    {% do block|merge_context({
        productPrices: productPrices,
        product: product,
        isPriceUnitsVisible: isPriceUnitsVisible,
        productShoppingListPrices: productShoppingListPrices
    }) %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-price__container'
    }) %}

    {% if not is_price_hidden(product, applicableForConfiguredProduct) %}
        <div {{ block('block_attributes') }}>{{ block_widget(block) }}</div>
    {% endif %}
{% endblock %}
