.mobile-version  {
  .order-line-item-type,
  .order-line-item-warehouse {
    .select2-container {
      width: auto;
    }
  }
  .order-line-item-quantity {
    .fields-row {
      width: auto;
      white-space: nowrap;

      > div {
        display: inline-block;
      }
    }
  }

  .order-line-item-price {
    input[type="text"] {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      height: 30px;
    }

    .product-tier-prices {
      float: none;
    }
  }
}
