// @theme: default;

$localization-switcher-toggle-offset-inner: 0 $offset-x-m !default;
$localization-switcher-toggle-offset: 0 0 0 $offset-x-s !default;
$localization-switcher-toggle-height: 28px !default;;
$localization-switcher-toggle-open-box-shadow: inset 1px 1px 3px 0 rgba(0, 0, 0, .3) !default;;
