// @theme: default;

.featured-categories {
    margin: $featured-categories-offset;

    .embedded-list {
        &__item {
            width: $featured-categories-embedded-list-item-width;
            margin: $featured-categories-embedded-list-item-offset;

            text-align: $featured-categories-embedded-list-item-text-align;
        }
    }
}

@include breakpoint('tablet-small') {
    .featured-categories {
        margin: $featured-categories-offset-tablet-small;

        .embedded-list {
            &__item {
                width: $featured-categories-embedded-list-item-width-tablet-small;
                margin-bottom: $featured-categories-embedded-list-item-offset-bottom-tablet-small;

                &:nth-last-child(2),
                &:last-child {
                    display: none;
                }
            }
        }
    }
}

@include breakpoint('mobile-landscape') {
    .featured-categories {
        .embedded-list {
            &__item {
                width: $featured-categories-embedded-list-item-width-mobile-landscape;
                margin-bottom: $featured-categories-embedded-list-item-offset-bottom-mobile-landscape;

                &:nth-last-child(2),
                &:last-child {
                    display: block;
                }
            }
        }
    }
}

@include breakpoint('mobile') {
    .featured-categories {
        .embedded-list {
            &__item {
                width: $featured-categories-embedded-list-item-width-mobile;
                margin-bottom: $featured-categories-embedded-list-item-offset-bottom-mobile;
            }
        }
    }
}
