.featured-categories {
    & .embedded-list__item {
        width: 33.33%;
        padding: 0 8px;

        text-align: center;
    }

    & .embedded-list__item:nth-child(3n+1) {
        padding-right: 16px;
        padding-left: 0;

        text-align: left;
    }

    & .embedded-list__item:nth-child(3n) {
        padding-right: 0;
        padding-left: 16px;

        text-align: right;
    }
}

@include breakpoint('mobile') {
    .featured-categories {
        & .embedded-list__item {
            width: 50%;
        }

        & .embedded-list__item:nth-child(3n),
        & .embedded-list__item:nth-child(3n+1) {
            padding: 0 4px;

            text-align: center;
        }

        & .embedded-list__item:nth-child(2n+1) {
            padding-right: 8px;
            padding-left: 0;

            text-align: left;
        }

        & .embedded-list__item:nth-child(2n) {
            padding-right: 0;
            padding-left: 8px;

            text-align: right;
        }
    }
}
