{% import '@OroUI/macros.html.twig' as UI %}

<div id ="priceLists">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {% if priceLists is defined %}
                {% set entities = priceLists %}
                {% include '@OroPricing/PriceList/partial/list.html.twig'
                    with {
                        'fallback': fallback,
                        'entities': entities
                    }
                %}
            {% else %}
                <div class="no-data">
                    {{ "oro.pricing.no_price_lists"|trans }}
                </div>
            {% endif %}
        </div>
    </div>
</div>
