.order-line-item-offers {
    td.order-line-item-offers-radio {
        min-width: 20px;
    }
    [type=radio] {
        vertical-align: top !important;
    }
    label {
        margin-bottom: 0;
    }
    td.order-line-item-offers-quantity,
    td.order-line-item-offers-price {
        min-width: 120px;
        text-align: center;
    }
}
