@mediumScreen: 1340px;

@import "../../../oroui/css/less/variables";

@media(max-width: @mediumScreen) {
    .rfp-requestproductitem-collection {
        margin-left: 170px;
        margin-top: 5px;
        clear: both;
    }
}

.grid-container .table-bordered tbody.hasrs td:not([rowspan]) {
    border-left: 0;
}

.grid-container .table-bordered td.rfp-line_item-requested_quantity-not_first,
.grid-container .table-bordered td.rfp-line_item-target_price-not_first {
    border-top: 0;
}

.rfp-lineitems .add-list-item {
    margin-top: 10px;
}

.rfp-lineitem-requested-quantity input {
    width: 50px;
}

.rfp-lineitem-requested-unit select {
    width: 50px;
}

.rfp-lineitem-requested .oro-item-collection {
    td.rfp-lineitem-requested-price input[type="text"] {
        width: 50px;
    }

    td.rfp-lineitem-requested-currency select {
        width: 90px;
    }
    .removeRow:after {
        color: #666;
    }
}

.rfp-lineitem .rfp-lineitem-requested .rfp-lineitem-requested-item-add {
    margin-left: 0;
}

table.rfp-lineitem-requested {
    width: 432px;
}
