@mediumScreen: 1340px;

@import "../../../oroui/css/less/variables";

@media(max-width: @mediumScreen) {
    .rfp-requestproductitem-collection {
        margin-left: 170px;
        margin-top: 5px;
        clear: both;
    }
}

.grid-container .table-bordered tbody.hasrs td:not([rowspan]) {
    border-left: 0;
}

.grid-container .table-bordered td.rfp-line_item-requested_quantity-not_first,
.grid-container .table-bordered td.rfp-line_item-target_price-not_first {
    border-top: 0;
}
