/* @theme: default; */

.quick-order-add {
    grid-area: $quick-order-add-grid-area;

    &__content {
        ~ .validation-failed {
            margin-top: 15px;
        }
    }

    &__row {
        &:first-child {
            .quick-order-add__col::before {
                display: block;
            }
        }

        &.stale {
            display: none;
        }
    }

    &__remove-row {
        grid-area: subtotal;
        justify-self: end;
        padding-left: $quick-order-add-row-button-horizontal-padding;
        padding-right: $quick-order-add-row-button-horizontal-padding;
    }

    &__row-content {
        position: $quick-order-add-row-content-position;
        display: $quick-order-add-row-content-display;
        grid-template-areas: $quick-order-add-row-content-grid-template-areas;
        grid-template-columns: $quick-order-add-row-content-grid-template-columns;
        gap: $quick-order-add-row-content-gap;
    }

    &__result-sku {
        display: $quick-order-add-result-sku-display;
    }

    &__product {
        grid-area: $quick-order-add-product-grid-area;
    }

    &__quantity {
        grid-area: $quick-order-add-quantity-grid-area;
    }

    &__unit {
        grid-area: $quick-order-add-unit-grid-area;
    }

    &__quantity-input {
        text-align: $quick-order-add-quantity-input-text-align;
    }

    &__quantity,
    &__quantity-input {
        &.input {
            opacity: 1;
        }
    }

    &__fields {
        padding-bottom: spacing('base');

        .validation-failed {
            grid-column-end: $quick-order-add-fields-validation-failed-grid-column-end;
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__buttons-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap;
        gap: spacing('base');
    }

    &__buttons {
        display: flex;
        align-items: center;
        gap: spacing('xl');

        .widget-content {
            // override platform styles
            .action-button {
                &.btn-inactive {
                    background-color: $quick-order-add-buttons-inactive;
                }
            }
        }

        .pull-left {
            float: $quick-order-add-buttons-float;
        }

        .add-to-shopping-list-button:not(.dropdown-item) {
            .fa {
                display: none;
            }
        }

        .btn {
            white-space: nowrap;
        }
    }

    &__error,
    &__error-autocomplete {
        .validation-failed,
        .notification--error {
            background: none;
        }
        .validation-failed + .validation-failed[id] {
            display: flex;
        }
    }

    &__warning {
        .validation-warning,
        .notification--warning {
            background: none;
            padding: spacing('xs') 0 0;
        }
    }
}

@include breakpoint('tablet-small') {
    .quick-order-add {
        .operation-button {
            margin-left: auto;
        }

        &__buttons {
            width: 100%;

            .pull-left {
                width: 100%;
            }

            .btn-group {
                // override platform styles
                margin-left: 0;
                width: 100%;

                .mass-action-controls {
                    width: 100%;
                }

                .dropdown-toggle {
                    flex-grow: 0;
                }

                a:not(.dropdown-toggle) {
                    width: 100%;

                    &.add-to-shopping-list-button:not(.dropdown-item) {
                        width: $quick-order-add-mobile-add-to-shopping-list-button;
                        flex-grow: 1;
                    }
                }
            }
        }
    }
}

@include breakpoint('mobile-big') {
    .quick-order-add {
        &__buttons {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: spacing('base');

            .widget-content.btn-group {
                order: -1;
                grid-column: 1 / 3;
            }
        }

        .operation-button {
            margin-left: 0;
            margin-right: auto;
        }
    }
}

@include breakpoint('mobile-landscape') {
    .quick-order-add {
        &__row-content {
            grid-template-areas: $quick-order-add-mobile-row-content-grid-template-areas;
            grid-template-columns: $quick-order-add-mobile-row-content-grid-template-columns;
            padding-bottom: $quick-order-add-mobile-row-content-padding-bottom;
        }

        &__quantity-input {
            text-align: left;
        }

        &__row {
            border-bottom: $quick-order-add-mobile-row-border;
        }
    }
}
