{% set showTierPrices = record.getValue('showTierPrices') %}
{% if value and value|length > 0 %}
    {% set shownUnit = '' %}

    <table>
        {% for key, price in value %}
            {% if shownUnit != price.unit.code %}
                {% set shownUnit = price.unit.code %}
                <tr>
                    <td{% if showTierPrices %} colspan="2"{% endif %}>
                        <div class="product-price-unit{% if key != 0 %}-with-margin{% endif %}">
                            <strong>{{ shownUnit|orob2b_format_product_unit_label|capitalize }}</strong>
                        </div>
                    </td>
                </tr>
            {% endif %}

            <tr>
                {% if showTierPrices %}
                    <td>
                        <div class="text-right">{{ price.quantity }}:&nbsp;</div>
                    </td>
                {% endif %}
                <td>
                    <div class="text-left">{{ price.price|oro_format_price }}</div>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
