{% set showTierPrices = record.getValue('showTierPrices') %}
{% if value and value|length > 0 %}
    {% set shownUnit = '' %}

    {% for key, price in value %}
        {% if shownUnit != price.unit.code %}
            <div class="product-price-unit{% if key != 0 %}-with-margin{% endif %}">
                {{ price.unit.code|orob2b_format_product_unit_label|capitalize }}
            </div>
            {% set shownUnit = price.unit.code %}
        {% endif %}

        {% if showTierPrices %}<span class="product-price-qty">{{ price.quantity }}</span>:{% endif %}
        <span class="product-price">{{ price.price|oro_format_price }}</span><br/>
    {% endfor %}
{% endif %}
