/* @theme: default; */
// @productTheme: list-theme;

@include breakpoint('desktop') {
    .list-theme {
        .product-view {
            &__content {
                display: $list-theme-product-view-content-display-desktop;

                .line-item-form {
                    border-top: $list-theme-product-view-line-item-form-border-desktop;
                    margin-top: $list-theme-product-view-line-item-form-margin-top-desktop;
                    padding-top: $list-theme-product-view-line-item-form-padding-top-desktop;

                    form {
                        display: $list-theme-product-view-line-item-form-display-desktop;

                        // stylelint-disable-next-line selector-max-compound-selectors
                        > div {
                            flex: $list-theme-product-view-line-item-form-div-flex-desktop;
                        }
                    }
                }

                .form__col,
                .form-row {
                    margin-left: $list-theme-product-view-line-item-form-margin-left-desktop;

                    &:first-child {
                        margin-left: 0;
                    }

                    .btn-group {
                        min-height: $list-theme-product-view-shopping-lists-content-min-height-desktop;
                    }
                }

                .shopping-lists {
                    &__wrapper {
                        order: $list-theme-product-view-shopping-lists-wrapper-order-desktop;
                    }

                    &__content {
                        min-height: $list-theme-product-view-shopping-lists-content-min-height-desktop;
                    }

                    &__icon {
                        top: $list-theme-product-view-shopping-lists-icon-top-desktop;
                    }
                }
            }

            &__description {
                padding: $list-theme-product-view-description-inner-offset-desktop;
                width: $list-theme-product-view-description-width-desktop;
            }

            &__attribute-box {
                margin-right: $list-theme-product-view-attribute-box-margin-right-desktop;

                .tab-content__wrapper {
                    margin-bottom: $list-theme-product-view-tab-content-margin-bottom-desktop;
                }
            }

            &__attributes-container {
                border: none;
            }

            &__related-items {
                &:not(:last-child) {
                    margin-bottom: $list-theme-product-view-related-items-offset-y;
                }
            }
        }
    }
}
