/* @theme: default; */
// @productTheme: two-columns-theme;

@use 'sass:math';

@include breakpoint('desktop') {
    .two-columns-theme.product-view {
        .product-price {
            &__hint {
                display: $two-columns-theme-product-price-hint-display-desktop;
                flex-direction: $two-columns-theme-product-price-hint-flex-direction-desktop;
            }

            &__label {
                font-weight: $two-columns-theme-product-price-label-font-weight-desktop;
            }
        }

        .product-view {
            &-quantity {
                flex-direction: $two-columns-theme-product-view-quantity-flex-direction-desktop;
            }

            &-quantity__unit {
                margin-right: $two-columns-theme-product-view-quantity-unit-margin-right-desktop;
            }

            &-quantity__value {
                margin-right: $two-columns-theme-product-view-quantity-value-margin-right-desktop;
            }

            &__additional {
                .embedded-products {
                    .embedded-list__label {
                        margin-top: 0;
                    }

                    // Tiles mode
                    .embedded-list {
                        &__item {
                            width: $two-columns-theme-embedded-related-products-item-width;
                            margin-right: 0;

                            &:not(:nth-child(#{$two-columns-theme-embedded-related-products-item-count-desktop}n)) {
                                margin-right: $embedded-products-item-offset;
                            }
                        }
                        // stylelint-disable-next-line selector-max-compound-selectors
                        .product-price {
                            max-width: $product-view-related-items-product-price-width;
                        }
                    }

                    // Slider mode
                    .embedded-list-slider {
                        display: block;

                        // stylelint-disable-next-line selector-max-compound-selectors
                        .embedded-list__item {
                            width: math.div(100%, $two-columns-theme-embedded-related-products-item-count-desktop);
                            margin-right: 0;
                        }
                    }
                }
            }

            &__related-items-titles {
                // Tiles mode
                .embedded-list__tiles {
                    --tiles-column-count: #{$two-columns-theme-embedded-related-products-item-count-desktop};

                    margin: $two-columns-theme-embedded-list-tiles-margin;
                }
            }
        }
    }
}

@include breakpoint('tablet') {
    .two-columns-theme.product-view {
        .product-view {
            &__related-items-titles {
                .embedded-products {
                    .embedded-list {
                        &__tiles {
                            --tiles-column-count: #{$two-columns-theme-embedded-related-products-item-count-tablet};

                            margin: $two-columns-theme-embedded-list-tiles-margin-tablet;
                        }
                    }
                }
            }
        }
    }
}

@include breakpoint('mobile-landscape') {
    .two-columns-theme.product-view {
        .product-view {
            &__related-items-titles {
                .embedded-products {
                    .embedded-list {
                        &__tiles {
                            --tiles-column-count: #{$two-columns-theme-embedded-related-products-item-count-mobile};
                        }
                    }
                }
            }
        }
    }
}
