/* @theme: default; */
// @productTheme: two-columns-theme;

@include breakpoint('desktop') {
    .two-columns-theme.product-view {
        .product-view {
            &-quantity {
                flex-direction: $two-columns-theme-product-view-quantity-flex-direction-desktop;
            }

            &-quantity__unit {
                margin-right: $two-columns-theme-product-view-quantity-unit-margin-right-desktop;
            }

            &-quantity__value {
                margin-right: $two-columns-theme-product-view-quantity-value-margin-right-desktop;
            }

            &__additional {
                .embedded-products {
                    .embedded-list__label {
                        margin-top: 0;
                    }

                    // Slider mode
                    .embedded-list-slider {
                        display: block;

                        .embedded-list {
                            &__item {
                                width: (100% / $two-columns-theme-embedded-related-products-item-count-desktop);
                                margin-right: 0;
                            }
                        }
                    }

                    // Tiles mode
                    .embedded-list {
                        &__item {
                            width: calc((100% / #{$two-columns-theme-embedded-related-products-item-count-desktop}) - #{$two-columns-theme-embedded-related-products-item-gap-desktop});
                            margin-right: 0;

                            &:not(:nth-child(#{$two-columns-theme-embedded-related-products-item-count-desktop}n)) {
                                margin-right: $embedded-products-item-offset;
                            }
                        }

                        .product-price {
                            max-width: $product-view-related-items-product-price-width;
                        }
                    }
                }
            }
        }

        .product-price {
            &__hint {
                display: $two-columns-theme-product-price-hint-display-desktop;
                flex-direction: $two-columns-theme-product-price-hint-flex-direction-desktop;
            }

            &__label {
                font-weight: $two-columns-theme-product-price-label-font-weight-desktop;
            }
        }
    }
}
