a.payment-methods-authorized-card-handle {
    display: block;
    margin-bottom: 20px;
}

a.payment-methods-different-card-handle {
    display: block;
    margin-top: 10px;
}

div.payment-methods-authorized-card-container {
    position: relative;
    background: #fff;
    padding: 0;
    border-radius: .5rem;
}
