.form-horizontal.rfp-form {
    margin-top: 10px;
}

.rfp-status-note {
    padding-right: 10px;
}

.rfp-status-note .mce-tinymce {
    width: 100%;
}

.form-horizontal .rfp-status-note .control-group {
    max-width: none;
}

.rfp-requestproduct-collection .btn.add-list-item {
    margin-left: 90px;
}

.rfp-requestproduct-collection .btn.removeRow {
    position: absolute;
    width: 28px;
    top: 0;
    left: 460px;
}

.rfp-requestproduct-widget.control-group {
    max-width: none;
}

.rfp-requestproduct-widget.control-group .controls {
    float: left;
    margin-left: 10px;
}

.rfp-requestproduct-widget .btn.add-list-item {
    margin: 2px 0 2px 1px;
}

.rfp-requestproduct-widget .selector {
    margin-left: 0;
}

.rfp-requestproduct-widget .btn.removeRow {
    position: absolute;
    width: 28px;
    right: 4px;
    left: auto;
}

.rfp-requestproductitem-collection {
    float: left;
    margin-left: 50px;
    width: 630px;
}

.rfp-requestproductitem-collection > div > div > div {
    padding-right: 14px;
}

.rfp-requestproductitem-widget {
    margin-right: 15px;
}

.rfp-requestproductitem-widget td {
    vertical-align: top;
    width: 150px;
}

.rfp-requestproductitem-widget td span.validation-failed {
    padding-top: 2px;
}

.rfp-requestproductitem-widget input[type="number"],
.rfp-requestproductitem-widget input[type="text"] {
    width: 130px !important;
}

.rfp-requestproductitem-widget select {
    width: 130px !important;
    height: 20px;
    margin: 0;
}

.rfp-requestproduct-product {
    padding: 0;
    vertical-align: top;
}

.rfp-requestproduct-product-select button {
    float: none;
}

.rfp-requestproduct-info {
    padding: 5px 0 0 10px;
    vertical-align: top;
}

.rfp-requestproduct-info.control-group label.control-label {
    width: auto;
    padding-top: 2px;
}

.rfp-requestproduct-comment .control-group label.control-label {
    width: auto;
    padding-top: 2px;
}

.rfp-requestproductitems-info {
    padding: 4px 0 0 10px;
}

.rfp-requestproductitems-info table {
    width: 100%;
}

.rfp-requestproductitems-info th {
    text-align: left;
    min-width: 90px;
}

.rfp-requestproductitems-info td {
    width: 50%;
}

.rfp-requestproductitem-info {
    margin-bottom: 5px;
}

.rfp-requestproduct-comment-control {
    padding-right: 16px;
}

.rfp-requestproduct-comment-control textarea {
    clear: both;
    display: block;
    width: 100%;
}

.rfp-requestproduct-comment-control label {
    text-align: left !important;
}