/* @theme: blank; */

.promo-slider {
    overflow: hidden;

    &.slick-initialized {
        overflow: visible;
    }

    &__item {
        position: $promo-slider-item-position;

        width: $promo-slider-item-width;

        white-space: $promo-slider-item-white-space;

        &:not(:first-child) {
            &:not(.slick-slide) {
                // hide until slick not loaded
                display: none;
            }
        }
    }

    &__link {
        text-decoration: $promo-slider-link-text-decoration;

        color: $promo-slider-link-color;

        @include element-state('hover') {
            text-decoration: $promo-slider-link-text-decoration;

            color: $promo-slider-link-color;
        }
    }

    &__info {
        position: $promo-slider-item-info-position;
        top: $promo-slider-item-info-top;
        right: $promo-slider-item-info-right;

        display: $promo-slider-item-info-display;
        width: $promo-slider-item-info-width;

        color: $promo-slider-item-info-color;

        transform: $promo-slider-item-info-transform;

        &--left-mode {
            right: $promo-slider-item-info-left-mode-right-pos;
            left: $promo-slider-item-info-left-mode-left-pos;
        }

        &--center-mode {
            left: $promo-slider-item-info-center-mode-left-pos;

            width: $promo-slider-item-info-center-mode-width;

            text-align: $promo-slider-item-info-center-mode-text-align;

            transform: $promo-slider-item-info-center-mode-transform;
        }

        &--text-color-dark {
            color: $promo-slider-item-info-text-color-dark-color;
        }
    }

    &__img {
        display: $promo-slider-img-display;
        width: $promo-slider-img-width;
    }

    &__title {
        margin-bottom: $promo-slider-title-offset-bottom;

        font-size: $promo-slider-title-font-size;
        text-transform: $promo-slider-title-text-transform;

        color: $promo-slider-title-color;
    }

    &__description {
        overflow-y: $promo-slider-description-overflow-y;

        margin-bottom: $promo-slider-description-offset-bottom;
        max-height: $promo-slider-description-max-height;

        font-size: $promo-slider-description-font-size;

        color: $promo-slider-description-color;
    }

    &__view-btn {
        text-transform: $promo-slider-description-view-btn-text-transform;
    }

    @if ($promo-slider-use-dots) {
        @include slick-dots(
            $slick-dots-bottom-pos: $promo-slider-dots-bottom-pos,
            $slick-dots-item-offset: $promo-slider-dots-item-offset,
            $slick-dots-button-bg: $promo-slider-dots-button-bg,
            $slick-dots-button-border: $promo-slider-dots-button-border,
            $slick-dots-button-active-border: $promo-slider-dots-button-active-border,
            $slick-dots-button-active-bg: $promo-slider-dots-button-active-bg,
            $slick-dots-button-active-box-shadow: $promo-slider-dots-button-active-box-shadow
        );
    }
}

@include breakpoint('tablet') {
    .promo-slider {
        &__title {
            font-size: $promo-slider-title-font-size-tablet;
        }

        &__description {
            font-size: $promo-slider-description-font-size-tablet;
        }
    }
}

@include breakpoint('mobile-landscape') {
    .promo-slider {
        &__info {
            width: $promo-slider-item-info-width-mobile-landscape;

            text-align: $promo-slider-item-info-text-align-mobile-landscape;
        }

        &__description {
            display: $promo-slider-item-description-display-mobile-landscape;
        }
    }
}

@include breakpoint('mobile') {
    .promo-slider {
        &__title {
            margin-bottom: $promo-slider-title-offset-bottom-mobile;
        }
    }
}
