<div class="featured-categories-grid grid">
    <a href="#" class="featured-categories-grid__cell grid-col grid grid-columns-2">
        <div class="featured-categories-grid__content featured-categories-offset-top-bottom-start featured-categories-offset-top-end-start-mobile featured-categories-grid__content-flex featured-categories-grid__content-main grid-col grid-col-mobile-landscape-12">
            <h2 class="no-offset">Lorem Ipsum 1</h2>
            <p class="no-offset hide-on-mobile-landscape">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore </p>
            <span class="featured-categories-grid__link hide-on-mobile-landscape">Shop Now</span>
        </div>
        <div class="featured-categories-grid__picture featured-categories-grid__picture--mobile-has-offset grid-col grid-col-mobile-landscape-12">
            <picture>
                <source media="(max-width: 640px)" srcset="/img/no_image-50.svg" type="image/svg+xml">
                <img class="featured-categories-grid__img" src="/img/no_image-200.svg" alt="No Image">
            </picture>
        </div>
    </a>
    <a href="#" class="featured-categories-grid__cell grid-col grid grid-columns-2">
        <div class="featured-categories-grid__content featured-categories-offset-top-bottom-start featured-categories-offset-top-end-start-mobile featured-categories-grid__content-flex grid-col grid-col-mobile-landscape-12">
            <h2 class="no-offset">Lorem 2</h2>
            <p class="no-offset hide-on-mobile-landscape">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore </p>
            <span class="featured-categories-grid__link hide-on-mobile-landscape">Shop Now</span>
        </div>
        <div class="featured-categories-grid__picture featured-categories-grid__picture--mobile-has-offset grid-col grid-col-mobile-landscape-12">
            <picture>
                <source media="(max-width: 640px)" srcset="/img/no_image-50.svg" type="image/svg+xml">
                <img class="featured-categories-grid__img" src="/img/no_image-100.svg" alt="No Image">
            </picture>
        </div>
    </a>
    <a href="#" class="featured-categories-grid__cell featured-categories-grid__2-rows featured-categories-grid__content grid-col grid">
        <h2 class="grid-col-12 grid-col-mobile-landscape-12 featured-categories-offset-top-end-start featured-categories-offset-top-end-start-mobile no-offset">Lorem Ipsum 3</h2>
        <div class="grid-col-6 featured-categories-offset-start featured-categories__sub-cell hide-on-mobile-landscape">
            <p class="no-offset">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore </p>
            <span class="featured-categories-grid__link">Shop Now</span>
        </div>
        <div class="featured-categories-grid__picture featured-categories-grid__picture--mobile-has-offset grid-col-6 grid-col-mobile-landscape-12">
            <picture>
                <source media="(max-width: 640px)" srcset="/img/no_image-50.svg" type="image/svg+xml">
                <img class="featured-categories-grid__img" src="/img/no_image-150.svg" alt="No Image">
            </picture>
        </div>
    </a>
    <a href="#" class="featured-categories-grid__cell featured-categories-grid__2-rows grid-col grid grid-columns-2">
        <div class="featured-categories-grid__content featured-categories-grid__content-flex featured-categories-offset-top-end-start featured-categories-offset-top-end-start-mobile grid-col-12 grid-col-mobile-landscape-12">
            <h2 class="no-offset">Lorem Ipsum 4</h2>
            <p class="no-offset hide-on-mobile-landscape">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore </p>
            <span class="featured-categories-grid__link hide-on-mobile-landscape">Shop Now</span>
        </div>
        <div class="featured-categories-grid__picture featured-categories-grid__picture--mobile-has-offset grid-col-12 grid-col-mobile-landscape-12">
            <picture>
                <source media="(max-width: 640px)" srcset="/img/no_image-50.svg" type="image/svg+xml">
                <img class="featured-categories-grid__img" src="/img/no_image-150.svg" alt="No Image">
            </picture>
        </div>
    </a>
    <a href="#" class="featured-categories-grid__cell grid-col grid grid-columns-2">
        <div class="featured-categories-grid__content featured-categories-offset-top-bottom-start featured-categories-offset-top-end-start-mobile featured-categories-grid__content-flex grid-col grid-col-mobile-landscape-12">
            <h2 class="no-offset">Lorem 5</h2>
            <p class="no-offset hide-on-mobile-landscape">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore </p>
            <span class="featured-categories-grid__link hide-on-mobile-landscape">Shop Now</span>
        </div>
        <div class="featured-categories-grid__picture featured-categories-grid__picture--mobile-has-offset grid-col grid-col-mobile-landscape-12">
            <picture>
                <source media="(max-width: 640px)" srcset="/img/no_image-50.svg" type="image/svg+xml">
                <img class="featured-categories-grid__img" src="/img/no_image-100.svg" alt="No Image">
            </picture>
        </div>
    </a>
    <a href="#" class="featured-categories-grid__cell grid-col grid">
        <div class="featured-categories-grid__content featured-categories-grid__content-flex featured-categories-offset-top-end-start featured-categories-offset-top-end-start-mobile grid-col-12 grid-col-tablet-small-6 grid-col-mobile-landscape-12">
            <h2 class="no-offset">Lorem Ipsum 6</h2>
            <p class="no-offset hide-on-mobile-landscape">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore </p>
            <span class="featured-categories-grid__link hide-on-mobile-landscape">Shop Now</span>
        </div>
        <div class="featured-categories-grid__picture featured-categories-grid__picture--mobile-has-offset grid-col-12 grid-col-tablet-small-6 grid-col-mobile-landscape-12">
            <picture>
                <source media="(max-width: 640px)" srcset="/img/no_image-50.svg" type="image/svg+xml">
                <source media="(max-width: 992px)" srcset="/img/no_image-120.svg" type="image/svg+xml">
                <img class="featured-categories-grid__img" src="/img/no_image-150.svg" alt="No Image">
            </picture>
        </div>
    </a>
    <a href="#" class="featured-categories-grid__cell grid-col grid grid-columns-2">
        <div class="featured-categories-grid__content featured-categories-offset-top-bottom-start featured-categories-offset-top-end-start-mobile featured-categories-grid__content-flex grid-col grid-col-mobile-landscape-12">
            <h2 class="no-offset">Lorem Ipsum 7</h2>
            <p class="no-offset hide-on-mobile-landscape">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore </p>
            <span class="featured-categories-grid__link hide-on-mobile-landscape">Shop Now</span>
        </div>
        <div class="featured-categories-grid__picture featured-categories-grid__picture--mobile-has-offset grid-col grid-col-mobile-landscape-12">
            <picture>
                <source media="(max-width: 640px)" srcset="/img/no_image-50.svg" type="image/svg+xml">
                <img class="featured-categories-grid__img" src="/img/no_image-120.svg" alt="No Image">
            </picture>
        </div>
    </a>
    <a href="#" class="featured-categories-grid__cell featured-categories-grid__2-rows featured-categories-grid__content grid-col grid">
        <h2 class="grid-col-12 grid-col-mobile-landscape-12 featured-categories-offset-top-end-start featured-categories-offset-top-end-start-mobile no-offset">Lorem Ipsum 8</h2>
        <div class="grid-col-6 featured-categories-offset-start hide-on-mobile-landscape">
            <p class="no-offset">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore </p>
            <span class="featured-categories-grid__link">Shop Now</span>
        </div>
        <div class="featured-categories-grid__picture featured-categories-grid__picture--mobile-has-offset grid-col-6 grid-col-mobile-landscape-12">
            <picture>
                <source media="(max-width: 640px)" srcset="/img/no_image-50.svg" type="image/svg+xml">
                <img class="featured-categories-grid__img" src="/img/no_image-150.svg" alt="No Image">
            </picture>
        </div>
    </a>
</div>
