<div class="three-columns-category">
    <div class="grid">
        <div class="grid-col-4 grid-col-tablet-6 grid-col-mobile-12 bordered grid-item">
            <div class="picture-wrapper">
                <picture class="stretch">
                    <source media="(max-width: 640px)" srcset="/img/no_image-200--v-offsets.svg" type="image/svg+xml">
                    <img src="/img/no_image-400--v-offsets.svg" class="full-cover cover-img bordered-img-on-top" alt="No Image">
                </picture>
            </div>
            <div class="grid grid-columns-1 grid-row-gap-16 offset-inner grid-item__text">
                <div class="grid grid-columns-1 grid-row-gap-8">
                    <h3>Footwear</h3>
                    <p class="extra-text-dark">Find the supportive, stain-resistant, and slip-resistant medical footwear for the demanding healthcare environment</p>
                </div>
                <div class="grid-col grid-item__bottom grid grid-max-content">
                    <a href="#" class="btn grid-col-mobile-12">Explore Footwear</a>
                </div>
            </div>
        </div>
        <div class="grid-col-4 grid-col-tablet-6 grid-col-mobile-12 bordered grid-item">
            <div class="picture-wrapper">
                <picture class="stretch">
                    <source media="(max-width: 640px)" srcset="/img/no_image-200--v-offsets.svg" type="image/svg+xml">
                    <img src="/img/no_image-400--v-offsets.svg" class="full-cover cover-img bordered-img-on-top" alt="No Image">
                </picture>
            </div>
            <div class="grid grid-columns-1 grid-row-gap-16 offset-inner grid-item__text">
                <div class="grid grid-columns-1 grid-row-gap-8">
                    <h3>Medical Apparel</h3>
                    <p class="extra-text-dark">Complete the look of your medical team with our high-quality medical apparel</p>
                </div>
                <div class="grid-col grid-item__bottom grid grid-max-content">
                    <a href="#" class="btn grid-col-mobile-12">Explore Medical Apparel</a>
                </div>
            </div>
        </div>
        <div class="grid-col-4 grid-col-tablet-6 grid-col-mobile-12 bordered grid-item">
            <div class="picture-wrapper">
                <picture class="stretch">
                    <source media="(max-width: 640px)" srcset="/img/no_image-200--v-offsets.svg" type="image/svg+xml">
                    <img src="/img/no_image-400--v-offsets.svg" class="full-cover cover-img bordered-img-on-top" alt="No Image">
                </picture>
            </div>
            <div class="grid grid-columns-1 grid-row-gap-16 offset-inner grid-item__text">
                <div class="grid grid-columns-1 grid-row-gap-8">
                    <h3>Medical Uniforms</h3>
                    <p class="extra-text-dark">Looking for a comfortable designer medical uniform? Look no further! We have a variety of garments in men's, women's, and unisex styles</p>
                </div>
                <div class="grid-col grid-item__bottom grid grid-max-content">
                    <a href="#" class="btn grid-col-mobile-12">Explore Uniforms</a>
                </div>
            </div>
        </div>
    </div>
</div>
