@name = confirmation_email
@entityName = OroB2B\Bundle\CustomerBundle\Entity\AccountUser
@subject = Confirmation of account registration
@isSystem = 1
@isEditable = 1

<h1>Thank you for registration, {{ entity.username }}</h1>
<div>
    <p>Please follow this link to confirm your email address: <a href="{{ oro_config_value('oro_ui.application_url')|trim('/') }}{{ path('orob2b_customer_frontend_account_user_confirmation', {'username': entity.username, 'token': token}) }}">Confirm</a></p>
</div>
