@name = welcome_email
@entityName = OroB2B\Bundle\CustomerBundle\Entity\AccountUser
@subject = Welcome: {{ entity.username }}
@isSystem = 1
@isEditable = 1

<h1>Welcome {{ entity.username }}</h1>
<div>
    <p>Your password is <b>{{ password }}</b></p>
    <p>Please follow this link to login: <a href="#">Profile Login</a></p>
</div>
