.top-nav__item {
  .cart-widget__list-trigger {
      text-indent: .4rem;
  }
}

.order-widget {
  &.order-widget_dropdown-mode {
    z-index: 1000;

    .widget__container{
      max-height: 422px;
      overflow-y: auto;
    }
  }
}

.line-item-price{
  width: 20rem;
}
