{% block _order_history_widget %}
    <div class="page-title">
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _checkouts_container_widget %}
    <div class="grid__row grid__row--has-twin-row">
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _checkouts_title_widget %}
    <h2 class="user-page-title">
        {{ block_widget(block) }}
    </h2>
{% endblock %}
