.expand-text {
  line-height: @line-height;

  display: none;


  &__trigger {
    display: inline-block;

    margin-right: 3px;

    cursor: pointer;

    transition: all 200ms linear;

    &:hover {
      color: @base-font-color;
    }
  }

  &__container {
    display: inline-block;

    max-width: 100%;

    text-overflow: ellipsis;

    overflow: hidden;
    white-space: nowrap;
  }

  &__content {
    &--long {
      display: none;
    }
  }

  &.init {
    display: block;
  }

  &.open {
    .expand-text {
      &__trigger {
        transform: rotate(90deg);
      }

      &__container {
        overflow: inherit;
        white-space: normal;
      }

      &__content {
        &--short {
          display: none;
        }

        &--long {
          display: inline;
        }
      }
    }
  }
}
