/* @theme: blank; */

.embedded-products {
    display: flex;

    &__item {
        width: (100% / $embedded-products-item-count-desktop);
        height: initial;
        display: flex;
        flex-direction: column;

        &.slick-slide {
            height: initial;
            display: flex;
            flex-direction: column;
        }

        &:not(.slick-slide) {
            min-width: (100% / $embedded-products-item-count-desktop);
        }
    }

    .slick-arrow {
        top: $embedded-products-slider-arrow-top;
    }

    .slick-track {
        display: flex;
    }

    .slick-list {
        width: 100%;
    }
}

@include breakpoint('strict-tablet-small') {
    .embedded-products {
        &__item {
            width: (100% / $embedded-products-item-width-count-tablet-small);
        }
    }
}

@include breakpoint('strict-mobile-landscape') {
    .embedded-products {
        &__item {
            width: (100% / $embedded-products-item-count-mobile-landscape);
        }
    }
}

@include breakpoint('mobile') {
    .embedded-products {
        &__item {
            width: 100% / $embedded-products-item-count-mobile;
        }
    }
}
