// @theme: blank

.product-view {
    &__attribute-image {
        width: $product-view-attribute-image-width;
        max-height: $product-view-attribute-image-max-height;
        border: $product-view-attribute-image-border;
        transition: $product-view-attribute-image-transition;
    }
}
