// @theme: blank

.product-view {
    &__attribute-images-item {
        display: inline-block;
        padding: $product-view-attribute-images-item-inner-offset;
        height: $product-view-attribute-images-item-height;
        width: $product-view-attribute-images-item-width;
        margin-bottom: $product-view-attribute-images-item-margin-bottom;
    }
}
