// @theme: blank

.product-view-attribute {
    font-weight: $product-view-attribute-font-weight;
}

.product-view {
    &__attribute-title {
        margin: $product-view-attribute-title-offset;
        font-weight: $product-view-attribute-title-font-weight;
        font-size: $base-font-size--m;
    }
}
