// @theme: blank;

.product-gallery {
    position: relative;
    z-index: z('base') + 1;

    float: left;

    width: 380px;
    margin-bottom: 20px;

    .product-view-media__gallery {
        border: 1px solid get-color('additional', 'light');
    }

    &__pics {
        > div {
            display: none;
        }

        div:first-child {
            display: block;
        }
    }

    &__pics,
    &__nav {
        overflow: hidden;
    }

    &__pics.slick-initialized,
    &__nav.slick-initialized {
        overflow: visible;
    }

    &__pics {
        display: flex;
    }

    &__image {
        display: block;
        width: 100%;

        &--item {
            width: auto;
            min-width: 100%;
        }
    }

    &__nav {
        position: relative;

        max-height: 77px;
        margin: 20px 20px 0;

        opacity: 0;

        transition: all .4s;

        visibility: hidden;

        &.slick-initialized {
            opacity: 1;

            visibility: visible;
        }

        &-item {
            display: block;
            width: 25%;
            float: left;

            img {
                border: 1px solid get-color('additional', 'light');
                transition: border-color .5s;
            }

            &.slick-current img {
                border-color: rgba(get-color('secondary', 'base'), .5);
            }
        }

        &-item .product-gallery__image {
            width: 89%;
            margin: 0 5px;
        }

        .slick-arrow {
            position: absolute;
            top: 0;
            z-index: z('base') + 1;

            width: 20px;
            height: 100%;

            font-size: 0; // hide text

            border: 0;
            background: get-color('additional', 'light');
        }

        .slick-arrow::before {
            position: relative;

            display: block;

            margin-top: 3px;

            font-size: $base-font-size;
            font-weight: normal;
            font-style: normal;
        }

        .slick-prev {
            left: -20px;

            @include fa-icon($fa-var-angle-left);
        }

        .slick-next {
            right: -21px;

            @include fa-icon($fa-var-angle-right);
        }

        //For correct maring of slider if we haven't arrows
        > :not(.slick-prev):first-child {
            margin-left: -25px;
        }

    }
}

@include breakpoint('tablet') {
    .product-gallery {
        float: none;

        width: 100%;
        max-width: 380px;
        margin: auto;
        margin-bottom: 0;
    }
}
