// @theme: blank;

.product-gallery-container {
    position: $product-gallery-container-position;

    float: $product-gallery-container-float;

    width: $product-gallery-container-width;
    margin-bottom: $product-gallery-container-margin-bottom;

    @include clearfix();
}

@include breakpoint('tablet') {
    .product-gallery-container {
        float: $product-gallery-container-tablet-float;

        width: $product-gallery-container-tablet-width;
        max-width: $product-gallery-container-tablet-max-width;
        margin: $product-gallery-container-tablet-offset;
    }
}
