// @theme: blank

.product-view {
    &__title-container {
        float: right;
        width: calc(100% - #{$product-gallery-container-width});
    }

    &__gallery {
        float: left;

        margin-bottom: $product-gallery-container-offset-bottom;
        width: $product-gallery-container-width;
    }

    &__main-data {
        display: flex;

        margin-bottom: $product-block-offset-bottom;

        clear: right;

        &__specification {
            width: $product-main-data-specification-block-width;
            flex: 0 0 auto;
        }

        &__description {
            margin-left: $product-main-data-description-block-left-offset;

            flex-grow: 1;
        }
    }

    &__additional {
        margin-bottom: $product-block-offset-bottom;

        clear: both;
    }
}

@include breakpoint('tablet') {
    .product-view {
        &__gallery,
        &__title-container {
            float: none;
            width: 100%;
        }
    }
}

@include breakpoint('mobile') {
    .product-view {
        &__main-data {
            display: block;

            &__specification,
            &__description {
                width: 100%;
                margin: 0 0 $product-block-offset-bottom;
            }
        }
    }
}
