// @theme: blank;

.product-gallery-container {
    position: relative;

    float: left;

    width: $product-gallery-container-width;
    margin-bottom: $product-gallery-container-offset;

    @include clearfix();
}

@include breakpoint('tablet') {
    .product-gallery-container {
        float: none;

        width: 100%;
        max-width: $product-gallery-container-width;
        margin: $product-gallery-container-tablet-offset;
    }
}
