/* @theme: blank; */

.product-view {
    &-attribute {
        font-weight: $product-view-attribute-font-weight;
    }

    &__attribute-title {
        margin: $product-view-attribute-title-offset;
        font-weight: $product-view-attribute-title-font-weight;
        font-size: $base-font-size--m;
    }

    &__attribute-image {
        width: 100%;
        max-height: $desktop-product-view-attribute-image-size;
        border: $product-view-attribute-image-border;
        transition: $product-view-attribute-image-transition;
    }

    &__attribute-images {
        @include clearfix();

        margin-bottom: $product-view-attribute-images-item-space;

        &-container {
            @include clearfix();

            margin-right: -$product-view-attribute-images-item-space;
            margin-bottom: -$product-view-attribute-images-item-space;

            &.show-less {
                height: $desktop-product-view-attribute-image-size;
                margin-bottom: 0;
                overflow: hidden;
            }
        }

        &-item {
            float: left;
            width: $desktop-product-view-attribute-image-size;
            height: $desktop-product-view-attribute-image-size;
            margin-right: $product-view-attribute-images-item-space;
            margin-bottom: $product-view-attribute-images-item-space;
            cursor: pointer;
        }

        .show-more-link {
            margin-top: $product-view-attribute-images-show-more-link-margin-top;
            float: right;
        }
    }

    &__attribute-files {
        @include clearfix();

        .grid-cell .filename {
            [class^="fa-"],
            [class*=" fa-"] {
                color: $product-view-attribute-files-icon-color;
            }
        }

        &.show-less {
            .table-responsive table {
                position: relative;

                &:after {
                    display: block;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    height: $product-view-attribute-files-gradient-height;
                    background: $product-view-attribute-files-gradient-background;
                    content: '';
                }
            }
        }

        .show-more-link {
            float: right;
        }
    }
}

@include breakpoint('mobile-big') {
    .product-view {
        &__attribute-image {
            max-height: $mobile-big-product-view-attribute-image-size;
        }

        &__attribute-images {
            &-container {
                &.show-less {
                    height: $mobile-big-product-view-attribute-image-size;
                }
            }

            &-item {
                width: $mobile-big-product-view-attribute-image-size;
                height: $mobile-big-product-view-attribute-image-size;
            }
        }
    }
}

@include breakpoint('mobile-landscape') {
    .product-view {
        &__attribute-files {
            th {
                display: none;

                &:first-child {
                    display: block;
                    flex-basis: 100%;
                }
            }

            tr {
                display: flex;
                flex-wrap: wrap;
            }

            td {
                display: block;
                padding: $mobile-product-view-attribute-files-item-inner-padding;

                &:first-child {
                    flex-basis: 100%;
                    border: 0 none;
                    padding-top: $mobile-product-view-attribute-files-item-outer-padding;
                }

                &:nth-child(2),
                &:nth-child(3) {
                    border: 0 none;
                }

                &:last-child {
                    flex-basis: 100%;
                    padding-bottom: $mobile-product-view-attribute-files-item-outer-padding;
                }
            }

            &.show-less .table-responsive table:after {
                height: $mobile-product-view-attribute-files-gradient-height;
            }
        }
    }
}


@include breakpoint('mobile-small') {
    .product-view {
        &__attribute-image {
            max-height: $mobile-small-product-view-attribute-image-size;
        }

        &__attribute-images {
            &-container {
                &.show-less {
                    height: $mobile-small-product-view-attribute-image-size;
                }
            }

            &-item {
                width: $mobile-small-product-view-attribute-image-size;
                height: $mobile-small-product-view-attribute-image-size;
            }

            .show-more-link {
                float: none;
                display: block;
                text-align: center;
            }
        }

        &__attribute-files {
            .show-more-link {
                float: none;
                display: block;
                text-align: center;
            }
        }
    }
}
