// @theme: blank;

.product-view-quantity {
    display: flex;

    margin-bottom: 20px;

    &__unit {
        width: 70%;
        margin-right: 5px;
    }

    &__value {
        width: 30%;
    }

    &__value .input {
        margin: 0;
        padding: 11px 8px;

        text-align: center;
    }
}
