/* @theme: blank; */

.view-product-gallery {
    display: $view-product-gallery-display;
    position: $view-product-gallery-position;
    top: $view-product-gallery-top;
    left: $view-product-gallery-left;
    right: $view-product-gallery-right;
    bottom: $view-product-gallery-bottom;

    color: $view-product-gallery-icon-color;
    font-size: $view-product-gallery-icon-size;
    text-shadow: $view-product-gallery-icon-text-shadow;

    justify-content: $view-product-gallery-justify-content;
    align-items: $view-product-gallery-align-items;
    
    background: $view-product-gallery-background;
    opacity: $view-product-gallery-opacity;

    width: $view-product-gallery-width;
    height: $view-product-gallery-height;

    border-radius: $view-product-gallery-border-radius;

    @extend %base-transition;

    @include fa-icon($view-product-gallery-icon);

    .product-item__preview:hover > & {
        opacity: $view-product-gallery-hover-opacity;
    }

    &:before {
        margin: $view-product-gallery-icon-offset;
    }
}

@include breakpoint('tablet') {
    .view-product-gallery {
        opacity: $view-product-gallery-tablet-opacity;
    }
}

@include only-mobile {
    .view-product-gallery {
        opacity: $view-product-gallery-mobile-opacity;
    }
}
