.request-form-lineitem {
    display: flex;

    &:not(:first-child) {
        margin-top: 10px;
    }

    &__side {
        width: 400px;

        flex: 1 0 auto;
    }

    &__base {
        width: calc(100% - 400px);
        padding-right: 40px;

        flex: 1 1 auto;
    }
}

/* Don't forget uncomment */
/* @include breakpoint('tablet') {
    .request-form-lineitem {
        display: block;

        &__side {
            width: auto;
            margin-top: 10px;
        }

        &__base {
            width: auto;
            padding-right: 0;
        }
    }
} */
