/* @theme: custom; */

$custom-theme-fonts: (
    'main': (
        'family': 'Asap Condensed',
            'variants': (
            (
                'path': '#{$global-url}/orocustomtheme/FrontendBundle/fonts/asap-condensed/AsapCondensed-Regular',
                'weight': 400,
                'style': normal
            ),
            (
                'path': '#{$global-url}/orocustomtheme/FrontendBundle/fonts/asap-condensed/AsapCondensed-Bold',
                'weight': 700,
                'style': normal
            )
        ),
        'formats': ('woff')
    )
);

$theme-fonts: map_merge($theme-fonts, $custom-theme-fonts);

$base-font: get-font-name('main'), sans-serif;
