// @theme: custom;

$custom-theme-fonts: (
    'main': (
        'family': 'Asap Condensed',
        'variants': (
            (
                'path': '//fonts.googleapis.com/css?family=Asap+Condensed',
                'weight': 400,
                'style': normal
            )
        )
    )
);

$theme-fonts: map_merge($theme-fonts, $custom-theme-fonts);

$base-font: get-font-name('main'), sans-serif;
