// @theme: default

.main-menu {
    &__link {
        padding-left: 24px;

        white-space: nowrap;
        text-transform: uppercase;

        &:hover,
        &:focus {
            text-decoration: none;
        }
    }
    
    &__list {
        display: flex;

        @include list-normalize();
        @include clearfix();

        &--nested {
            display: block;

            font-size: 0;
        }
    }

    &__item {
        .messages-widget {
            &__trigger {
                margin-top: 9px;
            }

            &__title {
                margin-left: 5px;
            }
        }

        &--nested {
            position: relative;

            display: inline-block;

            padding-right: 24px;
            padding-left: 22px;

            font-size: $base-font-size;

            vertical-align: middle;

            background: get-color('additional', 'base');
        }

        &.open {
            .messages-widget__dropdown-mode {
                display: block;
            }
        }
    }

    &__item--floated-dropdown,
    &__item--centered-dropdown {
        position: relative;
    }

    &__item--floated-dropdown .main-menu__sublist-container {
        right: auto;
    }

    &__item--centered-dropdown .main-menu__sublist-container {
        left: calc(-50% - 34px);
        right: auto;
    }

    &__sublist-container {
        display: none;

        background: get-color('additional', 'ultra');
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
    }

    &__sublist {
        display: none;
    }

    &__button-arrow {
        padding: 8px 12px 8px 8px;

        font-size: inherit;

        background: none;
        border: 0;

        cursor: pointer;
    }
}

@include only-desktop() {
    .main-menu {
        &__item {
            &:hover {
                background: get-color('additional', 'base');
            }

            &[data-dropdown-trigger] {
                &:hover {
                    .messages-widget__dropdown-mode {
                        display: block;
                    }
                }
            }
        }
    }
}

@include breakpoint('desktop') {
    .main-menu {
        max-height: $main-menu-item-height;

        display: flex;

        &__view-parent {
            display: none;
        }

        &__item {
            min-height: $main-menu-item-height;
        }

        &__link {
            min-height: $main-menu-item-height;

            display: inline-block;
        }

        .mobile-version & {
            &__item {
                &.open {
                    background: get-color('additional', 'base');
                }
            }
        }
    }    
}

@include breakpoint('tablet') {
    .main-menu {
        font-weight: bold;

        &__categories {
            display: none;

            padding-top: 0;
            padding-bottom: 0;
        }

        &__item {
            position: relative;

            min-height: inherit;
            
            .messages-widget {
                &__title {
                    font-size: 13px;
                }
            }

            &--nested {
                padding-right: 15px;
                padding-left: 13px;
            }
        }

        &__item.expanded {
            .main-menu__link {
                position: relative;

                .fa-angle-down {
                    position: absolute;
                    top: 50%;
                    left: -2px;

                    margin: 0;
                    margin-top: -7px;

                    transform: rotate(90deg);
                }
            }
        }

        &__link {
            padding: 8px 0 7px 8px;

            font-size: 14px;
            font-weight: bold;
        }

        &__sublist-container {
            box-shadow: none;
        }

        &__button-arrow {
            display: none;
        }
    }
}

@include breakpoint('tablet-small') {
    .main-menu {
        &__item {
            .messages-widget {
                &__title {
                    display: none;
                }
            }

            .cart-widget__content {
                margin: 9px -5px 0 0;
            }

            &--nested {
                padding-right: 10px;
                padding-left: 10px;
            }
        }
    }
}
