{% if isDesktopVersion() %}
<div class="list-bar-wrapper" id="pinbar">
    <div class="list-bar">
        <ul></ul>
        <div class="pin-bar-empty" ><a href="{{ path('orob2b_account_pinbar_help') }}">{{ 'orob2b.account.menu.how_to_use_pinbar'|trans }}</a></div>
    </div>
    <div class="show-more dropdown"><a class="dropdown-toggle" data-toggle="dropdown"><i class="icon-ellipsis-vertical"></i></a><div class="dropdown-menu pull-right"><ul></ul></div></div>
    {{ oro_menu_render('frontend_pinbar') }}
</div>
{% endif %}
