.authorization-form {
    max-width: $authorization-form-width;
    margin: $authorization-form-offset-outer;
    padding: $authorization-form-offset-inner;

    background: $authorization-form-bg;
}
