<script type="text/template" id="order-notes-widget">
    <div class="notes-widget">
        <div class="notes-widget-preview"></div>
        <div class="notes-widget-edit"></div>
        <a class="notes-widget-edit-btn" href="javascript: void(0);"><%= _.__('orob2b.order.notes_widget.edit') %></a>
        <a class="notes-widget-add-btn" href="javascript: void(0);"><%= _.__('orob2b.order.notes_widget.add') %></a>
        <a class="notes-widget-remove-btn" href="javascript: void(0);"><%= _.__('orob2b.order.notes_widget.remove') %></a>
    </div>
</script>
