{% block __product_shopping_lists__shopping_lists_widget %}
    {% import '@OroFrontend/layouts/default/utils.html.twig' as utils %}
    {% set shoppingListsTemplate %}
        {% apply spaceless %}
            {{ block_widget(block) }}
        {% endapply %}
    {% endset %}

    {% set attr = layout_attr_defaults(attr, {
        'data-page-component-module': 'oroui/js/app/components/view-component',
        '~data-page-component-options': {
            view: 'oroshoppinglist/js/app/views/product-shopping-lists-view',
            modelAttr: {
                shopping_lists: productShoppingLists
            },
            template: utils.underscoreRaw('<%#' ~ shoppingListsTemplate ~ '#%>')
        },
        'data-product-shopping-lists': '',
        'data-layout': 'separate',
    }) %}
    <div {{ block('block_attributes') }}></div>
{% endblock %}
