// @theme: default;

.badge {
    margin-right: 5px;

    @include badge();

    &--dark {
        background-color: get-color('additional', 'darker');
    }

    &--offset-none {
        margin-right: 0;
    }
}

.badge-square {
    margin-right: 5px;

    @include badge($badge-size: 26px, $badge-f-size: 14px, $badge-radius: 3px);

    &--offset-none {
        margin-right: 0;
    }
}
