.collapse-view {
    &__trigger {
        display: inline-block;

        cursor: pointer;
        vertical-align: middle;

        color: get-color('ui', 'normal');

        &-icon {
            margin: -2px 5px 0 5px;

            font-size: 16px;

            transition: all 200ms linear;

            color: get-color('additional', 'dark');
        }

        &:focus,
        &:hover {
            text-decoration: none;
        }

        &.orange {
            color: get-color('primary', 'base');
        }
    }

    &__container {
        display: none;
    }

    // Open widget
    &.expanded {
        .collapse-view {
            &__trigger {
                &-icon {
                    transform: rotate(90deg);
                }
            }

            &__container {
                display: block;
            }
        }
    }
}
