.collapse-view {
  &__trigger {
    display: inline-block;
    vertical-align: middle;

    color: get-color('ui', 'normal');

    cursor: pointer;

    &-icon {
      margin-top: -2px;
      
      font-size: 16px;

      color: get-color('additional', 'dark');
      
      transition: all 200ms linear;
    }

    &:focus,
    &:hover {
      text-decoration: none;
    }

    &.orange {
      color: get-color('primary', 'base');
    }
  }

  &__container {
    display: none;
  }

  // Init widget
  &.init {}

  // Open widget
  &.expanded {
    .collapse-view {
      &__trigger {
        &-icon {
          transform: rotate(90deg);
        }
      }

      &__container {
        display: block;
      }
    }
  }
}
