.embedded-list {
    position: relative;

    &__label {
        position: relative;

        margin-top: 52px;

        line-height: 20px;

        text-align: center;

        &::before {
            position: absolute;
            z-index: z('base');
            top: 50%;
            right: 0;
            left: 0;

            height: 1px;

            content: '';

            background: get-color('additional', 'light');
        }
    }

    &__label-inner {
        position: relative;
        z-index: 2;

        display: inline-block;

        padding: 0 16px;

        font-size: 18px;

        vertical-align: top;
        text-transform: uppercase;

        background: get-color('additional', 'ultra');
    }

    &__container--tiles {
        display: flex;

        font-size: 0;

        flex-wrap: wrap;

        & .embedded-list__item {
            display: inline-block;

            font-size: $base-font-size;
        }
    }

    &__container--slider {
        // Hide content before slick slider is united
        overflow: hidden;

        margin: 0 0 0 -26px;

        font-size: 0;

        white-space: nowrap;

        & .embedded-list__item {
            display: inline-block;

            font-size: $base-font-size;

            vertical-align: top;
            white-space: normal;
        }

        &::before {
            position: absolute;
            z-index: z('base') + 1;
            left: -16px;

            display: none;

            width: 40px;
            height: 100%;

            content: '';

            background: get-color('additional', 'ultra');
        }

        &.slick-initialized {
            // Show content after slick slider is inited
            overflow: visible;

            &::before {
                display: block;
            }
        }

        & .slick-arrow {
            position: absolute;
            z-index: z('base') + 3;
            top: 35%;

            overflow: hidden;

            width: 36px;
            height: 100px;

            text-indent: -9999px;

            color: get-color('additional', 'dark');
            border: 0;
            background: get-color('additional', 'light');
            cursor: pointer;

            transition: all .3s;

            &::before {
                position: absolute;
                top: 50%;
                left: 50%;

                width: 12px;
                height: 12px;
                display: block;

                border-top: 2px solid lighten(get-color('additional', 'dark'), 16.5%);

                content: '';
            }

            &:not(.slick-disabled):hover {
                background: darken(get-color('additional', 'light'), 5%);
            }
        }

        & .slick-prev {
            left: -16px;

            &::before {
                margin-left: 3px;

                border-left: 2px solid lighten(get-color('additional', 'dark'), 16.5%);

                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }

        & .slick-next {
            right: -42px;

            &::before {
                margin-left: -3px;

                border-right: 2px solid lighten(get-color('additional', 'dark'), 16.5%);

                transform: translate(-50%, -50%) rotate(45deg);
            }
        }

        & .slick-disabled {
            cursor: default;

            opacity: .5;
        }

        & .slick-dots {
            position: absolute;
            bottom: 0;

            display: flex;

            width: 100%;
            margin: 0 auto 20px;

            @include list-normalize();
            justify-content: center;
        }

        & .slick-dots li button {
            display: block;

            width: 10px;
            height: 10px;
            margin-left: 8px;
            padding: 0;

            font-size: 0;

            border: 1px solid get-color('additional', 'ultra');
            border-radius: 5px;
            background: transparent;
        }

        & .slick-dots li:first-child button {
            margin-left: 0;
        }

        & .slick-dots .slick-active button {
            background: get-color('additional', 'ultra');
        }
    }
}

@include breakpoint('mobile') {
    .embedded-list {
        &__label {
            margin: 0;
            margin-top: 20px;
        }

        &__label-inner {
            font-size: $base-font-size;
        }
    }
}
