// original component package/platform/src/Oro/Bundle/UIBundle/Resources/public/blank/scss/components/grid.scss

.grid {
    &--fooset-m {
        margin-bottom: $offset-x-m;
    }

    &__row--offset-l {
        margin-bottom: 20px;
    }

    &__column {
        &--offset {
            &-y {
                margin-bottom: $offset-y;
            }
        }

        .select {
            width: 100%;
        }
    }

    &__group-column {
        padding-left: $offset-x;
    }
}

@include breakpoint('tablet') {
    .grid__column--2 {
        width: 50%;
    }
}

@include breakpoint('mobile-portrait') {
    .grid {
        @for $i from 1 through $grid-count {
            &__column--#{$i} {
                width: 100%;
            }
        }
    }
}
