// @theme: default

.grid-header-cell {
    &.sortable {
        .caret {
            display: none;
            margin: $grid-header-cell-caret-offset;
            
            border-top: $grid-header-cell-caret-size solid $grid-header-cell-caret-color;
            border-right: $grid-header-cell-caret-size solid transparent;
            border-left: $grid-header-cell-caret-size solid transparent;
            vertical-align: middle;

            transition: all .2s;
        }
    }

    &.descending,
    &.ascending {
        .caret {
            display: inline-block;
        }
    }
    
    &.descending {
        .caret {
            transform: rotate(180deg);
        }
    }
}

@include breakpoint('tablet') {
    .with-floating-header {
        .grid-header-cell {
            .caret {
                margin-top: $offset-y-s;
            }
        }
    }
}
