// theme: default;

.inline-view-editor {
    margin-bottom: $offset-y-m;


    &__input-wrap {
        display: inline-block;

        width: 45%;
    }

    &__btn-wrap {
        display: inline-block;

        margin-left: $offset-y-m;
    }

    .btn {
        min-width: 80px;
    }
}
