.notification-alert {
    margin: 0;
    padding: $notification-alert-inner-offset;
    
    border: $notification-alert-border;

    &:not(:first-child) {
        margin: $notification-alert-offset;
    }
}
