.primary-menu-container {
    margin-top: 35px;
    padding: $primary-menu-inner-offset;

    background: $primary-menu-background;
    border-radius: 3px;
}

.primary-menu {
    &__title {
        position: relative;

        margin-bottom: 9px;

        font-size: $primary-menu-title-size;
        font-weight: 400;
        text-transform: uppercase;
    }

    &__item {
        position: relative;

        padding: $primary-menu-item-inner-offset;

        &--current {
            &:before {
                top: 10px;
                left: 0;

                width: 7px;
                height: 7px;

                border-radius: 50%;
                background: get-color('primary', 'base');

                @include after();
            }
        }
    }

    &__badge {
        i {
            vertical-align: middle;
        }
    }
}

@include breakpoint('desktop') {
    .primary-menu-container {
        .icon-minus,
        .icon-plus {
            opacity: 0;
        }
    }
}

@include breakpoint('tablet') {
    .primary-menu-container {
        padding: 0 10px;

        .icon-minus,
        .icon-plus {
            position: absolute;
            right: 10px;
            top: 15px;

            font-size: 12px;
        }

        .icon-minus {
            opacity: 0;
        }

        .expanded {
            .icon-plus {
                opacity: 0;

            }

            .icon-minus {
                opacity: 1;
            }
        }
    }
}

@include breakpoint('tablet-small') {
    .primary-menu-container {
        margin: 35px -15px 0;

        border-top: 1px solid get-color('additional', 'light');
        border-bottom: 1px solid get-color('additional', 'light');
    }

    .primary-menu {
        &__title {
            padding: 15px 0;
            margin: 0;

            font-size: $base-font-size;
        }

        &__list {
            padding-left: 13px;
            padding-right: 13px;
        }

        &__item {
            padding: 13px 0;
            margin: 0;

            border-top: 1px solid get-color('additional', 'light');

            &--current {
                &:before {
                    content: none;
                }

                .primary-menu__link {
                    color: inherit;
                }
            }
        }

        .icon-minus,
        .icon-plus {
            right: 13px;
            top: 15px;
        }
    }
}
