$sidebar-width: 255px !default;

.sidebar {
    width: $sidebar-width;

    &--left {
        padding-right: 30px;

        order: 1;
        flex: none;
    }

    &--right {
        width: sidebar-width - 40px;
        padding-left: 30px;

        order: 2;
    }
}

@include breakpoint('tablet-small') {
    .sidebar {
        width: 100%;
        padding: 0;
    }
}
