/* @theme: custom; */

$sidebar-menu-background: get-color('additional', 'base') !default;

$sidebar-menu-link-color: get-color('additional', 'dark') !default;

$sidebar-menu-collapsible-background-color: get-color('additional', 'base');

$main-menu-actions-display: inline-grid;

$main-menu-link-inner-offset: $offset-y-m 0;
$main-menu-link-text-align: null;

$main-menu-sublist-floated-position: null;
$main-menu-sublist-floated-top: null;
$main-menu-sublist-floated-left: null;
$main-menu-sublist-floated-right: null;

$main-menu-sublist-position: null;
$main-menu-sublist-z-index: null;
$main-menu-sublist-top: null;
$main-menu-sublist-right: null;
$main-menu-sublist-left: null;

$main-menu-sublist-container-floated-position: null;
$main-menu-sublist-container-floated-right: null;

$main-menu-sublist-container-d-border: null;
$main-menu-sublist-container-background: null;
$main-menu-sublist-container-shadow: null;
$main-menu-sublist-container-centered-left: null;
$main-menu-sublist-container-centered-translate: null;
$main-menu-sublist-container-centered-translate-rtl: null;

$main-menu-sublist-fullheight-box-shadow: null;

$main-menu-outer-container-desktop-display: null;
$main-menu-outer-container-desktop-justify-content: null;

$main-menu-outer-desktop-display: null;
// Tablet

$main-menu-tablet-border: 1px solid get-color('additional', 'light') !default;
