/* @theme: custom; */

$main-menu-column-offset: 0 0 15px 0 !default;
$main-menu-column-offset-inner: spacing('base') 0 0 !default;
$main-menu-column-border: 1px solid get-color('additional-old', 'light') !default;
$main-menu-column-border-top: $main-menu-column-border !default;

$main-menu-column-position: null;
$main-menu-column-min-width: null;

$main-menu-column-splited-min-width: null;
$main-menu-column-splited-white-space: null;

$main-menu-column-splited-inner-left-float: null;
$main-menu-column-splited-inner-left-width: null;
$main-menu-column-splited-inner-left-offset-bottom: 15px !default;

$main-menu-column-inner-offset-bottom: 5px !default;
