/* @theme: custom; */

$main-menu-column-offset: 0 0 15px 0 !default;
$main-menu-column-offset-inner: $offset-y 0 0 !default;
$main-menu-column-border: 1px solid get-color('additional', 'light') !default;
$main-menu-column-border-top: $main-menu-column-border !default;
$main-menu-column-offset-inner-left: null;
$main-menu-column-offset-inner-right: null;
$main-menu-column-last-child-offset-inner-right: null;

$main-menu-column-position: null;
$main-menu-column-min-width: null;

$main-menu-column-before-position: null;
$main-menu-column-before-top: null;
$main-menu-column-before-bottom: null;
$main-menu-column-before-left: null;
$main-menu-column-before-display: null;
$main-menu-column-before-width: null;
$main-menu-column-before-content: null;
$main-menu-column-before-border-left: null;
$main-menu-column-first-child-before-display: null;

$main-menu-column-splited-min-width: null;
$main-menu-column-splited-white-space: null;

$main-menu-column-splited-inner-left-float: null;
$main-menu-column-splited-inner-left-width: null;
$main-menu-column-splited-inner-left-offset-bottom: 15px !default;

$main-menu-column-title-offset-bottom: 14px;

$main-menu-column-inner-offset-bottom: 5px !default;
