@include breakpoint('mobile') {
    .order-summary {
        padding: 0 10px !important;

        &__table,
        &__table-row,
        &__price {
            display: block;
        }

        &__table-row {
            white-space: nowrap;
        }

        &__product,
        &__qty {
            display: inline-block;

            white-space: normal;

            border-bottom: none !important;
        }

        &__product {
            width: 75%;
        }

        &__qty {
            width: 25%;
        }

        &__product,
        &__qty,
        &__price {
            border-top: none !important;
        }

        &__price-inner {
            max-width: 100% !important;
            margin-left: 0;
        }
    }
}
