{% macro renderProductImages(productImages, imageTypes) %}
    {% import '@OroUI/macros.html.twig' as UI %}
    <div class="image-collection view">
        <table class="grid grid-main-container table table-bordered">
            <thead>
                <tr>
                    <th>{{ 'oro.product.productimage.file.label'|trans }}</th>
                    {% for imageType in imageTypes %}
                        <th>{{ imageType.label|trans }}</th>
                    {% endfor %}
                </tr>
            </thead>

            <tbody>
                {% for productImage in productImages %}
                    <tr>
                        <td>
                            <span {% if productImage.image.uuid is not null %}data-ie-preview="{{ file_url(productImage.image) }}"{% endif %}>
                                {{ oro_file_view(productImage.image, {'galleryId' : 'images'} ) }}
                            </span>
                        </td>

                        {% for imageType in imageTypes %}
                            <td>
                                {% if productImage.hasType(imageType.name) %}
                                    <i class="fa-check-square-o"></i>
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endmacro %}
