{% block currency_switcher_widget %}
    <div class="currency" data-topbar-dropdown-trigger>
        <span>$</span>
        <i class="icon-down-open-mini"></i>

        <div class="topbar__dropdown" data-topbar-dropdown>
            <ul class="topbar__dropdown__list">
                <li><a href="#"><strong class="mmr3-md">&dollar;</strong> US Dollar</a></li>
                <li><a href="#"><strong class="mmr3-md">&euro;</strong> Euro</a></li>
                <li><a href="#"><strong class="mmr3-md">&pound;</strong> British Pound</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
