/* @theme: admin.oro; */

$product-kit-item-placeholder-background: $primary-860 !default;
$product-kit-item-placeholder-min-height: 130px !default;
$product-kit-item-placeholder-border: 2px dashed $primary-700 !default;
$product-kit-item-placeholder-offset-bottom: $content-padding-small !default;
$product-kit-item-placeholder-padding: 20px !default;
$product-kit-item-placeholder-border-radius: $border-radius !default;
$product-kit-item-placeholder-font-size: 24px !default;
$product-kit-item-placeholder-text-align: center !default;
$product-kit-item-placeholder-color: $primary-600 !default;

$product-kit-item-sortable-helper-box-shadow: 0 0 9px 3px rgba(0 0 0 / 8%) !default;
