/* @theme: admin.oro; */

$product-kit-view-breakpoint: 1300px !default;
$product-kit-view-input-width: 160px !default;
$product-kit-view-info-inner-offset: 14px !default;
$product-kit-view-info-collapse-transition: height 250ms ease-in-out, opacity 250ms ease-in-out !default;
