{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <div class="notification--error">
            <ul class="notification__list">
                {%- for error in errors -%}
                    <li class="notification__item">
                        <i class="cf-attention"></i>
                        <span class="notification__text">{{ error.message|trans }}</span>
                    </li>
                {%- endfor -%}
            </ul>
        </div>
    {%- endif -%}
{%- endblock form_errors -%}
