<div class="grid-sidebar-header text-right">
    {% block header %}
        <div class="grid-sidebar-minimized grid-sidebar-controls">
            <i class="icon-forward control-maximize"></i>
        </div>
        <div class="grid-sidebar-maximized grid-sidebar-controls">
            <i class="icon-backward control-minimize"></i>
        </div>
    {% endblock header %}
</div>
<div class="grid-sidebar-content grid-sidebar-maximized">
    {% block content %}
    {% endblock content %}
</div>
