.rfq-widget_block {
  margin: 1.5rem 0 0;
}

.line_item .rfp-lineitem-remove {
  min-width: 3rem;
  text-align: center;
}

.edit-frq__form {
  tbody.line_item td.comment {
    padding: 0;
  }

  .rfp-lineitem-requested-remove{
    min-width: 2rem;
  }
}

.rfp-lineitem-product {
  min-width: 330px;
}
