// @theme: default

.shopping-lists {
    &__content {
        position: $shopping-lists-content-position;
        display: $shopping-lists-content-display;
        justify-content: $shopping-lists-content-justify-content;
        align-items: $shopping-lists-content-align-items;

        padding: $shopping-lists-content-inner-offset;

        width: $shopping-lists-content-width;
        height: $shopping-lists-content-height;
        min-height: $shopping-lists-content-min-height;

        font-size: $shopping-lists-content-font-size;

        color: $shopping-lists-content-color;
        background: $shopping-lists-content-background;
        border-radius: $shopping-lists-content-border-radius;
    }

    &__text {
        display: $shopping-lists-text-display;

        padding: $shopping-lists-text-offset;

        text-align: $shopping-lists-text-text-align;
        justify-content: $shopping-lists-text-justify-content;
        word-break: $shopping-lists-text-word-break;
    }


    &__cart {
        &:before {
            font-size: $shopping-lists-cart-font-size;
        }

        opacity: $shopping-lists-icons-opacity;

        @include fa-icon($shopping-lists-cart-icon);
    }

    &__edit {
        position: $shopping-lists-edit-position;

        right: $shopping-lists-edit-right;

        font-size: $shopping-lists-edit-font-size;

        opacity: $shopping-lists-icons-opacity;

        @include fa-icon($shopping-lists-edit-icon);
    }

    &__label {
      margin-right: $shopping-lists-text-label-margin-right;
    }

    &__area-trigger {
        display: $shopping-lists-text-area-trigger-display;
        position: $shopping-lists-text-area-trigger-position;

        width: $shopping-lists-text-area-trigger-width;
        height: $shopping-lists-text-area-trigger-height;
        left: $shopping-lists-text-area-trigger-left;
        top: $shopping-lists-text-area-trigger-top;

        cursor: $shopping-lists-text-area-trigger-cursor;
    }
}
