/* @theme: custom; */

.sidebar__quick-access {
    margin-top: 3px;

    background: $sidebar-quick-access-background;

    &:first-child {
        margin-top: 0;
    }

    .quick-access__list {
        padding: 25px 15px 10px 30px;

        text-align: left;
    }

    .quick-access__item {
        display: block;

        margin: 0 0 17px;

        text-transform: uppercase;
    }

    .quick-access__link {
        font-weight: font-weight('bold');
    }

    .quick-access__badge {
        $badge-sm: 26px;

        width: $badge-sm;
        height: $badge-sm;
        margin-right: 15px;

        font-size: $base-font-size;
        line-height: $badge-sm;

        i {
            font-size: 16px;
        }
    }
}

@include breakpoint('tablet') {
    .sidebar__quick-access {
        display: none;
    }
}
