/* @theme: default; */

.quick-order-add {
  &__unit {
    .select {
        color: $select-color;
        height: 40px;
        line-height: 1;
    }
  }

  &__subtotal {
    width: $quick-order-add-subtotal-width;
  }

  &__subtotal,
  &__subtotal-input {
    text-align: center;

    &.input {
      opacity: 1;
      padding-right: $quick-order-add-input-offset;
    }
  }

  .product-tier-prices {
    display: none;

    position: absolute;
    left: auto;
    bottom: 0;
    right: 7px;
  }
}
