{% import 'OroUIBundle::macros.html.twig' as UI %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ UI.renderProperty('orob2b.account.accountuserrole.label.label'|trans, entity.label) }}
            {{ UI.renderProperty('orob2b.account.accountuserrole.account.label'|trans, entity.account) }}
        </div>
    </div>
</div>
