{% import 'OroB2BShoppingListBundle:ShoppingList/Frontend:buttons.html.twig' as buttons %}

{% set buttonOptions = {
    dataUrl: false,
    dataAttributes: {}
} %}

{% set buttonsOptions = {
    new: buttonOptions,
    current: buttonOptions,
    existing: buttonOptions,
    shoppingLists: actionData.shoppingLists,
    componentModule: params.buttonOptions.page_component_module|default('orob2bshoppinglist/js/app/views/product-quick-add-to-shopping-list-view'),
    componentOptions: {
        'quickAddComponentPrefix': 'quick-add'
    }|merge(params.buttonOptions.page_component_options|default({}))
} %}

<div class="widget-content btn-group">
    <div class="mass-action-controls">
        {% import 'OroUIBundle::macros.html.twig' as UI %}
        {{ UI.pinnedDropdownButton({
            'html': buttons.getButtonsHtml(buttonsOptions),
            'dataAttributes': {
                'layout': 'separate'
            },
            'options': {
                'widgetModule': 'orob2bproduct/js/content-processor/product-add-to-dropdown-button',
                'widgetName': 'productAddToDropdownButtonProcessor',
                'truncateLength': 25
            }
        }) }}
    </div>
</div>
