{% import 'OroB2BShoppingListBundle:ShoppingList/Frontend:buttons.html.twig' as buttons %}

{% set commonOptions = {
    dataUrl: false,
    dataAttributes: {}
} %}

{% set options = {
    new: commonOptions,
    current: commonOptions,
    existing: commonOptions,
    shoppingLists: actionData.params.shoppingLists,
    currentShoppingList: actionData.params.currentShoppingList
} %}

{% set pageComponentOptions = {
    quickAddComponentPrefix: actionData.quickAddComponentPrefix
} %}

<div class="mass-action-controls btn-group"
     data-page-component-module="orob2bshoppinglist/js/app/components/quick-add-button-component"
     data-page-component-options="{{ pageComponentOptions|json_encode }}">
    {{ buttons.createAddToShoppingListButton(options) }}
</div>
