@include breakpoint('mobile') {
    .order-header {
        padding-left: 60px;
        padding-right: 60px;

        &__icon {
            left: 10px;
        }

        &__edit {
            right: 10px;

            width: 40px;
        }
    }
}
