/* @theme: default; */

.request-form-link {
    font-size: 15px;

    text-decoration: underline;

    color: $request-form-link-color;

    &:hover {
        color: $request-form-link-color-hover;
    }
}
