<div class="one-column-testimonials">
    <blockquote>
        <div class="grid grid-columns-1 grid-row-gap-8">
            <p class="h2-italic">Are you one of the thousands of Iphone owners who has no idea that they can get free games for their Iphone? It’s pretty cool to download things from Itunes, but with a little research you can find thousands of other places to download from -check out our tips below to help you find out where.</p>
            <footer>
                <h5>Marguerite Fox</h5>
                <p class="extra-text">Position at Company Name</p>
            </footer>
        </div>
    </blockquote>
</div>
