<div class="one-column-text-and-images-testimonials">
    <div class="grid">
        <div class="grid-col-4 grid-col-tablet-12 grid grid-columns-1 grid-row-gap-8">
            <h2>Companies all over the world use Oro products</h2>
            <p>HDMI, or high definition multimedia interface, is a type of audio and video interface that is used for the transmission of uncompressed digital streams. Essentially, HDMI can be considered an alternative method to transmitting data streams, rather than making use of conventional methods such as coaxial cabling, VGA, or component video equipment</p>
        </div>
        <div class="grid-col-12 grid grid-place-content-start-center images-grid">
            <div class="grid-col">
                <div class="picture__wrapper">
                    <picture>
                        <source media="(max-width: 640px)" srcset="/img/no_image-200--offsets.svg" type="image/svg+xml">
                        <img src="/img/no_image-200--offsets.svg" class="full-cover cover-img rounded" alt="No Image">
                    </picture>
                </div>
            </div>
            <div class="grid-col">
                <div class="picture__wrapper">
                    <picture>
                        <source media="(max-width: 640px)" srcset="/img/no_image-200--offsets.svg" type="image/svg+xml">
                        <img src="/img/no_image-200--offsets.svg" class="full-cover cover-img rounded" alt="No Image">
                    </picture>
                </div>
            </div>
            <div class="grid-col">
                <div class="picture__wrapper">
                    <picture>
                        <source media="(max-width: 640px)" srcset="/img/no_image-200--offsets.svg" type="image/svg+xml">
                        <img src="/img/no_image-200--offsets.svg" class="full-cover cover-img rounded" alt="No Image">
                    </picture>
                </div>
            </div>
            <div class="grid-col">
                <div class="picture__wrapper">
                    <picture>
                        <source media="(max-width: 640px)" srcset="/img/no_image-200--offsets.svg" type="image/svg+xml">
                        <img src="/img/no_image-200--offsets.svg" class="full-cover cover-img rounded" alt="No Image">
                    </picture>
                </div>
            </div>
            <div class="grid-col">
                <div class="picture__wrapper">
                    <picture>
                        <source media="(max-width: 640px)" srcset="/img/no_image-200--offsets.svg" type="image/svg+xml">
                        <img src="/img/no_image-200--offsets.svg" class="full-cover cover-img rounded" alt="No Image">
                    </picture>
                </div>
            </div>
            <div class="grid-col">
                <div class="picture__wrapper">
                    <picture>
                        <source media="(max-width: 640px)" srcset="/img/no_image-200--offsets.svg" type="image/svg+xml">
                        <img src="/img/no_image-200--offsets.svg" class="full-cover cover-img rounded" alt="No Image">
                    </picture>
                </div>
            </div>
            <div class="grid-col">
                <div class="picture__wrapper">
                    <picture>
                        <source media="(max-width: 640px)" srcset="/img/no_image-200--offsets.svg" type="image/svg+xml">
                        <img src="/img/no_image-200--offsets.svg" class="full-cover cover-img rounded" alt="No Image">
                    </picture>
                </div>
            </div>
            <div class="grid-col">
                <div class="picture__wrapper">
                    <picture>
                        <source media="(max-width: 640px)" srcset="/img/no_image-200--offsets.svg" type="image/svg+xml">
                        <img src="/img/no_image-200--offsets.svg" class="full-cover cover-img rounded" alt="No Image">
                    </picture>
                </div>
            </div>
            <div class="grid-col">
                <div class="picture__wrapper">
                    <picture>
                        <source media="(max-width: 640px)" srcset="/img/no_image-200--offsets.svg" type="image/svg+xml">
                        <img src="/img/no_image-200--offsets.svg" class="full-cover cover-img rounded" alt="No Image">
                    </picture>
                </div>
            </div>
            <div class="grid-col">
                <div class="picture__wrapper">
                    <picture>
                        <source media="(max-width: 640px)" srcset="/img/no_image-200--offsets.svg" type="image/svg+xml">
                        <img src="/img/no_image-200--offsets.svg" class="full-cover cover-img rounded" alt="No Image">
                    </picture>
                </div>
            </div>
            <div class="grid-col">
                <div class="picture__wrapper">
                    <picture>
                        <source media="(max-width: 640px)" srcset="/img/no_image-200--offsets.svg" type="image/svg+xml">
                        <img src="/img/no_image-200--offsets.svg" class="full-cover cover-img rounded" alt="No Image">
                    </picture>
                </div>
            </div>
            <div class="grid-col">
                <div class="picture__wrapper">
                    <picture>
                        <source media="(max-width: 640px)" srcset="/img/no_image-200--offsets.svg" type="image/svg+xml">
                        <img src="/img/no_image-200--offsets.svg" class="full-cover cover-img rounded" alt="No Image">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</div>
