{% set websites = form.priceListsByWebsites.vars.websites %}
<div class="responsive-cell">
    <div class="oro-tabs" id="categoryVisibilityTabs">
        <ul class="nav nav-tabs">
            {% for website in websites %}
                <li {% if website.id == websites|first.id %} class="active" {% endif %}>
                    <a href="#website{{ website.id }}" data-toggle="tab">
                        {{ website.name|trans }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        <div class="tab-content" id="containerAlias">
            {% for website in websites %}
                <div class="tab-pane{% if website.id == websites|first.id %} active{% endif %}" id="website{{ website.id }}"><br>
                    {{ form_row(form.priceListsByWebsites[website.id]) }}
                </div>
            {% endfor %}
        </div>
    </div>
</div>