{% block _top_selling_products_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' top-selling-products'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _top_selling_products_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~data-page-component-options': {
            autoplaySpeed: 4000,
        }
    }) %}

    {{ block_widget(block, {
        attr: attr
    }) }}
{% endblock %}

{% block _top_selling_product_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' top-selling-product'
    }) %}

    0

{% endblock %}
