/* @theme: blank; */

.consent-list {
    &:not(:last-child) {
        margin: $consent-list-offset;
    }

    &__item {
        position: $consent-list-item-position;
        margin: $consent-list-item-offset;
        padding: $consent-list-item-inner-offset;
        word-break: $consent-list-item-word-break;
    }

    &__status {
        position: $consent-list-status-position;
        left: $consent-list-status-left;

        &--enabled {
            @include fa-icon($consent-list-status-enabled);

            color: $consent-list-status-enabled-color;
        }

        &--disabled {
            @include fa-icon($consent-list-status-disabled);

            color: $consent-list-status-disabled-color;
        }
    }
}
