<script type="text/html" id="order-taxes-totals-template">
    <div class="control-group">
        <label class="control-label"><%= item.label %></label>
        <div class="controls">
            <label class="control-label" data-toggle="collapse" data-target="#order-taxes-totals-table">
                <%= item.formattedAmount %>
            </label>
        </div>
    </div>
    <% var collapseIn = _.defaults(item.data.in, true); %>
    <div class="collapse<%= collapseIn ? ' in' : '' %>" id="order-taxes-totals-table">
        <div class="controls">
            {% import 'OroTaxBundle::macros.html.twig' as TAX %}
            <% var total = item.data.total %>
            {{ TAX.renderJsItems() }}
            <% var taxes = item.data.taxes %>
            {{ TAX.renderJsTaxes() }}
        </div>
    </div>
</script>
