{% block _footer_menu_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' grid__row'
    }) %}

    <div class="grid">
        <div {{ block('block_attributes') }}>
            {{ block_widget(block) }}
        </div>
    </div>

{% endblock %}


{% block _footer_menu_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' primary-menu primary-menu--vertical'
    }) %}
    {% set child_attr = layout_attr_defaults(child_attr, {
        '~class': ' primary-menu__item'
    }) %}
    {% set link_attr = layout_attr_defaults(link_attr, {
        '~class': 'link'
    }) %}

    {% spaceless %}
        {% for child in item.children %}
            {% if child.extras.isAllowed %}
                <div class="grid__column">
                    <h3 class="title">{{ child.label }}</h3>
                    {% set item = child %}
                    {{ block('menu_widget') }}
                </div>
            {% endif %}
        {% endfor %}
    {% endspaceless %}
{% endblock %}
