{% block _quick_access_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " quick-access-container"
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _quick_access_menu_widget %}
    <ul class="primary-menu">
        {% for children in item.children %}
            <li class="primary-menu__item primary-menu__item--offset-m">
                <a class="link" href="{{ children.uri }}">{{ children.label }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
