.header--custom {
    &:after {
        content: '';
        position: absolute;
        left: 15px;
        right: 15px;
        bottom: 0;

        max-width: 1370px;
        height: 1px;
        margin: 0 auto;

        background: get-color('additional', 'light');
    }
}

@include breakpoint('tablet') {
    .page-header {
        .middlebar {
            &__right {
                display: block;
                width: 100%;
                margin: 0;
            }

            &__left {
                float: left;
                margin-left: -100%;
            }

            .header-row {
                padding: 53px 0 10px;
            }
        }
    }
}
