.main-menu-outer {
    .main-menu-outer__trigger {
        display: none;
    }
}

@include breakpoint('tablet') {
    .main-menu-outer {
        margin-bottom: 10px;
        padding: 12px 0 10px 0;

        border-bottom: 1px solid get-color('additional', 'light');

        .main-menu-outer__trigger {
            font-size: 14px;
            font-weight: bold;

            display: block;

            padding: 10px 15px;
        }

        &__badge {
            margin-right: 5px;
        }

        &__text {
            vertical-align: bottom;
        }
    }
}
