/* @theme: blank; */

$embedded-products-item-count-desktop: 4 !default;
$embedded-products-slider-arrow-top: 23% !default;

// tablet-small
$embedded-products-item-width-count-tablet-small: 3 !default;

// mobile-landscape
$embedded-products-item-count-mobile-landscape: 2 !default;

// mobile
$embedded-products-item-count-mobile: 1 !default;
