// @theme: blank

$product-view-attribute-image-width: 100% !default;
$product-view-attribute-image-max-height: 77px !default;
$product-view-attribute-image-border: 1px solid #ebebeb !default;
$product-view-attribute-image-transition: border-color .5s !default;
