/* @theme: blank; */

$product-view-aside-state: left !default;
$product-view-aside-width: 415px !default;
$product-view-aside-offset-bottom: $offset-y !default;
$product-view-aside-offset-y: 35px !default;
$product-view-aside-inner-offset: 0 $product-view-aside-offset-y 0 0 !default;
$product-view-aside-tablet-inner-offset: 0 !default;

$product-view-primary-state: right !default;
$product-view-primary-width: calc(100% - #{$product-view-aside-width}) !default;

$product-view-main-state: right !default;
$product-view-main-width: calc(100% - #{$product-view-aside-width}) !default;
$product-view-main-offset-bottom: $offset-y !default;

$product-view-content-inner-offset: 15px 0 0 0 !default;

$product-view-specification-width: 50% !default;

$product-view-specification-inner-offset: 0 20px 0 0 !default;

$product-view-description-width: 50% !default;
$product-view-description-first-child-width: 100% !default;
$product-view-description-inner-offset: 0 !default;
$product-view-description-first-child-inner-offset: 0 !default;

$product-view-description-tablet-inner-offset: 0 !default;

$product-view-additional-state: left !default;
$product-view-additional-width: 100% !default;

$product-view-related-items-state: left !default;
$product-view-related-items-width: 100% !default;
$product-view-related-items-product-price-width: 100% !default;
$product-view-related-list-offset: 0 $embedded-list-slider-btn-arrow-width !default;

// Tablet

$product-view-aside-tablet-width: 100% !default;

$product-view-primary-tablet-state: left !default;
$product-view-primary-tablet-width: 100% !default;

$product-view-main-tablet-width: 100% !default;

$product-view-tablet-specification-width: 100% !default;

$product-view-description-tablet-width: 100% !default;
