/* @theme: blank; */

$product-view-attributes-box-inner-offset: 15px 15px 15px 0 !default;
$product-view-attributes-box-inner-offset-start: 15px !default;
$product-view-attributes-box-offset-right: -15px !default;
$product-view-attributes-box-title-offset-bottom: $offset-y !default;
$product-view-attributes-box-title-text-transform: uppercase !default;

$product-view-attributes-box-related-items-display: flex !default;
$product-view-attributes-box-related-items-columns: auto !default;
$product-view-attributes-box-embedded-products-width: 50% !default;

$product-view-attributes-box-embedded-products-offset: 20px !default;

$product-view-attributes-box-tablet-related-items-display: block !default;
