// @theme: blank

// Base styles
$product-block-offset-bottom: $offset-y !default;
$product-gallery-container-width: 380px !default;
$product-gallery-container-offset-bottom: $offset-y !default;
$product-main-data-first-block-width: 205px !default;
$product-main-data-second-block-left-offset: $offset-x !default;
