// @theme: blank;

$product-gallery-container-position: relative !default;
$product-gallery-container-float: left !default;
$product-gallery-container-width: 380px !default;
$product-gallery-container-margin-bottom: 20px !default;

// Tablet
$product-gallery-container-tablet-float: none !default;
$product-gallery-container-tablet-offset: auto !default;
$product-gallery-container-tablet-width: 100% !default;
$product-gallery-container-tablet-max-width: 380px !default;
