// @theme: blank

$product-view-quantity-display: flex !default;
$product-view-quantity-margin-bottom: 20px !default;

$product-view-quantity-unit-width: 70% !default;
$product-view-quantity-unit-margin-right: 5px !default;

$product-view-quantity-value-width: 30% !default;

$product-view-quantity-value-input-offset: 0 !default;
$product-view-quantity-value-input-inner-offset: 11px 8px !default;
$product-view-quantity-value-input-text-align: center !default;
