/* @theme: default; */

$product-item-gallery-view-offset-x: $offset-x-m !default;
$product-item-gallery-view-offset-bottom: 30px !default;
$product-item-qty-height: 115px !default;

$product-item-title-gallery-view-font-size: 15px !default;
$product-item-title-gallery-view-line-height: 1.35 !default;

$product-item-image-holder-list-view-max-width: 316px !default;

$product-item-image-holder-tiny-width: 40px !default;
$product-item-image-holder-tiny-height: $product-item-image-holder-tiny-width !default;
$product-item-image-holder-tiny-border: 1px solid get-color('additional', 'light') !default;
$product-item-sku-value-color: get-color('primary', 'dark') !default;

$product-item-view-product-color: null !default;

// tablet-small
$product-item-gallery-view-offset-x-tablet-small: 12px !default;

// mobile-landscape
$product-item-gallery-view-offset-x-mobile-landscape: $offset-x-s !default;
