// @theme: blank

$product-view-attribute-images-item-inner-offset: 0 4px !default;
$product-view-attribute-images-item-height: 77px !default;
$product-view-attribute-images-item-width: 85px !default;
$product-view-attribute-images-item-margin-bottom: 8px !default;
