// @theme: blank;

$product-view-main-image-offset-bottom: $offset-y !default;
$product-view-gallery-item-offset-inner: 3px !default;
$product-view-gallery-item-active-border-color: get-color('additional', 'light') !default;
$product-view-gallery-item-active-border-width: 1px !default;
