$product-popup-header-height: 100% !default;
$product-popup-header-display: inline-flex !default;
$product-popup-header-align-items: center !default;
$fullscreen-product-popup-header-offset: 30px 0 !default;

$product-popup-header-img-display: block !default;
$product-popup-header-img-width: 60px !default;
$product-popup-header-img-height: 60px !default;
$product-popup-header-img-offset: 0 10px 0 0 !default;
$product-popup-header-img-border: 1px solid get-color('additional', 'base');
