<script type="text/html" id="tax-item-row-excludingTax">
    <span><%= value %></span>
</script>
<script type="text/html" id="tax-item-row-includingTax">
    <span><%= value %></span>
</script>
<script type="text/html" id="tax-item-row-taxAmount">
    <span><%= value %></span>
</script>
<script type="text/html" id="tax-item-unit-excludingTax">
    <span><%= value %></span>
</script>
<script type="text/html" id="tax-item-unit-includingTax">
    <span><%= value %></span>
</script>
<script type="text/html" id="tax-item-unit-taxAmount">
    <span><%= value %></span>
</script>
