{% block _create_account_user_role_button_widget %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}
    {% if resource_granted('orob2b_account_frontend_account_user_role_create') %}
        <div class="text-right">
            <div class="btn-group">
                {{ UI.addButton({
                    'path': path('orob2b_account_frontend_account_user_role_create'),
                    'entity_label': 'orob2b.account.accountuserrole.entity_label'|trans
                }) }}
            </div>
        </div>
    {% endif %}
{% endblock %}
