<script id="frontend-product-prices-tier-button-template" type="text/template">
    <span class="product-tier-prices">
        <i class="popover-trigger" data-toggle="popover" data-placement="bottom" data-close="false"></i>
    </span>
</script>
