<script type="text/template" class="frontend-totals-template" id="frontend-subtotals-template">
    {% block subtotals_entity_edit_page_template %}
        <% if (item.visible) { %>
        <tr>
            <td><%= item.label %></td>
            <td><%= item.formattedAmount %></td>
        </tr>
        <% } %>
    {% endblock %}
</script>

<script type="text/template" class="frontend-totals-template" id="frontend-totals-template">
    {% block totals_entity_edit_page_template %}
        <tr>
            <td class="order-checkout-widget__total">
                <span class="text-uppercase"><%= item.label %></span>
            </td>
            <td class="order-checkout-widget__total">
                <span class="blue"><%= item.formattedAmount %></span>
            </td>
        </tr>
    {% endblock %}
</script>
