.checkout-order-summary {
    margin: 2px 0 0;
    border-radius: 5px;

    background: get-color('additional', 'light');

    &__tab.active  &__content {
        display: block;
    }

    &__tab.active  &__icon-play {
        transform: rotate(90deg);
    }

    &__content {
      display: block;
      padding: 0 30px 10px 90px;

    .oro-grid-table {
      display: table;

      &__head {
        th {
          border-top: 0;

          background: transparent;

          &:first-child {
            padding-left: 0;
          }
        }
      }

      & > tbody {
        td {
          padding: 10px 12px;
          vertical-align: top;
          border-top: 1px solid get-color('additional', 'middle');
          border-bottom: 1px solid get-color('additional', 'middle');

          &:first-child {
            padding-left: 0;
          }

          &:last-child {
            padding-right: 0;

            @media (max-width: $screen-sm) {
              padding-left: 0;
              padding-right: 0;
            }
          }
        }
      }

      .table {
        td:first-child {
          text-align: left;
        }

        td:last-child {
          text-align: right;
        }
      }
    }

    table.table-scrollable {
      & > tbody > tr > td {
        border: none;
        padding: 0;
      }

      thead {
        th {
          border-color: transparent;

          &:last-child {
            padding-right: 0;
          }
        }
      }
    }
    }

    &__header {
        position: relative;

        padding: 21px 135px 21px 90px;

        font-size: $base-font-size;
        line-height: 1.3;

        cursor: pointer;
    }

    &__icon-group {
        position: absolute;
        left: 35px;
        top: 19px;
    }

    &__icon-play {
        color: get-color('additional', 'dark');

        transition: transform .2s linear;
    }

    &__title {
        font-size: $base-font-size;
        line-height: 1.4;
        text-transform: uppercase;
    }

    &__desc {
        font-size: 13px;
    }

    &__edit-link {
        position: absolute;
        top: 22px;
        right: 30px;
    }

    &__price-table {
        max-width: 225px;

        margin-left: auto;

        .table {
            margin: 0;

            tbody {
                td {
                    padding: 0 0 3px;
                    border: 0;

                    &:first-child {
                        text-align: left;
                        padding-right: 40px;
                    }
                }
            }
        }
    }

    &__price-table-total {
        padding: 10px 0 10px;
    }

    &__product,
    &__qty,
    &__price {
        vertical-align: top;
    }

    &__qty {
        text-align: center;
    }

    &__price {
        text-align: right;
    }
}

@include breakpoint('mobile') {
    .checkout-order-summary {
        &__content {
            padding: 0 10px !important;
        }

        &__header {
            padding-left: 60px;
            padding-right: 60px;
        }

        &__icon-group {
            left: 10px;
        }

        &__edit-link {
            right: 10px;

            width: 40px;
        }

        &__price-table {
            display: block;
            max-width: 100% !important;
            margin-left: 0;
        }

        &__table,
        &__table-row,
        &__price {
            display: block;
        }

        &__table-row {
            white-space: nowrap;
        }

        &__product,
        &__qty {
            display: inline-block;

            white-space: normal;

            border-bottom: none !important;
        }

        &__product {
            width: 75%;
        }

        &__qty {
            width: 25%;
        }

        &__product,
        &__qty,
        &__price {
            border-top: none !important;
        }
    }
}
