// @theme: default;

.checkout-order-summary {
    &__header {
        position: $checkout-order-summary-header-position;

        min-height: $checkout-order-summary-header-min-height;
        margin: $checkout-order-summary-header-margin;

        &.in-sticky {
            margin: 0;

            .checkout-order-summary__subtitle {
                color: get-color('additional', 'middle');
            }
        }
    }

    &__title-text {
        vertical-align: $checkout-order-summary-title-text-vertical-align;

        font-size: $checkout-order-summary-title-text-font-size;
        font-weight: $checkout-order-summary-title-text-font-weight;
        line-height: $checkout-order-summary-title-text-line-height;
    }

    &__subtitle {
        margin: $checkout-order-summary-subtitle-margin;

        font-size: $checkout-order-summary-subtitle-font-size;
        font-weight: $checkout-order-summary-subtitle-font-weight;
    }

    &__edit-link {
        position: $checkout-order-summary-edit-link-position;
        top: $offset-y-m;
        right: 0;

        font-size: $base-font-size;
    }

    &__edit-icon {
        margin: $checkout-order-summary-edit-icon-margin;
    }

    &__edit-text {
        display: $checkout-order-summary-edit-text-display;
    }

    &__content {
        position: $checkout-order-summary-content-position;
    }

    &__collapse,
    &__grid-wrapper {
        position: $checkout-order-summary-collapse-position;
    }

    &__collapse {
        &:not(.expanded) &-container {
            &::after {
                content: "";
            }
        }
    }

    &__collapse-container,
    &__grid-container {
        position: $checkout-order-summary-collapse-container-position;

        margin: $checkout-order-summary-collapse-container-margin;
    }

    &__collapse-container {
        &::after {
            position: $checkout-order-summary-collapse-container-shadow-position;
            bottom: 0;
            left: 0;

            display: block;
            width: $checkout-order-summary-collapse-container-shadow-width;
            height: $checkout-order-summary-collapse-container-shadow-height;

            background: $checkout-order-summary-collapse-container-shadow-background;

            content: none;
        }
    }

    &__collapse-trigger {
        display: $checkout-order-summary-collapse-trigger-display;

        float: $checkout-order-summary-collapse-trigger-float;

        color: $checkout-order-summary-collapse-trigger-color;

        line-height: $checkout-order-summary-collapse-trigger-line-height;

        cursor: pointer;
    }

    &__grid {
        width: $checkout-order-summary-grid-width;
    }

    &__grid-th {
        padding: $checkout-order-summary-grid-th-offset;

        border-top: $checkout-order-summary-grid-th-border-top;
        border-bottom: $checkout-order-summary-grid-th-border-bottom;

        background: $checkout-order-summary-grid-th-background-color;

        font-weight: $checkout-order-summary-grid-th-font-weight;
        text-align: $checkout-order-summary-grid-th-text-align;

        &--price,
        &--subtotal {
            text-align: right;
        }
    }

    &__grid-td {
        padding: $checkout-order-summary-grid-td-offset;

        border-bottom: $checkout-order-summary-grid-td-border-bottom;

        &--qty {
            white-space: nowrap;
        }

        &--price,
        &--subtotal {
            text-align: right;
        }
    }

    &__grid-tr {
        &:last-child {
            .checkout-order-summary__grid-td {
                border: $checkout-order-summary-grid-last-row-td-border-bottom;
            }
        }
    }

    &__totals {
        clear: $checkout-order-summary-totals-clear;

        @include clearfix();

        .order-checkout-widget__container {
            min-width: $checkout-order-summary-totals-order-checkout-widget-min-width;
            padding: 0 $offset-x 0 0;

            background: none;
        }
    }

    &__totals-container {
        margin: $checkout-order-summary-totals-container-margin;
        padding: $checkout-order-summary-totals-container-offset;

        border-top: $checkout-order-summary-totals-container-border-top;

        &.in-sticky {
            width: calc(#{$checkout-view-column-extra-width} - #{$offset-x-m});
            margin: $checkout-order-summary-totals-container-in-sticky-margin;
            padding: $checkout-order-summary-totals-container-in-sticky-offset;

            border-top: $checkout-order-summary-totals-container-in-sticky-border-top;
        }
    }

    &__lineitem-name {
        color: get-color('additional', 'dark');
    }

    &__lineitem-name + &__sku {
        color: get-color('primary', 'base');
    }

    &__lineitem-price + &__lineitem-total {
        color: get-color('ui', 'normal');
    }
}

@include breakpoint('mobile-landscape') {
    .checkout-order-summary {
        &__grid-th,
        &__grid-td {
            &--sku,
            &--subtotal {
                display: none;
            }
        }

        &__grid-td {
            &--info {
                padding-left: 0;
            }
            &--price{
                padding-right: 0;
            }
        }

        &__totals {
            .order-checkout-widget__container {
                padding: 0 $offset-x;
            }
        }
    }
}
