.grid-sidebar {
    position: absolute;
    padding: 0;
    height: 100%;
    background-color: #efefef;
}

.grid-sidebar .grid-sidebar-header {
    border-bottom: 1px solid #d6d6d6;
}

.grid-sidebar .grid-sidebar-header,
.grid-sidebar .grid-sidebar-content {
    padding: 5px 10px;
}

.grid-sidebar .grid-sidebar-controls i {
    cursor: pointer;
    font-size: 8px;
    line-height: 12px;
}

.grid-sidebar.grid-sidebar-maximized .grid-sidebar-minimized {
    display: none;
}

.grid-sidebar.grid-sidebar-minimized .grid-sidebar-maximized {
    display: none;
}
