.oro-item-collection input[type="text"].precision {
    width: 180px;
}

.unit-precisions-collection > div {
    margin: 0 0 8px !important;
}

.unit-precisions-collection select.hidden-unit {
    display: none;
    visibility: hidden;
}

.product-container div.box-type1 div.title {
    padding: 0 !important;
}

.product-index-content.grid-sidebar-maximized {
    margin-left: 320px;
}

.product-index-content.grid-sidebar-minimized {
    margin-left: 40px;
}

.product-container .grid-sidebar.grid-sidebar-maximized {
    width: 313px;
}
