.oro-item-collection {
  input[type="text"] {
    &.precision {
      width: 180px;
    }
  }
}

.unit-precisions-collection {
  > div {
    margin: 0 0 8px !important;
  }

  .input-widget-select {
    margin-left: 0 !important;
  }

  .collection-fields-list {
    td {
      padding-left: 0;
    }
  }

  select {
    &.hidden-unit {
      display: none;
      visibility: hidden;
    }
  }
}

.product-container {
  div.box-type1 {
    div.title {
      padding: 0 !important;
    }
  }

  .grid-sidebar {
    &.grid-sidebar-maximized {
      width: 313px;
    }
  }
}

.product-index-content {
  &.grid-sidebar-maximized {
    margin-left: 320px;
  }

  &.grid-sidebar-minimized {
    margin-left: 40px;
  }
}

.row-oro {
  &.add-products {
    float: left;
    width: auto;

    .add-list-item,
    .add-buttons {
      margin-top: 10px;
    }

    .add-products-sku {
      width: 310px;
      padding-right: 0;
    }

    .add-products-quantity {
      padding-left: 2px;
    }

    .product-autocomplete-success {
      display: none;
      float: right;
    }

    .icon-ok-circle {
      font-size: 20px;
      color: #2f8206;
      line-height: 30px;
    }
  }
}

.image-collection {
  &.view table {
    width: 60%;
  }
  .add-list-item {
    margin-top: 8px;
    margin-left: 0;
  }

  .text-center {
    text-align: center;
  }

  th {
    &.file {
      width: 320px;
    }
    &.remove {
      width: 65px;
    }
  }
}

.responsive-section .responsive-cell-right {
  margin-bottom: 35px;
  margin-left:50%;
  padding-left:20px;
  width: 50%;
}
