.shopping-list {
    width: 100%;
    margin: 0 !important;

    font-size: 0;
    white-space: nowrap;

    border-radius: 3px 3px 0 0;
    border-top: 1px solid $theme-lighter-gray-color;
    border-bottom: 1px solid $base-font-color-lightest;
    box-shadow: inset -1px 0 0 0 $theme-lighter-gray-color;
    background: $theme-lightest-gray-color;

    &--fulfilled {
        width: calc(100% - 37px);
    }

    &__item {
        display: inline-block;
        width: 20%;
        margin-top: -1px;

        font-size: 14px;
        vertical-align: top;

        border-bottom: 0;

        &:first-child {
            border-top: 0;
        }

        &:first-child .shopping-list__link {
            margin-left: 0;

            border-radius: 3px 0 0;
            border-left: 0;
        }

        &:last-child .shopping-list__link {
            border-radius: 0 3px 0 0;
        }

        &:nth-child(n+6) {
            display: none;
        }

        @media (max-width: $screen-md) {
            width: 25%;
            
            &:nth-child(n+5) {
                display: none;
            }
        }
    }

    &__link {
        margin-left: -1px;
        padding: 16px 15px 12px;

        text-align: center;

        border-left: 0;
        box-shadow: inset 1px 0 0 0 $theme-lighter-gray-color,
                    inset 0 1px 0 0 $theme-lighter-gray-color,
                    inset -1px 0 0 0 $theme-lighter-gray-color,
                    0 1px 0 0 $base-font-color-lightest;
        background: $theme-lightest-gray-color;

        &--current,
        &:hover {
            border-left: 0;
            box-shadow: inset 1px 0 0 0 $base-font-color-lightest,
                        inset 0 1px 0 0 $base-font-color-lightest,
                        inset -1px 0 0 0 $base-font-color-lightest,
                        0 1px 0 0 $base-white-color;
            background: $base-white-color;
        }
    }

    &__item-indicator,
    &__content {
        display: inline-block;;

        vertical-align: baseline;;
    }

    &__item-indicator {
        position: static;

        min-width: 26px;
    }

    &__content {
        max-width: calc(100% - 36px);
        margin-left: 10px;
    }

    &__title {
        display: inline-block;
        max-width: 100%;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: text-bottom;
    }

    &__desc {
        display: none;
    }
}
