/* @theme: custom; */

$filters-box-collapse-background: get-color('additional', 'base') !default;
$filters-box-collapse-text-align: left !default;
$filters-box-collapse-text-transform: uppercase !default;
$filters-box-collapse-inner-offset: $offset-y-m !default;
$filters-box-collapse-icon-top: 50% !default;
$filters-box-collapse-icon-right: 10px !default;

$filters-box-collapse-header-inner-offset: $offset-y-m 12px !default;
