.product-item__qty {
  //Override current grid
  &.product-item__qty_no-image-view {
    .product-item__qty__current-grid {
      float: left;
      width: calc(~'50% - .5rem');

      + .add-product-from-view-component {
        float: left;
        width: calc(~'50% - .5rem');
        margin-left: 1rem;

        .btn-group,
        .btn_has-dropdown {
          margin-top: 0;
          min-height: inherit;
          height: 4.3rem;
          min-width: auto;

          a {
            line-height: 4.2rem;
          }

          .direct-link {
            line-height: 4.2rem;
            height: 100%;
            padding: 0 1rem;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }
      }

      .chosen-container {
        .chosen-drop {
          display: none;
          position: absolute;
        }

        &.chosen-with-drop {
          .chosen-drop {
            display: block;
          }
        }
      }
    }

    .line_item_form_fields__form__row {
      width: 60%;

      + .line_item_form_fields__form__row {
        width: calc(~'40% - 1rem');
        margin-right: 1rem;
        max-width: 5rem;
      }
    }
  }

  .line_item_form_fields__form__row {
    float: right;
    width: calc(~'50% - .5rem');

    + .line_item_form_fields__form__row {
      margin-right: 1rem;
    }

    label {
      display: none;
    }

    .line_item_form_fields__form__input {
      margin: 0 !important;
    }
  }

  .add-product-from-view-component {
    .pull-right {
      float: none !important;

      .btn-group,
      .btn_has-dropdown {
        width: 100%;
        a {
          font-size: 1.4rem !important;
        }
      }
    }
  }
}
