.product-item__qty {
  //Override current grid
  .add_to_shopping_list_form_fields__form__row {
    float: right;
    width: calc(~'50% - .5rem');

    + .add_to_shopping_list_form_fields__form__row {
      margin-right: 1rem;
    }

    label {
      display: none;
    }

    .add_to_shopping_list_form_fields__form__input {
      margin: 0 !important;
    }

    .chosen-container.chosen-container-single .chosen-single {
      padding: .9rem 1.4rem .8rem;
    }
  }

  .add-product-from-view-component {
    .pull-right {
      float: none !important;

      .btn_has-dropdown {
        width: 100%;
        a {
          font-size: 1.4rem !important;
        }
      }
    }
  }
}
