{% extends 'OroUIBundle:actions:index.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% set pageTitle = 'oro.cms.page.entity_plural_label'|trans %}
{% set gridName = 'cms-page-grid' %}

{% block navButtons %}
    {% if resource_granted('oro_cms_page_create') %}
        <div class="btn-group">
            {{ UI.addButton({
                'path': path('oro_cms_page_create'),
                'entity_label': 'oro.cms.page.entity_label'|trans
            }) }}
        </div>
    {% endif %}
{% endblock %}