.embedded-list {
    &__label {
        position: relative;

        margin-left: -42px;
        margin-right: -42px;

        line-height: 20px;
        text-align: center;

        &::before {
            position: absolute;
            top: 50%;
            right: 0;
            left: 0;
            z-index: 1;

            height: 1px;

            content: '';

            background: $theme-lighter-gray-color;
        }
    }

    &__label-inner {
        position: relative;
        z-index: 2;

        display: inline-block;
        padding: 0 16px;

        font-size: 18px;
        text-transform: uppercase;
        vertical-align: top;

        background: $base-white-color;
    }

    &__container--tiles {
        display: flex;
        flex-wrap: wrap;

        font-size: 0;

        & .embedded-list__item {
            display: inline-block;
            width: 33.33%;
            padding: 0 8px;

            font-size: $base-font-size;
            text-align: center;

            &:nth-child(3n+1) {
                padding-right: 16px;
                padding-left: 0;

                text-align: left;
            }

            &:nth-child(3n) {
                padding-right: 0;
                padding-left: 16px;

                text-align: right;
            }
        }
    }

    &__container--slider {
        // Hide content before slick slider is inited
        overflow: hidden;

        height: 1px;
        margin: 26px 0 0 -26px;

        &.slick-initialized {
            // Show content after slick slider is inited
            overflow: visible;;

            height: auto;
        }

        &::before {
            position: absolute;
            left: -16px;
            z-index: 2;

            display: block;
            width: 40px;
            height: 100%;

            content: '';
            background: $base-white-color;
        }

        & .slick-arrow {
            position: absolute;
            top: 25%;
            z-index: 4;

            width: 32px;
            height: 32px;

            font-size: 300px;

            color: $base-white-color;
            border: 0;
            background: $base-font-color-lightest;
            border-radius: 16px;

            &::before {
                display: block;
                width: 16px;
                height: 16px;
                margin-top: 6px;

                content: '';
            }
        }

        & .slick-prev {
            left: -16px;

            &::before {
                background: url('components/embedded-list/__arrow/embedded-list__arrow--prev.svg') 0 0 no-repeat;
                background-size: cover;
            }
        }

        & .slick-next {
            right: -42px;

            &::before {
                background: url('components/embedded-list/__arrow/embedded-list__arrow--next.svg') 0 0 no-repeat;
                background-size: cover;
            }
        }

        & .slick-dots {
            @include list-normalize();

            position: absolute;
            bottom: 0;

            display: flex;
            justify-content: center;
            width: 63.46%;
            margin: 0 auto 20px;
        }

        & .slick-dots li button {
            display: block;
            height: 10px;
            width: 10px;
            margin-left: 8px;
            padding: 0;

            text-indent: -100px;

            border-radius: 5px;
            border: 1px solid $base-white-color;
            background: transparent;
        }

        & .slick-dots li:first-child button {
            margin-left: 0;
        }

        & .slick-dots .slick-active button {
            background: $base-white-color;
        }
    }
}

@include breakpoint('mobile') {
    .embedded-list {
        &__label {
            margin: 0;
        }

        &__label-inner {
            font-size: $base-font-size;
        }

        &__container--tiles {
            & .embedded-list__item {
                width: 50%;

                &:nth-child(3n),
                &:nth-child(3n+1) {
                    padding: 0 4px;

                    text-align: center;
                }

                &:nth-child(2n+1) {
                    padding-right: 8px;
                    padding-left: 0;

                    text-align: left;
                }

                &:nth-child(2n) {
                    padding-right: 0;
                    padding-left: 8px;

                    text-align: right;
                }
            }
        }
    }
}
