.header-row-overlay {
    position: fixed;
    z-index: z('base') + 7;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    cursor: default;

    opacity: 0;
}

@include breakpoint('desktop') {
    %hidden-on-desktop {
        &.hidden-on-desktop {
            display: none;
        }
    }

    .header-row-overlay {
        @extend %hidden-on-desktop;
    }
}
