.main-menu {
    @include list-normalize();

    display: flex;

    margin: 15px 0;

    vertical-align: middle;
    position: relative;

    border-top: 1px solid get-color('additional', 'light');
    border-bottom: 1px solid get-color('additional', 'light');

    &__item {
        flex-grow: 1;

        @include breakpoint('desktop') {
            &:hover {
                .main-menu__sublist-container {
                    display: block;
                }
            }
        }
    }

    &__link {
        display: block;
        padding: 14px 0;

        line-height: 1.5;
        text-align: center;
    }

    @include breakpoint('desktop') {
        &__sublist-container {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            z-index: z('base') + 10;

            display: none;
        }
    }

    &__sublist {
        &__title {
            margin-bottom: 10px;
        }

        @include list-normalize();

        @include breakpoint('desktop') {
            border: 1px solid get-color('additional', 'light');

            padding: 20px 40px;
        }
    }
}

@include breakpoint('tablet') {
    .main-menu {
        display: block;

        max-height: none;
        padding: 10px 15px;

        &__item {
            min-height: 0;
        }

        &__link {
            padding: 5px 0;

            text-align: left;
        }
    }
}
