/* Topbar component */
.topbar {
    font-size: $base-font-size - 2;

    &__navigation {
        &:last-child {
            display: inline-block;
        }

        ul {
            @include list-normalize();

            li {
                margin-right: $top-bar-menu-item-offset-right;

                line-height: $top-bar-menu-item-line-height;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        &--has-sibling {
            margin-right: 10px;
        }
    }

    &__controls {
        .cart__promo__link {
            font-size: $base-font-size;

            &:hover {
                text-decoration: none;

                cursor: default;
            }

            span {
                font-size: $base-font-size;

                &:hover {
                    text-decoration: underline;

                    cursor: pointer;
                }
            }
        }
    }
}

@include breakpoint('desktop') {
    .grid__column:last-child {
        text-align: right;
    }
}

@include breakpoint('tablet') {
    .topbar {
        .grid__column {
            display: block;
            float: none;

            padding: 0;
            width: 100%;
        }

        &__navigation {
            ul {
                display: block;

                li {
                    display: inline-block;

                    margin-right: 20px;
                }
            }
        }
    }
}

