/* Topbar component */
.topbar {
    font-size: $base-font-size - 2;
}

.topbar-navigation {
    @include list-normalize();
    
    display: flex;
    justify-content: flex-end;

    &--controls {
        justify-content: flex-start;
    }

    &__item {
        margin-right: $top-bar-menu-item-offset-right;

        line-height: $top-bar-menu-item-line-height;

        &:last-child {
            margin-right: 0;
        }
    }
}

@include breakpoint('tablet') {
    .topbar {
        .grid__column {
            display: block;
            float: none;

            padding: 0;
            width: 100%;
        }
    }

    .topbar-navigation {
        display: block;

        &__item {
            display: inline-block;

            margin-right: 20px;
        }
    }
}

