/* @theme: admin.oro; */

.#{$app-prefix} {
    &field {
        border-radius: 2px;
        background-color: $primary-inverse;
        border: 2px solid $primary-750;
        color: $primary-100;

        select {
            padding-top: 0;
            padding-bottom: 0;
        }

        &-arrow-u {
            border-bottom-color: $primary-400;
        }

        &-arrow-d {
            border-top-color: $primary-400;
        }

        &.#{$app-prefix}field-checkbox {
            border: none;
            background-color: transparent;
            border-radius: 0;

            .#{$app-prefix}chk-icon {
                transform: none;
                height: 16px;
                margin: auto;
                width: 16px;
                border: 2px solid $primary-750;
                background-color: $primary-inverse;
                border-radius: 3px;
            }

            input[type='checkbox']:checked {
                + .#{$app-prefix}chk-icon {
                    border-color: $secondary;
                    background-color: $secondary;

                    &::before {
                        content: $fa-var-check;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 12px;
                        margin-left: -1px;
                        line-height: 1;
                        color: $primary-inverse;
                        font-family: $fa-font-family;
                    }
                }
            }

            .#{$app-prefix}input-holder {
                height: 16px;
                width: 16px;
            }
        }

        &-range {
            [type='range'] {
                // Need to reset padding
                padding: 0;
            }
        }
    }
}
