/* @theme: admin.oro; */

@use '../grapesjs-original/gjs_vars';

.#{gjs_vars.$app-prefix}layer {
    background: none;
    gap: $content-padding-small;

    &:not(:last-of-type) {
        margin-bottom: $content-padding-small;
    }

    &-item {
        background-color: $neutral-grey-1;
        border: 1px solid $neutral-grey-3;
        border-radius: 4px;
    }

    &.#{gjs_vars.$app-prefix}hovered &-item {
        background-color: $neutral-grey-3;
    }

    &.#{gjs_vars.$app-prefix}selected &-item {
        background-color: $secondary-secondary-6;
    }

    .#{gjs_vars.$app-prefix}layer-title {
        font-weight: font-weight('semi-bold');
    }
}
