/* @theme: admin.oro; */

@use '../grapesjs-original/gjs_vars';

.#{gjs_vars.$app-prefix} {
    &pn-views {
        box-shadow: none;
        padding: 0;
        border-bottom: none;

        .#{gjs_vars.$pn-prefix}buttons {
            .#{gjs_vars.$pn-prefix}btn {
                display: flex;
                align-items: center;

                width: 100%;
                margin-right: 0;
                border-radius: 0;
                color: $text-primary;

                background-color: $neutral-white;
                border-top: 1px solid $neutral-grey-4;
                border-left: 1px solid $neutral-grey-4;
                border-bottom: 1px solid $neutral-grey-4;
                line-height: 20px;

                box-shadow: none;

                &:hover {
                    background-color: $primary-accent-extra-light;
                }

                &:first-child {
                    border-radius: $border-radius 0 0 $border-radius;
                }

                &:last-child {
                    border-right: 1px solid $neutral-grey-4;
                    border-radius: 0 $border-radius $border-radius 0;
                }

                &.#{gjs_vars.$pn-prefix}active {
                    background-color: $secondary-secondary-4;
                    color: $primary-inverse;
                }
            }
        }
    }
}
