/* @theme: admin.oro; */

.#{$app-prefix} {
    &cv-canvas {
        &.desktop {
            border: $canvas-border;
        }

        &__tools {
            &:not(.float-editor-enabled) {
                overflow: hidden;
            }

            &.float-editor-enabled {
                .#{$app-prefix}tools {
                    visibility: hidden;
                }
            }
        }

        &:not(.desktop) {
            background-color: transparent;
            background-image: $canvas-pattern;
            background-size: $canvas-pattern-size;
            background-position: $canvas-pattern-position;

            box-shadow: $canvas-box-shadow;
            border: none;

            .#{$app-prefix}cv-canvas__tools {
                position: relative;
            }
        }

        &.tablet,
        &.tablet-small,
        &.mobile,
        &.mobile-big,
        &.mobile-landscape {
            padding: 63px 0 75px 8px;

            .gjs-frame-wrapper {
                background: $primary-800;
                margin: 8px auto;
                border: solid $primary-800;
                border-radius: 55px;
                border-width: 47px 12px 67px;
                box-sizing: content-box;
            }

            #gjs-tools,
            .gjs-tools {
                transform: translate(-6px, -6px);
            }

            .#{$app-prefix}cv-canvas__tools {
                height: 100%;
            }
        }

        &.mobile-landscape {
            padding: 28px 0 0 8px;

            .gjs-frame-wrapper {
                border-width: 12px 67px 12px 47px;
            }

            .#{$app-prefix}cv-canvas__tools {
                height: 100%;
            }
        }

        &__frames {
            // stylelint-disable-next-line declaration-no-important
            background-color: transparent !important;
            z-index: 1;
        }
    }

    &pn-commands {
        box-shadow: none;
        padding: 0;
        display: none;
    }

    &pn-devices-c {
        .gjs-pn-btn {
            font-family: $fa-font-family;

            &.desktop {
                &::before {
                    content: $fa-var-desktop;
                }
            }

            &.tablet {
                font-size: $base-font-size--l + 2px;
            }

            &.tablet,
            &.tablet-small {
                &::before {
                    content: $fa-var-tablet;
                }
            }

            &.mobile-big {
                font-size: $base-font-size--l + 2px;
            }

            &.mobile {
                font-size: $base-font-size--l;
            }

            &.mobile,
            &.mobile-big {
                &::before {
                    content: $fa-var-mobile;
                }
            }

            &.mobile-landscape {
                transform: rotate(90deg);

                &::before {
                    content: $fa-var-mobile;
                }
            }
        }
    }
}
