<li class="dropdown">
    <a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown">
        {% if isMobileVersion() %}
            <i class="fa-user"></i>
        {% else %}
            {{ app.user|oro_format_name|escape }}
            <i class="fa-sort-down"></i>
        {% endif %}
    </a>
    {{ oro_menu_render('account_usermenu') }}
</li>
