.product-tier-prices {
    position: relative;
    left: -1px;

    display: inline-block;
    vertical-align: middle;

    .popover-trigger {
        border-left: none;
    }

    &.disabled {
        .popover-trigger {
            cursor: default;
            opacity: .5;
        }
    }
}
