.product-tier-prices {
    position: relative;
    left: -1px;

    display: inline-block;
    width: 27px;

    vertical-align: middle;

    border-left: 1px solid get-color('additional', 'light');

    .popover-trigger {
        border-left: none;
    }

    &.disabled {
        .popover-trigger {
            cursor: default;
            opacity: .5;
        }
    }
}
