/* @theme: default; */

.grid-line-items {
    display: flex;
    align-items: center;
    width: 100%;

    &__row {
        display: flex;
        flex-direction: column;

        line-height: $grid-line-line-height;

        &:last-child {
            flex-grow: 1;
        }

        &:not(:only-child):first-child {
            margin-right: $grid-line-items-row-offset-x;
            align-self: flex-start;
        }
    }

    &__clip-placeholder {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    &__clip-container,
    &__clip-notes-container {
        position: relative;
    }

    &__clip-container {
        width: 100%;
        min-height: $grid-line-items-title-font-size * $grid-line-items-line-height;
    }

    &__clip-notes-container {
        min-height: $grid-line-clip-none-offset + $shopping-lists-notes-font-size * $shopping-lists-notes-line-height;
    }

    &__title {
        font-size: $grid-line-items-title-font-size;
        font-weight: $grid-line-items-title-font-w;
        line-height: $grid-line-items-line-height;
    }

    &__notes-container {
        display: flex;
        margin-top: $grid-line-clip-none-offset;
        line-height: $shopping-lists-notes-line-height;
    }

    &__notes {
        font-size: $shopping-lists-notes-font-size;
        font-style: $shopping-lists-notes-font-s;
    }

    &__edit-notes {
        display: inline-flex;
        justify-content: center;
        margin-left: $offset-x-s;
        color: $launcher-item-icon-color;
    }

    &__ellipsis {
        display: inline-block;
        max-width: 100%;

        @include ellipsis();
    }

    &__configuration {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    &__field:not(:last-child)::after {
        display: inline-block;
        vertical-align: middle;
        width: 1px;
        height: $grid-line-separator-height;
        margin: $grid-line-separator-offset;

        background: $grid-line-separator-background;

        content: '';
    }

    &__field-val {
        &:first-child {
            padding-right: $grid-line-items-field-val-offset;
        }

        &:nth-child(2),
        &:last-child {
            padding-left: $grid-line-items-field-val-offset;
        }
    }
}

@mixin grid-line-items-tablet {
    .grid-line-items {
        &__row-entry {
            padding-top: $grid-line-row-entry-offset-y-tablet;
        }

        &__title {
            position: relative;

            &-content {
                white-space: normal;
                text-overflow: inherit;
            }
        }
    }
}

@include breakpoint('tablet') {
    @include grid-line-items-tablet;
}

@include breakpoint('mobile-landscape') {
    .grid-line-items {
        .height-as-image-mobile {
            min-height: $product-item-image-holder-tiny-height;
        }

        &__row {
            &:not(:only-child):first-child {
                margin-right: $grid-line-items-row-offset-x-mobile;
            }
        }

        &__row-item {
            display: flex;
            align-items: center;
            margin-bottom: $grid-line-items-container-offset-x-mobile;
        }

        &__field {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;

            &:not(:last-child)::after {
                content: none;
            }

            &-val {
                width: 50%;

                &:first-child {
                    padding-right: $grid-line-items-field-val-offset-mobile;
                }

                &:nth-child(2),
                &:last-child {
                    padding-left: $grid-line-items-field-val-offset-mobile;
                }
            }
        }

        &__row-entry {
            padding-top: $grid-line-row-entry-offset-y-mobile;
        }
    }
}
