/* @theme: default; */

.responsive-shopping-list-grid-view {
    .grid-has-grouped-rows {
        .grid-body-cell-sku {
            padding-left: $responsive-shopping-grid-has-grouped-body-cell-sku-left-inner-offset;
            min-width: $responsive-shopping-grid-has-grouped-body-cell-sku-width;
        }
    }

    .sub-row-last,
    .filtered-out {
        .grid-body-cell-sku::after {
            //  half of a standard datagrid cell's height + border width
            height: $responsive-shopping-cell-half-height + 1px;
            bottom: auto;
        }
    }

    .group-row-has-children,
    .sub-row {
        .grid-body-cell-sku {
            &::before {
                position: absolute;
                // half of a standard datagrid cell's height
                top: $responsive-shopping-cell-half-height;
                left: $table-th-inner-x-offset;

                content: '';

                width: 8px;
                height: 1px;
                background-color: $responsive-shopping-sub-row-border-mobile-color;
            }

            &::after {
                position: absolute;
                // cell border width
                top: -1px;
                bottom: 0;
                left: $table-th-inner-x-offset;

                content: '';

                width: 1px;
                background-color: $responsive-shopping-sub-row-border-mobile-color;
            }
        }
    }

    .no-product-sku-row {
        .grid-body-cell-sku:first-child {
            &::before {
                width: auto;
                right: 0;
            }
        }
    }

    .extension-row {
        &:not(.sub-row) {
            .grid-body-cell-sku {
                &::before,
                &::after {
                    display: none;
                }
            }
        }
    }

    .group-row-has-children .grid-body-cell-sku:first-child {
        &::after,
        &::before {
            //  half of a standard datagrid cell's height + border width
            top: $responsive-shopping-cell-half-height + 1px;
        }
    }
}

@include breakpoint('desktop-small') {
    .responsive-shopping-list-grid-desktop-alignment {
        .sub-row-last,
        .filtered-out {
            .grid-body-cell-sku::after {
                height: $responsive-shopping-cell-line-size-desktop;
            }
        }

        .group-row-has-children,
        .sub-row {
            .grid-body-cell-sku {
                &::before {
                    top: $responsive-shopping-cell-line-size-desktop;
                }
            }
        }

        .group-row-has-children .grid-body-cell-sku:first-child {
            &::after,
            &::before {
                top: $responsive-shopping-cell-line-size-desktop;
            }
        }
    }
}

@include breakpoint('mobile-landscape') {
    .responsive-shopping-list-grid-view .grid-body {
        .sub-row {
            padding: 0 $responsive-shopping-body-cell-offset-x-mobile;

            &:not(.sub-row-last) {
                border-bottom-width: 0;
            }

            .grid-body-cell {
                padding-left: $responsive-shopping-view-body-cell-item-offset-mobile;
                padding-right: $responsive-shopping-view-body-cell-item-offset-mobile;
                border-left: $responsive-shopping-view-body-cell-border-mobile;
                border-right: $responsive-shopping-view-body-cell-border-mobile;

                &:last-child {
                    padding-bottom: $responsive-shopping-view-body-cell-last-offset-mobile;
                }
            }

            .grid-body-cell-item {
                padding-top: $responsive-shopping-view-body-cell-item-offset-mobile;
                border-top: $responsive-shopping-view-body-cell-border-mobile;
            }

            &.sub-row-last {
                padding-bottom: $responsive-shopping-view-body-cell-item-offset-mobile;

                .grid-body-cell:last-child {
                    border-bottom: $responsive-shopping-view-body-cell-border-mobile;
                }
            }

            &.notification-row {
                padding-top: $responsive-shopping-extension-row-offset-top-mobile;

                .grid-body-cell-item {
                    padding-top: $responsive-shopping-body-cell-offset-y-mobile;
                    padding-bottom: $responsive-shopping-extension-row-offset-bottom-mobile;
                    border-top: none;
                }
            }
        }

        .group-row {
            padding-bottom: $responsive-shopping-view-body-cell-item-offset-mobile;
        }
    }
}
