/* @theme: default; */

.responsive-shopping-list-grid-view {
    .product-kit-sku {
        display: flex;
        align-items: center;
        gap: spacing('sm');
    }

    .grid-body-cell-sku {
        padding-right: 0;
    }

    .grid-has-grouped-rows {
        .grid-body-cell-sku {
            min-width: $responsive-shopping-grid-has-grouped-body-cell-sku-width;
            padding-left: $responsive-shopping-view-has-grouped-body-cell-sku-left-inner-offset;
        }
    }

    .grid-header-cell-subtotal {
        text-align: right;
    }

    .grid-header-cell-quantity,
    .grid-body-cell-quantity {
        padding-right: spacing('xs');
        color: $responsive-shopping-grid-quantity-unit-color;
    }

    .grid-header-cell-unit,
    .grid-body-cell-unit {
        padding-left: spacing('xs');
        color: $responsive-shopping-grid-quantity-unit-color;
    }

    .sub-row-last,
    .filtered-out {
        .grid-body-cell-sku::after {
            //  half of a standard datagrid cell's height + border width
            height: $responsive-shopping-cell-half-height + 1px;
            bottom: auto;
        }
    }

    .group-row-has-children,
    .sub-row {
        .grid-body-cell-sku {
            &::before {
                position: absolute;
                // half of a standard datagrid cell's height
                top: $responsive-shopping-cell-half-height;
                left: $datagrid-body-cell-offset + 1px;

                content: '';

                width: 20px;
                height: 1px;
                background-color: $responsive-shopping-sub-row-border-mobile-color;
            }

            &::after {
                position: absolute;
                // cell border width
                top: -1px;
                bottom: 0;
                left: $datagrid-body-cell-offset + 1px;

                content: '';

                width: 1px;
                background-color: $responsive-shopping-sub-row-border-mobile-color;
            }
        }
    }

    .extension-row {
        .grid-body-cell-sku {
            &::before {
                display: none;
            }
        }

        &.grid-row-product-kit-error,
        &.sub-row-last {
            .grid-body-cell-sku {
                &::after {
                    display: none;
                }
            }
        }
    }

    .no-product-sku-row {
        .grid-body-cell-sku:first-child {
            &::before {
                width: auto;
                right: 0;
            }
        }
    }

    .group-row-has-children .grid-body-cell-sku:first-child {
        &::after,
        &::before {
            //  half of a standard datagrid cell's height + border width
            top: $responsive-shopping-cell-half-height + 1px;
        }
    }
}

@include breakpoint('desktop-small') {
    .responsive-shopping-list-grid-desktop-alignment {
        .sub-row-last,
        .filtered-out {
            .grid-body-cell-sku::after {
                height: $responsive-shopping-cell-line-size-desktop;
            }
        }

        .group-row-has-children,
        .sub-row {
            .grid-body-cell-sku {
                &::before {
                    top: $responsive-shopping-cell-line-size-desktop;
                }
            }
        }

        .group-row-has-children .grid-body-cell-sku:first-child {
            &::after,
            &::before {
                top: $responsive-shopping-cell-line-size-desktop;
            }

            &:has(.btn-expand-kit-items) {
                padding-left: spacing('xs');

                &::before,
                &::after {
                    display: none;
                }
            }
        }
    }
}

@include breakpoint('tablet') {
    .responsive-shopping-list-grid-view {
        .grid-main-container {
            display: grid;
            grid-template-areas: 'product price subtotal';
            grid-template-columns: auto min-content min-content;
        }

        .grid-header,
        .grid-body,
        .grid-header-row,
        .grid-row {
            display: grid;
            grid-template-columns: subgrid;
            grid-column: product / subtotal;
        }

        .grid-body-cell-quantity {
            display: grid;
            grid-template-columns: subgrid;
            grid-column: product / subtotal;
            grid-row: 2 / 3;
            padding-top: 0;
            // padding-left:  $datagrid-body-cell-offset + 44 + 8;
            padding-left: 68px;

            &:not(:has(.btn, .input)) {
                text-align: left;
            }
        }

        .product-kit-general-error,
        .sub-row-product-kit {
            .select-row-cell,
            .grid-body-cell-item,
            .grid-body-cell-price,
            .grid-body-cell-subtotal {
                padding-bottom: 0;
            }
        }

        .notification-row {
            .grid-body-cell-sku,
            .grid-body-cell-item {
                padding-left: 68px;
            }

            .grid-body-cell-item,
            &.group-row-has-children .grid-body-cell-sku {
                display: grid;
                grid-column: product / subtotal;
            }
        }

        .grid-header-cell-quantity,
        .grid-header-cell-unit,
        .grid-body-cell-unit {
            display: none;
        }
    }
}

@include breakpoint('mobile-big') {
    .responsive-shopping-list-grid-view .grid-body {
        .mobile-row {
            grid-column: product / subtotal;
        }

        .grid-body-cell-item,
        .grid-body-cell-price,
        .grid-body-cell-subtotal {
            display: grid;
            grid-template-columns: subgrid;
            grid-column: product / subtotal;
        }

        .grid-body-cell-price {
            grid-row: 3 / 4;
        }

        .grid-body-cell-subtotal {
            grid-row: 4 / 5;
        }

        .grid-body-cell-quantity {
            padding-left: $responsive-shopping-body-cell-offset-x-mobile;
            padding-right: $responsive-shopping-body-cell-offset-x-mobile;
        }

        .grid-row-product-kit {
            .grid-body-cell-price {
                padding-bottom: 0;
            }
        }

        .sub-row {
            padding: 0 $responsive-shopping-body-cell-offset-x-mobile;

            &:not(.sub-row-last) {
                border-bottom-width: 0;
            }

            .grid-body-cell {
                padding-left: $responsive-shopping-view-body-cell-item-offset-mobile;
                padding-right: $responsive-shopping-view-body-cell-item-offset-mobile;
                border-left: $responsive-shopping-view-body-cell-border-mobile;
                border-right: $responsive-shopping-view-body-cell-border-mobile;

                &:last-child {
                    padding-bottom: $responsive-shopping-view-body-cell-last-offset-mobile;
                }
            }

            .grid-body-cell-item {
                padding-top: $responsive-shopping-view-body-cell-item-offset-mobile;
                border-top: $responsive-shopping-view-body-cell-border-mobile;
            }

            &.sub-row-last {
                padding-bottom: $responsive-shopping-view-body-cell-item-offset-mobile;

                .grid-body-cell:last-child {
                    border-bottom: $responsive-shopping-view-body-cell-border-mobile;
                }
            }

            &.notification-row {
                padding-top: $responsive-shopping-extension-row-offset-top-mobile;

                .grid-body-cell-item {
                    padding-top: $responsive-shopping-body-cell-offset-y-mobile;
                    padding-bottom: $responsive-shopping-extension-row-offset-bottom-mobile;
                    border-top: none;
                }
            }
        }

        .notification-row {
            .grid-body-cell-sku {
                grid-column: product / subtotal;
                padding-left: spacing('base');
            }
        }

        .group-row {
            padding-bottom: $responsive-shopping-view-body-cell-item-offset-mobile;
        }
    }
}
