/* @theme: default; */

.responsive-shopping-list-grid {
    .show-on-tablet,
    .show-on-tablet-small,
    .show-on-mobile {
        display: none;
    }

    .grid-row {
        &.hover,
        &:hover {
            background-color: $responsive-shopping-row-color-hover;
        }
    }

    .btn-expand-kit-items {
        align-self: flex-start;

        &.collapsed {
            .theme-icon {
                transform: rotate(-90deg);
            }
        }
    }

    .checkbox-placeholder {
        width: $checkbox-size;
    }

    .grid-header-cell {
        padding-left: $datagrid-body-cell-offset;
        padding-right: $datagrid-body-cell-offset;
    }

    .select-all-header-cell {
        padding-left: 6px;
    }

    .grid-body-cell {
        vertical-align: top;
    }

    .group-row {
        .grid-cell {
            padding-bottom: $responsive-shopping-sub-row-cell-inner-offset;
            border-bottom-color: transparent;
        }
    }

    .grid-header-cell-quantity,
    .grid-header-cell-price,
    // Cell with inline editing or "Select Variants" action
    .grid-body-cell-quantity:not(:has(.btn, .input)),
    .grid-body-cell-price,
    .grid-body-cell-subtotal {
        text-align: right;
    }

    .grid-body-cell-item,
    .grid-body-cell-price,
    .grid-body-cell-subtotal {
        font-size: $responsive-shopping-list-cell-item-font-size;
        line-height: $responsive-shopping-list-cell-item-line-height;
    }

    .grid-body-cell-sku {
        width: $responsive-shopping-grid-body-cell-sku-width;
        min-width: $responsive-shopping-grid-body-cell-sku-width;
        word-break: break-all;
    }

    .grid-body-cell-inventoryStatus {
        width: $responsive-shopping-grid-body-cell-inventory-width;
        min-width: $responsive-shopping-grid-body-cell-inventory-width;

        .inventory-level {
            width: max-content;
            max-width: $responsive-shopping-grid-body-cell-inventory-level-max-width;
        }
    }

    .grid-body-cell-item {
        width: $responsive-shopping-grid-body-cell-item-width;
    }

    .grid-header-cell-price,
    .grid-body-cell-price {
        padding-right: $responsive-shopping-grid-price-offset;
    }

    .notification-container {
        margin-top: $responsive-shopping-list-notification-container-offset;
    }

    .product-kit-row-collapsed {
        .grid-cell {
            border-bottom-color: $base-table-border-color;
        }

        .grid-body-cell-quantity,
        .grid-body-cell-sku,
        .select-row-cell {
            &::after {
                display: none;
            }
        }
    }

    .sub-row {
        .grid-cell {
            padding-top: $responsive-shopping-sub-row-cell-inner-offset;
        }

        &:not(.sub-row-last),
        &.parent-row-has-highlight,
        &.parent-row-has-highlight-error {
            .grid-cell {
                border-bottom-width: 0;
            }
        }
    }

    .extension-row {
        .grid-body-cell-item {
            padding-bottom: 0;
        }

        // stylelint-disable-next-line no-descending-specificity
        .grid-cell {
            padding-top: $responsive-shopping-list-extension-row-top-offset;
            padding-bottom: $responsive-shopping-list-extension-row-bottom-offset;
        }

        &.sub-row {
            .grid-cell {
                padding-top: $responsive-shopping-list-extension-row-top-offset;
            }
        }
    }

    .price-value-container {
        position: relative;
        display: flex;
        justify-content: end;
        align-items: center;
        gap: spacing('sm');
    }

    .prices-hint-toggler {
        position: absolute;
        right: -#{spacing('base') * 2};
    }

    .grid-scrollable-container {
        overflow-x: visible;
    }

    .validation-failed,
    .validation-error {
        padding-top: 0;
    }
}

@include breakpoint('desktop-small') {
    .responsive-shopping-list-grid {
        .grid-body-cell-inventoryStatus {
            white-space: nowrap;
        }
    }

    .responsive-shopping-list-grid-desktop-alignment {
        .grid-body-cell-sku,
        .grid-body-cell-inventoryStatus,
        // Cell with inline editing or "Select Variants" action
        .grid-body-cell-quantity:not(:has(.btn, .input)),
        .grid-body-cell-unit,
        .grid-body-cell-price,
        .grid-body-cell-subtotal {
            padding-top: $responsive-shopping-cell-desktop-offset;
        }

        .sub-row {
            .grid-body-cell-sku,
            .grid-body-cell-inventoryStatus,
            .grid-body-cell-price,
            .grid-body-cell-subtotal,
            .grid-body-cell-unit {
                &:not(:empty) {
                    padding-top: $responsive-shopping-sub-cell-desktop-offset;
                }
            }
        }
    }
}

@mixin responsive-shopping-list-grid-tablet {
    .show-on-tablet {
        display: flex;
        flex-wrap: wrap;
    }

    .highlighted-in-mobile {
        color: $product-item-sku-value-color;
    }

    .label-on-tablet-start::before,
    .label-on-tablet-end::after {
        content: attr(data-label);
        color: $grid-line-field-label-color;
        margin-right: $grid-line-field-label-offset;
    }

    .sub-row {
        .grid-body-cell-item {
            position: relative;
        }

        .grid-body-cell-quantity {
            padding-top: 0;
        }
    }

    .grid-header-cell {
        display: inline-flex;
        align-items: center;
    }

    .action-column {
        justify-content: center;
    }

    .grid-body-cell.action-cell,
    .grid-cell {
        border-width: 0;
        width: initial;
    }

    .grid-header-cell-inventoryStatus,
    .grid-header-cell-sku,
    .grid-header-cell-quantity,
    // Skip cells with error messages as they have same class
    .grid-body-cell-sku:not(:has(.notification-container)),
    .grid-body-cell-inventoryStatus {
        display: none;
    }

    .grid-row {
        border-bottom: $responsive-shopping-grid-row-border-mobile;

        &.parent-row-has-highlight.sub-row-last-product-kit,
        &.parent-row-has-highlight-error.sub-row-last-product-kit,
        &.group-row-has-children,
        &.sub-row:not(.sub-row-last) {
            border-bottom-width: 0;
        }
    }

    .group-row-configurable {
        // a cell is hidden as its content "13 items" is rendered in "grid-body-cell-item"
        // due to "grid-body-cell-subtotal" may be very height
        .grid-body-cell-quantity {
            display: none;
        }
    }

    .notification-row {
        &.product-kit-general-error {
            border-bottom: $responsive-shopping-grid-row-border-mobile;
        }
    }

    .inventory-level-root {
        width: 100%;
    }
}

@mixin responsive-shopping-list-grid-tablet-alignment {
    .grid-row {
        .grid-body-cell {
            &-price,
            &-subtotal {
                padding-top: $responsive-shopping-body-cell-offset-y-tablet;
            }
        }
    }

    .sub-row {
        .grid-body-cell {
            &-price,
            &-subtotal {
                padding-top: $responsive-shopping-subrow-body-cell-offset-y-tablet;
            }
        }
    }
}

.responsive-shopping-list-grid-tablet {
    @include responsive-shopping-list-grid-tablet;
    @include grid-line-items-tablet;

    &.responsive-shopping-list-grid-tablet-alignment {
        @include responsive-shopping-list-grid-tablet-alignment;
    }
}

@include breakpoint('tablet') {
    .responsive-shopping-list-grid {
        @include responsive-shopping-list-grid-tablet;
    }

    .responsive-shopping-list-grid-tablet-alignment {
        @include responsive-shopping-list-grid-tablet-alignment;
    }
}

@include breakpoint('tablet') {
    .responsive-shopping-list-grid {
        .show-on-tablet-small {
            display: inline-flex;
            flex-wrap: wrap;
        }
    }
}

@include breakpoint('mobile-big') {
    .responsive-shopping-list-grid {
        .show-on-mobile {
            display: inline-flex;
        }

        .grid-main-container,
        .grid-body-cell,
        .grid-header-cell {
            // reset default tables styles
            border-width: 0;
            text-align: left;
        }

        .grid-body-cell {
            padding: $responsive-shopping-body-cell-offset-mobile;
        }

        .grid-header-row {
            justify-content: space-between;
            align-items: center;

            background-color: $table-thead-background-color;
        }

        .grid-header-cell-sku,
        .grid-header-cell-inventoryStatus,
        .grid-header-cell-quantity,
        .grid-header-cell-unit,
        .grid-header-cell-price,
        .grid-header-cell-subtotal,
        .grid-body-cell-sku,
        .grid-body-cell-inventoryStatus,
        .grid-body-cell-unit {
            display: none;
        }

        .grid-row {
            padding-top: $responsive-shopping-grid-row-offset-mobile;
            padding-bottom: $responsive-shopping-grid-row-offset-bottom-mobile;
            border-bottom: $responsive-shopping-grid-row-border-mobile;

            .grid-cell {
                padding-top: $responsive-shopping-body-cell-offset-y-mobile;
            }

            &:not(.sub-row) .notification-container {
                padding-left: 60px;
            }

            &.extension-row {
                .grid-body-cell-sku {
                    padding-right: 0;
                }
            }

            &.sub-row.extension-row {
                padding-top: $responsive-shopping-extension-sub-row-offset-top-mobile;
            }

            &.parent-row-has-highlight.sub-row-last-product-kit,
            &.parent-row-has-highlight-error.sub-row-last-product-kit {
                padding-bottom: $responsive-shopping-sub-row-cell-inner-offset;
                border-bottom-width: 0;
            }
        }

        .group-row-configurable,
        .grid-row-product-kit {
            .grid-body-cell-item {
                padding-bottom: 0;
            }
        }

        .grid-row-product-kit {
            .grid-body-cell-subtotal {
                padding-bottom: 0;
            }
        }

        .extension-row {
            padding-top: $responsive-shopping-extension-row-offset-top-mobile;
            padding-bottom: $responsive-shopping-extension-row-error-offset-mobile;

            &:not(.sub-row) {
                .select-row-cell {
                    display: none;
                }
            }
        }

        .group-row {
            padding-bottom: 0;
            border-bottom-width: 0;

            &.hover,
            &:hover {
                background-color: initial;
            }

            .grid-body-cell-price {
                display: none;
            }
        }

        .grid-row-product-kit-error {
            padding-bottom: 0;
        }

        .sub-row {
            position: relative;

            .grid-cell {
                padding-top: $responsive-shopping-body-cell-offset-y-mobile;
            }

            &:not(.sub-row-last) {
                padding-top: $responsive-shopping-sub-row-offset-top-mobile;
                padding-bottom: $responsive-shopping-sub-row-offset-bottom-mobile;
                border-bottom: $responsive-shopping-sub-row-border-mobile;
            }

            &.has-message-row {
                padding-bottom: 16px;
            }
        }

        .shift-mobile-row {
            margin-left: -($product-item-image-holder-tiny-width + $grid-line-items-row-offset-x-mobile);
        }

        .mobile-row {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            grid-column: massAction / action;
        }

        .mobile-column {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .price-value-container {
            display: flex;
        }

        .prices-hint-toggler {
            position: relative;
            right: auto;
            vertical-align: top;
            order: -1;
            padding: 0;
            min-height: initial;
        }

        .label-on-mobile-start::before,
        .label-on-mobile-end::after {
            content: attr(data-label);
            color: $responsive-shopping-grid-label-in-mobile-color;
        }
    }
}

@include breakpoint('mobile-landscape') {
    .responsive-shopping-list-grid {
        .grid-row {
            &.sub-row.extension-row {
                padding-top: 0;

                .grid-body-cell:last-child {
                    padding-bottom: 4px;
                }
            }
        }
    }
}
