/* @theme: default; */

.checkout-credentials-step {
    .divider {
        color: $checkout-credentials-divider-color;
        margin-bottom: $checkout-credentials-divider-margin-bottom;
    }

    .all-required-label {
        padding: $checkout-credentials-all-required-label-padding;
    }
}
