.checkout-navigation {
  @include list-normalize();

  margin: 0 0 0 15px;
  border-left: 2px solid get-color('additional', 'light');

  &__step {
    position: relative;

    padding: 0 0 30px 24px;

    &:last-child {
      padding-bottom: 0;
    }

    .badge {
      position: absolute;
      top: 0;
      left: -16px;

      font-weight: 700;
    }

    &--past {
      padding: 0 0 20px 24px;
    }
  }

  &__title {
    color: get-color('additional', 'dark');
    font-size: 16px;
    line-height: 1.875;

    white-space: nowrap;
  }

  &__content {
    font-style: italic;
  }
}
