/* @theme: default; */

.checkout-navigation {
    list-style: $checkout-navigation-list-style;
    margin: $checkout-navigation-margin;
    padding: $checkout-navigation-padding;
    display: $checkout-navigation-display;

    &__step {
        min-height: $checkout-navigation-step-min-height;
        display: $checkout-navigation-step-display;
        grid-template-columns: $checkout-navigation-step-grid-template-columns;
        gap: $checkout-navigation-step-gap;

        &--past {
            min-height: $checkout-navigation-step-past-min-height;
        }

        &--placeholder {
            display: none;
        }
    }

    &__step:not(:last-child) &__side {
        background-image: $checkout-navigation-divider-background-image;
        background-repeat: $checkout-navigation-divider-background-repeat;
        background-size: $checkout-navigation-divider-background-size;
        background-position: $checkout-navigation-divider-background-position;
    }

    &__base {
        padding-block: 0 spacing('md');
    }

    &__content {
        font-style: italic;
        font-weight: font-weight('light');
        line-height: 20px;
    }

    &__title {
        display: grid;
        align-items: center;
        gap: spacing('md');

        min-height: $checkout-navigation-icon-size;
        margin-top: 0;
        margin-bottom: spacing('xs');

        color: $checkout-navigation-title-color;
        font-weight: $headline5-font-weight;
        line-height: $headline5-line-height;

        &:has(.transition-step-edit-button) {
            grid-template-columns: minmax(0, 1fr) auto;
        }

        .transition-step-edit-button {
            min-height: 20px;
            border-width: 0;
            margin-top: spacing('xs');
            padding: 0;
            align-self: start;
        }
    }

    &__step--past &__title,
    &__step--current &__title {
        color: $checkout-navigation-current-color;
    }

    &__icon {
        font-weight: font-weight('bold');

        border-radius: 100%;

        display: inline-flex;
        min-width: $checkout-navigation-icon-size;
        height: $checkout-navigation-icon-size;
        justify-content: center;
        align-items: center;

        background-color: $checkout-navigation-icon-background-color;
        color: $checkout-navigation-icon-color;

        &--current {
            color: $checkout-navigation-current-color;
            background-color: $checkout-navigation-icon-current-background-color;
        }

        &--complete {
            color: $checkout-navigation-complete-color;
            background-color: $checkout-navigation-complete-background-color;
        }
    }
}

@include breakpoint('mobile-big') {
    @at-root {
        .multistep-checkout {
            .checkout-navigation {
                background-image: $checkout-navigation-divider-background-image;
                background-repeat: $checkout-navigation-divider-background-repeat;
                background-size: $checkout-navigation-divider-mobile-big-background-size;
                background-position: $checkout-navigation-divider-mobile-big-background-position;
                grid-auto-flow: column;
                justify-content: space-between;

                &__step {
                    min-height: initial;
                    grid-template-columns: initial;

                    &--placeholder {
                        display: grid;

                        &.checkout-navigation__step--past {
                            ~ .checkout-navigation__step--past {
                                &:not(:nth-last-child(-n + 3)) {
                                    display: none;
                                }
                            }
                        }

                        &:not(.checkout-navigation__step--past) {
                            ~ .checkout-navigation__step:not(:last-child) {
                                display: none;
                            }
                        }
                    }
                }

                &__base {
                    display: none;
                }
            }
        }
    }
}
