.order-review-options {
    margin-top: 5px;

    &__wrapper {
        margin-left: 10px;
    }

    .toggle-block__content {
        margin: 5px 0 10px 0;
    }

    .grid__column {
        padding: 0;
        margin-bottom: 5px;
    }
}
