/* @theme: default; */

.order-checkout-widget {
    padding-top: 0;

    @include clearfix();

    &--offset-none {
        margin-top: 0;
    }

    &__container-wrapper {
        .dropdown-item {
            align-items: center;
        }

        @include clearfix();
    }

    &__container {
        --sticky-position-top-offset: calc(var(--sticky-page-header-element-offset-top, 0) + #{spacing('base')});

        padding: spacing('base');

        border-radius: $base-ui-element-border-radius;
        background: $order-checkout-widget-container-background;
    }

    &__container-collapse {
        display: grid;
        gap: spacing('base');

        &:not(.show) {
            display: grid;
        }

        &.collapsing {
            transition: none;
        }
    }

    &__table {
        width: 100%;

        th,
        td {
            padding: spacing('xs') 0;
        }

        th {
            text-align: left;
            font-weight: font-weight('normal');
        }

        td {
            text-align: right;
        }
    }

    &__divider {
        margin: 0;
        height: 1px;

        border: none;
        background-color: $order-checkout-widget-divider-background-color;
    }

    &__table &__total,
    &__table &__summary {
        font-size: $base-font-size + 4px;
        font-weight: font-weight('semi-bold');
    }

    &__quote {
        float: right;
    }

    [data-toggle='tooltip'] {
        display: inline-block;
    }
}

@include breakpoint('desktop-small') {
    .order-checkout-widget {
        &__toggle {
            display: none;
        }
    }
}

@include breakpoint('tablet') {
    .order-checkout-widget {
        &__toggle {
            --btn-background: #{get-color('neutral', 'white-100')};
            --btn-color: #{get-color('text', 'primary')};

            position: absolute;
            top: -#{spacing('base')};
            left: spacing('base');

            box-shadow: $toggler-switcher-box-shadow;

            &:not(.collapsed) {
                transform: rotate(180deg);
            }
        }

        &__container-collapse:not(.show) {
            .coupon-container {
                display: none;
            }

            .order-checkout-widget__table {
                tr:not(.order-checkout-widget__total-row) {
                    display: none;
                }
            }
        }
    }
}

@include breakpoint('tablet-small') {
    .order-checkout-widget {
        &__container {
            &__lg {
                width: 100%;
            }
        }

        .widget-content {
            .btn-group {
                margin: 0 0 spacing('sm');
            }
        }
    }
}

@include breakpoint('mobile') {
    .order-checkout-widget {
        &__col,
        &__container {
            width: 100%;
            clear: both;
        }
    }
}
