.datepicker-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  margin-top: -12px;

  font-size: 22px;
  line-height: 1;
  color: get-color('additional', 'middle');

  &.date-applied {
    color: get-color('primary', 'base');
  }
}
