.checkout-sidebar {
    padding-right: 15px;

    &--inner-invader {
        float: left;
        width: 220px;
    }
}

@include breakpoint('mobile') {
    .checkout-sidebar {
        display: none;
    }
}
