// @theme: blank;

.customer-profile {
  margin-top: 24px;

  &__controls {
    li {
      font-size: 0;
    }

    .fa-pencil {
      margin: 2px 0 0 6px;

      font-size: 15px;

      color: get-color('additional', 'middle');
    }
  }

  &__box {
    .page-subtitle {
      float: left;
    }
  }
}
