/* @theme: default; */

.request-form-footer {
    padding: 13px 0;

    border-top: $request-form-footer-border-top;
    border-bottom: $request-form-footer-border-bottom;
}

@include breakpoint('tablet') {
    .request-form-footer {
        padding: 7px 0;
    }
}

.request-form {
    margin-bottom: 20px;
}

@include breakpoint('tablet') {
    .request-form {
        margin-bottom: 15px;
    }
}
