/* @theme: default; */

.product-price-hint-btn {
    min-height: $product-price-hint-btn-min-height;
    margin: $product-price-hint-btn-margin;
    padding-block: 0;

    &:hover {
        text-decoration: $product-price-hint-btn-text-decoration;
    }
}
