/* @theme: default; */

.product-prices-table {
    border-spacing: 0;
    border-collapse: collapse;

    &__th {
        padding-bottom: $product-prices-table-th-padding-bottom;

        border-bottom: $product-prices-table-border-bottom;
        color: $product-prices-table-th-color;
        text-transform: $product-prices-table-th-text-transform;
        font-weight: $product-prices-table-th-font-weight;
        line-height: $product-prices-table-th-line-height;
        letter-spacing: $product-prices-table-th-letter-spacing;
    }

    &__td {
        padding: $product-prices-table-td-padding;
        min-width: $product-prices-table-min-width;

        color: $product-prices-table-td-color;
        border-bottom: $product-prices-table-border-bottom;

        font-size: $product-prices-table-td-font-size;

        &:first-child {
            min-width: $product-prices-table-first-min-width;
            padding-left: 0;
        }

        tr:first-child & {
            padding-top: $product-prices-table-td-first-padding;
        }

        tr:last-child & {
            border-bottom-width: 0;
            padding-bottom: 0;
        }
    }

    &.stick-first-row {
        th:first-child,
        td:first-child {
            position: sticky;
            left: 0;

            background-color: $product-prices-table-stick-cell-bc-color;
        }
    }
}
