/* @theme: default; */

.product-price {
    width: $product-price-width;

    &__main {
        padding-bottom: $product-price-main-offset-bottom;
    }

    &__main-box {
        font-size: $product-price-main-box-font-size;
    }

    &__container {
        &:empty {
            display: none;
        }
    }
    &__unit-short {
        display: $product-price-unit-short-display;
    }

    &__value {
        color: $product-price-value-color;
    }

    &__your,
    &__listed {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 0 spacing('sm');
    }

    &__value,
    &__listed-value {
        font-weight: $product-price-value-font-weight;
    }

    &__not_found {
        font-size: $base-font-size--s;
    }

    // Modifier for simple view(only main price)
    $product-price-selector: &;
    &--simple {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: spacing('md');
        margin-bottom: spacing('lg');

        #{$product-price-selector}__label {
            display: $product-price-simple-label-display;
        }

        #{$product-price-selector}__value {
            font-size: $product-price-simple-value-font-size;
            color: $product-price-simple-value-color;
        }

        #{$product-price-selector}__listed-value {
            color: $product-price-simple-listed-value-color;
        }

        #{$product-price-selector}__main {
            padding-bottom: initial;
        }

        #{$product-price-selector} {
            width: initial;
        }
    }
}

@include breakpoint('tablet') {
    .product-price {
        &__unit-full {
            display: $product-price-unit-full-display-tablet;
        }

        &__unit-short {
            display: $product-price-unit-short-display-tablet;
        }
    }
}
