/* @theme: default; */

.product-totals {
    display: $product-totals-display;
    align-items: $product-totals-align-items;
    justify-content: $product-totals-justify-content;
    flex-wrap: $product-totals-flex-wrap;
    gap: $product-totals-gap;

    min-width: $product-totals-min-width;

    font-family: $product-totals-font-family;
    text-align: $product-totals-text-align;
    flex-grow: 1;

    &--nested {
        padding: $product-totals-nested-offset-inner;
        justify-content: $product-totals-nested-justify-content;
    }

    &__controls {
        display: $product-totals-display;
        align-items: $product-totals-align-items;
        flex-wrap: $product-totals-flex-wrap;
        justify-content: $product-totals-justify-content;
        margin-left: $product-totals-controls-offset;
        gap: $product-totals-gap;
    }

    &__button {
        padding: $product-totals-btn-offset-inner;
    }

    &__wrapper {
        display: $product-totals-wrapper-display;
        background: $product-totals-wrapper-background;
        padding: $product-totals-wrapper-offset-inner;
        border-radius: $product-totals-wrapper-border-radius;

        &--transparent {
            background: $product-totals-wrapper-transparent-background;

            padding: $product-totals-wrapper-transparent-offset-inner;
        }

        &--narrow {
            padding: $product-totals-wrapper-narrow-offset-inner;
        }
    }

    &__label {
        display: $product-totals-label-display;
        padding: $product-totals-label-offset-inner;
        white-space: nowrap;
    }

    &__total-quantity,
    &__total-price {
        display: $product-totals-total-items-display;
        justify-content: $product-totals-total-items-justify-content;
    }

    &__total-quantity-value {
        font-weight: $product-totals-total-quantity-value-font-weight;
    }

    &__total-price-value {
        font-weight: $product-totals-total-price-value-font-weight;
    }

    &__separator {
        color: $product-totals-total-separator-color;

        margin: $product-totals-total-separator-offset;
    }
}

.product-item__qty,
.line-item-form {
    .product-totals {
        font-size: $product-totals-line-item-font-size;

        &__wrapper {
            width: $product-totals-line-item-wrapper-width;
            margin: $product-totals-line-item-wrapper-offset;
            padding: $product-totals-line-item-wrapper-offset-inner;
        }

        &__total-quantity,
        &__total-price {
            width: $product-totals-line-item-total-width;
        }
    }
}

@include breakpoint('mobile-landscape') {
    .product-totals-main {
        display: flex;
        flex-direction: column;
        align-items: stretch;

        .product-totals {
            align-items: flex-end;
            flex-direction: column;

            &__total-price {
                width: 100%;
                font-size: $base-font-size--large;
                justify-content: start;
            }
        }
    }
}

@include breakpoint('mobile') {
    .product-totals-main {
        .product-totals {
            align-items: stretch;

            &__controls {
                align-items: stretch;
                flex-direction: column;
            }
        }
    }
}
