/* @theme: default; */

.product-price-hint {
    display: $product-price-hint-display;
    align-items: $product-price-hint-align-items;

    &__prices {
        display: $product-price-hint-prices-display;
        gap: $product-price-hint-prices-gap;
    }
}
