/* @theme: default; */

.product-prices {
    background: $product-prices-background;
    border-radius: $product-prices-border-radius;

    &__th {
        font-size: $product-prices-head-font-size;
        font-weight: $product-prices-head-font-weight;
    }
}
