/* @theme: default; */

.product-prices {
    margin: $product-prices-offset;

    border: $product-prices-border;
    background: $product-prices-background;
    border-radius: $product-prices-border-radius;

    &__table {
        width: $product-prices-table-width;

        border-spacing: 0;
        border-collapse: collapse;
    }

    &__th {
        padding: $product-prices-head-inner-offset;

        font-size: $product-prices-head-font-size;
        text-align: $product-prices-head-text-align;
        font-weight: $product-prices-head-font-weight;

        border-bottom: $product-prices-head-border-bottom;

        &:first-child {
            width: 40%;
        }

        &:last-child {
            width: 60%;
        }
    }

    &__td {
        padding: $product-prices-cell-inner-offset;

        text-align: $product-prices-cell-text-align;
    }
}
