/* @theme: default; */

.quick-order-add {
    &__subtotal {
        grid-area: subtotal;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: spacing('sm');
        padding-right: $quick-order-add-subtotal-offset;
    }

    &__subtotal-input {
        width: 100%;
        text-align: right;
        background-color: transparent;
        border-color: transparent;
        font-size: 13px;

        + .theme-icon {
            display: none;
        }

        &.hidden + .theme-icon {
            display: block;
        }
    }

    &-form__title {
        display: flex;
        align-items: center;
        gap: spacing('sm');
        margin-bottom: spacing('base');
        font-size: $quick-order-add-title-font-size;
        line-height: $quick-order-add-title-line-height;
        font-weight: font-weight('semi-bold');
    }
}
