/* @theme: default; */

.quick-order-add {
    &__subtotal {
        grid-area: subtotal;
        position: relative;
    }

    &__subtotal-input {
        text-align: center;
    }

    &__subtotal,
    &__subtotal-input {
        &.input {
            opacity: 1;
            padding-right: $quick-order-add-input-offset;
        }
    }

    .product-tier-prices {
        position: absolute;
        top: 1px;
        bottom: 1px;
        right: 1px;
    }
}

@include breakpoint('mobile-big') {
    .quick-order-add {
        &__subtotal-input {
            text-align: left;
        }
    }
}
