/* @theme: default; */

.product-upcoming-label {
    padding-top: spacing('md');
    padding-bottom: spacing('md');
    margin: 0;
    font-size: $base-font-size--s;

    color: $product-upcoming-label-color;
}
