// @theme: default

.embedded-products {
    .embedded-list-slider {
        margin: $embedded-products-slider-offset;

        .slick-arrow {
            top: calc(((100vw - #{$embedded-products-width + $embedded-products-edge}) / #{$embedded-products-count} - #{$embedded-products-gap-width}) / 2);

            margin-top: 24px;

            transform: translate(0, -50%);

            @media screen and (min-width: ($embedded-products-height + $embedded-products-gap-width) * $embedded-products-count + $embedded-products-edge + $embedded-products-width) {
                top: $embedded-products-height / 2;
            }
        }
    }
}

@include breakpoint('desktop') {
    .embedded-products {
        .embedded-list {
            padding: 0 ($embedded-list-slider-btn-arrow-width + $offset-x-m);

            &__label {
                margin-left: -($embedded-list-slider-btn-arrow-width + $offset-x-m);
                margin-right: -($embedded-list-slider-btn-arrow-width + $offset-x-m);
            }

            &__item {
                width: $embedded-products-item-width-desktop;
            }
        }
    }
}

@include breakpoint('tablet-small') {
    .embedded-products {
        .embedded-list__item {
            width: $embedded-products-item-width-tablet-small;
        }
    }
}

@include breakpoint('mobile-landscape') {
    .embedded-products {
        .embedded-list-slider {
            margin: $embedded-products-mobile-landscape-slider-offset;
        }

        .embedded-list__item {
            width: $embedded-products-item-width-mobile-landscape;
        }
    }
}

@include breakpoint('mobile') {
    .embedded-products {
        .embedded-list__item {
            width: $embedded-products-item-width-mobile;
        }
    }
}
