// @theme: default

.embedded-product {
    margin: $embedded-product-offset;
}

@include breakpoint('mobile-landscape') {
    .embedded-product {
        margin: $embedded-product-mobile-landscape-offset;
    }
}

@include breakpoint('mobile') {
    .embedded-product {
        & .product-item__title_gallery-view {
            font-size: $embedded-product-title-font-size;
        }
    }
}
