// @theme: default

.embedded-products {
    & .embedded-list__container--slider {
        & .slick-arrow {
            top: calc(((100vw - #{$embedded-products-width + $embedded-products-edge}) / #{$embedded-products-count} - #{$embedded-products-gap-width}) / 2);

            margin-top: 24px;

            transform: translate(0, -50%);

            @media screen and (min-width: ($embedded-products-height + $embedded-products-gap-width) * $embedded-products-count + $embedded-products-edge + $embedded-products-width) {
                top: $embedded-products-height / 2;
            }
        }
    }

    & .embedded-list__item {
        width: $embedded-products-item-width-desktop;
    }
}

@include breakpoint('desktop') {
    .embedded-products {
        & .embedded-list {
            margin: 0 42px;
        }

        & .embedded-list__label {
            margin-left: -42px;
            margin-right: -42px;
        }
    }
}


@include breakpoint('tablet-small') {
    .embedded-products {
        & .embedded-list__item {
            width: $embedded-products-item-width-tablet-small;
        }
    }
}

@include breakpoint('mobile-landscape') {
    .embedded-products {
        & .embedded-list__container--slider {
            margin: 0 0 0 -16px;
        }

        & .embedded-list__container--slider::before {
            left: 0;

            width: 16px;
        }

        & .embedded-list__item {
            width: $embedded-products-item-width-mobile-landscape;
        }
    }
}

@include breakpoint('mobile') {
    .embedded-products {
        & .embedded-list__item {
            width: $embedded-products-item-width-mobile;
        }
    }
}
