// @theme: default

.embedded-products {
    .embedded-list__container {
        display: flex;
        flex-wrap: wrap;

        font-size: 0;
    }

    // Slider mode
    .embedded-list-slider {
        display: block;

        .slick-arrow {
            top: $embedded-products-slider-arrow-top;

            margin-top: 24px;

            transform: translate(0, -50%);
        }

        .embedded-list {
            &__item {
                width: (100% / $embedded-products-item-count-desktop);
                margin-right: 0 !important;
            }
        }

        .embedded-product {
            margin: $embedded-product-slider-mode-offset;
        }
    }

    // Slider mode
    .embedded-arrows {
        margin: 0 $embedded-list-slider-btn-arrow-width;
    }

    // Tiles mode
    .embedded-list {
        &__item {
            width: calc((100% / #{$embedded-products-item-count-desktop}) - #{$embedded-products-item-gap-desktop});
        }
    }
}

@include breakpoint('desktop') {
    .embedded-products {
        // Tiles mode
        .embedded-list {
            &__item {
                &:not(:nth-child(#{$embedded-products-item-count-desktop}n)) {
                    margin-right: $embedded-products-item-offset;
                }
            }
        }
    }
}

@include breakpoint('strict-tablet') {
    .embedded-products {
        // Tiles mode
        .embedded-list {
            &__item {
                &:not(:nth-child(#{$embedded-products-item-count-desktop}n)) {
                    margin-right: $embedded-products-item-offset;
                }
            }
        }
    }
}

@include breakpoint('strict-tablet-small') {
    .embedded-products {
        // Slider mode
        .embedded-list-slider {
            .embedded-list {
                &__item {
                    width: (100% / $embedded-products-item-width-count-tablet-small);
                }
            }
        }

        // Tiles mode
        .embedded-list__item {
            width: calc((100% / #{$embedded-products-item-width-count-tablet-small}) - #{$embedded-products-item-gap-tablet-small});

            &:not(:nth-child(#{$embedded-products-item-width-count-tablet-small}n)) {
                margin-right: $embedded-products-item-offset;
            }
        }
    }
}

@include breakpoint('strict-mobile-landscape') {
    .embedded-products {
        // Slider mode
        .embedded-list-slider {
            margin: $embedded-products-mobile-landscape-slider-offset;

            .embedded-list {
                &__item {
                    width: (100% / $embedded-products-item-count-mobile-landscape);
                }
            }
        }

        // Tiles mode
        .embedded-list__item {
            width: calc((100% / #{$embedded-products-item-count-mobile-landscape}) - #{$embedded-products-item-gap-mobile-landscape});

            &:not(:nth-child(#{$embedded-products-item-count-mobile-landscape}n)) {
                margin-right: $embedded-products-item-offset;
            }
        }
    }
}

@include breakpoint('mobile') {
    .embedded-products {
        .embedded-list__item {
            width: 100% / $embedded-products-item-count-mobile;
        }
    }
}
