{% block _shopping_list_assign_grid_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' shopping-list-assign-grid'
    }) %}

    <div{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}
