/* @theme: admin.oro; */

.pricing-price-list {
    .select2-container {
        max-width: $input-append-width - 24px;
        min-width: $input-append-width - 24px;
    }
}

.form-horizontal {
    .responsive-cell {
        &:only-child {
            .price-attributes-collection {
                display: block;

                .control-group-collection {
                    width: 100%;
                    padding: 0;

                    &:not(:last-child) {
                        &:after {
                            display: none;
                        }
                    }
                }

                .pricing-price-attribute {
                    > .row-oro {
                        overflow-x: auto;
                        overflow-y: hidden;
                    }
                }
            }
        }
    }
}

.product-price-collection {
    .oro-item-collection {
        .row-oro {
            padding: $content-padding;
        }
    }
}
