@sidebarVerticalPadding: 10px;
@select2IconBtnWidth: 30px;
@borderWidth: 1px;

.product-container {
  position: relative;

  .input-append,
  .input-prepend {
    width: calc(~ "100%" - @select2IconBtnWidth + @borderWidth);
  }
}

.content-with-sidebar--sidebar {
    .sidebar-items {
        padding: 0 @sidebarVerticalPadding;
    }
}
