@select2IconBtnWidth: 30px;
@borderWidth: 1px;

.product-container {
  position: relative;

  .input-append,
  .input-prepend {
    width: calc(100% ~ "-" @select2IconBtnWidth ~ "+" @borderWidth);

    .select2-container {
        width: 100%;
    }
  }
}
