{% block _product_grid_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        'data-page-component-module': 'oroui/js/app/components/view-component',
        '~data-page-component-options': {
            view: 'orofrontend/default/js/app/views/footer-align-view',
            elements: {
                items: '.product-item_gallery-view',
                footer: '.product-item__qty'
            }
        }
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _product_search_navigation_widget %}
    <div class="catalog-navigation-bar" data-page-component-module="oroproduct/js/app/components/breadcrumbs-navigation-block">
        <span class="path-info">
            {% for parentCategory in parentCategories %}{{ parentCategory.defaultTitle }} &gt;{% endfor %}
            {{ currentCategory.defaultTitle }}
        </span>
        <span class="filters-info"></span>
        {#<span class="pagination-info"></span>#}
        {#<span class="sorting-info"></span>#}
    </div>
{% endblock %}
