{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ UI.renderProperty('orob2b.shoppinglist.id.label'|trans, shopping_list.id) }}
            {{ UI.renderProperty('orob2b.shoppinglist.label.label'|trans, shopping_list.label) }}
            {{ UI.renderSwitchableHtmlProperty('orob2b.shoppinglist.notes.label'|trans, shopping_list.notes) }}
        </div>
        <div class="responsive-block">
            {{ entityConfig.renderDynamicFields(shopping_list) }}
        </div>
    </div>
</div>