%customer-form {
    .form-group {
        legend {
            text-transform: uppercase;
            padding: 2rem 0;
            font-size: 1.6rem;
        }

        .grid {
            @extend %customer-form-grid;

            .grid__row:last-child {
                .grid__column, .form-row{
                    margin-bottom: 0;
                }
            }
        }
    }

    .form-buttons {
        padding-top: 28px;
    }
}

%customer-form-grid {
    padding: 28px 24px;

    background: get-color('additional', 'base');
}
