// @theme: blank

.notification-flash-container {
    width: 100%;
    margin: $notification-flash-container-offset;
    max-width: $notification-flash-container-max-width;

    &:empty {
        display: none;
    }
}
