// theme: blank;

/* Popup Gallery Widget*/
.popup-gallery-widget {
    position: fixed;
    z-index: 9000;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    opacity: 0;

    visibility: hidden;

    transition: .4s all;

    //Slick slider customization
    .slick-prev,
    .slick-next {
        position: absolute;
        top: 50%;

        display: block;

        width: 37px;
        height: 37px;
        margin-top: -11px;
        padding: 0;

        outline: none;
        font-size: 0;
        line-height: 0;
        text-align: center;

        border: none;
        border-radius: 100%;
        color: transparent;
        background: rgba(get-color('additional', 'darker'), .6);

        cursor: pointer;

        &:before,
        &:after {
            display: block;

            font-size: 12px;

            color: get-color('additional', 'ultra');
        }
    }

    .slick-prev {
        left: -45px;

        @include fa-icon($fa-var-chevron-left, after);

        &:after {
            margin: 2px 0 0 -1px;
        }
    }

    .slick-next {
        right: -45px;

        @include fa-icon($fa-var-chevron-right);

        &:before {
            margin: 2px 0 0 2px;
        }
    }

    .slick-no-slide {
        max-width: 720px;
        padding: 0;

        .slick-track {
            width: 100% !important;

            text-align: center;

            transform: inherit !important;
        }

        .slick-slide {
            display: inline-block;
            float: none;
        }

        .slick-list {
            max-width: 620px;
            padding: 0 !important;
        }
    }

    //Gallery styles
    &__bg {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 150%;

        background: rgba(get-color('additional', 'dark'), .5);
    }

    &__wrapper {
        position: relative;
        top: 50%;
        left: 50%;

        max-width: 610px;
        max-height: 710px;
        padding: 0;

        transform: translateY(-50%) translate(-50%);
    }

    &__close {
        position: absolute;
        right: -13px;

        z-index: 1;

        width: 30px;
        height: 30px;
        margin-top: -13px;

        text-align: center;
        font-size: 15px;

        background: get-color('additional', 'dark');
        border-radius: 100%;

        cursor: pointer;

        @include fa-icon($fa-var-close);

        &:before {
            position: absolute;

            margin: 5px 2px 0 -6px;

            font-size: 15px;
            font-weight: normal;

            color: get-color('additional', 'ultra');
        }
    }

    &__images {
        width: 100%;
        max-width: 610px;

        margin-bottom: 10px;

        transition: all .4s;

        opacity: 0;

        visibility: hidden;

        .slick-list {
            position: relative;

            max-width: 610px;
            min-height: 100%;

            border: 1px solid get-color('additional', 'middle');
            background: get-color('additional', 'ultra');

            box-sizing: border-box;
        }

        .slick-dots {
            position: absolute;

            display: none !important;

            width: 100%;
            margin: -30px auto 0;
            padding: 0;

            text-align: center;

            li {
                display: inline-block;

                width: 10px;
                height: 10px;

                margin: 0 5px;

                text-indent: -9999px;

                border-radius: 100%;
                background: get-color('additional', 'light');
                box-shadow: 0 0 3px get-color('additional', 'darker');

                &.slick-active {
                    background: get-color('ui', 'focus');
                    box-shadow: 0 0 7px get-color('ui', 'focus');
                }
            }
        }
    }

    &__image {
        height: auto;
        min-height: 100%;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__thumbnails {
        width: 100%;
        max-width: 690px;
        max-height: 80px;

        margin-left: auto;
        margin-right: auto;
        padding: 0 13px;

        text-align: center;

        transition: all .4s;

        opacity: 0;

        visibility: hidden;

        .slick-list {
            max-width: 585px;

            overflow: hidden;
        }

        .slick-track {
            max-height: 80px;
            margin-left: 2px;

            overflow: hidden;
        }

        .slick-prev,
        .slick-next {
            width: 24px;
            height: 24px;

            &:before,
            &:after {
                font-size: 9px;
            }
        }

        .slick-prev {
            left: -20px;
        }

        .slick-next {
            right: -20px;
        }

        &-img {
            width: 84px !important;
            height: 84px;

            text-align: center;

            &.slick-current {
                position: relative;
            }

            img {
                border: 1px solid get-color('additional', 'middle');
            }

            &.slick-current img {
                box-sizing: border-box;
                border: 2px solid get-color('ui', 'focus');
            }
        }
    }

    &--opened,
    &--opened &__images.slick-initialized,
    &--opened &__thumbnails.slick-initialized {
        opacity: 1;
        visibility: visible;
    }
}

.gallery-popup-opened {
    overflow: hidden !important;

    .zoomContainer {
        display: none;
    }
}

// Custom media
@media (max-height: 730px) and (min-width: 993px), (max-width: 992px) {
    .popup-gallery-widget {
        &__thumbnails {
            display: none;
        }

        &__close {
            right: 10px;

            margin-top: 10px;
        }

        &__images {
            max-width: 100vh;

            .slick-list {
                max-width: 100vh;
                border: 0;
            }

            .slick-arrow {
                display: none !important;
            }

            .slick-dots {
                display: inline-block !important;
            }
        }

        &__wrapper {
            max-width: 100vh;
            max-height: 100%;
        }
    }
}
